[2017-09-16 13:06] HaraldNordgren commented on #3674
![screencapture-editor-swagger-io-1505567183192](https://user-images.githubusercontent.com/9569897/30512461-aaaeceea-9af0-11e7-9fd8-92b83476bff8.png)

[2017-09-16 17:41] shockey commented on #3674
@owenconti, can you take a look at this? Sounds like it may be related to your recent `allOf` changes.

[2017-09-16 18:30] HaraldNordgren opened #3675 "How to run swagger-ui with local code changes AND my own swagger.json?"
The Readme specifies that Swagger-UI can be run with your own file like this

    docker run -p 80:8080 -e SWAGGER_JSON=/foo/swagger.json -v /bar:/foo swaggerapi/swagger-ui

which works I if I translate it to

    docker build . -t swagger-ui-local && \
      docker run -p 80:8080 -e SWAGGER_JSON=/foo/my-file.json -v $PWD:/foo swagger-ui-local

This, however, ignores my local changes.

I can run m

[2017-09-16 19:03] HaraldNordgren commented on #3675
I think I figured it out for `npm run dev`:

Place `my-file.json` in the `dev-helpers` folder. Then it's available from the search bar in on `http://localhost:3200/`.

To load it automatically when opening the server, alter `dev-helpers/index.html` by changing

    url: "http://petstore.swagger.io/v2/swagger.json"

to

    url: "my-file.json"

[2017-09-16 19:03] #3675 closed

[2017-09-17 01:03] owenconti commented on #3675
@HaraldNordgren What I do is open http://localhost:3200?url=myfile.json

[2017-09-17 02:18] owenconti commented on #3674
Looking now. Since it's the enum values that aren't merging (an array), I think it's a bug with this earlier implementation of merging arrays: https://github.com/swagger-api/swagger-js/pull/1101

[2017-09-17 03:15] owenconti commented on #3674
Hi @HaraldNordgren - I believe I have a fix for this issue. The fix is in the `swagger-js` repository. You can track the PR here: https://github.com/swagger-api/swagger-ui/issues/3674

[2017-09-17 08:52] hkosova commented on #3674
@HaraldNordgren It's not a bug. `allOf` cannot be used to override attributes of a parent model (`required`, `enum`, `default`, etc.). You need to remove `enums` from the parent model and define complete `enums` in child models.

[2017-09-17 09:50] gartediego commented on #3665
Thanks @webron!

[2017-09-17 11:15] HaraldNordgren commented on #3674
@hkosova When using in production we did choose that work-around: To specify the combined enum in the parent instead.

But the problems with inheritance are a bit deeper than that.

As can be seen in the screenshot, the list in `responses.200.schema.allOf` is parsed so that the resultant model correctly shows

- `sweden_specific_property`
- `norway_specific_property`

but each property that exists

[2017-09-17 11:16] HaraldNordgren commented on #3674
@owenconti Thanks a bunch for giving to attention! But be aware that the issue is deeper than just the enum merging. The problem with `description` could likely not be explained by just an array merging bug.

[2017-09-17 13:41] webron commented on #3674
@HaraldNordgren I'm sorry, but @hkosova is right. `allOf` does _not_ merge schemas, it checks each one of those individually. In effect, *nothing* would validate against any of the schemas you provided in your sample, except for `BBANValidationResponse`, because you have conflicting enum definitions in all the other `allOf` instances.

When we render `allOf`in Swagger-UI - it is indeed a 'merge' o

[2017-09-17 13:41] #3674 closed

[2017-09-17 14:23] owenconti commented on #3674
@webron @hkosova What should happen with nested `required` arrays? Back in July I was asked to fix this issue with the `required` property, but my fix did not account for nested `required` properties.

Should `allOf` be merging these `required` properties at all? If so, this spec is currently broken without my PR:

[code]

![screen shot 2017-09-17 at 8 23 26 am](https://user-images.githubuserconte

[2017-09-17 15:45] webron commented on #3674
It's a little bit tricky, but yes, both should be required. `enum`s can never be merged though - on the contrary, only the values that are available in both of them should remain.

[2017-09-17 16:04] owenconti commented on #3417
Hi @DavidBiesack,

I believe this issue should be fixed now. Could you please test on this URL and confirm the issue has been fixed? http://petstore.swagger.io/?url=https://gist.githubusercontent.com/owenconti/f370a18780ab948398e92057a8c06bed/raw/6b9f84e1e0f2f61fb96c18651e095a221f6b0be8/%25233417r

[2017-09-17 16:17] owenconti commented on #3219
Hi all,

I'm working on improving performance, one component at a time. If you could attach example specs (Gist should probably work) that have poor performance, it will help with testing.

[2017-09-17 19:26] opike opened #3677 "Question about running swagger-ui locally"
I installed swagger-ui using npm install swagger-ui@3.2.1. The instructions here https://www.npmjs.com/package/swagger-ui say that the documentation can be accessed locally by bringing up dist/index.html in the browser. However there is no index.html file in ./node_modules/swagger-ui/dist/.

[2017-09-17 21:56] DavidBiesack commented on #3417
@owenconti that URL does not work

I also tried http://petstore.swagger.io/?url=https://github.com/swagger-api/swagger-ui/files/1160284/duplicate-models.yaml.txt but that fails to load (does petstore.swagger.io handle CORS?)

[2017-09-18 02:51] owenconti commented on #3417
I updated the URL, there was an extra `r` character at the end.

[2017-09-18 07:46] webron commented on #3677
[code]

You're looking for the other module.

[2017-09-18 08:50] webron commented on #3656
@MiErnst  - thank you for raising this concern. We've actually been aware of it for a few months now, and have been trying to decide on potential next steps.

While for us, as an open source project, the implication of the license is not very likely to affect us, we understand the potential implication to our users - and without our users there's no point for this project.

At this point, a comple

[2017-09-18 08:55] f3l1x opened #3678 "Document tryItOutEnabled parameter"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |   Feature
| Which Swagger/OpenAPI version?  | dev-master
| Which Swagger-UI version?       | dev-master
| How did you install Swagger-UI? |  Manually
| Which browser & version?        | Chrome
| Which operating system?         |  OSX

Hi.

We would like to enable `try-it-button`, b

[2017-09-18 11:32] DavidBiesack commented on #3417
Yes, that looks great - thanks!

[2017-09-18 12:06] webron commented on #3417
@DavidBiesack great, thanks for the verification. Closing!

[2017-09-18 12:06] #3417 closed

[2017-09-18 15:34] opike commented on #3677
Thanks. I think it's a bit misleading that this line shows up in the instructions for swagger-ui: "If you just want to see your specs, open dist/index.html in your browser directly from your filesystem."

To run the node module without docker, do you do an "npm run build" followed by an "npm run dev" ?

[2017-09-18 22:21] shockey commented on #3677
@opike, I just updated part of the README to clarify the roles of `swagger-ui` and `swagger-ui-dist`:

[code]

I think the source of your confusion is the fact that we're attaching our entire project README to the `swagger-ui` module... which means there's instructions on the npm repository page that aren't applicable to the `swagger-ui` module itself, which isn't perfect.

If you want to get your

[2017-09-19 00:57] shockey commented on #3662
Closing due to inactivity.

[2017-09-19 00:57] #3662 closed

[2017-09-19 07:03] SaadHussain opened #3680 "UI Stucks while listing/fetching"
[datajson.zip](https://github.com/swagger-api/swagger-ui/files/1313310/datajson.zip)
Bug
Swashbuckle Version 5.6.0
Browser IE, Chrome and Firefox
OS Windows 8.1

Json returns fine from my local host
http://localhost:37991/swagger/docs/v1

but browser hangs up while fetching api list

attached here is the json file

[2017-09-19 08:49] webron commented on #3680
Closing as duplicate of #1919.

[2017-09-19 08:49] #3680 closed

[2017-09-19 09:10] hkosova opened #3681 "OAS 3.0: "Try it out" and relative servers"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.2.1
| How did you install Swagger-UI? | petstore.swagger.io
| Which browser & version?        | Chrome 61
| Which operating system?         | Windows 7

If `servers` specify a relative URL, such as

[2017-09-19 09:22] p4prawin commented on #3036
Hi All,
I am also trying to customise the swagger ui 3.x but i am not able to inject authorization header from my external JS function.
What is the configuration needed to add authorization header?

Please help

[2017-09-19 09:47] dkarlovi commented on #3594
This is a blocker for usages with OAuth2 APIs, should clearly be labeled as a bug, not an enhancement.

[2017-09-19 09:54] webron commented on #3594
Yup, this is a bug.

[2017-09-19 09:55] webron commented on #3594
@owenconti can you try fixing it? Should be fairly simple. This refers only to the "Bearer" string, the case of the header name is completely irrelevant.

[2017-09-19 12:03] owenconti commented on #3594
@shockey Should we force `tokenType` to always be uppercase or should it be the responsibility of whatever is setting the `token_type` value in the `authorizations` as seen here (from a test):

[code]

[2017-09-19 12:05] webron commented on #3594
When it comes to the _value_ of a header, we should never change the lettering case.

[2017-09-19 14:36] riBN opened #3682 "could not render this component, see the console."
swagger/swagger-codegen-cli/2.2.3/swagger-codegen-cli-2.2.3.jar

`{"swagger": "2.0",
  "info": {
    "description": "No description.",
    "version": "1.0.0",
    "title": "Test",
    "contact": {}
  },
"paths": {
 "/api/admin/{adminId}/products/{productId}/users" : {
"get" : {
        "tags" : [ "Users" ],
        "summary" : "Returns a list of users.",
        "produces" : [ "application/json" ]

[2017-09-19 15:35] heldersepu opened #3683 "Validation for "format": "date-time""
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature
| Which Swagger/OpenAPI version?  | Latest
| Which Swagger-UI version?       | Latest
| How did you install Swagger-UI? | Swagger-Net
| Which browser & version?        | Chrome
| Which operating system?         | Win 7

### Demonstration API definition
http://swashbucklete

[2017-09-19 15:41] nathant727 opened #3684 "dist's Execute produces curl -d command with double quotes around JSON data with unnecessary escapes"
Running the https://github.com/swagger-api/swagger-ui/tree/master/dist code against my OpenAPI 3.0 API definition generates Curl commands like the following which can not be executed on a command line:

`curl -d " < JSON-with-unnecessary-escapes > "`

Ideally I would like to see the Curl command produced like this:

`curl -d ' < JSON > '`

| Q                               | A
| ------------------

[2017-09-19 15:56] nathant727 commented on #3684
Oops.  I see what I'm doing wrong.

[2017-09-19 15:56] #3684 closed

[2017-09-19 16:35] webron commented on #3683
Closing as duplicate of #993.

[2017-09-19 16:35] #3683 closed

[2017-09-19 17:04] webron commented on #3682
There's no version 3.10.8 and that's not a full API definition. Please provide these details.

[2017-09-19 17:21] heldersepu commented on #993
@webron I would like to help with this issue...
Is this the file where the validation takes place:
https://github.com/swagger-api/swagger-ui/blob/master/src/core/utils.js#L503

[2017-09-19 17:24] webron commented on #993
Maybe - @shockey or @owenconti would be able to say ;)

Thanks for your contributions, @heldersepu - you're really helping the project.

[2017-09-19 18:27] erichaniak opened #3685 "Unknown response type error for file download in swagger"
For endpoints that download a file I keep getting the following error:
![image](https://user-images.githubusercontent.com/6903114/30608455-6b8fa2cc-9d46-11e7-9b4a-0569a2feb896.png)

I have no idea how to fix it...  This is my JSON code for the response:

[code]

[2017-09-19 19:24] shockey commented on #3684
Glad you solved this, @nathant727. Would you mind sharing what you fixed in case someone stumbles upon this in the future? 😄

[2017-09-19 22:35] ocdevops opened #3686 "Bug: NotFoundError: Node was not found"
Sometimes Swagger UI shows `NotFoundError: Node was not found` message in Firefox after I clicked on the Execute button. Then I click again and it shows the right API response.

It returns different message in Chrome:
NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.

| Which Swagger-UI version?       |
3.2.1
| Which browser & version?

[2017-09-19 23:42] ocdevops commented on #3686
I found the problem. I added a JS code to my index.html to fix Swagger UI issue, and it caused the problem.
I removed it and UI is working fine.

[2017-09-19 23:42] #3686 closed

[2017-09-20 02:47] shockey commented on #993
@heldersepu, that's the place! Feel free to rearrange things if you think it's best.

Feel free to reach out to me over email (in profile) if you need any pointers 😄

[2017-09-20 03:17] #3633 closed

[2017-09-20 06:41] johndunderhill opened #3687 "Parser error on examples under response--should be allowed?"
The parser is giving an error on the examples node under a responses node:

Schema error at paths['/getlevelstatus.json/{learner}'].get.responses['200']
should NOT have additional properties
additionalProperty: examples

Seems like this should be allowed.  Tested in the swagger online editor.  The documentation generated looks correct at this indent level.  Indenting more or less gives further err

[2017-09-20 07:32] hkosova commented on #3687
Here's the correct version:
[code]
Response `examples` are defined under the media type, and the `value` keyword is used if the example value is specified inline (as opposed to `externalValue`).

[2017-09-20 13:32] hemadriDasari1990 opened #3688 "How to set Reverse proxy in already generated swagger.json"
I am currently using Swagger 2.0 for Nodejs backend services. I have swagger.json already generated and now I want to manually set reverse proxy(like local, dev, staging and prod url) in .json file. Please suggest the solution as I have no idea on how to set up that and also I went through many sites in the internet but unable to find a solution. Appreciate your help. Thanks in advance.

[2017-09-20 15:12] larmic commented on #2915
I'm trying to use @fernandocamargoti solution, but the header is still missing. I'm using swagger-ui-3.2.1.

I've downloaded and extract the dist folder and edited the index.html

[code]
What is my problem?

[2017-09-20 15:41] jjohs commented on #3678
Per https://github.com/swagger-api/swagger-ui/blob/master/docs/version-detection.md, try it out is not enabled by default.

I am using swagger-ui v3.2.1 and binding to OpenApi spec v3.0, and the try it out button is not displaying.  Are there v3.0 spec requirements/properties that must be set in order for try it out button to render?

[2017-09-20 15:50] epetitje opened #3689 "array of anyOf inherited schemas not rendering"
Using the online swagger editor, I tried to produce a simple test API using inheritance.
when trying to render the following model, the online editor fails:

[code]

the 'ActionsList' cannot be rendered. looking at the console in Safari, I get this stack trace:

TypeError: undefined is not an object (evaluating 'n.get')
value — swagger-editor-bundle.js:3666
render — swagger-editor-bundle.js:6409
_

[2017-09-20 18:13] hkosova commented on #3689
Change
[code]
to
[code]

[2017-09-20 18:27] johndunderhill commented on #3687
This validates (no parser error), but it does not show the example in the generated documentation.

[2017-09-20 19:10] hkosova commented on #3687
UI does not render media type `examples` yet - see #3437.

As a workaround, you can add `example` to your `Tower` schema:

[code]
or
[code]

[2017-09-20 23:10] tbarsballe commented on #3510
I've encountered a similar issue, trying to document large XML examples inside code blocks.

For example:

![screen shot 2017-09-20 at 4 06 12 pm](https://user-images.githubusercontent.com/9271497/30671819-b9ae3ba8-9e1d-11e7-8266-7fd8abd32140.png)

All < and > are inside code blocks, and should be getting rendered.

[2017-09-21 00:01] #3636 closed

[2017-09-21 00:42] #3638 closed

[2017-09-21 00:42] shockey commented on #3638
Fixed.

Thanks for the report, @donaldpipowitch!

[2017-09-21 03:09] donaldpipowitch commented on #3638
Thank you for the fix.

[2017-09-21 06:03] johndunderhill commented on #3687
That works for me, thank you.

[2017-09-21 06:03] #3687 closed

[2017-09-21 09:12] epetitje commented on #3689
thanx a lot

[2017-09-21 09:12] #3689 closed

[2017-09-21 09:59] wangp8895 opened #3693 ""SwaggerUIBundle is not defined" in tomcat9"
I tried with the lastest master branch(v3.2.1) dist/ and i am getting the error for the swagger ui:

swagger-ui-bundle.js:68267 Uncaught SyntaxError: Invalid regular expression: /[A-Z\xc0-\xd6\xd8-\xde]?[a-z\xdf-\xf6\xf8-\xff]+(?:['鈥橾(?:d|ll|m|re|s|t|ve))?(?=[\xac\xb1\xd7\xf7\x00-\x2f\x3a-\x40\x5b-\x60\x7b-\xbf\u2000-\u206f \t\x0b\f\xa0\ufeff\n\r\u2028\u2029\u1680\u180e\u2000\u2001\u2002\u2003\u20

[2017-09-21 14:01] ELE3E commented on #3685
maybe try type: binary instead?

[2017-09-21 18:41] nathant727 commented on #3684
I changed my API specification from `"fingerprintFields": "[]"` to `"fingerprintFields": []`

[2017-09-21 18:50] hellsinglord22 commented on #2199
Where you create new `SwaggerUi` object, you add this script to the `onComplete` option .
[code]
this will show example by default not the ugly inline models :)

[2017-09-21 20:49] 1am commented on #3675
None of things which I've seen so far worked for me so I've made this bash script for starting docker swagger-ui container with my host file linked (and not copied) for live updates of what I'm working on. Maybe it will be helpful for other people looking for option to preview their file edited from host (eg. some text editor you like).

[code]

What it does is essentially commenting out [copy sta

[2017-09-22 06:03] ELE3E opened #3694 "File not downloadable when not application/octet-stream"
I think I found a minor bug in the response-body.jsx file. In the download section, each of the lines of the else if statement needs brackets around it. The AND/OR are interpreted incorrectly which prevents a download link to be generated when for example a text/csv or anything else than application/octet-stream is passed.
I tried to clone the repo, generate a bug branch but I can't seem to push.

[2017-09-22 06:53] shockey commented on #3693
Hi @wangp8895, please file a new issue that follows the issue template that is provided 😄

We'd be happy to help, but we need the information we ask for in the template in order to diagnose the issue you're having.

Thanks!

[2017-09-22 06:53] #3693 closed

[2017-09-22 14:46] heldersepu commented on #3694
Yes you should fork instead of cloning! then you can submit a Pull Request

[2017-09-22 22:47] shockey commented on #3677
Closing due to inactivity. Please reply if there's any lingering concerns, and we'll reopen!

[2017-09-22 22:47] #3677 closed

[2017-09-22 22:51] shockey commented on #3682
@riBN, bump :smile:

[2017-09-22 22:56] shockey commented on #3688
Hi @hemadriDasari1990!

There's currently no way to override the `host`/`basePath` found in the API definition, though we'd welcome a pull request that implements that.

You _could_ remove `host` and `basePath` from your API definition entirely, and Swagger-UI would use the host that your definition was fetched from for requests.

If you write an OpenAPI 3.0 definition instead of Swagger 2.0, you'

[2017-09-22 22:57] jvitor83 opened #3696 "OAuth configuration with support to multiples flows"
It is a feature request!

In a OAuth scenario where:
- the Producer (API creator) only create and configure the API (OAuth scope)
- the Consumer (API client) should create some Application to use the API

**I should say that Swagger-UI must allow any consumer/client to choose/configure what OAUTH FLOW it will use to get the `access_token`.**
What actually happend is that we configure the flow and

[2017-09-23 00:09] mizerlou opened #3697 "oauth2 vs auth0: missing audience parameter"
i'm using swagger-ui 3.2.0, implicit oauth2, and auth0.  i'm making use of JWTs.  i need to be able to add an audience parameter to the authorization url to convince auth0 to pass back JWTs instead of opaque tokens.  i tried the "straight forward" way of specifying an audience and it doesn't appear to work.

[code]

this ends up redirecting me to:

[code]

notice the two question marks.  when redi

[2017-09-23 02:24] #3511 closed

[2017-09-23 03:22] shockey commented on #3697
So... this is our fault - when we assemble the entire URL for authorization, we're assuming the URL has no query content: https://github.com/swagger-api/swagger-ui/blob/6b59707af1e4b215b67fc157bed2ab16f8b096b4/src/core/oauth2-authorize.js#L67

To be specific: we're always joining the query string we build up and the `authorizationUrl` with a `?`. A better solution would be to parse the `authorizat

[2017-09-23 03:23] shockey commented on #3697
CC @webron for a priority label 😄

[2017-09-23 03:44] shockey commented on #3697
### Update

It occurs to me that we have a PR open for this:  https://github.com/swagger-api/swagger-ui/pull/3666

I just approved it, so it should be included in tonight's release. So this will be fixed 😄

[2017-09-23 03:45] #3697 closed

[2017-09-23 07:15] shockey opened #3700 "Spec actions are storing data in resolved key"
Some spec actions are storing their data inside of the `resolved` spec state key, which is a rather messy way to keep up with things, and breaks the idea of each piece of state handling a single concern.

For example, after changing the content type of a request body, `consumes_value` and `produces_value` are set:

<img width="471" alt="messages image 308353254" src="https://user-images.githubuser

[2017-09-23 14:48] hemadriDasari1990 commented on #3688
Hey @shockey

Thanks for quick response. Will try your solution on Monday and update you.

[2017-09-25 14:31] JFCote opened #3704 "Default schemes is based on order in the spec instead of the current context"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | Master
| How did you install Swagger-UI? | Clone from github
| Which browser & version?        | Chrome (latest)
| Which operating system?         | Windows 10 / Linux

### Expected Behavior

If a spec

[2017-09-25 15:32] cheerfulstoic commented on #1657
If `brackets` worked at one point, I don't think it does anymore.  I don't see `brackets` anywhere in the `swagger-ui` source, either.

I could also use `collectionFormat` for `formData`...

[2017-09-25 15:35] cheerfulstoic commented on #3494
Related to #1657 ?

[2017-09-25 17:39] lvonk opened #3705 "Can not use components/securitySchemes in swagger-ui"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | Open API 3.0.0
| Which Swagger-UI version?       |`version: "3.2.2", gitRevision: "g45e7a541", gitDirty: true, buildTimestamp: "Sat, 23 Sep 2017 20:06:42 GMT", machine: "Kyles-MacBook-Air.local"`
| How did you install Swagger-UI? | `git pull

[2017-09-25 20:22] shockey commented on #3682
Closing due to inactivity. Please reply with the requested details if this is still an issue.

[2017-09-25 20:22] #3682 closed

[2017-09-25 20:45] webron commented on #3705
@shockey is this related to the try it out functionality or something else?

[2017-09-25 20:58] webron commented on #3704
This is a feature request, not a bug report. If the spec specifies a set of schemes, they will be loaded and used regardless of where the definition is hosted. There's nothing in the spec that dictates this as a requirement.

If you want the execution to default to the scheme on which the definition is hosted, simply drop the `schemes` property from your definition.

[2017-09-25 21:00] shockey commented on #3705
Looks like this is coming from the authorization feature itself, here's where the error is throwing from: https://github.com/swagger-api/swagger-ui/blob/e80b2f5b3faa227a52499ab6175697049e111e84/src/core/plugins/auth/selectors.js#L37

Adding `securityDefinitions` to a 3.0 document works, because the authorization feature is not OpenAPI-aware at the moment. It looks for the same structures, regardle

[2017-09-25 21:53] shockey commented on #3639
@ayush-srtv, what you're asking for depends on how you're using Swagger-UI in your project. Since you're using React, I imagine you've wrapped Swagger-UI into a component somehow?

It would help a lot if you shared some component and router code. An example application would be even better!

[2017-09-25 22:04] palanik opened #3706 "required path parameter with enum not working with swagger-ui-dist@3.2.2 during `Try it out`"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.x
| Which Swagger-UI version?       | 3.2.2
| How did you install Swagger-UI? | npm install swagger-ui-dist
| Which browser & version?        | Chrome 60.0.3112.113
| Which operating system?         | macOS Sierra 10.12.6

### Demonstratio

[2017-09-25 22:17] #3634 closed

[2017-09-25 22:18] shockey commented on #3630
Closing due to inactivity.

[2017-09-25 22:18] #3630 closed

[2017-09-25 22:20] shockey commented on #3372
@xiaonizi-github, there's no way to display multiple documents _at the same time_, unfortunately.

[2017-09-25 22:24] palanik commented on #3706
Looks like this bug happens under any of the following three circumstances.

1. When you have multiple enum values and do not explicitly select one from the dropdown (assuming the one currently displayed is the default value) and try to execute.

2. When you have multiple enum values and select the first one in the drop down list.
(Selecting second or third, works).

3. When you have only one valu

[2017-09-26 03:11] wahyufrombandung commented on #1919
My solved solutions (Using C# .Net in visual studio 2015):
on your code, check the upper part of every controller that needs to be accessed from swagger, please add comments below:
`/// <summary>
        ///
        /// </summary>
        /// <param name="fromDate"></param>
        /// <param name="toDate"></param>
        /// <param name="transactionType"></param>
        /// <param name="options

[2017-09-26 03:12] wahyufrombandung commented on #710
My solved solutions (Using C# .Net in visual studio 2015):
on your code, check the upper part of every controller that needs to be accessed from swagger, please add comments below:
`/// <summary>
        ///
        /// </summary>
        /// <param name="fromDate"></param>
        /// <param name="toDate"></param>
        /// <param name="transactionType"></param>
        /// <param name="options

[2017-09-26 03:29] patcon commented on #1369
Can anyone give an example deeplink to a model from http://petstore.swagger.io/? They don't see to be linkable, as far as I can tell :) Thanks!

[2017-09-26 03:31] patcon commented on #1369
Ah, i feel like I may have found my answer here: https://github.com/swagger-api/swagger-ui/issues/2884#issuecomment-315492951

[2017-09-26 03:33] patcon commented on #1369
Seems models aren't included? https://github.com/swagger-api/swagger-ui/issues/2884#issuecomment-315492951

Can we re-open?

[2017-09-26 07:00] MiErnst commented on #3656
Thanks for the response but unexpected things happend: https://code.facebook.com/posts/300798627056246

So updating to the new release might fix this issue.

[2017-09-26 07:48] hkosova commented on #3705
Support for OAS 3.0 `securitySchemes` is covered by #3641 and #3665.

[2017-09-26 12:01] JFCote commented on #3704
Thanks @webron. I will try to drop the schemes property and try it again.

[2017-09-26 14:14] hendyp commented on #3696
Hi!
To my knowledge the Identity Provider defines which flows it supports, so it's not up to the consumer to choose freely.
In addition, the [OpenAPI specification requires to set one flow for a security scheme](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#security-scheme-object), at least for version 2, so it's not for Swagger-UI to provide all options when the API spe

[2017-09-26 14:46] jvitor83 commented on #3696
You are right.

Yes, but at my point is "Identity Provider restricts the flows it allows".

My point is:
If i create some API and 2 clients want to test it, but each one a different flows, then, it will not be supported.

_But maybe you are right and this issue is not from Swagger-UI_

[2017-09-26 14:51] jvitor83 commented on #3696
Anyway, according to this link https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#oauthFlowsObject the 3.0 version of OpenApi should allow this.

[2017-09-26 14:51] #3696 closed

[2017-09-26 14:59] webron commented on #3656
@MiErnst - yup, you beat me to it (in updating the ticket).

After seeing that, we're most likely to upgrade to React 16. That said, timing can be an issue. If it's a simple upgrade, it wouldn't be a problem, but if it requires additional code changes, it might have to wait until we finish the OAS3 support.

[2017-09-26 15:50] webron commented on #3694
@ELE3E - sure, we're happy to accept PRs. If this is your first time, you can refer to GitHub's documentation. I've also found https://gist.github.com/Chaser324/ce0505fbed06b947d962 which might be helpful.

[2017-09-26 15:54] webron commented on #3685
@erichaniak can you share your full API definition?

[2017-09-26 17:00] webron commented on #3678
@jjohs there are two separate things. The 'try it out' not being enabled by default - I need to reword that - what I meant there was that the try it out is a two-step process. Clicking the button opens up the form, and only then you can execute the call.

In 3.1, when we introduced OAS3 support, the try it out functionality was just not available to OAS3 at all - it wasn't just 'disabled', it didn

[2017-09-27 00:06] shockey commented on #3688
@hemadriDasari1990, any updates on this? Would like to hear if you found something that works for you 😄

[2017-09-27 06:05] Xuanwo commented on #3649
I met the same problem, the browser always load the first spec in urls.

Maybe we should add spec's name into deeplinking?

[2017-09-27 10:37] ELE3E commented on #3694
I have made a PR

[2017-09-27 15:39] L-Key commented on #3678
I'm using the latest version and the "try-it-out" button is enabled by default. How do I disable it?

[2017-09-27 16:12] arnaudjolly opened #3710 "IE11 freezes when receiving a simple string response body as "application/json" media type."
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |  v2.1.4
| How did you install Swagger-UI? | java project maven dependency from io.swagger:1.5.16
| Which browser & version?        | Internet Explorer 11
| Which operating system?         | Windows 8.1 Pro

[2017-09-27 16:59] webron commented on #3710
Swagger-core doesn't provide swagger-ui as part of its dependencies, so not sure how you actually got it.

You're using an older, unmaintained version of swagger-ui. Can you try the same use case with the current version?

[2017-09-27 17:35] hc24 commented on #2954
"Please open the ticket on springfox."?what?

[2017-09-27 18:07] webron commented on #3678
@L-Key that option is not available yet. See #3314.

[2017-09-27 18:07] giuliopulina opened #3711 "multiple tags display"
Hello, I have a problem with rendering of the following spec with swagger-ui (version 3.2.2):

[code]
I use tags for different purposes, and swagger-ui duplicates the endpoint for each tag:

![swagger-ui-duplicated-tags](https://user-images.githubusercontent.com/4653848/30929590-3c9a664e-a3bf-11e7-85f8-cad8afcee550.jpg)

Existing options ('filter', 'maxDisplayedTags') don't fit my need.
Would it b

[2017-09-27 19:06] webron commented on #3711
I don't see us adding support for such a feature. Tags are intended for grouping of operations, and as such, an operation will appear under every tag assigned to it.

[2017-09-27 19:49] shockey commented on #3710
I agree with @webron, using Swagger-UI v3 is the best course of action.

If you're stuck with v2 for some reason, you could always include an `Object.keys` polyfill in your own code.

[2017-09-27 22:23] shockey commented on #2954
@hc24, based on the error message the original filer provided, it's clear that this is not a Swagger-UI issue.

[2017-09-28 02:48] #3694 closed

[2017-09-28 03:21] #3706 closed

[2017-09-28 07:59] giuliopulina commented on #3711
Hello @webron, I see your point, but basically this forces to use only one tag per operation (I don't see the use to have an operation displayed under multiple tags). Do you agree?

[2017-09-28 09:52] ayush-srtv commented on #3639
@shockey  I will create a test app and try to replicate the issue.

[2017-09-28 12:05] giuliopulina commented on #2651
I'm also experiencing bad formatting on examples on version 3.2.2. Do you know if it's something that easy to fix? Does it depend on some configuration?

[2017-09-28 12:23] markus-hsk commented on #3711
There are use cases for operations with multiple Tags.
Per example I've an API delivering UserData on /users/_id and /auth/myuser. Both requests deliver an object of user data, so both are categorised under Tag Users, but the second one is also tagged with Authorisation, because it handles the userdata of the authorised user. You see the point?

[2017-09-28 14:05] arnaudjolly commented on #3710
Thanks for the replies. Asking myself what should I do to use a newer version of swagger-ui helped me dive into the dependencies and the overall architecture of the app.
swagger-ui v2.1.4 comes from a third-party library

I tested it with the swagger-ui v3.2.2 and no bug comes out of the "try out" button.

We'll go for this version.

[2017-09-28 16:59] webron commented on #3710
That's great news, @arnaudjolly. Thanks for the update!

[2017-09-28 16:59] #3710 closed

[2017-09-28 22:29] webron commented on #3711
@giuliopulina looks like you got an example there. It might not be useful to you, but it can be useful to others.

[2017-09-28 22:47] giuliopulina commented on #3711
@webron the example described by @markus-hsk is very similar to my use case above :) the only difference is about 'visualization': users of my api don't need to see multiple categorization, and I would like to be free to add tags to the spec without impacting swagger-ui.

I could try to create a PR to introduce such an option, maybe in a similar way swagger-codegen solves the problem of multiple t

[2017-09-28 22:49] webron commented on #3711
In quite a few years working on this project, this is the first time I recall anyone asking for it. At the moment, I'd rather we don't add that functionality but will be willing to reconsider of there's more traction.

[2017-09-29 07:54] giuliopulina commented on #3711
Ok @webron thanks again, I'll close the issue then.

[2017-09-29 07:54] #3711 closed

[2017-09-29 10:45] shral commented on #2767
It's working, thanks!

[2017-09-29 10:46] ndphuong opened #3713 "The input on try it out is set to read only"
We are using http://petstore.swagger.io to display api document, it work well
However, several day recently, we cannot edit parameter value when on **try it out** form
All input field seem set to read only

Have any big update recently?

[2017-09-29 14:29] webron commented on #3713
The UI at http://petstore.swagger.io updates regularly with each week's release. If you're having an issue with the deployed version, share your API definition so we can investigate further.

[2017-09-29 15:03] sdwr98 commented on #2700
I am seeing this issue with swagger-ui version 3.2.0

[2017-09-29 15:43] shockey commented on #2700
https://github.com/swagger-api/swagger-ui/pull/3712 may solve this.

[2017-09-29 17:19] bezreyhan opened #3714 "Dependencies are not compatible with React 16"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature request
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       | swagger-ui@3.2.0
| How did you install Swagger-UI? | npm
| Which browser & version?        | Chrome latest
| Which operating system?         | OSX

### Demonstration API definition

### Expecte

[2017-09-29 17:41] shockey commented on #3714
Yeah, looks like Motion is also reaching into some private React APIs that went away (a complete rewrite would break the private API, imagine that!). Thanks for opening an issue for this.

Moving swagger-ui itself to React 16 is on our radar, but not in anyone's work queue (OAS 3.0 is the core team's focus right now). If you have the time to make a PR for this, we'd appreciate it!

[2017-09-29 19:44] shockey opened #3715 "XSS testing"
From #3712.

Unit tests should be added that confirm the sanitizer is properly handling script injection attacks.

[2017-09-29 19:45] #2700 closed

[2017-09-29 19:45] #3385 closed

[2017-09-29 21:09] bezreyhan commented on #3714
Yea, the later version of Motion are compatible with React 16 and I would assume the same for react-collapse.  Swagger-UI is pegged to a version of react-collapse that is a couple of major versions old. I'm guessing the new versions break Swagger-UI in some way?

If find some time I would be happy to make a PR.

[2017-09-29 21:19] shockey commented on #3302
Removing `Nice to have`, as this is becoming a pain point.

[2017-09-30 00:37] #3681 closed

[2017-09-30 00:37] shockey commented on #3681
This should be fixed.

Thanks for filing, @hkosova!

[2017-09-30 13:57] danilobuerger commented on #2793
Setting `configs.preFetch` works for me:

[code]

[2017-09-30 15:43] denisprsa opened #3718 "OAS3 TypeError: i is not a function, 3.3.0"
Hey, I just tried new version of swagger ui 3.3.0 ui on openapi 3.0.0.
When i try to click on path I I get following error.

<img width="1433" alt="screen shot 2017-09-30 at 17 29 20" src="https://user-images.githubusercontent.com/10304660/31047209-9c4cc304-a606-11e7-8b51-cb21259199d5.png">

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?

[2017-09-30 21:53] yogsototh opened #3719 "Execute doesn't send POST request"
I fill every field for the POST to `/redbot/bot/{bot-id}/{responder-id}` and when clicking on Execute nothing occurs. The POST request isn't sent, no error message is shown, nothing.
You can use any non empty value for each field, and even edit the JSON in the text edit with some other valid (or not) JSON value.
I couldn't event get any console error.

buildTimestamp: "Sat, 22 Jul 2017 04:46:20 GM

[2017-09-30 22:18] shockey commented on #3372
Hey @xiaonizi-github, I've created a Codepen that gives an example of how to create multiple instances of Swagger-UI on one page, to achieve what you're looking for: https://codepen.io/kyleshockey/pen/wrqarZ

It does require you to use custom code, so you won't be able to do this through Docker.

Let me know if you have any questions!

[2017-09-30 23:52] shockey commented on #3718
Hey @denisprsa, thanks for the report.

I'm only able to reproduce this under certain circumstances, can you see below and confirm that you're experiencing the same?

- **Can** reproduce by opening Swagger-UI, pasting an OpenAPI 3 definition URL into the Topbar, and clicking Explore.
  - The display does not update - the previous definition's content stays on the screen.
  - Clicking Explore a sec

[2017-10-01 12:59] #3598 closed

[2017-10-01 13:00] #3584 closed

[2017-10-01 16:31] ssimplix commented on #3718
Same for me. The problem seems related to `requestBody` field - when I remove it, everything works.

YAML:

[code]

Version 60.0.3112.113 (Official Build) (64-bit), OAS 3.0.0, Swagger UI v3.0.0. I run Swagger UI via dist folder.

[2017-10-01 20:20] ErikJansenIRefact commented on #3718
When modelExample is rendered getConfigs is not available. It is not passed in the props so getConfigs() is undefined and results in an error. It seems to happen if a reference to schema component is created in path operations and parameters.

[2017-10-02 02:49] ndphuong commented on #3713
[api-docs.txt](https://github.com/swagger-api/swagger-ui/files/1347772/api-docs.txt)
Hi @webron
That is internal api, so I attach json file

Can you check it?

[2017-10-02 07:06] scottohara commented on #2793
@danilobuerger Nice find, but judging by [this comment](https://github.com/swagger-api/swagger-js/blob/a864bebb3b41ea8e64e707626377bf5db081901a/src/http.js#L242) (assuming I'm looking at the correct implementation) it sounds like `configs.preFetch` is being deprecated?

[code]

[2017-10-02 08:39] danilobuerger commented on #2793
Yeah, I read that too. My hope is that this story will be done before its removed.

[2017-10-02 11:28] zyv commented on #3649
Just found a workaround, apparently the following does work:

http://swagger-ui/index.html?urls.primaryName=abc#/Foo/getFoo

Kudos to @poctec

[2017-10-02 17:20] #3713 closed

[2017-10-02 17:20] shockey commented on #3713
Glad you got it working, @ndphuong.

Closing!

[2017-10-02 17:26] shockey commented on #3685
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-02 17:26] #3685 closed

[2017-10-02 17:33] shockey commented on #3649
@zyv, nice workaround 😄

There _is_ still a problem here - ideally, the selected URL should be dynamically stored in the URL in the same way that the current tag and operation is, so deep linking URLs are reproducible when `urls` is enabled.

[2017-10-02 17:37] shockey commented on #2793
I don't encourage the long-term use of a deprecated interface... but FWIW, we won't remove `preFetch` and `postFetch` before `swagger-client@4`.

[2017-10-02 18:26] dmitriiivashko commented on #3718
same issue here: JS error when `requestBody` is defined for a path method object

[2017-10-02 18:34] fractalocity commented on #2783
I followed these instructions; probably the best Instructions i've seen anywhere pertaining to swagger (and clearest), and it doesn't work https://idratherbewriting.com/learnapidoc/pubapis_swagger.html#create-a-swagger-ui-display
and i'm pretty sure the problem is not the person who wrote the instructions or me. Anything nodejs not related to swagger is a pieces of cake. anything swagger related i

[2017-10-02 19:47] shockey commented on #2783
@fractalocity, we'd love to help, but you haven't shared any specifics that may lead to a solution.

Feel free to open a new issue with more information about what you're experiencing!

[2017-10-02 20:03] fractalocity commented on #2783
Thanks for the reply; i didn't expect anyone to read and reply. might as well post the hang-up; it's worth a shot. thanks

[2017-10-02 20:25] fractalocity opened #3721 "Integrate Swagger-UI into project"
I followed these instructions; probably the best Instructions i've seen anywhere pertaining to swagger (and clearest),  https://idratherbewriting.com/learnapidoc/pubapis_swagger.html#create-a-swagger-ui-display
When i run the nodejs project on my local machine it runs fine; i can go to the '/swagger' route and see the swagger-ui. However when i publish this to the server it can't find the 'page'.

[2017-10-02 20:40] shockey commented on #3721
Hey @fractalocity! Sorry you're having issues.

The way you're calling and serving Swagger-UI looks sane. I did notice that you said you put the UI files in `/app/swagger/` in step 2, but your Express server snippet in step 4 refers to `/api/swagger`. Maybe that was a typo in your message?

If you modified the URL, it might be worth it to use a path that starts with a forward slash. It looks like

[2017-10-02 21:12] fractalocity commented on #3721
You are right. I went ahead and switched the forward slash to a double back slash and published to the server and it works. I've been working a good portion of the day testing out all the wrong things. The final solution was:

1. download the zip folder from (https://github.com/swagger-api/swagger-ui)
2. with the zip file you will find a 'dist' folder. copy all files from the 'dist' folder into yo

[2017-10-02 21:14] shockey commented on #3721
Awesome! Glad I could help.

Closing!

[2017-10-02 21:14] #3721 closed

[2017-10-02 21:53] #3718 closed

[2017-10-02 21:57] shockey commented on #3718
Hi everyone, I'm going to publish this fix in a patch version (`swagger-ui@3.3.1`). It should be available in the online UI at http://petstore.swagger.io, as well as on NPM, within the hour.

Sorry for the inconvenience!

[2017-10-03 00:31] thesourav123 commented on #3172
@phenbach where did you set the redirect URI? My Redirect URI is defaulting to localhost/swagger-o2c.html how to change it?

[2017-10-03 01:25] shockey commented on #3172
@thesourav123, there's an `oauth2RedirectUrl` configuration option you can set. See the README for more details: https://github.com/swagger-api/swagger-ui#parameters.

[2017-10-03 01:57] webron commented on #3719
@yogsototh just tested your API definition with the latest version of swagger-ui and it executes the call with no issue. It's surprising that you don't see anything in the console. Do other operation types work?

You can either download the latest version from this repo or use the online version at petstore.swagger.io and simply point it to the API definition wherever it is hosted. If it solves th

[2017-10-03 02:37] thesourav123 commented on #3172
@shockey thanks got it. I am using a c# web api backend and by adding Swashbuckle it was pretty easy to integrate swagger. But, i am unable to find a way to add any additional parameters. I will really appreciate if you can specify what is the change in the JSON/YAML when we add oauth2RedirectUrl. Any samples?

[2017-10-03 02:48] shockey commented on #3172
@thesourav123, ah, I see. Unfortunately, there's no way to set custom options in your definition :confused: `oauth2RedirectUrl` is an option that you pass to Swagger-UI when it's called by the webpage that's running it.

I don't _think_ Swashbuckle exposes a way to pass custom options, besides [bringing your own `index.html`](https://github.com/domaindrivendev/Swashbuckle#provide-your-own-index-fi

[2017-10-03 05:26] thesourav123 commented on #3172
@shockey Thank You very much. I got it. One last thing, the dev-helpers page[redirect.html]( https://github.com/swagger-api/swagger-ui/blob/master/dev-helpers/oauth2-redirect.html#L43) which closes the window and sets the Access Token in the field, has an oAuth2 object which gets its value from window.opener.swaggerUIRedirectOauth2. Since, its a new window, how will it get the value of the swagger

[2017-10-03 06:11] shockey commented on #3172
@thesourav123, no worries. Pages that are opened programmatically have a reference to the `window` object of the page that opened them, [through `window.opener`](https://developer.mozilla.org/en-US/docs/Web/API/Window/opener).

If you have any further questions, I ask you to open a new ticket. With respect to those who contributed their input upthread, I'd like to keep this issue on the topic of a

[2017-10-03 07:18] GSokol opened #3724 "Links to tags and API methods"
Please add anchor links for each tag (section) and API method (path + http method) and add button to copy full URL (including hash) to clipboard.

Full-text search filter is also very useful for big APIs.

[2017-10-03 09:12] to-kra commented on #3235
@shockey current version 3.x is not supporting translations yet, which is very important for us.

[2017-10-03 09:31] savicprvoslav commented on #1209
We had the same issue.

Here is a php code that shows how to deal with this issue. Please adjust it based on your own problems.
[code]

[2017-10-03 11:24] to-kra commented on #2813
For removing Topbar just comment (TopbarPlugin) it in `src/standalone/index.js`, rebuild with `npm run build` or `yarn build` and thats it. It would be easier for basic-coders to just disable it in index.html rather than build your own build.

[2017-10-03 11:52] to-kra opened #3725 "How to disable 'Try it out' in 3.x"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Question
| Which Swagger-UI version?       | 3.3.1
| How did you install Swagger-UI? | downloaded from releases and used dist

As there is no any other communication channel with you dev guys, i am opening this issue, which is basically a question:
I haven't found anywhere how to

[2017-10-03 12:03] phenbach commented on #3172
@thesourav123 I think you already have this worked out but if not the redirect URL is configured in index.html where you swagger is installed around line 73 you will see where everything is configured. For me the initOAuth was not defined so I had to add it myself.  You asked for an example here is my test fine and how it is setup.
`<script>
window.onload = function() {
  // Build a system
  const

[2017-10-03 14:38] BasKooij opened #3726 "Setting default value on an enum causes the default to always be used"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2
| Which Swagger-UI version?       | 3.2.2
| How did you install Swagger-UI? |  Composer
| Which browser & version?        | Chrome 61
| Which operating system?         | Windows 10

Whenever a default is set on an enum parameter it becomes

[2017-10-03 14:48] to-kra commented on #3235
@shockey I just updated swagger-ui to latest 3.x and content team ran accessibility scan, and they found even more foundings. is there are possibility i could send you guys these results/symptoms somehow privately, i dont want to put them here. what you think ? thanks

[2017-10-03 16:57] alaricljs opened #3727 "/paths and $refs of paths - only the first is displayed"
Placing a path ref in paths: prior the path it references will hide that path and only the ref path will be displayed.  Placing the path ref after the path it references will hid the ref path.  Can be reproduced in swagger-editor with the petstore example and this:

    /fakepet:
      $ref: "#/paths/~1pet"

| Q                               | A
| ------------------------------- | -------
| Bug or

[2017-10-03 18:32] hkosova commented on #3726
This spec is probably not valid.

1) If `enum` is used, the `default` value should be part of that `enum`.

2) More importantly, `default` is not used with `required` parameters. It's an attribute of optional parameters and is handled on the server side. That is, if the client does not supply the parameter, the server will use the `default` value.

@webron?

[2017-10-03 19:57] shockey commented on #3235
@to-kra, sure, my email is in my profile - I can distribute it to our core team. Thanks for taking the time to put that together!

[2017-10-03 21:41] tobymurray commented on #3325
Just ran into this as well using the OpenAPI 3 spec:
[code]

Yields the following:
![image](https://user-images.githubusercontent.com/3683198/31150420-7bcaa4cc-a861-11e7-8d9f-9ae058d3ed55.png)

I'm not familiar with the history or previous implementations of this or what's possible/hard, but personally I think it'd be nice to show the title for a circular reference but not expand it by default. E.

[2017-10-03 22:41] shockey commented on #3727
Yeah, I'm seeing this too. I think this has something to do with `operationId` reuse.

Consider this example:

[code]

This would yield the following after `$ref` resolution:

[code]

As you can see, both POST operations end up with the `addPet` operationId. This is invalid, per the Swagger 2.0 specification:

---

Removing the `operationId` causes Swagger-UI to render both operations:

<img width

[2017-10-04 06:42] hemadriDasari1990 commented on #3688
Sorry Shockey,

didn't get time to look into your suggestion due to other priority items assigned. I will analyse the feasibility of reverse proxy ennoblement with openAPI 3.0 and keep you posted once I make progress.

[2017-10-04 07:33] BasKooij commented on #3726
As for 1, you are right and in my actual implementation the default is actually part of the enum. I edited my example, but it doesn't matter for the results.

The Swagger editor does not indicate there is an error in the specification, but even so: if the default is to be handled on the server the interface should not put the default value in the query string if I select a different one.

[2017-10-04 09:37] to-kra commented on #3235
@shockey i sent you email with accessibility scan results.

[2017-10-04 10:29] Rinzwind commented on #3325
Here's a screenshot of another example I was testing. The structure of the schema object for the “containingFolder” attribute for “Folder” is similar to the one for “resourceFork” for “File”; I’m guessing the reason that it’s not shown that “containingFolder” is another “Folder” is due to the circularity.

![swagger_ui](https://user-images.githubusercontent.com/1611248/31171070-ca492108-a8fe-11e7-

[2017-10-04 11:12] hkosova commented on #3325
@Rinzwind

[code]
`"type": "null"` is not valid in OpenAPI, because [there's no `null` type](https://swagger.io/docs/specification/data-models/data-types/#null) - that's one of the differences from JSON Schema. OpenAPI uses the `nullable` attribute instead.

I'm not sure if there's a way to combine `$ref` with `nullable`. You'll probably need to add `nullable: true` directly to the referenced sche

[2017-10-04 12:31] Rinzwind commented on #3325
@hkosova, I had missed that, thanks for pointing it out!

I’m not sure that adding `nullable` directly to the referenced schemas is going to match with what I was trying to express: for the references to Fork from File, only the value for “resourceFork” can be `null`, the value for “dataFork” can not be `null`. I guess I could still express this as follows, which as far as I can tell is at least i

[2017-10-04 15:50] dili91 opened #3728 "Swagger ui dist protected with basic auth"
Hi,
my swagger-ui-dist installation (made with AWS S3 static hosting) is protected with basic authentication. Is there a way to tell SwaggerUIBundle to request this file using browser cookies ?

[2017-10-04 16:39] kamil-kielczewski commented on #2129
@webron - why?

[2017-10-04 22:26] shockey commented on #3728
Your question isn't clear - is your Swagger-UI installation or your Swagger document protected with basic auth?

If it's Swagger-UI, your browser should prompt you for authentication when you navigate to the page.

[2017-10-04 22:33] susanxhua opened #3729 "Swagger editor does not recover from errors"
If I start to add, for example, a request method to a valid swagger doc, errors show up since the doc is not valid and this is expected. But when the swagger doc is restored to valid, the error does not go away. I have to do a refresh of the page.

[2017-10-04 22:56] webron commented on #3729
Thanks for the report, however we can't do much with it. I'm going to close the ticket. We'd still like to hear from you, but we added a ticket template for a reason - we require the details there and without them most issues simply can't be resolved.

[2017-10-04 22:56] #3729 closed

[2017-10-04 22:57] webron commented on #2129
@kamil-kielczewski because it goes beyond what the specification defines.

[2017-10-04 23:02] webron commented on #3325
@Rinzwind can't think of a different way to express it.

[2017-10-04 23:07] webron commented on #3726
@BasKooij - having `default` and `required` for the same property/parameter is indeed pointless, however, it doesn't contradict the spec which is why the editor doesn't throw an error. We should provide a warning though, and I'll file a separate ticket for that.

@owenconti - this is a fairly critical bug. If you can't work on it for this week's release, please let @shockey know so he can take ove

[2017-10-04 23:33] owenconti commented on #3726
Looking now.

[2017-10-04 23:45] owenconti commented on #3726
Not sure if I am missing something, but I cannot reproduce the issue with the provided spec in the OP. See screenshot:

<img width="1917" alt="screen shot 2017-10-04 at 5 39 54 pm" src="https://user-images.githubusercontent.com/791222/31204887-4af1ff1a-a92b-11e7-8945-dc270ab42689.png">

Please advise @webron and @BasKooij

[2017-10-04 23:50] owenconti commented on #3726
Nevermind. I cannot reproduce on petstore.swagger.io, but I can on editor.swagger.io

[2017-10-05 00:21] owenconti commented on #3726
Okay, further confusion here:

- I cloned `swagger-ui`
- I cloned `swagger-editor`
- I linked `swagger-ui` to `swagger-editor` so I was using both of the cloned repos
- I could not reproduce the issue on my local `swagger-editor` instance either

I did notice though, that the `versions` information is different across the various environments:

<img width="1920" alt="screen shot 2017-10-04 at 6 19

[2017-10-05 00:23] shockey commented on #3726
@owenconti, I’ll take a look, and try to reproduce this on my end.

[2017-10-05 01:36] webron commented on #3726
@owenconti keep in mind the online editor uses one version back of swagger-ui as there was no release last Friday - and swagger-ui had a bunch of fixes in it. Maybe the issue was there and is no longer?

[2017-10-05 01:38] owenconti commented on #3726
That would explain all the symptoms I was seeing then!
On Wed, Oct 4, 2017 at 7:36 PM Ron <notifications@github.com> wrote:

[2017-10-05 01:41] shockey commented on #3726
Yep, looks like `swagger-ui@3.2.2` has this issue, but `swagger-ui@3.3.1` does not.

I'm looking for a specific commit that fixes it now.

[2017-10-05 02:11] webron commented on #3726
I wouldn't dig too much into it. If the fix is there, it'll roll into the editor in this week's release because there's definitely going to be one.

[2017-10-05 06:06] kamil-kielczewski commented on #2129
@webron - yes you have right, how ever it is very practical feature (especially for large APIs) and may be "incorporated" into to specification in future. How ever my proposition (i think) will be simpler than @faizaantrialx : we can use following convention in tags names (using dots to nesting subtags):

[code]

And in output web-page we will get:

[code]

If you give me some tips where Is the co

[2017-10-05 12:03] Rinzwind commented on #3325
Thanks for the feedback. I’ve posted an [issue for it at the OpenAPI Specification repository](https://github.com/OAI/OpenAPI-Specification/issues/1368).

[2017-10-05 12:18] ayush-srtv commented on #3639
I am closing issue as i am not getting time to work on the test application, i will reopen once i have completed the application.

[2017-10-05 12:18] #3639 closed

[2017-10-05 18:58] benzulanch opened #3730 ""Unknown response type" for empty body responses without Content-Type header"
* swagger-ui version: 3.3.1

"Unknown response type" is displayed for responses with no body (such as 204) if the server does not send a Content-Type header, even though Content-Type shouldn't be required for a 204 response.

[2017-10-05 20:53] bobbyajp opened #3731 "Is the unminified/unobfuscated source to swagger-ui.js, swagger-ui-bundle.js, swagger-ui-standalone-preset.js available?"
I'm trying to get the Authorize feature to work, using OAuth/password flow, but my oauth endpoint keeps returning errors. When I write a simple web page with a form and submit the request via an XMLHttpRequest, it works, so I'm trying to figure out what I might be doing wrong. Headers/request body/etc seem to be the same, according to chrome's web inspector. I'd like to trace through the swagger j

[2017-10-05 23:13] shockey commented on #2813
@to-kra, correct - some quick and dirty ways to disable the Topbar include setting the `layout` config option to `BaseLayout`, and adding a plugin that disables the Topbar component:

[code]

[2017-10-05 23:26] shockey commented on #3731
Hey @bobbyajp!

You can find the swagger-ui source in this repository. If you'd like to run an unminified build of the project, you can do so by cloning the project repository and running `npm install && npm run dev`. You'll need Node.js and npm installed on your machine 😄 a development server will start on port 3200.

The development build should produce stack traces that are more helpful for tra

[2017-10-05 23:54] shockey commented on #3705
Closing this, as the ambiguous Swagger2-in-OAS3 behavior has been solved and the OAS3 securitySchemes functionality is covered in other tickets 😄

[2017-10-05 23:54] #3705 closed

[2017-10-05 23:58] dili91 commented on #3728
Ho shockey, both indeed. Distribution and swagger yaml files are served by a web server which requires basic authentication. After a few searches I found out useJquery and withCredentials parameters which helped me to solve my original problem. But still I've one problem related to basic auth: what if I want to use swagger validator API against those yaml files. Judging from the browser console it

[2017-10-06 00:19] webron commented on #3728
Currently, there's no way of doing it.

[2017-10-06 03:08] MTecknology opened #3732 "Please provide pretty copies in releases"
When this project creates releases, it would be hugely appreciated if it provided non-minified copies of the file, with the minified version having .min.js/.min.css filenames. This would make it much easier for us to review changes between releases, and would make it easier for me to get this package into Debian, as a dependency of Gitea.

Thanks for any consideration of this proposal!

[2017-10-06 03:48] shockey commented on #3732
Hey @MTecknology!

You can review source changes by visiting our Releases page. Each version includes a changelog  with references to tickets, and a `Version Diff` link which shows you what changes in the source code between each version.

As for minification... I don't quite see why you'd need an unminified build, it's mostly just going to be a much larger file. Is there some Debian policy about

[2017-10-06 04:30] MTecknology commented on #3732
Debian policy is that we need to build the compiled result using our build system, to ensure that the work is actually reproducible and not being maliciously modified during an external build. I /should/ be stripping all of dist/* and rebuilding it using npm, but there's a long list of things that need to happen before that can happen (build dependencies missing from the archives). If you let the

[2017-10-06 09:06] strk commented on #3732
Agreed, there's a difference between "source packages" and "binary packages". I guess @MTecknology is basically asking for "source packages" ?

[2017-10-06 11:05] hkosova commented on #3730
Sample spec:
[code]

[2017-10-06 17:47] bobbyajp commented on #3731
Thank you, @shockey! I've managed to get the dev server running locally. However, this doesn't seem to download the unminified source. I am testing on a machine where I do not want to run npm, node, etc.

[2017-10-06 18:43] bobbyajp commented on #3731
I think there might be a problem with double uri-encoding the scopes in the oauth password flow. I logged every encodeURIComponent() call in swagger-ui-bundle.js, and what is see is this:
   encodeURIComponent(myservice:myscope)
   encodeURIComponent(password)
   encodeURIComponent(myservice%3Amyscope)
   encodeURIComponent(myusername)
   encodeURIComponent(mypassword)
My scope ("myservice:myscope

[2017-10-06 20:45] GenaBitu opened #3733 "npm run build fails"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  |3.0.0
| Which Swagger-UI version?       | 3.3.1
| How did you install Swagger-UI? | git clone & git checkout
| Which browser & version?        |
| Which operating system?         | debian testing on x64

I cloned this repo, checked out tag 3.

[2017-10-06 21:25] shockey commented on #3732
I just ran some numbers - adding unminified copies of our distribution files to the repository would increase the size of our `dist` folder sixfold (from 2MB to 12MB) 😕

Aside from the painful thought of socking away 12MB of binary-ish files on a weekly basis in the repository (everyone that clones this repo until the end of time will need to download every version as part of the repository histor

[2017-10-06 22:57] webron commented on #3733
You're using node 4. Notice our build requirements state node 6.

[2017-10-07 00:28] curtisdf commented on #3725
I too need a way to disable Try It Out.  I'm using OAP v3 with Swagger UI 3.3+, but my API uses Oauth2, so the Try It Out options always give 401 responses.  Sigh.

[2017-10-07 00:30] curtisdf commented on #3678
I see a number of references to a `tryItOutEnabled` option in the source code, but when I add `tryItOutEnabled: false` into my `const ui = SwaggerUIBundle({ ... });` declaration, it seems to have no effect: the Try It Out buttons still appear.

[2017-10-07 00:50] shockey commented on #3725
CC: https://github.com/swagger-api/swagger-ui/issues/3544

Yes! It requires a custom plugin, though. Here's the code:

[code]

If you don't have control of the call to Swagger-UI (if you're using a downstream library, for example), this isn't possible at the moment... but if there's significant demand, we'd consider adding a `tryItOutEnabled` configuration option.

[2017-10-07 01:10] MTecknology commented on #3732
I can understand the concern for the size. That's a much larger explosion
than I expected. I'd like to argue the the size /should/ be a one-time
addition, buuuut if I were in your shoes, that argument wouldn't mean too
much.

I would appreciate some help with getting the build process working, and
appreciate the offer, but the current hold-up is on webpack, which requires
another tool that has a k

[2017-10-07 01:31] shockey commented on #3732
we're missing, I'm hoping the rebuild process is as simple as 'npm run
build' and will 'just werk' when the package becomes available.

come from d/main; no other network access is allowed.

Oof - that's a pretty brutal limitation, if I'm reading this correctly. Swagger-UI has 45 production dependencies and 52 development dependencies, all npm modules. All of these dependencies, and _their_ depend

[2017-10-07 01:42] shockey commented on #3678
@curtisdf, good thought, but `tryItOutEnabled` is an internal prop that is shared between a few of Swagger-UI's components, not a configuration option 😄

[2017-10-07 02:06] MTecknology commented on #3732
To be perfectly honest, I was looking for a "loophole" to bypass having to run any actual build (other than minification) and instead rely on your build. For me to rely on your build, I'd need those massive files so I could personally review--between each release--the diff between each release. I call it a loophole because I'm treating the produced source as the authoritive source, and only becaus

[2017-10-07 07:22] SOftEngrAtta commented on #309
i have also getting same issue when i deployed code on heroku
my server.js file code

const express = require("express"),
    bodyParser = require("body-parser"),
    morgan = require("morgan"),
    mongoose = require('mongoose');
    jwt = require("jsonwebtoken"),
    expjwt = require("express-jwt"),
    cors = require('cors'),
    app = express();

const { port, mongodbURI } = require("./config"

[2017-10-07 10:01] GenaBitu commented on #3733
Oh, yes, didn't realize debian had outdated node... Is there a way to maybe add some meaningful error message when this happens?

[2017-10-07 17:16] shockey commented on #3733
Yeah, it'd be pretty easy to use `process.version` and `semver` to check the Node version, something like this in `make-webpack-config`:

[code]

A PR would be appreciated :smile:

As for Node.js versions - most folks use something like [`nvm`](https://github.com/creationix/nvm) to manage their Node.js versions, as it's much easier and up-to-date than traditional distro channels. Give it a try if

[2017-10-08 08:44] avaly opened #3734 "Markdown headings not rendered"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         | Bug
| Which Swagger/OpenAPI version?  | `3.0.0`
| Which Swagger-UI version?       | `3.3.1`
| How did you install Swagger-UI? | `swagger-ui-dist` & http://editor.swagger.io/
| Which browser & version?        | Google Chrome 61
| Which operating system?         | Ubuntu

### Demonst

[2017-10-08 15:02] owenconti commented on #3734
This is a "bug" with the `sanitize-html` module we use: https://github.com/punkave/sanitize-html/issues/122.

PR incoming.

[2017-10-08 15:07] owenconti commented on #3726
Hi @BasKooij, now that `swagger-editor` has been updated, could you please confirm this has been fixed on http://editor.swagger.io?

[2017-10-08 15:49] owenconti commented on #3715
Testing against the following 2 specs:

https://gist.github.com/shockey/e65144c103f4cf3cd501d2c2d1c63b18
https://gist.github.com/shockey/7346f22b0d31b39ae65b2b5fe39a8f51

[2017-10-09 04:58] #3715 closed

[2017-10-09 04:58] #3734 closed

[2017-10-09 06:10] shockey commented on #3714
@bezreyhan, I'm not sure what exactly has changed in `react-collapse` between now and then, so I can't definitively say whether it would break Swagger-UI.

If you have the time to, a PR that updates the dependency would be great - just be sure to confirm that the new version works 😄 thanks!

[2017-10-09 07:39] CarstenRilke commented on #2793
@webron is there a rough time schedule for implementation?

We need access to protected API spec because our definitions are security-critical and thus not public.
Context: We would like to use openAPI for Confluence, but the definitions should be modular in a protected repostory.

[2017-10-09 08:12] BasKooij commented on #3726
Yes, this look fine to me. The dropdown selects the default at first, and the right value appears in the query when I submit the request. I tried both with and without the required keyword and with default values that are not in the enum.

[2017-10-09 11:40] hvt commented on #3437
Would like to add that also supporting `requestBody.content.<media-type>.examples` and `responses.<code>.content.<media-type>.examples` would be of great value.

[2017-10-09 15:00] #3726 closed

[2017-10-09 15:31] shockey commented on #2793
@CarstenRilke, no one is working on this at the moment, as our resources are limited and our main focus is OAS3 support right now.

If you have the time, a pull request that fixes this would be appreciated. If you need this ASAP, please note that folks have mentioned workarounds to this issue upthread!

[2017-10-09 16:01] #3719 closed

[2017-10-09 16:01] shockey commented on #3719
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-09 18:05] webron commented on #2793
@CarstenRilke - also, it's not that it's not doable with the current code - make sure you read the thread fully.

[2017-10-09 18:32] webron commented on #309
Commenting on a ticket that was closed 4 years ago will not do you much good. In general, the answer is the same. You need to find a way to enable CORS as suggest above. There's no way around it. We can't help you with Heroku specifically.

[2017-10-09 18:57] webron commented on #3678
Closing as there's nothing to document at the moment.

[2017-10-09 18:57] #3678 closed

[2017-10-09 21:17] curtisdf commented on #3678
Thanks for the clarification, @shockey. I understand.

[2017-10-10 01:23] shockey commented on #2793
It was pointed out to us that our request interceptors were _not_ intercepting spec fetch. This has been fixed, and will be available this Friday when we release Swagger-UI again.

## Official solution

Given user `myUser` and password `myPassword`, here's an example, using httpbin as an example of a page protected by Basic auth:

[code]

Basically, you define a requestInterceptor that attaches th

[2017-10-10 01:23] #2793 closed

[2017-10-10 04:51] scottohara commented on #2793
Thanks @shockey .

Note that setting a `requestInterceptor` will also affect Try-it-out requests, so for anyone who _only_ wants the basic auth header applied to the fetch of the spec URL (after the next release on Friday with the fix), you could do this:

[code]

[2017-10-10 04:57] shockey commented on #2793
Thanks for pointing that out, @scottohara! You're correct, I overlooked that in my original example.

There's an internal flag that's set on the request, `loadSpec`. I've updated my example above to use it, and I'm going to add some tests to ensure that flag stays in the DownloadUrl plugin.

[2017-10-10 10:26] bertnz commented on #2834
In our API models are quite complex but definitely a secondary action when perusing an API - the list of operations is key so we would also want the list expanded but not the model. dwickern's design seems perfect.

[2017-10-10 20:56] nickshoe opened #3739 "Several "Non-body parameters require a 'type' property." errors on a valid API definition."
| Q                                   | A
| ----------------------------------- | -------
| Bug or feature request?             |  Bug
| Which Swagger/OpenAPI version?      | 2.0
| Which Swagger-Editor version?       | Current (Couldn't find it)
| How did you install Swagger-Editor? | Online service (https://editor.swagger.io)
| Which broswer & version?            | Google Chrome 61.0.3163.100
| W

[2017-10-10 21:03] nickshoe commented on #3739
I think that Swagger Editor should be the project related to this issue.

[2017-10-10 21:03] #3739 closed

[2017-10-10 22:02] #3646 closed

[2017-10-10 22:54] bobbyajp commented on #3731
Hi @shockey, is access to the swagger source outside of running the development server possible, or is it a non-starter?

Also, should I open up a separate ticket for the double-uriencoding of the scopes in the oauth password flow?

Thanks!

[2017-10-10 23:08] shockey commented on #3731
Yeah, running the development server is the only way to get a copy of the unminified project code running in a browser. If you need some help getting your system set up for it, I can give you some pointers.

A separate ticket for that bug would be great! Feel free to tag me in it so it gets my attention.

[2017-10-11 00:53] #3730 closed

[2017-10-11 01:38] shockey commented on #3728
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-11 01:38] #3728 closed

[2017-10-11 04:41] joshtwo opened #3741 "Make it possible to send JSON payloads instead of URL query strings"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  request |
| Which Swagger/OpenAPI version?  | 3.0 |
| Which Swagger-UI version?       | 3.0.21 |
| How did you install Swagger-UI? | Node.js |
| Which browser & version?        | Firefox 55 |
| Which operating system?         | Linux |

### Expected Behavior

Make it possible for

[2017-10-11 04:55] shockey commented on #3741
@joshtwo, this is possible 😄 see the `addPet` operation in the Petstore for an example: http://petstore.swagger.io/#/pet/addPet

[2017-10-11 05:19] monica18p commented on #3623
@xiaonizi-github Could you please post your solution here. I am also facing similar issue. I used the swagger online editor, downloaded the swagger.yaml file, added it to /dist directory and changed the index.html file as following

[code]

Its working locally on http://127.0.0.1:8080/ but when I try to load the index.html file on browser "Failed to load spec" error is shown.

And when I try to lo

[2017-10-11 05:21] shockey commented on #3623
@monica18p, if your yaml file is in the `dist` directory, you should use `/swagger.yaml` instead of `../swagger.yaml` - if I'm understanding your setup correctly.

[2017-10-11 05:26] monica18p commented on #3623
Already tried that :)

[2017-10-11 05:34] monica18p commented on #3623
@shockey Are there any other specifications that I need to do?

[2017-10-11 05:59] joshtwo commented on #3741
This is clearly an issue with my API then, sorry about that. I see what's going on here; I don't have the "produces" options set at all in the swagger.json I generate.

[2017-10-11 08:21] carvendy opened #3742 "A JsonMappingException"
Ｉ　use lomok to write restfull interface. this is error.when I don't use lombok，this is right.why?

Caused by: com.fasterxml.jackson.databind.JsonMappingException: Can not construct instance of com.xxxxxx.datacenter.member.domain.UserInfo: no suitable constructor found, can not deserialize from Object value (missing default constructor or creator, or perhaps need to add/enable type information?)
 a

[2017-10-11 09:04] gest80 commented on #3718
I got a similar error, when a request with required field is send without value.
YAML:
`
openapi: "3.0.0"
info:
  version: 1.0.0
  title: Swagger Petstore
  description: A sample API that uses a petstore as an example to demonstrate features in the swagger-2.0 specification
  termsOfService: http://swagger.io/terms/
  contact:
    name: Swagger API Team
    email: foo@example.com
    url: http://m

[2017-10-11 09:15] gest80 opened #3744 "Uncaught Error on request with empty required parameter"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.3.1
| How did you install Swagger-UI? | online swagger editor
| Which browser & version?        | chrome
| Which operating system?         | ubuntu

### Demonstration API definition

[code]

I got

[2017-10-11 10:00] webron commented on #3742
This has nothing to do with swagger-ui. Not sure what it's even related to.

[2017-10-11 10:00] #3742 closed

[2017-10-11 10:33] cchlei opened #3745 "fetching resource list:: http://localhost:8080/pavo-rest/api-docs; Please wait."
fetching resource list: http://localhost:8080/pavo-rest/api-docs; Please wait.
Uncaught TypeError: detectedType.toLowerCase is not a function

[2017-10-11 10:35] dili91 commented on #3728
Solved. It was not clear from the documentation but session cookie is propagated in calls towards single yaml files

[2017-10-11 10:38] webron commented on #3745
If you want our help, please take the time to fill in the issue template as provided.

[2017-10-11 10:38] #3745 closed

[2017-10-11 13:15] domeniconappo commented on #3151
Hi there,
just to let you know, this issue is still happening for Chrome (Version 61.0.3163.100 (Official Build) (64-bit) on Windows 7). It appears for methods where operationId is defined.
Tested with swagger-ui 3.3.0 dist.

Uncaught TypeError: Cannot read property 'operation' of undefined
    at Object.i [as buildRequest] (swagger-ui-bundle.js:56265)
    at swagger-ui-bundle.js:18511
    at swag

[2017-10-11 13:31] developer-devPHP commented on #3665
@webron Do you have any updates related this functionality?
I see that last discussion was almost month ago. Can you tell me any more exact estimation (if you have it).
Or can you send me any branch which you are working, maybe I can help you to complete this functionality as soon as possible

Thanks.

[2017-10-11 13:44] ssimplix commented on #2222
@webron, how can I create an anchor to a model? Don't see any ID's in models and anything about it in docs.

[2017-10-11 15:10] webron commented on #3151
@shockey

[2017-10-11 15:12] webron commented on #3665
The authorization is the current feature we're working on. Not sure if it'll make it to this week's release but it should be available by next week's.

[2017-10-11 15:16] zaheena opened #3747 "OAS 3.0 | Swagger-UI | Required input parameters not getting validated"
I downloaded the `Swagger-UI 3.X` code from https://github.com/swagger-api/swagger-ui as of 10/11/2017.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | Open Api 3.0
| Which Swagger-UI version?       | swagger-ui, 3.x
| How did you install Swagger-UI? | Dowloaded zip, extracted the /dist

[2017-10-11 15:21] julienkosinski commented on #3151
@domeniconappo I forgot to respond but I don't had the bug anymore last time I checked but it was with previous version.
Thanks for your feedback.
@shockey Thanks for the previous fix which worked for me. :) You can manage (open/close) the issue as needed. Please, for now, see with @domeniconappo for test.

[2017-10-11 15:41] webron commented on #3747
@owenconti can you take a look?

[2017-10-11 16:39] domeniconappo commented on #3151
Yes, please note that it happens in Chrome while in Firefox there is no issue

[2017-10-11 17:17] webron commented on #3151
Which version of Chrome?

[2017-10-11 18:05] domeniconappo commented on #3151
Version 61.0.3163.100 (Official Build) (64-bit) on Windows 7
Read message above:)
 It's the most updated one

[2017-10-11 19:41] shockey commented on #3741
No worries @joshtwo! Did the `consumes` option get you what you wanted in your operation?

[2017-10-11 19:46] shockey commented on #3151
@domeniconappo, I just tested an operation with an `operationId` defined (one of the Petstore operations) and it worked fine with Swagger-UI 3.3.1 and Chrome 61.

Can you open a new issue and follow the issue template, so we can reproduce the problem you're having? Thanks!

[2017-10-11 20:55] shockey commented on #3747
It'd be great to have this fixed before Friday's release.

[2017-10-11 21:00] drjrakesh opened #3748 "Swagger ui shows datatype as undefined for an object paramenter"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2017-10-11 21:03] owenconti commented on #3747
Looking into it now.

[2017-10-11 21:20] drjrakesh commented on #3748
Here is my api-doc
[code]

[2017-10-11 21:38] shockey commented on #3748
@drjrakesh, we no longer support Swagger 1.2 documents.

[2017-10-11 23:36] bobbyajp opened #3749 "With OAuth password flow, scopes are double uri-encoded"
I think there might be a problem with double uri-encoding the scopes in the oauth password flow. I logged every encodeURIComponent() call in swagger-ui-bundle.js, and what is see is this:
encodeURIComponent(myservice:myscope)
encodeURIComponent(password)
encodeURIComponent(myservice%3Amyscope)
encodeURIComponent(myusername)
encodeURIComponent(mypassword)
My scope ("myservice:myscope") is uri encod

[2017-10-11 23:41] bobbyajp commented on #3749
@shockey Here's the double uri-encoding issue mentioned in issue #3731.

[2017-10-11 23:50] shavo007 opened #3750 "URL fails to load"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | v2
| Which Swagger-UI version?       | 3.3.1
| How did you install Swagger-UI? | docker
| Which browser & version?        | chrome

This may not be an issue with swagger UI, but I have used springfox-swagger2 to generate the spec.

The URI p

[2017-10-12 00:20] shockey commented on #3733
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-12 00:20] #3733 closed

[2017-10-12 00:44] shockey commented on #3732
Honestly, I think you're underestimating the effort required to review the diff of a multi-megabyte webapp bundle. Massive is the correct term!

Such a file would not only contain our code, but code of every module that those modules depend on, and so forth. All in all, our production dependency tree has 564 modules in it. Since we track semver ranges for most of our dependencies, a handful of the

[2017-10-12 01:03] MTecknology commented on #3732
In the same way that swagger-ui is just one of many dependencies, yes... every
dependency in the chain needs review.

I know that it's not. Unfortunately, the best way forward is a miserable path.

(but it's irrelevant to this bug)

[2017-10-12 01:05] #3732 closed

[2017-10-12 08:36] webron commented on #3750
How exactly are you passing the value?

[2017-10-12 08:44] #3748 closed

[2017-10-12 12:35] shavo007 commented on #3750
i passed in as a request param:
http://localhost/?url=http://localhost:8070/v2/api-docs?group=raidr-api

[2017-10-12 12:39] domeniconappo commented on #3151
@shockey , Thank you for trying.
Sorry, my bad. Just tested again and it works. Yesterday I was testing 3.0.12 and then switched to latest version but probably Chrome's aggressive chaching policy had confused me a bit...

[2017-10-12 13:09] webron commented on #3750
you would need to url encode the value

[2017-10-12 15:07] drjrakesh commented on #3748
Thank you!

[2017-10-12 15:57] micksear opened #3752 "OAS 3.0.0 method name case-sensitivity in Swagger-ui 3.3.1"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature request
| Which Swagger/OpenAPI version?  | OAS 3.0.0
| Which Swagger-UI version?       | 3.3.1
| How did you install Swagger-UI? | Download Zip from Github
| Which browser & version?        | Chrome 61.0.3163.100
| Which operating system?         | Mac Sierra 10.12.6

If

[2017-10-12 18:37] shockey commented on #3752
Hi @micksear!

Per the OpenAPI 3.0.0 specification, all field names are case-sensitive ([citation](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#format)).

Later in the document, operation method field names in the Path Item Object are defined as `get`, `put`, `post`, etc in lowercase ([citation](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.m

[2017-10-12 21:14] shockey commented on #3725
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-12 21:14] #3725 closed

[2017-10-12 21:16] shockey commented on #3724
This is possible through Swagger-UI's `deepLinking` option.

See the docs for more information: https://github.com/swagger-api/swagger-ui/blob/8dab91f184103be794ae2fcfeb67b02126730e88/docs/deep-linking.md, but it basically adds `id`s to tag headers and operations.

[2017-10-12 21:18] shockey commented on #3665
Closing - the original question has been answered, and we have other tickets for tracking the OAS3 Authorization feature.

Thanks everyone!

[2017-10-12 21:18] #3665 closed

[2017-10-12 21:28] shockey commented on #3580
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-12 21:28] #3580 closed

[2017-10-12 21:30] #3546 closed

[2017-10-13 08:39] xiaonizi-github commented on #3372
@shockey i have resolved。i used nodeservice,that my blog:http://blog.csdn.net/u013796473/article/details/77983273.

[2017-10-13 08:43] nfroidure commented on #3229
Drop it here since it may help. I managed to remove the top bar on the latest version by simply doing:
[code]

Looks like a hack, but works out of the box.

[2017-10-13 10:18] micksear commented on #3752
OK, I guess you can close this then.  Hopefully it'll serve as a pointer for others getting the same error message though.

[2017-10-13 10:18] #3752 closed

[2017-10-13 13:12] alasdairhurst opened #3757 "Extensions not being ignored properly by editor"
As you will see with the provided evil, but valid swagger, there a number of things done incorrectly due to extensions not being properly ignored and being parsed as things like paths or responses.
editor.swagger.io parses and validates the swagger, but shows things like "x-an-extension-fake-path" as paths rather than ignoring them as they are extensions.
editor2.swagger.io fails to even parse the

[2017-10-13 15:22] jcferrer opened #3758 "enum values are not displayed in example/model view"
Using this definition as an example:

[code]

Rendered by UI:

Example
[code]

Model

[code]

[2017-10-13 15:39] webron commented on #3758
Please resubmit the issue by following the issue template. We're missing a lot of relevant details.

[2017-10-13 15:39] #3758 closed

[2017-10-13 17:17] ganeshmuthuvelu opened #3759 "Inconsistent behavior with Parameter value and SupportedSubmitMethods?"
1) I have set an empty array for the "SupportedSubmitMethods" that I'm disabling the "try it out" button for all methods.
2) When the UI is generated, I see the "Value" as "(empty)" for all methods that take a non nested complex type as parameter. In the attached screenshot, see the "GiveMeSomething" method.
3) However, see the method "ReadJSON". This is bound to a nested complex type parameter bu

[2017-10-13 20:14] shockey commented on #3229
@nfroidure, removing `SwaggerUIStandalonePreset` entirely, along with `layout: "StandaloneLayout"`, should work as well :smile:

[2017-10-13 20:16] shockey commented on #3759
Hi @ganeshmuthuvelu!

Thanks for the report - unfortunately, Swagger-UI 2.x (which you referred to in your screenshot) is no longer under development. We'd be happy to consider any suggestions about the rendering in Swagger-UI 3, though!

Closing as 2.x wontfix.

[2017-10-13 20:16] #3759 closed

[2017-10-13 20:27] shockey commented on #3372
Great! Glad you got it working.

Closing!

[2017-10-13 20:27] #3372 closed

[2017-10-14 14:15] jcferrer opened #3761 "enum values not displayed in example/model view (resubmitted using template)"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         | Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.3.1
| How did you install Swagger-UI? | embedded in swagger-tools module
| Which browser & version?        | Safari Version 11.0 (12604.1.38.1.7)
| Which operating system?         | macOS Sierra Versi

[2017-10-15 13:39] craffael opened #3762 "readOnly fields of a definition are not shown in example response of array type."
If we define a definitions object with readOnly properties and reference it from a response (that returns an array of objects), the readonly fields are not shown.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.x
| How did you install Swagger-UI?

[2017-10-15 14:05] owenconti commented on #3744
@gest80 I believe this was fixed and released this week with https://github.com/swagger-api/swagger-ui/pull/3751

Could you please verify this is fixed on petstore.swagger.io or editor.swagger.io?

[2017-10-15 14:14] owenconti commented on #3757
@webron is the fix here to allow `^x-` extensions to exist, but never render them anywhere?

[2017-10-15 14:48] owenconti commented on #3762
@craffael Can you please tell us your exact swagger-ui version? You can find it by running `window.versions.swaggerUi` in the console.

When I test your example spec against the latest (3.3.2 on petstore.swagger.io), I see the following:

<img width="1241" alt="screen shot 2017-10-15 at 8 47 53 am" src="https://user-images.githubusercontent.com/791222/31585827-9295b5e8-b185-11e7-879e-b2354a66e276.

[2017-10-15 15:15] craffael commented on #3762
Hmm I tried to run `window.versions.swaggerUi` in the console but this was not supported. I tried to figure out the actual version for a bit but ultimately just switched to the v3.3.2 docker tag (which should correspond to 3.3.2 git branch) and the problem was resolved.
It might have been caching issue in my browser, I'm a bit puzzled. But the issue is definitely resolved. Thanks for looking into

[2017-10-15 15:15] #3762 closed

[2017-10-15 22:57] scottohara opened #3763 "$ref downloading doesn't use requestInterceptor"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.3.2
| How did you install Swagger-UI? | git checkout, dist dir
| Which browser & version?        | Chrome 63
| Which operating system?         |  macOS 10.13

### Demonstration API definition

1. The

[2017-10-16 01:07] shockey commented on #3763
I overlooked this detail 😬  the initial fetch is handled in Swagger-UI, but Swagger-Client handles $ref resolution.

Relevant code is here: https://github.com/swagger-api/swagger-js/blob/master/src/resolver.js#L5

[2017-10-16 02:02] masterof0 commented on #3518
I am having a similar issue where the UI does not show enum options for parameters in the default view or the 'try it out' view. I only get a string input. In this particular example. I have defined values for category, but they do not show in the UI

![enum](https://user-images.githubusercontent.com/565883/31592199-283877fa-b1ec-11e7-8c71-cc95d33c3c29.jpg)

[2017-10-16 09:17] Rinzwind commented on #3665
@shockey: What's the number of the issue I should be keeping an eye on to know whether that feature's been fixed / added?

[2017-10-16 09:28] CarstenRilke commented on #3763
@shockey: Thanks for the very fast fixing of #2793 !
Unfortunately, the behavior described here prevents the modular desing of "protected" APIs.
This is a very important design / documentation element for us because we have hundreds of reusable payloads in our interfaces.

Is it foreseeable when the Swagger-Client will support handling the $ref URLs from a protected server?

[2017-10-16 09:39] spmanjunath opened #3764 "Swashbuckle.AspNetCore (1.0.0): Uncaught RangeError: Invalid string length"
'Swagger UI' for an asp.net core application is not listing few of the API's.  The error logged in the browser console is "Uncaught RangeError: Invalid string length", there is no other information displayed.  The generated swagger.json file is valid, and i have attached for reference.

I used both chrome Swagger-UI extension and the one exposed by .net web application (via Swashbuckle.AspNetCore)

[2017-10-16 09:40] siluri opened #3765 "cannot ignore spring variables"
cannot ignore spring variables like HttpSession or HttpRequest

`<springfoxVersion>2.5.0</springfoxVersion>`

Sample:
[code]
Both doesnt ignore HttpSession
`@ApiParam(hidden = true) HttpSession session` `@ApiIgnore HttpSession session`

Always get following error:
[code]

[2017-10-16 10:55] gsviteri commented on #1919
Hi, I am still having performance issue in a relatively small spec file (16 tags + 107kb).
Running an swagger old version the API loading + rendering time was nice and fast.
Due to new specification combined with the redesign of our website, we decided to update SwaggerUI and after updating to tag:v2.2.10 the loading time goes up to 38seconds.
3 days ago a new version has been released but sadly f

[2017-10-16 12:44] TopDstar opened #3766 "return "Unknow response type" when response is gzip Encoding"
version: 3.3.2
issue: Return 200 status, but can not analysis response content. return "Unknown response type".

swagger.json:
![default](https://user-images.githubusercontent.com/12229551/31612649-fb12d852-b2b2-11e7-9a7c-e7f1530f1916.png)

Chrome debug:
![default](https://user-images.githubusercontent.com/12229551/31612622-e0d60bee-b2b2-11e7-83cb-62acdb4d92ae.png)

![default](https://user-images.

[2017-10-16 13:12] bungoume opened #3767 "Swagger-ui 3.3.2 can not parse markdown's url"
Swagger-UI 3.3.2 seems to be unable to successfully parse markdown 's url.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.3.2
| How did you install Swagger-UI? | cdnjs
| Which browser & version?        | chrome61
| Which operating system?

[2017-10-16 18:52] shockey commented on #3763
@CarstenRilke, I can't give an estimate on this - it depends on how much work is involved in handing off the UI's interceptors to the Swagger-Client resolver.

I'll be taking a look at it within the next couple of days, but no estimate on a fix. Stay tuned!

[2017-10-16 18:59] webron commented on #3761
While this _is_ a bug, you can easily overcome it by explicitly adding the type.

[code]

[2017-10-16 19:01] webron commented on #3744
Assuming the 👍 means it's working as expected. Reopen otherwise.

[2017-10-16 19:01] #3744 closed

[2017-10-16 19:02] webron commented on #3757
@owenconti 'never' is such a harsh word. The idea is that the information should be available for user plugins to access, but at the moment not display them.

[2017-10-16 19:43] shockey commented on #3518
@masterof0, I think you're describing a related, but different issue. We'd appreciate it if you would open a new ticket for that!

[2017-10-16 19:46] shockey commented on #3765
Hi @siluri, at first look this appears to be related to how Springfox is generating your Swagger document, not Swagger-UI's rendering.

Please open your ticket there, but if the problem does end up to be with Swagger-UI, feel free to bump this issue and I'll reopen it.

Thanks!

[2017-10-16 19:46] #3765 closed

[2017-10-16 19:57] shockey commented on #3757
IMO, this issue is a good fit for the approach used in https://github.com/swagger-api/swagger-editor/issues/1343 - create an "evil" definition that has `x-whatever` values in each position that the specification allows (is it all positions? the 2.0 spec allows for extensions on a per-type basis, so it's not immediately clear where they _aren't_ allowed).

[2017-10-16 20:01] shockey commented on #3594
This was just fixed in https://github.com/swagger-api/swagger-js/pull/1156. Swagger-UI will receive the patch as part of our release this Friday 🎉

Closing!

[2017-10-16 20:01] #3594 closed

[2017-10-16 20:31] webron commented on #3665
#3641

[2017-10-16 20:42] paveltrufi opened #3770 "No operations defined in spec! in last swagger-ui-express, swagger-jsdoc and swagger 2.0 specification"
I'm using theese packages to generate my Swagger UI with its specification:
* [swagger-ui-express](https://github.com/scottie1984/swagger-ui-express)
* [swagger-jsdoc](https://www.npmjs.com/package/swagger-jsdoc)

Currently, this is the JSON I am receiving ([image](https://goo.gl/kuZ1MX)) from http://localhost:3000/swagger.json, but swagger-ui doesn't recognize it as a proper JSON ([image](https:/

[2017-10-16 20:44] webron commented on #3764
Can't seem to reproduce it with the current version of the UI. We don't maintain the chrome extension nor the one exposed by the .net web application, so I have no idea which versions those would be. The issue template contains details how to figure the version out, but you chose to completely ignore it.
FWIW, the API definition is not valid as it has references to models that don't exist.

[2017-10-16 20:44] #3764 closed

[2017-10-16 20:48] webron commented on #1919
Thanks everyone for the feedback. Each API document that we get helps us with evaluating the different issues. As you can imagine, performance tuning is an ongoing process and we slowly make improvements for it. There's are a few major changes in the works that would benefit performance and other parts of the app - but those take time.

For those of you who can't share the definitions publicly, yo

[2017-10-16 20:57] webron commented on #3766
Your server is returning content without setting the `content-type`. That's a bad server. Teach it a lesson!

[2017-10-16 21:04] webron commented on #3767
@owenconti Sanitization strikes again?

[2017-10-16 21:15] shockey commented on #3767
Fixed by #3768 🎉

[2017-10-16 21:15] #3767 closed

[2017-10-16 21:16] webron commented on #3770
Please re-file the issue following the issue template. We need the API definition as a file (we're not going to hand-type it from the image to test it), and we need to know exactly which version of swagger-ui you use.

[2017-10-16 21:16] #3770 closed

[2017-10-16 21:21] paveltrufi commented on #3770
Ok so there was an error in mi program: as I am using Typescript in my development, I was exporting the Object created by swagger-jsdoc like this
[code]
for some reasons this made the hole object be enveloped by the "default" key. The way I solved it is to use the module.exports sentence instead:
[code]
So the problem is solved :smile:

[2017-10-16 21:33] awalsh-broadsoft opened #3771 "Examples not showing up for requestBody"
Using swagger-ui 3.3.1 running on Tomcat 9.x, testing with Chrome

I've tried looking up how other have added example(s) to their request body, but I can't seem to find any that work for me.

Here's an example of my openapi.json file:
{
  "openapi": "3.0.0",
  "paths": {
    "/pets/generatePetname": {
      "post": {
        "requestBody": {
          "description": "Generates random pet names",

[2017-10-16 22:24] webron commented on #3771
As you pointed out with #3437, the rendering of the examples is not yet implemented.

[2017-10-16 22:24] #3771 closed

[2017-10-16 23:47] masterof0 opened #3772 "enum for params not registering"
![enum](https://user-images.githubusercontent.com/565883/31640212-8e06f5c8-b2a2-11e7-852f-67a19a16bb46.jpg)
When using enum in parameters, The UI only shows a string box and not the options provided in enum

Version 3.x

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.X
| Which Swagger-

[2017-10-16 23:53] shockey commented on #3772
Thanks, @masterof0!

CC: #3641

[2017-10-17 00:15] masterof0 opened #3773 "Chrome requires --disble-web-security for server variables"
Server variables only render when running Chrome with --disable-web-security

Version: 3.X

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |   Bug
| Which Swagger/OpenAPI version?  | 3.X
| Which Swagger-UI version?       | 3.X
| How did you install Swagger-UI? | git clone
| Which browser & version?        | Chrome 61
| Which oper

[2017-10-17 01:20] masterof0 opened #3774 "Never prompted for authentication"
I am currently set up for basic auth. When I test any of the endpoints, I get a 401 and am never prompted for credentials. If I run Chrome with --disable-web-security, I am prompted as expected.
This also holds true for Firefox

I originally noticed this problem, but attributed it to CORS, but I think I have that issue resolve (no errors) but the authentication issue still persists

| Q

[2017-10-17 02:05] webron commented on #3773
@masterof0 thanks for the issue, however, the spec you provided doesn't have server variables defined in it...

[2017-10-17 02:09] webron commented on #3774
It's unclear at what point the basic auth is set up for - is it to load the UI? the API definition? executing a call?

[2017-10-17 02:37] TopDstar commented on #3766
Hi @webron , thank you very much! You are right, it works when add content-type into headers of server response.

[2017-10-17 02:37] #3766 closed

[2017-10-17 02:38] masterof0 commented on #3773
Apologies. I updated the gist to reflect the server variables

[2017-10-17 02:40] masterof0 commented on #3774
When executing an API call.

[2017-10-17 02:57] webron commented on #3773
Which exact version of the UI do you use? Tried loading it now in Chrome 61 with no issues.

[2017-10-17 02:58] webron commented on #3774
The current version of Swagger-UI doesn't support authentication at all for 3.0.0 call executions. You can see that it's in our #3641 ticket. This feature is slated to be implemented and pushed by the end of the week.

[2017-10-17 03:04] masterof0 commented on #3774
Apologies for the redundant ticket. Thank you

[2017-10-17 03:16] webron commented on #3774
No worries. It's better to get too many reports than no reports at all. Can never know when we might miss something. I'll be closing the ticket for now, but keep an eye out for this week's release!

[2017-10-17 03:16] #3774 closed

[2017-10-17 03:25] masterof0 commented on #3773
I just did a git pull and it seems to be working. Thank you again

[2017-10-17 03:33] webron commented on #3773
Awesome, thanks for checking and reporting back.

[2017-10-17 03:33] #3773 closed

[2017-10-17 09:59] makeshitdev opened #3775 "Swagger UI 3 message box is not allowing to enter space"
I am using swagger UI 3 - master and dist package
Message box input type is string and when i enter the message with space , it doesn't allow that.
The message box came up with default value as {} and not able to remove that.

the same kind of issue has been reported here.But still i am getting the same issue
https://github.com/swagger-api/swagger-ui/issues/3271

[2017-10-17 19:24] shockey commented on #3731
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-17 19:24] #3731 closed

[2017-10-17 19:24] shockey commented on #3741
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-17 19:24] #3741 closed

[2017-10-17 19:24] shockey commented on #3750
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-17 19:24] #3750 closed

[2017-10-17 19:24] shockey commented on #3724
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-17 19:24] #3724 closed

[2017-10-18 09:01] JulieHakobyan opened #3776 "index.html does not created using build operation!"
I have some changes in dist\index.html ( I change the url)  and after I build using 'npm run build ' index.html does not created, may be it cannot be created or there are another solution?

[2017-10-18 13:19] florent-pasquer-needone commented on #2946
Tip : add composition value with the model title :

=>

[2017-10-18 16:19] gmartinezsan commented on #3059
@skors @jb08 I downloaded the latest source code  from swagger-editor and swagger-ui. All worked fine but cannot get the swagger ui to load a local file instead the default Petstore example.
Is this still an issue?
Thanks in advance,
-gabriela

[2017-10-18 17:02] jb08 commented on #3059
@gmartinezsan modify this [line](https://github.com/swagger-api/swagger-ui/blob/master/dist/index.html#L77) to point to your swagger json.

[2017-10-18 17:11] gmartinezsan commented on #3059
@jb08 I copied my swagger.json to the dist folder and changed that line too.

my /swagger/swagger-editor/swagger-ui/dist/index.html file has:

window.onload = function() {

  // Build a system
  const ui = SwaggerUIBundle({
    url: "swagger.json",
    dom_id: '#swagger-ui',
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins

[2017-10-18 20:35] shockey commented on #3776
Hi @JulieHakobyan!

`dist/index.html` is _not_ a generated file. It's a bit of an anti-pattern, but we decided to keep it in `dist` for backwards compatibility with older versions of Swagger-UI.

You should be able to modify `dist/index.html` to suit your needs without needing to build the project.

Does this help?

[2017-10-18 20:38] jb08 commented on #3059
your service should be serving the `swagger json`, like the one at the [petstore](http://petstore.swagger.io/v2/swagger.json). Then, `url` should be a full url like `localhost:5000/swagger.json`. If you paste in the json to the dist directory, that ?may possibly work, but you would still need a full url, like `localhost:5000/api-docs/swagger.json`

[2017-10-18 20:40] jb08 commented on #3059
^^@gmartinezsan the issue above was for bug in swagger-ui `v3.0.9` that has long since been fixed by the current release `v3.3.2`

[2017-10-18 20:56] leehicks commented on #3641
Is there an update on when Authentication/Authorization will be supported by the UI? We used the "authorizations" in 2.0 heavily and are wanting to release with 3.0 support soon. This is a big missing piece for us. I saw mention in #3774, #3705, #3665 that it is being worked on in this issue number.

[2017-10-18 22:21] webron commented on #3641
Yup. The authorization should be included by in this week's release. Keep in mind it's more about compatibility with what existed in 2.0 (base auth, oauth2, and api key). That means that OIDC is _not_ going to be available yet. As for bearer (JWT!), that _might_ be in, but @shockey would be able to verify.

[2017-10-18 22:22] shockey commented on #3641
[code]
will be supported 😄

[2017-10-18 22:23] webron commented on #3641
O.M.G. !!!! !! ! 😱

[2017-10-18 22:25] webron commented on #818
For those of you who are migrating to OAS3 and use JWT... take a look at https://github.com/swagger-api/swagger-ui/issues/3641#issuecomment-337745237.

[2017-10-19 07:53] haqqi opened #3781 "Wrong content type for sending multipart/form-data for version 3.3.2"
There is similar issue, #3009, but that is for swagger ui 2.x. This is for 3.3.2.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.3.2
| How did you install Swagger-UI? | Using dist folder to my localhost
| Which browser & version?        | Fire

[2017-10-19 08:16] mooths opened #3782 "Failed to load spec with no error message"
Tries to load a swagger JSON data from a swagger.NET  example using the following URL:

http://localhost:53683/webDemo/swagger/docs/v1

I can se in fiddler that the example WebAPI returns the json in UTF8 format:

HTTP/1.1 200 OK
Cache-Control: no-cache
Pragma: no-cache
Content-Type: application/json; charset=utf-8
Expires: -1
Server: Microsoft-IIS/10.0
X-AspNet-Version: 4.0.30319
X-SourceFiles: =

[2017-10-19 08:29] haqqi opened #3783 "Wrong font color for description in the responses block"
In swagger 3.3.2, using openapi 3.0.0, the description in the response list cannot be read. I suppose it is because of wrong font color.

Note: Using dist folder version of the release.

![image](https://user-images.githubusercontent.com/831763/31761455-22165e34-b4e2-11e7-8a19-5cbc39109165.png)

[2017-10-19 10:39] wiesson commented on #3783
I can confirm the error.

Wanted color:
[code]
but got overridden by:
[code]

[2017-10-19 10:58] dirkschneemann opened #3784 "Missing file browser in "Try it out" for multipart/form file uploads"
Previously (in OpenAPI 2.0), when creating an endpoint which takes a file upload via a `multipart/form` `POST` request, the `Try it out` section in Swagger UI showed a `Choose File` button to select a file from my harddisk which then got uploaded when clicking the `execute` button.

Following [the docs on how to do such uploads in OpenAPI 3.0.0](https://swagger.io/docs/specification/describing-req

[2017-10-19 11:49] skonx opened #3785 "Cookie not send using swagger-ui 3.3.2 and OpenAPI 3"
Hi folks.

I cannot send cookies using the latest docker image of swagger-ui (3.3.2) with OpenAPI3. Obviously, I get the same behavior with the git src.
Request is sent but Cookie field is empty.
I've thought it was now supported. Probably my bad but I'd like to check.
Cheers.

[code]

[2017-10-19 15:55] sithmein commented on #2651
It seems that for OpenAPI 3.0.0 files examples are not shown at all:
[code]

[2017-10-19 16:27] aphilpotts opened #3786 "fetching resource list: http://localhost:53649/swagger/docs/v1"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2017-10-19 16:28] #3786 closed

[2017-10-19 16:28] aphilpotts commented on #3786
Accidentally opened

[2017-10-19 18:11] drjrakesh opened #3787 "Asterisk not displayed in swagger ui page"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2017-10-19 18:14] drjrakesh commented on #3787
![swagger-ui-git](https://user-images.githubusercontent.com/15839843/31786834-b09439b6-b4be-11e7-9f6b-9d21fcce1aa0.PNG)

[2017-10-19 19:03] webron commented on #3787
This is an issue with the java tool you're using. The values need to stay escaped when converted to JSON and they are not.

[2017-10-19 19:03] #3787 closed

[2017-10-19 19:14] webron commented on #3782
Very likely to be a [CORS](https://github.com/swagger-api/swagger-ui#cors-support) issue.

[2017-10-19 19:48] shockey opened #3788 "OAS 3.0 Form Data Try-It-Out object serialization"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.3.2
| Which browser & version?        | Chrome 61
| Which operating system?         | macOS High Sierra

### Demonstration API definition

[code]

### Expected Behavior

I expect my request body va

[2017-10-19 19:56] heldersepu opened #3789 "Errors showing when nulls present in the swagger.json"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | Latest
| Which Swagger-UI version?       | Latest
| How did you install Swagger-UI? | Via Swagger-Net
| Which browser & version?        | Chrome
| Which operating system?         | Win10

### Demonstration

http://nhc-noaa.azurewebsites.net/

[2017-10-19 21:09] shockey opened #3791 "OAS 3.0 Try-It-Out fails when `servers` is not defined"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.3.2
| How did you install Swagger-UI? | dev server
| Which browser & version?        | Chrome 61
| Which operating system?         | macOS High Sierra

### Demonstration API definition

[code]

###

[2017-10-19 22:28] #3783 closed

[2017-10-19 22:28] webron commented on #3009
Going to close this one as it's an older version of the UI.

[2017-10-19 22:28] #3009 closed

[2017-10-19 22:34] webron commented on #3781
Support for 'form data' parameters in OAS3 is not fully implemented yet and that's covered in #3641.

`openapi: 3` is not valid.

In order to check the last problem, we'd need the full spec and to know if there's a specific action that triggers or or is it right after load.

[2017-10-19 22:37] webron commented on #3784
Closing in favor of #3641.

[2017-10-19 22:37] #3784 closed

[2017-10-19 22:40] webron commented on #3789
They raised that issue because I asked them to. `null` is not a valid value making the API definition invalid, and yes, that might end up breaking the UI. Closing as `won't fix`.

[2017-10-19 22:40] #3789 closed

[2017-10-19 22:53] heldersepu commented on #3789
@webron
I'm curious... why is ```null``` invalid?
according to [the json specs](http://www.json.org/) null is a valid value.

I will definitely try to help them, but if they can not provide a

[2017-10-19 23:01] webron commented on #3789
Oh, it's valid in JSON, it's not valid in OpenAPI. In 2.0, the only fields that can have a `null` value are extensions. In 3.0.0, they are also supported in examples.

If you look at the OpenAPI spec, you'll see that each field specifies the type that's allowed for it. It can either exist with that type as a value, or not exist at all (unless it's required, meaning you have to provide a value with

[2017-10-19 23:06] heldersepu commented on #3789
Thanks, and from a size point of vie it makes a lot of sense!
with the nulls the file is 1213KB after cleaning it goes down to just 212KB

[2017-10-19 23:09] webron commented on #3789
Yup, that's a tiny improvement ;) (which is why I never recommend sending `null`s over the wire unless they have a meaning). If it makes you feel any better, we had a similar issue in swagger-core a few years back and had to solve it there as well. It was just a matter of telling the serializer to not serialize null fields.

[2017-10-19 23:12] heldersepu commented on #3789
Ye, I think that is where the problem is, they probably using a custom serializer...
but they have not provided a minimal project reproducing the issue, without that troubleshooting is very difficult.

Thanks again

[2017-10-19 23:55] #3791 closed

[2017-10-20 01:45] shockey commented on #3763
Good news - this is fixed!

The patch will be released tomorrow evening as part of our weekly release.

Thanks for the report, @scottohara!

[2017-10-20 01:47] scottohara commented on #3763
You do an amazing job, @shockey. Many thanks.

[2017-10-20 06:05] xquery-guy opened #3792 "Markdown links not working in description object within path item object"
I've got a bug here related to having links in the markdown in the description object in a path item object. The link part shows as blue, but clicking does not take you to the link and highlighting it does not show the link at the bottom left of the browser page. Also when highlighting, only the normal cursor shows, not the little hand with the finger pointing.

Here is an example:
"paths": {

[2017-10-20 06:52] CarstenRilke commented on #3763
Thanks for the fast fix!
I'm really looking forward to the new release.
... an incredible response speed, Thank you!

[2017-10-20 07:05] shockey commented on #3792
Yep, this was a regression! It was previously reported in #3767, and patched in #3768. The fix will be released Friday evening as part of our weekly release. Sorry for the inconvenience!

Closing this as a duplicate of #3767; feel free to reply if you have any thoughts or questions. Thanks for the report!

[2017-10-20 07:05] #3792 closed

[2017-10-20 07:19] mooths commented on #3782
Yep. Took me a while. Fixed it. I had to add the **access** stuff to the .vs applicationhost.config file for my VS.
[code]
Thank you for the swift reply.

However, a fault message with a hint would have been nice. Can't we check the coors stuff, or lack thereof in the response header when this fault appears?

[2017-10-20 07:36] xquery-guy commented on #3792
Thank you for the quick response, good to hear!

Sent with BlackBerry Work
(www.blackberry.com)

From: kyle <notifications@github.com<mailto:notifications@github.com>>
Date: Friday, Oct 20, 2017, 2:05 AM
To: swagger-api/swagger-ui <swagger-ui@noreply.github.com<mailto:swagger-ui@noreply.github.com>>
Cc: Renshaw, Dennis B <dennis.renshaw@optum.com<mailto:dennis.renshaw@optum.com>>, Author <author@n

[2017-10-20 08:28] haqqi commented on #3781
Noted for the form data parameter not yet supported.

For the last problem, i think it happens when i click "Execute" button. Seems like it is related with the support of form data. Because for application/json content type, it is no problem.

[2017-10-20 12:12] MockingbirdME commented on #2834
I'd like to +1 this as well; we just implemented Swagger-UI into our documentation and I'd love to collapse models, but not tags, by default.

[2017-10-20 12:39] peterleng opened #3794 "now,how to enable translation ?"
now,how to enable translation ? do not have **lang** directory ,where is it?

[2017-10-20 15:43] shockey commented on #3794
Hi @peterleng - what version of Swagger-UI are you using?

[2017-10-20 17:25] shockey commented on #3782
Unfortunately, when there is a CORS error, a response never comes back to the application. The browser halts the request and reports a network error back to the application, so it's not possible for us to identify CORS errors specifically.

More information here: https://stackoverflow.com/questions/4844643/is-it-possible-to-trap-cors-errors

[2017-10-20 17:27] shockey commented on #3782
More specifically, this paragraph explains why browsers do such a thing:

[2017-10-20 18:15] #3782 closed

[2017-10-20 18:39] cemsbr commented on #3073
I'm not sure whether my problem is included in your discussion. If I change `application/json` to  `application/vnd.api+json` (JSON API content type), the example is not rendered anymore. Could swagger-ui treat `vnd.api+json` exactly like `json` and render the example the same way?

[2017-10-20 21:04] ssathasivan opened #3795 "Passing Authentication Header programattically"
Hi All,

We are using Swagger to implement documentation for our APIs.  Our APIs use OpenId Connect (authorization code flow) for authorization. We are in the process of developing a website that can be used by our customers to try out the APIS.

The website also uses  OpenId Connect(authorization code flow) for authorization.So we want to reuse the bearer token that is generated during the web si

[2017-10-20 21:21] #3263 closed

[2017-10-20 21:55] shockey commented on #3795
Sure, you can use the `requestInterceptor` option to attach any header you'd like.

An example:

[code]

[2017-10-20 21:55] gmartinezsan commented on #3059
Thanks a lot @jb08 !! everything working now with the url.

[2017-10-20 22:10] arturdzm commented on #3432
Authorization code grant should be never used on JS side. I assume this feature is for development environment only, for testing OAuth server.
I think proper way is to use implicit flow for the UI

[2017-10-20 22:50] webron commented on #3432
It's a bit more than that. Swagger-UI is intended to render OpenAPI documents, and give a simple sandbox to test the APIs.

Since all OAuth2 flows can be described, Swagger-UI allows rendering and executing that as well. Does that mean it's recommended? No. Does that mean you shouldn't use it wisely? No. We give the option, it's up to the users to use it as they see fit.

[2017-10-21 02:38] peterleng commented on #3794
Hi @shockey , the version of 3.x

[2017-10-21 02:53] shockey commented on #3785
This is a known issue - it's almost impossible to send arbitrary cookie data to a different origin from within the browser, see https://github.com/swagger-api/swagger-js/issues/1163.

[2017-10-21 07:32] shockey commented on #3641
@leehicks, FYI, support for most 3.0 security schemes were added in tonight's release! Check out the release notes for more info.

[2017-10-21 07:50] bijayy33 commented on #2584
If you are using .NET Core. Using this in startup.cs file

services
.AddMvc()
.AddJsonOptions(x => x.SerializerSettings.ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore);

[2017-10-21 07:51] bijayy33 commented on #534
If you are using .NET Core. Using this in startup.cs file

services
.AddMvc()
.AddJsonOptions(x => x.SerializerSettings.ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore);

[2017-10-21 17:07] skonx commented on #3785
Thank you for your reply @shockey. So, let's wait and see ;)

[2017-10-22 20:14] Download commented on #3432
@webron I think showing people how to shoot themselves in the foot isn't wise.
The client_secret should simply never be in an HTML page. Period. So why do we show it in an example?

[2017-10-22 22:50] scottohara commented on #3763
Have been testing v3.4.0 today...unfortunately I've not yet been able to confirm that this change was successful.

The `$ref` fetches don't seem to be invoking the `requestInterceptor` like the main URL fetch does. This can be seen in the screenshots below:

![image](https://user-images.githubusercontent.com/289327/31867168-19969bec-b7d6-11e7-8842-326225941f00.png)

The `swagger.json` URL correctl

[2017-10-23 05:38] makeshitdev opened #3800 "Input text box with String value is unresponsive while using string with space or new line"
I am using swagger UI 3

In my project i need to fetch  the String value from input text box.

Input text box becomes unresponsive and it doesn't allow the String value with space or new line. When I enter the space in the input text box , this came up with default value as {}  and not able to remove these braces {} .

I found the same issue has been reported already but still i am facing this .

[2017-10-23 06:55] mooths opened #3801 "Descriptions not displayed in C# data carrier"
While testing swagger with Visual Studio 2017 I seem no to get swagger present the attributes of a class in its GUI. The class is used as an parameter to a GET. It is displayed nicely in the GUI as a JSON with its attribute names and types, but no description:

![image](https://user-images.githubusercontent.com/32263892/31875454-88940028-b7ce-11e7-8dc0-fdfd6e13b301.png)

The class looks like this

[2017-10-23 07:58] hkosova commented on #3801
Click the "Model Schema" link - descriptions should be there.

[2017-10-23 08:02] JulieHakobyan commented on #3776
Yes. Thank you!

[2017-10-23 08:12] mooths commented on #3801
And there it is, stupid me! :)
![image](https://user-images.githubusercontent.com/32263892/31878509-a5ff3770-b7da-11e7-869e-97f7173fa97d.png)
Thank you!!!

[2017-10-23 08:12] #3801 closed

[2017-10-23 12:49] makeshitdev opened #3802 ""transfer-encoding: chunked" issue in swagger ui 3"
I am using swagger UI 3.

Our rest service will return a XML file which is bigger in size . So the jersey server sends the response as chunks. But swagger receives the first chunk and discarded the remaining chunks with the below message.
"transfer-encoding: chunked"

Could you please help me to resolve this issue.

[2017-10-23 13:08] danr1979 opened #3803 "Multiple responses using oneOf attribute do not appear in UI"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor,

[2017-10-23 16:05] leehicks commented on #3641
By release notes, do you mean something other than README or commit texts? I pulled the latest and the Auth button shows up and works, but when I try to use the "Try it", using either apiKey or basic http auth, I get a console error in the dist folder usage...

Uncaught TypeError: f.forEach is not a function
    at i (index.js:1)
    at t.default (index.js:1)
    at Object.o [as buildRequest] (ind

[2017-10-23 16:08] QuailOurs opened #3804 "Class 'springfox.documentation.swagger.web.ClassOrApiAnnotationResourceGrouping' is marked deprecated"
![image](https://user-images.githubusercontent.com/17639538/31899854-49bab848-b84f-11e7-8cbe-8d80a0164a4f.png)

[2017-10-23 16:53] webron commented on #3794
@peterleng - there's no support for translations in 3.X yet.

[2017-10-23 16:59] webron commented on #3432
So if a user, wants to test their own API, internally, using swagger-ui, emulating a 'server' side, because that's the kind of API they expose - we should not allow them to do it?

If you're just talking about removing it from the example - maybe. It still needs to be documented.

[2017-10-23 17:03] webron commented on #3800
Please file the ticket using our issue template. You haven't provided enough details.

[2017-10-23 17:03] #3800 closed

[2017-10-23 17:04] #3776 closed

[2017-10-23 17:05] webron commented on #3802
Again, please refile the ticket filling the issue template.

[2017-10-23 17:05] #3802 closed

[2017-10-23 17:07] webron commented on #3803
You've left out a bunch of details from the table - please fill them in.

We also need a full API definition - we can't really test the issue with the snippet you provided.

[2017-10-23 17:08] webron commented on #3641
@leehicks - release notes - https://github.com/swagger-api/swagger-ui/releases/tag/v3.4.0

If you encountered an issue with the implementation, please file a ticket, providing the requested details in the template.

[2017-10-23 17:09] webron commented on #3804
This has nothing to do with swagger-ui.

[2017-10-23 17:09] #3804 closed

[2017-10-23 20:36] stevendearborn opened #3806 "multipart/form-data using Swagger-UI with Petstore Image Upload API"
I searched all of the open issues and I did not see this one, however I would assume that the Petstore APIs work with Swagger UI.
![screen shot 2017-10-23 at 4 35 41 pm](https://user-images.githubusercontent.com/6518685/31911938-46409168-b810-11e7-9df0-d15c4d4cee71.png)

The curl command [within Swagger UI] does not generate the --form/-F arguments for the multipart/form-data parameters, however t

[2017-10-23 20:37] stevendearborn commented on #3806
This is the curl command:
curl -X POST --header 'Content-Type: multipart/form-data' --header 'Accept: application/json' -F additionalMetadata=comment%3D%27so%20cute%27  -F file=@Users/stevendearborn/pictures/Scan.jpeg 'http://localhost:8080/v2/pet/3/uploadImage' --trace-ascii /dev/stdout

[2017-10-23 20:41] stevendearborn commented on #3806
Here is the result in Firefox: closer to expected, however the path to the file is omitted.
![screen shot 2017-10-23 at 4 40 40 pm](https://user-images.githubusercontent.com/6518685/31912161-086ac718-b811-11e7-8ac1-18947081cfde.png)

[2017-10-23 20:51] webron commented on #3806
The lack of `-F` seems specific to Safari. It works well on Chrome and Firefox.

Not sure we can get the full path, but can't really consider that a big issue.

[2017-10-23 21:47] stevendearborn commented on #3806
I will implement a default implementation that reads the binary file input and see if that works [from Swagger UI not curl].  I suspect it will.

[2017-10-24 06:23] makeshitdev opened #3808 "transfer-encoding: chunked issue in swagger"
Our rest service will return a XML file which is bigger in size . So the jersey server sends the response as chunks. But swagger receives the first chunk and discarded the remaining chunks with the below message.

messgae :  "transfer-encoding: chunked"

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAP

[2017-10-24 06:49] makeshitdev opened #3809 "Input text box with String value is unresponsive while using string with space or new line in swagger"
In my project i need to fetch the String value from input text box.

Input text box becomes unresponsive and it doesn't allow the String value with space or new line. When I enter the space in the input text box , this came up with default value as {} and not able to remove these braces {} .

| Q                               | A
| ------------------------------- | -------
| Bug or feature request

[2017-10-24 13:17] deepika06 commented on #3149
Even i am facing the similar problem. The Download API returns with 200 response but i am not able download the file. I see that there is no link to download the file.
I am using latest swagger UI : 3.4.0

[2017-10-24 14:41] FrederikNygaardSvendsen commented on #2495
@longseespace I have the same problem as well. Did you ever find a solution?

[2017-10-24 15:00] longseespace commented on #2495
@FrederikNygaardSvendsen I don't remember the details but seems that this config works for me

[code]

[2017-10-24 15:03] longseespace commented on #2495
Sorry it was the config for `feathers-swagger`. You can read the code here https://github.com/feathersjs-ecosystem/feathers-swagger/blob/c910094b917f775b23f4a2eed7bd9394e68e37dd/src/index.js#L15

Hope this can help

[2017-10-24 16:20] arturdzm commented on #3432
I think its good idea to mention in documentation that specifying secret in public/production UI is not recommended.

[2017-10-24 16:56] webron commented on #3809
@owenconti - I believe you were working on this issue previously?

[2017-10-24 17:16] owenconti commented on #3809
@makeshitdev For that operation, what is the `consumes` value?

[2017-10-24 17:32] banders opened #3811 "Try-it-out Execute button not working for OAS3"
Using swagger-ui v3.4.0, the Try-it-out Execute button doesn't do anything when clicked.

Also, the Authorize button is always present, even if the spec has no security.  Could this be related to the problem with the Execute button?

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  bug
| Which Swagger/OpenAPI version?  | OAS3
|

[2017-10-24 19:08] webron commented on #3811
Looking at the console logs, there's something that triggers a problem. Note that some operations execute fine - like GET /feature/{featureId}.

As for the authorization button, can you file a separate ticket please?

[2017-10-25 05:36] makeshitdev commented on #3809
@owenconti - that operation consumes MediaType.APPLICATION_JSON

[2017-10-25 08:47] hkosova opened #3816 "Authorize button is displayed for non-secured OAS3 APIs"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         | Bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | 3.4.0
| How did you install Swagger-UI? | http://editor.swagger.io
| Which browser & version?        | Chrome 61
| Which operating system?         | Windows 7

### Demonstration API definition
[code]

#

[2017-10-25 10:08] hkosova opened #3817 "Query parameters with allowReserved=false not percent-encoded during OAS3 "Try It Out""
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | 3.4.0
| How did you install Swagger-UI? | http://editor.swagger.io
| Which browser & version?        | Chrome 61
| Which operating system?         | Windows 7

### Demonstration API definition
[code]

[2017-10-25 12:11] owenconti commented on #3809
So what's happening here is that we are trying to "help" you by preventing you from sending an invalid payload to the server.

Essentially, what you are trying to do is send an `application/json` request with a body of `test space` - which I think most would consider invalid.

I think it can be argued whether or not this is the right thing to do automatically for users. @webron ?

[2017-10-25 13:10] hkosova opened #3818 "OAS3 Authorization dialog not updated after loading another API"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | 3.4.0
| How did you install Swagger-UI? | http://petstore.swagger.io
| Which browser & version?        | Chrome 61
| Which operating system?         |  Windows 7

If you load an OAS3 spec with `securit

[2017-10-25 13:15] hkosova commented on #3811
That's issue #3816.

[2017-10-25 13:18] hkosova commented on #3772
Enums seem to work now in the latest UI 3.4.0 and Editor 3.1.12.

[2017-10-25 13:24] rickmzp commented on #2651
I am having the same issue as above.

[2017-10-25 16:47] webron commented on #3809
It should allow you to type anything though. In terms of validation, we can validate it's a json before sending and then trigger the red outline+wiggle.

[2017-10-25 16:51] jonschoning commented on #3325
Could you also use `allOf` , supported by OAS 2.0?  If so, would there be a difference between using the `anyOf`` method?
[code]

[2017-10-25 17:36] webron commented on #3325
`allOf` would actually be better than `anyOf` in this case.

[2017-10-25 17:56] newgene opened #3819 "Rendering "unused" tags in a different way"
OpenAPI specs provide top-level "tags" to list all relevant tags to the API. Some of the tags can be used by each OperationObject to group operations. And it's also common that some tags are not used by any operation. In these cases, I think the rendering of these tags in the current swagger-ui is not ideal, because it shows an empty dropdown for each of "unused" tags, and users have to click to k

[2017-10-25 18:07] shockey commented on #2896
Closing this as 3.x now supports `requestInterceptor` and `responseInterceptor` (see #2793 and the README for more information).

[2017-10-25 18:07] #2896 closed

[2017-10-25 18:24] webron commented on #3819
Why would you define unused tags? Tags are meant for operation grouping. If you don't assign them to any operation, don't define them at all.

[2017-10-25 18:39] newgene commented on #3819
Hmm, these are just general descriptive tag applicable for the API as the whole, not necessary for an individual operation. Is "tags" field there only for the purpose of grouping operations?

[2017-10-25 18:43] webron commented on #3819
Pretty much - https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#tagObject.

[2017-10-25 19:51] newgene commented on #3819
If that's the designed purpose, it's fine then. Maybe for the usability, an empty tag dropdown should disable the expansion and remove the ">" at the end? That way users don't have to click to know a tag dropbox is empty. Ideally, we should expect all "tags" are the "used" ones, but there is no enforcement in the OA specs. For the context, we are developing a domain-specific API registry, it's not

[2017-10-25 20:18] tomjoht opened #3820 "Bug: Can't override servers url in path object"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       |  3.4.0
| How did you install Swagger-UI? | Used the standalone dist bundle
| Which browser & version?        | Chrome, latest
| Which operating system?         | MacOS X

On this Swagger doc page about

[2017-10-25 22:28] awalsh-broadsoft opened #3821 "What's the intended way of customizing SwaggerUI 3.x?"
Is building SwaggerUI with custom files in an npm module the "intended" way to customize SwaggerUI in 3.x?

I'm a total newbie when it comes to customizing SwaggerUI. Swagger's homepage indicates that 3.x should be more customizable, which I find exciting. However, when I try to look into how this is done, I've had trouble finding tutorials or other information.

From the docs inside of the projec

[2017-10-25 22:50] zaheena commented on #3747
Thank you for the fix!

[2017-10-26 00:45] heldersepu opened #3822 "Required object validation"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | latest
| Which Swagger-UI version?       | 3.x
| How did you install Swagger-UI? | Swagger-Net
| Which browser & version?        | Chrome
| Which operating system?         | Win 10

### Demonstration API definition
http://swashbuckletest.azu

[2017-10-26 00:59] heldersepu opened #3824 "ToolTip for elements with validation errors"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature
| Which Swagger/OpenAPI version?  | Latest
| Which Swagger-UI version?       | 3.x
| How did you install Swagger-UI? | Swagger-Net
| Which browser & version?        | Chrome
| Which operating system?         | Win 10

### Demonstration API definition
http://petstore.swagge

[2017-10-26 01:04] shockey commented on #3795
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-10-26 01:04] #3795 closed

[2017-10-26 09:05] Rinzwind commented on #3325
@webron: I am not sure whether the [example given by @jonschoning](https://github.com/swagger-api/swagger-ui/issues/3325#issuecomment-339396192) has the intended semantics.

The [section on “allOf” in the JSON Schema Validation proposal](https://tools.ietf.org/html/draft-wright-json-schema-validation-00#section-5.22) says: “An instance validates successfully against this keyword if it validates su

[2017-10-26 12:21] amochohan commented on #3445
It looks like this is still an issue for `readOnly` attributes which refer to objects. If I expand on the original example:

[code]

The `another_attribute` will still be displayed in the `requestBody` example.

[2017-10-26 12:28] hkosova commented on #3445
@amochohan, `$ref` works by overwriting all of its sibling attributes, so `readOnly` does not actually have effect in your example. You'll need to use something like:

[code]
A similar issue was discussed in https://github.com/swagger-api/swagger-ui/issues/3325#issuecomment-334139931.

[2017-10-26 13:05] hkosova opened #3826 "XML rendering for array-level examples uses duplicates of the 1st array item"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0, 3.0
| Which Swagger-UI version?       | 3.4.0
| How did you install Swagger-UI? | http://editor.swagger.io
| Which browser & version?        | Chrome 62
| Which operating system?         | Windows 7

### Demonstration API definition
2.0

[2017-10-26 13:43] amochohan commented on #3445
Thanks @hkosova, apologies if this wasn't the correct medium through which to have raised this.

[2017-10-26 14:16] Magrangs opened #3827 "Scopes added to query params even when empty."
Issue originally raised here with not much luck: https://github.com/domaindrivendev/Swashbuckle/issues/988

The scopes query param is added when the scopes array is empty, I think the issue lies here:

https://github.com/swagger-api/swagger-ui/blob/master/src/core/oauth2-authorize.js

change

[code]
to

[code]
This would check the scopes length before adding it as a query param (obviously 0 < 0 is

[2017-10-26 14:22] #3827 closed

[2017-10-26 14:25] heldersepu commented on #3233
@gmartinezsan Do you still have the problem? Can you send us your swagger.json?

[2017-10-26 14:56] xavave commented on #3036
Hi for bearer token:
in index.html:
  <input id="bearer-code-input" type="text" placeholder="Enter Bearer Token here" style="width: auto" value="yourtoken" />
then in SwaggerUIBundle constructor:
 const ui = SwaggerUIBundle({
...,
 requestInterceptor: function (req) {
                    req.headers = {
                        'Authorization': 'Bearer ' + document.getElementById('bearer-code-input

[2017-10-26 15:08] jonschoning commented on #3325
@rinzwind at the same time that allOf is interpret the ref is dereferenced, so the net effect results in the nullable being a part of the refs definition.  You can check this understanding by considering how allOf works with appending properties to a ref with allOf

[2017-10-26 15:45] webron commented on #3325
Actually, @Rinzwind's point is correct, and that won't work. However, using `anyOf` also means that any type can be used because of nullable only schema.

[2017-10-26 15:57] webron commented on #3822
@heldersepu that's not a valid spec... in OAS2, query parameters can't be of type object...

[2017-10-26 16:00] heldersepu commented on #3822
Interesting, then the bug is on my side...

[2017-10-26 16:00] #3822 closed

[2017-10-26 16:02] heldersepu commented on #3822
Is there any online tool to validate the spec?

[2017-10-26 16:06] jonschoning commented on #3325
@webron I have a hard time finding a working example of how nullable works https://github.com/OAI/OpenAPI-Specification/search?utf8=%E2%9C%93&q=nullable&type=

[2017-10-26 16:13] webron commented on #3822
Yes, it's the validator badge that's removed in Swashbuckle's UI distribution ;) Check the bottom of the pet store.

[2017-10-26 16:16] webron commented on #3325
If you find that an example is missing, feel free to open an issue on that repo. Not really sure what's not clear about it though.

[2017-10-26 16:34] jonschoning commented on #3325
I find @Rinzwind 's interpretation curious.  if you look the following valid schema (that does not use nullable)
[code]
then following @Rinzwind 's logic :

As far as I understand, `{ Name: "foo"}` validates successfully against the schema `$ref: '#/definitions/models.Feature'`. But `{ Name: "foo"}` does not validate successfully against the schema `properties: Age: type: integer`. Therefore, I ta

[2017-10-26 17:02] jgoodknight commented on #2651
I am having the same issue.  [According to the docs](https://swagger.io/specification/#request-body-examples-57), this is the correct syntax for examples, but it does not appear in the ui.  example(s) singular does, though.  I've made a code snippet which demonstrates this.

`openapi: 3.0.0
info:
  version: V0
  title: Example
  description: Showing how examples does not show up

servers:
  - url:

[2017-10-26 17:19] alexbozhenko commented on #2948
I confirm that with latest swaggerUI from master it is still the case:
"False" will disable validation, and remove the badge:
[code]

"null" will do nothing, and badge still will be there:
[code]

[2017-10-26 17:22] alexbozhenko commented on #2948
Also, passing an empty value via url parameter like this:
`/static/swagger/index.html?url=/api/swagger.json&validatorUrl=`
will disable basge.
Passing null or false via url will still show "error" link at the bottom of the page.

[2017-10-26 21:14] shockey commented on #3772
I'm seeing that as well, @hkosova - I believe https://github.com/swagger-api/swagger-ui/pull/3796 fixed it.

Closing! Feel free to bump this thread if there are any issues going forward.

[2017-10-26 21:14] #3772 closed

[2017-10-26 21:25] shockey commented on #3763
@scottohara, I believe you're right. It appears that Swagger-UI is only providing its interceptors at request time, which doesn't give Swagger-Client the chance to use them in the newly-aware-of-interceptors resolver.

My apologies here, I didn't test the client changes against the UI before shipping. I'll look into this today, hopefully I can patch it up for this week's release.

[2017-10-26 21:46] InhexSTER commented on #3811
Also try it out button fails when using implicit OAuth flow, the lock icon status shows authorized (locked)
`
Uncaught TypeError: Cannot read property 'oauth_implicit' of undefined
    at index.js:1
    at Array.forEach (<anonymous>)
    at m (index.js:1)
    at Object.o [as buildRequest] (index.js:1)
    at actions.js:234
    at utils.js:121
    at bindActionCreators.js:3
    at wrap-actions.js:1

[2017-10-26 21:48] shockey commented on #3811
@InhexSTER, an API definition that reproduces that would be helpful 😄

[2017-10-26 21:51] Rinzwind commented on #3325
@jonschoning As far as I understand, the following is meant by “Allows sending a `null` value for the defined schema. Default value is false.”: “When `true`, allows sending any value; when not present or `false`, allows sending any value except `null`.”

Rewording the definition according to the terminology employed in JSON Schema Validation (using in particular the wording for [“uniqueItems”](htt

[2017-10-26 21:51] InhexSTER commented on #3811
[code]

[2017-10-26 22:02] jonschoning commented on #3325
Ok, I understand how, thank you.

It seems one cannot simply specify a ref should be nullable then with anyOf or allOf without also changing what validates per Ron's comment

[2017-10-26 22:06] #3763 closed

[2017-10-26 22:08] shockey commented on #3763
Okay, this should be working now - I tested it on my end before merging #3830.

This will be released tomorrow evening as part of our weekly release.

Thanks everyone!

[2017-10-26 22:55] #3816 closed

[2017-10-27 13:40] hkosova commented on #3545
This seems to work in Editor 3.1.12.
@shockey could you please confirm?

[2017-10-27 14:07] Yuzvin commented on #2695
I had the same problem. After spending a lot of hours, i found this solution - use https://github.com/iheartradio/play-swagger, and next manual works for me: https://github.com/iheartradio/play-swagger/blob/master/docs/AlternativeSetup.md
For Play 2.6 i've used this dependency:
`"com.iheart" % "play-swagger_2.12" % "0.6.2-PLAY2.6"`

[2017-10-27 23:58] shockey commented on #3811
OP's issue is due to a problem with string enums - looks like the first option is displayed as selected, but the actual staged request has an empty value for the required parameter (in this case, `outputFormat`). Manually setting the enum value lets the request fire as expected.

[2017-10-27 23:59] shockey commented on #3811
@InhexSTER, I'm not able to reproduce the problem you're having based on that definition - it sounds like a different problem from the above, though, so please open a new issue (along with a full OpenAPI definition that demonstrates the problem) and I'll happily look at it. Feel free to @ me in the issue.

[2017-10-28 05:10] shockey opened #3832 "Large response bodies cause hanging"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.4.0
| How did you install Swagger-UI? | local dev server
| Which browser & version?        | Chrome 61
| Which operating system?         | macOS High Sierra

### Demonstration API definition

Swagger

[2017-10-28 05:11] shockey commented on #3832
cc @webron, would appreciate a priority assignment

[2017-10-28 06:26] shockey commented on #3806
I spent some time on this tonight, and haven't been able to get to the bottom of it yet - I believe it has something to do with the File web API implementation between browsers.

Our curlify function is getting these body values:  `{file: File}` in Chrome and `{}` in Safari. Since it's getting bad data at that layer, I wouldn't expect it to work.

[2017-10-28 06:55] #3811 closed

[2017-10-28 07:03] #3818 closed

[2017-10-28 12:39] pratikpai opened #3836 "Response header types not displayed with openapi 3"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3
| Which Swagger-UI version?       | 3.4.1
| How did you install Swagger-UI? | Without any customization. Just copying the dist folder. The functionality doesn't work on the online swagger ui editor as well.
| Which browser & version?

[2017-10-28 17:34] vectra-tme opened #3837 "Response example not rendering"
Response example not rendering

Response object is not rendering when configured as sister of schema and deletes properties when configured as daughter of schema

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.X
| Which Swagger-UI version?       | 3.4.0
| How did you install Swagger-UI

[2017-10-28 18:11] seanmetrix opened #3838 "broken curl commands for formData with collectionFormat=multi"
engine: Swagger 2.0
swagger-ui - 3.4.1

It looks like collectionFormat=multi is being ignored and it is trying to do csv instead.

Here is a screenshot - https://gmkr.io/s/59f4c80a5e287dbf0e76dc1e/0

Attached is the full swagger config.
[swagger-multipart.zip](https://github.com/swagger-api/swagger-ui/files/1424485/swagger-multipart.zip)

Here is the specific block.

                    {

[2017-10-28 20:57] heldersepu commented on #3832
This is strange!
I swear I've used larger responses without any issues, let me see if I can make one up...

[2017-10-28 21:28] heldersepu commented on #3832
Here is my test:
http://swashbuckletest.azurewebsites.net/swagger/ui/index?filter=Huge#/HugeResponse/HugeResponse_Get
Yes we have a problem even with 100000 it generates a 378K response that takes way to long for my liking

[2017-10-28 22:00] heldersepu commented on #3832
I think that a quick fix will be not to display such a large responses instead show something like github does on diff:
Large diffs are not rendered by default.

[2017-10-29 01:07] Jaza commented on #3749
@bobbyajp @shockey I ran into this issue too - my change in #3840 fixes it.

[2017-10-29 01:59] heldersepu commented on #3832
[Profile-20171028T214335.zip](https://github.com/swagger-api/swagger-ui/files/1424739/Profile-20171028T214335.zip)
Attached is my performance profile I hope that can help troubleshooting.
something in react is taking too long
webpack:///./~/react-dom/lib/DOMChildrenOperations.js?568f
[code]

[2017-10-29 08:47] Rinzwind commented on #3325
Indeed, as far as I understand, a schema like `{"anyOf":[...,{"nullable":"true"}]}` would allow `null`, but also *any* other value. The schema `{"nullable":"true"}` in OpenAPI is not equivalent to the schema `{"type":"null"}` in (pure) JSON Schema. I find the latter easier to understand, I'm not sure why OpenAPI introduced the former. I think I intuitively grasp its meaning, but [as mentioned abov

[2017-10-29 16:55] Download commented on #3432
@arturdzm Yes agreed!
@webron I guess that's a valid use case. But I fear people will put it 'in production' because they don't see any harm. So yes I think a big fat warning is warranted here.

[2017-10-30 07:59] hkosova commented on #3836
On an unrelated note, the `Accept` and `Content-Type` headers are not supposed to be defined explicitly, they are derived from `content.<media-type>`. The following is enough:
[code]

[2017-10-30 08:14] orbex commented on #3219
Maybe this helps...
Firefox (PaleMoon) whines about "mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create" in swagger-ui-bundle.js:12:245

[2017-10-30 08:15] hkosova commented on #3837
This is a duplicate of #3437.

This is expected - according to the spec, the `example` SHALL _override_ (not merged into) any lower-level examples and auto-generated examples.

Try moving your `example` into the `Response` schema - it should give the result you want.

[2017-10-30 08:28] pratikpai commented on #3836
Thanks for pointing that out!

[2017-10-30 08:45] nosisky commented on #2757
I had this same issue but was able to fix it by fixing the typo in my json file.

[2017-10-30 09:00] orbex opened #3841 "Schemes div misaligned"
SwaggerUI v3.4.0
Firefox 56.0.2 (32-bit) / Pale Moon 27.5.1 (64-bit) / Google Chrome 62.0.3202.62 (Official build) (64-bit)

The div.scheme-container is misaligned (see attached screenshots)

Can be fixed by wrapping div.scheme-container inside a div.wrapper

Also the Authenticate button floats too far to the right
Can be fixed by adding padding to the surrounding div
.swagger-ui .auth-wrapper {

[2017-10-30 10:33] BanitaChhabra commented on #3149
Even i am facing the similar problem. Please guide.
The Download API returns with 200 response but i am not able download the file. I see that there is no link to download the file.
I am using latest swagger UI : 3.4.0

[2017-10-30 10:39] makeshitdev commented on #3809
@webron , Should this need to be fixed ?

[2017-10-30 12:25] niwred commented on #3719
Might be unrelated but I had the same effect with an older yaml definition that used to work in older versions of swagger ui. Turned out that this happened when I had required true for my body parameter.
removing required: true fixed it for me.

 post:
      summary: Create new portal type
      tags:
        - Portal Types
      parameters:
        - name: body
          type: PortalType

[2017-10-30 13:47] nkorai commented on #2321
Is this no longer relevant with the new UI? How so? I'm using v3.4.0 and it's still an issue for me as it changes the URL hashes. Granted I am using the dist version.

[2017-10-30 13:58] vectra-tme commented on #3837
Couple of things:
- The response schema is common for multiple endpoinst, but has different values. As an example, for the detection endpoint, next would  be `http://127.0.0.1/api/v2/detction` and for the host endpoint it would be `http://127.0.0.1/api/v2/host`. So I is there a way to customize the examples in the response schema so they are reflective of the endpoint they are referenced?
- Althou

[2017-10-30 15:17] saprak11 opened #3842 "Appropriate access-control-origin settings"
Hello,
I have read numerous issues for enabling CORS issues on here and have enabled CORS on my server but I am still getting the appropriate access-control-origin settings error:
**_Can't read from server. It may not have the appropriate access-control-origin settings._**

1. I have this filter in my Tomcat's web.xml
[code]

2. I can access my swagger.json when I go to the local URL (http://local

[2017-10-30 15:54] bobbyajp commented on #3749
That's great. Thanks for fixing it.

[2017-10-30 19:38] webron commented on #3842
@saprak11 from your description it sounds like you're using an old version of swagger-ui (and you need to mention which version you're using). If that's the case, it's possible the issue isn't a CORS issue but something else, as the error you're getting can appear as a result of other problems. You'd need to look at the browser's console to see more information.

[2017-10-30 20:53] iplayfast commented on #1919
https://github.com/swagger-api/swagger-editor/issues/1541 has example json file that crashes it. Used this code for 2 days, and it appears to be useless.

[2017-10-30 20:58] webron commented on #3837
There's no mix and match for examples. If you define an example, it will be used as-is as the value (whether valid or not). You should not expect the UI to use parts of the values from the example and parts generating from the model itself.

The only way to set an example value to specific parts of the model is by providing the example at the property level - however, once you define a top-level e

[2017-10-30 21:01] webron commented on #3809
Yeah

[2017-10-30 21:25] vectra-tme commented on #3837
That's fair, I will be happy to define examples for a full schema. The problem I am running into is that my response schema is built from two objects
[code]

as soon as I start to configure examples, the reference to the Response renders, but the Detection object gets dropped completely

![substitution2](https://user-images.githubusercontent.com/25333114/32196502-e1fb1f96-bd8e-11e7-80e9-ec4201a128

[2017-10-30 21:28] webron commented on #3832
As @heldersepu suggested, I believe it's fair to limit the size that's being rendered, and if it's larger, make a link to download the result separately. This is not perfect though, as it means running the call again, and for some APIs it won't necessarily return the same result.

[2017-10-30 21:30] webron commented on #3838
You ignored the issue template and so... didn't provide any details on which version you use.

[2017-10-30 21:30] shockey commented on #3832
@webron, we'd be able to store the response string we already received, and allow the user to download it as a file - no second request needed.

As a proof of concept, see the `Save as JSON/Save as YAML` options in Swagger-Editor: we take the current editor content as a string and download it as a file, all from the client side.

[2017-10-30 21:31] webron commented on #3832
That's perfect then.

[2017-10-30 21:42] webron commented on #3837
It would really help to see something more full than snippets.

[2017-10-30 21:44] tomjoht opened #3846 "server object (rather than servers object) not recognized"
When I use a `server` object rather than a `servers` object, it's not recognized by Swagger UI. The curl request submitted doesn't use the URL specified by `server`.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.4.1
| How did you install Swag

[2017-10-30 21:53] metrixsean commented on #3838
my apologies @webron

This is for swagger 2.0

[2017-10-30 21:59] webron commented on #3838
Not referring to the spec version but swagger-ui's version...

[2017-10-30 22:00] hkosova commented on #3846
"Server Object" refers to an item in the `servers` array. There's no `server` keyword. A single server is defined as:
[code]

Swagger Editor reports `server` as an error, by the way.

[2017-10-30 22:03] heldersepu commented on #3832
@shockey & @webron Love the solution! there download link will be awesome!

...but someone should try looking into why the slowdown
You guys don't know any react guru that can truly get to the bottom of the issue?

[2017-10-30 22:04] webron commented on #3846
Adding to @hkosova's reply - the only place where `server` exists is under the Link Object.

As for the examples in the specification (while off topic here) - we tried to give examples of the actual object representation and not within a given context. Some objects can be used in multiple places, not necessarily under the same property name, so that would potentially cause more confusion.

[2017-10-30 22:05] metrixsean commented on #3838
@webron this the latest version from master - which I believe is 3.4.1

[2017-10-30 22:11] webron commented on #3832
In the past, we had issues with the syntax highlighter and large responses, but that doesn't seem to be the issue. I've tested the same API call in both Nightly and Chrome, and they both render fairly quickly (~3 seconds) when the format is JSON. When the format is XML though... that's when it explodes.

[2017-10-30 22:35] shockey commented on #3219
Looks like we're hitting `requestFor` a lot - during every render, for each operation, even if we're not in Try-It-Out mode. This may be contributing to the sluggishness.

[2017-10-30 23:02] dexwiz opened #3847 "XSS Vulnerability with Swagger UI v3"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2
| Which Swagger-UI version?       | 3.x
| How did you install Swagger-UI? | Vendered Distrobution
| Which browser & version?        | Chrome, Safari
| Which operating system?         | -

### Demonstration API definition
Javascript can be

[2017-10-30 23:37] shockey commented on #3806
Okay, found what's wrong! Buckle up, it's a fun one.

The execute code fires the `setRequest` action right before the actual request firing, in order to save the request we're going to fire so we can look at it later. This leads us to the reducer for that action:

https://github.com/swagger-api/swagger-ui/blob/8dab91f184103be794ae2fcfeb67b02126730e88/src/core/plugins/spec/reducers.js#L102-L104

La

[2017-10-31 00:51] vectra-tme commented on #3837
I am attaching my spec. if you view the spec as configured, you will get the full sample for GET /detections. But, if you uncomment lines 65-69, the example breaks the schema and only renders k/v pairs.

[spec.txt](https://github.com/swagger-api/swagger-ui/files/1429204/spec.txt)

[2017-10-31 01:13] shockey commented on #3847
I just patched this, and will release a new version shortly.

Thanks for the report, @dexwiz! In the future, please direct security issues to security@swagger.io instead of our issue tracker, as noted in the README 😄

[2017-10-31 01:13] #3847 closed

[2017-10-31 05:12] tomjoht commented on #3846
Thanks for clarifying. I misread the documentation. It gets a little confusing when the references to the object name switch between being singular or plural. For example, [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#fixed-fields-6) the singular is used, but [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#fixed-fields) some ter

[2017-10-31 06:24] webron commented on #3846
The Swagger project is no longer responsible for the specification itself, so it's not 'you', it's 'they'.

The objects are named based on what they represents. The `Paths` Object contains multiple paths under it, so does the `Components` object. The `Server` object is a single instance of a server. Whereas the `servers` _property_ is an array of Server objects. When writing the spec, we (the OAI)

[2017-10-31 07:50] orbex commented on #3841
NM, found culprit in own custom code :-S

[2017-10-31 07:50] #3841 closed

[2017-10-31 11:40] saprak11 commented on #3842
That was the issue. It was an older version of the UI. Thanks a lot.

[2017-10-31 11:40] #3842 closed

[2017-10-31 12:54] rbjorklin opened #3850 "Free-form query parameters does not seem to work according to spec"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.4.2
| How did you install Swagger-UI? |  https://hub.docker.com/r/swaggerapi/swagger-ui/
| Which browser & version?        | Firefox 56.0
| Which operating system?         | Fedora 26

### Demonstr

[2017-10-31 16:25] InhexSTER commented on #3811
I tried out latest master code and it seems my issue is gone

[2017-10-31 17:41] leehicks opened #3851 "Can no longer disable validator with validatorUrl set to null in dist/index.html"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.4.2
| How did you install Swagger-UI? | git clone, using dist folder
| Which browser & version?        | Google Chrome Version 61.0.3163.100 (Official Build) (64-bit)
| Which operating system?

[2017-10-31 18:24] thompsongl commented on #3459
@shockey, if `wrapComponent` is still your recommendation, would you be able to provide more details on the plugin interface? Beyond the src and test files, I don't see any documentation or usage examples.

Thanks

[2017-10-31 19:27] shockey commented on #3851
Caused by #3848 - the sanitizer expects a string to be passed in.

Sorry for the regression! I'll patch this now, but the fix won't go live until our Friday release. As a workaround, you can set `validatorUrl: ""`.

[2017-10-31 19:45] #3851 closed

[2017-10-31 21:35] webron opened #3853 "Accept header in requests not updated after replacing content.<media-type> in code"
_From @hkosova on October 31, 2017 9:56_

If this is a UI issue and not an Editor issue, let me know.

| Q                                   | A
| ----------------------------------- | -------
| Bug or feature request?             |  Bug
| Which Swagger/OpenAPI version?      | 3.0
| Which Swagger-Editor version?       | 3.1.13 (UI 3.4.2)
| How did you install Swagger-Editor? | http://editor.swagge

[2017-11-01 14:47] gkozyryatskyy commented on #750
Is this already possible with swagger-ui?

[2017-11-01 15:25] SuhovDE opened #3855 "API URL with minus produces error"
Hi,

I have noticed that when swagger-ui is placed under URL with '-' (minus character) API specification is loaded and form works properly, but on the bottom of the page "Error" block is displayed. When you click it the following log is displayed:
[code]

Tested in IE 11 with swagger-ui 3.4.0

[2017-11-01 15:56] thompsongl commented on #3459
Also, I may have some time to help implement `x-` values in core (#3502, as you mentioned). If you could point me in the right direction, @shockey, I think it'd help us both out.

[2017-11-01 20:17] shockey commented on #3545
Appears to work now:

<img width="1418" alt="messages image 4233516752" src="https://user-images.githubusercontent.com/680248/32295553-db0d9294-bf06-11e7-9430-93215d909501.png">
<img width="1418" alt="messages image 871884959" src="https://user-images.githubusercontent.com/680248/32295560-de5832c4-bf06-11e7-9625-4a30ed69da51.png">

Thanks for the report, @hkosova! Some related PR must have fixed t

[2017-11-01 20:17] #3545 closed

[2017-11-01 20:19] shockey commented on #3719
@niwred, please open a new issue, we'd be happy to look into it 😄

[2017-11-01 20:21] rginther opened #3857 "e.replace is not a function error with santizedUrl"
I'm getting these errors that are breaking all of our swagger docs:
[code]

The index.js file is for braintree at this line:
`  var sanitizedUrl = url.replace(ctrlCharactersRegex, '');`

I've noticed there have been a couple PR's merged in recently that could be related to this issue:
https://github.com/swagger-api/swagger-ui/pull/3848
https://github.com/swagger-api/swagger-ui/pull/3852

We are us

[2017-11-01 20:25] shockey commented on #3811
@InhexSTER, glad to hear it! Feel free to bump this thread if the problem crops up again.

[2017-11-01 20:34] rginther commented on #3857
This might be a duplicate of https://github.com/swagger-api/swagger-ui/issues/3851?

[2017-11-01 20:45] #3857 closed

[2017-11-01 21:05] shockey commented on #3832
Okay, I dug into this a bit more, and @webron's note about XML is spot on.

When rendering XML, React spends a _ton_ of time in the `ResponseBody` render function:

<img width="1113" alt="messages image 4167817450" src="https://user-images.githubusercontent.com/680248/32297623-efaebe0c-bf0c-11e7-96b5-d4d17fcc9004.png">

Everything else looks performant, so the good news is that our problem is cont

[2017-11-01 22:25] shockey commented on #3794
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-11-01 22:25] #3794 closed

[2017-11-01 23:44] shockey commented on #3855
Hi @SuhovDE!

It sounds like you're talking about the validator badge, but I'm not certain.

If so: the validation badge uses an external service to validate your definition. If your URL (in your example, `https://some-subdomain.some-domain.com/API/api.json`) isn't accessible from the Internet or requires authentication, the validator badge will fail with an error.

If that isn't the problem - you

[2017-11-01 23:44] #3855 closed

[2017-11-01 23:49] shockey commented on #3846
Closing, as this appears to be an OAS problem.

@tomjoht, the best place to share feedback on the specification documentation, AFAIK, is the [OAI/OpenAPI-Specification](https://github.com/OAI/OpenAPI-Specification/issues) issue tracker :smile: as @webron noted, we (the Swagger-UI team) have no control over it.

[2017-11-01 23:49] #3846 closed

[2017-11-02 01:49] heldersepu commented on #3832
I was looking at the formatXml function and that code smells funny...
Inside that function there is a section where we:
- create an array `types`
- loop over types populating `results`
- finally get the first one of result

It might be late and I'm missing something ...
...or that can be simplified, I'm sending you guys a PR

[2017-11-02 01:52] shockey commented on #3832
@heldersepu, I agree - note that the code was originally taken from an SO answer.

I'd be in favor of using a third-party module to handle the formatting. In the meantime, I'll take a look at your PR 😄

[2017-11-02 02:43] tomjoht commented on #3846
Sorry, the original issue got lost in the discussion about spec clarity. Let me restate it. The issue is that Swagger UI isn't recognizing the servers object when specified at the [operation object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#operation-object) level. If you specify one server at the root level, and another at the operation object level, the server ur

[2017-11-02 02:51] shockey commented on #3846
@tomjoht, no worries!

Yeah, that _is_ a problem. We just don't support it at the moment, though I  expect that to change in the nearish future.

It looks like the problem you just described is covered in #3820. Putting aside the OAS discussion, is there anything we covered in this ticket that #3820 does not?

[2017-11-02 03:13] tomjoht commented on #3846
nope, you can close this. Perhaps from lack of sleep, I forgot that I had already logged #3820. Thanks for your quick reply. Re terminology, I'm still getting used to some of the spec language.

[2017-11-02 08:02] hkosova opened #3859 "Array items with oneOf schemas are rendered as null in examples"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | 3.4.2
| How did you install Swagger-UI? | http://editor.swagger.io
| Which browser & version?        | Chrome 62
| Which operating system?         | Windows 7

### Demonstration API definition
[code]

[2017-11-02 08:12] SuhovDE commented on #3855
Hi @shockey
Yes, I'm talking about validator badge.
When I use localhost like https://localhost/API/api.json the badge is not displayed. But when I even use PC name (also with minus) in URL like https://pc-name/API/api.json (this URL should not be accessible from the internet as well with localhost) it is displayed. In both cases URL is correct and api.json can be loaded, Swagger-UI form works als

[2017-11-02 13:15] nijinillath commented on #1919
Hi @webron , same issue with the page unresponsive while loading swagger UI due to json size (750 KB), the swagger json is code generated using swagger-jersey2-jaxrs. I have send you the Json in email. Thanks in advance.

[2017-11-02 17:52] jakubjosef opened #3860 "Bearer / JWT security definitions is not working"
Hi,
we just testing new version of swagger-ui, the new functions is badly documented so we reverse engineered needed configuration values from source code, but maybe our assumptions were bad.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       | latest from

[2017-11-02 22:48] heldersepu commented on #3832
I think we still have a problem with large responses, my test:
http://swashbuckletest.azurewebsites.net/swagger/ui/index?filter=Huge#/HugeResponse/HugeResponse_Get
that is a json response and it gets uncomfortably slow to render...

I think we should still set a hard MAX for the response size  and provide the download link for those large ones

[2017-11-02 23:17] shockey commented on #3832
@heldersepu, yeah, I see it with your example - the request comes back in under a second, but the rendering takes about ten seconds. I agree with the hard max, but I'd also like to continue looking at the underlying causes and try to address as we go.

Reopening.

Looks like the lion's share of that time (about 8 seconds) is React fiddling with the DOM. The response rendering causes 370(!!) DOM op

[2017-11-02 23:20] shockey commented on #3860
Hi @jakubjosef!

It looks like you're mixing OpenAPI 2.0 and 3.0: `securityDefinitions` is from 2.0, but `type: http`, `scheme: bearer`, and `bearerFormat: JWT` are from 3.0.

All API definitions need to declare their version with either a `swagger: "2.0` or `openapi: "3.0.0"` at the top level of the definition, and follow _only_ the syntax for that version.

I suggest writing your definition with

[2017-11-03 00:40] jakubjosef commented on #3860
We started with pure OpenAPI 3.0 definitions like
`components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  bearerAuth:[]
`

But in this case we don't have any lock icons in swagger-ui, means ho auth available AFAIK.
Maybe it's possible we have bad version declared above this piece of code. Thanks for your help. I'll investigate it m

[2017-11-03 01:00] shockey commented on #3860
@jakubjosef, that should work if you change `  bearerAuth:[]` to `- bearerAuth: []`, since security requirements under `security` need to be arrays.

Here's a minimal example of a definition that will use bearer auth globally:

[code]

[2017-11-03 08:50] mitendraanand commented on #2948
Empty value via url parameter doesn't work for me.
http://localhost:9999/swagger.json?validatorUrl=

Passing null or false via validatorUrl **removes** "error" link at the bottom of the page.

$(function () {
      var url = window.location.search.match(/url=([^&]+)/);
      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = window.location.toString

[2017-11-03 08:54] mitendraanand opened #3863 "In SwaggerUIBundle,validatorUrl set it to null will remove the validator badge is not working."
`  <script type="text/javascript">
    $(function () {
      var url = window.location.search.match(/url=([^&]+)/);
      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = window.location.toString();
        url = url.substring(0, url.lastIndexOf("/docs")) + "/swagger.json" + "?validatorUrl=";
      }
      window.swaggerUi = new SwaggerUi({

[2017-11-03 09:02] mitendraanand commented on #3863
So I ended up commentign below from index.html

[2017-11-03 09:02] #3863 closed

[2017-11-03 10:59] Freemahn commented on #2834
+1 to dwickern's design.

[2017-11-03 12:21] snebjorn commented on #1748
Would it be possible to get a toggleble flag to active/deactivate this "feature"?

The use case is that when running in "development mode" I want to to see the rendered html from fx AspNet error pages. When in "production mode" I have XSS vulnerability converns and thous I want to just show the html as text.

[2017-11-03 14:37] FabianPiconeDev commented on #2757
I had the same issue, it was a typo in `path="/MyProject/MyClass"` in `@SWG\Get(...)`.

[2017-11-03 15:10] jakubjosef commented on #3860
We had wrong version declaration on very first line, thanks a lot for your quick help. I going to close the issue.

[2017-11-03 15:10] #3860 closed

[2017-11-03 15:52] Freemahn commented on #1919
@nijinillath try to collapse 'models' section. After this swagger UI will become responsible and fast again.

[2017-11-03 16:00] shockey commented on #3860
No worries @jakubjosef, glad you got it working 😄 feel free to open another issue if you run into any other trouble!

[2017-11-03 18:02] banders commented on #3788
I am also having a problem with form data in Try It Out.

Using swagger-ui 3.4.2
OAS3 spec: https://raw.githubusercontent.com/banders/api-specs/upgrade-to-openapi3/jobposting/jobposting.json
(See the POST /jobs operation)

Clicking the execute button using the default request body results in a Javascript error on the page.

[2017-11-03 18:21] mrichar1 commented on #3803
The following spec shows nothing in the responses section of the UI - replacing the oneOf section with just an object containing either of the refs and it works fine.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.4.2
| How did you install Swa

[2017-11-03 20:49] webron commented on #3863
FWIW, the `null` value issue was fixed in the last release.

[2017-11-03 21:00] shockey commented on #3656
Closing - going forward, Swagger-UI will ship with MIT-Liscensed versions of React (via #3805) 😄

[2017-11-03 21:00] #3656 closed

[2017-11-03 21:01] webron commented on #3855
@SuhovDE Swagger-UI detects localhost'ed definitions and doesn't display the badge by default. In the case of an internal URL the UI has no way of knowing whether it's accessible or not. You can disable the validator manually by using the parameters as described in the README.

[2017-11-03 21:12] shockey opened #3864 "Test issue UI"
pay no attention

[2017-11-03 21:13] #3864 closed

[2017-11-03 21:16] webron commented on #3864
😱

[2017-11-04 02:57] feenr commented on #3733
Where are these build requirements stated? CONTRIBUTING.md says "Install Node.js (4 or newer) and npm (3 or newer)."

[2017-11-04 02:59] shockey commented on #3733
@feenr, the correct requirements are in the `README.md`: https://github.com/swagger-api/swagger-ui/blob/master/README.md#prerequisites

Feel free to open a PR that corrects the error in `CONTRIBUTING.md` :smile:

[2017-11-04 03:00] feenr commented on #3733
Thanks for the very fast reply. I was just coming to update my comment.

[2017-11-04 16:44] shockey commented on #3788
@banders this seems closely related, so I'll look into that as well. Sorry for the inconvenience!

[2017-11-04 19:09] SubiyaCryolite commented on #2834
+1 to dwickern's design.

[2017-11-06 03:30] feenr commented on #3658
I'm hoping to add this test to familiarize myself with this project.

[2017-11-06 05:47] makeshitdev commented on #3808
@webron  Please let me know when this will be fixed.

[2017-11-06 05:48] makeshitdev commented on #3809
@webron : Please let me know when this will be fixed

[2017-11-06 09:40] niom commented on #3219
I faced this issue too with the latest version (3.4.3).

Downgrading to version 3.2.2 made the UI respond fast when entering parameters / request body on "Try it out" - mode.

I also tested version: 3.4.2 (slow), 3.3.2 (slow), 3.3.0(slow).

[2017-11-06 12:00] michalrus opened #3867 "Can’t get proper paragraphs in Markdown in descriptions"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.4.1
| How did you install Swagger-UI? | From the `dist/` directory in the repo.
| Which browser & version?        | Chromium 62.0.3202.75
| Which operating system?         | NixOS 17.09

### Demonstr

[2017-11-06 22:48] tomergev commented on #1475
I love swagger because it looks great, but it sure is hard to use and is breaking all the time with no reason. All of a sudden, the order of my routes were all mixed up as well

[2017-11-06 22:48] tomergev commented on #1475
{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "8chat",
    "description": "Rest API endpoints\n"
  },
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "user"
    },
    {
      "name": "auth"
    },
    {
      "name": "media"
    },
    {
      "name": "privatechat"
    },
    {
      "name": "groupchat"
    },
    {
      "name": "channel"
    },
    {

[2017-11-06 22:53] shockey commented on #1475
@tomergev, if you're having issues feel free to open a new ticket 😄

[2017-11-07 03:23] vafrcor commented on #713
I had similar issue.
I hope there is a solution for this problem

my parameter config:
[code]

![screen shot 2017-11-07 at 10 17 19](https://user-images.githubusercontent.com/2148366/32475613-53539ba2-c3a5-11e7-8077-76ab27d7e76c.png)

Current solution:
- Add new item to array
- Delete last inserted item
- re-run simulation

[2017-11-07 08:45] SuhovDE commented on #3855
@webron , thank you for the solution.

[2017-11-07 10:52] ninja-inc opened #3871 "Warning from React.js about a missing a "key" prop"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | 3.4.3
| How did you install Swagger-UI? | http://editor.swagger.io
| Which browser & version?        | Chrome 61
| Which operating system?         | Mac Sierra

### Demonstration API definition
http://

[2017-11-07 14:02] nijinillath commented on #1919
Thanks @Freemahn for the response, but using docExpansion: "none" also the UI page unresponsive.

[2017-11-07 14:38] hkosova opened #3873 "Display enums in parameter info"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature request
| Which Swagger/OpenAPI version?  | 2.0, 3.0
| Which Swagger-UI version?       | 3.4.3
| How did you install Swagger-UI? | http://editor.swagger.io
| Which browser & version?        | N/A
| Which operating system?         | N/A

### Demonstration API definition
2.0

[2017-11-07 14:41] hkosova commented on #3518
I opened #3873 about rendering enums in parameter descriptions.

[2017-11-07 18:56] ocdevops opened #3876 "Add filter for operations and make filtering case insensitive"
Feature request: add filter for operations and make it case insensitive

[2017-11-07 19:12] webron commented on #3876
Check out the `filter` parameter - https://github.com/swagger-api/swagger-ui#parameters.

[2017-11-07 19:18] ocdevops commented on #3876
It filters only in the `tag `name not in the name or the description of the operations, and filtering is case sensitive.

[2017-11-07 19:38] markmssd commented on #3578
Facing the same issue, any progress on that? :)

[2017-11-07 20:40] nickpothier1 opened #3877 "Authentication doesn't prompt when re-directing Swagger source"
### Context
I created a cross-site request in Swagger with the following specification:

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.X
| Which Swagger-UI version?       | 3.X
| How did you install Swagger-UI? |  Download Distribution via GitHub
| Which browser & version?        | Ch

[2017-11-07 20:44] dmolesUC3 commented on #3638
I'm still seeing this in 3.4.3:

![screen shot 2017-11-07 at 12 43 02 pm](https://user-images.githubusercontent.com/10374934/32516753-457da5cc-c3b9-11e7-999a-0b94c3981713.png)

You can see this by pasting `https://github.com/dmolesUC3/stash_api/blob/153b5a25b95436df7c76ba0280ae762e3dfc337e/public/openapi.yml` into the [petstore.swagger.io](http://petstore.swagger.io) Explore bar. Is there somethin

[2017-11-08 03:49] shockey commented on #3219
@niom, I'm looking into this issue this week - it would be helpful if you could provide an API definition that reproduces the issue.

It's possible that the root cause of your problems are different from the folks upthread. :smile:

[2017-11-08 04:28] webron commented on #3638
According to the spec, Schema Object's `example` does not support a reference value. You'd have to add the example inline for it to work.

[2017-11-08 04:41] shockey commented on #3877
Hi @nickpothier1! Sorry you're having issues. I see from the `WWW-Authenticate` in your response that your server is using HTTP Basic authorization.

I have some clarifying questions:

Have you defined a Security Scheme and requirement for your Basic authorization? You shouldn't expect that Swagger-UI will give you a chance to provide out-of-band authorization for your requests 😄

If you define yo

[2017-11-08 11:49] eryi commented on #1605
@webron Unfortunately, the latest version doesn't support file download yet #3149

[2017-11-08 13:58] nickpothier1 commented on #3877
Hi @shockey,

Thanks for the quick reply. We do have a security scheme for Basic Authentication:

  "securityDefinitions": {
    "basic": {
      "type": "basic",
      "description": "Basic HTTP Authentication"
    }

As well we did toggle the --disable-web-security Chrome flag.

Let me know,
Nick

[2017-11-08 17:04] niom commented on #3219
@shockey I'll need to generate my own dummy API to reproduce this. So might take few days to get the data.

just to be clear what you mean with the API definition, swagger.json or something else? Can I export that data from swagger-ui if it's not the swagger.json?

I totally agree that the problem can be something totally different than with the folks upthread. I can create a separate issue for th

[2017-11-08 18:14] dmolesUC3 commented on #3638
I believe you, but can you explain what's going on in the first example of [this section of the spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#examplesObject)?

[2017-11-08 18:15] dmolesUC3 commented on #3638
It looks like "Examples Object", plural, has been removed from the [3.0.1 spec](https://github.com/OAI/OpenAPI-Specification/blob/v3.0.1/versions/3.0.1.md), so maybe that section was in error.

[2017-11-08 18:21] webron commented on #3638
The `Examples Object` was a left over in 3.0.0 - but it's not referenced anywhere inside the specification so it's not really relevant. If you look at the Schema Object, at the example field itself, that's what matters.

[2017-11-08 18:42] shockey commented on #3219
@niom:

Yep, your `swagger.json` :smile:

---

If you're not in a position to share your API definition (like, if it's a private API for your company), you can test the change that I made in #3878 here: http://symptomatic-vein.surge.sh.

You can also email me (address in profile) your definition, if you'd prefer to not share it in a public GitHub thread.

Let me know if it works for you - others i

[2017-11-08 20:00] webron commented on #3877
Is that security scheme applied to the operation in hand? It really would help to see a full definition.

[2017-11-09 06:26] #3714 closed

[2017-11-09 06:27] shockey commented on #3714
Just merged a PR that fixes this issue - sounds like @legrego has Swagger-UI working well in a React 16 project after the changes 🎉

[2017-11-09 06:53] #3658 closed

[2017-11-09 11:13] nathanjdawson commented on #3219
I can confirm that using my swagger spec on the link you provided @shockey the lag has gone and I no longer experience any kind of hanging whilst typing or interacting with my spec. Thanks very much :)

[2017-11-09 11:43] Arun8460 commented on #2584
Hi Team,
I am facing same issue. I am using Swagger 2.7.0. When I return "String" from the REST api, swagger-ui is displaying "no content" in the response body with response code as "0". I knew that swagger is not able to parse String to JSON. I have tried giving "text/plain" in swagger java file as producer, but no luck. How can I fix this.

[2017-11-09 12:34] snebjorn opened #3881 "Flag to toggle rendering of raw HTML in Response Body frame"
The reason html isn't rendered is discussed in #1748 and is sound.

However when developing a web API it would be very handy to have HTML rendered. For instance when working with ASP.NET Core you can do this:

[code]

Which will give you a nice error page (HTML). https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling

So my proposal is to have a flag that can toggle between these

[2017-11-09 14:00] feenr commented on #3873
I'm interested to take up this issue.

[2017-11-09 17:24] webron commented on #3873
@feenr This one is a bit trickier. The issue itself is broader and the solution should be different than what's suggested in the main ticket. If you're willing to explore it, I'll be happy to dive into details.

[2017-11-09 17:27] webron commented on #2584
There's no such thing as 'Swagger 2.7.0'.

[2017-11-09 17:29] hkosova opened #3882 "Primitive models with long names overlap other info"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         | Bug
| Which Swagger/OpenAPI version?  | 2.0, 3.0
| Which Swagger-UI version?       | 3.4.3
| How did you install Swagger-UI? | http://petstore.swagger.io
| Which browser & version?        | Chrome 62, Firefox 56
| Which operating system?         | Windows 7

### Demonstration API d

[2017-11-09 18:08] awalsh-broadsoft opened #3883 "Pre loading base schemas to avoid relative references"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.x
| How did you install Swagger-UI? | running on a tomcat servlet
| Which browser & version?        | chrome
| Which operating system?         | windows 10

### Current Behavior
At the moment,

[2017-11-09 20:10] webron commented on #3882
@Minasokoni @owenconti any of you have time to look at it? seems like a small fix.

[2017-11-09 20:18] webron commented on #3883
`id` is not supported in the spec, so that's not a solution. We could implement a way of specifying a base path for all relative reference resolutions.

However, generally speaking, yes - relative paths do mean that you need to stick to a given directory structure.

[2017-11-09 20:19] niom commented on #3219
I can also confirm that changes done to http://symptomatic-vein.surge.sh fix the slow input of parameters in 'Try it out' - mode

👍

[2017-11-09 20:20] webron commented on #3881
We are no longer accepting feature requests for the 2.X versions of swagger-ui.

[2017-11-09 20:54] heldersepu commented on #3219
@ryanavogel
If you are using Swashbuckle you might not see this fix for a while, at the speed things are moving there it might take a few months ...

You can try [Swagger-Net](https://www.nuget.org/packages/Swagger-Net/) very similar to Swashbuckle (it started as fork of it) but I'm using latest and greatest of all dependencies, also I've fixed a bunch of bugs and added some features.

[2017-11-10 02:53] dangduytung commented on #1566
You miss set securityContext to Docket like :
@Bean
	public Docket productApi() {
		return new Docket(DocumentationType.SWAGGER_2).select()
				.apis(RequestHandlerSelectors.basePackage("com.vnpt.technology"))
				.paths(postPaths()).build().apiInfo(metaData()).securitySchemes(Lists.newArrayList(apiKey()))
				.securityContexts(Lists.newArrayList(securityContext()));
	}

[2017-11-10 05:11] #3817 closed

[2017-11-10 05:25] shockey commented on #3817
Fix confirmed locally:

<img width="897" alt="messages image 1840540984" src="https://user-images.githubusercontent.com/680248/32644096-571b3c9a-c594-11e7-8198-e1f81c237440.png">

@hkosova, feel free to give my Swagger-Client PR a once-over if you have the time, I added several new `allowReserved` test cases.

[2017-11-10 08:00] hkosova commented on #3817
@shockey LGTM :+1:

[2017-11-10 10:56] petermorlion commented on #1980
@fehguy You mention "In the 1.2 swagger-spec, we had support for example post bodies", can you point me towards this?

Unfortunately, I'm working on a NodeJS application that works with Swagger 1.2 and generates documentation from code. It is my understanding you're currently advocating the other way around. But that would probably take me too far, so I'm continueing with Swagger 1.2, and actually

[2017-11-10 11:12] snebjorn commented on #3881
Oops! I see you're at 3.4.3. I just took the version Swashbuckle referenced.

A future version would suffice :)

[2017-11-10 13:26] Pratyushm91 commented on #1108
Hi,

I went through the complete thread. I also require to display the basic auth security field for setting client id and secret. And with the new swagger it looks really cool. Kindly let me know if any module available which can render my json file to similar swagger ui format. I already used swagger ui formatter but it is not displaying me the security field.

Thanks.

[2017-11-10 14:32] naveenkumar-007 opened #3886 "Not able to disable validator in swagger ui even after trying in latest version"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2017-11-10 17:20] hkosova opened #3888 "UI resolves local references misspelled as '#definitions/...'"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         | Bug
| Which Swagger/OpenAPI version?  | 2.0, 3.0
| Which Swagger-UI version?       | 3.x
| How did you install Swagger-UI? | http://petstore.swagger.io
| Which browser & version?        | Chrome 61
| Which operating system?         | Windows 7

This is related to https://github.com

[2017-11-10 18:09] petejohnson84 commented on #3299
This issue appears to be occurring again in v3.4.3.

[2017-11-10 18:09] feenr commented on #3873
I'm still interested. This is a feature I wanted in my own use. Please share any details about the expected behavior.

[2017-11-10 18:12] feenr commented on #3873
Parameter display seems like it could use a bit of design love and this only makes it worse, but this is where I was at from just dropping in the existing enum component.
![image](https://user-images.githubusercontent.com/83574/32672291-7cf4ca6a-c618-11e7-8e99-755e678e2085.png)

[2017-11-10 18:24] shockey commented on #3299
@petejohnson84, yeah I see it too. Investigating now!

[2017-11-10 19:09] gdavidmac opened #3890 "Parameter selection dropdown selects a default value on the UI from allowableValues even if defaultValue is not set but cannot be Executed with that value"
Bug

Swagger version:
Maven io.swagger/swagger-jersey2-jaxrs 1.5.13

Swagger-UI version:
3.0.7/g69fd57f-dirty

Chrome Version 55.0.2883.87 m

Widnows 7 Professional

### Code that causes the issue
`@ApiParam(required = true, allowableValues = "TYPE1, TYPE2, TYPE3, TYPE4", value = "Update what Type of data")
            @PathParam(value="dataType") final String dataType,`

### Expected Behavior
A p

[2017-11-10 19:26] shockey commented on #3299
Just merged a fix for this.

Sorry for the inconvenience, @petejohnson84! The fix will be released tonight.

[2017-11-10 19:26] #3299 closed

[2017-11-10 19:31] shockey commented on #3890
Hi @gdavidmac, sorry you're having issues.

I'm a bit confused by your report - here's some clarifying questions:

- What is an `allowableValue`? Are you referring to parameter enums?
- Are you using Swagger 2.0 or OpenAPI 3.0?

Regarding your `Code that causes the issue` - the code you shared isn't really helpful, very few people on this project use Java. Please share a Swagger or OpenAPI definit

[2017-11-10 19:32] shockey commented on #3886
Closing this, as your issue body has absolutely no details.

Please open a new ticket and fill in the template correctly.

[2017-11-10 19:32] #3886 closed

[2017-11-10 19:34] shockey commented on #3871
Closing; #3872 fixed this.

Thanks @ninja-inc!

[2017-11-10 19:34] #3871 closed

[2017-11-10 20:32] hkosova commented on #3890
@gdavidmac, try the latest version of Swagger UI.

@shockey this sounds like one of the [enum](https://github.com/swagger-api/swagger-ui/issues/2902) [try-it-out](https://github.com/swagger-api/swagger-ui/issues/3706) bugs that were fixed in previous updates.

[2017-11-10 20:51] gdavidmac commented on #3890
Hi @shockey

Sorry, I didn't realize the Java version was not in common use, I'll try to restate my question using more correct Swagger terminology.

- Correct, when I write allowableValues that is referring to parameter enums
- Swagger version is 1.5.13 (seems old, this might be our problem)
- Relevant Swagger definition (obfuscated slightly) is:

`"put": {
				"tags": ["{OBFUSCATED}"],
				"summ