[2018-09-27 17:47] shockey commented on #4903
@lly835, try setting `ENV API_URL ""`

[2018-09-28 01:47] lly835 commented on #4903
i need Multiple url

[2018-09-28 07:52] AdiLaska opened #4906 "missing content type in curl post request"
- OS: Windows 10
 - Browser: Chrome
 - Version: 59.0.3071.115
 - Method of installation: dist
 - Swagger-UI version: v3.19.0
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Screenshots

### How can we help?
My server response with

`HttpChannel - Could not send response error 500: javax.

[2018-09-28 16:10] CameronGo commented on #1369
I too would like to see deep links for models.  It would be helpful when attempting to refer a customer/partner to a particular section of the documentation.

[2018-09-28 16:41] DavidBiesack opened #4907 "Add Swagger UI version to runtime dist"
### Is your feature request related to a problem?

It will help with problem reporting etc. if swagger-ui revealed which version is running

### Describe the solution you'd like

Add `version.txt` to the `dist` folder
Ideally, the build would extract this from the version in package.json when creating the `dist` contents

### Describe alternatives you've considered

Consider adding version to the

[2018-09-28 17:38] derekm opened #4908 "Use server descriptions in servers.jsx component's pull-down menu"
The "Server" pull-down menu only shows URL values.

It might not be obvious to less technical users which URL is for what, so the pull-down menu should incorporate the description if it is provided.

[2018-09-28 19:38] hkosova commented on #4907
Currently you can find the Swagger UI version in the following way: open the browser console and evaluate `versions`. The result contains something like this:
[code]

[2018-09-29 01:33] #4857 closed

[2018-09-29 01:40] #4192 closed

[2018-09-29 01:53] shockey commented on #4865
Spent some time on this over the week - no resolution yet.

Current line of thought is that object inheritance is affecting the plugin source (possibly the `delete` statements in dc9e5ad9), so that we get a different result the second time around.

[2018-09-29 22:09] xenog opened #4912 "Missing servers list when upgrading to version 3.19.0"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Firefox
 - Version: 62
 - Method of installation: unpkg
 - Swagger-UI version: 3.19.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

The website at https://bch.haskoin.com/ shows Swagger documentation for my API. There should be a server selection box at the top that allows to select among various s

[2018-09-30 18:00] magdiel01 commented on #3229
set `layout: "BaseLayout"` should work

[2018-10-01 08:17] spiraltrip commented on #3170
@Louis-at-Rappler
Same here. I had to revert back to 0.1.0 from 0.70 and all is well.

[2018-10-01 09:17] AdiLaska commented on #4906
Problem solved.

Mistake of of course on my side.
Instead of "query" the in-type should be formData.

[2018-10-01 09:17] #4906 closed

[2018-10-01 09:50] danielFesenmeyer commented on #4743
I also cannot reproduce it any more. It seems to have been fixed in the meantime.

[2018-10-01 11:13] hkosova commented on #4908
Thanks for the report! This is already tracked in #4802.

[2018-10-01 18:45] shockey commented on #4908
Closing as a duplicate of #4802 👍

[2018-10-01 18:45] #4908 closed

[2018-10-01 19:16] NABEEL-AHMED-JAMIL commented on #2617
Is any update on this issue?

[2018-10-02 00:44] elbertcastaneda opened #4914 "Could not render this component, see the console. (In a path with responses with schemas that implement another schema)"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: [e.g. 22]
 - Method of installation: npm
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Describe the bug you're encountering
I have this error: `Could not

[2018-10-02 01:04] tariknz commented on #2783
Thanks, adding Microsoft.AspNetCore.StaticFiles did it for me.

[2018-10-02 01:11] calebickler opened #4915 "Supporting multiple files in docker container"
I am having trouble supporting multiple files inside the `swaggerapi/swagger-ui` docker container.

Here is my docker compose:

[code]

I would expect this to serve swagger.yml out of the /swagger directory that is mounted.

`docker exec -it -name- ls swagger`
I can see all my files here, swagger.yml, user.swagger.yml, etc

But this is not the root of the nginx web server running in the container:

[2018-10-02 01:27] #4912 closed

[2018-10-02 08:27] hkosova commented on #4914
In the `BasePagination` and `MenuModel` models, there are properties with `type: array` but without `items`. The responses will be rendered correctly if you specify the item type for these properties, e.g.

[code]

[2018-10-02 08:32] sonphnt commented on #4702
I have the same issue too. window.opener is null in IE11 and Microsoft Edge. Do we have a solution for this?

[2018-10-02 14:31] gergelypap commented on #4672
+1

Can confirm this using OAS 3.0 specification. As a workaround, I copy-pasted my top parent allOf list to its children...

[2018-10-02 17:14] calebickler commented on #4915
Here is a workaround that will copy my volume contents to the nginx directory

`docker exec -it *name* cp -a swagger/. /usr/share/nginx/html`

Hoping there is a way to do this through configuration instead.

[2018-10-02 17:49] calebickler commented on #4915
hmm, now running into issues with $ref, I want to split my API into separate files and it looks like people are using https://github.com/javanile/yamlinc to do it, this is another problem for my use case.

My use case is I want a local docker container to be used for development where it will pick up any changes in my swagger files and serve them in swaggerui. This is hard to do if I have to autom

[2018-10-02 19:02] arlan85 commented on #549
Did anyone knows about this issue? I'm facing the same issue with CORS:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at `https://login.microsoftonline.com/key/oauth2/authorize?client_id=client_id&redirect_uri=https%3A%2F%2Flocalhost%3A4409%2Fsignin-oidc`

[2018-10-02 20:10] locomotif opened #4917 "JSX boolean attribute "readOnly" should not use string values"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome
 - Version: 69.0.3497.100 (Official Build) (64-bit)
 - Method of installation: yarn
 - Swagger-UI version: 3.19.0
 - Swagger/OpenAPI version: 3.19.0

### To reproduce...
This is not necessarily a bug, but maybe a react best practice. When executing a sample rest endpoint, I am noticing a warning on the console.  Pl

[2018-10-03 00:39] MattHartz commented on #4533
Support for this would be ready nice

[2018-10-03 02:25] redcricket opened #4918 "swagger UI not able to generate URL like /api/v1/foo/?bar=one&bar=two&bar=three"
I am using

`
window.swaggerUi.api.swaggerVersion
"2.0"
`
I have written a detailed description of the problem on SO.  Only one person has commented on my post.  They also seem to believe that the problem is a bug.

[https://stackoverflow.com/questions/52414476/how-to-configure-swagger-ui-to-allow-user-to-entry-multiple-values-for-query-str](https://stackoverflow.com/questions/52414476/how-to-conf

[2018-10-03 15:04] tomwatt commented on #4745
Same issue for me - unable to submit required params from a SwaggerUI component in a react 16.5.2 app. Details all identical to above. If there's any more info I could provide that would be useful, let me know - Would love to know if there was any timeline for full react 16 support.

[2018-10-03 17:30] jogleasonjr commented on #4390
Adding my $0.02USD since the above solutions either didn't work or they would tack the logo onto multiple elements on the page. What worked for me using the latest version of swagger in ASP Core was:

[code]

Note that I did not have to set the SVG as an embedded resource nor specify a custom asset in the API bootstrapping as indicated above.

[2018-10-03 20:02] sorvis opened #4920 "Curl Acts Different Then On Page Try it for header string with pipe in it"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: chrome
 - Version:  68.0.3440.106
 - Method of installation: Swashbuckle
 - Swagger-UI version:
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
I have configured swashbuckle to attach a json header to every request
![image](https://user-images.githubusercontent.com/1037467/46435616-c30d9f00-c724-

[2018-10-04 06:34] allnulled commented on #3803
Hello, people. The same is happening to me today. I just came to say hello, you know.

[2018-10-04 13:38] b0ric commented on #3437
Any news on the `examples`? This is a pretty vital part, can't believe it's open since more than a year.

[2018-10-04 21:31] patricknolan commented on #4690
+1

[2018-10-04 23:00] #4865 closed

[2018-10-05 06:59] jurepurgar commented on #4702
Same problem here. I found out that adding the page to the "trusted sites" in IE resolves the problem for both IE and Edge.

[2018-10-05 11:08] Alexgmin opened #4924 "Examples referenced with $ref are not rendered correctly"
Not sure if a regression of https://github.com/swagger-api/swagger-ui/issues/4021

This renders the example but also adds the $$ref key
[code]

And this one shows the $ref key instead of parsing it (Although the editor shows an error if the $ref doesn't exist):
[code]

All of this tested in the swagger editor.

[2018-10-05 23:31] lrtherond commented on #4924
Yep, I see that too in 3.19.2 and quite a few releases before that

[2018-10-07 02:36] pauldzy opened #4925 "Example Value sections shows nothing with oneOf models"
The Example Value section for a response shows a nice emulated construct using example values.
However when the schema contains a oneOf element then the Example Value merely shows "{}".

My feature request would be for the Example Value to render using the the first option of the oneOf element to create a reasonable example value.

Thanks.

[code]

[2018-10-07 20:37] sasha-borodin commented on #3437
I’m confused about the status of this issue. It shows to have been closed in #4730, but still appears to be a problem. Can anyone please clarify?

[2018-10-07 23:12] sasha-borodin commented on #4924
In #4021, @webron states that using a $ref inside an “example” is not supported, because the “example” section is interpreted (and rendered) literally.

My more general question is, is example composition supported in the OpenAPI 3 spec, or not? For example, if I define a response schema that composes several objects of other schema types (where $ref IS allowed), can I use the same $ref approach w

[2018-10-08 07:34] hkosova commented on #4925
Thanks for the report! This issue is being tracked in #3803.

[2018-10-08 15:19] lrtherond commented on #4924
I think $ref should work in that case too. Clearly, passing a 10-KB piece of JSON example as a string is very problematic.

[2018-10-08 20:58] calebickler commented on #4915
To solve the dependency problem nginx could be updated to serve all .yml and .json files from a mount

[2018-10-08 23:57] MisterSchmitz opened #4926 "Pre-fill the Bearer token with a JWT returned from my server and set Authorized to True"
- Swagger-UI version: 3.19.0
 - Swagger/OpenAPI version: OpenAPI 3.0

Swagger/OpenAPI definition:
[code]

### How can we help?
My api uses Bearer token authentication. If I want to add this token to my api calls, I currently have to click the Authorize button and manually supply the JWT. In my case this token is unknown to the user, so I would prefer to pre-set this value with the JWT returned by

[2018-10-09 11:29] tnpradeep opened #4927 "Is there any configuration parameter through which i can make Model as default visualization for request body"
Hello All,

Is there any config parameter through which i can make Model view as default visualization for request body instead of Example value which is by default ?

Thanks
Pradeep

[2018-10-09 12:01] jagdishkumar1 opened #4928 "Is there a way to hide an API in swagger UI ? Something like `hidden: true` in API definitions in swagger json file for nodejs application"
Hi,

I want to add some attribute to my yaml spec for example `hidden : true/false` so that the swagger-ui will know to not show those endpoints.

[2018-10-09 13:28] hkosova commented on #4927
Yes
[code]

https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#display

[2018-10-09 13:30] heldersepu commented on #4907
@DavidBiesack you can add some custom code to your UI to show the version:

[code]
just six lines of code, you can inject that in the [onComplete](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#display) parameter

Here is my custom version
http://swagger-net-test.azurewebsites.net/swagger/ui/index

[2018-10-09 14:54] MitinSany commented on #4902
+1, I need It feature also

[2018-10-09 15:50] bzd2000 commented on #4772
I have the same issue, I somebody looking at this?

[2018-10-09 16:14] michalrus opened #4929 "Permalinks don’t work: with tags, and `docExpansion: 'none'`, for operations that don’t have an explicit `operationId`."
When we’re setting `docExpansion: 'none'` in configuration, then giving someone a permalink to a particular endpoint inside a tag, and them clicking it doesn’t do anything for them.

After the page opens for them, all endpoints are still *not expanded*, as if there was no `/#/permalink/part` in the URL.

[2018-10-09 18:31] shockey commented on #4918
Hey @redcricket,

I think this is working incorrectly because you're trying to use multiple parameters with the same name+in value, which looks like this:

[code]

The current version of Swagger Editor will report this as an error:

---

AFAIK, you can't get `?status=inactive&status=active&status=pending` out of a Swagger 2.0 definition, which is the latest version that Swagger UI 2 supports.

It

[2018-10-09 18:32] shockey commented on #4772
This should be fixed (see #4923) in the latest version, which was released yesterday.

Thanks everyone!

[2018-10-09 18:32] #4772 closed

[2018-10-09 18:34] shockey commented on #4902
Basic auth is out of scope for our Docker image - if you need it, consider using something like Docker Compose to put a web server in front of Swagger UI that handles auth for you.

[2018-10-09 18:34] #4902 closed

[2018-10-09 18:53] #4927 closed

[2018-10-09 18:54] shockey commented on #4927
Closing as resolved - thanks @hkosova!

[2018-10-09 18:58] shockey commented on #4925
Closing as a duplicate of #3803.

[2018-10-09 18:58] #4925 closed

[2018-10-09 19:00] shockey commented on #3437
@sasha-borodin, you're correct. We tracked support for `example` here, `examples` is still open over at #2651.

[2018-10-09 19:15] shockey commented on #4745
@tomwatt, I don't have a timeline for you, but just so you know - this _is_ on our radar. We see you!

[2018-10-09 19:18] micjaesc opened #4930 "rfc6749 + CORS + OAuth"
My token's provider doesn't support CORS, and he argues with sentence from rfc6749 `The client MUST use the HTTP "POST" method when making access token`
In other hands, it is difficult for me to understand how to use swagger UI without CORS & different domains
![image](https://user-images.githubusercontent.com/2565178/46692855-9831b800-cc08-11e8-8b6a-a1bef66d198a.png)

So... did I miss something?

[2018-10-09 19:37] shockey commented on #4914
Thanks @hkosova!

Closing as resolved.

[2018-10-09 19:37] #4914 closed

[2018-10-09 19:37] shockey commented on #549
@arlan85, if you're still having a problem, please open a new issue 😄

[2018-10-09 19:43] shockey commented on #4743
I'd hazard a guess that https://github.com/swagger-api/swagger-ui/pull/4832 fixed this.

In any event - closing this as resolved. Thanks @danielFesenmeyer & @TheMarex for the efforts here!

[2018-10-09 19:43] #4743 closed

[2018-10-09 19:52] shockey commented on #4570
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-09 19:52] #4570 closed

[2018-10-09 19:53] shockey commented on #4794
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-09 19:53] #4794 closed

[2018-10-09 19:59] micjaesc commented on #4930
if CORS support is missed by my token provider, then what is your opinion for such strict argue of RFC6749: `The client MUST use the HTTP "POST" method when making access token`. Token Provider is fully compatible with RFC6749 in that aspect or.... he has just over interpreted.

[2018-10-09 20:30] shockey commented on #4926
@MisterSchmitz, [`preauthorizeApiKey`](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#preauthorizeApiKey) should let you inject any api key auth credentials you'd like!

[2018-10-09 20:54] shockey commented on #4920
Fair indeed - this is a bug!

[2018-10-09 20:59] shockey opened #4931 "Reusing examples Rendering issue."
_From @mbj0528 on October 2, 2018 5:28_

 - OS: [window]
 - Browser: [chrome]
 - Version: [69.0.3497.100 (32bit)]
 - Swagger/OpenAPI version: [OpenAPI 3.0]

Example Swagger/OpenAPI definition:

[code]

### Expected behavior
[code]

### Problems ( compare with expected behavior )
[code]

![cap1](https://user-images.githubusercontent.com/35594264/46330209-b9b10380-c64c-11e8-9c6f-d743b9ea8b15.PNG)

#

[2018-10-09 20:59] shockey commented on #4931
Yes, this is a bug!

[2018-10-09 21:11] hkosova commented on #4918
@shockey

Actually you can - it needs to be an array parameter with [`collectionFormat: multi`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#user-content-parameterCollectionFormat).

[code]

[2018-10-09 21:29] shockey commented on #4930
@micjaesc, I'm not sure what you're getting at - we always send POST requests for tokens. Are you seeing something different?

[2018-10-09 21:38] hkosova commented on #4930
@micjaesc see if [this](https://github.com/swagger-api/swagger-ui/issues/1888#issuecomment-173179594) or [this](https://github.com/swagger-api/swagger-ui/issues/4576#issuecomment-390808702) helps.

[2018-10-10 01:34] webron commented on #4924
@sasha-borodin the spec isn't explicit about it, but I would expect what you shared to be rendered simply as:
[code]
(that is, $ref's are not being dereferenced)

[2018-10-10 01:57] sasha-borodin commented on #4924
@webron, thanks for the response!  I think there are two issues:

1. The implementation both a) resolves the `$ref`, and b) leaves an internal artifact of `$$ref`.  I think that consistency needs to be achieved.  Either `$ref`s are *not* supported (and displayed literally), or they *are* supported (in which case, rendering `$$ref` is a bug that needs to be fixed).
1. Since the spec isn't explicit

[2018-10-10 01:58] lly835 commented on #4902
@MitinSany i has been resolved.
use nginx basic.
nginx.conf
[code]

[2018-10-10 02:03] lly835 commented on #4903
@shockey i has been resolved.
docker-run.sh
[code]
sed Special treatment for "&".
so the correct is
[code]

[2018-10-10 02:03] #4903 closed

[2018-10-10 03:26] absurdist opened #4932 "minimal swagger-ui webpack sample"
Hello
Is there an sample project with a minimal swagger-ui  (not -dist) project with webpack?

[2018-10-10 05:16] shockey commented on #4932
@absurdist, I have a sample project that uses `create-react-app`, which uses Webpack behind the scenes: https://github.com/shockey/swagger-ui-cra

let me know if this isn't what you're looking for!

[2018-10-10 05:48] absurdist commented on #4932
thank you shockey, I'll read it and see if i can figure out what i want to know.
I'm after a webpack example because i have existing code and sass files built with webpack that I am trying to merge.

[2018-10-10 07:12] micjaesc commented on #4930
@shockey , before POST,  the OPTIONS is sent (because of CORS).  OPTIONS is not support by my token provider, and my question here, who interpret wrongly RFC6749. Swagger who uses token issuing on front, or my token provider who doesn't support CORS, because he sticks to sentence `The client MUST use the HTTP "POST" method when making access token`  Meantime, I will try to disable it by @hkosova '

[2018-10-10 07:43] micjaesc commented on #4930
chrome-extensions support response_header overwriting, but not final HTTP status code (which is now 400). Using CORS proxy (like http://crossorigin.me) is not a option for us.  Hmmm..

[2018-10-10 09:39] Alexgmin commented on #4924
I would like add another argument to the case for resolution.
Is the current behavior for schemas.
As a developer trying to define an API, I don't see why I can have nested schema references but not nested example references.

From my point of view, what is wrong in this example is the `value` key being rendered. Why can I reuse schemas but not examples?

[code]

[2018-10-10 13:59] arlan85 opened #4933 "Microsoft Authorization issue with CORS:"
I have right now an issue with Cors and redirect from microsofo login page in swashbuncke.

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://login.microsoftonline.com/key/oauth2/authorize?client_id=client_id&redirect_uri=https%3A%2F%2Flocalhost%3A4409%2Fsignin-oidc

_Originally posted by @arlan85 in https://github.com/swagger-api/swagger-ui/issu

[2018-10-10 16:54] shockey commented on #4712
This should be fixed by #4923 - closing as resolved.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-10 16:54] #4712 closed

[2018-10-10 20:32] mglen commented on #3400
Encountered this issue as well, and found that bumping to the latest version '3.19.3' did not resolve it.

We had split up the `.css` and `.js files into separate `css/` and `lib/` directories, and edited `index.html` for the new paths. Doing so caused this exact behavior, and moving all the files back to the same level resolved this problem.

Hope this helps anyone else who finds their way here.

[2018-10-10 20:35] saeedvaziry commented on #4221
I have this problem in nodejs

[2018-10-10 20:55] Yevhen-Mordak commented on #4221
What "this" you mean? Screenshot, details, questions, anything?

[2018-10-10 21:16] Ryandaydev opened #4935 "Current status on 508 compliance and accessibility"
I wanted to touch base and see the current status of any efforts for improving accessibility and 508 compliance for the open source swagger UI?

I found the issues below, and some have been closed, so I don't to make duplicate work if there is already an effort in place.

Here are prior gh issues on this topic (some in older versions):
https://github.com/swagger-api/swagger-ui/issues/2216
https://

[2018-10-10 21:49] redcricket commented on #4918
I am not using YAML because I thought that YAML Doc strings were deprecated. Ref. [https://django-rest-swagger.readthedocs.io/en/latest/#quick-start](https://django-rest-swagger.readthedocs.io/en/latest/#quick-start).  How might I solve this issue in my Django `class PendingRequestsFilter(BaseFilterBackend):` class?

[2018-10-11 02:02] daibertdiego commented on #807
After this Authorization, how I can use the access-token in the others Try-out? Because I did the Authorization with success, but in the others requests the Bearer Token is not present.

[2018-10-11 02:12] shockey commented on #4935
Hi @Ryandaydev!

I don't know of anyone working on this at the moment.

If you're interested in making some PRs around this, please reach out to me - we have some UI/UX changes coming down the pipeline, so I'd like to understand what you're planning to do in order to make the components/elements of concern are still relevant.

[2018-10-11 02:39] CameronGo opened #4936 "Question about default behavior for empty servers array"
### Q&A (please complete the following information)
 - OS: all
 - Browser: chrome
 - Version: most recent
 - Method of installation: docker image
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### How can we help?
I am hosting my documentation behind the same hostname as my APIs.  Example:
https://api.domain.com/v2/members is one resource and
https://api.domain.com gives yo

[2018-10-11 03:01] shockey commented on #4936
Hey @CameronGo!

What you're observing is our intended behavior. The OpenAPI specification says the following about server URLs (emphasis mine):

The implicit default of `/` is also subject to this, which is leading to the behavior you're seeing.

Have you considered hosting your OpenAPI document alongside your live service? This is a pretty common convention - people like to do this because it ma

[2018-10-11 03:40] CameronGo commented on #4936
Thanks @shockey, I'm not married to hosting the document in a bucket, it just seemed to be the best way to load the api doc while using the public swagger UI docker image.  I suppose I could create an image that would download the api doc at runtime. Is that what you had in mind, or is there another implementation of that which makes more sense?

[2018-10-11 03:51] shockey commented on #4936
I suggest that you make your OpenAPI document available through your API as a static file, so that you can `HTTP GET http://api.domain.com/openapi.yaml` to load the document (as Swagger UI will when it loads). If you wrote it by hand, it makes sense to put the OpenAPI document in version control alongside the API implementation so that you can see it change over time with your implementation, and

[2018-10-11 04:08] shockey commented on #4930
@micjaesc, it seems to me that your token provider is wrong.

CORS is an additional browser security mechanism that exists outside of OAuth's request flow.

When Swagger UI (or any web application) wants to talk to a cross-domain server, the user's browser puts that request on hold and sends out a [preflight request](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request) that asks th

[2018-10-11 04:17] shockey commented on #4932
Gotcha.

Is your current setup giving you any trouble with Swagger UI? It should be pretty straightforward as long as it can handle JS and CSS.

[2018-10-11 04:48] shockey commented on #4665
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:48] #4665 closed

[2018-10-11 04:48] shockey commented on #4831
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:48] #4831 closed

[2018-10-11 04:49] shockey commented on #4842
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:49] #4842 closed

[2018-10-11 04:49] shockey commented on #4854
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:49] #4854 closed

[2018-10-11 04:50] shockey commented on #4891
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:50] #4891 closed

[2018-10-11 04:50] shockey commented on #4889
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:50] #4889 closed

[2018-10-11 04:51] shockey commented on #4894
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:51] #4894 closed

[2018-10-11 04:51] shockey commented on #4898
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:51] #4898 closed

[2018-10-11 04:51] shockey commented on #4901
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:51] #4901 closed

[2018-10-11 04:52] shockey commented on #4897
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:52] #4897 closed

[2018-10-11 04:52] shockey commented on #4841
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:52] #4841 closed

[2018-10-11 04:52] shockey commented on #4783
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-11 04:52] #4783 closed

[2018-10-11 09:33] piotrzarzycki21 opened #4937 "Using "content" in "parameters" doesn't work"
### Q&A (please complete the following information)
 - OS: Windows 10 64bit
 - Browser: Chrome
 - Version: 69.0.3497.100 (Official Build) (64-bit)
 - Method of installation: dist
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encou

[2018-10-11 09:49] akoserwal opened #4938 "Mismatched anonymous define() module with requirejs"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]: fedora (Linux)
 - Browser: [e.g. chrome, safari] Chrome
 - Version: [e.g. 22] 69.0.3497.100
 - Method of installation: [e.g. npm, dist assets] dist assets
 - Swagger-UI version: [e.g. 3.10.0] 3.19.3
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Describe the bug you're encountering

Issue is with using swagg

[2018-10-11 09:59] emilw opened #4939 "Date fields are generating different example dates for JSON and XML"
The example model generated by Swagger UI generates different example dates.
For JSON it provides Todays date:
![image](https://user-images.githubusercontent.com/2872896/46796461-16977280-cd4d-11e8-87a4-60c8d95491e3.png)

For XML it provides Unix start date:
![image](https://user-images.githubusercontent.com/2872896/46796444-097a8380-cd4d-11e8-98f2-22c38700f3cb.png)

The way the JSON example defau

[2018-10-11 10:02] saeedvaziry commented on #4221
Screenshot. Not sending request body

[2018-10-11 11:47] akoserwal commented on #4938
Found a solution

[code]

[2018-10-11 11:47] #4938 closed

[2018-10-11 11:55] michalrus commented on #4929
That’s true, hmmm. But… We’re using 3.19.3, like https://petstore.swagger.io/ — and this Petstore Swagger-UI deployment is not able to expand/deep-link our definition either, if I use `?url=our-swagger.json`.

Can I give you a link to our deployment, so that you can verify? But the API is non-public, so I’d need a private way to contact you. Can I use the email from you profile?

[2018-10-11 12:36] TheNorthMemory commented on #3958
As of the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/API/HTMLHyperlinkElementUtils/hash) described,  the `window.location.hash` returns a [DOMString](https://developer.mozilla.org/en-US/docs/Web/API/DOMString) containing a '#' followed by the fragment identifier of the URL.

Some of the i18n fragments, eg: the tag is `шеллы`, but the fragment is `%D1%88%D0%B5%D0%BB%D0%BB%D1%8

[2018-10-11 13:52] travis5491811 opened #4940 "3.x Not resolving local refs properly. Throws error should have required property"
### Q&A (please complete the following information)
 - OS: Linux Ubuntu
 - Browser: Chrome
 - Version: 69
 - Method of installation: npm and [swagger editor online](https://editor.swagger.io/)
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Paste example in [swagger-editor](https://editor.swagger.io/) or local installation of `swagger-ui`

Example

[2018-10-11 15:21] netheodw commented on #4905
I have the same error with json format.

[2018-10-11 16:58] hkosova commented on #4937
Thanks for the report! This issue is being tracked in #4442.

[2018-10-11 17:06] hkosova commented on #4940
`required` and `properties` do not support `$ref`. You can `$ref` individual property schemas but not the whole list of properties.

[code]

`example` also [does not support `$ref`](https://github.com/swagger-api/swagger-ui/issues/4021#issuecomment-350936216) and will be rendered as-is.

`$ref` is also supported in places where the [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specificati

[2018-10-11 17:10] shockey commented on #4929
@michalrus, sure, shoot me an email and I'll take a look!

[2018-10-11 17:33] netheodw commented on #4905
i have run the swagger-ui 3.18.3 which is the latest.

[2018-10-11 17:37] Lakmus85 commented on #1369
+1. I was thinking something is wrong with the way I enable Deep Linking in the setup, but it turned out there's no deep linking for model / definitions. Nice feature to have.

[2018-10-11 17:42] travis5491811 commented on #4940
Understood. thanks

[2018-10-11 17:42] #4940 closed

[2018-10-11 18:30] shockey commented on #4937
Closing as a duplicate of #4442.

[2018-10-11 18:30] #4937 closed

[2018-10-11 21:06] SilvaLA59 opened #4941 "Problem to install js-yaml dependence"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: chrome
 - Version: [e.g. 22]
 - Method of installation: npm
 - Swagger-UI version: Lastest
 - Swagger/OpenAPI version:

 Hello, I'm facing a problema that when I try to install this package I get 404 Error when It try to install @kyleshockey/js-yaml
I think this dependence is wrong in package.json. It should be just

[2018-10-11 22:20] shockey commented on #4941
Hey @SilvaLA59, the entry is correct, it references this module: https://www.npmjs.com/package/@kyleshockey/js-yaml. It's a [scoped module](https://docs.npmjs.com/misc/scope), which has been a part of npm since `npm@2`.

If you're on an older npm version: upgrade! If you're on a newer one, post the output you're seeing so we can take a look at what's going on.

[2018-10-12 01:14] shockey commented on #4939
We're no longer working on or supporting the 2.x series of the UI - please upgrade to v3.

Thanks for the report, though!

[2018-10-12 01:14] #4939 closed

[2018-10-12 02:55] CameronGo commented on #4936
I don't think hosting the API doc with the implementation will fit in our case since our API implementation consists of about a half dozen+ micro services (roughly 1 service for each top level resource).  I think I've got a solution I may go with using our CICD solution to publish the API doc to the bucket and run sed on the doc before it goes out so that the server reference uses the URL for the

[2018-10-12 02:56] #4936 closed

[2018-10-12 03:30] CameronGo opened #4942 "When using both CONFIG_URL and API_URLS, the API_URLS are ignored."
### Q&A (please complete the following information)
- OS: all
- Browser: chrome
- Version: most recent
- Method of installation: docker image
- Swagger-UI version: 3.19.3
- Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
I tested this with the petstore OpenAPI doc also.

Swagger-UI configuration options:
This is what my config.json looks like

[2018-10-12 06:28] emilw commented on #4939
@shockey , does that means that it's working in the new version?

[2018-10-12 07:14] anjukuriakose commented on #3220
Hi,

Getting the same error.

In swagger, its validating . Please help me on this.
![error](https://user-images.githubusercontent.com/20452166/46853671-685afe00-ce1c-11e8-90c9-5fa176486d88.PNG)

[2018-10-12 10:51] pratikpai opened #4943 "XML example not rendered correctly with oneOf"
- OS: Windows 10 Pro (64 bit)
 - Browser: Chrome
 - Version: 69.0.3497.100 (Official Build) (64-bit)
 - Method of installation: dist assets
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
XML schema is not rendered correc

[2018-10-12 11:38] SilvaLA59 commented on #4941
Hello @shockey , thanks for you answer. I'm using npm version 6.4.1, should I install something diferent to use this "npm@2" ?
When I run "npm install js-yaml" It works.

This is my output:

npm ERR! code E404
npm ERR! 404 Not Found: @kyleshockey/js-yaml@^1.0.1

npm ERR! A complete log of this run can be found in:
npm ERR!     \npm-cache\_logs\2018-10-12T11_33_18_298Z-debug.log

[2018-10-12 12:06] kingo999 opened #4944 "How to handle server side exceptions ?"
### Q&A (please complete the following information)
 - OS: windows
 - Browser: chrome, safari
 - Version: latest
 - Method of installation: npm
 - Swagger-UI version: 3.19.0
 - Swagger/OpenAPI version: Swagger 2.0

Swagger-UI configuration options:
[code]

### How can we help?
How do I catch and process any errors thrown on the server side.
eg: 401, 404 etc.

Right now I am just monitoring the loa

[2018-10-12 13:04] tnpradeep opened #4945 "Navigating from one spec to other, doesn't show request body section"
### Q&A (please complete the following information)
 - OS: windows
 - Browser: chrome
 - Version: 69.0.3497.100
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: 3.19.2
 - Swagger/OpenAPI version: [ Swagger 2.0, OpenAPI 3.0]

### Screenshots

### How can we help?
We are consuming swagger UI in angular application.
When i open 3.0.0 api definition in swagger UI first time sh

[2018-10-13 01:16] absurdist commented on #4932
Thank you kyle,

I've got a basic set up working now.

I'll post a link to my boilerplate in github for anyone else who
experiences the confusion I did.

cheers

mat

On Thu, 11 Oct 2018 at 15:17, kyle <notifications@github.com> wrote:

[2018-10-14 08:22] noizecamp opened #4946 "request is always undefined in requestInterceptor"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 3.xx
 - Method of installation: nuget
 - Swagger-UI version: 3.xx
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Screenshots

### How can we help?

[2018-10-14 17:06] axnsan12 opened #4947 "Rewriting request.url for loadSpec requests does not update URL selector box"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 69
 - Method of installation: swagger-ui-dist
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
N/A

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering

### To reproduce...

Steps to r

[2018-10-14 21:09] CameronGo opened #4948 "Where is "the project root directory"?"
### Q&A (please complete the following information)
 - Browser: chrome
 - Method of installation: docker image
 - Swagger-UI version: v3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### How can we help?
I am trying to run the swagger UI docker image locally and pass in a config file so that I can test out config changes.  In the swagger UI documentation one of the options mentioned for passing in

[2018-10-15 03:18] zjw-swun opened #4949 "can provide button to Open "Model" (Forgive my poor English)"
old version ui model can show all easy,but new version model can not show all,it is stupid！！！

[2018-10-15 06:48] tnpradeep commented on #4945
While I de-bugging this I figured out that the oas/wrap-components/index.js is not called in turn oas parameters component is not exported.

[2018-10-15 09:27] tnpradeep commented on #4945
After changing core/plugins/oas3/index.js wrapComponents and components as below, it is working.

components: {
      Callbacks,
      HttpAuth,
      RequestBody,
      Servers,
      ServersContainer,
      RequestBodyEditor,
      OperationServers,
      operationLink: OperationLink
    },
    wrapComponents: {
      Markdown,
      AuthItem,
      parameters,
      JsonSchema_string,
      Ver

[2018-10-15 12:16] bajtos commented on #4064
FWIW, I created a proposal to enhance OpenAPI spec to support deep objects - see OAI/OpenAPI-Specification#1706.

[2018-10-15 13:49] michalrus commented on #4929
@shockey Okay. I was able to minimize this.

So the problem is:

**Permalinks don’t work: with tags, and `docExpansion: 'none'`, for operations that don’t have an explicit `operationId`.**

E.g. this works:

[code]

This doesn’t:

[code]

[2018-10-15 13:52] SilvaLA59 commented on #4941
I fixed running "npm uninstall npm -g" then "npm install npm -g"

[2018-10-15 13:52] #4941 closed

[2018-10-15 15:16] michalrus commented on #4929
It also seems that `operationId`s with underscores `_` in them fail.

[2018-10-15 18:36] shockey commented on #4929
Thanks for the update @michalrus!

I'm actually working on that in #4895 right now - I'll add your test cases from the definition you shared, and your notes above.

[2018-10-15 19:25] thanatos opened #4951 "Swagger UI's display of multiple-typed attributes is confusing"
### Q&A (please complete the following information)
 - OS: OS X
 - Browser: Firefox Developer Edition
 - Version: 63.0b14
 - Method of installation: dist assets
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

(The important part is the JSON Schema `type` field being a list.

Swagger-UI configuration opt

[2018-10-15 20:11] hkosova commented on #4951
OpenAPI does not support `type` as an array of types. JSON Schema supports this, but OpenAPI does not, and if you paste your example into the [Swagger Editor](http://editor.swagger.io) it will report syntax errors.

The correct way to define multi-type OpenAPI schemas is `oneOf` or `anyOf`, with an extra `nullable: true` for nullable types.
[code]

Check out the [Data Types](https://swagger.io/doc

[2018-10-15 21:03] shockey commented on #4945
@tnpradeep, can you try Swagger UI 3.19.3? We specifically fixed an issue with the OAS3 plugin in that version.

[2018-10-15 21:03] shockey commented on #4949
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-10-15 21:03] #4949 closed

[2018-10-15 21:29] shockey commented on #4947
Hmm, yeah - this seems like a bug.

I can't say why I added that code while implementing the lazy resolver... I'll need to do some more testing before it can be changed 🤔

[2018-10-15 21:39] shockey commented on #4946
@noizecamp, this is working on my end.

Questions for you:
- Does this only happen with a certain definition? What about the default Petstore definition?
- Have you customized Swagger UI in any way?
- What exact version are you running? Have you tried with the latest version?

[2018-10-15 21:46] thanatos commented on #4951
I can't generally paste schema into the Swagger Editor, due to it being hosted on a third party site.

I suppose there's nothing actionable here, then, since I was under the apparently false impression that OpenAPI was incorporating JSONSchema for validation.

This is a more broad complaint, but it would be extremely helpful if Swagger UI itself validated OpenAPI schema it were presented with, and

[2018-10-15 22:46] shockey commented on #4932
awesome!

closing as resolved.

[2018-10-15 22:46] #4932 closed

[2018-10-16 00:06] shockey commented on #3220
@anjukuriakose, it appears that your $refs are missing a `#` at the beginning of their values - it should be `#/definitions/MathResourceList`, not `/definitions/MathResourceList`.

[2018-10-16 00:07] shockey commented on #4939
I'm not sure off the top of my head.

You can check by pasting your document into Swagger Editor: https://editor.swagger.io/

[2018-10-16 07:46] kishor-p commented on #4107
So its only issue when the JSON file is in RELATIVE path?
Any workaround for this?

[2018-10-16 09:41] michalrus commented on #4929
Thank you very much. =)

We’re auto-generating the `swagger.json` from Haskell’s types anyway, so it was easy to add autogenerated `operationId`s in form of `PUT.v1.permission.role.RoleId.user.me.UserId` etc. It also looks nicer in URLs than those generated fragments.

[2018-10-16 22:00] shockey commented on #4929
@michalrus, I'm not sure your minimized case is right on the money.

Both of these work for me (in Chrome on macOS):
- with operationId: http://petstore.swagger.io/?url=https://gist.githubusercontent.com/shockey/7f8670ac020f06f533027a4c94a47482/raw/2ea9246fb170a5a77f4581416f0b3ef990a9e367/with-opid.yaml&docExpansion=none#/default/blahBlah
- without operationId: http://petstore.swagger.io/?url=http

[2018-10-16 22:08] shockey commented on #4929
The `_` problem is different, I think (and covered in #4895) - that is rooted in my ill-conceived implementation that escapes whitespace in deep link hashes with `_` instead of the now-obvious `%20`.

`my_operation_id`, when parsed back into Swagger UI from the hash, becomes `my operation id`, which fails to match up with anything that Swagger UI knows about.

[2018-10-16 23:51] #4895 closed

[2018-10-17 12:07] AyUsH988 opened #4954 "description message is not getting displayed with example object"
Hi, i wrote a swagger, where in response block i want to display a description and a example object. But i am unable to do that together, either the description message can be displayed or the example object can be displayed.
So this is part of my swagger where i am not getting the description message

[code]
so i want both the description and the example object to be displayed.
i have attached th

[2018-10-17 19:47] hkosova commented on #4954
The response definition does not look right. If it's an object, it should be:
[code]
If it's an array, it should be:
[code]
The examples above works fine in the latest version of Swagger UI (3.19.3) and display the response description ("OK").

Try updating your Swagger UI version, and also check your API definition for syntax errors using http://editor.swagger.io. Syntax errors in your API defini

[2018-10-17 23:56] bettyleung opened #4955 "TypeError: e.split is not a function"
- OS: OSX
 - Browser: chrome
 - Version: 68.0.3440.106
 - Method of installation: npm
 - Swagger-UI version: 3.19.3,
 - Swagger/OpenAPI version: OpenAPI 3.0

Here is my swagger.yaml response snippet:
[code]

I unable to define a response to download an excel file. When using the "Try it out" button, the swagger-ui response is a 200 but the details displays: "😱 Could not render this component, see

[2018-10-18 15:50] andresoviedo opened #4956 "Development Environment Installation"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser:
 - Version: master
 - Method of installation: npm
 - Swagger-UI version: master
 - Swagger/OpenAPI version:

### Content & configuration

I am following this guide:

https://github.com/swagger-api/swagger-ui/blob/master/docs/development/setting-up.md

I have this error:

[code]

However, I cloned the repository but now

[2018-10-18 15:52] ithr0n commented on #3467
Still no update?

[2018-10-18 15:59] ithr0n opened #4957 "Configure initOAuth in swagger-config.json for Docker"
I am using the docker container swaggerapi/swagger-ui:v3.19.0 and have set the environment variable "CONFIG_URL=https://<my-server>/swagger-config/swagger-config.json"

In this config I have configured swagger-ui (i.a. oauth2RedirectUrl) and the configuration basically works and gets loaded by swagger-ui.
According to the documentation https://github.com/swagger-api/swagger-ui/blob/master/docs/usa

[2018-10-18 18:09] Raptor399 commented on #4218
Update: judging by the reaction to #OAI/OpenAPI-Specification#1676, apiKey values in the cookie are wrongly being UriEncoded by swagger-ui. From the issue:

This means there is no reason to UriEncode apiKey parameter values in the cookie according to the spec, so please don't encode them in swagger-ui (as is currently the case).

[2018-10-18 19:55] shockey commented on #4905
@bozzltron, upon further investigation, my impression is that we're doing this correctly.

OAuth2 says (emphasis mine):

Since Swagger UI _is_ able to use HTTP basic to transmit the client credentials, we do that instead of including it in the request body.

Let me know if you think I've misinterpreted the spec - happy to take another look.

[2018-10-18 20:18] shockey commented on #4905
cc: #3227, @frol

[2018-10-19 03:10] wanniwa opened #4959 "what is csrf?"
when I open page  http://localhost/swagger-ui.html
it will also request http://localhost/csrf but return 404
how can i solve it

[2018-10-19 03:39] #4959 closed

[2018-10-19 08:15] frol commented on #4905
I believe, @shockey is right at his interpretation of the spec, so it seems that Swagger UI does the right thing (i.e. uses HTTP Basic authentication headers to provide `client_id` and `client_secret`) for this authentication flow.

[2018-10-19 10:21] tflori commented on #4739
I have to say that this is a crucial bug. A circular dependency should not cause such issues. It is not causing the issue when loaded from the same file - so there is already a mechanism that checks for recursion... seems that this test should use absolute paths.

[2018-10-19 14:19] stas-sultanov commented on #4690
same here
I am trying to use swagger to access my API which supports several Auth Providers and client_id for swagger application is different
currently there is no way to specify separate client_id for each auth provider

[2018-10-19 15:41] rschiefer commented on #4107
@kishor-p prefixing the relative path with "./" fixed it for me.  For example, from

"/{version}/swagger.json"

to

"./{version}/swagger.json"

[2018-10-19 20:42] MisterSchmitz commented on #4926
Thanks, got it working. I added the following to index.html
[code]
where bearerAuth matches the key name in my securitySchemes and tokenValue is the actual token value.

[2018-10-19 20:42] #4926 closed

[2018-10-19 22:52] shockey commented on #4929
@michalrus, FYI, I've confirmed that both cases you identified are working on master.

I'll cut releases tonight. Let's keep this open, you tell me if things look better on your end with the new version!

[2018-10-20 07:16] locomotif opened #4961 "Swagger example payload lost on Single Page App"
### Q&A (please complete the following information)
 - OS: [macOS
 - Browser: chrome
 - Version: 69.0.3497.100 (Official Build) (64-bit)
 - Method of installation: yarn
 - Swagger-UI version: 3.19.0
 - Swagger/OpenAPI version: 3.19.0
- __React Version: 16.5.0__

### Content & configuration
Here is my initialization of the SwaggerUI inside a react component:
[code]

### Describe the bug you're enco

[2018-10-22 10:43] vikramvi commented on #4263
@dotasek can you please clarify

what's `%20` mean ?

[2018-10-22 11:46] dalbani commented on #3920
What about striping all markup from the placeholder value, using a library like https://github.com/remarkjs/strip-markdown?

[2018-10-22 12:49] heldersepu commented on #4739
@tflori it might be crucial for you... but the large majority of swagger users do not use multiple files, and those that do I bet very few have circular refs.

My point is that for the owners this is a low priority/non critical bug...

[2018-10-22 15:16] anfle opened #4962 "Password flow does not work anymore"
### Q&A
 - Method of installation: npm
 - Swagger-UI version: since 3.19.1

### Content & configuration
The password flow does not work anymore with the following configuration:
[code]

After the following commit 054d450a45474cd8099622b73653349bea4ec7e9, the default branch is impossible to reach. That's the branch I want to reach with my configuration.

Currently, `passwordType` can be `query`, `r

[2018-10-22 17:03] heldersepu commented on #4739
@tflori <https://github.com/tflori> Here are my toughs

Your definition can still be compliant regardless of this bug, Yes there
are many features from OAS that are not fully supported in the ui yet

Not  sure what to say... No it should not take minutes, this should be
fully automated and take seconds.

Yes I strongly agree, do you have time to look into this?

On Mon, Oct 22, 2018 at 9:24 AM Tho

[2018-10-22 19:03] Ryandaydev commented on #4935
Nice chatting with you the other day, @shockey. I will wait to see your next release and then will plan on testing and contributing some recommended changes for 508 compliance and accessibility.

Note: if anyone other govvies are interested assisting with this effort, reach out to me directlyl

[2018-10-22 20:35] bozzltron commented on #4905
Thanks for the clarification here.  For future readers the basic authorization header is constructed by base 64 encoded a string that contains client_id and client_secret and is delimited by ":".

[2018-10-22 20:35] #4905 closed

[2018-10-23 00:00] shockey commented on #4929
@michalrus, any updates here? How is 3.19.4 treating you w/r/t this bug?

[2018-10-23 00:44] shockey commented on #807
@daibertdiego @chiguawuxi you should add

[code]

to each operation that you'd like to secure, or at the root level of your OpenAPI document if you'd like to secure the entire API. Replace `applicationoauth` with whatever name you gave your security definition!

[2018-10-23 00:54] shockey commented on #4218
Catching up here - are we all talking about the cURL output, or is this being observed in the requests Swagger UI itself is sending out as well?

[2018-10-23 02:16] shockey commented on #4935
You as well @Ryandaydev - I'll reach out to you within a month with an update.

[2018-10-23 13:00] michalrus commented on #4929
It’s working! :sparkles:

Thank you very much. \^.\^

[2018-10-23 13:00] #4929 closed

[2018-10-23 17:10] shockey commented on #3172
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-23 17:10] #3172 closed

[2018-10-23 17:18] shockey commented on #4886
Hi @glamic-ep! Thanks for the note.

If you'd like to see a code change in Swagger UI, please open a pull request instead of an issue 😄

[2018-10-23 17:18] #4886 closed

[2018-10-23 17:20] shockey commented on #4945
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-10-23 17:20] #4945 closed

[2018-10-23 17:37] shockey commented on #4951
@thanatos:

OpenAPI does incorporate JSON Schema, but there are limits, which the specification covers in detail (emphasis mine):

---

Thanks for the feedback 😄

We've made the decision to keep validation in Swagger Editor, since the UI is commonly used by folks that can't edit the document (think of a company using Swagger UI to host their documentation... if I'm using their API and there's a bu

[2018-10-23 18:57] elbertcastaneda opened #4963 "Create path response with array of elements (Schemas) by the correct way"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome, firefox
 - Method of installation: npm
 - Swagger-UI version: 3.19.4
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
I have this error:
[code]
I need to create a response with  array of elements (schemas) and this way works for me but i see that error when the validation is triggered, the exam

[2018-10-23 20:42] hkosova commented on #4963
Change
[code]
to
[code]
That is, the type definition needs to be wrapped into `schema`.

[2018-10-24 06:55] glamic-ep commented on #4886
It is still a bug report. Closing it like that is bad practice for any maintainer IMO. Doesn't really encourage me to contribute.

[2018-10-24 08:19] tnpradeep opened #4964 "Set default value for boolean property type to false in example section if default and example not provided"
### Content & configuration

Swagger/OpenAPI definition:
       complete": {
          "type": "boolean"
        }

 Why the default value for boolean type is not set to false in example section of body parameter, if i don't provide default value explicitly and don't provide any example ?

[2018-10-24 09:58] ErKiran commented on #4425
@mikefidel I still got same Error message DELETE operations cannot have a requestBody. Was it bug or upgrade. Do SmartBear patch it? How you solve this issue?

[2018-10-24 12:09] mlensment commented on #2651
Are there any updates with this? Or does anyone have a good workaround how to display multiple response objects that are possible with the same response code?

[2018-10-24 12:33] RvdHNL commented on #3725
Just by the looks of search results on "disabling try it out" I'd say there's enough demand. Including me :)

[2018-10-24 17:19] mikefidel commented on #4425
I recall being told, according to the formal Open API Specification, Delete operations do not have request body.  In my situation, the specification did not exist when the code I worked on was originally written.  The development group responsible for the code base do not want to change the it just because a specification says otherwise.

The produce manager I spoke to was not keen to ignore or ov

[2018-10-24 21:00] shockey commented on #4820
Once #4965 is merged, you can do this with the following..

Given a directory `foo` with `one.yaml` and `two.yaml` inside of it:

[code]

[2018-10-24 21:18] shockey commented on #4385
@maximelebastard, I think this is an issue with your proxy setup - it should handle rewriting Swagger UI's URLs based on what your user is seeing.

Per this [Server Fault answer](https://serverfault.com/a/725433), can you try changing your `proxy_pass` directive to:

[code]

[2018-10-24 21:20] elbertcastaneda commented on #4963
Thank you so much, my 'swagger-ui' does not have errors any more.
You are great.

Regards

[2018-10-24 21:43] #4963 closed

[2018-10-25 08:42] Soullivaneuh opened #4966 "Access to sass files from npm/yarn package"
If I add the package:

[code]

I only have this:

![image](https://user-images.githubusercontent.com/1698357/47487394-a9063e80-d842-11e8-95f1-4ffa994fe588.png)

I need the sass file to override the variables. Could you please add this possibility?

[2018-10-25 08:53] Soullivaneuh commented on #4966
Current workaround: Adding the tar.gz of the release:

[code]

But you wont get any update anymore.

[2018-10-25 08:58] Soullivaneuh commented on #4966
Also, a documentation part about how to use sass files would be great. :+1:

[2018-10-25 09:05] Soullivaneuh opened #4967 "Colors defined twice with no default options"
The actions colors defined here:

https://github.com/swagger-api/swagger-ui/blob/9a9b63634fdbe1de0556818fdb78e211c4e2fa83/src/style/_variables.scss#L25-L32

Are also defined here: https://github.com/swagger-api/swagger-ui/blob/master/src/style/_colors.scss

And without the `!default` key.

It make colors overriding impossible with `main.scss` integration. The only workaround is to import files one

[2018-10-25 12:02] dirkschneemann opened #4968 "Make the `servers` array configurable via the `SwaggerUI` object"
### Content & configuration

Swagger/OpenAPI definition:
[code]

 Swagger-UI configuration options:
[code]

### Is your feature request related to a problem?
The base path of my API (the part after `server URL` as [outlined here](https://swagger.io/docs/specification/api-host-and-base-path/)) is dynamic and can change with each deployment (different branches are served at different paths on the sa

[2018-10-25 14:06] aparamon opened #4969 "OAuth 2.0 Authorization Code Flow should allow specify "state""
Currently, Swagger Authorize page allows user to specify
* authorization URL
* token URL
* redirect URL (via [oauth2RedirectUrl](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/#network))
* client ID
* client secret
* scopes

However, OAuth 2.0 "state" parameter is auto-generated from current date:
https://github.com/swagger-api/swagger-ui/blob/a86fcf312a0d9b04d99982bf88a3

[2018-10-25 15:22] KutsenkoA opened #4971 "swagger-ui npm module doesn't compile with Angular 7"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: n/a
 - Version: n/a
 - Method of installation: npm
 - Swagger-UI version: 3.19.4
 - Swagger/OpenAPI version: n/a
 - Angular version: 7.0.1

### Describe the bug you're encountering

Angular application compiles with an error:
[code]

### To reproduce...

Create a new Angular project then do `npm install swagger-ui` a

[2018-10-25 18:51] shockey commented on #4968
@dirkschneemann, have you tried using a relative-path URL instead of an absolute-path URL (see [RFC 3986 s4.2](https://tools.ietf.org/html/rfc3986#section-4.2) for definitions)?

Something like this:
[code]

If your document is at `http://my-server/dynamic/path/docs/swagger.json`, this will point requests at `http://my-server/dynamic/path/api`.

Also: note that a server URL is always relative to w

[2018-10-25 19:03] shockey commented on #4967
@Soullivaneuh, feel free to open a PR that resolves this 😄

[2018-10-25 22:51] anxolerd commented on #3803
Hi. Encountered this issue today.

Is there anything I can help with to get the issue fixed earlier?
/cc @PavelStefanov ?

[2018-10-25 23:02] arlowhite opened #4972 "Swagger UI 2.9.2 usability issues"
I just upgraded from Swagger 2.7.0 to 2.9.2
There are a number of UI issues in the new design. I apologize for being overly critical, but together they are significant enough that we're probably going to revert to 2.7.0

In general, the new design is more overwhelming (extra text), wastes space, and requires more work in terms of clicking and scrolling.

## Extra click
First, the user cannot just

[2018-10-25 23:44] shockey commented on #4972
Hi @arlowhite!

Neither of these versions are Swagger UI versions - we jumped straight from `2.2.10` to `3.0.0`. Since you mention a new design, I'm going to assume you were on 2.x and are now seeing 3.x.

See our [version detection documentation](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/version-detection.md) for more guidance on how to figure out what version you're using!

[2018-10-26 02:56] CameronGo commented on #4942
@shockey  - the config.json contents were actually in the inital bug report, but here it is:
[code]

[2018-10-27 04:29] absurdist commented on #4932
hi, I'm put my boilerplate swagger in webpack here for anyone else who was to see and `example:`

https://github.com/absurdist/swagger-ui-in-webpack

[2018-10-27 13:09] dirkschneemann commented on #4968
I'm afraid that the above-mentioned behaviour is influenced by my reverse proxy and its path stripping rules before forwarding the request to the backend. I'll check this in more detail and get back to it but until then, we can assume that it works as documented.

[2018-10-29 12:59] tnpradeep opened #4974 "Example not rendered if Definition with Example and $ref"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: chrome
 - Version: 69.0.3497.100
 - Method of installation: dist assets
 - Swagger-UI version: 3.19.4
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

[code]

### Describe the bug you're encountering
When you provide any schema definition having $ref and an example [ Pet definition in above provided

[2018-10-29 14:07] JCWolf opened #4975 "Input fields for arrays of references for parameters"
### Q&A (please complete the following information)
 - OS: Ubuntu
 - Browser: chrome
 - Version: 69
 - Method of installation: composer
 - Swagger-UI version: 3.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Screenshots

![image](https://user-images.githubusercontent.com/4083652/47654378-5a82

[2018-10-29 14:34] Raptor399 commented on #4218
@shockey I observed UriEncoded apiKey cookie values in Swagger UI in Chrome at first. Calls would not work in the browser, so I copied the curl command to a terminal for further testing. There I discovered that undoing UriEncoding of the apiKey cookie values made things work as expected.

[2018-10-29 16:42] hkosova commented on #4974
`$ref` works by replacing itself and all of its sibling elements with the definition it is pointing at, that's why the `example` (any any other attributes) _directly alongside_ `$ref` won't have effect.

As you correctly noted, the solution is to move the example into the referenced definition.
Another possible workaround is to wrap the `$ref` into `allOf`:

[code]

[2018-10-29 16:58] maral opened #4976 "Missing documentation on simple static distribution"
In the install section, there is no mention of the possibility to just copy the /dist directory to my project. It was in documentation in the older version, so I knew how to do it, however for others it might be confusing, as from the webpage the natural direction is to the [Installation page](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/installation.md), which is quite difficu

[2018-10-29 17:44] shockey commented on #4976
Hey @maral!

Fair point 😄

Though I'm not a big fan of direct copying, since it locks users into specific versions... you _can_ do it, so we should document it as an option.

[2018-10-29 17:53] shockey commented on #4974
@hkosova is correct - you can't have Reference Objects alongside other values.

FYI, Swagger Editor marks this as incorrect:

<img width="480" alt="image" src="https://user-images.githubusercontent.com/680248/47669731-edb31200-db81-11e8-9801-97c0649dc63e.png">

[2018-10-29 19:50] Rigzzzz commented on #4408
I encountered the same issue for example array even with internal references:

[code]

In the above case the last reference renders the following:

[code]
It includes some fields that should not be rendered according to my component definition:

[code]

If I directly reference the example by editing the first piece as follows I get the same problem as mentioned by the original issue:

[code]

The

[2018-10-29 20:13] shockey commented on #4408
Hi @Rigzzzz, this is an old support ticket - please file a bug report 😄

[2018-10-29 21:02] shockey commented on #4968
@dirkschneemann, sounds good - looking forward to an update.

[2018-10-29 21:53] shockey commented on #4971
Hey @KutsenkoA, this appears to be an Angular issue - we don't depend on the `xml` module.

Before I close it, though... can you provide an angular project repository that I can use to recreate this bug?

[2018-10-30 00:51] michalrus opened #4977 "Collapsible markdown in descriptions?"
### Content & configuration
*n/a*

### Is your feature request related to a problem?
Some of our endpoints have very large descriptions. It would help a lot if we could use collapsible blocks in Markdown, like you can do on GitHub, e.g.:

<details><summary>CLICK ME</summary>
<p>

#### yes, even hidden code blocks!

[code]

</p>
</details>

### Describe the solution you'd like
Swagger-UI’s Markdown

[2018-10-30 08:39] Rigzzzz opened #4978 "Internal references to example array not rendering correctly in UI"
- OS: Linux Mint
 - Browser: google chrome
 - Version: 70.0.3538.67
 - Method of installation: None
 - Swagger-UI version: Online Swagger hub and Swagger editor
 - Swagger/OpenAPI version:  OpenAPI 3.0

I encountered rendering issues for example array using internal references:

[code]
In the above case the last reference renders the following:

[code]

It contains some fields that should not be r

[2018-10-30 08:41] oupvo01 opened #4979 "Swagger-ui webpack-dev-server blocking react-scripts update"
- OS: [Windows 10]
 - Browser: [n/a]
 - Method of installation: [npm]
 - Swagger-UI version: [3.19.4]

the bug you're encountering

I'd like to update react-scripts inside a create-react-app project.
After running `npm install --save --save-exact react-scripts@2.0.5`
I get this
![image](https://user-images.githubusercontent.com/42371237/47705633-67e9a200-dc27-11e8-8b70-ed18f69ddc33.png)

`npm ls w

[2018-10-30 08:52] KutsenkoA commented on #4971
I'm sorry, but you do:
https://github.com/swagger-api/swagger-ui/blob/9a9b63634fdbe1de0556818fdb78e211c4e2fa83/package.json#L80

Sure - https://github.com/KutsenkoA/imhotep

[2018-10-30 14:42] Vaelor commented on #4971
Got the same problem here. My error message (as soon as I include swagger-ui):
[code]

[2018-10-30 18:16] poonamshah opened #4980 "Calling GET endpoint redirects to POST endpoint"
Calling GET endpoint redirects to POST endpoint

Chrome Version : Version 70.0.3538.77 (Official Build) (64-bit)
Safari Version :  Version 12.0 (12606.2.11)
Firefox Version : 59.0.2 (64-bit)

Swagger Version : 3.19.4

[2018-10-30 19:01] shockey commented on #4954
Closing as resolved

[2018-10-30 19:01] #4954 closed

[2018-10-30 19:20] shockey commented on #4979
Yep, this is on us - it’s in our optionalDependencies 🤔

I’ll move it to devDependencies. This should be resolved in our release on Friday!

[2018-10-30 19:49] dblock opened #4981 "UI sends multipart content even though API specifies application/json"
Coming from https://github.com/artsy/doppler/issues/142 with swagger-ui version: 3.19.4.

API specification is https://api.artsy.net/api/docs, which has

[code]

and all APIs say `consumes` with `application/json`.

The "Try me" UI POSTs multipart data while specifying JSON in content type, resulting in an error from our API.

[code]

The curl code is incorrect too.

[code]

Reading the code ... i

[2018-10-30 20:19] shockey commented on #4981
Hey @dblock!

It looks like your definition is describing all of your parameters as `in: formData`, which is why you're seeing url encoded values.

If you load your definition into Swagger Editor, you'll see a couple dozen errors that look like this:

---

Your POST /api/applications parameter currently looks like this:

[code]

If you want JSON, you should change `in: formData` to `in: body` to a

[2018-10-30 20:21] dblock commented on #4981
Thanks. This is pretty clear. Now I have to figure out why we're defaulting primitive types into `formData` in grape-swagger, https://github.com/ruby-grape/grape-swagger/issues/721

[2018-10-30 20:21] #4981 closed

[2018-10-30 20:23] shockey commented on #4980
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-10-30 20:23] #4980 closed

[2018-10-30 20:31] dblock commented on #4981
Right. I meant each field is a string, but the whole thing is an object. When monkey patched as in ruby-grape/grape-swagger#721 I get this and everything works.

![screen shot 2018-10-30 at 4 31 30 pm](https://user-images.githubusercontent.com/542335/47748473-49080180-dc61-11e8-8f2c-693909aeebae.png)

[2018-10-30 20:33] shockey commented on #4974
@tnpradeep, the fact that it was working in 2.x was a bug - the Swagger/OpenAPI Specification (as well as the JSON Schema specification) is quite clear about the fact that $ref cannot have sibling values.

We hashed this out at length over in https://github.com/swagger-api/swagger-ui/issues/4732 a few months ago. I invite you to take a look at everything mentioned there so that you understand out

[2018-10-30 22:20] 1nfinite opened #4983 "File extension and size validation"
I am using swagger 2. Is it possible that I have file extension and size validation for file in the swagger itself? Something as follow.

[code]

[2018-10-31 03:16] #4979 closed

[2018-10-31 08:02] malutanpetronel commented on #4600
I dd in laravel the result of this and get ...characters">[object File],[object File]</span>"...

[2018-10-31 08:17] malutanpetronel commented on #3641
..
     *        @OA\MediaType(
     *            mediaType="multipart/form-data",
     *            @OA\Schema(
     *                type="object",
     *                @OA\Property(
     *                    property="files",
     *                    description="Choose a file to upload",
     *                    type="array",
     *                    @OA\Items(
     *

[2018-10-31 12:16] anbusurendhar commented on #4676
Experienced the same issue. I am using swagger UI.

By default the application is configured to run on port **3002** in _package.json_, but in _swagger-config.yaml_ config file **oauth2RedirectUrl** is pointed to port **3200**.

After some research, I came with this solution and it worked for me. Hope this would help.

[code]

[2018-10-31 12:48] anbusurendhar commented on #4382
Experienced the same.
Token can be used dynamically attached to any request.

My API server is running on _http://localhost:1337_

Setup all the Oauth2 grants definitions to fetch access token. Eg. Implicit, Authorization code, Password. In my case,

_swagger.json_
[code]
_index.html_

[code]
Here **responseInterceptor** is called every time when the application receives a http response. It takes

[2018-10-31 13:58] cjudd commented on #4855
I am having the same problem with Windows 10, Edge Microsoft Edge 41.16299.699.0 (Microsoft EdgeHTML 16.16299) and swagger-ui 3.19.4. Works fine for me in Chrome, Firefox and IE. I always get the response of:

can't parse JSON.  Raw result:
[object Blob]

[2018-10-31 17:45] shockey commented on #4977
Hmm.. since the functionality is provided by the browser ([most browsers, anyway](https://caniuse.com/#search=details)), this should simply be a matter of adding the `<detail>` and `<summary>` tags to our element whitelist.

I'm prioritizing this, as it's widely helpful and likely easy to implement.

[2018-10-31 18:09] michalrus commented on #4977
Thank you very much! :sparkles:

[2018-10-31 18:16] ndvictor14 commented on #4971
Just chiming in, I got the same error doing the basic installation / setup:
[code]

[2018-10-31 20:46] shockey commented on #4971
Oof - my bad, @KutsenkoA. You're right. I was in the Swagger Client folder when I did `npm ls xml` 🤦‍♂️

So, the root of this issue seems to be that `xml` relies on `stream`, which is a Node.js builtin module. `xml` has been inactive for some time, but there was some noise about this in the issue tracker (https://github.com/dylang/node-xml/issues/40) - I think it's safe to assume that `xml`'s main

[2018-10-31 22:44] shockey commented on #4971
Okay, I've [forked `xml`](https://www.npmjs.com/package/@kyleshockey/xml) successfully.

Based on @KutsenkoA's example repository, this appears to be fixed once I link the example project to my local version of Swagger UI, which contains the fix in the PR linked above this comment:

[code]

[2018-11-01 09:52] cweiske opened #4986 "Support for property types ipv4, ipv6 and date-time in example values"
### Content & configuration

Swagger/OpenAPI definition:
[code]

 Swagger-UI configuration options:

(none)

### Is your feature request related to a problem?
The "Example Value" for the TypeTest schema shows several warnings/errors/unsupported:

[code]

### Describe the solution you'd like
Swagger UI should know the types ipv4, ipv6 and date-time and fill them with example IPs and the current tim

[2018-11-01 10:13] flik commented on #3603
This issue belongs to annotations you can try original annotation example from https://editor.swagger.io/# in your project and try...

[2018-11-01 13:42] Tamriel commented on #3803
Another "workaround" is to use [ReDoc](https://github.com/Rebilly/ReDoc) instead of swagger-ui.

[2018-11-01 17:09] michalrus commented on #4977
Wonderful! Thanks. =)

I only had to add this style to make it look sensible:

[code]

(Forgive me if it’s rubbish, I’m no frontend dev.)

[2018-11-01 18:34] shockey commented on #4971
Okay, I'm going to close this out - I'm pretty confident that #4985 fixes this.

We'll release a new version of Swagger UI tomorrow with the fix - if you're still having issues, please bump this thread with some details and I'll take another look.

Thanks, everyone!

[2018-11-01 18:34] #4971 closed

[2018-11-01 18:53] #3138 closed

[2018-11-01 18:53] #3902 closed

[2018-11-01 18:53] #4820 closed

[2018-11-01 22:52] #3467 closed

[2018-11-01 22:52] #4957 closed

[2018-11-01 22:53] shockey commented on #4957
After our release tomorrow, you'll be able to do this through environment variables 😄

[2018-11-02 08:09] oupvo01 commented on #4979
@shockey Thanks for quick answer! I'll eventually reopen this issue if this persists 😄

[2018-11-02 18:13] dirkschneemann commented on #4968
Hi @shockey , yep, my problem was indeed due to using the `PathPrefixStrip` rule in my [traefik reverse proxy](https://docs.traefik.io/basics/#matchers) which forwards requests to my Docker container hosting `SwaggerUI` on a webserver.

Using the `servers` key in the specification without such a setup works as expected and is indeed a solution to my initial question.

This thread can be closed the

[2018-11-02 18:13] #4968 closed

[2018-11-02 21:05] shockey commented on #4968
@dirkschneemann great! glad you got it figured out 😄

[2018-11-02 22:32] ggirodda opened #4989 "empty array of object when one of the property name is "status""
### Q&A (please complete the following information)
 - OS: mac OSX
 - Browser: firefox
 - Version:  63.0
 - Method of installation: docker
 - Swagger-UI version: latest (docker swaggerapi/swagger-ui image)
 - Swagger/OpenAPI version: [unknown, OpenAPI 3.0.2]

if I rename the property "status" in "statu" for exemple everything works fine. This appen when I include in an array of items a $ref type o

[2018-11-02 22:43] ggirodda commented on #4989
Sorry, my mistake. I didn't see that the key status was already in there, I put it two times

[2018-11-02 22:43] #4989 closed

[2018-11-03 06:24] 1nfinite opened #4990 "Email and uri format not validated"
I am using swagger 2 with request of formData as follow.
However the format email and format uri is not validated.
What am i doing it wrong?

[code]

[2018-11-03 09:15] dionren commented on #4633
I hope the team will give out a more compact ui version or themes.
No question 3.x UI is easier on the eyes, but we are engineers not artiest...

[2018-11-03 17:50] BordalloG commented on #3088
It may help someone :
applicationBuilder.UseSwagger()
                .UseSwaggerUI(options =>
                {
                    **options.DocExpansion(DocExpansion.None);**
                });

[2018-11-05 12:56] jnbolito opened #5003 "Swagger UI docker hub page info outdated"
Hi, I believe the info in docker hub regarding swaggerapi/swagger-ui is outdated:

It says to run the image to use the command
```docker run -p 80:8080 -e API_URL=http://generator.swagger.io/api/swagger.json swaggerapi/swagger-ui```
however this is outdated for v3.19.5 of the image and (in such cases) should be changed to:
```docker run -p 80:8080 -e URL=http://generator.swagger.io/api/swagger.jso

[2018-11-05 15:00] supsup opened #5004 "Proper way to inject jwt into swagger 2 / swagger 3 doc via 'Try It Out'?"
- OS:   any
 - Browser  any
 - Method of installation: dist
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: Swagger 2.0 and OpenAPI 3.0

### Content & configuration
swagger 2 security format:

swagger 3 security format:

Both of these work fine, but when i go to 'Try It Out'
I have to enter a JWT with Bearer to v2, and without Bearer for v3.
example:
V2:
`Bearer <jwt>`

V3:
`<jwt>`

 Is

[2018-11-05 23:01] Behoston opened #5005 "API_URL does not work for v3.19.5"
[code]
![obraz](https://user-images.githubusercontent.com/7823689/48032203-02317480-e157-11e8-9c5f-0f441911c254.png)
works fine for v3.19.4

[2018-11-06 00:57] shockey commented on #5005
Yep - bear with us, there's a small bug with Docker environment injection. This will be fixed today/tomorrow.

[2018-11-06 01:57] #5005 closed

[2018-11-06 02:50] shockey commented on #5005
This is now live: our `latest` and `v3.19.5` images have been updated with the fixes from #5006 and #5007.

[2018-11-06 02:50] shockey commented on #5005
Thanks for reporting this, @Behoston!

[2018-11-06 14:20] CyrilleBenard opened #5008 "Swagger UI within docker and one (or multiple) referenced ($ref) YAML file(s)"
### Content & configuration

Swagger/OpenAPI definition:

Not the full YAML file but an extract to identify what's the purpose of this improvement I think that would be nice

[code]

### Is your feature request related to a problem?

The current docker image already downloadable allows the user to specify its own JSON / YAML file as soon as the container ran, thanks to the below CLI :

[code]

But

[2018-11-06 15:27] figuerres opened #5010 "Authorize and Try it out buttons"
### Q&A (please complete the following information)
 - OS:  windows 10 / server 2016
 - Browser: chrome
 - Version: 70.0.3538
 - Method of installation: bundled dist files
 - Swagger-UI version:  3.19.3
 - Swagger/OpenAPI version:  Swagger 2.0

i have web api's that need a jwt token to execute.
the "try it out" button is enabled even though the UI has not toggled the "padlock icon" to locked.
i do

[2018-11-06 17:13] ocha opened #5012 "Upgrade to latest Swagger UI Dist"
### Is your feature request related to a problem?
There are some bugs that were fixed since v3.17 of Swagger UI Dist.

### Describe the solution you'd like
Upgrade to latest version

### Additional context
If you have enum for path in your api definition, swagger ui v3.17 does not update URL correctly

[2018-11-06 17:52] shockey commented on #5012
Hey @ocha - are you saying that newer versions of Swagger UI **do** or **do not** have an issue with updating the URL?

[2018-11-06 18:32] shockey commented on #5012
@ocha, I see. What gem are you using? This probably should be reported to another project, since we don't maintain any gems here.

[2018-11-06 18:57] ocha commented on #5012
@shockey I am so sorry. I meant to open this ticket in rswag repo.
I was on wrong tab 🤦‍♂️

[2018-11-06 18:57] #5012 closed

[2018-11-07 08:00] hkosova commented on #5010
This lets you test the endpoints specifically without providing authentication to make sure they return a proper HTTP status code and error response, such as 401 Unauthorized.

[2018-11-07 08:06] flik commented on #2828
I have the same issue. Here is my swagger annotations detail:

curl request in swagger ui is not sending any param in post request.
[code]

[2018-11-07 09:20] flik commented on #72
I have the same issue and here is my swagger.json

[code]

[2018-11-07 16:01] soliveira commented on #4533
I believe the issue is here:
https://github.com/swagger-api/swagger-ui/blob/054d450a45474cd8099622b73653349bea4ec7e9/src/core/plugins/auth/actions.js

It is missing the ClientId and ClientSecret in the form.

[code]

[2018-11-07 17:15] ricogu commented on #3586
@ravind996 , I have the same issues with anuglar6, did you manage to find a solution?

[2018-11-07 18:20] nikolaz111 commented on #2651
Is there a beta for this at least?

[2018-11-07 22:30] erunion commented on #4425
Also seeing this error, and it seems like since it's just a semantic and not a schema error, that the spec is still okay.

Still, kind of annoying that the error is present to begin with on a valid usecase.

[2018-11-07 22:50] javabrett commented on #4425
This type of operation (`DELETE`, `GET` requests with a body) was explicitly banned in Open API 3.0.  Prior to that it was allowed or vague.

[2018-11-08 04:37] nzav commented on #4178
Any updates on this?

[2018-11-08 15:01] erunion commented on #4425
https://tools.ietf.org/html/rfc7231#section-4.3.5

So it is...

[2018-11-08 18:51] creichert commented on #4951
It's clear that OpenAPI has diverged from JSON Schema. What's not clear is _why_ this compromise was made? Can you point me to an issue that points out why?

From an external tooling providers perspective, this makes is difficult to use standard JSON Schema tools with OpenAPI.

[2018-11-08 21:58] javabrett commented on #4425
I think the important 3.0 spec clause is: https://swagger.io/specification/#operationRequestBody

[2018-11-08 23:36] lephuongbg opened #5016 "OAI 3's minimum/maximum validation doesn't show on UI"
### Q&A
 - OS: Linux
 - Browser: Chrome
 - Version: 70
 - Method of installation: npm
 - Swagger-UI version: 3.18.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering

Minimum/maximum information doesn't show in parameter validation. In "Try it Out", if

[2018-11-09 11:35] tomchristie commented on #4976
I think it's worth comparing the difference to ReDoc's documentation... https://github.com/Rebilly/ReDoc#tldr

Their TDLR is just a single HTML page that points at a CDN'd version of redoc.

It'd be great if Swagger UI did something similar. Either just being able to copy the /dist files, or being able to immediately point at CDN hosted versions is *really* helpful for allowing developers to just

[2018-11-09 17:59] shockey commented on #4951
@creichert - that's a great question for the OpenAPI Technical Development Committee (which I'm not a part of).

The OpenAPI issue tracker is a good place to start - here's a historical discussion concerning the JSON Schema constraints in Swagger/OpenAPI 2.0: https://github.com/OAI/OpenAPI-Specification/issues/333. Also, https://github.com/OAI/OpenAPI-Specification/issues/1263.

You may be interes

[2018-11-09 18:02] shockey commented on #4976
@tomchristie, we do document this 😄 https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/installation.md#unpkg

It is a bit tucked away - I'd be happy to accept a PR that adds a TL;DR to our README!

[2018-11-09 23:28] jleck opened #5017 "Wrap spec in parent object"
Hi,

Is there any support for wrapping a JSON spec in a parent object? My API usually returns a parent object with the response status code, metadata etc. Is it possible to tell swagger to get the JSON from a nested key?

Thanks!

[2018-11-12 09:50] ezinzombe commented on #2972
Add Swagger Configuration and specify the packages that contains your REST API's

@Configuration
@EnableSwagger2
public class SwaggerConfig {

    @Bean
    public Docket productApi() {
        return new Docket(DocumentationType.SWAGGER_2)
                .select()
                .apis(RequestHandlerSelectors.basePackage("zw.co.soskode.angular.controller"))
                .paths(regex("/api.*")

[2018-11-12 13:51] shockey commented on #5017
Hey @jleck, I'm not quite following what you're getting at - can you share an example of what you have in mind?

[2018-11-12 14:11] shockey commented on #3586
If you're still having problems, please open a new issue 😄

[2018-11-12 14:20] shockey commented on #4533
@soliveira, per the OAuth spec, client_id and client_secret shouldn't be included in the access token request body:

Quoting myself, quoting the spec:

See https://github.com/swagger-api/swagger-ui/issues/4905#issuecomment-431140942 for more context.

[2018-11-12 14:29] shockey commented on #5012
@ocha no worries! 😄

[2018-11-12 14:30] figuerres commented on #5010
found that i had an issue that was creating a redirect to confuse the swagger-ui thanks.

[2018-11-12 14:30] #5010 closed

[2018-11-12 15:46] jleck commented on #5017
Hi @shockey

Take the follwing spec:

[code]

What I would really like to return is:

[code]

So it can follow the structure of all other APIs I have. Hopefully that makes sense. Basically need a way of getting a spec from a nested key in JSON :)

[2018-11-12 17:47] shockey commented on #5017
Hmm - to be certain, this is what's coming back from the URL that you want to point Swagger UI at?

[2018-11-12 17:48] shockey commented on #5017
If so, follow up question: how are you using Swagger UI?

[2018-11-12 19:02] jleck commented on #5017
Correct. I’ve embedded swagger ui as a route in a SPA.

I have middleware on my api that wraps responses in additional metadata like status, generation time etc. Would be quite useful to me keep that included.

[2018-11-12 19:03] jleck commented on #5017
Backend is php inside docker

[2018-11-12 19:11] shockey commented on #5017
Gotcha. Can you post a snippet of how you're using Swagger UI in the SPA?

[2018-11-12 19:39] jlw0 opened #5019 "The "url" configuration parameter is not being ignored when "urls" is provided via "configUrl""
### Q&A
 - OS: Windows 10 Enterprise
 - Browser: Chrome
 - Version: 70.0.3538.77
 - Method of installation: Dist Assets
 - Swagger-UI version: 3.19.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
JavaScript Swagger-UI Configuration:
[code]

Query Parameter Swagger-UI Configuration:
[code]

Swagger-UI Configuration Endpoint Response Body:
[code]

### Describe the bug you're e

[2018-11-13 05:22] Anujg1983 opened #5020 "Need way to hide curl command from swagger response using configuration"
### Content & configuration

Swagger/OpenAPI definition:
[code]

 Swagger-UI configuration options:
[code]

[code]

### Is your feature request related to a problem?

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2018-11-13 11:05] jleck commented on #5017
[code]

[2018-11-13 14:37] marwin1991 opened #5021 "No Accept-Charset header"
### Content & configuration
I am having problem that generated spring-boot-app and also her on hub
https://app.swaggerhub.com/apis/ZBP/polish-api/2_1#/AIS/deleteConsent
when i am trying to execute anything i always get
Missing request header 'Accept-Charset' for method parameter of type String]
But generated curl works nice.

### Describe the bug you're encountering
Ther is no 'Accept-Charset' whe

[2018-11-13 18:19] ragazzojp commented on #4314
@webron , I think this should be reopened, can you please answer my previous message or show an example of how to use the feature? The documentation does not yet mention any `displayName` field or similar, but you're saying it is already implemented.

[2018-11-13 19:12] Yaima opened #5022 "Documenting POST endpoint using base64 encoding"
Hi, I am trying to document an enpoint that encodes 2 variables.
Is it possible to use base64?
I know how to do it under security definitions, but we need to have it fully documented as a standalone POST/.

[code]

Thanks!

[2018-11-13 19:17] akrz opened #5023 "Query string parameter not rendered when using 'content' property"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04
 - Browser: chrome
 - Version: 70.0.3538.77
 - Method of installation: https://editor.swagger.io/
 - Swagger-UI version: the one used in https://editor.swagger.io/
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

Unable t

[2018-11-14 04:56] samhw opened #5025 "In 'Try it out', how to mask passwords in the CURL command"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [3.10.0]
 - Swagger/OpenAPI version: [Swagger 3.0, OpenAPI 3.0]

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Screenshots

#

[2018-11-14 07:55] hkosova commented on #5023
Thanks for the report! This issue is tracked in #4442.

[2018-11-14 08:02] hkosova commented on #5022
The `Authorization` header here is standard [Basic authentication](https://swagger.io/docs/specification/2-0/authentication/basic-authentication/) using client ID as a username and client secret as a password. Basic authentication can be described using `securityDefinitions` + `security`, just like other supported authentication types.

[2018-11-14 09:37] Poornima2210 opened #5026 "Log In Swagger definition error - Could not resolve reference"
I am creating swagger.json with help of java code.

 @ApiParam(value = "Endpoint properties") @QueryParam("attributes") final Set<EntryParam> attributeSet
I am unable to see the definition generated for EntryParam(This is our customized class) in swagger.json.
Getting the error
Resolver error at paths./6.1/endpoints.get.parameters.8.items.$ref
Could not resolve reference because of: Could not reso

[2018-11-14 12:17] ChristopherHackett opened #5027 "Plugin catalog ?"
Does a plugin catalog exist?

I am about to attempt to extend the functionality of swagger-ui but before I do I want to find if someone else has written something similar.

Whilst I can find documentation on the plugin API I can't find any catalog of know plugins and/or how to search some other site for them.

I checked the [github issues](https://github.com/swagger-api/swagger-ui/issues?utf8=%E2%

[2018-11-14 15:51] Yaima commented on #5022
Yes Helen, I know this and I have it working, but I do need to document the endpoint by itself. Something like this (ignore the lock). Thanks

![screen shot 2018-11-14 at 7 50 09 am](https://user-images.githubusercontent.com/1240271/48494111-05c19d00-e7e2-11e8-8e5e-3427b8b45bfa.png)

[2018-11-14 16:08] hkosova commented on #5022
Here's how you can document it:
[code]

[2018-11-14 16:42] hkosova opened #5029 "Hide scheme-container if there are no Authorization/schemes/servers"
Swagger UI version: 3.19.5

If an API definition contains no securities and no `schemes` (OAS2) or `servers` (OAS3), Swagger UI still renders an empty `scheme-container`. It serves no purpose and just takes up vertical space (see the screenshot below).

To use vertical space more efficiently, consider not displaying `scheme-container` if it does not have any contents.

### Content & configuration

[2018-11-14 16:58] Yaima commented on #5022
Is this for the authorize button or to get the post working by itself? In this case, I am trying to get the post working not the authorization.

[2018-11-14 17:08] hkosova commented on #5022
It's both because the [OAuth RFC](https://tools.ietf.org/html/rfc6749#section-4.4.2) says the token request "MUST authenticate with the authorization server". In this case the "Authorize" button is used to enter the client ID (username) and client secret (password) for the token request.

[2018-11-14 17:16] Yaima commented on #5022
But I don't want it in the authorize, the authorize is working as it is supposed to be. I am trying to have an additional endpoint documented with the post process. So when I click on try it out I will be able to get the token back in the call. If you see the screenshot, it is missing Basic base64(client_id...)
<img width="977" alt="screen shot 2018-11-14 at 9 15 49 am" src="https://user-images.gi

[2018-11-14 17:23] hkosova commented on #5027
There's no offical plugin catalog from what I know, but here are some plugins previously posted in the issue tracker:
* Hide the YAML/JSON file link: https://github.com/swagger-api/swagger-ui/issues/4171#issuecomment-373204614
* Hide the Base URL: https://github.com/swagger-api/swagger-ui/issues/4171#issuecomment-373204614
* Add custom text above/below API info block: https://stackoverflow.com/a/5

[2018-11-14 19:48] shockey commented on #4628
@wijdench, is this still an issue for you? happy to help if so!

[2018-11-14 19:48] shockey commented on #4804
hey @sietekk is this still an issue for you? happy to help if so!

[2018-11-14 19:54] shockey commented on #4805
Following up here - if you need to configure Swagger UI in Express, the best solution I know of is https://github.com/scottie1984/swagger-ui-express, which is a clean way of doing the editing that @dcorking is referring to.

You should definitely _not_ be importing or calling `SwaggerUIBundle` directly in your server-side application - that code is meant for your user's browser. The only code rele

[2018-11-14 19:54] #4805 closed

[2018-11-14 19:55] shockey commented on #4890
hey @minhloc2011, we recently shipped a few improvements to our Docker image - can you try your docker-compose configuration with the latest version of Swagger UI?

[2018-11-14 20:46] shockey commented on #5022
Hmm...

@hkosova's right, you should be using our Authorization features for this - but @Yaima I do see where you're coming from in terms of documenting the token-granting endpoint itself.

_Perhaps_ it should be possible to document a base64-encoded parameter like this:

[code]

As of now, we're treating this parameter as plain text, though.

[2018-11-14 20:48] shockey commented on #5022
Follow-up: @Yaima, as I understand it, your parameters are in the right place, your only problem is that they're plaintext instead of base64-encoded?

[2018-11-14 21:03] Yaima commented on #5022
Yes, I am trying to document the Authorization process by itself for the API users.
Adding format - base64 doesn't change anything.

[code]

`curl -X POST "https://api.neusec.biz/v1/oauth/token" -H "accept: application/json" -H "Content-Type: application/x-www-form-urlencoded" -d "client_id=abc&client_secret=def"`

So pretty much when the user click on Execute, the curl command should look like:

[2018-11-14 21:09] shockey commented on #5022
@Yaima ok, one more question - in the cURL example you provided, where in the Swagger document are you expecting the `Authorization` header value to come from?

[2018-11-14 21:13] hkosova commented on #5027
This can be done by using the [`requestInterceptor`](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#network) option. [Here's an example](https://github.com/swagger-api/swagger-ui/issues/2793) of loading a spec protected by Basic auth.

[2018-11-14 21:19] hkosova commented on #5029
Looks like PR https://github.com/swagger-api/swagger-ui/pull/4950 is supposed to fix this.

[2018-11-14 22:34] Yaima commented on #5022
Maybe a different data type for parameters that when specify it will generate a curl command following the already existing authorization code ie:` (authActions.authorizeApplication(auth)`, something like basicFormData.
If this type of parameter is specified, then the program knows that the user is trying to document an endpoint for authorization and so on.

[2018-11-15 01:18] nabinked opened #5030 "How to get current operation Id/tag inside wrapComponent?"
While writing a plugin, is there any way inside a `wrapComponent` like `TryItOutButton`, `Execute` that we can extract the `operationId` of the current operation inside which these components are rendered. I tried finding any methods in the system object but could not find any. Any help would be much appreciated.

### Q&A
 - OS: Windows 10
 - Browser: Chrome
 - Version: 70
 - Method of installatio

[2018-11-15 03:00] Yaima commented on #5022
Maybe something like this adding the base64 encoding and the auth to it?
[code]

[2018-11-15 09:58] ChristopherHackett commented on #5027
Thanks for the pointers. Looks really useful. 👍

I was expecting to see some plugins packaged up on npm but it seems these are usually small snippets of code added via the plugin mechanism. This probably explains why I struggled to find them at first.

[2018-11-15 17:47] wijdench commented on #4628
Hi,
Thanks fo you feedback, it still an issue for me.

[2018-11-15 17:55] wijdench commented on #4628
how can i call Keycloak config object created in config directoy inside index.html swagger file.
Fo now i configure Keycloak Inside index.html.
 var keycloak = Keycloak({
 "realm": "realmName",
 "url": "url",
 "clientId": "clientId"
 });

and i'm using config.js module to centralise all my app configuations.
Thanks.

[2018-11-15 18:45] Yaima commented on #5022
How about creating a new value
`const VALID_IN_VALUES = ["path", "query", "header", "body", "formData", "**encodeData**"]`
 and if in == encodeData then we call` authActions.authorizeApplication(auth)`

[2018-11-15 19:41] jlw0 commented on #4855
I'm also seeing this issue with Microsoft Edge 40.15063.674.0 Microsoft EdgeHTML 15.15063.  In my case it is occurring when trying to retrieve the JSON configuration from the _configURL_ query parameter.  It’s odd because Edge works on some sites, but fails on others.  I confirmed that this issue does not occur on IE, Firefox, and Chome.

The problem is occurring because the _getConfigByUrl()_ fun

[2018-11-15 19:44] shockey commented on #2915
sure @bunyk, here are the docs for the methods you can use to set an ApiKey authorization value: https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#instance-methods

@hkosova's comment above (https://github.com/swagger-api/swagger-ui/issues/2915#issuecomment-376245104) is the right way to do it.

In Swagger/OpenAPI 2.0, you'll need to manually add `Bearer` as well...

[2018-11-15 19:47] shockey commented on #4855
@jlw0, this sounds like an Edge bug we've dealt with before... try adding this fix to your project: https://github.com/swagger-api/swagger-js/issues/1206#issuecomment-360192722

[2018-11-15 23:21] #4813 closed

[2018-11-15 23:29] shockey commented on #4986
https://github.com/swagger-api/swagger-ui/pull/5024 adds support for `format: date` and `format: date-time`... IP address format examples are still unimplemented 😄

[2018-11-15 23:43] jeremyhayes commented on #4986
@shockey to be clear, #5024 adds support for `date` format...`date-time` support was already there.

[2018-11-16 00:56] shockey commented on #3826
Some notes on this:

`sampleXmlFromSchema` is getting tripped up...  here's what `schema` is being passed around through the recursive calls to it.

[code]

[2018-11-16 02:28] aezio opened #5031 "Swagger2 nested Object is not shown"
I'm working with swagger2 on version 2.9.2, I encountered a problem with incomplete display of multiple nested objects. I have a class named AddEntityCaseReq,and the structure below.When I visited the swagger-ui.html,There is nothing in the Properties. I have marked `@ApiModel` and `@ApiModelProperties` on each class. Is there anything missing?Your prompt help and kind advices would be much apprec

[2018-11-16 06:47] nayanishdamania opened #5032 "Swagger UI endpoint expand/collapse issue"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 70.0.3538.102
 - Method of installation: NuGet Package
 - Swagger-UI version: 3.19.5
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Swagger-UI configuration options:
[code]

[code]

### Describe the bug you're encountering

I am using Swagger UI in AspDotNetCore WebApi Applicati

[2018-11-16 08:56] bunyk commented on #2915
Yes! With

[code]
in my openapi spec, and by passing
[code]

to `SwaggerUIBundle` it works! Thank you very much.

[2018-11-16 12:04] amitbaraik commented on #4218
Hello All,

do anyone know how to fix this? My problem is same as absurdist

[2018-11-16 12:22] #4986 closed

[2018-11-16 12:52] shockey commented on #5021
Hi @marwin1991! This is, unfortunately, out of our control.

There's a handful of [forbidden header names](https://fetch.spec.whatwg.org/#forbidden-header-name) that browsers are _not_ allowed to touch in requests - some for security reasons, others because they're traditionally handled by the user agent (in this case, the browser).

This is the same root cause as https://github.com/swagger-api/sw

[2018-11-16 13:16] hkosova commented on #5032
It looks like several operations have the same `operationId`. Duplicate operationIds [are not allowed](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#user-content-operationid) by the OpenAPI Specification.

@nayanishdamania check the relevant annotations in your source code to make sure the operation IDs are unique, or open a ticket with the library you use to generate

[2018-11-16 15:40] pikazlou opened #5035 "Chrome overrides User-Agent specified as parameter"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Browser Version: 70.0.3538.77
 - Method of installation: dist assets
 - Swagger-UI version: 3.19.5
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
Browser always ov

[2018-11-16 16:37] jlw0 commented on #4855
Yeah, it seems I encountered the same issue.  I tried Microsoft Edge 42.17134.1.0 Microsoft EdgeHTML 17.17134 and I was able to retrieve the JSON from my configuration endpoint.

[2018-11-16 20:02] #3826 closed

[2018-11-16 21:45] hkosova commented on #5022
@Yaima In this scenario, client ID and client secret cannot (and should not) be described as `parameters`. `Authorization: Basic base64(value1:value2)` request header is handled by security definitions instead. Here's a more detailed example:

[code]

To test the API call in Swagger UI, click the authorize button and enter the client ID and secret in the authorization dialog. They send the request

[2018-11-16 22:12] Yaima commented on #5022
Thanks for the detailed walkthrough @hkosova. My swagger doc has **security** and **securityDefinitions** defined. I was trying to document the /post for the token request outside the pop-up window,  in details.
For now, I ended up removing the Try Out button from it, to still keep the endpoint documentation visible but hiding any working logic around it, so if someone is exploring the API docs an

[2018-11-19 07:15] sreichi commented on #1974
@RehanSaeed thanks for your answer it helped me to find a way solving this problem.
The thing you forgot to mention is how to integrate that script into your Swagger UI page.
So for all of you encountering the same issue just use:
`
app.UseSwaggerUI(c =>
			{
                                ...
				c.InjectJavascript("yourScript.js");
			});
`
and insert the code of Rehan in this script file.

[2018-11-19 17:03] JavaHelper commented on #4263
Can someone please guide on https://stackoverflow.com/questions/53379440/swagger-not-working-while-doing-crud-operation-through-ui-also-curl-commands-do

[2018-11-19 17:04] JavaHelper commented on #1815
Can someone please guide here : https://stackoverflow.com/questions/53379440/swagger-not-working-while-doing-crud-operation-through-ui-also-curl-commands-do

[2018-11-20 08:29] xgqfrms opened #5036 "can not run the project & install bug"
# can not run the project & install bug

https://github.com/swagger-api/swagger-ui/blob/master/docs/development/setting-up.md

![image](https://user-images.githubusercontent.com/7291672/48760642-7f292600-ece1-11e8-8a54-ef8dce4613ac.png)

[2018-11-20 08:39] xgqfrms commented on #5036
https://git-scm.com/download/win

[2018-11-20 16:36] OBoehrer opened #5037 "UI 3.20: Cyclic navigations with x-model-reference for OpenAPI 3.0.0"
Environment:
 - OS: Win10
 - Browser: Chrome Version: 70.0.3538.102
 - Swagger-UI version: 3.20
 - Swagger/OpenAPI version: OpenAPI 3.0.0

We have two (very simplified) OData 4.0 models each one with an entity type referencing the entity in the other model via navigation. So there is a cyclic navigation between the entity types.

Example Swagger/OpenAPI definition (two models which reference each

[2018-11-20 23:40] javabrett commented on #4425
I think it does for `DELETE` operations as far as OpenAPI 3.x specification applications go.

[2018-11-21 01:47] mirabilos opened #5038 "“Unrecognized response type; displaying content as text.” for JSON"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Firefox
 - Version: unstable
 - Method of installation: swagger-ui-dist
 - Swagger-UI version: 3.20.0
 - Swagger/OpenAPI version: OpenAPI 2.0, swagger-maven-plugin 3.1.7

### Describe the bug you're encountering
I get the message “Unrecognized response type; displaying content as text.” for a JSON response. Looking at it

[2018-11-21 01:50] shockey commented on #5038
Hi @mirabilos!

`props.content` is the body of the response we receive from the server, and `props.contentType` is the `Content-Type` header.

Can you confirm that your server is sending a `Content-Type` header?

[2018-11-21 01:52] shockey commented on #5035
Hey @pikazlou!

This is the same root cause as https://github.com/swagger-api/swagger-js/issues/1163 - there are certain headers that the browser doesn't let us set.

For now, this is a limitation of Swagger UI - see the linked ticket for some possible solutions.

[2018-11-21 01:53] shockey commented on #5031
Hi @aezio!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-11-21 01:53] #5031 closed

[2018-11-21 01:55] shockey commented on #5030
Hi @nabinked!

There's no way to directly tell, unfortunately.

Can you elaborate on what you're trying to do that requires reacting to the Try-It-Out button being clicked? Maybe I can suggest an alternative approach, or add support for your use case 😄

[2018-11-21 02:01] mirabilos commented on #5038
I can confirm that the server sends a `Content-Type` header (in the Network tab of Firebug).

However, `props.content` is an object with a member `type`  carrying the content type.

[2018-11-21 02:06] shockey commented on #5038
Hmm.... Is there a way I can see this happening somewhere? Is your server deployed somewhere?

If it's non-public, feel free to email me at the address in my profile.

[2018-11-21 02:07] shockey commented on #5029
Solved in #4950.

Thanks for filing, @hkosova!

[2018-11-21 02:07] #5029 closed

[2018-11-21 02:08] shockey commented on #5026
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-11-21 02:08] #5026 closed

[2018-11-21 02:09] shockey commented on #5025
There's no way to do this currently - filing this as a feature request!

[2018-11-21 02:09] shockey commented on #5023
Closing as a duplicate of #4442 😄

[2018-11-21 02:09] #5023 closed

[2018-11-21 02:12] shockey commented on #5004
Hi @supsup, see these comments for instructions on how to do this:

https://github.com/swagger-api/swagger-ui/issues/2915#issuecomment-376245104
https://github.com/swagger-api/swagger-ui/issues/2915#issuecomment-439166045

[2018-11-21 07:49] hkosova commented on #5037
@shockey this looks like #4739.

[2018-11-21 12:19] EmilIfrim opened #5039 "OAuth2 client authentication fails when using Basic Auth"
When using OAuth2 and password flow, there are 3 types (allowed ways) to send form data:
- request body
- basic auth
- query params

Since version 3.19.1, authenticating the client using "Authentication: Basic ..." is not possible anymore for the following reasons:
1. When selecting Request Body or Query parameters, the Authentication header is not sent at all
2. When selecting Basic auth, the Aut

[2018-11-21 17:31] wrightkris opened #5040 "invalid curl command generated for unknown file types"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04
 - Browser: Firefox
 - Swagger/Swagger-UI: Latest (https://petstore.swagger.io/)

### Describe the bug you're encountering
When using swagger-ui for a REST endpoint which sends mutlipart form data the generated curl command is invalid if using a file with an extension that is not recognized by the OS/browser.

### To reproduce

[2018-11-22 03:29] mirabilos opened #5042 "swagger-ui-dist violates the licence of about seven dozen packages"
swagger-ui-dist redistributes just minified ECMAscript and CSS, without listing (or even honouring!) their licences. Most of them don’t even require source code redistribution, just listing.

I’ve tried to unearth the list of files that actually go into the three `.js` and one `.css` file. I found that tachyons upstream similarily violates the licence of one package (necolas/normalize.css). I trac

[2018-11-22 08:00] pikazlou commented on #5035
hi @shockey
Thank for your reply!
I must note that User-Agent parameter does work in Safari.

[2018-11-22 10:02] jobec opened #5043 "Content type dropdown not correct for referenced paths"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 70
 - Method of installation: zip download
 - Swagger-UI version: 3.19.5
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]
status.yaml
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering

`/pet` it's R

[2018-11-22 12:14] nadjin opened #5044 "The Response Id round-up why? swagger 2.9.2"
![img20181122200422](https://user-images.githubusercontent.com/23130767/48902007-2c42a080-ee92-11e8-85ba-bafc8d94d2b7.png)

![img20181122200955](https://user-images.githubusercontent.com/23130767/48902146-9fe4ad80-ee92-11e8-9c40-73a1449fbe94.png)

the response id always round-up. why? if  the controller @ApiImplicitParam  I don't add  paramType = "path" ,the id if should 515240706323775433,but if

[2018-11-23 07:15] talkersoft opened #5046 "JWT Token not working when added"
I am using asp.net core 2.1 with the latest version of swagger. When i add my bearer token in the authorization box the Authorization header does not appear to be added to the request and I am unable to call any of my api's which require authorization. I am quite certain i have everything configured correctly in my api, I am even able to call these same methods which require authorization using po

[2018-11-23 15:10] pablocoberly opened #5047 "Deep links to operations are broken when tags contain spaces and doc expansion is 'none'"
### Q&A
 - OS: macOS
 - Browser: Chrome
 - Version: 3.20
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Use example swagger spec with spaces in the operations:

https://raw.githubusercontent.com/pablocoberly/misc/master/swagger_spaces.json

Initialise swagger bundle with docexpansion set to 'none'

### Describe the bug you're encountering

When a swagger spec contains tags th

[2018-11-23 17:49] MatthieuHernandez opened #5048 "How change server URL ?"
![image](https://user-images.githubusercontent.com/25429726/48955660-455d5700-ef4f-11e8-84ca-e9404ed8ee88.png)

When I run my API from Visual Studio, It's work perfectly but when I execute WebAPI.exe my server address become localhost.

![image](https://user-images.githubusercontent.com/25429726/48955736-a08f4980-ef4f-11e8-87d8-802ab18d2d77.png)

How can I fix this ? Help me please !!! 😭 2 hours I

[2018-11-23 19:37] mirabilos commented on #5042
For the CSS part I’d suggest just listing them manually. As far as I can tell, CSS is only Swagger’s own, Tachyon (as dependency), and necolas/normalize.css (embedded into Tachyon), and due to https://github.com/tachyons-css/tachyons-sass/issues/34 you won’t be able to auto-detect the latter anyway.

Also, as far as I can tell, the licences of all involved components all do not require shipping th

[2018-11-23 20:31] shockey commented on #4962
@anfle, I dug pretty far into this and I can't reproduce the issue. Please provide the following info:

- the `securityDefinition` that you're seeing this with
- a screenshot of the Authorize options you've set when this happens (sounds like you're using the `basic` request type?)

[2018-11-23 20:45] shockey commented on #5046
Hi @talkersoft!

If you're seeing the Authorization header in Postman but not in Swagger UI, please make sure that your server is correctly configured to respond to CORS requests. Specifically, make sure that it is sending back an `Access-Control-Allow-Headers` value that includes `Authorization`.

[2018-11-23 20:45] shockey commented on #5046
More info: https://enable-cors.org/

[2018-11-23 20:56] shockey commented on #5047
Hi @pablocoberly!

This is intentional - spaces are represented as `%20` in URL fragments, and as `_` in CSS selectors.

It seems that the functionality is working (link below), so I'm not sure what the issue is here - are you just saying that, per HTML semantics, the fragment should match the element ID?

http://petstore.swagger.io/?url=https://raw.githubusercontent.com/pablocoberly/misc/master/s

[2018-11-23 20:58] shockey commented on #5048
Hi @MatthieuHernandez!

Unfortunately, I'm going to have to close this issue, as it appears to be unrelated to Swagger UI.

Please ask general questions in the [Google Group](https://swagger.io/forum/), [IRC](https://swagger.io/irc/) or on Stack Overflow.

[2018-11-23 20:58] #5048 closed

[2018-11-23 21:17] pablocoberly commented on #5047
Hi, @shockey No I'm saying that it deep linking still doesn't work for me in 3.20. Let me come up with a better example that uses a different default swagger spec.

[2018-11-23 21:21] shockey commented on #5044
Hi @nadjin!

Basically... Swagger UI is a JavaScript application, and JavaScript stores all numbers as [IEEE 754 double-precision floating-point numbers](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER#Description). Your number is much larger than the highest integer JavaScript can safely handle:

<img width="773" alt="image" src="https://us

[2018-11-23 21:21] #5044 closed

[2018-11-23 22:44] shockey commented on #5047
@pablocoberly ah, I see - that's not good!

Deep linking should be working for all types of tags - we test whitespace tags [here](https://github.com/swagger-api/swagger-ui/blob/master/test/e2e-cypress/tests/deep-linking.js#L15), which generates a test suite from [this function](https://github.com/swagger-api/swagger-ui/blob/master/test/e2e-cypress/tests/deep-linking.js#L175). If you can share a sp

[2018-11-23 22:51] shockey commented on #5042
Thanks for the followup here @mirabilos - I meant to comment after I submitted my PR....

Seriously _thank you_ for the effort here. I know that license investigation sucks. As an open-source project, we rely in large part on the contributions of users, and you've really shown up to fill that need here.

I'll be manually reviewing the tool output to make sure it's not missing anything that you lis

[2018-11-23 23:10] shockey commented on #3403
@KESNERO this issue is resolved, please open a new one if you need help!

[2018-11-24 00:42] pablocoberly commented on #5047
Closing. My apologies. It has something to do with the environment we're deploying the bundle into.

[2018-11-24 01:18] shockey commented on #5047
Cool, glad you figured it out. If there's something we're not accommodating correctly on our end, please open a new issue and we'll see what we can do to support you!

[2018-11-24 08:53] vdevpriya opened #5050 "file download not working from swagger-ui"
Using swagger-ui :

<dependency>
			<groupId>io.springfox</groupId>
			<artifactId>springfox-swagger-ui</artifactId>
			<version>2.6.1</version>
			<scope>compile</scope>
		</dependency>
		<dependency>
			<groupId>io.springfox</groupId>
			<artifactId>springfox-swagger2</artifactId>
			<version>2.6.1</version>
			<scope>compile</scope>
		</dependency>

returning this from api:

	return  ResponseEn

[2018-11-24 12:08] Bnjmn83 commented on #4677
Can someone confirm this? Looking for a solution myself.

[2018-11-25 19:32] ndbabb commented on #4574
I don't have a full accounting of CSS issues with bootstrap, but I was able to fix the main one by overriding the .col class on my SwaggerUI page like so:

[code]

[2018-11-26 06:31] anfle commented on #4962
Here are the `securityDefinitions` I use:
[code]

I'm using the request-body type.
Here are some screenshots of the problem:
![authorize_3 19 0](https://user-images.githubusercontent.com/5066422/48996222-9a65bc80-f14b-11e8-9dd6-c4043a178060.png)

Version 3.19.0:
In the HTTP request, there is an `Authorization` header with the desired content: `Basic base64(client-id:client-secret)`:
![headers_3 19

[2018-11-26 08:02] UmeshNebhani7303 opened #5052 "externalDocs Support in swagger2"
### Q&A
 - OS: windows 10
 - Browser: chrome
 - Version: 2.9.2 ( version of lib i used in gradle )
 - Method of installation: gradle dependencies
 - Swagger-UI version: N/A ( See below explanation )
 - Swagger/OpenAPI version: N/A ( See below explanation)

### How can we help?
Hi Team,

I am trying to enable swagger documentation for my Rest API build in spring boot as follows:

@Configuration
@En

[2018-11-26 13:59] henres commented on #4890
Can you try ?:
[code]

[2018-11-26 16:21] reece commented on #4560
I hit this error during local development (i.e., had nothing to do with AWS that was reported in #3403). The underlying cause (CORS violation) is identical. It would have been helpful for "TypeError: Failed to fetch" to provide more information or at least suggest a CORS violation.

Details: I set up [connexion](https://github.com/zalando/connexion) with an openapi spec that referred to http://loc

[2018-11-26 21:41] shockey commented on #4890
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-11-26 21:41] #4890 closed

[2018-11-26 22:07] shockey commented on #5052
Hi @UmeshNebhani7303,

it looks like Springfox doesn't support this: https://github.com/springfox/springfox/issues/1989

You could always add externalDocs directly to your Swagger definition, like so:
[code]

[2018-11-26 22:18] #4802 closed

[2018-11-26 23:01] shockey commented on #5050
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-11-26 23:01] #5050 closed

[2018-11-26 23:02] shockey commented on #5046
glad you got it figured out!

closing 👍

[2018-11-26 23:02] #5046 closed

[2018-11-26 23:31] #4855 closed

[2018-11-26 23:33] shockey commented on #5032
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-11-26 23:33] #5032 closed

[2018-11-26 23:57] shockey commented on #4314
Reopening as an improvement request!

[2018-11-27 07:58] OBoehrer commented on #4739
To keep the close incident #5037 with its issue in the loop.
The actual problem was not the "direct" use of models, but the situation is this:
Model A includes Model B and C. Model B and C include each other, i.e. the relation is in total this: A->B, A->B, B->C, C->B.

[2018-11-27 17:07] shockey commented on #4990
@1nfinite, uri and email validation is currently unimplemented 😄

[2018-11-27 17:19] shockey commented on #4983
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-11-27 17:19] #4983 closed

[2018-11-27 19:22] #4955 closed

[2018-11-28 02:41] alancoppin opened #5053 "How to import function from the utils.js ?"
Hi all,

I'm customising swagger for a project with React and Swagger-ui.
I'm creating components or customising by overwriting some of them but when I need function from the core/utils.js the function can not be found...

For example, I want to use the function getSampleSchema by doing :
import {getSampleSchema}  from "swagger-ui" or import {getSampleSchema}  from "core/utils" is not working. Do

[2018-11-28 08:19] MichalStehlikCz opened #5054 "Missing description for servers: definition"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Edge
 - Version: 42.17134.1.0
 - Method of installation: dist
 - Swagger-UI version: 3.20.1
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Servers dropdown is missing after update from 3.20.0 to 3.20.1

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Descri

[2018-11-28 12:10] shockey commented on #5054
Hi @MichalStehlikCz!

I'm not able to reproduce this - I can see the servers dropdown in 3.20.1.

Using Swagger UI 3.20.1 in my local filesystem's `dist` folder, with the spec you provided:

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/680248/49151001-ddbc5880-f30e-11e8-8dd1-e9a5e9af2bfb.png">

Here's the URL I used to test: https://gist.githubusercontent.com/shocke

[2018-11-28 12:37] shockey commented on #5053
Hey @alancoppin!

Currently, there's no way to get a reference to the built-in utilities. Can you share what you're trying to do with it? I might be able to advise on how to go about it, or add something to the project that helps your use case.

[2018-11-28 13:13] Ryandaydev commented on #4935
@shockey I wanted to touch base to see what the current status is?

[2018-11-28 13:42] shockey commented on #4930
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-11-28 13:42] #4930 closed

[2018-11-28 16:54] iamtheddrman opened #5055 "URL query param results in parser error in Firefox"
### Q&A
 - OS: Windows 10 and Ubuntu
 - Browser: Firefox
 - Version: 63
 - Method of installation: dist assets
 - Swagger-UI version: 3.20.1 (exists in older versions too)
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
When using the ?url query parame

[2018-11-28 20:56] alancoppin commented on #5053
Hey @shockey,

I try to update the json in the textarea through inputs, some screenshot to explain you, so I have a table view and the normal example view :
[https://ibb.co/HdyVt0n](https://ibb.co/HdyVt0n)

So All the properties are in the table with an input, and I want to update the json in textarea when we enter data in the inputs and the same when we change the json in the textarea updating th

[2018-11-28 21:43] jaufgang commented on #4176
Yeah, this seems to have been set explicitly in the css:

[code]

Probably the margin was set to 0 in order to remove whitespace at the top and bottom of single-paragraph descriptions, while failing to take into account the possibility of multi-paragraph desacriptions.  A solution would be to remove the top and bottom margins for the first and last paragraphs in using the ` :first-child` and `:las

[2018-11-29 12:10] jleck commented on #5017
Ah, yes! WIll give it a go

[2018-11-29 13:59] walieddine opened #5056 "Swagger Multi realms"
I want to secure my apis on swagger with multi realm.
Does swagger support multi tenant ?

[2018-11-29 15:17] aleskovets commented on #4442
@hkosova, is here a way to describe your example with openapi3? Looks like deepObject-way would not support indexes
`/foo?users[0].userId=0&users[0].currency=usd&users[1].userId=1&users[1].currency=eur`

[2018-11-29 19:04] delboy1978uk commented on #4690
Me too! I have one security definition for my oauth2 setup, which accepts all 4 oauth 2 grant types/flows. However, each flow has a differently configured client! It would be good if the initialisation function take both which definition you are referring to, and if an oauth 2 type, which flow we were talking about.

[2018-11-30 12:52] jzakrzewski commented on #4263
curl expects that the URL is properly URL-encoded. The https://tools.ietf.org/html/rfc3986#section-2 explains what has to be encoded.
@vikramvi "%20" is simply an ASCII code for space written in hexadecimal.

[2018-11-30 17:44] MichalStehlikCz commented on #5054
I must have pulled wrong version - I cannot replicate it either after going back to 3.20.1 from 3.20.0, sorry

[2018-11-30 17:44] #5054 closed

[2018-11-30 19:45] hum2u opened #5058 "Swagger html rendering for response class as a link in the method definition"
### Content & configuration

![current](https://user-images.githubusercontent.com/8265108/49311007-cad39080-f494-11e8-8b47-e5d8b7bd7404.PNG)
![desired](https://user-images.githubusercontent.com/8265108/49311008-cdce8100-f494-11e8-8ac3-e9510da33243.png)

Hi.

Currently the swagger HTML rendering the response class definition in the HTML rendering for a method but does not create a link to it from t

[2018-11-30 20:36] shockey commented on #5058
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-11-30 20:36] #5058 closed

[2018-11-30 21:15] hum2u opened #5059 "Rendering response class of an HTTP method as a link in the HTML visualization"
### Content & configuration

Swagger/OpenAPI definition:
[code]

 Swagger-UI configuration options:
[code]

[code]

### Is your feature request related to a problem?

I would like the response class of the Http method to be provided as a link in the Http method as an easy reference. For example currently the Responses header looks like

![current](https://user-images.githubusercontent.com/8265108/

[2018-12-01 01:51] veqryn opened #5060 "Swagger replaces quotes with angled quotes in documentation"
In our documentation we have example curl calls and other things using single `'` and double `"` quotes.

For whatever reason, when Swagger pulls in this documentation it insists on replacing the quotes with single `‘’` and double `“”` angled quotes.

Here is an example of what it looks like:
![image](https://user-images.githubusercontent.com/1897829/49322768-b52f8c80-f4cf-11e8-8546-553a09f142a5.p

[2018-12-03 08:58] hkosova commented on #5060
Try using Markdown formatting instead of HTML tags. In Markdown, you can make code blocks by indenting the lines by four spaces or wrapping them in triple backticks ` ``` `.

JSON version:
[code]

YAML version (to illustrate the original formatting):

[code]
    curl -X POST "https://api.foobar.com/stuff" -H "Accept: application/json" -H "Content-Type: application/json" -d ''{}''
[code]

[2018-12-03 09:14] hkosova commented on #5059
Hi @hum2u,

The response class is already displayed in the "Model" view next to individual HTTP status codes. You can make "Model" the default view by using the `defaultModelRendering: "model"` configuration parameter.

![image](https://user-images.githubusercontent.com/8576823/49364163-b2fa4780-f6f4-11e8-8689-caa322daa158.png)

[2018-12-03 13:31] shockey commented on #5059
Adding links to external models at the Response level has several limitations:
- it doesn't provide the opportunity for consistent behavior when a definition has an inline model instead of a reference
- It doesn't lend itself well to supporting `oneOf`, `allOf`, etc

@hum2u, does @hkosova's suggestion provide what you need?

[2018-12-03 14:09] shockey commented on #5060
Hi @veqryn, I'm not able to reproduce this.

Using this string as an input to Swagger UI:

[code]

in Chrome 70, all quotation-like marks that Swagger UI renders into the Info section are either U+0022 quotation marks or U+0027 apostrophes, according to this [Unicode character identifier](http://www.babelstone.co.uk/Unicode/whatisit.html).

Perhaps this is a browser bug? (You didn't fill out the i

[2018-12-03 14:11] shockey commented on #5060
PS: you don't need to use escape codes to write HTML in your description, this will work fine:

[code]

But, as @hkosova mentioned, taking advantage of Markdown's readability is even better.

[2018-12-03 14:21] shockey commented on #3370
@anujsethi06 still open - as I mentioned above, feel free to open a PR!

[2018-12-03 14:29] shockey commented on #5056
@walieddine, please see https://github.com/swagger-api/swagger-ui/issues/3406 for discussion of OAuth realm support 😄

[2018-12-03 14:29] #5056 closed

[2018-12-03 14:29] shockey commented on #5017
@jleck did it work? 😄

[2018-12-03 14:38] shockey commented on #5055
Hi @iamtheddrman, I'm not able to reproduce this in Firefox 63 on my Mac:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/680248/49380179-48a3d000-f711-11e8-9a3b-6b998e3c0281.png">

Can you upload the file directly from your filesystem somewhere (without copy/pasting)? Pasting it into the GitHub issue may have stripped the offending content.

[2018-12-03 14:40] shockey commented on #4935
Hi @Ryandaydev - no updates from my end. If you're ready to move forward with your contributions, I can handle the legwork in making sure that they fit in well with anything else coming from our side 😄

[2018-12-03 15:02] iamtheddrman commented on #5055
@shockey Thanks for the response. I have not tested on a Mac, but can reproduce the problem with both a Windows 10 machine and Ubuntu machine even copy/pasting the contents of this bug report into a new file.

My original file is here: https://ufile.io/le7t4
And the new file copy/pasted from the contents of the bug is here: https://ufile.io/r4xf6

Both links will expire in 30 days, but hopefully t

[2018-12-03 15:06] Ryandaydev commented on #4935
OK, so do you suggest that we go ahead and make a pull request off of the 3.18.3 branch?

[2018-12-03 15:34] hkosova commented on #4442
@aleskovets `deepObject` behavior is not defined for arrays, so there's currently no way describe the query string you mentioned. This limitation is discussed in the OpenAPI Specification repository:

[Are indexes in the query parameter array representable?](https://github.com/OAI/OpenAPI-Specification/issues/1501)
https://github.com/OAI/OpenAPI-Specification/issues/1006#issuecomment-289196647

[2018-12-03 17:39] jleck commented on #5017
Just had a quick play! I couldn't get it to work with your example. However, I changed the text:

[code]

And that worked fine :) Can you see any issues with doing that?

[2018-12-03 18:51] hum2u commented on #5059
Hi,

I already have the "model" section. The problem is the actual name of the response class is not provided, the word "Model" seems to be a generic name. Furthermore the ApiModelProperty description annotations are not provided here. But in the class definition in the definitions section at the end of the Api definitions section.

[2018-12-03 19:22] shockey commented on #4935
Please open a PR against master - if there are any conflicts, I can take care of them!

[2018-12-03 20:02] veqryn commented on #5060
@shockey Here is an easy reproducer:

1. Open http://editor.swagger.io/#edit
2. Delete all contents, then replace with:
[code]

I see the quotes replaced every time I do this. Please let me know if you do not.

[2018-12-04 06:54] biobob opened #5061 "OpenAPI YAML timestamp example value is not displayed correctly"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: chrome, firefox, ...
 - Version: latest
 - Method of installation: I used https://editor.swagger.io/ only
 - Swagger-UI version: not sure - the one used in online editor
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Above sample YAML file is actually

[2018-12-05 11:18] pacey commented on #4905
Hey @shockey , sorry to comment on a closed thread but would it be possible to allow the  HTTP Basic authentication method _or_ the body method? I'm stuck in the middle now where my authentication provider only allows the body method, so integrating that and swagger-ui is impossible.

I appreciate swagger-ui follows the spec correctly, but supporting both way would be helpful for people stuck in m

[2018-12-05 12:53] pacey opened #5062 "Show required OAuth scopes on each endpoint"
The API I am documenting has a lot of scopes available. However, a single endpoint usually only requires one scope. Currently a padlock is displayed on each endpoint and clicking it opens the Available authorizations modal where _all_ scopes the API has are displayed.

It would be great to know which individual scopes are required per endpoint.

I have checked my source swagger json and this infor

[2018-12-05 14:36] shockey commented on #4905
@pacey, can you email me about this? I have a branch here, I'd like for you to take a look and tell me if it addresses your use case. `kyle.shockey@smartbear.com`.

[2018-12-05 17:09] hkosova commented on #5062
Related: [Auth button doesn't indicate missing OAuth2 scopes anymore](https://github.com/swagger-api/swagger-ui/issues/2664).

[2018-12-05 19:30] jay8t6 commented on #3327
@webron can you let me know how it can be done using YAML variant?

[2018-12-06 09:54] maxim-danilov commented on #3784
The file browser button is still missing.
My yaml:
[code]
My dependencies:
    "swagger-ui-express": {
      "version": "4.0.1",
      "requires": {
        "swagger-ui-dist": "^3.18.1"
      }
    }

[2018-12-06 15:44] HamedSiasi commented on #3322
any progress on this matter?
obviously the lock should be close before authentication and open after it ...

[2018-12-06 20:07] wlami commented on #3517
As far as I understand there is support for OAS 3.0 in Swagger UI 3.18.3. However, OIDC is not yet implemented. Is it being worked on/ is there a roadmap when OIDC support will come? If not, are you open for contributions on this feature?

[2018-12-07 07:22] SzymonKlimuk commented on #3517
I pasted the solution before. Just let us know if we can PR this.

[2018-12-07 07:39] wlami commented on #3517
I agree that your posted solution helps, as sending a `nonce` is required for OIDC.

But I think it is not sufficient for OIDC conformance. The spec says that `response_type` may contain `id_token` and `token`. Right now only `token` is hard coded for implicit flow. What I actually meant with "OIDC is not yet implemented" is that adding `type: openIdConnect` and `openIdConnectUrl: /.well-known/ope

[2018-12-07 20:35] virgo47 opened #5067 "Standalone Swagger UI guide for non-node users"
### Complicated install?

I know it will sound lame, but when I tested Swagger UI like two years ago I copied some static content, configured it a bit and was done. Today I'm lost in the installation documentation, not knowing where to start, Download button is never downloading but sending me to another page, etc.

When I tried dev environment from this page https://swagger.io/docs/open-source-to

[2018-12-07 21:54] CameronGo opened #5068 "CONFIG file with urls array doesn't work starting with v3.19.5"
### Q&A (please complete the following information)
Browser is Chrome.
Running swagger UI using Docker image.  v3.19.4 works, v3.19.5 - v3.20.2 is broken.

### Content & configuration
[code]
Example Swagger/OpenAPI definition:
N/A

### Describe the bug you're encountering
Starting with v3.19.0 using the CONFIG_URL you could reference a config.json file, which had an array of urls to return differe

[2018-12-07 21:56] CameronGo commented on #5068
I suspect this may have to do with this change? https://github.com/swagger-api/swagger-ui/issues/5005

[2018-12-08 19:38] Sven65 opened #5069 "How to change the spinner for when the docs are loading?"
### Q&A (please complete the following information)
 - OS: Ubuntu
 - Browser: Any
 - Version: N/A
 - Method of installation: yarn
 - Swagger-UI version: 3.20.2
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Swagger/OpenAPI definition:
Found [here](http://petstore.swagger.io/v2/swagger.json)

Swagger-UI configuration options:
[code]

[code]

### Screenshots

### How can we he

[2018-12-09 08:21] tnpradeep opened #5070 "Required field not highlighted on click of Execute button (second time)"
Hello,

In recent version of swagger-ui, required parameter input field is not highlighted on click of execute button second time.

Steps to re-produce
1. Go to http://petstore.swagger.io/#/pet/getPetById
2. Click on Try it out
3. provide an empty space for petId field
4. Click on Execute, now the input field of petId is highlighted in red
5. Click on cancel
6. Click on Try it out
7. Click on Exec

[2018-12-10 10:31] raderio opened #5071 "Question: nullable & optional/required marks"
Can we represent that a field is non-nullable & optional?
this mean, or we send a data for the field, or just do not send the field in request, null is not allowed.
`{"foo": "bar", "baz": true}` is allowed
`{"baz": true}` is allowed, because is optional
`{"foo": null, "baz": true}` is NOT allowed, because is non-nullable

Basically `null` has the meaning of "this property existed before, and I wan

[2018-12-10 18:58] mileusna opened #5072 "Free-form object with application/x-www-form-urlencoded not providing input field in Swagger UI"
- OS: MACOS
 - Browser: Safari, Chrome
 - Version: latest
 - Method of installation: web editor and swagger hub
 - Swagger-UI version: current editor on your site
 - Swagger/OpenAPI version: OpenAPI 3.0

I'm using so called "free form" objects in my posts. When I want to post with **application/x-www-form-urlencoded** with "free-form" object, your UI doesn't provide any form of input to insert "fr

[2018-12-11 15:19] jrean opened #5074 "The provided definition does not specify a valid version field"
- OS: macOS 10.12.6 (16G1510)
 - Browser: chrome
 - Version: 70.0.3538.110 (Official Build) (64-bit)
 - Method of installation: manual
 - Swagger-UI version: v3.18.3
 - Swagger/OpenAPI version: 3.0

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

When I hit the route serving Swagger-ui I have the following message displayed:

[code]

When I test my definition on `http

[2018-12-12 00:31] shockey commented on #4579
Closing. We did it!

[2018-12-12 00:31] #4579 closed

[2018-12-12 02:37] jrean commented on #5074
Solved. It was a pb of properly parsing and returning the definition file.

[2018-12-12 02:37] #5074 closed

[2018-12-12 04:17] lkebin opened #5075 "urls.primaryName doesn't work as expected"
### Q&A
 - OS: macOS
 - Browser: chrome
 - Version: 71
 - Method of installation: dist assets
 - Swagger-UI version: 3.20.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Swagger-UI configuration options:
[code]

swagger-config.yaml

[code]

### Describe the bug you're encountering

TopBar display correctly with `urls.primaryName` matched spec in the dropdown list, URL inclu

[2018-12-12 07:13] bleuscyther commented on #4600
same as @malutanpetronel

[2018-12-12 14:20] Jiehong commented on #4739
Any news on this?
We decided to split our API in multiple files, to avoid having a big single file, which is unmanageable (4k lines, 120 KiB in size).

But now we just cannot use the swagger-ui to display it, because the refs…

[2018-12-12 22:02] kchsieh opened #5077 "'Try it out' input tag need id, name or class for easy reference from javascript"
### At the currently 3.18.3 release
The 'Try it out' input tag needs either id, name or class, so one can write javascript to change the value easily.  Say if some one enter 1 for petid, then price of another input field will be changed to 15 (just an example of use case).

For example
[code]
should have an id of 'petid' like so (or name='petid' or class='petid':
[code]

[2018-12-13 12:49] SeaLife commented on #4707
Hey,

we got the same problem with this since 3.12.x

We've rolled back to 3.3.2 which is working fine so far...

Encountered the issue in 3.12.x, 3.20.2

So, i cant share our code, but its simply a model definition with a array-subitem reference on the same item.

![bildschirmfoto 2018-12-13 um 13 47 56](https://user-images.githubusercontent.com/6567620/49939694-cf109c80-fedd-11e8-9f05-006f5e4350

[2018-12-13 17:30] venki09 opened #5079 "swagger-ui not passing in jax-rs queryParam to the REST API"
swagger-core version - 1.5.21
swagger-ui version - 3.0.19

I have a Jax-rs resource which accepts queryParam (Annotated with `@QueryParam`) like so
[code]
When I load the swagger-ui, I am able to see those query params listed. But when I enter some value in it (say 0 for offset and 100 for limit), they are not being passed in.

Expected URL to be hit: `localhost:8080/somePathParam/blah?offset=0&li

[2018-12-13 21:05] shockey commented on #5079
hey @venki09, can you share your Swagger/OpenAPI document as well?

[2018-12-14 01:22] vodanh109 opened #5081 "HTML tag will be escaped with Angular 7 production build"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Chrome
 - Version: 70.0.3538.110
 - Method of installation: via swagger-ui-dist with Angular 7
 - Swagger-UI version: 3.20.2
 - Swagger/OpenAPI version: Swagger 2.0

### Describe the bug you're encountering
I just updated from using Angular 5 to Angular 7. After that, my swagger ui display the info section as Escaped HTML

[2018-12-14 05:34] venki09 commented on #5079
Thanks @shockey  for responding to this issue!

I spent sometime on it and I think the issue is that the api spec has duplicate queryParams in it because I have the same parameter in both ApiImplicitParam as well as Jax-RS QueryParam. Related issue: https://github.com/swagger-api/swagger-core/issues/1731 . I fixed it by setting `@ApiParam(hidden = true)`. The resulting code looks like this
[code]

[2018-12-14 18:23] asafbennatan opened #5082 "huge model causes ui to crash"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: chrome
 - Version: 70.0.3538.110
 - Method of installation:dist assets
 - Swagger-UI version:  3.18.3
 - Swagger/OpenAPI version:  OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
Unfortunalty i am unable to post it here , will be happy to send it by mail

[code]

### To reproduce...

Ste

[2018-12-14 20:56] ykoitzsch opened #5083 "Given scan urls are empty, set urls in the configuration"
I have the following dependencies in my jax-rs app:

https://mvnrepository.com/artifact/io.swagger.core.v3/swagger-annotations/2.0.6
https://mvnrepository.com/artifact/io.swagger.core.v3/swagger-core

[code]
Now when I try to access the openapi.json I get the following warning:

I guess this is because I am registering the implementation of interface classes which hold the annotation but I can't o

[2018-12-15 10:36] asafbennatan commented on #5082
hmm , come to think of it - the issue is that the swagger-code is not respecting jsonview annotations , causing the model to be huge when it is actually not the case - have resolved it using custom resolver

[2018-12-15 10:36] #5082 closed

[2018-12-15 13:49] pascalazenteam commented on #3803
Hello,
Not sure this is still valid... but as we met the same issue (2018-12)

In our case it would be sufficient to use the second option in your proposal. Adding a line before and after the ','

A clear display would be to replace the ',' by a logical operator (XOR, OR , AND) but this may require to get separate 'example'  display - one for each $ref of the oneOf (XOR) or anyOf (OR) or  allOf (A

[2018-12-16 02:18] ramses132 commented on #884
I need this :C

[2018-12-17 08:26] zorkeAccount opened #5087 "add the author key with @ApiOperation"
i hope can have a key "author" in the @ApiOperation for showing the rest-api belong to whom of the teams

[2018-12-17 13:53] xDouglasx opened #5088 "Swagger-ui doesnt work with yaml file."
- OS: [WINDOWS 10]
 - Browser: [chrome, safari]
 - docker-compose
 - Swagger-UI version: latest
 - Swagger/OpenAPI version: latest

Im trying to start swagger-ui on docker using docker-compose
i have a custom yaml file that i need to load.
i converted my yaml file into a json

swagger-ui:
      image: swaggerapi/swagger-ui
      container_name: "swagger-ui"
      ports:
        - "8888:8080"

[2018-12-18 12:21] havwig commented on #5075
I'm seeing this as well, it seems to be introduced with 3.20.0. 3.19.5 works as expected with urls.primaryName.

[2018-12-18 20:27] rsetia opened #5089 "Fetch schema description when used for parameter"
### Content & configuration

Swagger/OpenAPI definition:
[code]

### Is your feature request related to a problem?
The parameter is able to fetch the UserId's example but not the UserId's description

### Describe the solution you'd like
The parameter's description should equal the UserId schemas' description.

### Additional context
My original Stack Overflow question on defining an ID that is sh

[2018-12-19 13:56] ralfhandl opened #5090 "Content-Type: multipart/mixed not working with OpenAPI 3.0 files"
### Environment
 - OS: Windows 10
 - Browser: Chrome
 - Version: 71.0.3578.98 (Official Build) (64-bit)
 - Method of installation: dist assets
 - Swagger-UI version: 3.20.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### What I want to achieve

Send a multipart/mixed request consisting of individual HTTP requests:

![image](https://user-images.githubusercontent.com/951576/50224310-dc2a0180-039d-11e9-

[2018-12-19 18:19] shockey commented on #5089
Hey @rsetia! Thanks for opening an issue.

I can see why you'd want this, but the OpenAPI spec doesn't call for tools to use a description from a parameter's underlying schema if the parameter itself lacks a description. Moving (or copying) your description to your parameter should solve this for you.

The way we do it today is correct - if you'd like to see it change, you'll need to propose a cha

[2018-12-19 19:43] shockey commented on #4497
This has regressed in both projects - probably due to a change in our deployment scripts.

Reopening.

[2018-12-20 00:06] linelson opened #5092 "Rendering Swagger UI in a React app causes a memory leak"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome 70.0.3538.110
 - Version: 70.0.3538.110
 - Method of installation:
 - Swagger-UI version: Any recent
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0] Not relevant

### Content & configuration

Conditionally rendering the Swagger UI in a React application when rendering the Swagger UI per the recomme

[2018-12-20 09:28] sm2017 opened #5093 "Question : Multipart upload"
In `OAS 3` we can have

[code]

according to https://swagger.io/docs/specification/describing-request-body/multipart-requests/

How we can have object in formdata in `OAS2`? https://swagger.io/docs/specification/2-0/file-upload/

I want set `formData` as a json object

[2018-12-20 15:38] diberry commented on #4976
@maral Has a good point. I want to be able to serve the documentation from github -- as static files. I realize the try me now feature won't work but I really just want the static docs. I imagine he and I are not the only ones.

[2018-12-20 20:37] pjm16 opened #5096 "Http Operations Using Same Path All Expand/Contract Together"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: latest - 71.0.3578.98
 - Method of installation: npm, problem is also in the online Swagger Editor
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: npm v3.19.3 + Latest Swagger Editor

### Content & configuration
[testDoc.txt](https://github.com/swagger-api/swagger-ui/files/2700432/tes

[2018-12-21 10:36] raderio commented on #300
@SebastianStehle like in https://github.com/Rebilly/ReDoc
![discriminator-demo](https://user-images.githubusercontent.com/4563564/50338458-07872a80-051d-11e9-981e-828754bc6618.gif)

[2018-12-21 11:12] SebastianStehle commented on #300
Hi, @raderio My answer is 2 years old. I already moved over to Redoc long ago ;)

[2018-12-21 20:21] shockey commented on #5096
Hi @pjm16!

You're seeing this because your definition is invalid - both the GET and POST operations in question have the same operationId (`TestAppGO_GetUseResponse`), which is not allowed by the OpenAPI Specification:

Swagger Editor reports this as an error as well. You have some other fatal errors in your definition, you may want to load your definition into Swagger Editor and try to resolve t

[2018-12-21 20:34] shockey commented on #4804
@shak-thalmic are you using Express as well? If so, check out https://github.com/scottie1984/swagger-ui-express.

[2018-12-21 20:40] shockey commented on #5075
Confirmed! Prioritizing this bug.

[2018-12-22 04:12] shockey commented on #5075
Looks like this was caused by aec4e37.

[2018-12-22 05:51] #5075 closed

[2018-12-22 05:54] lkebin commented on #5075
Thanks

[2018-12-22 19:06] autopulous opened #5098 "Enable $ref URLs to be "injected", "replaced", "variablized", or "parameterized" when rendered"
### Content & configuration

Swagger/OpenAPI definition:

Snippet from component **B** (which uses `$ref` to pull in `Options` from component **A**)

    components:
      schemas:
        Options:
          $ref: 'https://dev.A.example.com/sdk/openapi.yaml#/components/schemas/Options'

### Is your feature request related to a problem?

I am deploying _development_ and _production_ versions of an

[2018-12-24 06:07] styk-tv commented on #3517
@wlami from what I understand:

One of `.well-known/openid-configuration` endpoints is called `certs`.  It carries a list of dictionaries that are compliant with JWK (Json Web Key RFC 7517). In my Keycloak there is only one and it carries enough info to reconstruct a public key that is required to verify a signature of a JWT token.

in python `RSAAlgorithm.from_jwk(keys[0])` where `RSAAlgorithm` c

[2018-12-26 06:56] PrabhuKandasamy opened #5099 "Date object support with @ApiModelProperty"
We are using apimodelproperty with our domain object like below,

class DateClass{
@ApiModelProperty(example = "2019-12-24")
private LocalDate checkIn;
@ApiModelProperty(example = "2019-12-25")
private LocalDate checkOut;
}

Instead of giving some random date here, I want checkIn as today date and checkOut as one day ahead of checkIn date.

Any way to achieve this? Thanks in advance.

[2018-12-26 18:46] asyba commented on #3517
any news about this issue?

[2018-12-27 16:03] jakyle opened #5100 "Where are schemas being generated."
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 2.something? whatever swashbuckle 4.1 uses
 - Method of installation: packaged with swashbuckle
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger-UI configuration options:
[code]

[2018-12-28 02:53] monsterhxw commented on #5099
class DateClass{
@ApiModelProperty(example = "2019-12-24", position = 1)
private LocalDate checkIn;
@ApiModelProperty(example = "2019-12-25",position = 2)
private LocalDate checkOut;
}

[2018-12-28 20:42] adjenks opened #5101 "Externally loaded schemas do not report a failure to load."
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Firefox and Chrome
 - Version: 64.0 and 71.0 respectively
 - Method of installation: npm
 - Swagger-UI version: swagger-ui-dist@3.20.4
 - Swagger/OpenAPI version: OpenAPI 3.0.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Describe the bug

[2018-12-28 21:35] adjenks commented on #5088
It can't fetch the file, so, the file isn't being hosted, so the server either doesn't have permissions to the file, or the file isn't there.

[2019-01-02 13:41] akrz commented on #2648
Its still and issue. Clicking on an anchor will open a new tab

[2019-01-02 13:45] akrz commented on #3473
@shockey And if its not Collapsed? How can we scroll to the anchor?

[2019-01-02 17:47] sdanzo opened #5103 "Annotation--Hostname Addition"
Provide a new annotation which exposes the server name.  This would be helpful when going through VIPs and other routing abstractions to know which server is actually serving up the Swagger UI page.

Apologies in advance if this has already been discussed or has an issue (searched and didn't see anything).

[2019-01-02 18:50] shockey commented on #5103
Hi @sdanzo, can you elaborate on what you mean by server name?

OpenAPI 3 has support for server descriptions:

[code]

[2019-01-03 08:32] kishm opened #5104 "CORS Issue with oauth2 authentication (ClientCredentials)"
Hi,

I am new to SpringBoot, Springfox and Swagger2 as well. I am trying to generate Swagger2 API documentation with the help of Springfox.

I have gone through the documentation 'http://springfox.github.io/springfox/docs/current/' and able to generate API documentation.
But i am having issue to integrate with oauth2 authentication. I am trying to Implement oauth2 token to work on tryout option of

[2019-01-03 10:03] tnpradeep opened #5105 "Need help to get resolved spec json"
Hi,

I need your help for the custom implementation.
I need resolved spec json before expanding the operation.

Please guide me if there is any utility function I can use for getting the resolved spec json or suggest me what is the best way I can implement this.

I tried specSelectors.specJsonWithResolvedSubtrees(), but it returns undefined.

Thanks

[2019-01-03 11:11] pablocoberly commented on #5047
@shockey Can you check if this seems right to you?

[2019-01-03 12:00] hottehead commented on #5008
I have forked the project and implemented this.
See [my fork](https://github.com/hottehead/swagger-ui) and the respecting [docker image](https://cloud.docker.com/u/hottehead/repository/docker/hottehead/swagger-ui) at docker hub

[2019-01-03 15:08] sdanzo commented on #5103
Hi, thanks for the fast reply.  What we would like is a UI enhancement which displays the server's hostname dynamically where the Swagger page is being served from.  For instance, if our service is running on server-abc.company.com then using an annotation such as, @Hostname in the REST annotation brick would display that server name.  I can cobble a picture together if that would help to illustra

[2019-01-03 16:17] azaeng04 commented on #4428
### **What is the problem?**

@shockey any progress on finding a solution for this? I am experiencing the same error as @maniutek20. I loaded my `swagger.json` on [https://editor.swagger.io/](https://editor.swagger.io/) after converting it to YAML and it displays correctly.

### **Solution**

If you are making use of swagger-ui js. Require your JSON doc and do not use import. It complains about th

[2019-01-03 18:54] pablocoberly commented on #5047
I used the following tests based on my understanding of how white space is handled when `docExpansion` is `none`, both of which fail:

[code]

There is some funky stuff going on with double-encoding of url parameters.

Starting from http://localhost:3230/?deepLinking=true&url=/documents/features/deep-linking.swagger.yaml&docExpansion=none and opening the links to the "my Tag" tag, and the "my Oper

[2019-01-03 19:13] pablocoberly commented on #5088
You may have to register the .yaml extension as a mimetype to be handled by web server that container is using:

`application/x-yaml`

[2019-01-03 20:19] dkrantsberg commented on #4924
Encountering the same issue. Is anyone working on it?

[2019-01-03 20:21] RedactedProfile commented on #2651
January 2019 still an issue for parameter examples.

The problem with supplying singular "example"'s for properties is that it just automatically auto-fills the field even on optional fields.

[2019-01-04 09:15] knobik opened #5106 "Encoding is not exploding a array property in requestBody in swagger-ui."
### Q&A (please complete the following information)
 - OS: ubuntu
 - Browser: chrome
 - Version: 71.0.3578.98 (Official Build) (64-bit)
 - Method of installation: composer
 - Swagger-UI version: 3.18.3
 - Swagger/OpenAPI version: OpenApi 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Screenshots
![screenshot from 2019-01-04 10-11

[2019-01-04 10:17] AshuGoel905 opened #5107 "failed to parse JSON/YAML response"
I didn't get any result in browser to identify where it generate error.

[2019-01-04 10:18] opernes commented on #3370
Hello everyone,
We are stuck for pushing swagger in production due to these CSP errors...
I do not understand what state this issue has. What shall we PR exactly? Has anything been fixed that need a PR?

Could you please help us secure our swaggers?

thanks in advance

[2019-01-04 16:19] palsivertsen opened #5108 "Request parameter examples are not rendered in UI"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Chrome
 - Version: Version 70.0.3538.102 (Official Build) (64-bit)
 - Method of installation:
[code]
 - Swagger-UI version: 3
 - Swagger/OpenAPI version: OpenAPI 3.1

### Content & configuration
![image](https://user-images.githubusercontent.com/11890143/50698019-2240bf80-1044-11e9-849c-d7c70fdb7e1f.png)
I expect to see `

[2019-01-04 21:00] shockey commented on #5070
Confirmed.

Looks like the parameter validation is working as expected (don't allow the execution unless an integer value is provided) but it isn't being surfaced correctly once Try-It-Out mode is cycled.

[2019-01-04 21:10] shockey commented on #5071
This issue was moved to OAI/OpenAPI-Specification#1798

[2019-01-04 21:10] #5071 closed

[2019-01-04 21:14] shockey commented on #5072
This is a limitation on our part of the `application/x-www-form-urlencoded` form handling we have implemented - we expect `properties` to be defined and generate key/value pair inputs based on it.

[2019-01-04 21:23] shockey commented on #5047
@pablocoberly hmm, this definitely looks funky - thanks for the investigative work.

I'll dig into this next week and try to get some failing tests based on the anchors you laid out above!

[2019-01-05 03:34] shockey commented on #5079
@venki09, thanks for the annotation code, and sorry for the delay here (holidays!), but what I need is a Swagger/OpenAPI document in order to debug this for you.

It's a JSON or YAML document that looks something like this file: https://petstore.swagger.io/v2/swagger.json

[2019-01-05 03:36] shockey commented on #5081
Hey @vodanh109, seems like Angular is sanitizing something it shouldn't.

Can you share how you're using Swagger UI in your Angular application?

[2019-01-05 03:46] vodanh109 commented on #5081
@shockey
I'm using swagger-ui-dist like this:

`const ui = SwaggerUIBundle({
      urls: this.urls,
      domNode: this.el.nativeElement.querySelector('.swagger-container'),
      deepLinking: true,
      docExpansion: 'none',
      filter: true,
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.Downlo

[2019-01-05 03:47] shockey commented on #5083
Hi @ykoitzsch, is this related to Swagger UI? I only see JarXS and RestEasy in your message.

[2019-01-05 03:49] shockey commented on #884
@ramses132, are you using the 3.x series of Swagger UI?

[2019-01-05 03:50] shockey commented on #5087
Hi @zorkeAccount, is this question related to Swagger UI? This project is unrelated to any annotation libraries 😄

[2019-01-05 08:07] shockey commented on #5098
There is 😉

I see two options here... you can either use relative URLs in your ref values (e.g. `$ref: "./other-file.yamll#/components/schemas/Options"`) which will be resolved relative to your main definition's location, or use Swagger UI's [`requestInterceptor` option](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#requestinterceptor) to modify outgoing request

[2019-01-05 14:37] ykoitzsch commented on #5083
hey shockey, I figured that the problem was semi-related to swagger. I had to update my google guava version and then the exception disappeared and it works just fine now. If it's okay to ask another question in this thread:
I annotated my RestApplication class which extends Application class with the @OpenApiDefinition including infos etc but it won't show up in the ui. It only shows up when I pu

[2019-01-05 14:49] arc92 commented on #2746
any news?

[2019-01-06 05:15] autopulous commented on #5098
Thanks for the suggestion - I have it working now...

    function httpGetAsync(url, callback) {
        let xmlHttp = new XMLHttpRequest();

        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
                callback(xmlHttp.responseText);
        };

        xmlHttp.open("GET", url, true);
        xmlHttp.send(null);
    }

[2019-01-06 05:15] #5098 closed

[2019-01-06 16:03] mgumiero9 commented on #2972
Just check if your basePackage is configured properly:

`

    @Bean
    public Docket greetingApi() {
        return new Docket(DocumentationType.SWAGGER_2)
                .select()
                .apis(RequestHandlerSelectors.basePackage("application.controller"))
                .build()
                .apiInfo(metaData());}

`

[2019-01-07 10:20] vivvooren opened #5111 "oauth2-redirect.html has script outside html tags"
### How can we help?

If you examine the contents of the following file in the repository :
https://github.com/swagger-api/swagger-ui/blob/master/dist/oauth2-redirect.html
you see that the script node is outside the closing html tag
Why is this ?

[2019-01-07 11:39] pablocoberly commented on #5047
Sure, let me know if you need any further help. I'm really curious to see where the solution lies. It is remarkably hard to find where the implementation is.

[2019-01-08 07:46] mmamyan commented on #3954
i have the same issue,, is there any solution?

[2019-01-08 13:39] LuukN2 opened #5113 "UI hangs when typing in request body"
### Q&A (please complete the following information)
 - OS: [Windows 10 Education]
 - Browser: [Chrome]
 - Version: [71.0.3578.98 (Official Build) (64-bit)]
 - Method of installation: [NSwag, Swagger editor]
 - Swagger-UI version: [3.19.0-3.20.3]
 - Swagger/OpenAPI version: [OpenAPI 3.0.0]

### Content & configuration

Example Swagger/OpenAPI definition:
https://pastebin.com/raw/Zh5ZGN17
Note: This

[2019-01-08 15:16] PrabhuKandasamy opened #5114 "Swagger example json adds \n in the request"
We are using @apimodelproperty in our rest project. When we execute our sample request which is populated by swagger api, it adds \n in every parameter. But in server side, we have some validation against this \n.

So how we can overcome this?

this example json looks like,

[code]

[2019-01-08 19:05] sivan-r commented on #2488
Hi,
Is there any update regarding this issue?

[2019-01-08 19:48] adjenks commented on #4425
Q_Q
My API has a body for a DELETE operation.

[2019-01-08 20:39] shannon7wallace commented on #4241
I agree, this would be a great enhancement to the UI! There is very limited real estate given the current behavior.

[2019-01-09 08:48] wojciech-soltys opened #5115 "How to display required user roles (access control information) in Swagger UI for Spring's endpoints?"
Description:
https://stackoverflow.com/questions/43524355/how-to-display-required-user-roles-access-control-information-in-swagger-ui-fo

[2019-01-09 09:42] gergelypap commented on #4739
+1

We also have multi-file API definition, but the UI fails to render it because of this.

[2019-01-09 11:18] smn-snkl commented on #5068
Same here. My workaround is to also add the url parameter. Seems to work for now ...

[2019-01-09 16:54] Jiehong commented on #4739
@OBoehrer : the core issue is simpler: A module can include itself via a $ref. This clearly happens, and is allowed by the spec.

The only problem, is that the UI tries to validate the whole thing, so it will always blow up to infinity.

To fix it, the UI should be validating the first layer, and then validates only the layer that is being displayed. A sort of lazy validation (perhaps with a fixed

[2019-01-10 12:47] paul-lysak commented on #5106
Observing same behavior with Swagger UI 3.20.3. Here is our request definition:

      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
              properties:
                param1:
                  type: array
                  items:
                    type: string
            encoding

[2019-01-10 12:58] paul-lysak commented on #3838
Observing same behavior with Swagger UI 3.20.3 taken from WebJars (https://mvnrepository.com/artifact/org.webjars/swagger-ui/3.20.3)
This is the parameter we have:

          {
            "in": "formData",
            "name": "param1",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }

When specify

[2019-01-10 14:53] heldersepu commented on #4739
Circling back to this...
Looks like the latest UI no longer shows the Error in my initial screenshot.
Now the page just goes unresponsive

[2019-01-10 15:06] heldersepu commented on #4411
Latest version seems to have fixed all the issues I encountered before:
- http://petstore.swagger.io/?url=http://swagger-net-test.azurewebsites.net/api/NestedSwag/5
Everything expand significantly faster than before

- http://petstore.swagger.io/?url=https://raw.githubusercontent.com/heldersepu/hs-scripts/master/swagger/4411_swagger.json#/default/get_foo
The get still takes a few seconds to fully

[2019-01-10 16:01] jrasillo commented on #5088
The run command [here](https://github.com/swagger-api/swagger-ui/blob/master/docker/run.sh) doesn't work, because the file isn't being copied in the Dockerfile.

I worked around it by adding a `COPY` command to include the yaml file I wanted to load.

Ideally to fix it, the Dockerfile will need to have the  `petstore.json` file in a known repo location and use [parameter expansion](http://wiki.bas

[2019-01-10 19:31] Ryandaydev opened #5116 "Clarify default behavior in deep linking documentation"
A suggested clarification in the repo documentation ([deep-linking.md](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/deep-linking.md)).

The page says deep linking is disabled by default. That is true of the javascript itself. However, the /dist/index.html enables it, so if someone uses the /dist folder as-is, it will be enabled by default.

Suggest changing this statement to th

[2019-01-10 21:58] #5047 closed

[2019-01-10 21:59] shockey commented on #5047
fixed! check my PR for details, long story short is that the component actually providing data to the tag deep links on the page wasn't escaping things correctly.

[2019-01-10 21:59] shockey commented on #5047
thanks again for your efforts here @pablocoberly!

[2019-01-10 22:52] #5116 closed

[2019-01-10 23:45] GonzaloMz opened #5119 "Query parameters and path variables are not read"
### Q&A
 - OS: linux
 - Browser:chrome
 - Version: 70.0.3538.77
 - Method of installation: npm
 - Swagger-UI version: 3.20.4
 - Swagger/OpenAPI version:"swagger":"2.0"

Not extra configuration used.

### To reproduce...

Steps to reproduce the behavior:
1. Go to main page
2. Click on any service
3. Click on try out and complete a query parameter or path variable
4. Click on execute
5. See query pa

[2019-01-11 00:57] shockey commented on #5119
Hi @GonzaloMz!

This is working with the default Petstore definition:

<img width="1464" alt="image" src="https://user-images.githubusercontent.com/680248/51006586-90d0c200-1509-11e9-96e4-c24eaa66f6c0.png">

Can you provide a definition we can use to reproduce this problem?

[2019-01-11 01:08] GonzaloMz commented on #5119
Hi!

i am having same problem with this petstore definition.

https://petstore.swagger.io/v2/swagger.json

### Extra info
it does not work from the version 3.11.0
3.10.0 it's ok...  but it has no support for oauth2...

Thanks!

[2019-01-11 01:10] shockey commented on #5119
@GonzaloMz do you see the problem if you use the version of Swagger UI that's running at https://petstore.swagger.io/index.html ?

[2019-01-11 01:18] GonzaloMz commented on #5119
No, it's ok

i'm using in react app

![captura](https://user-images.githubusercontent.com/14170114/51007253-920fe800-1525-11e9-854c-36a1b3e946a1.png)

something missing?

[2019-01-11 03:50] sdanzo commented on #5103
Hi Kyle, what if you don't know and set the host ahead of time?  For instance, what if the host is simply a container with an IP address and dynamic hostname?

[2019-01-14 11:24] crazyman1979 commented on #4533
I am still having this issue, its an issue with not being able to pass the audience parameter in the request body that causes the error from auth0
`"Non-global clients are not allowed access to APIv1"`

Passing in the querystring doesn't appear to work.

Would be nice to have similar functionality as `OAuthAdditionalQueryStringParams`, something like `OAuthAdditionalRequestParams`

[2019-01-14 23:09] GonzaloMz commented on #5119
hi!
thanks for answering while you could

I solve mi problem using swagger-ui-dist module in place of swagger-ui.
I think you should update the docs or fix the problem.

![captura](https://user-images.githubusercontent.com/14170114/51147185-1620e300-1838-11e9-971b-075b53ebd089.png)

I think you should update the documentation or fix the problem, since I understand that in my situation it should wo

[2019-01-15 04:56] shockey commented on #2648
@akrz as of now, external links are intentionally opening in new tabs, and internal anchor links within a definition are not supported.

[2019-01-15 04:59] shockey commented on #5104
Hi @kishm!

See these docs for more information on CORS: https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/cors.md

[2019-01-15 11:00] GimignanoF opened #5122 "Multiple swagger docs on different ports"
I have a bunch of services running on the same domain but on different ports. If i run each service individually in a local environment i can see the swagger ui generated as well, however if i have, for instance, 2 services, one on port 5000 and one on port 5001, only one of them will show me the swagger ui, the other will throw an error. So is there a way to show different swagger docs based on t

[2019-01-15 15:08] paul-lysak commented on #5106
Formally correct, but neither does OpenAPI spec says that array property values must be comma-separated. And such behavior is inconsistent with the handling of multiple files upload through multipart requests.

[2019-01-15 15:11] mmamyan commented on #3954
@shockey help is needed. Please, look at this issue as soon as possible. Thank you.

[2019-01-15 15:44] marcelion opened #5123 "Basic authentication header does not encode client id and client secret according to RFC6749"
When using the Authorization header in combination with "Content-Type": "application/x-www-form-urlencoded" does not work when the client id or client secret contains any of the following characters:

- U+0020 (SPACE)
- U+0025 (PERCENT SIGN)
- U+0026 (AMPERSAND)
- U+002B (PLUS SIGN)
- U+00A3 (POUND SIGN)
- U+20AC (EURO SIGN)

According to [RFC6749 Appendix B.](https://tools.ietf.org/html/rfc6749#a

[2019-01-15 17:15] shockey commented on #2746
This is fixed in Swagger UI - if you're having an issue with the Editor, please open an issue there, but there is one open there already for this: https://github.com/swagger-api/swagger-editor/issues/1409

[2019-01-15 18:04] shockey commented on #5114
Hi @PrabhuKandasamy, can you provide a copy of your Swagger/OpenAPI document?

[2019-01-15 18:51] #4411 closed

[2019-01-15 18:51] shockey commented on #4411
thanks as always for making my job easier, @heldersepu!

[2019-01-15 18:57] shockey commented on #4533
@crazyman1979, this is a resolved support ticket - please open a new issue if you're having problems!

[2019-01-15 21:32] shockey commented on #5055
Hi @iamtheddrman, apologies for the delay here - we've been a bit swamped with the issue tracker over this holiday season. Can you upload those assets again? I'll pull them down as soon as you do, and take a look.

[2019-01-15 21:36] shockey commented on #5017
@jleck nope, if that's what works for you all good!

Closing as resolved 🎉

[2019-01-15 21:36] #5017 closed

[2019-01-15 21:40] shockey commented on #5061
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-01-15 21:40] #5061 closed

[2019-01-15 21:47] shockey commented on #4707
Closing due to lack of response from OP.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

@SeaLife, if you'd like to have your issue addressed, please open a new ticket! We'll need more information though - an example of a model definition with an array-subitem reference that causes troub

[2019-01-15 21:47] #4707 closed

[2019-01-15 22:10] shockey commented on #4856
@blackat, this is intentional - if you have an `enum` you should include your default value in it. Swagger Core should generate enums accordingly, so this is a bug on their side.

[2019-01-15 22:14] shockey commented on #5106
Closing as a duplicate - `Parameter.encoding` is not currently supported, and is being tracked in https://github.com/swagger-api/swagger-ui/issues/3641 (soon to have its own ticket, but in backlog for now).

[2019-01-15 22:14] #5106 closed

[2019-01-15 22:16] shockey commented on #4084
Reopening per @richardsinelle's note re: lack of OpenAPI 3.0 support.

[2019-01-15 23:10] shockey commented on #4946
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-01-15 23:10] #4946 closed

[2019-01-15 23:47] shockey commented on #4935
Closing - this has been addressed out-of-band 😄

[2019-01-15 23:47] #4935 closed

[2019-01-15 23:47] shockey commented on #4928
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-01-15 23:47] #4928 closed

[2019-01-15 23:48] shockey commented on #4964
@tnpradeep, some environments omit parameters defined as `false`, so we default to true. You're free to override that if you'd like to!

[2019-01-15 23:48] #4964 closed

[2019-01-15 23:52] shockey commented on #4951
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-01-15 23:52] #4951 closed

[2019-01-15 23:56] shockey commented on #5022
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

In closing: @Yaima, you can document your `/token` endpoint the way you're describing, but you won't be able to take advantage of the built-in encoding+request flow that Swagger UI has. Effectively, that means you

[2019-01-15 23:56] #5022 closed

[2019-01-15 23:56] shockey commented on #5004
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-01-15 23:56] #5004 closed

[2019-01-16 08:36] parklin commented on #4413
I don't understand why [Swagger documentation](https://swagger.io/docs/specification/2-0/describing-responses/#response-that-returns-a-file) does not cover @heldersepu and @ringraham answers and I need digging into the Github issues to setup the file download API 😑

[2019-01-16 08:55] dalbani opened #5126 "How to activate "withCredentials: true" support from "swagger-js""
Hi,

Thanks to the code landed in https://github.com/swagger-api/swagger-js/pull/1189, `swagger-js` is now capable of sending credentials (i.e. cookies) within XHR requests in a CORS context.
[The documentation](https://github.com/swagger-api/swagger-js#in-browser) mentions to use the following construct:
[code]
But it's not clear to me how to set this flag with SwaggerUI, in particular when using

[2019-01-16 13:30] kbadiger commented on #471
Hi , i have a navigation issue with my swagger ui ,  for example i have a url  like this https://petstore.swagger.io/#/pet/updatePet   and if i copy same url and paste in another tab it is redirecting to main page  istead of this page , please help me to overcome from this.

[2019-01-16 14:39] kbadiger commented on #1667
Hi , i have created the restfull apis document by swagger editor , i have a navigation isssue , for example  the url is https://petstore.swagger.io/#/pet/updatePet  , whem you click this it will redirecting to main page instead of the next page , please help me to overcome from this

[2019-01-16 14:57] kbadiger opened #5127 "navigation problem with swagger document"
Hi , i have created the restfull apis document by swagger editor , i have a navigation isssue

 for example  the url is  "https://petstore.swagger.io/#/pet/updatePet "  (i am not specifying my application url due to security) , when i click the url instead of directing to specfic page it is redirecting to the main page , please help me to overcome from this .

[2019-01-16 19:46] newdaveespionage commented on #4745
Adding this note in case someone comes upon this issue and thinks "I'm not integrating this into a React 16 app, why might I be seeing this?"

This also happens in a dev environment running Swagger UI "standalone" with another React-dependent tool being used in the same dev install.

To recreate, install [Storybook](https://github.com/storybooks/storybook) as a devDependency, and implement a simpl

[2019-01-17 09:48] pipy007 opened #5128 "OpenApi 3.0: format not show in query parameters"
Hi.

I have issue with displaying format of query parameters.
In openapi 3.0 the format of parameters is inside schema tag.

openapi 3.0.1 sample of query parameter:
{
  "name": "contractId",
  "in": "query",
  "description": "Query parameter for contractId.",
  "schema": {
    "type": "integer",
    "format": "int64"
  }
}
swagger 2.0 sample of query parameter:
{
  "name": "contractId",
  "in": "

[2019-01-17 14:33] lcahlander commented on #2745
It is not being rendered for a request body schema property description.

[code]

[2019-01-17 17:25] mkrup opened #5129 "'allowEmptyValue' doesn't work if parameter is 'required'."
Swagger UI version is 3.20.5.
I expect that everything should work as in https://github.com/swagger-api/swagger-ui/issues/1934 in the described case but it doesn't.
Swagger UI does not allow to send a request when 'required' parameter is also 'allowEmptyValue'.

[2019-01-18 14:42] Cejkis commented on #3725
I'd also love disabling "try it out" by some annotation parameter :)

[2019-01-18 15:47] balexander commented on #5119
fyi I'm having the same problem with swagger-ui 3.20.5 using openapi 3.0.0.

[2019-01-19 02:59] shockey commented on #5129
Regression confirmed:

[code]

PS: @mkrup, please follow the issue template next time 😄

[2019-01-20 17:24] OlafvdSpek opened #5131 "Authorization header not send"
- OS: Windows 7
 - Browser: Chrome 71
 - Method of installation: git clone, composer update
 - Swagger-UI version: master? Where is this shown?
 - Swagger/OpenAPI version: Swagger 2.0

The Authorize button shows up, I can enter the value but the header is never send.. I read somewhere the definition needs to indicate security is required but how do I handle requests that can be done both with and

[2019-01-21 09:16] mmamyan opened #5132 "Default value for request's content-type"
@shockey  I want to set the default value of request's content-type to Json as my Xml doesn't work properly..
Would you say is that an issue or no?
And how i can do that ...

[2019-01-21 11:30] Falx commented on #3876
Honestly, this looks right to me.. Only difference I can spot, is that I don't include the `SwaggerUIStandalonePreset`. That's it really..

[2019-01-21 12:19] bbagno commented on #3954
There is a workaround for the bug: pass XML you need as a string, e.g. `"<tag>Quotes should be \" escaped</tag>"`

[2019-01-21 12:43] mmamyan commented on #3954
@bbagno In my application i see this in the models when i add XmlAttribue, XmlElement and XmlType annotations to the properties of the model...

[2019-01-21 15:51] zyv commented on #3803
@webron is there anything we can do to help you to get this issue fixed? Is there a BountySource account for swagger-ui / anyone willing to implement this? We would be happy to chip in...

[2019-01-22 05:35] krekam commented on #3876
@Falx
is the value passing to filter is true or it should be some string..??

[2019-01-22 06:09] ben5Kuda commented on #3876
@Falx Thanks it worked for me. Sorry forgot to mention.

[2019-01-22 06:17] krekam commented on #3876
hi @ben5Kuda
can u say is there anything wrong in my above code...?
not able to do the case Insensitive filter

[2019-01-22 06:38] triynko commented on #1971
WOW.  NO EXAMPLES OTHER THAN 200 SHOW UP?  We have like 500 APIs with numerous examples for many status codes.  This is such an epic failure, that we're going to have to drop swagger altogether if this isn't fixed. WOW.

[2019-01-22 06:39] Falx commented on #3876
Just `true`, like you did, should be fine (that's what's in my code too).

[2019-01-22 06:44] triynko commented on #2651
Unbelievable that this isn't fixed. How hard is it to render examples for 400, 500, etc. the same way it already renders them for 200. This bug's existence makes no sense, let alone why it's existed for at least 3 years now.

[2019-01-22 13:44] copitz commented on #4778
If the request url isn't changed by requestInterceptor asynchronously this issue can be worked around like this:

[code]

[2019-01-22 16:10] DroneZzZko commented on #2651
are there any updates on this?

[2019-01-22 17:38] AdrianMF commented on #2651
Does this issue apply to using an example with a @RequestBody as well?

[2019-01-24 13:19] wojciech-soltys commented on #5115
https://github.com/springfox/springfox/issues/1655

[2019-01-24 21:15] shockey commented on #5132
@mmamyan, are you using OpenAPI 2 or OpenAPI 3?

[2019-01-24 21:23] lcahlander commented on #3641
When is multipart file upload going to be supported.  You had this before!

[2019-01-25 08:51] mmamyan commented on #5132
I am using springfox-swagger-2.9.2,, but i guess it is a swagger-ui question :\

[2019-01-25 08:51] mmamyan commented on #3954
@shockey  Can you look at this issue again? :\

[2019-01-25 10:02] ksac1 commented on #3172
How can I get the client_key and secret_key and how can I apply redirection?

[2019-01-25 11:01] LuukN2 commented on #5113
Update:

So I've been looking further into this as the UI is so slow it's blocking us from being able to use the newer Swagger UI.

Whenever I type in the textarea of the requestBody the onChange method is called. This method calls a reducer which uses setIn on the state map.
When this map is changed it causes the whole page to re-render which makes every key press take a long time to process.

Ex

[2019-01-25 11:17] phenbach commented on #3172
You get those from the service provider.  You typically go into the control panel and input a client name and redirect URL and it generates a client secret

[2019-01-25 12:00] weirdan opened #5136 "Latest release is not available on packagist.org"
### Q&A (please complete the following information)
 - Method of installation: composer
 - Swagger-UI version: v3.20.5

### Screenshots
![image](https://user-images.githubusercontent.com/57403/51744597-0790c200-20a9-11e9-8e00-5a07ef9e6ae6.png)
![image](https://user-images.githubusercontent.com/57403/51744645-28591780-20a9-11e9-9d45-3042e9e8ba89.png)

### How can we help?
Currently packagist.org pa

[2019-01-25 12:12] penja commented on #3803
➕

[2019-01-25 13:52] lcahlander commented on #3641
It is not showing up for me.  Please see my stackoverflow [https://stackoverflow.com/questions/54334438/how-do-i-specify-a-multifile-upload-in-openapi](url)

[2019-01-25 14:21] ksac1 commented on #3172
Hey,
Thanks for the reply.

I really don't have any client_id, and client_key from the service provider.
How can I get from the service provider for OAuth 2?
How can I see the client name and the redirect URL in the control panel?

On Fri, Jan 25, 2019 at 12:17 PM Faphenbach Phenbach <
notifications@github.com> wrote:

[2019-01-25 14:27] LienM opened #5137 "Model view with multiple levels of inheritance ( >2)"
### Info
 - OS: macOS Mojave
 - Browser: Chrome/Safari (appears to be browser-independent)
 - Method of installation: https://pypi.org/project/swagger-ui-bundle/0.0.3/
 - Swagger-UI version: 3.17.1 -> 3.20.5 (tried on both)
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

I am using the default configuration in connexion (zalando/connexion on GitHub).

### Describe the bug you

[2019-01-25 14:37] phenbach commented on #3172
Unfortunately setting client id and redirects are different on different services. You just need to Google <Service Name> OAuth2 Credentials and see what comes up. For example to access Magento via OAuth https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication-oauth.html

[2019-01-25 15:09] LienM commented on #5137
Found the culprit. I had multiple levels of inheritance for these items:

basic event -> basic event with item -> item_pageview. The UI didn't like that.

Is this supposed to be supported, or not at all?

[2019-01-25 16:51] lcahlander commented on #3641
The picker shows up, but the UI does not appear to send the filename or mime type along with the binary.

[2019-01-25 17:16] JbIPS opened #5138 "Docker image with `URLS` defined still show pet shop"
Hi,

I'm setting up a Docker container with Swagger-ui using a volume and the `URLS` envar to use multiple files:
[code]
But each time I refresh, even with `DEEP_LINKS=true`, I get the pet shop API printed. I have to select another definition in the TopBar and go back to the first one to see it.

Did I miss a parameter somewhere ?

Thank you

[2019-01-25 17:31] Kadams64 opened #5139 "Nested schemas do not show description in swagger-ui"
- OS: macOS 10.14
 - Browser: Safari
 - Version: 12.0
 - Method of installation: Github download
 - Swagger-UI version: 3.20.5
 - Swagger/OpenAPI version: Swagger 2.0

The following snippet of Swagger JSON from my API includes a description for a nested property:

[code]

The Swagger-ui output, however, does not display the nested entity description i.e.: it looks like this:
<img width="1083" alt=

[2019-01-25 21:45] hkosova commented on #5139
Any sibling keywords alongside $refs are ignored, this is how $refs work. To combine a $ref with other properties, you need to wrap the $ref into `allOf`:

[code]

[2019-01-26 01:32] Kadams64 commented on #5139
Fair enough: that's not what I was told when I posted previously in an existing issue that was closed- I was told to re-open the issue.

But now I'm wondering, how do I represent this in terms of Swagger-annotated Java?

For example, using the Java code that produces the above Swagger JSON as an example:
[code]

And the referenced CodedConceptReference object is annotated as:
[code]

[2019-01-28 09:49] oleynikandrey commented on #2651
There is one way to show examples in swagger ui, but it's not conform to openapi spec so you will get a warning:

[code]

<img width="686" alt="image" src="https://user-images.githubusercontent.com/1157958/51827733-1b336700-22fb-11e9-8645-f0a416bd743a.png">

[2019-01-28 11:23] verschoof commented on #3803
I'm not sure what the struggle is.

@PavelStefanov I think you should repeat type 1 so you see its a new response, type 2 is confusing since is looks like it could be one response.

Sadly i'm not able to make a PR for this. If somebody can make this? Something is better then nothing. (the milestone is from 8 December 2017 😞 )

[2019-01-28 12:47] matheusjordan opened #5140 "Repetition of controller methods"
Hi, I encountered the following problem while documenting my API. The methods of a controller are being repeated (see image below).

![image](https://user-images.githubusercontent.com/43014010/51836881-80c62a00-22e0-11e9-9ba1-019d5d973dc3.png)

My pom file
`
		<dependency>
			<groupId>io.springfox</groupId>
			<artifactId>springfox-swagger-ui</artifactId>
			<version>2.9.2</version>
		</dependency

[2019-01-28 21:58] lcahlander commented on #4600
It is failing in curlify.js

[code]

curlify is not taking the array into account

[2019-01-28 22:51] chrysthynee commented on #3803
I'm facing the same issue, can anybody tell me if they have found a workaround to see the examples as well?

[2019-01-29 13:36] OlafvdSpek commented on #5131
Somebody?

[2019-01-29 16:38] mileusna commented on #5072
You can use free-form in body if the type is `application/json`. And if your API call supports both `application/json` and `application/x-www-form-urlencoded` you can actually "hack" the Swagger interface.

1) You select the `application/json` from drop down menu and it will ofer you to create free form object. Create your name/value object.
2) Switch back to `application/x-www-form-urlencoded`. T

[2019-01-29 17:10] lcahlander commented on #5067
I am unable to compile swagger-ui.  I get the following error while running `npm install`

[code]

[2019-01-29 19:46] gschrader commented on #4745
I'm glad I found this issue was raised, I always thought it was something in my code that was causing it grief and I just never had the time to look at it. Given that React 16 is pretty much the default now hopefully this can be addressed. I'm not sure what I can do to help it along but I certainly will be help to test the fix.

[2019-01-29 22:46] #5129 closed

[2019-01-29 22:46] shockey commented on #5129
thanks for the report, @mkrup!

[2019-01-30 06:06] nikita-clearscale opened #5143 "Add possibility to change baseUrl (host) on swagger UI"
**feature requst**

The idea of swagger that it already contains host or base url. So user can open `http://localhost:8080/swagger-ui.html` and send request to this server. But this is not a case for private API which should not show all endpoint in single place. In such situations swagger json generated and served from test / dev servers but not in production or stagging environment. (which is cl

[2019-01-30 10:09] g-stawarczyk commented on #5138
Hi.

You missed URL parameter. Set `URL` to empty string:
[code]

If you're using docker, just add an env property `-e URL=''`

[2019-01-30 10:13] JbIPS commented on #5138
Thank you, I didn't know it was mandatory when using URLS

[2019-01-30 11:40] segevfiner opened #5144 "Docker swagger-ui container HTTP caching"
### Q&A (please complete the following information)
 - OS: macOS 10.14.3
 - Browser: Firefox
 - Version: 64.0.2
 - Method of installation: Docker
 - Swagger-UI version: v3.20.5
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

[code]

### Describe the bug you're encountering

swagger-ui doesn't update on refresh after changing the `openapi.yaml` file outside the container. Disp

[2019-01-30 14:56] mkrup commented on #5129
Great, thank you!

[2019-01-30 16:13] iamtheddrman commented on #5055
Sure. The copy/pasted file is here: https://ufile.io/4jruh
And the original is here: https://ufile.io/bfj1d

Hopefully you can find something that I've been unable to! I appreciate you looking into the issue.

[2019-01-30 16:56] new-swag opened #5145 "can we display 207 under response class?"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Scre

[2019-01-30 18:10] new-swag commented on #680
Can we put 207 in 'response class'?

[2019-01-30 21:08] shockey commented on #5145
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-01-30 21:08] #5145 closed

[2019-01-30 21:12] shockey commented on #5144
Thanks for opening this!

I think the best way to resolve this is to specifically instruct nginx to cache Swagger UI's static assets, and disable caching for other URLs.

[2019-01-30 21:17] shockey commented on #5143
Thanks for opening an issue, @nikita-clearscale.

This looks pretty similar to https://github.com/swagger-api/swagger-ui/issues/4735, so I'm going to close this in favor of it. When we work on that issue, we'll take another look here and keep your use case and suggestions in mind!

[2019-01-30 21:17] #5143 closed

[2019-01-30 21:18] shockey commented on #4735
Per my note in #5143, resolution of this issue should consider a Swagger 2.0 custom URL use case as well.

[2019-01-30 21:21] shockey commented on #5140
Hi @matheusjordan, I believe your problem has to do with the library you're using to generate your OpenAPI document (i.e., Springfox). Swagger UI just displays what your document describes, so this is probably a Swagger generator bug on their side 😄

[2019-01-30 21:21] #5140 closed

[2019-01-30 21:23] shockey commented on #5137
That should be supported.

I understand that your definition is private, but if you can come up with a minimal test case we can use to reproduce the issue, it would help us fix this!

[2019-01-30 21:30] shockey commented on #5113
@LuukN2, what sort of hardware are you on? I see about 150ms of latency typing in `POST /MBZCZWQRYJBD` - not great, but not 800ms either. Just trying to understand what sort of benchmark we'd need to hit to solve this for you.

More generally, I think it'd be a good idea to debounce the request body input's onChange, like we do for string parameter inputs today. At the very least it'd let you get

[2019-01-30 21:31] shockey commented on #5113
PS: interesting that you obfuscated your private API definition. Did you do that manually, or with a tool?

[2019-01-30 22:08] segevfiner commented on #5144
We can also set it to not cache json/yaml files by file extension using a location with regex. Not sure what's the better option.

[2019-01-30 22:37] cmlccie commented on #3920
I would like to provide (via some reasonable means) the text that Swagger UI will render as placeholder text.  Using the description, which is immediately above the text input field (redundant) and often doesn't fit inside the input control isn't attractive and doesn't add value to the UI.

**I suggest populating the placeholder text with either:**

1. **The `example` value.**  I don't like that t