[2019-01-30 22:48] shockey commented on #5138
Reopening this to investigate a bit - perhaps we should be ignoring `url` in the UI itself when `urls` is defined.

[2019-01-31 00:31] Yloganathan commented on #5126
I have the same question. For now, I got it to work using requestInterceptor

[code]

[2019-01-31 01:18] clockworked247 commented on #5108
+1 to have this added to the UI.

Right now the "default" property renders in the UI as an example.  For your code it would be:

[code]

As far as I can tell, the examples property does nothing in the UI today.  Per the docs: https://swagger.io/docs/specification/2-0/adding-examples/

I tried it on both the properties and on schema definitions, neither spot rendered examples in the Swagger UI.

Th

[2019-01-31 19:10] Bykiev opened #5146 "Add username/passwoord to bearer/apiKey authorization"
Hello, I have an issue with the auth process. Everything is working fine if I'll specify the bearer token explicitly, but I want a way to specifiy username, password and ClienId, then get a bearer token and include it in all requests.

I tried to use OAuth, I was able to authorize, but bearer token is not adding to each request. More over, if i press auth on method available authorizations are emp

[2019-01-31 19:14] dalearbo commented on #4619
This is a few months late, but I had this same problem and found a fix - thought I'd update anyone who comes across this page.
The problem seems to be when using an 'Authorization' header to access your api then getting redirected to a signed url.  There is a conflict because your browser (Chrome in my case) doesn't like that there are two separate authorizations: the signed url authorizations and

[2019-01-31 20:20] segevfiner opened #5148 "swagger-config.yaml configuration is overriden by the defaults"
### Q&A (please complete the following information)
 - OS: Windows 10.0.17763.253 x64
 - Browser: Firefox
 - Version: 64.0.2
 - Method of installation: `npm run dev`
 - Swagger-UI version: abf34961e92efdf041445a353612a0ddb2d84aed
 - Swagger/OpenAPI version: any

### Describe the bug you're encountering

`swagger-config.yaml` is being overriden by default configuration: https://github.com/swagger-a

[2019-02-01 09:53] funduck commented on #5108
@hkosova can you show an _example_ for singular or anybody? That's how it doesn't work:

    openapi: 3.0.2
    info:
      title: Parameter example(s)
      version: '1'
    servers:
      - url: localhost
    paths:
      /nodes:
        get:
          operationId: getNodes
          parameters:
            - name: A
              in: query
              schema:
                type: string

[2019-02-01 10:08] hkosova commented on #5108
[code]
By "supported" I mean the `example` values are used as sample values for "try it out".

![OAS3 parameter examples in Swagger UI](https://user-images.githubusercontent.com/8576823/52116326-ec323380-2621-11e9-9cf1-68e993b9b351.png)

[2019-02-01 10:11] funduck commented on #5108
@hkosova Oh, I see, thanks a lot!

[2019-02-01 18:21] VictorioBerra opened #5150 "OAuth2: How do I specify scopes for the UI ONLY without injecting JS."
My API requires a name **claim**. But the UI must ask for a profile scope. You can see here in the spec the profile scope has some recommended claims: https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims

It is this reason that I do not want to bake the Profile scope requirement into my API but the UI MUST ask for this scope, because that is what will pull in the name claim.

This is

[2019-02-01 19:17] VictorioBerra commented on #1974
This is not fun. Why are options like the `swaggerUiAuth.tokenName` not exposed for us in the AspNetCore project? Im having an issue where I can set things like `swaggerUiAuth.Scopes` either.

[2019-02-01 20:17] clockworked247 commented on #5108
@hkosova thanks for the link to #2651   From the comments, it sounds like the addition of this feature isn't something I should be hoping will get in.  It seems the issue has been open for almost 2 years with no indication that this feature will be added any time soon.

[2019-02-02 06:14] #5144 closed

[2019-02-02 12:46] nulltoken opened #5152 "Vulnerability in transitive dependency underscore.string"
Using latest version

[code]

Audit reports

[code]

[2019-02-04 13:50] msankhala commented on #1919
I am using the swagger hub and my API spec contains 1000 lines and it has become extremely slow. Even though I have collapsed all of my schema and a few paths but It is still slow.

[2019-02-04 14:29] SpamhaterAlex opened #5153 "Is there a way, how I can disable csrf for swagger?"
Hi together,

I use a double submit technique to prevent an unauthorized and unwarranted access. This carries a restriction of usage of Swagger. In my current setup to prove that I have "the right to write", I should manually copy a security token (x-xsrf-token) from the last request to the new request every time, if I want to interact with my API using PUT, POST or DELETE method.

Is there a way,

[2019-02-04 15:20] heldersepu commented on #1919
@msankhala Can you share your spec?
Have you tried reducing the spec (maybe try with less paths) see if something stands out as the main issue?

[2019-02-04 15:21] goldyliang commented on #4757
I have similar issue, there is no errors rendered at all. I am using 3.20.5

[2019-02-04 16:46] JesseKlaasse opened #5154 ""Lazy resolver" feature introduced in v3.11.0 slows down expanding operations in OAS3 spec"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome, Firefox
 - Version: Chrome 71, Firefox 65
 - Method of installation: swagger-ui dist in IIS
 - Swagger-UI version: 3.10.0  vs  3.11.0 - 3.20.6
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Example Swagger/OpenAPI definition:
https://pastebin.com/raw/Zh5ZGN17
Note: This spec is obfuscate

[2019-02-05 06:34] TofPlay opened #5155 "Swagger-ui and micro-services"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Chrome
 - Version: 72.0.3626.81
 - Method of installation: npm
 - Swagger-UI version: 3.20.6
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
My dockerfile:
[code]
### How can we help?
I'm trying to install Swagger-ui in a micro-services architecture
Concretely it means that Swagger-ui is working in a

[2019-02-05 06:45] o2h2o commented on #5119
should't this to be a high priority item to fix ? basically it makes swagger not callable for query parameters

[2019-02-05 08:05] Pakisan commented on #5155
@TofPlay Good morning. You need to allow CORS for api.mycompany.com. Without it you can't make requests from one subdomain to another.

[2019-02-05 13:15] Bagge42 commented on #3525
Hello

Currently facing the issue with Ã‚Â appearing. Attempted with all of the suggested meta additions to the index file, as well as the suggestions from https://github.com/swagger-api/swagger-ui/issues/3525. None works so far. Any ideas?

[2019-02-05 22:13] shockey commented on #3525
@Bagge42, meta charset should solve your issue.... if not, please open a new ticket 😄

[2019-02-05 22:20] shockey commented on #5155
Hey @TofPlay, first know that deploying Swagger UI and your API as separate services through Docker is a really popular thing to do! Let's try to figure out what's going on...

Questions:
- What is the `RUN` block in your Dockerfile achieving? Just serving Swagger UI through Express with CORS?
- If you open your browser's development console, do you see any errors related to the `swagger.json` req

[2019-02-05 22:23] shockey commented on #5119
@GonzaloMz @balexander @o2h2o, are any of you experiencing this while using Swagger UI in a React 16 application?

[2019-02-05 22:45] shockey commented on #4586
@goldyliang, please open a new issue if you're having a problem 😄

[2019-02-05 23:01] shockey commented on #5108
@clockworked247, rounding out our OpenAPI 3.0 support is on our roadmap for 2019, but I can't give an ETA on `examples` specifically.

[2019-02-05 23:02] shockey commented on #5108
Closing as a duplicate of #2651.

[2019-02-05 23:02] #5108 closed

[2019-02-06 01:39] o2h2o commented on #5119
Hi Kyle
thanks for reaching out
I have faced exactly same issue while i am developing aws api developer
portal
https://github.com/awslabs/aws-api-gateway-developer-portal
it is a react applicaiton, i tried clean set up without any
customerziation, still have issues, until i downgraded to 3.10.0

it is react "@types/react": {
      "version": "16.4.6",

Thanks

On Wed, Feb 6, 2019 at 9:23 AM kyle <

[2019-02-06 06:08] TofPlay commented on #5155
The problem with allowing CORS on the API is that it will not only be for Swagger UI. At the security level it's not the best.

[2019-02-06 07:36] SORC3r3r opened #5160 "Validate my examples against the corresponding model"
Is it possible to validate my examples by using the corresponding models?
Sometimes I forget to edit the examples after I did some changes to the models.

Another question, can I by default show the models instead of the examples in swagger-ui?

Thanks!

[2019-02-07 01:32] #5138 closed

[2019-02-07 02:52] shockey commented on #5152
@nulltoken, as always thanks for filing an issue!

I'm deprioritizing this based on upstream analysis (that I agree with) that this is not a realistic security concern:

Specifically for us: argparse is used in Remarkable's CLI, which is not used in Swagger UI at all. There's simply no way that this vulnerability could cause problems for us here

[2019-02-07 03:00] shockey commented on #4962
@anfle, we've recently reworked the way that the OAuth client credentials are attached to requests. Can you try setting your Client Credentials Location to `Authorization header` in the latest version of Swagger UI and seeing if that works for you?

<img width="285" alt="image" src="https://user-images.githubusercontent.com/680248/52388026-27819780-2a52-11e9-855a-8554a13378c7.png">

[2019-02-07 03:48] #5060 closed

[2019-02-07 04:06] shockey commented on #5060
Fixed! Thanks for the help @veqryn 👍

[2019-02-07 04:11] veqryn commented on #5060
Thank you!

[2019-02-07 05:09] anfle commented on #4962
@shockey Just tested the last version 3.20.6 and it works pefectly in my case.
Thanks

[2019-02-07 07:50] JbIPS commented on #5138
Thank you 😃

[2019-02-07 08:36] sertunc commented on #4745
Hello, I solve this problem with these version

"react": "16.2.0",
"swagger-ui": "^3.9.1",

[2019-02-07 10:07] LuukN2 commented on #5113
@shockey Thanks for the response!

I'm using a laptop with an i5-6200U CPU @ 2.30GHz and 8GB of RAM.
Usually I'll have Jetbrains Rider open in the background and some other tabs in chrome. So it's not the fastest hardware but it usually runs things fine.

As for the obfuscation I quickly wrote a tool with the help of another developer using jsonpaths to obfuscate parts of the spec.

[2019-02-07 10:28] tdudgeon commented on #1939
Just checking what was meant by the last comment by @Elpayet.
I think I'm also seeing this - I have a OpenAPI definition that has a multipart/form-data request, and I'm finding that whilst swagger-ui displays the form fields in the order that is present in the OpenAPI definition when the request is made the order of the fields is different. This can cause difficulties.
I would hope that the reques

[2019-02-07 10:29] tdudgeon commented on #1939
@webron You closed this issue but the work was still to be done. Should it be re-opened, or a new issue created?

[2019-02-07 10:45] praphulgit commented on #1475
****

[2019-02-07 13:57] cia1 opened #5163 "How can I mark a parameter as null in the request body?"
### Content & configuration
Openapi v3, "multipart/form-data" in requestBody.

### Is your feature request related to a problem?
In Swagger UI I can set empty value to a property in RequestBody ("multipart/form-data"), but I cannot ignore the property and not send this to server.

### Describe the solution you'd like
I want have an opertunity to mark (checkbox) a property in RequestBody to send or

[2019-02-07 14:48] dojeda commented on #4619
I've hit this problem today, and I feel like @dalearbo 's solution would be inappropriate: I certainly won't change my server and API code to accommodate the lack of forwarding of the Authorization header.

However, while digging further I realized that the problem was my fault: my server was redirecting to the wrong address (https://example.com/api/v1/blah) whereas it should have been (http://...

[2019-02-07 15:23] dalearbo commented on #4619
@dojeta: just to be clear, my solution does not drop the authorization header. What you’re doing is just calling your authorization header something else because “Authorization” is a reserved keyword. You can literally call it anything else and you’re still sending it - your server is still requiring the header that you choose so there is no security issue created

[2019-02-07 15:55] RichieLoco opened #5164 "Display static documentation information for multipart properties"
Using Swagger-UI v3.20.2, we have noticed that when using multi-part/formdata for the request body, that it won't render any of it at all when selecting the "Try it out" feature.  See screenshot below:
![v3 20 3_multipart_tryitout](https://user-images.githubusercontent.com/1975233/52423004-218dc400-2aef-11e9-9b1a-4926e7bd9781.png)
Whilst in v3.16.0, which I believe was when multipart support was a

[2019-02-07 16:37] shockey commented on #5164
Hi @RichieLoco, this sounds like a rather serious issue but I'm unable to reproduce this.

Here's what I see in Try-It-Out mode in the latest version of Swagger UI:

<img width="816" alt="image" src="https://user-images.githubusercontent.com/680248/52426826-56d0ec80-2ac4-11e9-98c7-cc1eb79aa7b7.png">

The JSON sample is funky (I'll look into that), but the inputs are definitely rendering.

[2019-02-07 17:00] iKrushYou opened #5165 "Swagger UI path variables are broken on react 16+"
I'm running into an issue with swagger path parameters when serving through react versions greater than 16 (i'm not 100% sure exactly when it stopped working, but i have tested between versions `15.4.1` => `16.4.1` and I can get it working on the former.

I am using the very basic of set ups for my control test -- the petstore.json example (contained inside of the const `spec`)

and here is my App

[2019-02-07 17:12] RichieLoco commented on #5164
Hey @shockey - apologies but I fudged up this post.  You're right, the above appears fine (well, the same as yours does) via "Try it out" feature.  It doesn't render when **not** using that feature... so, if you view the spec in UI without clicking "Try it out" when checking the request body you will not see the json body or file selectors render. Please see the full spec:
[v3.20.2_multipart_snipp

[2019-02-07 21:00] RolandoAvila commented on #4402
Can someone provide the explanation that clarifies how this is not confusing? I would like to know how to explain it to the consumers to my APIs.

[2019-02-07 21:01] melloware opened #5167 "File Upload for application/octet-stream ZIP file"
### Q&A (please complete the following information)
 - OS: ALL
 - Browser: ALL
 - Version: Github MASTER
 - Swagger-UI version: LATEST
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Java JAX-RS Definition:
[code]

### Screenshots
Put Operation that I want to upload a ZIP File
![image](https://user-images.githubusercontent.com/4399574/52442390-f86e3300-2af0-11e9-8ad7-7bc3783a

[2019-02-07 21:33] shockey commented on #5164
@RichieLoco, no worries! For now this is intended behavior - we only show inputs when Try-It-Out is active, to avoid confusion on what the input actually does. We'd be happy to consider a PR that changes how we approach this: for example, a PR that reuses the Model/Example view that actual parameters get.

As for the `OrderedMap` example madness: I've fixed that in #5166, which should ship tomorro

[2019-02-07 21:35] shockey commented on #5164
@RichieLoco, proposing that we change the title here to **Display static documentation information for multipart properties** and file it as a feature ticket.

Let me know if that doesn't make sense to you, or misses what you're asking for 😄

[2019-02-07 21:45] RichieLoco commented on #5164
Ahhh ok, thinking about it makes complete sense now as the user might assume that they can try it out but they wouldn't be able to outside of "Try it out" feature.  I can maybe take a stab at it and submit a PR but I'd have to familiarise myself with the codebase first :)  Thanks for the quick fix on the OrderedMap though!

I will change the title as you mentioned as I misinterpreted this as a bug

[2019-02-07 22:04] shockey commented on #4402
@RolandoAvila, @webron summed it up above pretty well IMO.

[2019-02-07 22:07] monstrege commented on #5096
I do experience the same problem.
I found out the problem. Here it is:

Example with those 2 urls:
get /api/detailledTransactions/metadata
get /api/detailledTransactions/{id}

Will both result in the same id:
id="operations-DetailledTransaction-Get"

Compared to those 2 urls that will results in 2 differents Ids.
get /api/transactions **->** id="operations-Transaction-Get"
get /api/transactions/{i

[2019-02-07 22:34] plk opened #5168 "Negotiate Authentication on Windows"
- OS: WIndows
 - Browser: Any
 - Version: Any
 - Method of installation: dist
 - Swagger-UI version: 3.20.5
 - Swagger/OpenAPI version: OpenAPI 3.0

I see that OAS3 allows for "negotiate" authentication but Swagger-UI seems not to implement this? This is a very common thing in corporate APIs, naturally. Swagger-UI does not do the usual Windows Negotiate header exchange with the "Try It Out" functi

[2019-02-08 07:36] RichieLoco opened #5169 "Display static documentation information for multipart properties in OpenAPI 3.0 files"
Following on from https://github.com/swagger-api/swagger-ui/issues/5164, I am suggesting that for specs with multipart/form-data that we allow the main request body of the spec to show a preview of the payload, rather than leaving it blank (and appearing unrendered) like so:
![v3 20 3_multipart](https://user-images.githubusercontent.com/1975233/52464677-bb975000-2b73-11e9-8721-739302ff162a.png)
Fo

[2019-02-08 07:37] #5164 closed

[2019-02-08 14:40] RolandoAvila commented on #4402
Thanks @shockey , yes I read his comment, but I guess it's not convincing me that is an intuitive solution. If it was, I shouldn't have to continuously explain this to those new to swagger's documentation (which I love working with btw). I even surveyed some random non-technical people and sure enough all had the same confused conclusion I had.

[2019-02-08 23:43] shockey commented on #5136
Looks like we were on a legacy GitHub API with Packagist, which meant our updates stopped going out in the new year.

Good news: this is fixed! Packagist is up to date, and will be kept up to date automatically going forward.

See https://jenkins.swagger.io/view/OSS%20-%20JavaScript%20Automated%20Releases/job/oss-swagger-api-packagist-trigger/ for more context.

Thanks for reporting this, @weirdan

[2019-02-08 23:44] #5136 closed

[2019-02-11 08:09] hkosova commented on #5169
Possibly related (or duplicate): #4581

[2019-02-11 17:44] shockey commented on #5168
@plk that's correct, Swagger UI doesn't currently support `scheme: negotiate`. This is the first time support for it has been requested 😄

For now, the best option is what you mentioned - go through your auth flow in your user agent. I'm going to tag this as a feature request so we can track direct support for it in Swagger UI.

[2019-02-11 18:02] shockey commented on #5167
Hi @melloware!

Unfortunately, you won't be able to do this with `application/octet-steam`... Swagger 2.0 only supports file upload via `multipart/form-data` (docs [here](https://swagger.io/docs/specification/2-0/file-upload/)).

These examples were achieved with OpenAPI 3.0, which allows file upload with any media type (docs [here](https://swagger.io/docs/specification/describing-request-body/fil

[2019-02-11 18:12] shockey commented on #5165
Hi @iKrushYou, this is (unfortunately) a known issue, folks are seeing weirdness with React 16 usage (see [`epic: usage in react@16`](https://github.com/swagger-api/swagger-ui/issues?q=is%3Aopen+is%3Aissue+label%3A%22epic%3A+usage+in+react%4016%22)), and parameter inputs seems to be a hotspot for problems.

I'm going to be working on this in the near future - if you'd be open to trying an early se

[2019-02-11 18:16] shockey commented on #4745
Hi everyone!

I'm going to be working on this in the near future. Since it largely involves integrations within existing applications, I'd like to have some folks test out what I come up with before we ship it.

If you'd like to help out, please email me (address in profile) and I'll be in touch.

[2019-02-11 18:33] melloware commented on #5167
@shockey that helps me.  I believe I can upgrade to OpenAPI 3.0.  I will attempt that.   Thanks for pointing me in the right direction.

[2019-02-11 18:33] #5167 closed

[2019-02-11 18:36] iKrushYou commented on #4745
thanks @kokoc for your temporary solution.
@shockey I emailed you -- i'm happy to help (also, sorry i somehow didn't find this issue before making a new one. feel free to close that one)

[2019-02-11 18:55] shockey commented on #5160
Not currently possible, but I like the idea! Let's use this ticket to track the feature request.

Yes! Use the [`defaultModelRendering `](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#defaultModelRendering) option.

[2019-02-11 20:17] plk commented on #5168
I'm surprised as so many companies use this internally now and so many use Windows auth for APIs. I know of dozens of such use cases coming up currently. I can test this if there are any beta releases.

[2019-02-11 21:12] shockey commented on #5154
Hi @JesseKlaasse!

I'm not seeing what you're seeing. I ran some Chrome performance tests by hand with your definition, and it seems to me that our newer version is faster across the board.

For reference, I'm on a MacBook Pro (13-inch, 2017) with macOS Mojave 10.14.2 (18C54) and Chrome 71.0.3578.98 (64-bit).

Also, some context: older versions of Swagger UI (such as v3.10.0) resolve the entire de

[2019-02-11 22:13] shockey commented on #5153
Hi @SpamhaterAlex!

The specification doesn't have good support for this use case at the moment. There is some work going on around authentication in general (see https://github.com/OAI/OpenAPI-Specification/issues/451#issuecomment-460704051, for example), so now would be a good time to start a discussion about it over at OpenAPI. That said - if your `x-xsrf-token` isn't standards-based, it's unli

[2019-02-11 22:43] shockey commented on #5146
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-02-11 22:43] #5146 closed

[2019-02-11 22:54] shockey commented on #5092
Thanks for the report, @linelson.

I have a hunch that the Redux store persisting may be due to Redux Dev Tools itself... but there does seem to be a memory leak in play here. I'll dig in soon!

[2019-02-11 23:04] shockey commented on #5090
The underlying problem is that Swagger Client isn't set up to correctly handle `multipart/mixed`.

Perhaps we need to add a special handler for the media type, or pass through all `multipart/*` media types to the user agent without doing serialization or preparation on the data.

[2019-02-11 23:13] linelson opened #5171 "Operations with long paths render strangely"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome 71.0.3578.98
 - Method of installation: npm
 - Swagger-UI version: 3.20.7
 - Swagger/OpenAPI version: Either

### Content & configuration

Example Swagger/OpenAPI definition:
Excerpt from edited petstore json found here: http://petstore.swagger.io/v2/swagger.json
[code]

### Swagger-UI configuration options:
E

[2019-02-12 02:42] shockey commented on #5171
Oof!

[2019-02-12 03:12] shockey commented on #5079
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-02-12 03:12] #5079 closed

[2019-02-12 03:15] shockey commented on #5068
This should be fixed in the current version, via https://github.com/swagger-api/swagger-ui/pull/5161 😄

[2019-02-12 03:15] #5068 closed

[2019-02-12 09:35] NikitaKrivenko opened #5172 "Oauth2 Authorization Code flow, can't log in after log out"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome, safari
 - Version: [e.g. 22]
 - Method of installation: dist assets
 - Swagger-UI version: 3.18.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Describe the bug you're encountering
It seems that log out functionality does not flushes authorization **code** received after successful Oauth2 log in. When you log out a

[2019-02-12 11:58] rfauglas opened #5173 "SwaggerUi won't download specs in urls"
### Q&A
 - OS: linux
 - Browser: chrome
 - Version: Version 66.0.3359.181
 - Method of installation: npm
 - Swagger-UI version: 3.20.7
 - Swagger/OpenAPI version:  Swagger 2.0

### Content & configuration

Swagger-UI configuration options:
[code]

[code]

### Describe the bug you're encountering
The "urls" configuration  is ignored.
 The swagger api is not fetched.
I receive a "No API definition p

[2019-02-12 13:27] foxivolunteer opened #5174 "How to change base url of the swagger UI in spring boot project"
I have a spring boot project which is running under `http://localhost:8080/`
I added swagger config file.

[code]

I tried to set default path to `http://localhost:8080/test/swagger-ui.html`
unfortunatly it is still running under `http://localhost:8080/swagger-ui.html`.

I cannot use the `server.contextPath=/test` because it will change all endpoints.

after this modification, the info of the base

[2019-02-12 13:56] noha-gamal opened #5175 "refer to properties in $ref get Compilation error in generated class although it is valid swagger yml"
### Q&A (please complete the following information)
 - OS: [e.g. Windows 10 Enterprise]
 - Browser: [e.g. chrome]
 - Version: [e.g. 71.0.3578.98]
 - Method of installation: [use online swagger editor https://editor.swagger.io/]
  - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

[2019-02-12 16:22] shockey commented on #5175
This issue was moved to swagger-api/swagger-codegen#9167

[2019-02-12 16:22] #5175 closed

[2019-02-12 16:31] shockey commented on #5174
Hi @foxivolunteer,

Sounds like your question pertains to Springfox routing, not Swagger UI. Please ask your question over at Springfox 😄

[2019-02-12 16:31] #5174 closed

[2019-02-12 16:54] shockey commented on #5173
Hi @rfauglas,

Indeed you are missing the Standalone preset, which includes the topbar plugin!

Import the preset like so:

[code]

then add this option to your Swagger UI call:

[code]

_Note: `SwaggerUI.presets.apis` is the default value for `presets`, Swagger UI needs it in order to function. It must be included when overriding the `presets` option._

I'm going to keep this open, since the docu

[2019-02-12 17:50] rfauglas commented on #5173
Hi @shockey ,
This works perfectly !

[2019-02-12 17:50] #5173 closed

[2019-02-12 19:48] yunhailuo opened #5176 "Optional array query params with enum are always sent after try out with non empty params"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrom
 - Version: Chrome Version 72.0.3626.96 (Official Build) (64-bit)
 - Method of installation: https://editor.swagger.io/
 - Swagger-UI version: Not sure
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

#

[2019-02-13 09:45] kacbuk001 opened #5177 "Are the "Runtime Expressions" feature implemented?"
### Description
I have been following line by line official tutorial about OAS 3.0 Links (https://swagger.io/docs/specification/links/), but it seems to me that "runtime expressions" feature is not implemented yet. Runtime expressions are not updating values or creating links dynamically when I made request to server with implemented logic.

### OpenAPI definition
[code]

### Screenshots
![image](

[2019-02-13 11:50] kievu opened #5178 "Hide clientId?"
### Q&A (please complete the following information)
 - Swagger-UI version: 3.20.5

### How can we help?

I want to setup oauth2 within swagger ui and everythings work by following https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/oauth2.md

My issue is that I don't understand why `clientId` is shown in clear text and is editable when I initialize it with:

[code]
This behaviour does

[2019-02-13 20:25] shockey commented on #5178
Hi @kievu,

We don't hide the `client_id` because the OAuth specification indicates that it is not a secret:

Honestly, if we change anything we'll probably start displaying the id instead of `*****` once auth happens, instead of changing the input to be hidden.

As a reminder, even if the id was hidden on the page itself, a user would be able to easily get it by using browser developer tools to i

[2019-02-14 00:47] #5072 closed

[2019-02-14 00:47] shockey commented on #5072
Fixed 🙂 thanks for filing, @mileusna!

[2019-02-14 08:57] xehpuk commented on #4745
This works locally with `webpack-dev-server` while it doesn't work with a `webpack` build. Any ideas why?

[2019-02-14 09:31] kievu commented on #5178
Ok, I got it. I ended up manipulating the DOM to remove it from the modal. Thanks for clarifying.

[2019-02-14 09:31] #5178 closed

[2019-02-14 11:41] ponelat opened #5181 "Required parameter in requestBody doesn't block request from executing."
### Q&A (please complete the following information)
 - OS: Linux Mint 18.1
 - Browser: Firefox
 - Version: 66.07b
 - Method of installation: editor.swagger.io
 - Swagger-UI version: version: "3.20.7", gitRevision: "g3434312c"
 - Swagger/OpenAPI version:OpenAPI 3.0

### Content & configuration
Standard http://editor.swagger.io set up

Example Swagger/OpenAPI definition:
[code]

### Describe the bug

[2019-02-14 19:12] sidneibjunior opened #5182 "Inconsistent export naming rules between client/java and server/spring"
Generated Java Client and Spring Server have different class separation rules.
While java clients separate generated API class by tags, spring server generated API class are separated by endpoints path.

Example Swagger/OpenAPI definition:
[code]

### To reproduce...

Steps to reproduce the behavior:
1. Go to 'Generate Client' > 'Java'
2. Go to 'Generate Server' > 'Spring'
3. Check that Java clien

[2019-02-14 21:36] shockey commented on #5182
Hi @sidneibjunior, this is a Swagger Codegen issue - I'm going to move it there for you.

[2019-02-14 21:37] shockey commented on #5182
This issue was moved to swagger-api/swagger-codegen#9175

[2019-02-14 21:37] #5182 closed

[2019-02-15 10:47] IkerZamora commented on #5131
I'm having the same issue.

[2019-02-15 11:52] IkerZamora commented on #5131
I solved the issue by adding a "security" section to each route.

[code]

[2019-02-15 13:05] antonkulaga commented on #2651
Guys, this bug is exceptionally annoying as I need to give several examples for my collaborators on API usage. When do you plan to fix this?

[2019-02-15 18:14] shaunluttin commented on #4338
Here is a PR that demonstrates a simple Webpack setup.

https://github.com/swagger-api/swagger-ui/pull/5183

[2019-02-15 23:25] #4931 closed

[2019-02-16 02:05] #5171 closed

[2019-02-16 02:05] shockey commented on #5171
#5184 vastly improves the situation here:

<img width="704" alt="image" src="https://user-images.githubusercontent.com/680248/52892399-b29c1500-3157-11e9-9ace-7d369f1fb31d.png">

thanks for reporting, @linelson!

[2019-02-16 10:37] Peter-Simpson commented on #3867
Hi,

I have the lines below in my yaml file but the lines are never treated as paragraphs, all I get is each paragraph starting on a new line but without a gap between it and the preceding line.

Is it the same bug as reported here?

Thanks, Peter

Appearance in Swagger UI:
![image](https://user-images.githubusercontent.com/38855929/52898505-c0dd4600-31d6-11e9-954d-6b04222648b2.png)

YAML File:
![

[2019-02-18 05:40] goben2489 opened #5186 "No API definition provided."
### Q&A (please complete the following information)
 - OS: MacOS
 - Browser: Chorme
 - Version: Version 72.0.3626.109
 - Method of installation: dist
 - Swagger-UI version: v3.9.3
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
To day i cant fetch json file with swagger-ui

Example Swagger/OpenAPI definition:
I use content of PetStore paste to file json but can not work

### D

[2019-02-18 15:49] rfauglas commented on #5165
I bumped into the issue... Any advances?  Any way I can help?

[2019-02-18 23:22] Trial-In-Error commented on #4745
So, I ran into this issue & solved it by removing the debounce on the input. That PR is available here: https://github.com/swagger-api/swagger-ui/pull/4982

Could other people affected merge in that PR to their project and see if it fixes their use case? If so, that PR should either be merged or we should investigate why that input was debounced when others aren't, if it needs to be, and if lodash

[2019-02-19 00:39] michalrus commented on #3867
Yes, yes, indeed it is. Sad. :broken_heart:

[2019-02-19 05:10] tnpradeep commented on #5171
Hello,

Can we have summary in next line when the path name is too long ?

[2019-02-19 12:35] OlafvdSpek commented on #5131
@shockey I think it should be "type: feature request".

[2019-02-19 15:26] smiljana95 opened #5187 "Using same path parameter twice is not working"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Mozilla Firefox, Google Chrome
 - Method of installation: sbt
 - Swagger-UI version: 3.20.5
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Screenshots
![screenshot from 2019-02-19 16-23-32](https://user-images.githubus

[2019-02-19 15:56] plavski opened #5188 "SwaggerUI crashing with incorrectly placed $ref"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: opera (chrome)
 - Version: 58
 - Method of installation: editor.swagger.io
 - Swagger-UI version: editor.swagger.io
 - Swagger/OpenAPI version: OpenAPI 3.0.0
### Content & configuration
Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
With a `$ref` placed under a summary tag in an oas3

[2019-02-19 23:12] shockey commented on #5188
Yeah, looks like it blows up the whole app. Not good. 💥

[2019-02-19 23:16] shockey commented on #5188
Unminified error:

[code]

Looks like the core of the problem is (you guessed it!) we're passing the summary as a React child:

https://github.com/swagger-api/swagger-ui/blob/cb2fc2089c95579e818e137c80e578e5df79d838/src/core/components/operation-summary.jsx#L66

[2019-02-19 23:41] #5188 closed

[2019-02-19 23:50] shockey commented on #5188
Fixed! Thanks for the report, @plavski 👍

[2019-02-20 00:46] #5187 closed

[2019-02-20 00:47] shockey commented on #5187
@smiljana95 this will be fixed in the next release of Swagger UI 😄 sorry for the inconvenience!

[2019-02-20 10:03] smiljana95 commented on #5187
@shockey Thank you! No problem. :)

[2019-02-20 16:21] andsav commented on #2136
I don't think enforcing "good practices" is the business of an UI tool. Whether the request body is discarded or not should be decided on the server side.
In any case, allowing the user to input a request body, then discarding it without any warning is a bad idea. At least show a warning as other people suggested.

[2019-02-20 17:44] ahfarag commented on #4915
I managed to do it by mounting volume inside nginx web server root directory
`docker run -p 8085:8080 -v /swagger-files:/usr/share/nginx/html/myfiles swaggerapi/swagger-ui`

 Then explore swagger files from that directory `./myfiles/petstore.json`

[2019-02-20 22:10] shockey commented on #5186
@goben2489, what URL are you using? Kinda hard to reproduce this without it 😄

[2019-02-21 02:24] #5186 closed

[2019-02-21 05:53] nishant-ketu commented on #220
can i pass json array in header

[2019-02-21 20:05] DeeDeeG commented on #4574
I'm having a similar problem using bootstrap and swagger-ui together.

@shockey, would it be of use to the project if someone went into the .scss source files of this repo, and prefixed all the styles manually? (It might break a lot of existing pull requests, or throw off downstream forks, I guess.)

I'd do that if it would be helpful.

[2019-02-21 23:04] timbedard commented on #4924
Been running into this lately as well. Any news?

[2019-02-22 11:03] MrFix93 commented on #1369
+1. It would be very nice to be able to link to these model definitions. My specific use-case is to link request and response models in sequence diagrams to swagger specs.

[2019-02-22 11:47] javabrett commented on #2136
OpenAPI 3.0 has the say here. GET bodies SHALL be ignored.

[2019-02-22 20:27] dlmiddlecote commented on #5019
Any updates on this?

[2019-02-22 22:18] indiealexh commented on #3517
Would love an update, this issue is causing delays.

[2019-02-23 17:52] ralfhandl commented on #5090
Just passing through as it is done for Swagger 2.0 files would be a good start.

The ideal solution would use the [Encoding Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#encodingObject) something like this:

[code]
The UI would then offer a multi-line input field for the singleRequest that can optionally be pre-populated with an  `example`, and a "+" button to

[2019-02-24 13:16] emmanuelay commented on #2651
This is still a problem in 3.0.2.
Im using the workaround that @oleynikandrey proposed above until this is fixed.

[2019-02-25 14:11] jzakrzewski opened #5192 "Self-reference: RangeError: Maximum call stack size exceeded"
### Q&A (please complete the following information)
 - OS: Ubuntu 16.04
 - Browser: Chrome / Firefox
 - Version:  72.0.3626.71 / Quantum (up-to-date)
 - Method of installation:  dist assets
 - Swagger-UI version: tested 3.18.2 and 3.20.9

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
Cannot expand the operation. The following is l

[2019-02-25 15:11] ksac1 commented on #4905
I want to use oauth 2 in node js code for our APIs.
Has anybody used it? Please share.

[2019-02-25 15:29] ksac1 commented on #4905
How can I get client key and client secret if the "appliction" oauth2 is getting used for swagger?

[2019-02-25 18:08] bandhammanikanta commented on #3036
This Worked.
You can change the 'Authorization' to your header. it works. :) :)

Happy coding.

[2019-02-26 05:24] tahoward commented on #4672
I'm getting this as well and it appears to be an ordering issue in my particular case.

I played around with the online editor and identified that when my YAML definition gets converted to JSON specification (using connexion) the `components` attribute ends up being the first attribute in the spec coming before `paths`. In this configuration my nested schemas do not render properly (unless they ar

[2019-02-26 05:25] tahoward commented on #5137
I'm getting this as well and it appears to be an ordering issue in my particular case.

I played around with the online editor and identified that when my YAML definition gets converted to JSON specification (using connexion) the `components` attribute ends up being the first attribute in the spec coming before `paths`. In this configuration my nested schemas do not render properly (unless they ar

[2019-02-26 06:04] tahoward opened #5194 "Nested Schemas not Rendering Properly"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome
 - Method of installation: `pip install swagger-ui-bundle`
 - Swagger-UI version: 3.20.5
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
<details><summary>Broken</summary>
<p>

[code]

</p>
</details>

<details><summary>Working</summary>
<p>

[code]

</p>
</details>

### Describe the bug you're

[2019-02-26 09:32] user20161119 commented on #4817
not work for me either.
http://dev.wx.yqfoodec.com/swagger-ui.html#/%E5%95%86%E5%93%81/goodDetailUsingPOST

[2019-02-26 09:59] AlexWehe opened #5195 "Adding example to multiple schemas"
- OS: macOS
 - Swagger-UI version: 3.X
 - Swagger/OpenAPI version: 3.0.2

### Content & configuration

Swagger/OpenAPI definition:
[code]

### How can we help?

Hi!! I would like to know if there any way to create an example value per schema and show it in the UI of swagger. I'm trying including the `examples` property and passing two diferents values per schema but it doesn't work.

Thank you!!

[2019-02-26 10:06] Ibrahimtrrc commented on #5195
The problem is with oneOf ... it's not yet supported there is an issue on it I think it's a duplicate of #3803

[2019-02-26 16:34] lambdafu commented on #3239
The browser is not the only consumer of REST APIs.

[2019-02-26 22:15] shockey commented on #3239
@lambdafu, this is true, but as I mentioned above.... since Swagger UI lives inside the browser, there's absolutely nothing we can do in our codebase to change this behavior.

[2019-02-26 22:18] shockey commented on #3283
Another request... automatically lock closed issues after they've been inactive for ~200 days.

I've been seeing a lot of resurrected issues lately. 💀

[2019-02-26 22:19] shockey commented on #5195
Closing as a duplicate of #3803 😄

[2019-02-26 22:19] #5195 closed

[2019-02-26 22:20] shockey commented on #4817
@user20161119 you need to upgrade to a newer version of Swagger UI 🆙

[2019-02-26 22:26] shockey commented on #4905
@ksac1 please open a new issue if you need help!

[2019-02-27 01:33] user20161119 commented on #4817
thanks,i use spring-fox based config in my spring mvc project,how to upgrade Swagger UI?
here is my maven dependency config
[code]

[2019-02-27 02:34] shockey commented on #4817
I'm not sure - you'd have to ask that kind of question to the Springfox maintainers.

[2019-02-27 06:19] CaptainAgilek commented on #4817
@user20161119 I was dealing with same problem and I have explained solution in my post. There is no newer version of springfox , so you can't use newer swagger version via springfox, but you can use springfox version 2.8.0 where is older swagger without this bug, in other words, it works correctly in this version.

[2019-02-27 08:33] user20161119 commented on #4817
@CaptainAgilek thanks,but i tried 2.8.0,not work neither. and i cofigured deeplink
···
 @Bean
    UiConfiguration uiConfig() {
        return UiConfigurationBuilder.builder().deepLinking(true).docExpansion(DocExpansion.NONE).build();
    }
[code]

[2019-02-27 09:17] obender commented on #3240
Hi,
We wold like to implement that feature and contribute it, any guide how to do so?

[2019-02-27 09:17] obender commented on #2765
Hi,
We wold like to implement that feature and contribute it, any guide how to do so?

[2019-02-27 18:20] cgenin7 commented on #5172
I'm having the same issue. Also, if I reload the page after logging in, it shows as not logged in.

[2019-02-27 19:00] jdgamache opened #5198 "custom objectMapper enableDefaultTyping error"
### Q&A (please complete the following information)
 - OS: windows
 - Browser: chrome
 - Version: 72
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: 2.9.2
- Sping-boot version: 2.0.3

Hello,

when I customize my objectMapper with enableDefaultTyping, the swagger-ui stops working.

	@Bean
	@Primary
	public ObjectMapper objectMapper() {
		ObjectMapper mapper = new ObjectMap

[2019-02-28 01:26] ALukonin opened #5200 "Plugin or other to modify response before display"
- Browser: Chrome
 - Method of installation: git dist
 - Swagger-UI version: 3.20.0/4
 - Swagger/OpenAPI version: Swagger 2.0

![image](https://user-images.githubusercontent.com/17239829/53534603-6a181c00-3ab4-11e9-97b0-b6f008827035.png)

I am trying to build a plugin or find a way to change the text displayed after the Try-it-out is executed.
 I am trying to modify the text that is displayed in t

[2019-02-28 02:00] Mr-ZhangJie opened #5202 "Hi The startup project encountered this warning"
[devicemgmt-log.txt](https://github.com/swagger-api/swagger-ui/files/2913074/devicemgmt-log.txt)

2019-02-26 15:25:24.617  WARN 15492 --- [ost-startStop-1] s.d.s.p.CachingModelPropertiesProvider   : Exception calculating properties for model(org.daac.version.pojo.response.CfgUpdateResponse) -> ModelContext{groupName=default, type=org.daac.version.pojo.response.CfgUpdateResponse, isReturnType=true}

[2019-02-28 09:23] mimmus opened #5203 "Impossible to run Docker image under DC/OS because ${PORT} conflicts with a system var"
It is actually impossible to run swagger-ui Docker image under Mesosphere DC/OS in bridge mode because var ${PORT} - used in its start.sh - conflicts with a system var (https://docs.mesosphere.com/1.12/deploying-services/service-ports/).
Consequently, swagger-ui listens always on a random port instead of 8080.

[2019-02-28 11:19] lindaosong opened #5204 "Is it possible to dynamically generate apis based on existing apis via plugins?"
As the title, for example, I have an interface now.

`@ApiOperation(value = "get model info by type")
   @GetMapping("/model/{objectClass}")
    public RestResult getModelInfo(@PathVariable Integer objectClass) {
        return resourceFeignClient.getModel(objectClass);
    }`

If I pass in the parameter "1", it means to get the model "apple"; the parameter "2" is passed, which means to get the mo

[2019-02-28 11:39] ahumph opened #5205 "Upgrade btoa to version 1.2.0"
### Is your feature request related to a problem?

btoa < v1.2.0 has a security vulnerability - [CVE-2018-3745](https://nvd.nist.gov/vuln/detail/CVE-2018-3745).

### Describe the solution you'd like

Upgrade btoa dependencies to v1.2.0 or later.

[2019-02-28 12:23] Adapik opened #5206 "Update packagist (composer) version"
Please, add the latest version to packagist.org and/or enable auto-update:
https://packagist.org/packages/swagger-api/swagger-ui

[2019-02-28 20:03] shockey commented on #5206
Indeed, looks like our automated job for this failed during the v3.20.9 release: https://jenkins.swagger.io/job/oss-swagger-api-packagist-trigger/3/console

[2019-02-28 20:31] shockey commented on #5206
Okay, I ran our job again without modifications and it worked - seems like it was an intermittent issue on Packagist's side. v3.20.9 is available now.

I've modified our job to fail when we get a non-OK status code back from the API call, which should alert us about any future issues.

Thanks for reporting this, @Adapik!

[2019-02-28 20:31] #5206 closed

[2019-03-01 00:06] shockey commented on #5200
Hi @ALukonin!

This isn't currently supported for `responseInterceptor`s, only requests - because generally, in an API documentation tool, you want to show the end user exactly what the server is responding with.

I may be able to point you in the right direction or a custom solution - what are you trying to achieve?

[2019-03-01 00:18] ALukonin commented on #5200
@shockey Thanks for taking a look. The documentation targets a service that doesnt support browser or CORS, so I am trying to bypass it by using my own server to call the REST API. I want to display the api spec via swagger, but to try it out, I am trying to use my server as a proxy to send the request instead of the browser. I redirect the request to the host server, then the host server sends th

[2019-03-01 05:23] shockey commented on #5205
Per the CVE's associated HackerOne report:

Our usage of btoa on user input is limited to the browser. Furthermore, even in Node.js this is safe, since only 4.x is vulnerable - which was pronounced End-of-Life [almost a year ago](https://github.com/nodejs/Release#end-of-life-releases).

I'm going to keep this open because I know that the npm warnings are annoying and scary to folks installing Swag

[2019-03-01 11:45] vganju commented on #1209
Hi @doronMendelson can you please share a small code snippet regarding
`responding to OPTIONS request method with 200 http status`.
Thanks for your help.

[2019-03-02 00:01] jasonlaw opened #5209 "Declare schema for JObject"
Hi,
I am using ASP.Net Core 2.2.
Suppose I have a REST api with a JObject type parameter, is there a way to define the schema on the api so that swagger will know how to display it with full schema?
Thanks in advance.

[2019-03-02 19:36] shockey commented on #3934
Fixed!

We've just released [`swagger-ui-react`](https://www.npmjs.com/package/swagger-ui-react), which declares React as a peer dependency.

[2019-03-02 19:36] #3934 closed

[2019-03-02 19:41] shockey commented on #3955
Fixed!

We've just released [`swagger-ui-react`](https://www.npmjs.com/package/swagger-ui-react), which declares React as a peer dependency.

[2019-03-02 19:41] #3955 closed

[2019-03-02 19:46] shockey commented on #4745
Fixed!

We've just released [`swagger-ui-react`](https://www.npmjs.com/package/swagger-ui-react), which declares React as a peer dependency. I've tested this module within a React 16 create-react-app, and the required parameter issue is no longer present.

[2019-03-02 19:46] #4745 closed

[2019-03-02 19:46] shockey commented on #4807
Fixed!

We've just released [`swagger-ui-react`](https://www.npmjs.com/package/swagger-ui-react), which declares React as a peer dependency.

[2019-03-02 19:46] #4807 closed

[2019-03-02 19:47] shockey commented on #5165
Hey @iKrushYou - as we discussed over email, using [`swagger-ui-react`](https://www.npmjs.com/package/swagger-ui-react) has solved your issue.

Thanks for all the help!

[2019-03-02 19:47] #5165 closed

[2019-03-02 20:21] dafnalia commented on #2651
Hopefully this will be fixed soon. The workaround given by @oleynikandrey works like a charm for response examples, but I can't find a way to make it work on requestBody examples.

[2019-03-02 21:09] kopax commented on #3955
@shockey thanks a lot for solving this.

There is still one unresolved question that I'd like to get an answer. (Otherwise we cannot use swagger UI with our spring boot application)

We have secured endpoints with OAuth2, we need to authenticate using OAuth2 `code grant` strategy, could you please indicate how this can be configured?

[2019-03-02 23:00] shockey commented on #3955
@kopax, we don't currently have a documented way to do this with `swagger-ui-react` - if you hang tight for a couple of days, I'll open an issue for this next week!

[2019-03-02 23:18] kopax commented on #3955
Sure no problem @shockey and thank you. I hang still 2017, OAuth authorization strategies exist since the OAuth2 specification.

I tried swagger UI and even if I couldn't authenticate I really liked what I saw, the wait is justified, could you please post the link to the next issue so I can follow.

[2019-03-03 15:37] camomileann opened #5212 "No Authorize button when using scala-play2"
Dear Sir/Madam,

please help to find what's the reason for "authorize" button not showing up.
I'm using `swagger-play2 1.6.0` dependency.
I configure Swagger UI like this:

`window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: "http://localhost:9000/swagger",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [

[2019-03-03 23:59] sgwood63 opened #5213 "Overriding SWAGGER_JSON and URL does not work for Docker distribution"
## Context
 - OS: Alpine (Docker)
 - Browser: any
- Method of installation: Docker
 - Swagger-UI version: 3.20.X and 3.21.X at least
 - Swagger/OpenAPI version: any

## SWAGGER_JSON environment variable ignored by Docker deployment

The Docker build of swaggerapi/swagger-ui does not work when overriding the SWAGGER_JSON with a mounted file as documented in https://github.com/swagger-api/swagger-ui

[2019-03-04 00:30] jimcullenaus opened #5214 "Error messages display on screen briefly before disappearing"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04.1 LTS
 - Browser: Chrome 72.0.3626.81, Firefox 65.0.1
 - Swagger-UI version: 3.21.0, 3.20.6
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Any invalid OpenAPI configuration.

One common example is not including query parameters under a `schema` object in a 3.0 config, and instead simply declaring their t

[2019-03-04 06:10] luatao commented on #4428
这可能是php运行版本太低的原因

[2019-03-04 06:10] luatao commented on #4428
This may be the reason the PHP version is running too low

[2019-03-04 08:14] innocencex commented on #5213
I have met with the same problem...

[2019-03-04 09:06] jzakrzewski commented on #5192
BTW: Expanding the model definition crashes in exactly the same way.

[2019-03-04 10:01] Gozke commented on #5128
Hi,
We've noticed that the format is not the only thing that is not displayed. For instance
* minimum
* maxumum
* pattern

Are also not displayed.

It would be nice to see the schema related stuff rendered for query parameters the same way they are rendered for model in case of a request body.

[2019-03-04 10:41] mercuriete commented on #5213
same problem

[2019-03-04 14:57] ilya-spv opened #5215 "Format:date with example renders time in addition to date"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 72
 - Method of installation: visual studio code extension (openapi-designer)
 - Swagger-UI version: [e.g. 3.21.0]
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
I use a visual studio extension to render things on the fly (openapi-designer) and have checked that it uses the lates

[2019-03-04 15:12] ilya-spv opened #5216 "Example value for integer with minimum and maximum is out of bounds"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 72
 - Method of installation: visual studio code extension (openapi-designer)
 - Swagger-UI version: [e.g. 3.21.0]
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
I use a visual studio extension to render things on the fly (openapi-designer) and have checked that it uses the lates

[2019-03-04 20:32] excrucio opened #5217 "Corrupted ZIP file through swagger - direct link works"
File download triggered via the Content-Disposition header will result in a link to download the file, but the file will be corrupt. I am also seeing this issue in my environment.

For now only happens with zip files.
File downloaded through swagger is corrupted and double in size.

The response headers:
{
"Cache-Control": "no-cache, no-store",
"Content-Disposition": "attachment; filename="example

[2019-03-04 22:08] sundar120 opened #5218 "Customization - TryItOutButton wrapComponent"
I am trying to customize TryItOutButton  with additional UI and change the location of buttons. when i follow the customization and creating it in Angular(simple JS - converting JSX to JS), not able to use props provided onTryoutClick and onCancelClick. It throwing errors saying not able to find onTryoutClick funtion.

export const OperationsLayoutPlugin = () => {
  return {
    wrapComponents: {

[2019-03-05 02:18] ChristianUlbrich commented on #5213
I think the problem is https://github.com/swagger-api/swagger-ui/pull/5199 because it gzip's the nginx-bundled `index.html` into `index.html.gz` on image **build time** which in turn, as @sgwood63 pointed out has precedence over the _generated_ index.html on **runtime**.

Basically the idea of "optimizing" html file on build does not make sense if there are some generated html files on runtime as

[2019-03-05 21:05] shockey commented on #5213
Regression! 😱

We'll ship a fix for this ASAP, probably later today.

[2019-03-05 21:06] shockey commented on #5217
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-03-05 21:06] #5217 closed

[2019-03-05 21:14] shockey commented on #5214
Hi @jimcullenaus, thanks for filing this.

You see no difference in behavior between 3.21.0 and 3.20.6 with your definition? I ask because we specifically made a change last week that should persist resolver error messages (https://github.com/swagger-api/swagger-ui/pull/5193).

Swagger UI doesn't generate error messages for invalid definitions - only for network and resolver problems, generally. A

[2019-03-05 21:43] excrucio commented on #5217
@shockey
Oh, thin of details. Do not give me that crap.
It is a known issue. You have at least 7 same tickets.

But, newermind, I solved it with custom OperationFilter

[2019-03-05 21:46] ChristianUlbrich commented on #5213
The gzipping should simply happen in the shell init script on runtime. I'd PR' it myself; but I won't be able to do so before the weekend...

[2019-03-05 23:49] #5213 closed

[2019-03-06 00:06] shockey commented on #5213
Fixed! We've updated our `swaggerapi/swagger-ui:latest` and `swaggerapi/swagger-ui:v3.21.0` images on Docker Hub to include the patch from #5219.

I'm also going to build out a small integration test suite that pulls down a real Docker image and checks it for env var configuration effectiveness, so that we automatically catch this in our releases going forward.

Apologies for the disruption!

[2019-03-06 01:10] shockey commented on #5217
@excrucio, you didn't provide _any_ of these things:
- which of Swagger UI's 166 versions you're using
- which browser you're using (download issues are frequently browser-specific)
- an OpenAPI definition or live server that we can use to reproduce your issue
- attachments of the resulting downloads that we could inspect to see what you're seeing
- screenshots
- links to the "7 same tickets" (...

[2019-03-06 01:21] shockey commented on #5203
@mimmus, thanks for the report.

This will take a while to resolve, because dropping support for $PORT in our image would be a breaking change.

In the meantime, I recommend exploring workarounds that allow you to pass an env var directly to the Swagger UI container itself, without affecting the surrounding DC/OS system.

[2019-03-06 01:38] jimcullenaus commented on #5214
You should be able to see the errors in the screenshots above. Faded, because the messages appear so briefly that the screen recording software I used couldn't grab them properly. The errors I have been able to capture do all seem to be resolver errors, however.

From what I could tell, yes, the problem occurs in both 3.21.0 and 3.20.6. Unfortunately the only way I could find to tell what version

[2019-03-06 01:44] shockey commented on #5214
Each Swagger UI 3x version comes with a version identifier baked into it - see the [version detection](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/version-detection.md) documentation for more information. Long story short, checking `window.versions.swaggerUi` in your console will give you the exact version present on the page.

If you're able to get back to your original examp

[2019-03-06 02:17] shockey commented on #5215
Indeed, the [specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#data-types) is pretty clear on this.

[2019-03-06 02:27] shockey commented on #5212
@camomileann, can you provide me with your Swagger/OpenAPI document?

[2019-03-06 02:32] shockey commented on #5209
@jasonlaw, I'm not familiar with JObjects, but you can always describe an object using JSON Schema and parse it into whatever representation you need in your server.

If you're using an annotation library, you'd need to ask this question in that library's repository.

[2019-03-06 02:34] shockey commented on #5132
@mmamyan, the first `consumes` value listed for an operation will be used by default. You'd have to ask someone at Springfox how to get `application/json` to be listed first, though - I'm not really sure.

[2019-03-06 02:35] shockey commented on #3954
FYI: this is still in my work queue!

[2019-03-06 03:00] shockey commented on #5148
Fair point.

Once upon a time, `swagger-config.yaml` _was_ the place for our defaults, but we slipped into `index.js` over time.

Would be happy to see a PR that solves this!

[2019-03-06 08:16] jvinkovicdink commented on #5217
Sorry for inappropriate language before.
Problem is that you are closing issues without resolving the.
This same issue is from 2014.

Just a few
#4638
#4465
#5217

[2019-03-06 08:42] mimmus commented on #5203
I was able to run swagger-ui under DC/OS using host mode, instead of bridge mode.

[2019-03-06 09:22] xyfantis commented on #4836
@shockey any update on this?

[2019-03-06 09:29] wzshiming opened #5220 "support for non-http/https schemes"
any protocol (such as ws/wss) scheme can be specified in the `servers/url` property.

[2019-03-06 13:54] camomileann commented on #5212
Hi shockey,
yes, I can. The important thing that this document is generated automatically, I use annotations in my scala classes.
		{
		swagger: "2.0",
		info:  {
		version: "beta",
		title: "",
		contact:  {
		name: ""
		},
		license:  {
		name: "",
		url: "http://licenseUrl"
		}
		},
		host: "localhost:9000",
		basePath: "/",
		tags:  [
		 {
		name: “mum”
		},
		 {
		name: “mr”
		},

		 {
		name

[2019-03-06 17:30] tahoward commented on #5194
Temporary solution is to pass JSON_SORT_KEYS = False to Flask app to preserve key order. Would assume expectation is key order should not matter to swagger-ui?

[2019-03-06 20:36] john3300 commented on #2745
@webron

There is now a GFM extension for CommonMark that could be utilized to get table support in OAS 3 spec files:  https://github.com/github/cmark-gfm

[2019-03-06 21:55] kt236 opened #5222 "npm run dev stuck at 69%"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

[2019-03-06 21:57] kt236 commented on #5222
OS: [WINDOWS 10]

npm run dev at 69%

 69% building 963/969 modules 6 active ...-ui\node_modules\zenscroll\zenscroll.j
 69% building 964/969 modules 5 active ...-ui\node_modules\zenscroll\zenscroll.j
 69% building 965/969 modules 4 active ...-ui\node_modules\zenscroll\zenscroll.j
 69% building 966/969 modules 3 active ...-ui\node_modules\zenscroll\zenscroll.j
 69% building 966/970 modules 4 active

[2019-03-06 23:57] shockey commented on #5222
@kt236, have you tried opening http://localhost:3200?

Sometimes Webpack doesn't give a final readout when it's done spinning up.

[2019-03-07 00:04] kt236 commented on #5222
Yep, I tried that and it worked. But initially I was lost on what was
really going. on. Your reply clarifies that. Thank you.

On Wed, Mar 6, 2019 at 5:57 PM kyle <notifications@github.com> wrote:

[2019-03-07 00:55] shockey commented on #5222
No problem! I've been meaning to take a look at newer versions of webpack-dev-server, perhaps there are some improvements in the 2/3 series in this regard.

Glad you got it figured out! Closing as resolved.

[2019-03-07 00:55] #5222 closed

[2019-03-07 01:11] shockey commented on #5220
@wzshiming, what protocol(s) are you seeking support for?

Generally, we're pretty limited in what we can offer in Swagger UI because of restrictions in browser support, as well as the Fetch/XmlHttpRequest standards.

[2019-03-07 01:38] wzshiming commented on #5220
Such as the WebSocket (ws/wss)

[2019-03-07 13:47] gustavnyberg opened #5223 "Supporting Azure AD OAuth 2.0 Client Credentials Grant Flow"
### Content & configuration

Swagger/OpenAPI definition: 2.0

Swashbuckle.AspNetCore 4.0.1

 Swagger-UI configuration options:
 services.AddSwaggerGen(c =>
{
    c.SwaggerDoc(resourceName, new Info {Title = urn});
    c.CustomSchemaIds(i => i.FullName);
    c.AddSecurityDefinition
    (
        oAuth2SecurityDefinitionName,
        new OAuth2Scheme
        {
            Type = oAuth2,

[2019-03-07 23:23] jimcullenaus commented on #5214
Hmm, it does indeed seem to be running the older version still. Not sure why. I have been unable to get it to upgrade to the latest version whatever I try. However, it does confirm that I can't confirm the issue occurs even on 3.21.0, so unless there's more to add, I'll close off this ticket.

[2019-03-08 13:45] qcho commented on #2771
What about something like https://github.com/mozilla-services/react-jsonschema-form ?

[2019-03-08 16:49] chewi opened #5225 "Loading new URL does not reset schemes value if schemes unset"
### Q&A (please complete the following information)
 - OS: CentOS 7
 - Browser: Vivaldi
 - Version: 2.3.1440.60
 - Method of installation: git clone, using dist directory
 - Swagger-UI version: 604c7b420f069b132a3d8b4636afe91a4f473fe2
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
I'm just loading dist/index.html directly in my browser and pointing UI at my server.

Example S

[2019-03-08 21:05] anuras commented on #5213
Is it actually fixed? I seem to observe the same behaviour as described in the first post with setting SWAGGER_JSON, (running on Windows, though).

[2019-03-08 22:29] brpeterman opened #5226 "Topbar plugin is only included in Standalone"
### Q&A (please complete the following information)
 - Method of installation: npm
 - Swagger-UI version: 3.21.0

### Content & configuration

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering

The Topbar plugin is not available in the `plugins` property of the Swagger UI object. It seems to live in its own directory and only gets imported in the standalone preset.

[2019-03-08 23:27] backbone87 commented on #4362
i encountered this problem too,
where does this allOf processing even happen? i couldnt find the place (not familar with redux).

[2019-03-09 05:05] shockey commented on #4362
@backbone87 `allOf` keys are handled in Swagger Client's resolver: https://github.com/swagger-api/swagger-js/blob/master/src/specmap/lib/all-of.js

[2019-03-11 03:17] #5214 closed

[2019-03-11 16:52] hkosova opened #5228 "Media type example is not displayed unless a schema is defined"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome latest
 - Method of installation: http://editor.swagger.io
 - Swagger-UI version: 3.21.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
If a request body has `example` but no `schema`, the example value i

[2019-03-11 17:07] wol190 commented on #3803
Thanks for the pointer. It's interesting to see another presentation alternative. Example responses using ReDoc still have problems though. For example ([OneOfExample1.yaml.txt](https://github.com/swagger-api/swagger-ui/files/2953209/OneOfExample1.yaml.txt)), with the following schema in the response:
[code]
ReDoc offers an invalid json example (should be either "a" or "b", but not both):
[code]
H

[2019-03-11 17:25] Mic75 commented on #4650
Hello @shockey , any ETA on a fix regarding this issue?

[2019-03-12 09:43] romsDKT opened #5230 "OAS 3: oauth2 securityScheme -> description does not appear"
### Q&A
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
When i set an oauth2 securityScheme the description is not displayed.
An info text is displayed about the scopes (i don't want it to appear)

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
Description doesn't appear and some infos about scopes are displayed

### To reproduce...

Steps

[2019-03-12 14:03] ghost opened #5231 "Turn off production Redux view."
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome
 - Version: 72.0.3626.121
 - Method of installation: yarn
 - Swagger-UI version: 3.20.3
 - Swagger/OpenAPI version: Swagger 2.0, OpenAPI 3.0

### Content & configuration
The implementation of production Redux view displays the actions and state. Ideally, we shall hide it when the environment is production. Its good

[2019-03-12 16:58] ethanhodys opened #5234 "Cant pass JSON to my POST function though Swagger UI"
public void Post([FromBody]string value)
{
//Do Something
}

### Screenshots

![image](https://user-images.githubusercontent.com/43180913/54219483-fa4b5d80-44c5-11e9-81a0-58e0902e88f1.png)

### How can we help?
I have just started using Swagger and WebAPI with C#.  I can get simple strings to pass. But whenever I pass in a JSON object I null passed at the value of the function parameter.  I am try

[2019-03-12 20:43] Koranda commented on #2651
Please fix it or gave us workaround for requestBody examples.

[2019-03-13 00:24] Marc3001 commented on #5119
We are experiencing same with swagger-ui `3.21.0` and react `16.8.4`

If field has default value it is used even if we set an other one in form.
If field do not has default value, swagger is displaying error that field is empty even if you just put a value.

[2019-03-13 02:52] ZhangYiJiang opened #5236 "Fenced code blocks requires additional indentation"
### Q&A (please complete the following information)
 - OS: Ubuntu Linux
 - Browser: Firefox
 - Version: Latest beta
 - Method of installation: dist assets
 - Swagger-UI version: Latest on npm and on https://petstore.swagger.io
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Valid Commonmark fenced code blocks do not require indentation for them to be rendered as code blocks,

[2019-03-13 03:30] HaleyWang commented on #2793
`
    ui.getConfigs().requestInterceptor = 	(req) => {
		req.headers.debug_request = "1";
		return req;
	}
`
It worked for me

[2019-03-13 03:32] HaleyWang commented on #3036
ui.getConfigs().requestInterceptor = (req) => { req.headers.hahaha= "123"; return req; }
It worked for me

[2019-03-13 03:51] shockey commented on #2793
@HaleyWang _please_ don't change things on the object you get back from `ui.getConfigs()`, it's not an official interface and is likely to break in the future 😄

[2019-03-14 01:01] shockey commented on #5236
Hi @ZhangYiJiang, looks like this is working as intended.

Your YAML multiline string is using the [`>` folder block scalar style](https://yaml.org/spec/1.2/spec.html#id2796251), so single newlines are being replaced with spaces in your string. That means that your "Test First code block" is all on one line, i.e. ````This is rendered as inline code \n\n``` Test First code block ```\n\n````. You ca

[2019-03-14 01:01] #5236 closed

[2019-03-14 01:17] Mr-ZhangJie commented on #5202
好了  本问题已经解决了

[2019-03-14 01:17] #5202 closed

[2019-03-14 08:09] brian-hay commented on #4817
Not working for me either. Latest Swagger UI 3.21.0

[2019-03-14 08:22] t1bb4r commented on #4218
Anyone have a workaround? Issue has been open for over a year. How are you using cookies?

[2019-03-14 08:25] t1bb4r commented on #4218
Maybe to clarify the title, it is not required by curl it is required by http (all http web servers), https://tools.ietf.org/html/rfc6265#section-5.4
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie
"A list of name-value pairs in the form of `<cookie-name>=<cookie-value>`. Pairs in the list are separated by a semicolon and a space (`'; '`)."

[2019-03-14 10:25] csw-developer opened #5238 "Cors error on Angular when no authorization header is passed"
### Q&A (please complete the following information)
- OS: Linux
- Browser: Chrome, Firefox, Opera
- Version: 72.0.3626.121
- Method of installation: npm
- Swagger-UI version: 3.21.0
- OpenAPI version: 3.0.1
- Backend service: AWS API Gateway - London region

### Content & configuration
Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
We have an API that requires a

[2019-03-14 12:56] t1bb4r commented on #4218
Sorry I'm stupid, my cookies were not being set due to an unrelated issue. I thought this was the reason, but I see now that this is indeed just an issue with how curl is formatted and not an issue with the functionality of cookies.

[2019-03-14 12:57] sivan-r opened #5240 "Swagger UI shows default example for url parameters (instead of provided one), after manually clearing, clicking “cancel”, and “try it out”"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: Chrome 72.0.3626.121
 - Method of installation: npm
 - Swagger-UI version: 3.20.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
I have an OpenApi3 url parameter, defined with in:query, style:form, explode:true, and with an example value (full definition at the end).
I see a s

[2019-03-14 23:51] #3117 closed

[2019-03-15 15:38] linjmeyer commented on #3517
Hi @SzymonKlimuk - like the others i'm wondering if there is an update on this issue?  Is there anything the community can do to help?  We make heavy use of Swagger UI (and Swashbuckle) and have been holding off on finalizing our OIDC implementation until it's supported by Swagger UI.  Thanks!

[2019-03-16 00:11] samyakshah opened #5241 "Need help with requestInterceptor in react app"
### Q&A (please complete the following information)
 - OS: [macOS]
 - Browser: [chrome, firefox]
 - Version: [22]
 - Method of installation: [npm]
 - Swagger-UI version: [3.21.0]
 - Swagger/OpenAPI version: [Swagger 2.0]

### Content & configuration

I am trying to consume https://www.npmjs.com/package/swagger-ui-react in my app to render api doc and need to supply custom Authorization header and

[2019-03-18 07:26] SzymonKlimuk commented on #3517
Hi, I am not par of the community I just found the bug and proposed the solution. Probably you need to ask @wlami

[2019-03-18 09:44] r4mbo7 commented on #2906
[code]
Starting the container as follow
[code]
The `curl -X GET "http://10.0.2.15:3000/nodes" -H  "accept: application/json"` is working fine, but I have `Undocumented | TypeError: NetworkError when attempting to fetch resource.` from the swagger interface.

[2019-03-18 10:09] r4mbo7 commented on #2906
Solving it by enabling CORS on the aiohttp server side (using aiohttp_cors)
[code]

[2019-03-18 14:56] andreyhammer commented on #4385
Same issue. Without docker.

nginx config like:

location / {
       proxy_pass              http://example.com:80;
}

If i request https://example.com/swagger i get  redirect to https://example.com:80/ui/swagger/ui/index

Please fix issue that was reported almost one year ago.

[2019-03-18 20:11] EliotBerriot opened #5243 "Handling of relative urls for Oauth2 authorizationUrl and tokenUrl"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Firefox
 - Version: 65
 - Method of installation: Docker (via official hub image)
 - Swagger-UI version: v3.21.0
 - Swagger/OpenAPI version: 3.0.2

### Content & configuration

I'm in the process of documenting my OAuth2 endpoints, and have the following definitions:

[code]

As you can see, I have multiple servers config

[2019-03-18 20:33] shockey commented on #5243
Hi @EliotBerriot!

Relative URLs [aren't supported in OpenAPI 2.0](https://github.com/swagger-api/swagger-editor/issues/1711#issuecomment-379557262), but they are in OpenAPI 3.0.

Since you're on 3.0, I think https://github.com/swagger-api/swagger-ui/issues/3992 is the issue you're describing.

FYI: this isn't a high priority item for us, so if this is really nagging you consider opening a PR. I'd

[2019-03-18 20:33] #5243 closed

[2019-03-18 20:45] EliotBerriot commented on #5243
Thanks @shockey, I'll look into that :)

[2019-03-19 05:44] jimcullenaus opened #5245 "Parameters under path item object does not load"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04.1 LTS
 - Browser: Chrome, Firefox
 - Swagger-UI version: 3.20.6
 - Swagger/OpenAPI version: OpenApi 3.0

### Content & configuration

Including `parameters` directly under a path item object, as opposed to as part of an operation object.

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

Whe

[2019-03-19 05:55] #5245 closed

[2019-03-19 11:44] yusufomg commented on #1448
Hey, I had the same problem. changed name("Accept")  to name("accept") and it's work me :)

@Configuration
@EnableSwagger2
public class SwaggerConfig {

    @Bean
    public Docket api(){
        return  new Docket(DocumentationType.SWAGGER_2).globalOperationParameters(
                Arrays.asList(new ParameterBuilder()
                        .name("accept")
                        .description

[2019-03-19 17:42] KimPlausible opened #5247 "WCAG 2.1 1.4.3 -- Insufficient Color Contrast"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 73.0.3683.75
 - Method of installation: npm
 - Swagger-UI version: 3.17.6
 - Swagger/OpenAPI version: latest

### Describe the bug you're encountering

The color of the text and the color of the background are not in sufficient contrast to each other. This can give problems for users with visual impai

[2019-03-19 18:37] shockey commented on #5245
@jimcullenaus, did you figure out the issue here? Was this intentionally closed?

[2019-03-19 18:44] shockey commented on #1974
@VictorioBerra, Swashbuckle isn't maintained by us, you'd have to take that up with them 🙂

[2019-03-19 18:47] shockey commented on #5155
@TofPlay you can manipulate [`Access-Control-Allow-Origin`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin) to only allow your Swagger UI deployment to talk to your API, instead of sending back `*`.

[2019-03-19 18:50] shockey commented on #4962
@anfle happy to hear it, thanks for following up!

[2019-03-19 18:50] #4962 closed

[2019-03-19 18:54] shockey commented on #1939
@tdudgeon, please open a new issue - and please share some details of what exactly you're trying to achieve, as I don't know of many use cases that would require specifically ordered form data key/value pairs. thanks!

[2019-03-19 19:02] SeaLife commented on #4707
Just to mention it, the Bug is solved under version 3.21.0 :)
Thanks @shockey

[2019-03-19 19:02] shockey commented on #5096
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2019-03-19 19:02] #5096 closed

[2019-03-19 22:38] jimcullenaus commented on #5245
Hi, yes it was. The issue was a lack of a dash (`-`) before the `$ref`.

[2019-03-19 23:07] TedDriggs commented on #4401
Where do these samples get generated in the codebase? I was trying to find it, but all I could find was the curl code.

[2019-03-20 01:12] KimPlausible opened #5248 "[Accessibility] WCAG 2.1 1.3.1, and 4.1.2 && Section 508 502.3.1 && Screen Reader Usability"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Microsoft Edge
 - Version: 42.17134.1.0​​
 - Method of installation: npm
 - Swagger-UI version: 3.17.6
 - Swagger/OpenAPI version: latest

### Describe the bug you're encountering

Aggregated Accessibility Bugs related to WCAG 2.0 1.3.1 && Screen Reader Usability
1. Narrator (screen reader) does not read the value again

[2019-03-20 03:26] jimcullenaus opened #5249 "Using $ref to refer to a parameter under a path item object does not work"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04.1 LTS
 - Browser: Chrome, Firefox
 - Swagger-UI version: 3.20.6
 - Swagger/OpenAPI version: OpenApi 3.0

### Content & configuration

In `openapi.yaml`:

[code]

In `paths/user.yaml`:

[code]

In `components/parameters/UserId.yaml`:

[code]

It displays fine if placed as a parameter directly under the operation:

[code]

### D

[2019-03-20 14:14] pgoldtho opened #5250 "ft/remove-react-addons-perf release"
### How can we help?

I'm looking for a release that includes https://github.com/swagger-api/swagger-ui/pull/5229.  The PR text suggests a release date of March 16.  I don't see anything on https://github.com/swagger-api/swagger-ui/releases.  Do I need to apply it as a patch?

[2019-03-20 14:17] soberich commented on #3463
@webron my use case
I make a GET request to `/management/prometheus` in Spring-Boot app
and the response in 406 Not-Acceptable, because swagger-ui 3.x forces the header `Accept: "*/*"`.
Prometheus endpoint works fine from any request without any "Accept" header.

[2019-03-20 19:36] #2895 closed

[2019-03-20 19:36] #5126 closed

[2019-03-20 20:51] cskr11 opened #5251 "Individual Operation component"
Would like to know if there is a separate component/extension to show individual operation in swagger-ui rather than showing all the operation pertaining to a API specification in a single page.

For example, if I invoke this url http://localhost:3001/#/pet/findByTags, only this method has to be shown to the user on the UI and others to be hidden. Pls let me know...

[2019-03-21 06:12] yincongcyincong opened #5252 "websocket request error: URL scheme must be "http" or "https" for CORS request."
### Q&A (please complete the following information)
 - OS: windows
 - Browser:chrome, safari]
 - Swagger-UI version: 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

[2019-03-21 15:54] jlw0 commented on #5019
It appears this issue may have been fixed by https://github.com/swagger-api/swagger-ui/pull/5161

[2019-03-21 19:37] adjenks opened #5254 "Missing dependency isArray"
### Q&A (please complete the following information)
 - OS: linux
 - Browser: any
 - Version: swagger-ui@3.21.0
 - Method of installation: npm
 - Swagger-UI version: swagger-ui@3.21.0
 - Swagger/OpenAPI version: n/a

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
Using parcel to build the sc

[2019-03-21 19:51] jlw0 commented on #5019
I confirmed that I no longer experience this issue with Swagger UI 3.21.0.

[2019-03-21 19:51] #5019 closed

[2019-03-21 22:26] #5250 closed

[2019-03-22 03:24] jimcullenaus commented on #5249
I should probably mention, @shockey, that this is unrelated to the previous Issue I raised, and from what I can see this is a genuine issue with swagger-ui, not a typo in the OpenAPI definition used.

[2019-03-22 10:03] natlibfi-arlehiko opened #5255 "Major and minor version tags in Dockerhub"
Please publish images in Dockerhub with major (e.g. v3) and minor version (e.g. v3.20) tags so that users don't have to risk using the latest tag (Which may introduce breaking changes) or specific tags (e.g. v3.20.9 ) which do not receive updates.

[2019-03-22 12:36] ksac1 commented on #3033
I see the same issue. Still don't know what the solution is. Please clarify.

[2019-03-22 17:33] adjenks commented on #2707
If you're using jquery, you can just shove the json array that the user writes in the textarea into `jQuery.param()` like so:
[code]

It writes nested arrays out just like how PHP likes to digest them. Nom nom.

[2019-03-22 19:43] adamjgrant commented on #4915
Here's what I ended up doing, combining the knowledge from above:

[code]

[2019-03-23 04:19] thaonguyenai commented on #2813
Hi @shockey, I'm working on a custom plugin as well and wondering why my custom plugin is not found on window load.
I created plugins/operations-layout which contains operations-layout.jsx and index.js
plugins/operations-layout/operations-layout.jsx:
[code]
plugins/operations-layout/index.js:
[code]
plugins/index.js:
[code]
standalone/index.js
[code]
And in dev-helpers/index.html  I have:
[code]
B

[2019-03-23 21:04] MynockSpit opened #5258 "`swagger-ui-react`: Customize components of swagger-ui"
### Content & configuration

We'd love to switch to `swagger-ui-react` but are depending upon customizing certain components of swagger-ui. Is this possible in `swagger-ui-react`?

Swagger-UI config here: https://github.com/awslabs/aws-api-gateway-developer-portal/blob/master/dev-portal/src/pages/Apis.jsx#L35

Custom Plugin here: https://github.com/awslabs/aws-api-gateway-developer-portal/blob/mas

[2019-03-24 13:48] AdrieanKhisbe commented on #5027
(for future readers)

👉  https://github.com/shockey/swagger-ui-plugins

[2019-03-25 07:58] agilc opened #5261 "Swagger UI svg output showing the svg code as text instead of loading the image"
I have an endpoint in Swagger UI. Its output should be an SVG image. But in the response, I'm getting the original SVG code instead of loading the image. How can I solve the issue?

I am using swagger UI NPM package(https://www.npmjs.com/package/swagger-ui) in my NodeJS App.

[2019-03-25 10:01] ksac1 commented on #5023
The solution to the problem : "😱 Could not render this component, see the console." in Swagger Open API 3 can be resolved by following the link:  https://swagger.io/docs/specification/describing-parameters/

[2019-03-25 10:01] ksac1 commented on #4442
The solution to the problem : "😱 Could not render this component, see the console." in Swagger Open API 3 can be resolved by following the link: https://swagger.io/docs/specification/describing-parameters/

[2019-03-25 10:06] dong-dev commented on #2651
there is my workaround: i wrote a description for the request so the description will display on top of the request
for example:
[code]

i hope this will help someone here until `examples` work

[2019-03-25 11:32] ksac1 commented on #3033
The solution to the problem : "😱 Could not render this component, see the console." in Swagger Open API 3 can be resolved by following the link: https://swagger.io/docs/specification/describing-parameters/

[2019-03-25 11:44] AndriiHavrylyak opened #5263 "TypeError: Failed to fetch"
I want to map the photo to the server by using POST via http, but I get an error "TypeError: Failed to fetch" . Why can this be?
![121](https://user-images.githubusercontent.com/38010614/54917422-73a27180-4f04-11e9-9ecd-ec8fd5dba856.png)

[2019-03-25 15:56] krzychukula opened #5264 "Execute Result is misleading (it's mixed with all possible Results)"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 73
 - Method of installation: https://petstore.swagger.io/#/pet/addPet
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]
 - Locally used by:

[code]

### Describe the bug you're encountering

First time I've used this UI and instead of the real result I was

[2019-03-25 22:49] shockey commented on #5261
Hey @agilc! There's no way to do this currently, we display SVG data as-is:

https://github.com/swagger-api/swagger-ui/blob/12e350fcad66f7708e6bc3e18d8cb2c9a107bc16/src/core/components/response-body.jsx#L118-L122

There has been some discussion (#4018) and work (#4063) around this in the past, but we've never resolved it.

[2019-03-26 08:48] Crazometer opened #5265 "Bearer Tokens not Sending"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: firefox
 - Version: latest (66.0.1)
 - Method of installation: NA
 - Swagger-UI version: latest, or as hosted on editor.swagger.io
 - Swagger/OpenAPI version: OpenAPI 3.0

Example Swagger/OpenAPI definition:
[code]
### Describe the bug you're encountering

No tokens are not being sent in the authorization header. The UI a

[2019-03-26 10:00] hkosova commented on #5265
Replace `scheme: Bearer` with `scheme: bearer` (lowercase "b").

[2019-03-26 11:39] michalrus commented on #4321
Ping. =) How’s this looking?

[2019-03-26 17:06] djeikyb commented on #4745
So, I have that case mentioned earlier.. I have an angular app! Why is there a react dependency conflict? Thanks to that comment and `npm ls`, I realize it's the dev dependency on storybook. Here's a quick working example of an angular 7 component using swagger-ui-react 3.22.0. Not shown is including the swagger css path (starting at node_modules) in angular.json, at json node: `projects.your_proj

[2019-03-27 00:57] Crazometer commented on #5265
Thanks for that. I think my thought process was something like

_Authorization: **B**earer TOKEN_

You can close this if you want as it's no longer specific to the ui. It would be cool if this was caught somewhere else in the toolchain e.g parser.

[2019-03-27 01:12] Leon99 opened #5267 "Hide info.description"
It would be great to have an option to not show info.description.
Use case: we use ReDoc to present API's documentation, however, we still want to have Swagger UI to be able to execute operations. Swagger UI, unlike ReDoc, doesn't generate anchors for Markdown headers, which gives an impression that the documentation is broken. Besides, it requires a user to scroll through the description to get t

[2019-03-27 10:09] gaborbalazs commented on #2010
Any update?

[2019-03-27 18:53] etianen opened #5268 ""unreachable code after return statement" warning in FireFox"
### Q&A (please complete the following information)
 - OS: Ubuntu
 - Browser: Firefox
 - Version: 65
 - Method of installation: npm
 - Swagger-UI version: 3.22.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Steps to reproduce

Open Firefox dev tools. The following warning is displayed: "unreachable code after return statement"

This is caused by the following dead code:

https://github.com/swagger

[2019-03-27 22:01] albernhagen commented on #4385
I also would like to see this issued fixed.

[2019-03-28 09:10] vinhlh commented on #4442
@ksac1 how? when swagger-ui doesn't support ?

[2019-03-28 12:59] ksac1 commented on #4442
@vinhlh : Yes, just follow the way of writing the path parameters and query parameters on the link: https://swagger.io/docs/specification/describing-parameters/

It really worked for me.

[2019-03-28 13:10] hkosova commented on #4442
@ksac1 there are two ways to define the parameter data - using `schema` and using [`content`](https://swagger.io/docs/specification/describing-parameters/#schema-vs-content). Parameters with `schema` are displayed properly in Swagger UI. This issue is specifically about parameters with `content`.

[2019-03-28 16:03] ksac1 commented on #4442
@hkosova :
<img width="450" alt="Untitled" src="https://user-images.githubusercontent.com/46992846/55173127-6d69fa80-517b-11e9-8067-0c14c99f3318.png">

[2019-03-28 18:49] asalih commented on #1605
If you still using Swashbuckle and swagger.ui 2.2.10 like me. This workaround worked for me;

`
(function () {
        var currentXhr;
        var currentXhrFn;
        var currentXhrArgs;

        var origOpen = XMLHttpRequest.prototype.open;
        XMLHttpRequest.prototype.open = function () {

          var bypass = false;

          for (var i = 0; i < arguments.length; i++) {
            if

[2019-03-28 19:47] shockey commented on #5263
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-03-28 19:47] #5263 closed

[2019-03-29 03:19] jwpaxx opened #5269 "response type is not correct"
response type is not correct
class com.github.pagehelper.Page

when i use the pagehelper as response type
the response type will be
[code]
this page info is gone

[2019-03-29 05:36] davesag opened #5270 "OAS3 — Path specific servers are not supported"
### Q&A (please complete the following information)
 - OS: macOS Mojave
 - Browser: all
 - Method of installation: `dist` (embedded in `swagger-ui-express`)
 - Swagger-UI version: 3.22.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

My API offers some root level routes such as

[code]

and

[2019-03-29 06:11] rajeswarikolluri opened #5271 "Missing JsonSubTypes in Swagger Code Gen for jaxrs-jersey"
Below is the sample yaml with Inheritance and Polymorphism.  While generating server stubs  for **JAXRS-JERSEY.**  Model objects doesn't contain @JsonTypeInfo and @JsonSubTypes .  Is this supported in latest  swagger-codegen-cli-3.0.5.jar ?

openapi: "3.0.0"
info:
  description: "This is a sample server Petstore server."
  version: "1.0.0"
  title: "Swagger Petstore"
  termsOfService: "http://swag

[2019-03-29 08:06] hkosova commented on #5270
Path-specific servers are supported and are currently displayed during try-it-out:

![Path-specific servers in Swagger UI](https://user-images.githubusercontent.com/8576823/55218239-8bcf0500-5212-11e9-9854-a57ed706bfa4.png)

[2019-03-29 08:27] davesag commented on #5270
Well there you go.  I had no idea. Thanks.

[2019-03-29 08:27] #5270 closed

[2019-03-29 09:58] RicoSuter opened #5272 "Support x-enumNames for integer enums"
### Content & configuration

It would be great if the Swagger UI could take `x-enumNames` into account if it is available. It is generated by the [NSwag](http://nswag.org) swagger toolchain and defines the enum names (not the values) and is useful for number enums (i.e. when the human readable names are missing).

Swagger/OpenAPI definition:
[code]

### Is your feature request related to a problem

[2019-03-29 18:00] adaamz opened #5273 "Backslash in body string in curl command"
### Q&A
 - OS: *
 - Browser: *
 - Method of installation: FROM node:10.9.0-alpine; RUN npm install -g swagger-cli

request:
![image](https://user-images.githubusercontent.com/4347332/55253046-927e6c00-5254-11e9-873a-6777b7cea4fb.png)

generated curl command:
![image](https://user-images.githubusercontent.com/4347332/55253089-b3df5800-5254-11e9-8bd6-ca88b82fe4e2.png)

As you see, there are continua

[2019-03-29 20:24] svenyonson opened #5275 "Pass doc url as query string to swagger-ui server"
It would be useful to be able to pass a document uri as a query parameter instead of having to type a uri into the search bar,

eg: http://localhost:3200?uri=https://petstore.swagger.io/v2/swagger.json

[2019-03-29 21:25] xdrop opened #5276 "Array model name shown incorrectly"
Consider this representation:
[code]

`domainsList` is of type `array` with items of type `#/definitions/Domain`. However when shown in the `Models` section this is rendered incorrectly:

### Expected
A list of `Domain` ie. `[Domain{...}]`
<img width="237" alt="Screenshot 2019-03-29 at 21 05 24" src="https://user-images.githubusercontent.com/12696953/55263144-f6f6f680-5267-11e9-92e4-690058b7a1d1.p

[2019-03-30 00:57] patricknolan commented on #3530
I agree with @raderio this would be great!

[2019-03-30 11:28] hkosova commented on #5275
This already works, just use `url` instead of `uri`. 😃

https://petstore.swagger.io/?url=https://raw.githubusercontent.com/swagger-api/swagger-editor/2.x/spec-files/default.yaml

[2019-03-30 14:19] svenyonson commented on #5275
Thank you! I did a lot of digging in the code, but was not able to find where the query string is parsed by the server. I'm used to simple node servers, this is  a bit overwhelming. Can you point me to that part of the code base?

[2019-04-01 08:10] tdudgeon opened #5279 "Form field order not respected"
### Content & configuration

When specifying fields with a `multipart/form-data` response the order of the fields in the request can be significant, but swagger-ui sends the fields in a different order to they were declared in the swagger (order seems random).

For instance, consider two fields, one that defines some metadata that defines how to handle the second field which can potentially be ver

[2019-04-01 09:21] AndriiHavrylyak opened #5280 "Post Upload file (error 403)"
I am new to Swagger. I want to ask a question. I have a docker on the server with a neural network that processes the photo! To send a photo to the docker for processing, I use the string "curl http: // localhost: 5000 / predict -X POST -F" image=@1201.jpg" to the terminal I tried to send this command along with the photo through the postman, and everything worked, but I want to try to do it throu

[2019-04-01 11:19] AndriiHavrylyak commented on #5263
https://github.com/swagger-api/swagger-ui/issues/5280

чт, 28 бер. 2019 о 21:47 kyle <notifications@github.com> пише:

[2019-04-01 16:03] bertzor opened #5281 "Validation of uuid without dashes"
### Q&A
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Swagger/OpenAPI definition:
[code]
The parameter petId is of type string and format uuid.
When a value of 78aea7e5-97c3-4e77-92ea-d40d6a3a4439 is entered in the swagger ui for parameter petId, the swagger ui works as expected. However, for 78aea7e597c34e7792ead40d6a3a4439, the guid without dashes, the client side validati

[2019-04-01 17:57] stgiaf commented on #4178
Facing the same issue in SwaggerHub as well.

[2019-04-01 19:42] mtraynham opened #5282 "parameterMacro not working with Open API spec"
### Q&A
 - OS: macOS
 - Browser: Chrome
 - Version: 73
 - Method of installation: npm
 - Swagger-UI version: 3.22.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Any generic configuration will do as the bug is functionality related.

### Describe the bug you're encountering
With an older Swagger 2.0 spec, I had a [`parameterMacro`](https://github.com/swagger-api/swagger-ui/b

[2019-04-02 07:22] udiValer opened #5283 "Clear button is not clearing the values in the form"
**Bug description**
I'm using swagger UI integrating with my service (dropwizard).
In some of the API's i'm exposing path parameters that showing as inputs or combo box in the UI.

After the user fill all the inputs he is performing execute request by clicking on the execute button. Afterward the clear button appear and when the client press it - it clear only the response and not the inputs value

[2019-04-02 11:32] ruwiniwj opened #5284 "Inconsistency in the cURLs generated via the swagger-ui and swagger editor"
When creating an API resource with a multipart/form-data file upload parameter, the swagger editor and the swagger-UI generates the cURL commands differently.

### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: [e.g. 22]
 - Method of installation: dist assets
 - Swagger-UI version: 3.22.0
 - Swagger/OpenAPI version: Swagger 2.0

### Example Swagger/Open

[2019-04-02 13:48] pitiwari opened #5285 "validating field in a schema with optional fields as well ? oneOf"
I have a particular field for which one value is required and then there can be one extra value from amongst 6 possible values as struct shows below, name is required and then there can be optional one more value from exact_match,regex_match .... invert_match. How can i do this optional check for presence of _match fields ?

{
  "name": "...",
  "exact_match": "...",
  "regex_match": "...",
  "ran

[2019-04-02 15:03] joaolce opened #5286 "remove authorization key manually"
add **inverse** to _preauthorizeApiKey_ method, to remove a key when needed.

suggestion:

ui.logoutApiKey ('MyAuth')

[2019-04-02 17:25] yinzara commented on #3229
For a Docker based installation, you will need to create your own Dockerfile to remove the preset however it's as simple as:
[code]

[2019-04-02 19:24] harsh-tamr opened #5287 "Support json editor"
### Content & configuration
josdejong has an amazing jsoneditor: https://github.com/josdejong/jsoneditor

It would be really nice to use a json editor especially if you have a rich schema.

 Swagger-UI configuration options:
[code]

### Is your feature request related to a problem?
I'm always frustrated when I'm typing json and not getting any help.
### Describe the solution you'd like
The end goa

[2019-04-02 22:55] linelson commented on #5248
@shockey would you be open to a PR to fix these accessibility bugs as well as https://github.com/swagger-api/swagger-ui/issues/5247?

[2019-04-03 14:05] yufei-cai commented on #3867
[This line](https://github.com/swagger-api/swagger-ui/blob/98610f88a6945ff6d97970cdf688d3141deb43f9/src/style/_layout.scss#L451) looks like the cause. Removing it fixed paragraph formatting for me (whatever other effects there may be).

[2019-04-03 15:57] dchimeno opened #5288 "Force fetch the schema again after Authentication"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser:
 - Method of installation: [npm]
 - Swagger-UI version: [3.22.0]
 - Swagger/OpenAPI version: [Swagger 2.0,]

### How can we help?

Is it possible to force a refresh of the schema after Authorization has take place?
Ideally with a plugin?

Our backend is able to filter endpoints in the swagger.json file by user permission,

[2019-04-03 16:44] David-Yuen commented on #2651
Can we get a big push on this issue to be fixed?

I am reading that this is a high priority item already, and the developers want to implement it "the right way". But the issue has been open since 2017 Feb (over 2yrs now), and honestly pushing this for so long is NOT the right way.

Having multiple examples is very common/standard thing, and the openapi annotations already supports it (using the `

[2019-04-03 17:13] Marc3001 commented on #5119
@shockey Do you need more info ?
Do we need to provide anything else to make this issue go forward ?

[2019-04-04 05:29] bhati416 opened #5289 "If parameter name is bigger in length, we can't see Datatype column."
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

[2019-04-04 10:42] pushpendraNoida commented on #1209
I am also facing this issue. I wanted to block the preflight options request in cors.
How can do that swagger 3.0.0

[2019-04-04 18:59] sivan-r commented on #5240
If the example is moved to the scheme object, it works

[2019-04-04 18:59] #5240 closed

[2019-04-05 07:17] KimPlausible opened #5290 "[Accessibility] WCAG 2.1 2.1.1, 2.4.3, and 2.4.7 && Keyboard Usability"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 73.0.3683.86
 - Method of installation: npm
 - Swagger-UI version: 3.17.6
 - Swagger/OpenAPI version: latest

### Describe the bug you're encountering

Aggregated accessibility bugs related to WCAG 2.1 2.1.1, 2.4.3, and 2.4.7 && Keyboard Usability
1. Keyboard focus is not visible/indicated for Cancel,

[2019-04-05 19:52] shockey commented on #5171
@tnpradeep thanks for the suggestion! it's not possible at the moment, but we may add it in the future.

[2019-04-05 20:04] shockey commented on #4574
@DeeDeeG, I'd prefer to systematically prefix things - doing it manually requires everyone who could possibly decide to contribute to know about the prefix, which worries me.

I'll say again - I'd also accept a PR that simply changes our `col` class to use a different name. That doesn't solve all the possible problems here, but if that's everyone's pain point today it's a good place to start.

[2019-04-05 20:11] shockey commented on #4924
I'm picking this up - as mentioned in https://github.com/swagger-api/swagger-ui/issues/4931#issuecomment-428358133, we shouldn't be resolving `example` values at all.

[2019-04-05 20:21] KimPlausible commented on #5248
**Pri 0** (Blocking, high impact): 1, 4, 5, 7, 9, 13, 15, 16
**Pri 1** (Blocking, low impact): 2, 11
**Pri 2** (Not blocking, high impact): 3, 6, 10, 14
**Pri 3** (Not blocking, low impact): 8, 12

[2019-04-05 20:23] shockey commented on #2136
Indeed @javabrett.

OAI has made their position quite clear in the newest version of their spec, therefore Swagger UI won't be supporting this.

[2019-04-05 20:27] shockey commented on #2765
@obender please join the discussion in #2488 or email me (kyle.shockey@smartbear.com) if you'd like to discuss how best to architect an internationalization feature 😄

[2019-04-05 20:31] shockey commented on #5172
Yeah, seems like we should be flushing the data between logins.

@cgenin7 this is expected behavior, we don't store auth information between refreshes. Feel free to write a plugin that achieves this, Swagger Editor's [`local-storage`](https://github.com/swagger-api/swagger-editor/blob/07fac2a8fc3b26ee6872b5415f8e4cd1df5c11a5/src/plugins/local-storage/index.js) is a good example of how to persist t

[2019-04-05 20:32] shockey commented on #5198
Hi @jdgamache, that message isn't coming from Swagger UI - please open an issue with whatever Java project you're using to embed Swagger UI!

[2019-04-05 20:32] #5198 closed

[2019-04-05 20:34] shockey commented on #5204
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-04-05 20:34] #5204 closed

[2019-04-05 20:58] shockey commented on #5203
@mimmus it's a breaking change because folks using our image today may rely on Swagger UI respecting a `PORT` value in order to correctly route requests to a custom port.

[2019-04-05 20:59] shockey commented on #4836
@xyfantis nothing yet!

[2019-04-05 21:02] shockey commented on #5220
I've catalogued this as a feature request!

I'm not sure when/if we'll support this, since (1) Swagger UI is largely designed around a 1:1 request/response flow, and (2) `window.fetch`, which we use for network requests, [doesn't support ws/wss](https://github.com/github/fetch/issues/499).

[2019-04-05 21:07] shockey commented on #5212
@camomileann, looks like your definition lacks `securityDefinitions` for your `apiKey` security scheme. Your annotation library is probably the cause of this!

[2019-04-07 12:34] daniel-kun commented on #5067
Just adding my 2c, after I abandoned swagger ui out of frustration: I find the installation instructions incomprehensible, too, although I am familiar with node, npm, etc.

I was looking for a simple™ way to generate a standalone webpage with swagger ui, but I was not able to get this to work, since the docs are heading in what feels like 10 directions, but don't follow even one environment from s

[2019-04-08 04:05] jemerald commented on #2651
The development of swagger-ui to do with `oneOf` and `examples` support  seems to have stagnated.

I'm currently using ReDoc to render my OAS 3.0 spec and it supports both features very nicely.

[2019-04-08 09:53] sarangajay commented on #5074
Hi jrean, could you lease explain your solution. I am having the same issue with springfox.

Unable to render this definition
The provided definition does not specify a valid version field.

Please indicate a valid Swagger or OpenAPI version field. Supported version fields are swagger: "2.0" and those that match  openapi: 3.0.n (for example, openapi: 3.0.0).

[2019-04-08 19:25] mchelen commented on #2651
Is this issue related to #3803 ?

[2019-04-08 23:47] jemerald commented on #3803
@wol190 your sample model does not suggest exclusiveness of `a` and `b`, it just suggests that one of the two field is required. So the example rendered is actually correct.

Just checked with the latest ReDoc, and it also renders the contract correctly:

![image](https://user-images.githubusercontent.com/9168432/55763897-281fc400-5abd-11e9-9bf9-11aa48e163cb.png)

![image](https://user-images.gith

[2019-04-08 23:55] jemerald commented on #2651
@mchelen that one is about `oneOf` and this one is about `examples`. But they may demand similar solution, in that sense they are related.

[2019-04-09 05:30] wzshiming opened #5291 "In some cases, the description in the schema does not display properly"
### Q&A (please complete the following information)
 - OS:  macOS
 - Browser:  chrome
 - Version: 73
 - Method of installation:  dist assets
 - Swagger-UI version: 3.10.0
 - Swagger/OpenAPI version: [e.g.  OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
![aaa](https://user-images.githubusercontent.com/6565744/55774785-

[2019-04-09 08:20] xiaoice opened #5292 "report multiple body parameters are not allowed"
swagger: "2.0"，found this error report，Any good solutions？

[code]

[2019-04-09 14:15] stormwind85 commented on #5177
+1

I don't understand what is it supposed to be happen.
They are no generated links !
What is this feature supposed to do with Swagger-Ui ?

[2019-04-09 16:43] hkosova commented on #5292
Only one body parameter is allowed per operation. The body parameter defines the request body content, such as the JSON or XML object being passed in the request body. Check out [Describing Request Body](https://swagger.io/docs/specification/2-0/describing-request-body/) for more details and examples.

In your example, it looks like the 2nd body parameter (with `name: "head"`) is included by mista

[2019-04-09 16:44] hkosova commented on #5287
Related (or duplicate): #2771

[2019-04-09 18:05] KimPlausible commented on #5290
**Pri 0** (Blocking, high impact): 2, 3, 4
**Pri 2** (Not blocking, high impact): 1, 5, 7, 8, 9
**Pri 3** (Not blocking, low impact): 6

[2019-04-09 18:06] KimPlausible commented on #5247
**Pri 2** (Not blocking, high impact): Authorize, GET, POST
**Pri 3** (Not blocking, low impact): (query), DELETE, Example Value

[2019-04-09 19:00] jennifergarcia commented on #5119
I was having these problems as well, I tried reverting previous version of swagger-ui with no difference.

I reverted to React version 15.6.2 which was in the current swagger-ui dependency list and it seemed to fix it. Before I was running with the latest react version of 16.8.6.

What is the latest version of React that Swagger UI supports?

[2019-04-09 23:22] shockey commented on #5194
In a perfect world, yes! Our resolver engine has some corner cases around this, though. This is a bug!

[2019-04-09 23:29] shockey commented on #2745
FYI to commenters and readers, we've enabled support for GFM tables on top of Commonmark for OpenAPI 3: https://github.com/swagger-api/swagger-ui/pull/5224

The original issue here is still open.

[2019-04-09 23:31] shockey commented on #4745
@djeikyb brilliant find! thanks for writing this up 😄

[2019-04-09 23:39] shockey commented on #5213
@anuras, should be - can you make sure you're pulling a fresh image from Docker Hub? We overwrote existing tags to fix this, so you might have an old cached version locally.

[2019-04-10 00:04] shockey commented on #4817
I'm going to lock this thread now - if anyone is still having problems I encourage you to open a new issue and follow our provided templates!

[2019-04-10 00:16] shockey commented on #5252
WebSockets aren't currently supported in Swagger UI - please follow https://github.com/swagger-api/swagger-ui/issues/5220 for developments.

[2019-04-10 00:16] #5252 closed

[2019-04-10 00:26] shockey commented on #5254
@adjenks, is this still a problem for you?

`isarray` is definitely present in Swagger UI's dependency tree:

[code]

What package manager and version are you using to install dependencies for Swagger UI?

[2019-04-10 00:28] shockey commented on #5250
@pgoldtho sorry for the delay there, I'm responsible for running Swagger UI releases and I was ill on the 15th/16th. Hope the current version is working well for you 😄

[2019-04-10 00:29] shockey commented on #5255
Great idea!

[2019-04-10 00:34] SachidanandAlle opened #5293 "Not able to decode multipart response"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 73.
 - Method of installation: npm
 - Swagger-UI version: Latest
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Fails to decode the response when it is of multipart type.

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
When the UI receives th

[2019-04-10 00:44] shockey commented on #2010
This is out of scope for Swagger UI itself - being able to support areas and have multiple UIs deployed for each of them is a question for higher-level tools that make use of Swagger UI.

[2019-04-10 05:48] xiaoice commented on #5292
I know, but I do have this requirement on my side. Is there any solution, such as modifying the source code，how to modify？thanks

[2019-04-10 07:55] hkosova commented on #5292
Please open a ticket with whatever library/tool you used to generate the API definition because it generated an invalid definition. This is not a Swagger UI issue.

[2019-04-10 10:44] xiaoice commented on #5292
at    /src/core/plugins/spec/actions.js   at line 358

// multiple body parameters are not allowed
    let paramsKeyArr = Object.keys(req.parameters)
    if (paramsKeyArr.length > 1) {
      let obj = {}
      for ( let key in req.parameters) {
        let paramsKey = (key || "").replace("body.", "")
        obj[paramsKey] = JSON.parse(req.parameters[key]) || {}
      }

      let paramsBody = JSO

[2019-04-10 11:29] davidsmf opened #5294 "swagger-ui-react - docExpansion in changelog for 3.22.0, but not in release on NPM"
### Q&A (please complete the following information)
 - OS: all
 - Version: 3.22.0
 - Method of installation: npm

### Content & configuration
[code]

### Describe the bug you're encountering
It looks like the npm release doesn't reflect the contents of the tag/release notes.

[2019-04-10 12:48] laurence-hudson-mindfoundry commented on #5294
@shockey Did transpiling the change from #5242 get missed out of the 3.22.0 release process?

[2019-04-10 14:39] pgoldtho commented on #5250
Thanks, @shockey.  I'm no longer working for the company that needed the fix.  They laid off a bunch of people a few weeks ago

[2019-04-10 21:42] #5288 closed

[2019-04-11 05:07] ruyuhi opened #5296 "@EnableSwagger2 lead @value("${aaa.bbb:aa}") default not replace"
application.propertity config:
`bsp.upload.file.path=d:/opt/data_file/bsp/
bsp.upload.file.temp.path=d:/opt/data_file/bsp/`

springConfigurationBean:
`@Configuration
public class BeanConfig {

	@Value("${bsp.upload.file.temp.path:aa}")
	private String tempPrefixFilePath;

	@Value("${bsp.upload.file.path:bb}")
	private String prefixFilePath;

	@Bean
	public FileUtil fileUtilConfig() {
		return new

[2019-04-11 13:01] ksac1 commented on #630
What i sthe solution to this problem?

[2019-04-11 19:31] adjenks commented on #5254
Using swagger-ui 3.22.0 I am still getting this error when trying to build using parcel version 1.12.3.

I believe the command you should use to examine the tree is: `npm list -prod`.

In the npm documentation it says their are prod and dev flags for the list command:

(https://docs.npmjs.com/cli/ls.html)

If you run with the prod flag, the tree does not contain "isarray":

Cool visualization here

[2019-04-12 07:58] imcaizheng commented on #5213
@shockey
Does it relevant to #3348?

[2019-04-12 09:48] mareckste commented on #1209
Same problem with swagger 3.0.0

[2019-04-12 09:50] KamranShahid commented on #4425
This is an open issue and shouldn't be closed till the support is available

[2019-04-12 14:04] gavmck commented on #5258
Also looking to implement this. Really, we only want the Try it now API console feature from Swagger UI isolated. This looks perfectly possible with the non-react version via a custom layout, but I'd like to build it into a Next.js site.

[2019-04-12 14:30] pengiundev commented on #4745
I'm using this in a Vue app and it still shows curl -X "undefined" using `swagger-ui: 3.22.0` and this code

[code]

Do I have to use swagger-ui-react instead?

[2019-04-12 15:11] GregoryPellegrin commented on #3803
It works fine if you do this
However there is no Example Value, only Schema

[code]

[2019-04-12 18:37] shockey commented on #5264
This is bothering me as well now that you've mentioned it @krzychukula 😄

[2019-04-12 18:58] shockey commented on #4432
some of this would be addressed by keyboard usability/accessibility in general, as covered in #5290

[2019-04-12 19:10] shockey commented on #5172
CC: #4904 and #4851.

[2019-04-12 19:18] shockey commented on #5289
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-04-12 19:18] #5289 closed

[2019-04-12 21:10] shockey commented on #5296
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-04-12 21:10] #5296 closed

[2019-04-12 21:12] smhigley opened #5297 "Authorization buttons lack informative semantics"
# Authorization button semantic issues:

The main authorization button and per-operation authorization buttons have some issues with their accessible name and ARIA attributes:

- The main authorization button does not communicate whether it is locked or unlocked in its name
- The operation-specific authorization buttons use the word "button" in their name, which is redundant and will cause "button

[2019-04-12 21:12] smhigley commented on #5297
PR on the way

[2019-04-12 23:10] intenzive commented on #5032
I am still having the same issue with Swagger UI (Swashbuckle.AspNetCore 4.0.1).

Here is the OpenAPI documetnt ( some code omitted which is not relevant to the issue )

`{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Api",
    "description": "Official API"
  },
  "paths": {
    "/api/Attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "o

[2019-04-12 23:32] cobbce commented on #2651
Would be nice if the specification / documentation didn't include this if the functionality is complete. Would likely save a lot of people a lot of wasted time. Similarly, might be good to not have too completely separate instances of your documentation on your website at the same time.

<img width="1680" alt="Screen Shot 2019-04-12 at 4 31 27 PM" src="https://user-images.githubusercontent.com/466

[2019-04-13 00:30] shockey commented on #2651
@cobbce, I appreciate what you're saying, but the first screenshot of documentation is for the OpenAPI Specification (note the URL, `/docs/specification/`), not for Swagger UI.

The Specification and the UI as a tool are two distinct items managed by different groups of people (accordingly, the [OpenAPI Technical Steering Committee](https://www.openapis.org/about/technical-steering-committee) and

[2019-04-13 00:59] shockey commented on #5294
Thanks for the heads-up, @davidsmf!

Not sure what happened here with 3.22.0, but I've just run a test release of `swagger-ui-react@3.22.1-alpha.0` from CI and the `docExpansion` content made it in correctly.

I'll check the 3.22.1 release contents once it's live in a few minutes, before I close this out.

[2019-04-13 01:45] shockey commented on #5294
OK, `swagger-ui-react@3.22.1` is now live on npm!

looks like it has the latest changes:

[code]

closing, thanks again @davidsmf @laurence-hudson-mindfoundry!

[2019-04-13 01:45] #5294 closed

[2019-04-14 09:04] gilad-bendor commented on #4672
+1
Same problem...   :-(

[2019-04-14 09:05] gilad-bendor commented on #5137
Seems to be a duplication of 4672:
https://github.com/swagger-api/swagger-ui/issues/4672

[2019-04-15 05:40] manasarora119 opened #5302 "Pass data directly"
Is it possible to pass  data directly , rather than passing  json  url in URL ,

I want to pass json  directly to UI Bundle

[2019-04-15 14:14] hkosova commented on #5302
Use the [`spec`](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#user-content-spec) parameter:

[code]

[2019-04-15 14:52] propi opened #5303 "Omit empty and optional values in form data"
I have this request body:
[code]

If I send a request wihin Swagger UI with some `name` but with empty value in the `nick` field, the UI evaluates the request like this:

`curl -X POST "address" -H "accept: application/json" -H "Content-Type: application/x-www-form-urlencoded" -d "name=vaclav&nick="`

But I need not to have the `nick` field contained in the request body if the field is empty, like

[2019-04-15 15:03] typesafedev commented on #4390
Thanks @jogleasonjr but without having to fiddle with positioning.
[code]

[2019-04-15 21:06] cklos1007 opened #5304 "Query parameters are not percent-encoded for curl in OAS3, but are in Swagger 2"
### Q&A (please complete the following information)
 - OS: [macOS]
 - Browser: [chrome]
 - Version: [73.0.3683.86]
 - Method of installation: [npm]
 - Swagger-UI version: [3.22.0]
 - Swagger/OpenAPI version: [Swagger 2.0, OpenAPI 3.0]

### Content & configuration
Swagger 2.0 YAML
[code]

OpenAPI 3.0 YAML
[code]

### Describe the bug you're encountering
When defining query parameters that contain r

[2019-04-16 05:27] mlapaglia commented on #4084
Can I help with this? Would like to see this added into 3 as well :)

[2019-04-16 11:50] sinsharat opened #5306 "x-http-method-override header support not present"
### Content & configuration

Swagger/OpenAPI definition:
[code]

[2019-04-16 12:42] propagated opened #5307 "Rendering string:string dictionary example"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [chrome]
 - Version: [73]
 - Method of installation: [editor.swagger.io]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
Per https://swagger.io/docs/specification/data-mo

[2019-04-16 12:54] JeffHare commented on #4641
I had to added a JS fix to clear the auth key on logout.  Otherwise it was still resending the old key in the header with new requests (even when logged out).

[2019-04-16 13:01] heldersepu commented on #4641
@JeffHare can you submit a PR with your fix or post your fix here so others can benefit?

[2019-04-16 15:18] JeffHare commented on #4641
I did this quite a while back, things have moved on in the project.

Essentially I trimmed the form key input field value and if it was empty I explicitly set it to the empty string to trigger the unauthorized state.   Originally there was only action taken when the key changed state to something non-empty.  If it changed from having a value to not having a value, nothing was triggered.

Don’t see

[2019-04-16 17:12] smhigley opened #5308 "Dialog accessible focus handling"
This issue relates to the fourth point on #5290, and expands on possible solutions:

The authorization dialog needs to be updated in the following two ways to be accessible:

1. All content obscured by the modal needs to be the child of an aria-hidden parent to prevent screen readers from accessing it
2.  It needs to prevent focus from moving into the background page

## aria-hidden & portals
To m

[2019-04-16 17:25] leggsimon commented on #5306
@sinsharat do you mind just correcting the code block in this issue description? The main content is in your yaml. I think you’re just missing the 3 backticks

[2019-04-16 18:03] leggsimon commented on #5308
I wonder whether integrating something like https://github.com/reactjs/react-modal to power the popup would be good, it has built in focus trapping and I believe uses props to determine where the focus should go to on open and close.

I realise it’s another dependency but given its an "official" react component we should be able to be _reasonably_ confident in its maintenance.

Downside might be t

[2019-04-16 18:54] normana400 commented on #1888
how come the same above scenario that breaks with the cors issue here works fine on the redoc demo site?
https://rebilly.github.io/ReDoc/

[2019-04-16 18:56] normana400 commented on #3239
look at https://rebilly.github.io/ReDoc/ the've fixed this issue in their html

[2019-04-16 19:17] leggsimon commented on #4641
It seems like this might be a good first issue if someone has the ability to add the label. I don’t mind having a little look through the code to see where the fix should be applied. (and maybe attempting a fix, although if anyone is reading this and I haven’t said otherwise feel free to pick it up)

[2019-04-17 01:02] kchsieh opened #5309 "Generated curl command for Windows PowerShell"
Request to have an option to generate either linux or Windows PowerShell curl command.

[2019-04-17 04:50] sinsharat commented on #5306
@leggsimon i didn't exactly understand what you meant. The only issue in this swagger code snippet is that the first method is marked as post. If i change it to get it works fine. But since GET should not have body i wanted to make it a POST request with X-HTTP-Method-Override=GET and similarly for X-HTTP-Method-Override=PUT and X-HTTP-Method-Override=DELETE for PUT and DELETE requests respoective

[2019-04-17 07:31] hkosova commented on #1888
@normana400 ReDoc demo site uses a CORS proxy, that is, sends requests through a proxy server. If you unselect the "CORS" checkbox in the header you'll get the same behavior as in the Swagger UI demo - requests will be sent directly from the browser and will be subject to the browser CORS policies.

You can add a CORS proxy to Swagger UI as [explained above](https://github.com/swagger-api/swagger-

[2019-04-17 08:57] leggsimon commented on #5306
@sinsharat I just meant that you’re missing ```` ``` ```` at the end of the actual yaml code bit. If you scroll down on your code block the “### Is your feature request related to a problem?” is at the bottom. if you put ```` ``` ```` before that it should move that text outside the code block

[2019-04-17 09:43] bluscreen opened #5310 "swagger feature trying to locate .png files in swagger jar?!"
Hi everyone

i have found some very strange behavior when trying to download .png files from some endpoint, swagger intercepts and tries to locate the file inside the swagger jar.

i have no idea why but it only seems to happen when someone tries to download a .png file via this endpoint. Other filetypes like .jpg or .html work just fine.

there is some other endpoint which works fine with downloa

[2019-04-17 10:01] stormwind85 commented on #4891
Re-up ! I have the same problem with my own Swagger specifications.

[2019-04-17 14:04] hkosova commented on #5032
@intenzive your OpenAPI doc is not valid - if you paste it into https://editor.swagger.io it will tell you where the errors are.

[2019-04-17 14:31] intenzive commented on #5032
@hkosova as I said I have omitted some from the json. Just didn't want to show it public. If you send me an email I can send you the original OpenAPI doc.

[2019-04-17 16:46] jamyspencer opened #5311 "Unexpected Char â€‹"
Expected output: /bcg/{crid}/{status}/{date}
Actual output: â€‹/bcgâ€‹/{crid}â€‹/{status}â€‹/{date}

version used: 3.22.1

application: A webservice built out using java/Spring Framework/jsp
I have two endpoints with seperate yaml files that use the same index.jsp file
Issue occurs with both <meta charset="UTF-8">

JSON.stringify(versions) output: {"swaggerUi":{"version":"3.22.1","gitRevision":"g7

[2019-04-17 23:08] acds opened #5312 "Can't get requestInterceptor to fire"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome & Safari
 - Version: 73 & 12/1
 - Method of installation: As part of Swashbuckle.AspNetCore with injected index.html <- this works!
 - Swagger-UI version: 3.19.5
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
in following instructions I've added the following to the index.htm as provided [here

[2019-04-17 23:49] acds commented on #5312
Actually I got the basics of this to work - https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/785 so may be good.

In essence one does not have ones own SwaggerUIBundle but leverages the default one.

[2019-04-18 16:26] cristinacimpu commented on #4159
Hi @shockey ,

the additionalQueryStringParams option that initOAuth provides is not working.
I have added the following code in my application:

window.onload = function() {
      // Build a system

      const ui = SwaggerUIBundle({

        url: "/openapi",

        dom_id: '#swagger-ui',

        deepLinking: true,

        presets: [

          SwaggerUIBundle.presets.apis,

          Swagger

[2019-04-19 05:36] Jesn opened #5313 "isEventSupported.js:18 Could not find component JsonSchema_string_uuid"
isEventSupported.js:18 Could not find component JsonSchema_string_uuid
t @ isEventSupported.js:18

[2019-04-19 06:23] Mokaffe commented on #3314
"AuthorizeBtn" should be "authorizeBtn".

[2019-04-19 09:33] milanlatinovic opened #5314 "Empty parameters appearing in API call when x-www-urlencoded is used"
### Q&A
 - OS: Windows
 - Browser: Chrome, Mozilla
 - Version: Version 73.0.3683.103 (Official Build) (64-bit)
 - Method of installation:
 - Swagger-UI version: master (3.22.1)
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Recently, in our company, we switched from Swagger 2.0 to OpenApi 3.0.0.
We are sending requests via x-www-form-urlencoded where we have a list of paramet

[2019-04-19 11:39] vprohorov-ellation opened #5315 "OAS 3.0 `content/../examples` out of spec"
### Q&A (please complete the following information)
 - OS: http://editor.swagger.io/
 - Browser: chrome
 - Version: 73
 - Method of installation: live demo
 - Swagger-UI version: 3.22
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

According to OpenAPI 3.0, and as the editor is pointing out:

[2019-04-19 13:41] hkosova commented on #5314
Thanks for the report! This issue is already tracked in #5303.

[2019-04-19 13:45] hkosova commented on #5315
`content.<media-type>.examples` are currently not supported, this is tracked in #2651.

[2019-04-19 15:37] harsh-tamr commented on #5287
It somewhat similar but not the same. I'm asking for a different library to be added

[2019-04-19 15:48] LuukN2 commented on #5113
@shockey
Any updates on this?

The performance is still blocking us from using the newer Swagger UI.
I have looked into this and I have managed to get the performance doubled by implementing shouldComponentUpdate on some of the elements. (Operation, OperationContainer and ModelWrapper)

Because react uses shallow comparison for updating elements this always results in shouldComponentUpdate in retu

[2019-04-19 16:48] leggsimon commented on #5306
I wouldn’t have thought this is something that is likely to be supported. I don’t know much about this `X-HTTP-Method-Override` header but as I understand it it really just becomes an implementation detail of the internals of your API.

The only way you can interact with your API is via POST requests. The fact that internally your API requires a certain header to be set would make it a required he

[2019-04-19 18:42] armstronge975 commented on #5074
Hi @sarangajay! I just had this same error with Springfox and Swagger UI. I solved this by adding a few things to my **SwaggerConfig.java** file as specified in this [tutorial](https://springframework.guru/spring-boot-restful-api-documentation-with-swagger-2/). Once I added ```extends WebMvcConfigurationSupport``` to the class header and the ```@override``` method, the error went away.

[2019-04-19 19:37] leggsimon commented on #4641
I believe I’ve identified the fix and have a PR incoming

[2019-04-19 21:02] leggsimon commented on #5313
@Jesn could you provide some more details about this issue? This isn’t extremely helpful in its current state. Could you describe what the bug you are encountering is please.

[2019-04-19 21:36] leggsimon commented on #5303
This doesn’t really solve the problem completely but, in case you didn’t know, you can provide another `required` property under `schema` which is a list of required properties e.g.

[code]

Which will render `*required` next to the required “name” field
![localhost_3230__url=_documents_bugs_5303 yaml](https://user-images.githubusercontent.com/11544418/56445077-57230a80-62f3-11e9-9de4-e8b44056c106

[2019-04-19 21:46] leggsimon commented on #5303
Having said that, how would we expect this to work?

Consider this html form
[code]

If you submitted that, any values you hadn’t entered still get added as query parameters so it still ends up making a request to `https://httpstat.us/200?name=blah&nick=` including the empty `nick` parameter.

So while I think there is the potential to have an “Ignore empty values” option I don’t think swagger-ui

[2019-04-20 15:28] milanlatinovic commented on #5314
Hi Helen,
Firstly, thank you for your prompt response, I really appreciate it.
I will join in #5303 thread, I already have some comments that might be useful.

[2019-04-20 15:45] milanlatinovic commented on #5303
Hi Simon,

These are my thoughts related to current issue (maybe it will be helpful).

From the business process view:
- Swagger UI should have some kind of configuration (for OpenApi 3.0) where we can configure it to either "ignore empty values" or "keep empty values". Without this option, Swagger UI will not be useful for lots of APIs.
- Swagger UI (Swagger 2.0.0) already ignores empty values (e

[2019-04-20 19:54] its-atique1987 opened #5318 "Models sections are not rendered if YAML file uses externally $ref."
### Q&A (please complete the following information)
 - OS: windows
 - Browser: chrome
 - Swagger-UI version: 3.22.1

### Content & configuration

Example Swagger/OpenAPI definition:
`openapi.yaml`

[code]
`schemas.yaml`

[code]

`responses.yaml`

[code]

### Describe the bug you're encountering
I splitted my specs into multiple YAML file using $ref attribute.
Able to successfully generate stubs us

[2019-04-20 22:19] propi commented on #5303
I try to describe the API problem in depth. For my case, the API has POST operation `/user-update` which is able to update user attributes like _name_ or _nick_. But when I call this operation I should have choice whether to update both attributes or only one of them. Therefore I send only `name` parameter without `nick` parameter if I want to update only the name attribute, like this:

`curl -X P

[2019-04-22 07:44] vprohorov-ellation commented on #5315
@hkosova, #2651 mentions a slightly different problem and the very first comment is (considering that I'm already using 3.X):

Since this particular feature is buried deep within the comments, decided to open a separate ticket for a more transparent tracking.

[2019-04-22 13:40] mariuszkerl commented on #5032
Have the same issue, @intenzive  did you solve it?

[2019-04-22 17:30] n2ygk commented on #4425
interestingly, despite the error message, the delete operation with a requestBody still works as expected. Perhaps an option for me to say "I know that my API requires DELETE with a requestBody"?

[2019-04-22 19:26] jacobweber opened #5320 "Specify OAuth2 access token manually"
### Q&A (please complete the following information)
 - OS: [e.g. macOS] Mac OS
 - Browser: [e.g. chrome, safari] Chrome
 - Version: [e.g. 22] 73.0.3683.103
 - Method of installation: [e.g. npm, dist assets] swagger-ui-dist
 - Swagger-UI version: [e.g. 3.10.0] 3.22.1
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0] Swagger 2.0

### Content & configuration
N/A

### Screenshots
N/A

### Ho

[2019-04-22 20:28] nicou50 commented on #2651
Do you plan on making that available on swagger-ui ? I followed several threads and a lot of people want that feature. It has been promised over more that 1 year now...I think it's about time...
Thanks

[2019-04-22 20:54] intenzive commented on #5032
@mariuszkerl, unfortunately no. The problem comes from methods having same names with same http verbs but with different input parameters. Still looking for solution.

[2019-04-23 00:58] shockey commented on #4442
@ksac1, @hkosova probably wrote that documentation 😉

---

To clarify for those reading along: Swagger UI is indeed missing support for `content`. We're tracking this as a feature request!

[2019-04-23 01:20] shockey commented on #5269
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-04-23 01:20] #5269 closed

[2019-04-23 01:21] shockey commented on #5271
Hi @rajeswarikolluri,

As this is a Codegen question, please ask it in the [Codegen repository](https://github.com/swagger-api/swagger-codegen).

[2019-04-23 01:21] #5271 closed

[2019-04-23 02:23] shockey commented on #5273
Hi @adaamz!

We're no longer working on or supporting the 2.x series of the UI (which you provided screenshots of) - please upgrade to v3.

Thanks for the report, though!

[2019-04-23 02:23] #5273 closed

[2019-04-23 06:50] its-atique1987 commented on #5318
Any update would be grateful. Thanks

[2019-04-23 10:17] Xnyle opened #5321 "configuration document not processed / format unclear"
I'm using the SwaggerUIBundle which was "hacked" to use a custom configUrl like so:

`window.onload = function() {
      const ui = SwaggerUIBundle({
        url: http://someserver/openapi.json',
        configUrl: http://someserver/swaggerui-config.json',
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandal

[2019-04-23 12:19] Xnyle commented on #5321
MB, file is actually processed, only the option "filter" does not seem to do anything.

[2019-04-23 12:19] #5321 closed

[2019-04-23 14:43] sinsharat commented on #5306
@leggsimon sorry for the late reply. Yes in a way i would want to support multiple POST requests for a single url distinguished by different params/headers to over come the blocking of PUT and DELETE request.
I don't think this is currently supported.

[2019-04-23 15:09] dtolb commented on #2651
@nicou50 there is an open PR #4092 that has multiple examples. I've started pulling it down instead of master and DIY until accepted.

I think the only reason it's still open is some style preferences.

[2019-04-23 15:13] ShradhaFielddata opened #5322 "swagger UI for Spring Boot API : How to add “audience” in request body for authorising “client credentials” flow"
I have generated swagger UI documentation from my spring boot API, the API is secured using oauth2 client credentials grant from auth0.

The problem is that:
In the swagger configuration, I am unable to set the "audience" request body parameter while authorisation.
Thus, swagger ui is not authenticating the API.

I am following this documentation:
https://www.baeldung.com/swagger-2-documentation-f

[2019-04-23 17:10] nab0310 opened #5323 "Required Headers Param hangs in Execute"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 73.0
 - Method of installation: web
 - Swagger-UI version: latest
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
This is a bug I found when using the https://editor.swagger.io/ site.

Example Swagger/OpenAPI definition:
I used the Petstore example and added a required header in the

[2019-04-23 17:20] hkosova commented on #5323
In the header parameter, replace
[code]
with
[code]

In OpenAPI 2.0, non-body parameters use `type` directly without `schema`.

[2019-04-23 21:07] Marc3001 commented on #5119
We also reverted to react 15 and all is working fine ;)
Thx @jennifergarcia

[2019-04-23 21:55] shockey commented on #5119
Hi @Marc3001 @jennifergarcia - we recently created [`swagger-ui-react`](https://www.npmjs.com/package/swagger-ui-react), which declares React as a peer dependency instead of a conventional dependency. If you use it in place of `swagger-ui`, you should be able to embed Swagger UI in your React projects even if your project is on 16!

[2019-04-23 22:25] shockey commented on #5281
@bertzor no, we don't support that because it's not a valid UUID.

[RFC 4122 § 3](https://tools.ietf.org/html/rfc4122#section-3) defines the syntax for UUIDs (aka GUIDs):

[code]

The hyphens are not optional in the standard. If you're using non-standard UUIDs that don't have hyphens, you should not be using `"format": "uuid"` 😄

[2019-04-23 22:25] #5281 closed

[2019-04-23 22:32] shockey commented on #5282
Looks like a bug!

[2019-04-23 22:41] shockey commented on #5283
Thanks for the report @udiValer - the `Clear` button is indeed confusing (what exactly is it going to clear?).

No promises, but we might address this as part of a larger change in the near future.

[2019-04-23 23:00] shockey commented on #5284
@ruwiniwj, I'm not able to reproduce this.

Here's your definition loaded into the latest version (v3.22.1) of Swagger UI: http://petstore.swagger.io/?url=https://gist.githubusercontent.com/shockey/59c8d8637fc098b20e59f039ac1a56d5/raw/f2259915ba3d9a29ff28e089376659efbdb2afef/5284.yaml#/default/post_file

I tried executing the operation, and I got this cURL command:

[code]

[2019-04-23 23:02] shockey commented on #5285
Closing this - not clear how/if this is related to Swagger UI.

[2019-04-23 23:02] #5285 closed

[2019-04-24 03:07] artemananiev opened #5325 "Cannot reference YAML files, treated as JSONs"
Environment:

 - MacOSX
 - Chrome, Firefox
 - swagger-ui version: 3.22.1
 - installation: dist
 - OAS version: 3.0.2

Problem description:

I have a simple openapi file, which references other files using $ref. Both the main spec and the included files are in YAML format. However, it looks like the browser expects the included files to be formatted as JSONs only.

Main file:

[code]

Included file

[2019-04-24 10:51] rohitchayal opened #5326 "locahost:3001/api-docs/"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome, safari
 - Version: 22
 - Method of installation:npm
 - Swagger-UI version: 3.10.0
 - Swagger/OpenAPI version:Swagger 2.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Screenshots

### How can we help?
after starting the npm my script runs on

[2019-04-24 14:12] lonix1 opened #5327 "[Feature Request] Dark mode"
Would be nice to have a dark mode version of the UI.

[2019-04-24 15:58] beltschatsar commented on #3641
Hi,

Can we have status about this missing feature ?

- [ ] Links can't be used to stage another operation

So that an api call output can serve as input for another call (as explained there: https://swagger.io/docs/specification/links/)

Thanks!

[2019-04-24 17:30] jennifergarcia commented on #5119
Thanks @shockey, I initially tried to use the react version but I ran into limitations on the ability to use all the plugins and customizations that the other version allows.

[2019-04-25 09:10] euroform-pa commented on #4650
@shockey We're facing issue with **XML sample generation** in case of collection is part of response object. Kindly let us know about ETA on a fix.

[2019-04-25 10:54] euroform-pa commented on #4423
@shockey We're facing issue with XML sample generation in case of collection is part of response object. Kindly let us know about ETA on a fix.

[2019-04-25 22:41] artemananiev opened #5328 "Array item type is displayed incorrectly"
Environment:

 - OS: Mac OS X
 - Browser: Firefox
 - Method of installation: dist
 - Swagger-UI version: 3.22.1
 - Swagger/OpenAPI version: 3.0.2

Spec fragment:

[code]

So there are two schemas, registryItem and registryItemList. The latter is an array of the former. However, in UI registryItemList is shown as an array of registryItemList - see the screenshot:

![registryItemList](https://user-i

[2019-04-26 08:01] ganesh-sahastrabuddhe opened #5329 "Swagger 3.x with ASP.NET Web API 2"
jQuery 1.8 which is used in Swagger 2 has security issues. Swashbuckle 5.6.0 is using jQuery 1.8.

![Swagger-Jquery-Version-Issue](https://user-images.githubusercontent.com/32063551/56792466-46a8ed80-6827-11e9-85ed-302124fe8c52.png)

How to use Swagger 3.X in ASP.NET Web API 2 or how to update jQuery version used in Swagger?

[2019-04-26 08:16] canmor opened #5330 "Markdown not rendered in Safari"
### Q&A (please complete the following information)
 - OS: [macOS]
 - Browser: [safari]
 - Version: [12.0.3 (14606.4.5)]
 - Method of installation: [docker]
 - Swagger-UI version: [latest, v3.22.1]
 - Swagger/OpenAPI version: [OpenAPI 3.0.1]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Following is my docker-compose.yml to run:
[code]

Then run docker-compose:
[code]

[2019-04-27 14:21] icodesoft opened #5332 "How can I filter through API path instead of through tag"
1. How can I filter through API path instead of through tag?
2. I set the default value of docExpandsion to 'none', so how can I expand all the tags at once

please can you help me?
Thanks,
Gary

[2019-04-29 11:13] wol190 commented on #3803
@jemerald Many thanks for your response. My conclusion was based on pasting the schema (below) into https://www.jsonschemavalidator.net/ (e.g. Selected Schema: Schema Draft v7):
[code]
Then providing the following json to test against the schema (Input JSON in https://www.jsonschemavalidator.net/):
[code]
gives the following error: JSON is valid against more than one schema from 'oneOf'. Valid sch

[2019-04-29 23:42] artemananiev commented on #5325
When the web page is opened in Firefox, it shows the following error in Web Developer panel:

<img width="504" alt="Screen Shot 2019-04-29 at 4 40 59 PM" src="https://user-images.githubusercontent.com/33361937/56933665-ba543000-6a9d-11e9-85cb-ad3dd287b178.png">

So it clearly tries to parse YAML as strict JSON.

[2019-04-29 23:46] artemananiev commented on #5325
Surprisingly, it works fine locally with YAML files in VS Code, with the OpenAPI Preview 1.2.0 extension (which claims it's based on swagger-ui). It may indicate issues with Content-Type...

[2019-04-30 00:19] artemananiev commented on #5325
OK, I seem to have found a workaround. If the included YAML files are fetched from the server as "Content-Type: application/json" (response header), swagger-ui is broken. However, if the response header is changed to "Content-Type: application/yaml", it all magically works. It explains why it works locally, when everything is loaded from the file system, as content types are not applicable in this

[2019-04-30 06:32] euroform-pa commented on #4423
Added the demo project to reproduce the issue with Swashbuckle for Xml sample generation issue. [Demo project](https://github.com/euroform-pa/SwashbuckleIssueDemo)
Kindly suggest the solution to view correct Xml sample generation.

[2019-04-30 06:37] euroform-pa commented on #4650
Added the demo project to reproduce the issue with Swashbuckle for Xml sample generation issue. [Demo project](https://github.com/euroform-pa/SwashbuckleIssueDemo)
Kindly suggest the solution to view correct Xml sample generation.

[2019-04-30 09:48] wol190 commented on #3803
@jemerald The use of examples with respect to ReDoc is an excellent suggestion - I really like the resulting rendering. Thank you for the pointer.

With regards to the example, that's based on examples provided within the 3GPP mobile telephony specifications (e.g. clause 5.3.14 of 3GPP TS 29.501) - hopefully therefore providing some motivation for tooling.

[2019-04-30 19:15] #5323 closed

[2019-05-01 09:05] intenzive commented on #5032
For everyone still having problems here like me and @mariuszkerl, changing the [route name](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.2#route-name) of one of the methods with same name will solve the issue.

[2019-05-01 16:37] webron commented on #2651
Everyone, some good news on this ticket (at last!). We've been working on a solution for multiple examples over the last couple of weeks, and are in the final stages of reviewing the changes, making sure they will work well with the try it out functionality and provide all the needed functionality.

There's a tiny gotcha - we're also working on a facelift for the existing UI, taking in a lot of th

[2019-05-01 20:06] supergibbs commented on #4390
Seems possible when hosted:
https://app.swaggerhub.com/help/organizations/docs-branding?_ga=2.171574944.166340862.1556735019-2059045804.1556735019

[2019-05-02 05:24] Yasgur99 commented on #2031
This is still an issue in 2.9.2

I have multiple GET methods on the same path that take different params but only one method shows in swagger ui, but is there in the api docs

[2019-05-02 05:55] shockey commented on #2031
@Yasgur99 FYI, we're no longer working on or supporting the 2.x series of the UI.

[2019-05-02 05:57] Yasgur99 commented on #2031
@shockey, is there a 3.x version i can take advantage of?

[2019-05-02 13:06] hack2root commented on #4600
probably it is better to take a blob

[2019-05-02 14:31] adaamz commented on #5273
@shockey Hi, thanks for response.
Please can you tell me where can I get Swagger UI version 3?
I use these commands to build swagger ui:
`
docker run -d --rm --name "${DOCKER_CONTAINER_NAME}" -p 63999:8080 -e "SWAGGER_JSON=/${API_YAML_NAME}" -e "VALIDATOR_URL=null" -v "${SOURCE_API_FILE}":"/${API_YAML_NAME}" swaggerapi/swagger-ui

wget -E -k -p -nH -q -P "${DIST_FOLDER}/swagger-ui/" http://127.0.0

[2019-05-02 18:10] Cirrha opened #5339 "Display Request Headers for OpenAPI 3.0"
Are there any plans on implementing to display request headers in the current UI? I see that the last response to issue #1501 was a few years ago and I haven't seen any that specify the new UI lately.

[2019-05-03 23:08] philrz opened #5342 "Support for application/x-ndjson"
### Content & configuration

Swagger/OpenAPI definition:
[code]

I've made no changes to the default Swagger-UI configuration. I'm just using the dist of v3.22.1 out-of-the-box.

### Is your feature request related to a problem?

I've been trying to document an application that returns `content-type: application/x-ndjson`. The format is spec'ed [here](https://github.com/ndjson/ndjson-spec). An exa

[2019-05-03 23:35] shockey commented on #5342
Yeah, seems like our JSON test is a little too broad.

@philrz, would rendering the response as plaintext work for you?

[2019-05-04 01:26] philrz commented on #5342
@shockey: Yes, plaintext would work for me. Thanks!

[2019-05-05 20:41] mikedilger commented on #5055
Not to hijack, but I'm experiencing a very similar issue with query parameters under Firefox (67.0b14) which render as "😱 Could not render this component, see the console."

The console says
[code]

If this is a different issue, let me know and I'll open it separately.

I have a number of security/privacy tweaks to my firefox, and one of them could well be causing this. I haven't tried with a clea

[2019-05-05 21:07] mikedilger commented on #5055
After disabling all of my plugins the problem went away. After re-enabling the plugins, the problem didn't come back. Weird.

[2019-05-06 07:39] milanlatinovic commented on #5303
Hi everyone,
@leggsimon @propi

Just wanted to quickly check the state of this issue? Was there any idea on how and when this would be resolved? Did this make it to some refined backlog or maybe even sprint plan? :)

Quick note, this issue has also appeared in https://github.com/swagger-api/swagger-ui/issues/5314

Let me know if I can provide any further info to make resolving of this issue easier

[2019-05-06 15:05] propi commented on #5303
I would vote for adding a checkbox to all optional parameters within the Swagger UI (it could be checked by default). But, I need to have the option to uncheck this checbox and tell Swagger UI, that I don't want to send this parameter in the HTTP request...

[2019-05-07 03:29] tnpradeep opened #5343 "Is is possible to extract out example generator from swagger ui ?"
Hello All,

I am looking for an example generator for a given open API definition.
Swagger UI generates it. Is it possible to extract out only example generator component from swagger UI and use it in our project ?

Or point me to any other open source javascript based example generators

Thank you.

[2019-05-07 08:52] milanlatinovic commented on #5303
@propi agreed, checkbox to turn on / turn off empty parameters (like Postman interface does) would be a quick and good solution.

But in any case, I think this should be handled as soon as possible, because at this point (at least for my company) Swagger UI is not useful, because our API execution does not work.

Meanwhile: @leggsimon if you know some kind of simple/dirty patch to completely turn

[2019-05-07 18:51] tesfayea commented on #5329
I am in the same boat. It would be great if there was an update the uses a newer version of jquery

[2019-05-08 05:34] shockey commented on #5308
@smhigley, I previously mentioned an existing example of Portal usage in Swagger Editor - I managed to dig it up, but it never made it to `master`, we ended up using a static location further up the tree + Redux state to toggle the modal instead.

In light of that, feel free to introduce whatever pattern makes sense, but let's try to stay inside of the UI's container unless there's absolutely no o

[2019-05-08 10:07] Adeynack commented on #3445
I still have the same problem, observed in SwaggerDoc.
I changed some properties to `readOnly: true`. They disappeared from the `POST` example, but they still show up in the `PATCH` one. Since `PATCH` is a _write_ verb, I expect them not to show up in the example.

[2019-05-09 05:27] jacobjmarks commented on #4672
Encountered the same issue here. My model - which used `allOf` within a property of type `array` - was not being rendered when referenced in a Response in the same (correct) way it was being rendered as a standalone Schema.

Issues were resolved when I moved my `component` definition *below* my `paths` definition within my `openapi: 3.0.0` JSON spec; as mentioned above by @tahoward (Thanks!).

[2019-05-09 11:34] arjuntippu commented on #1504
Nope

[2019-05-09 13:35] vaibhavn opened #5344 "Browser hangs/runs out of memory for large request/response model schema"
### Q&A (please complete the following information)
 - OS: Windows10
 - Browser: Firefox
 - Version: 66
 - Method of installation: dist assets
 - Swagger-UI version: 3.10
 - Swagger/OpenAPI version: Swagger 2.0

### Screenshots
![OpenAPI_OutOfMemory](https://user-images.githubusercontent.com/3889855/57353618-b358ac00-7186-11e9-9980-ac635ffd9f9e.jpg)

### How can we help?
I am working on Enterprise

[2019-05-09 18:01] JimmyKuruvilla commented on #5326
hi @rohitchayal
this is a pretty broad question and I am just a passing stranger - you may have better luck asking on stack overflow for a more specific question.

I think you will need:
1. ec2 instance running a webserver like nginx.
2. check the swagger readme for how to build the project -- `npm run probablyBuildOrSomething` -- this should dump all the assets needed to serve the site (@index.ht

[2019-05-10 11:44] patricknolan commented on #4702
Same issue here. Any resolution for this one? This should be a high priority issue if oAuth2 fails when using IE.

[2019-05-10 14:36] Willing-Xyz opened #5345 "response integer type not shown on swagger-ui ( openapi 3.0.1)"
if type is integer/number, response is not shown.

![image](https://user-images.githubusercontent.com/12200332/57534941-bc5aa080-7373-11e9-9caa-11aa190e6eb4.png)

but if type if string, response is shown.

![image](https://user-images.githubusercontent.com/12200332/57535022-eb711200-7373-11e9-843b-938e22ecb03c.png)

here is code:

[code]

[2019-05-10 16:29] mrcunninghamz commented on #4690
bump. any updates on this?

[2019-05-11 14:29] leggsimon commented on #5303
Sorry @milanlatinovic I’ve been on holiday which was why I haven’t got back to this.

I don’t know personally. I don’t make any particular decisions about the project at the moment or have insight as to where it’s going. Having said that I also don’t know of any reasons why a PR would be rejected to add this feature (that’s not to say others might not have opposing views).

Unfortunately I don’t.

[2019-05-11 15:40] leggsimon commented on #5343
I’m not sure I understand this. What exactly are you wanting to generate?

[2019-05-11 15:51] leggsimon commented on #5339
What do you mean by this? Do you mean displaying what request headers should be sent with a request to a certain endpoint? If so then you can define them as parameters and then they will display for the route as parameters.

Given this path definition:
[code]

Will render this UI:
<img width="902" alt="Screen Shot 2019-05-11 at 16 48 08" src="https://user-images.githubusercontent.com/11544418/5757

[2019-05-12 11:32] milanlatinovic commented on #5303
Hi @leggsimon, not a problem at all. I hope your holiday was good. :)

Yup, same should apply in my opinion as well.

Yup, we can close this one and focus on finding and delivering a solution within this thread.

Thanks, I will be free to check in on a status of this issue from time to time. Meanwhile, let me know if there is anything that I can do or help from my side.

[2019-05-12 17:07] ruhkopf commented on #4778
Adding `showMutatedRequest: false` to the config seems to work for me. Without this option I'm seeing the same issue with the curl output.

[2019-05-13 10:32] leggsimon commented on #5303
So I had a little look at this over the weekend and although I’m not completely familiar with the project it seems like quite a complicated implementation. I’m not sure if I’m going to have much time soon to get to a real fix (although I’ve written some failing e2e tests to cover the implementation which I’ll try and push up). I’m just going to write what I’ve found so far in case some else has a

[2019-05-13 10:53] yami12376 opened #5346 "Swagger-ui not working with complex objects"
When the object has another cutom object i get an error from swaggerUi:

Swagger version is 2.9.2 (https://mvnrepository.com/artifact/io.springfox/springfox-swagger2/2.9.2, https://mvnrepository.com/artifact/io.springfox/springfox-swagger-ui/2.9.2), java 11.

If i change object type of `sender` field to `String` it works fine, but i want it to work with custom object.

[code]

[2019-05-13 12:58] milanlatinovic commented on #5303
True, I agree, 2nd approach would be more semantically correct.

allowEmptyValue and current checkboxes implementation is not useful because it is not covering requestBody properly.

@leggsimon thank you once more for looking into this and documenting your findings.

[2019-05-13 13:03] wojciech-soltys opened #5347 "Possibility to change default Parameter & Response content type to application/json"
### Content & configuration
https://github.com/springfox/springfox/issues/2562 - more detailed description of issue

### Describe the solution you'd like
I would like to have possibility to change default Parameter & Response content type to application/json or any other than application/xml.

[2019-05-13 13:48] yami12376 commented on #5346
I've changed depedencies:

`		<dependency>
			<groupId>io.springfox</groupId>
			<artifactId>springfox-swagger2</artifactId>
			<version>${swagger.version}</version>
			<exclusions>
				<exclusion>
					<artifactId>swagger-annotations</artifactId>
					<groupId>io.swagger</groupId>
				</exclusion>
				<exclusion>
					<artifactId>swagger-models</artifactId>
					<groupId>io.swagger</groupId>

[2019-05-13 14:51] poveilleux opened #5348 "Support OAuth 2.0 Authorization Code flow with PKCE"
### Is your feature request related to a problem?
In the light of the new IETF related to [OAuth 2.0 for Browser-Based Apps](https://tools.ietf.org/html/draft-parecki-oauth-browser-based-apps-02#page-3) (see 4. Overview), an application running in a browser and using the Authorization Code flow should be using PKCE ([Proof Key for Code Exchange](https://tools.ietf.org/html/rfc7636)) for increased

[2019-05-13 14:55] cmactian commented on #2031
Is this fixed in 3.x version?

[2019-05-13 14:59] poveilleux commented on #5348
My bad...

[2019-05-13 15:08] omarlouriki93 opened #5349 "filtering with multiple values not working"
Hello,

I'm currently using Swagger with Django to test my data but the filter doesn't seem to work.
Indeed, i want to filter by the field 'number' which is an int and i'm using  the parameter 'in'.

It seems like swagger doesn't recognize comma separators because it works with one value like 1 or 1.2 but not with 1,2 or 1,2,3.

![1](https://user-images.githubusercontent.com/16103101/57630697-6158

[2019-05-13 15:40] lvjianjunljj commented on #3227
I have another error in this problem. Now I'm updating my securityDefinitions part in swagger like this:
![image](https://user-images.githubusercontent.com/29011275/57634393-cc72ba00-75d7-11e9-83e4-aaa28c1943ed.png)
I want to get the token from the url: https://login.microsoftonline.com/XXXXXXXXXXXXXX/oauth2/token by the post request with client_id and client_secret like this: ![image](https://use

[2019-05-14 18:37] brpeterman opened #5351 "Operations do not have access to `props.operation.op` and showExtensions does not work"
### Q&A (please complete the following information)
 - OS: macOS 10.12.6
 - Browser: Firefox
 - Version: 60.6.3
 - Method of installation: npm
 - Swagger-UI version: 3.22.1
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

[code]

Example Swagger/OpenAPI definition:

https://petstore.swagger.io/v2/swagger.json

Swagger-UI configuration options:
[code]

### Describe the bug yo

[2019-05-14 21:39] poveilleux commented on #5348
I have created a branch locally where I have made the changes. How can I submit my solution to you?

[2019-05-15 12:33] Cirrha commented on #5339
Ah no, I mean in the response section, the request headers do not display anymore.
Here is an old version with the request headers displaying

![swagger2 0](https://user-images.githubusercontent.com/15258547/57775904-beaa5b00-76e3-11e9-9e08-03b6522b7cf0.png)

Is there a way to configure this to display on the current UI?

[2019-05-15 13:06] tgtshanika commented on #5284
Hi @shockey,

We have upgraded the swagger-ui version to 3.22.2, but still, the issue is there. In our application, we are using javascript library to populate the swagger UI and following is the code segment we have used to embed the swagger UI within our application.

[code]

[2019-05-16 02:57] webron commented on #2651
Another update! We're _very very_ close to finalizing the design for it, and hope it'll be worth the wait.
Unless we hit any major bumps we hope to share with you the design next week.

Reminder - the designs you are going to see are going to be based on a facelift we're working on for Swagger UI. It will be a lot of change to take in. When commenting, please try to focus on the multiple example f

[2019-05-16 03:05] webron commented on #3803
<Similar update to https://github.com/swagger-api/swagger-ui/issues/2651#issuecomment-488335500 for those of you who follow both tickets>

Everyone, some good news on this ticket (at last!). We've been working on a solution for oneOf rendering over the last couple of weeks, and are in the final stages of reviewing the changes, making sure they will work well with the try it out functionality and p

[2019-05-16 08:37] lvjianjunljj opened #5353 "Auth error: Failed to fetch"
I have another error in this problem. Now I'm updating my securityDefinitions part in swagger like this:
![image](https://user-images.githubusercontent.com/29011275/57634393-cc72ba00-75d7-11e9-83e4-aaa28c1943ed.png)
I want to get the token from the url: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token by the post request with client_id and client_secret like this

[2019-05-16 09:29] nickeljew opened #5354 "pass tagObj to tagsSorter instead of only tag name"
For enhancement of tagsSorter customization support, it's better to pass tagObj (if defined) to tagsSorter function. It's useless if only tag names are provided to tagsSorter function.

In line 254 core/plugins/spec/selectors.js :
[code]

[2019-05-16 09:57] sro70 commented on #5311
Same here.
![2019-05-16 11_54_57-Swagger UI](https://user-images.githubusercontent.com/5538171/57845080-8c772700-77d1-11e9-8e22-10bd2a17b256.png)

[2019-05-16 17:03] shockey opened #5355 "Show a helpful message by default (instead of the Petstore)"
### Content & configuration

An unconfigured Swagger UI instance, i.e.:
[code]

### Is your feature request related to a problem?

As a user trying to get started with Swagger UI, it's quite possible to hit a point where I get Swagger UI working but haven't successfully pointed it at my definition.

Consequentially, I'm going to see the Petstore served by default, which is a nice demo but **doesn'

[2019-05-16 17:21] shockey commented on #5172
#5316 _might_ solve this, cc @leggsimon

[2019-05-16 17:46] brianpilati commented on #3330
Any updates on this issue. How has this gone unnoticed for so long?

[2019-05-16 20:53] webron commented on #2995
Revisiting this, we feel the behavior should remain as-is. The current behavior will alert consumers that something may be wrong with the definition and should encourage maintainers to fix their definitions.

[2019-05-16 20:53] #2995 closed

[2019-05-16 21:00] mikefidel commented on #3803
That is good news indeed!

[2019-05-16 21:10] GregoryPellegrin commented on #3803
Can't wait tout see this 🤗🤗

[2019-05-16 21:56] webron commented on #2651
And here it is, the upcoming design.  The file is rather large, so don't forget to click on it to see the full version.

You'll notice many changes that are part of the overall facelift we're working on as well. For now, we'll back port the multiple examples support into the current design. You're pretty much getting a sneak peek into what's coming. For feedback, please try to focus on the actual

[2019-05-16 22:21] keith-bennett-gbg commented on #2651
That looks pretty cool! Would the drop-down menu respond to scroll wheel events and/or up/down arrow key events? I navigate websites a bunch using keyboard and it would be handy to be able to tabstop into the drop-down menu's focus and use arrow keys or scroll wheel to quickly compare examples.

[2019-05-17 01:10] alejandrofloresm opened #5356 "Encoding attribute is not respected on the request"
### Q&A
 - OS: macOS
 - Browser: chrome
 - Version: 74
 - Method of installation: composer
 - Swagger-UI version: 3.10.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

### To reproduce...

Steps to reproduce the behavior:
1. Fill the blanks for the /api/v1/profile request
2. Make the request

[2019-05-17 01:48] diogobaeder commented on #4955
Hey @bettyleung ,

I faced this issue today, but found out the problem and how to overcome it, so I thought it could be helpful for you too.

The thing is, Swagger UI tries to parse the file content to display in its own UI if you serve the file with the default headers or with forcing "Content-Disposition: inline". However, if you define that header to "Content-Disposition: attachment", Swagger U

[2019-05-17 08:46] Grafu opened #5357 "How do I get current selected server value from a plugin?"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 74
 - Method of installation: npm
 - Swagger-UI version: 3.10.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/11540828/57915069-a6c80800-7898-11e9-9d03-10a66aff9aeb.png)

### How can we help?
I am re

[2019-05-17 12:13] euroform-pa commented on #4423
Any update on this?

[2019-05-17 12:13] euroform-pa commented on #4650
Any update on this?

[2019-05-17 18:17] brpeterman commented on #5357
While the AuthorizationPopup component itself doesn't know anything about the servers, you can definitely get the selected server from the DOM:

[code]

[2019-05-18 00:32] philrz opened #5359 "Newlines not present in sample curl of posted text/plain data"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 73.0.3683.103
 - Method of installation: dist assets
 - Swagger-UI version: 3.22.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options: Using defaults

### Describe the bug you're encountering

The example stri

[2019-05-18 02:35] fuzzzerd commented on #5348
If you cloned their repository and made a local branch, I think you'll have to fork it through github and then merge your original branch to that new fork. Then submit a pull request.

[2019-05-18 17:40] poveilleux commented on #5348
@fuzzzerd Thank you for the tip. This is my first ever pull request on a public repository on GitHub, so I did not know that's how it works. I will do that to submit my pull request.

[2019-05-19 10:28] sm2017 commented on #5304
I have same issue

[2019-05-19 10:37] sm2017 opened #5360 "Query string bracket array"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: chrome
 - Version: Version 74.0.3729.157 (Official Build) (64-bit)
 - Method of installation: dist assets
 - Swagger-UI version: 3.22.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're e

[2019-05-19 18:07] ponessa opened #5362 "Problem to install @kyleshockey/js-yaml dependence"
### Q&A (please complete the following information)
 - OS: macOS Mojava v10.14.4
 - Browser: Chrome and Firefox
 - Version: Chrome 74.0.3729.157 or Firefox 60.6.3ers
 - Method of installation: npm
 - Swagger-UI version: latest
 - Swagger/OpenAPI version: Swagger 2.0

### Describe the bug you're encountering
Hello,  I am trying to install the IBM APIConnect product which includes @kyleshockey/js-ya

[2019-05-19 18:53] ppazos commented on #3803
Instead of just a rendering problem, I'm getting an error on the format:

[code]
Error:
schema should not have additional properties
additionalProperty: oneOf

That seems related to this issue.

[2019-05-20 03:12] jemerald commented on #3803
@ppazos

judging from the fact you are referencing `#/definitions/` instead of `#/components/schemas/`, you are using Swagger 2.0 instead of OpenAPI 3.0.

`oneOf` is only available with OpenAPI 3.0, so you'll need to migrate your schema to the new version.

[2019-05-20 05:25] ppazos commented on #3803
@jemerald thanks, is there a guide for the migration? I'm using the online editor.

[2019-05-20 09:50] carrisx opened #5363 "Generate a link for each operation that has a GET method to open a new browser window/tab with this GET request"
### Q&A (please complete the following information)
 - Method of installation: dist assets
 - Swagger-UI version: 3.22.1
 - Swagger/OpenAPI version: OpenAPI 3.0

### How can we help?
Did anybody implement a plugin already to generate a link/anchor for each operation that has a GET method in the "try it out" part of the UI ...to open a new browser window/tab with this GET request and its set parame

[2019-05-20 11:15] #5357 closed

[2019-05-20 12:06] Grafu commented on #5119
Any plans to solve this issue with React 16 ?

[2019-05-20 17:20] ppazos commented on #3803
@jemerald sorry, I'm using the hub, not the editor. In the editor found an edit function to do the conversion. That function doesn't seem available on the Hub editor, at least I can't find it.

[2019-05-20 20:31] webron commented on #3803
@ppazos - https://app.swaggerhub.com/help/openapi-3-support look under the header `Convert OpenAPI 2.0 APIs to OpenAPI 3.0`.

[2019-05-21 01:25] shockey commented on #5362
@ponessa what npm version are you using? are you using a private registry? are you behind a firewall?

[2019-05-21 01:27] shockey commented on #5362
FWIW, this works on my system, with npm 6:

[code]

[2019-05-21 02:39] ponessa commented on #5362
Thanks.  I fully understand .. seems to work for a bunch of people but me.
[code]
I have also tried with my VPN both off and on to see if it was something my company was blocking.  I believe it has something to do with scoped packages, not the @kyleshockey@js-yaml package specifically.

[2019-05-21 03:18] #5353 closed

[2019-05-21 07:22] vinhlh commented on #4442
@shockey do you guys have any plan to support this?
Or is there any chance that we can help/ contribute.

[2019-05-21 14:42] dentych commented on #3517
What is going on with this issue? It has been lying here for over a year now, opened two years ago.

[This page](https://swagger.io/docs/specification/authentication/openid-connect-discovery/) about OAS3 links to this issue as a tracker of when OpenID Connect will be working in Swagger UI.

We tried using OAuth2, but have two problems. Nonce is not set, and we can't specify our own response_type.

[2019-05-21 17:50] jvhih opened #5366 "Swagger UI error should be more descriptive"
Based on the error from this [issue 2123](https://github.com/RicoSuter/NSwag/issues/2123).

I was using a property that wasn't marked deprecated and the error displayed on the UI and console were unable to point me in the right direction as to what was wrong.

When using IServiceCollection.AddOpenApiDocument() I was adding an IOperationProcessor that was setting a parameter that is deprecated for

[2019-05-21 19:12] shockey commented on #5366
Swagger UI generally expects a valid OpenAPI definition -- if it's invalid, the behavior is undefined, which can result in rendering errors (as you've seen). [Swagger Editor](http://github.com/swagger-api/swagger-editor/), the UI's sister project, does include a validation engine.

If you were editing your OpenAPI by hand, you'd see that this is an error in Swagger Editor:
<img width="657" alt="im

[2019-05-21 20:19] d1ndra opened #5367 "Support for configuration in `swagger-ui-react`?"
### Q&A (please complete the following information)
 - OS: All
 - Browser: All
 - Version: 3.x
 - Method of installation: npm
 - Swagger-UI version: 3.x
 - Swagger/OpenAPI version: OAS 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Screenshots

### How can we help?

Support for configuration in `swagger-ui-react`? Would l

[2019-05-21 21:58] shockey commented on #5362
@ponessa yeah, there's definitely something funky on your end... the URL that your error message mentions actually _does_ exist:
[code]

[2019-05-22 03:49] shockey commented on #4460
More thoughts:
* BEM loosely mapped as `block:component`
* one block per SCSS file

[2019-05-22 06:41] SzymonKlimuk commented on #3517
Hi, we are using the swagger UI with the keycloak. We have the fix I proposed implemented (https://github.com/swagger-api/swagger-ui/issues/3517#issuecomment-324285279) and everything (4 flows) is working fine

[2019-05-22 08:12] mehfooz-ul-haq commented on #44
well, I got it finally, I was accessing swagger docs via 127.0.0.1 but in app.js I use localhost. change 1 of them and it will work.

maybe it helps someone.

[2019-05-22 08:14] mehfooz-ul-haq commented on #1209
https://github.com/swagger-api/swagger-ui/issues/44#issuecomment-494700785

[2019-05-22 09:15] Rody-Kirwan commented on #4460
Absolutely agree. I think this is the most maintainable way of dealing with stylesheets.

You could go one step further and relocate component-specific stylesheets to the components directory, alongside it's counterpart. Obviously quite a big change in one go, but can be a relatively simple to do in increments.

Just a thought!

### Example
[code]

[2019-05-22 17:02] AlexMayants commented on #2488
I am integrating Swagger UI (`swagger-ui-react`) into our company's application and ran into the lack of internationalization support. I think, the library should at least give developers an option to provide translations for static strings which are displayed in the interface. In this case language detection may be left at the discretion of the host application.

[2019-05-23 12:10] ruanwenjun commented on #2617
@webron Hi , I can choose MultipartFile[] in the swagger UI. But  it doesn't work on the controller, I get empty in the request.
But when i use postman to send my request, it work well.
My swagger-ui version is 2.9.2 .

[2019-05-23 18:04] CesarCornea commented on #5311
Add charset="UTF-8" to your
<script src="../swagger-ui-bundle.js" charset="UTF-8"> </script>
<script src="../swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
in your html to solve this issue.

[2019-05-24 15:09] sro70 commented on #5311
Thank you very much! It works :+1:

[2019-05-24 18:22] YuJianrong opened #5373 "Change the credentials policy from 'same-origin' to 'include'"
### Is your feature request related to a problem?
The problem is:
My API and Swagger UI are hosted in different domains, and credential is required for some api. I found the credential in cookie is not sent for CORS calls.
I have enabled the CORS on the api server, the crendential is stopped by client (Swagger-UI).

### Describe the solution you'd like
Change the credential policy of the `featch`

[2019-05-25 03:40] dinz19 commented on #134
@AbhinayThakur . Yes I got it fixed :)   If you're still facing the issue with it, let me know

[2019-05-26 13:33] cn-src commented on #2488
How is the problem progressing?
You can first provide a way to extend the language pack, users can implement it themselves.

[2019-05-27 01:18] thian4 opened #5374 "try out input fields got erased"
swagger.yaml
[code]

### Describe the bug you're encountering
Can't enter the parameter input in the input fields, when I stop typing the input will clear the entered value

### Screenshots
<img src="https://i.imgur.com/rrMVi7a.gif" />

[2019-05-27 01:33] wzalazar commented on #5023
sorry, this issues was resolved??

[2019-05-27 10:00] hkosova commented on #5374
The parameter definitions are missing the [`in`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#user-content-parameterin) attribute (e.g. `in: formData` or similar). If you paste your definition into https://editor.swagger.io it will flag these syntax errors. Once you fix these errors the inputs will work fine.

[2019-05-27 13:28] lanternet commented on #5318
Hi,

I also have a similar problem,

My referenced .yaml file is properly requested.
[code]

[code]

But not parsed correctly, so I have the following error :

If I replace **object.yaml** with the following **object.json**. Everything work, no problem.

[code]
I think it's related to swagger-ui requesting the **object.yaml** file with an accept-header set at **application/json** . And it'd why wh

[2019-05-27 17:58] smartmouse commented on #5362
I cannot reproduce in my mac as well which is
<img width="562" alt="Screen Shot 2019-05-27 at 1 56 44 PM" src="https://user-images.githubusercontent.com/4519627/58433949-4a7a9a80-8087-11e9-8fdd-d7830a3cb4f4.png">

could this be specific to the mac OS? or your specific environment?
Can you delete your cache and try again?
Are you using nvm?

[2019-05-27 18:35] smartmouse commented on #5362
if you do a npm info on the scope package, can u even see it in your env?

[2019-05-27 20:41] lockenj commented on #3517
@SzymonKlimuk could you provide some more details.
I am following https://swagger.io/docs/specification/authentication/openid-connect-discovery/#swagger-ui but when my swagger-ui is rendered the "authorize" button just pops up a blank modal box.

[2019-05-28 09:23] victorgp89 opened #5375 "ENDPOINTS"
### Q&A
 - OS: ubuntu
 - Browser:chrome
 - Version: ]
 - Method of installation: npm
 - Swagger-UI version: ^3.22.1

### Content & configuration
Is posible to define some endpoints?

Swagger/OpenAPI definition:

Swagger-UI configuration options:
<pre>
//Set up routes tripadvisor
  app.use('/', tripadvisorRoute);
  app.use('/', trivagoRoute);

  // Swagger UI
  // Hack around changing URL for swagg

[2019-05-28 11:42] lesqa opened #5377 "Download button doesn't fit a response body container"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

[2019-05-28 16:56] Ripul89 commented on #3172
I am facing the same inssue in SWAGGER , I am using Spring boot with swagger
i am getting below error

{"error":"invalid_client","error_description":"Browser requests to the token endpoint must use Proof Key for Code Exchange."}

Please help

[2019-05-28 17:02] Ripul89 commented on #3172
@chanurahemal
Please help me on this

[2019-05-28 19:52] leggsimon commented on #2651
@webron This looks great!

Just slightly to add to @keith-bennett-gbg’s comment, would be good to ensure that keyboard and screen-reader accessibility is also factored in with these designs (things like ensuring the full text of the selection boxes are read out rather than being stopped at an elipsis).

[2019-05-28 21:29] BostonKevin commented on #2651
This does look good, but would anyone know if examples for enum parameters are supported with this planned feature?  Suppose you need to document a parameter that can represent 2 distinct values, say a user-key and a group-key.  This choice can be modeled in YAML with Swagger Editor easily, as shown here:

[code]
For the parameter special_key, the UI will present a drop-down menu that lets you sel

[2019-05-29 02:47] eldyvoon opened #5378 "should not have property of 'content'"
This is my yaml, I tried inline responses

[code]

But I got error put 'content' in https://editor.swagger.io

The strange thing is the response data I copied exactly from here
https://swagger.io/docs/specification/2-0/describing-request-body

[2019-05-29 12:18] hkosova commented on #5378
The issue is the `content` keyword in the response definition - it's an OpenAPI 3.0 keyword and is not supported in OpenAPI 2.0.

Change the response definition to:
[code]
and also add `produces` to the operation:
[code]

[2019-05-29 12:52] mdzeko commented on #5032
It appears that having different route name for two controllers with same HTTP methods also leads to this behavior. @intenzive or @mariuszkerl - confirm?

[2019-05-29 13:20] bwl21 commented on #44
As far as I understand, Swagger editor should send the POST requests after evaluating the response of the OPTIONS request.

But it seems not to do so.

I try to develop a Slim based server - i.e. to use the swagger-generate produced slim server.

I have added php code from https://github.com/swagger-api/swagger-ui/issues/1209#issuecomment-333789474 to send proper response to the OPTIONS request.

[2019-05-29 13:22] bwl21 commented on #1209
As far as I understand, Swagger editor should send the POST requests after evaluating the response of the OPTIONS request.

But it seems not to do so.

I try to develop a Slim based server - i.e. to use the swagger-generate produced slim server.

I have added php code from https://github.com/swagger-api/swagger-ui/issues/1209#issuecomment-333789474 to send proper response to the OPTIONS request.

[2019-05-30 08:35] tmkasun commented on #2793
I'm too doing the same things as @HaleyWang , Because I want to change the access token value dynamically.

@shockey , How can I change the Authorization header dynamically after initializing the swagger UI ?
I tried the `ui.preauthorizeApiKey("MyJWTAuth", "Bearer <your token value here>")`  as per this comment https://github.com/swagger-api/swagger-ui/issues/2915#issuecomment-439166045 , But it d

[2019-05-30 18:09] dinvlad commented on #2793
@tmkasum and everyone else: you can use code like
[code]

[2019-05-30 23:50] theodu60 commented on #5362
Hi,
Do you have any .npmrc file ?
If you do have this file in your home folder, try to remove it.
( i use a Mac with Mojave, and this file was in: /Users/MYUSER/.npmrc )

[2019-05-31 00:54] ponessa commented on #5362
Hi,

We were finally able to resolve the issue by NOT using NVM.

To get a clean environment, I tried the installation on a docker image.  Although I received other errors, the scoped package installed.  So I got rid Need to get rid of nvm by commenting out NVM entries from .bash_profile and renaming $HOME/.npmrc to .npmrc.bak and .npm to .npm.bk.

Thereafter:
npm install -g apiconnect --no-option

[2019-05-31 10:12] tmkasun commented on #5367
I'm also looking to implement this, We had to switch to swager-ui-react distribution because of this limitation https://github.com/swagger-api/swagger-ui/issues/4745 , But then we hit with this problem where we couldn't use any plugins,

I think this https://github.com/swagger-api/swagger-ui/issues/5258 issue is also requesting the same change.

I tried to add the plugins and presets configs into

[2019-05-31 14:06] elyobo commented on #2915
Being able to prepopulate the auth is great and works fine, but there's no way (that I can see) to _get_ the auth that the user has manually put in (or to know that they have done so).

I would like to let the user put in their api key, stash that locally (cookie/localstorage/whatever) for their future convenience (using the preauth to populate it on their return), and also trigger a reload of the

[2019-06-01 06:14] Cloudmersive opened #5382 "Swagger UI does not have a way to set the network request timeout"
For API calls that take longer than the default, Swagger UI cuts these off and shows a 502 error to the user.

How can we configure the network request timeout for swagger-UI?  Unable to find documentation for this.

[2019-06-03 08:27] mandreyel opened #5383 "How to serve local file with docker"
I am following the [instructions](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/installation.md#docker) to set up a docker container with a local API docs file, with an `api.yaml` file in the local repo in the folder `$HOME/my-app`, and launching the container as follows:
[code]
However, it returns in a 404.

It's not clear what I'm doing wrong and any help would be appreciated.

[2019-06-03 10:18] thomas-lucas1985 opened #5384 "Swagger-ui-react oauth2 redirect url"
### Q&A (please complete the following information)
 - OS: [Windows 10]
 - Browser: [chrome, safari]
 - Method of installation: [npm]
 - Swagger-UI version: [swagger-ui-react 3.22.2]
 - Swagger/OpenAPI version: [Swagger 2.0]

### How can we help?
I'm aware that the current documentation states that OAuth redirection is not supported. However we are willing to implement 'Try it out' in our react ap

[2019-06-03 12:25] intenzive commented on #5032
@mdzeko, just tested and I am not able to simulate the described behavior so I am not confirming.
Changing the route name is still a workaround for the main thread.

[2019-06-03 15:59] smparekh commented on #5203
@mimmus, you can also fork the project and replace `$PORT` with `$SWAGGER_UI_PORT` in the run.sh and `SWAGGER_UI_PORT` in Dockerfile. Build and deploy to a docker repo and deploy. I have a forked branch here with the fix: https://github.com/smparekh/swagger-ui/tree/port-fix.

[2019-06-04 07:34] mimmus commented on #5203
Thank you very much.
In the meanwhile, we was able to run swagger-ui on DC/OS using Host mode

[2019-06-04 07:34] #5203 closed

[2019-06-04 11:40] Ripul89 commented on #3172
Hi All,
How to remove origin header form the request?

[2019-06-05 07:08] GerrardE commented on #3021
`I have an issue with making a successful request in swagger ui:

paths:
  /users:
    post:
      tags:
      - "user"
      summary: "Create user"
      description: "Creates a new user in the application"
      operationId: "createUser"
      consumes:
      - "multipart/form-data"
      - "application/json"
      produces:
      - "application/json"
      - "application/xml"
      parameters:

[2019-06-05 07:42] dominikzogg opened #5388 "GET request do not allow a body"
### Q&A (please complete the following information)
 - OS: linux
 - Browser: firefox
 - Version: 67
 - Method of installation: composer
 - Swagger-UI version: 3.20.7
 - Swagger/OpenAPI version:  OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

As far as i understand the http specs, sending a body is also valid in a GET

[2019-06-05 07:52] augensalat commented on #5194
May I add this sparse example?
[code]
`GET /pets/{petId}` correctly returns `#/components/schemas/Pet` with all (three) elements.
However in `GET /pets`, that just returns an array of the same `#/components/schemas/Pet`, only the `id` is shown in the array objects.

As already described, a workaround is moving `paths` before `components`, but as for @tahoward this is no option in my case.

[2019-06-05 11:13] Ripul89 opened #5389 "Swagger-UI Oauth - Origin Header"
### Content & configuration

Swagger/OpenAPI definition/SpringBoot-RestService:
[code]
?yourQueryStringConfig
I am using Spring-Boot rest service , as of now service is running fine.I have Used Swagger UI based on the above dependency, Once i click on the Authorize button token is not coming from the oAuth server.
Further i have analysed that there is one attribute in header called
origin:http://l

[2019-06-05 12:53] jbarotin opened #5390 "Dollar sign not works on copy / paste of curl command line"
### Content & configuration
I'm using swagger-ui to document an odata api

The curl command generated looks like this one :
[code]

### Is your feature request related to a problem?

A copy / copy and paste of the following command line (on Unix based OS), the url will be interpreted as `https://myservice.net/odata/v4/Items?=3`

### Describe the solution you'd like

In order to make sure the dolla

[2019-06-05 14:35] silverwind commented on #5367
First, great work on `swagger-ui-react`, it solves quite a few issues related to embedding in React :+1:

Would like to request the following properties to be made configurable:

- `validatorUrl`
- `preauthorizeBasic`
- `preauthorizeApiKey`

[2019-06-05 18:45] shockey commented on #5390
Depending on the tradeoffs, it might be better to just always use singlequotes.

[2019-06-05 21:23] h4t0n commented on #3803
Waiting for this

[2019-06-05 22:17] spemmons commented on #3558
would be great to get this going ... is there a known solution that nobody has had time to implement? ... could take a whack at it w/ guidance

[2019-06-06 05:01] nigredo-tori opened #5391 "additionalProperties not handled for a multipart request"
### Q&A (please complete the following information)
 - OS: Ubuntu
 - Browser: Chrome
 - Version: 74.0.3729.169
 - Method of installation: link to https://unpkg.com
 - Swagger-UI version: 3.22.2
 - Swagger/OpenAPI version: OpenAPI 3.0

This can also be reproduced on https://editor.swagger.io .

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options

[2019-06-06 18:15] francisco-lopez commented on #3747
Hi!! They have a solution? I 'am having the same problem

[2019-06-06 19:09] GlenBrauer opened #5392 "Multipart/FormData type for individual properties"
- OS: Windows 10
 - Browser: Chrome
 - Version: 74.0.3729.169
 - Swagger-UI version: Whatever is the latest online (swagger hub)
 - Swagger/OpenAPI version: OpenAPI 3.0.1

Example Swagger/OpenAPI definition:
[code]

I am trying to test out my OAS using the "try it" on swagger hub. I know my OAS works correctly as I have successfully executed it from a java client, however I would like to allow api

[2019-06-06 21:57] DercilioFontes commented on #3463
I created a solution that worked fine for me.

Uncommeted the `OperationFilter` with a class to empty the produces and add my Accept header parameters. And inject a JS file to remove all `"response-content-type"` divs. Code below.

Without that, the Accept header gets a `application/json` before my Accept parameter value (`"application/json; charset=utf-8; version=v3"`) be added, resulting in: `"a

[2019-06-06 22:26] #5292 closed

[2019-06-06 22:27] shockey commented on #5181
Related: https://github.com/swagger-api/swagger-ui/issues/4899

[2019-06-07 11:20] dagnelies commented on #2136
In the RFC, request bodies in GET (& co) is "undefined". In swagger/openapi, it's "forbidden".
IMHO this is overstepping what a spec tool should do by a stretch.

This is of course not harmless. Typical use cases are your elastic search queries, with for example:

[code]

...but also covers all range of queries which aren't simplistic and need a bunch of dynamic parameters.

For these, the choice

[2019-06-07 11:42] dagnelies commented on #2136
Note: apparently, it's being changed soon:

https://github.com/OAI/OpenAPI-Specification/pull/1937

[2019-06-07 13:14] dasariy commented on #4870
Hi,

I am not using any of YAML files or JSON files to render the page Swagger-ui.html. I am using standard implementation of Swagger-ui. Below are my springfox-swagger-ui versions. In my case how can i avoid sorting of parameters? Any help would be highly appreciated.

 <dependency>
            <groupId>io.springfox</groupId>
            <artifactId>springfox-swagger-ui</artifactId>
            <

[2019-06-10 10:24] arno-vanrensburg opened #5394 "Concatenated enum values in generated html2 documentation"
### Q&A (please complete the following information)
 - OS: OSX
 - Browser: chrome
 - Version: 22
 - Method of installation: Run from Swagger Editor
 - Swagger-UI version: 3.10.0
 - Swagger/OpenAPI version: Swagger 2.0, OpenAPI 3.0

### Content & configuration
File -> Import File (JSON File attached)
Edit -> Convert to OpenAPI 3
Generate Client -> html2

Swagger/OpenAPI definition:
[code]
[docs.jso

[2019-06-11 02:23] nigredo-tori commented on #5391
Actually, this is not important - it's better to use a `type: array` field anyway, since that is supported, and explicitly allowed by the spec.

[2019-06-11 02:23] #5391 closed

[2019-06-11 02:52] nigredo-tori opened #5396 "File arrays are broken for multipart forms"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.10
 - Browser: Chrome
 - Version: 74.0.3729.169
 - Method of installation: dist asset link (unpkg.com)
 - Swagger-UI version:
 - Swagger/OpenAPI version: OpenAPI 3.0.2

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering

A mul

[2019-06-11 02:58] nigredo-tori commented on #5396
Nevermind, this is a duplicate of #4600

[2019-06-11 02:58] #5396 closed

[2019-06-11 12:23] sm2017 opened #5397 "Missing client Id input"
Flow: `authorizationCode` has no client_id input in swagger ui

![image](https://user-images.githubusercontent.com/19644997/59271589-64ac9f00-8c69-11e9-98db-cde7eea77835.png)

[2019-06-11 22:40] shockey commented on #5397
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2019-06-11 22:40] #5397 closed

[2019-06-12 13:24] Kizmar commented on #5322
Running into the same type of issue here. Auth0 has specific requirements when using the `client_credentials` grant type. I was able to add some of the missing data using the `OAuthAdditionalQueryStringParams()` options method, but as @ShradhaFielddata mentioned, Auth0 requires the audience property to be in the body.

The error I'm getting when trying to authenticate is: "Non-global clients are n

[2019-06-12 16:09] mhw commented on #5318
I think this was fixed by #5334

[2019-06-12 18:54] Kizmar opened #5399 "Feature request: add `additionalFormParams` to `authConfigs`"
In [oauth2-authorize.js](https://github.com/swagger-api/swagger-ui/blob/1e184e8e218676278c83e60a45846c199ce3d15e/src/core/oauth2-authorize.js#L69) the `additionalQueryStringParams` property is used from the `authConfigs` object in order to add custom query string parameters to an authentication request.

Could we get a similar `additionalFormParams` property added that could then be passed to the

[2019-06-13 08:19] liteultom commented on #672
Had the same problem, it would appear that an enum without a "type" specified is not displayed in swagger UI. Adding the "type" to the field definition was enough for it to work.

[2019-06-13 09:53] sferencik commented on #5399
[Here](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/176#issuecomment-371277670) @karlssonsimon managed to supply `audience` in a query param, and apparently it worked. Sadly, it doesn't work for us - neither for our in-house auth endpoint, nor for an Auth0 endpoint we use. (Which is puzzling, since @karlssonsimon was also using Auth0.)

Even if the query-param trick worked, it

[2019-06-13 12:17] liteultom commented on #3558
This does not work if the schema is given through `$ref` :

**Does not work:**
[code]
with `/api/v1/conso/schemas/enums/tableNames` returning:
[code]

**Works:**
[code]

[2019-06-13 14:55] Kizmar commented on #5399
@sferencik If you review [actions.js](https://github.com/swagger-api/swagger-ui/blob/937c8f6208f3adf713b10a349a82a1b129bd0ffd/src/core/plugins/auth/actions.js), you can see what it sends based on the grant type.

If you are using the `implicit` grant type with Auth0; it's safe to add `audience` to the query string. In that case swagger-ui uses the ".../authorize" endpoint (which is the method used

[2019-06-13 20:43] sferencik commented on #5399
Ah, that explains it. We're using `client_credentials` indeed.

[2019-06-14 12:21] slst19 commented on #5306
@leggsimon @sinsharat Is there any workaround to make this work.

[2019-06-14 13:19] asholokh commented on #3407
I can reproduce this issue on swagger-ui version 3.22.0
And according to the latest code in master

[2019-06-14 13:26] asholokh opened #5400 "Execute button not working when one of the parameters is required boolean"
I'm using swagger-ui version 3.22.0, have discovered weird behaviour occurring when one of the parameters is type boolean. After loading page 'Execute' button is active, but cannot be clicked (no reaction). The solution is changing the value of boolean from/to true/false and after this 'Execute' will be able to perform some action.

### Q&A (please complete the following information)
 - OS: Window

[2019-06-14 17:04] mgabeler-lee-6rs opened #5401 "Handling of relative URLs in servers does not follow spec"
### Q&A (please complete the following information)
 - OS: Various (macOS, Linux)
 - Browser: Various, at least Chrome
 - Version: ?
 - Method of installation: npm
 - Swagger-UI version: 3.22.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
App running behind a reverse proxy that applies a path prefix to all URLs to the app (to host multiple apps on one hostname).  E.g. app s

[2019-06-14 21:04] shockey commented on #5400
@asholokh, does the boolean parameter in question have a default value set? #3407 and #4613 were specifically addressing a problem with `default` values alongside `required: true`.

This is why our issue template asks for an OpenAPI document that illustrates your use case 😉