[2017-04-05 03:14] shockey commented on #1583
Loading this spec with latest Swagger-UI (3.0.4) yields the following error:

[code]

[2017-04-05 08:13] hkosova commented on #2847
Answered your question here: http://stackoverflow.com/questions/43186417/why-does-swagger-editor-show-undefined-headers-for-an-operation-with-a-custom

P.S. This repository is for Swagger UI, not Swagger Editor. For Editor issues you should use https://github.com/swagger-api/swagger-editor.

[2017-04-05 09:11] matthieugeerebaert opened #2862 "3.0.3 Parser expectations does not match swagger editor and standalone validator - Duplicate mapping key"
Unfortunately 3.x swagger-ui throws error that are not detected by swagger editor or standalone validator..
Swagger UI 2.x ok

Will it be possible to focus on iso expectations between tools ?

Swagger file:
[swagger.zip](https://github.com/swagger-api/swagger-ui/files/895694/swagger.zip)

![2017-04-05 11_08_21-swagger ui](https://cloud.githubusercontent.com/assets/3653040/24698304/6d4ddf68-19f0-11

[2017-04-05 10:13] EvgenyOrekhov commented on #2456
@bodnia It works, thanks!

[2017-04-05 10:14] misi commented on #2838
Thanks for your answer!

In my understanding Application flow client_credentials is about Machine2Machine
https://oauth2.thephpleague.com/authorization-server/client-credentials-grant/

I feel it is important to have it.
The client_id and client_secret and scope need to be POST-ed to access_token AS url.

I definitely want to work on it.

Could you help little bit and point me to any example code

[2017-04-05 10:37] misi commented on #2838
I am wondering if sending out POST in a XMLHTTPREQUEST could fit?
like it is in the example:
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Sending_forms_through_JavaScript
So getting back in body the Access Token in case auth worked successfully.

[2017-04-05 13:48] bodnia commented on #2837
@B-Prod for oauth2 authorization `scopes` field is required please see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-15

Also oauth2 works only with running server as there must be a page where to redirect after authorized and defined `oauth2RedirectUrl` in constructor:
[code]
In the example above I added redirect page for dev server, it can be found here `s

[2017-04-05 13:55] misi commented on #2838
Thx @ponelat.
I hacked using "fetch" as you proposed.
I have now the access_token value in ouath2-authorize.js
See [my changes](https://github.com/misi/swagger-ui/commit/ac8ac340aff281445cc4dacfa03cf902c4e197ea).

[2017-04-05 15:11] bodnia commented on #2838
@misi @ponelat I believe this flow is called `Client Credentials` like here http://oauthbible.com/#oauth-2-two-legged and from this he have only `password` and `implicit` implemented. The cause of this missing feature is that in [OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-15 ) specification there are only 4 flows allowed:

So in case of adding ne

[2017-04-05 15:26] webron commented on #2847
Thanks @hkosova.

[2017-04-05 15:26] #2847 closed

[2017-04-05 16:02] ponelat commented on #2838
So there is history here... see https://github.com/OAI/OpenAPI-Specification/issues/400 if you feel like reading.

### tl;dr

 OAS flow  | oAuth 2.0 grantType |
| --- | --------------------------- |
| implicit | Implicit |
| password | Resource Owner Password Credentials |
| application | Client Credentials |
| accessCode | Authorization Code |

So in short... we don't have support for `applicatio

[2017-04-05 16:12] shockey commented on #2862
Looks like your Swagger document is invalid- `definitions.ProblemDetails` appears twice. Removing the duplicate fixed the problem for me.

This error could be more helpful, though- I'm going to look into making it better.

[2017-04-05 18:31] misi commented on #2838
I updated my git fork.
I will add PR please review it.
It works for me.
Any review comment will be highly appreciated..

[2017-04-05 20:58] jaydreyer commented on #2813
Thanks for your help, @shockey ! I'll have to dig in and start playing around with this. Thanks for the detailed workflow.

[2017-04-05 21:35] risa commented on #2657
+1, thanks!

[2017-04-05 23:08] #2862 closed

[2017-04-06 00:33] shockey commented on #2849
Hi @zdila!

You can ignore the yaml-js messages- they're warnings. Feel free to open a PR over at `yaml-js` if the message bothers you 😄

The `fs` issue is a yaml-js thing as well, you can see how we handle it here: https://github.com/swagger-api/swagger-ui/blob/master/make-webpack-config.js#L107

For the layout message- you do need to provide a layout to Swagger-UI. We have an example layout [her

[2017-04-06 01:18] webron commented on #2838
To summarize things - all 4 flows that are defined in the OAuth2 spec are supported in 2.0. The only issue is the naming convention, and as @ponelat mentioned, there's a proper mapping there.

In 3.0 we support the same 4 flows, but we renamed the flows to follow the OAuth2 spec more closely and avoid confusion.

What @misi is trying to do should ultimately be supported in Swagger-UI (and JS of co

[2017-04-06 03:08] aihaiyue123 opened #2866 "SwaggerUI doesn't show model schema"
SwaggerConfig:
![image](https://cloud.githubusercontent.com/assets/24245864/24736145/ed4f15d8-1ab8-11e7-968c-1f8b83551a6a.png)
swagger-ui.html:
![image](https://cloud.githubusercontent.com/assets/24245864/24736248/6efa7b68-1ab9-11e7-8978-f5341d80f647.png)

[2017-04-06 03:17] aihaiyue123 commented on #2866
![Uploading image.png…]()

[2017-04-06 03:22] aihaiyue123 commented on #2866
If the SwaggerConfig is changed into this，it works:
@Bean
	public Docket platformApi() {
		return new Docket(DocumentationType.SWAGGER_2).apiInfo(apiInfo()).forCodeGeneration(true).select().apis(
				 RequestHandlerSelectors.any())
				//.paths(PathSelectors.regex(".*/(api|entity).*"))
				.build();
	}

[2017-04-06 04:04] webron commented on #2866
Even without seeing your spec, I can tell it's an invalid one. You can't have more than one body parameter. Please open the issue on whichever project you use to produce the spec to resolve it there.

[2017-04-06 04:04] #2866 closed

[2017-04-06 05:44] aihaiyue123 commented on #2866
Sorry,I am Using
springMvc
pringfox-swagger2 2.5.0
springfox-swagger-ui2.5.0

[2017-04-06 05:52] webron commented on #2866
Then open the ticket on Springfox.

[2017-04-06 05:53] aihaiyue123 commented on #2866
Ok,Thanks!

[2017-04-06 06:13] misi commented on #2838
@webron Many thanks for the clarifications!

I updated the PR and fixed the open issues.
It seems it doesn't have any issue according travis-ci.
I also tested it and works as expected.

Please review it...
THX!

[2017-04-06 07:31] Adzter commented on #2832
I'm using 3.x

[2017-04-06 07:58] matthieugeerebaert commented on #2862
Great ! Thank you Shockey for your quick fix, it will help our users, it will be greater with the key name but I guess it's more relative to the lib you use..

Note: Line number is not the same as visual studio code checker wich is more accurate, but that's ok :)  ( 4275 versus 4265 )
![4275](https://cloud.githubusercontent.com/assets/3653040/24742400/5f2df264-1aaa-11e7-9607-9a8850136592.png)

[2017-04-06 08:40] pinoy4 opened #2867 "Request with GET/HEAD method cannot have body"
I am opening this issue to address this problem.
It has already been reported in issue #2136 but that issue is closed.
From what I understand it has been closed by @fehguy stating:

If I am seeing the bigger picture here this statement refers to [RFC 2616, section 4.3](https://tools.ietf.org/html/rfc2616#section-4.3) which was the standard until June 2014 when it was superseded by [RFC 7230, secti

[2017-04-06 09:49] zdila commented on #2849
Thanks @shockey, it works.

I agree. I would like just to do `npm i swagger-ui` and write only minimal JS to setup swagger UI without writing any layout component.

---

The problem I have now is that if I try to call my API from swagger-ui then it uses HTTP protocol instead of HTTPS. Our definition contains `"schemes": [ "https" ]` and also URL in `SwaggerUi({ url: ...` beginds with `https://`. A

[2017-04-06 10:12] smudliyar commented on #2816
@webron @bodnia i am still getting "http" instead of "https", i have taken master branch code

curl -X GET "http://domain/v1/endpoint?access_token=adsdadads&type=1" -H  "accept: application/json" -H  "content-type: application/json"

Swagger specs
----------------------
schemes:
  - https

[2017-04-06 10:48] hansvd commented on #2816
I also still have the same problem (using the master branch).

[2017-04-06 12:52] bodnia commented on #2838
Changes merged https://github.com/swagger-api/swagger-ui/pull/2864

[2017-04-06 12:52] #2838 closed

[2017-04-06 14:01] jonathanhuet opened #2869 "Required conflict with allOf"
I have detected different interpretation of a swagger specs depending if it's interpreted by the editor or by the UI.
This occurs when using allOf and required attribute in the objects that contains the allOf

# Current result:
In Swagger UI the field is not marked as required
In Swagger Editor, the field is marked as required

# Expected result:
Same result in the 2 systems

# How to reproduce:

[2017-04-06 16:58] webron commented on #2867
@pinoy4 - we understand the pain that this may cause for some API designs, however this is not going to change. We cannot go out of bounds of what the spec allows, and it does not allow it. There are other features that people wish existed, and when they don't they can't describe their APIs using Swagger/OpenAPI. However, we will never get to the point where we cover 100% of API designs.

[2017-04-06 16:58] #2867 closed

[2017-04-06 17:04] webron commented on #2869
@jonathanhuet the difference in behavior is because you're testing using different versions of the products. If you test with master (or any 3.X version) of swagger-editor, the behavior will be the same as with swagger-ui.

Note the online editor has not been updated to 3.X yet.

[2017-04-06 17:21] ehartford commented on #2867
The spec does not forbid this.

I have confirmed this interpretation with the committee if you check the
mailing list.

On Apr 6, 2017 9:58 AM, "Ron" <notifications@github.com> wrote:

[2017-04-06 17:33] jonathanhuet commented on #2869
Thanks for the answer.

Then you  are agree that ( refering to the UI screenshot, call with path "/withoutOverwriting") the property "propertyRequired" is not marked as mandatory, even if it's marked as required in the API JSON spec?

[2017-04-06 17:36] bodnia commented on #2816
@hansvd @smudliyar I downloaded latest `master` and run dist/index.html with
[code]
Result:
<img width="1229" alt="screen shot 2017-04-06 at 8 35 19 pm" src="https://cloud.githubusercontent.com/assets/8950657/24767717/9f12f52e-1b08-11e7-83f2-d040061eef8e.png">

Please clarify how you run swaggerUI or please share your spec to look into this.

[2017-04-06 17:37] webron commented on #2867
The Swagger/OpenAPI spec forbids this.

[2017-04-06 17:38] webron commented on #2867
@ehartford regardless, if you want to point me to the post in the mailing list bringing it up, I can raise it as a concern with the OpenAPI spec.

[2017-04-06 17:41] webron commented on #2869
Yup, that part is a bug.

[2017-04-06 19:02] hansvd commented on #2816
swaggerUI (latest master) runs in apache web server

example spec:
`{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "6.0.0",
        "title": "Server API"
    },
    "host": "abc.def.net:10000",
    "tags": [
        {"name": "heartbeat"}
    ],
    "schemes": ["https"],
    "paths": {
        "/heartbeat": {"get": {
            "tags": ["heartbeat"],

[2017-04-06 19:50] shockey commented on #2815
Hi everyone- I've just opened a PR that fixes this in swagger-js.

I'm anticipating having the fix for this released in JS and UI on Friday evening.

[2017-04-06 20:08] travisbrkr1234 opened #2870 ""Authorized" status not updating on oauth2 flow completion"
I am having a problem using the OAuth2 flow where the the "Authorized" status is never updated on completion of the oauth2 token grant. I am using the access_code(authorization_code) flow

My dup steps:
- Instantiate new a new ui (SwaggerUIBundle)
- Pass in my:
 - oauth2RedirectUrl
 - url
 - tokenUrl
- Run 'npm run dev'
- Click the "authorize" button
- Type in my client id and secret
- Check appli

[2017-04-06 20:44] shockey opened #2871 "Providing a layout is confusing to downstream users"
As discussed in #2849, requiring the user to either consume our `StandaloneLayout` or bring their own makes for a fairly painful user experience when consuming Swagger-UI as a module:

Proposed solution:

~~1. Eliminate the Standalone plugin
2. Rename the current `StandaloneLayout` as `DefaultLayout`, and add it to core
3. Use the `DefaultLayout` for rendering unless the user specifies another lay

[2017-04-06 20:45] shockey commented on #2849
@zdila, we're tracking the `schemes` issue here: https://github.com/swagger-api/swagger-ui/issues/2816#issuecomment-292278922

I've opened #2871 to track the possibility of moving the layout code into core.

Closing this as the original question is solved 🍻

[2017-04-06 20:45] #2849 closed

[2017-04-06 20:57] mgeorgy commented on #2816
I've just updated to Master and am still seeing the same issue.  Swagger UI is run via an Apache Web Server.  I've confirmed the schemes specified is HTTPS, yet the curl command is still HTTP resulting in an error when I "Try It Out".

[2017-04-06 21:19] webron commented on #2816
@bodnia when testing it, try hosting the spec rather than embedding it. Perhaps that's the source of the problem.

[2017-04-06 21:41] drmikecrowe commented on #2844
In swagger-3.x, does oauth2-redirect.html work properly?  For me (not sure if this is my app specifically), createForm does NOT redirect back--it returns the JSON directly.

I updated it to use JQuery POST to exchange the token (such as below):

[code]

[2017-04-06 22:23] tyrsius opened #2872 "What happened to requestInterceptor?"
did `requestInterceptor` get renamed or is it gone completely? I depend on this to handle "try it out" requests for APIs on multiple hosts.

[2017-04-06 23:45] #2798 closed

[2017-04-06 23:47] shockey commented on #2794
Thanks to everyone for helping us identify this issue!

Just merged in a change from @marcgibbons that should fix this. Please reply if there are any lingering issues!

[2017-04-06 23:47] #2794 closed

[2017-04-07 00:06] mgeorgy commented on #2816
@webron that may be the difference, as that is how I'm using the UI (hosting, albeit on the same server, the spec).

[2017-04-07 00:06] shockey commented on #2814
Hi @pgodzin!

I fixed an issue with relative paths in the index.html [thirteen days ago](https://github.com/swagger-api/swagger-ui/commit/997a31c0b504a6be34a5916bb86d3458b81a49e4). Are you still seeing issues when using the latest code on master?

You should be able to serve the whole dist folder from any path with your server and have it work.

[2017-04-07 01:17] pgodzin commented on #2814
Yes, can confirm the dist folder now works properly when all files are places on the same level in a directory structure. Thanks!

[2017-04-07 01:17] #2814 closed

[2017-04-07 03:17] pgodzin opened #2873 "Allowable values only displayed after pressing "Try it out""
I used the allowableValues property of @ApiParam to define a list of possible String values. I would like these values to be displayed without having to press "Try it out"

I suggest placing it right after the description of the field as it was in the 2.X versions:

fieldName (string): The description of the field = ['A', 'B', 'C']

[2017-04-07 03:20] pgodzin opened #2874 "Example value not pre-populated"
Previously, the @ApiParam example property value was used to pre-populate the input field. In 3.0.X, after pressing "Try it out", the input field remains blank.

[2017-04-07 03:39] webron commented on #2872
It's currently not supported in 3.X. We'll need to work on bringing it back.

[2017-04-07 03:40] webron commented on #2816
@mgeorgy if you get a chance, can you test it by embedding it into the index.html?

[2017-04-07 03:41] webron commented on #2874
From what I had tested, it works as expected. Can you share a spec for us to try out?

[2017-04-07 04:26] pgodzin commented on #2874
{"name":"version","in":"query","description":"The release date of the version of the API you want to use. Specify dates in YYYY-MM-DD format.","required":true,"type":"string","x-example":"2016-09-27"}]

![What I see](http://imgur.com/72NUgoS.png)

[2017-04-07 04:35] webron commented on #2874
@bodnia did we add support for `x-example`?

[2017-04-07 06:31] hpcergar commented on #2576
I know this issue is closed, but I'm trying to do the same to retrieve the 3.x tags via composer and in packagist you can only reach v2.2.10. Maybe there is a hook or something not finding the packagist endpoint?

Thanks for your work, by the way!

[2017-04-07 08:08] pinoy4 commented on #2867
@webron I know your goal is not to support 100% possible cases, especially since the OpenAPI spec doesn't have this goal (and I agree it should not be it's goal).
As @ehartford stated I also thought that the OpenAPI spec did not forbid this as I couldn't find it mentioned anywhere in the docs.
If you have the time to point me to it I would greatly appreciate it. Please don't see this as me not wan

[2017-04-07 08:20] pinoy4 commented on #2874
OT
@pgodzin I noticed you are stating the use of YYYY-MM-DD format in the description. I suggest you also set the `format` property to `date` as suggested in the docs:

    Common Name     type    format          Comments
    dateTime        string  date-time       As defined by date-time - RFC3339

[RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)

[2017-04-07 09:15] gkapkowski commented on #2816
After some digging I've found the culprits:
https://github.com/swagger-api/swagger-ui/blob/master/src/core/plugins/spec/selectors.js#L294
https://github.com/swagger-api/swagger-ui/blob/master/src/standalone/layout.jsx#L69

What is happening: In above line 294 if state object does not contain `scheme` value it will always return `http`. This alone does not cause the issue because there is `Schemes`

[2017-04-07 09:20] matthieugeerebaert opened #2875 "Enum are "anonymous" in the Model preview section, it shows only "Enum" - 3.x"
There are two points:
enum reference from parameter, and enum reference from another definition object

This definition was ok for swagger-ui 2.x and swagger-parser": "~3.4.1. But it is now ko with swagger-ui 3.x and online swagger editor.. :(

In swagger-ui 3.x both model and parameter are "anonymous"

[code]
[enum.swagger.json.zip](https://github.com/swagger-api/swagger-ui/files/905257/enum.swag

[2017-04-07 09:42] bodnia commented on #2816
@gkapkowski you're right, I thought fix with displaying schemes is fixed. So the issue was is that there is no schemes dropdown. I'll push the fix asap, or you can submit a pr and I'll merge

[2017-04-07 09:45] gkapkowski commented on #2816
I'll leave it to you if that's not a problem. I'm not familiar enough with the codebase to confidently do the fix.

[2017-04-07 10:41] bodnia commented on #2874
@webron we do not have support for `x-example` now

[2017-04-07 11:36] steinsag commented on #2760
Looks like a perfect example for test automation. There are many combinations of basePath, host, schemes, and trailing slashes, etc. May I kindly suggest this gets covered as the Try out feature is one of the coolest Swagger features?

[2017-04-07 12:52] bodnia commented on #2816
@gkapkowski @mgeorgy @hansvd the fix is in the latest master

[2017-04-07 15:14] liamdennehy opened #2879 "Model element titles not rendered"
Simple model elements seem to only be displaying their definitions (in my example: def2, def3), while complex elements have their names rendered (def1, def4)
[Simple model](https://www.wiemax.net/swagger-ui/?url=/Dump/an.yaml)

The relevant div sections in the rendered HTML seem to be wrapped in this block:
``
Where '###' is a number

[2017-04-07 15:18] webron commented on #2576
@hpcergar we didn't have a composer file for 3.X until this week. Today's release should end up in packagist.

[2017-04-07 15:19] liamdennehy opened #2880 "Models inconsistently validated depending on Explore url type"
When using an absolute URL for the model, a nice green "Valid" is shown at the bottom of a view.
`https://www.somehost.net/swagger-ui/?url=https://www.somehost.net/swagger/model.yaml`
Using a relative link is not so kind:
`https://www.somehost.net/swagger-ui/?url=/swagger/model.yaml`

[2017-04-07 15:23] webron commented on #2867
Version 2.0 wasn't clear about it, but for the moment, 3.0 is.

From the [Operation Object](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#operationRequestBody):

This is not a decision we can simply flip here in the project. FWIW, out of the votes, I was the only one opposed to the change, and we go with majority (as we should). This is why I've asked @ehartford fo

[2017-04-07 15:31] webron commented on #2875
As you said, there are two separate issues here.

In the models view (@bodnia) - anything that's not an object has no name, an it should (the name of the definition).

In the operation view - you can't reference types from non-body parameters. This is split into two - @shockey, we need to make sure the new validator marks this as an error (like the old one). And two (@bodnia, @shockey) - no type s

[2017-04-07 15:53] pinoy4 commented on #2867
Thank's for the link. I didn't give enough attention to that table, my bad.
Well, that's it, you told me all I needed to know. Have a good one and thank's again.

[2017-04-07 15:55] fehguy opened #2881 "passing empty body not possible"
in the new UI, you cannot pass an empty body--the UI will always replace "empty" with `{}`, even if `allowEmptyValues: true` or `required: false` are set in the spec

[2017-04-07 16:02] webron commented on #2760
Based on https://github.com/swagger-api/swagger-js/issues/1000.

@steinsag Agreed. PRs are welcome :)

[2017-04-07 16:07] webron commented on #2879
Closing as duplicate of #2875.

[2017-04-07 16:07] #2879 closed

[2017-04-07 16:09] webron commented on #2880
That makes sense. We pass the URL as you provide it to the validator. We could compute it before sending it, but tbh, that would be a low priority on the list.

Please consider submitting a PR.

[2017-04-07 19:26] MateuszKubuszok commented on #2870
I have the same error. Additionally I can see that after the Logout button appears, the OAuth2 data is broken: the authorization header is `"authorization: Bearer undefined"`.

I also have 3 other flows defined (application, implicit and password) and none of them works as well. I know that application flow is not supported and UI only display it, but implicit and password are broken for me:

 * w

[2017-04-07 21:31] STRML opened #2884 "Operation & Tag Deep-linking Support"
Shebang support is no longer present on operations in 3.x as noted in the docs. This feature was present in 2.x. I found no open issue tracking its release in 3.x so I thought it best to open one.

[2017-04-07 22:06] webron commented on #2884
https://github.com/swagger-api/swagger-ui#known-issues

[2017-04-07 22:10] STRML commented on #2884
Yes, I'm aware: see `as noted in the docs` in the OP.

[2017-04-08 04:43] shockey commented on #2815
Confirmed fixed- will be pushing the release to Git and NPM momentarily.

[2017-04-08 04:45] #2815 closed

[2017-04-08 06:56] shockey commented on #2816
Releasing this fix; closing.

Please reply if this is in error.

[2017-04-08 06:56] #2816 closed

[2017-04-08 16:53] webron commented on #2852
FYI, 3.0.5 is available in packagist now.

[2017-04-08 17:01] webron commented on #2760
All related issues should be fixed with the current master (and latest release). Please report otherwise.

[2017-04-08 17:01] #2760 closed

[2017-04-08 17:10] webron commented on #2791
Parameters should be displayed now. Please reopen otherwise.

[2017-04-08 17:10] #2791 closed

[2017-04-08 17:11] #2783 closed

[2017-04-08 17:11] webron commented on #2778
Not relevant anymore. public does not exist.

[2017-04-08 17:11] #2778 closed

[2017-04-08 17:12] #2779 closed

[2017-04-08 20:17] dzuluaga commented on #2815
Thanks @shockey. Has it been pushed to the site http://petstore.swagger.io? I've just tried it and I'm still seeing the the double slash today. I thought I saw it yesterday fixed.

[2017-04-08 20:25] shockey commented on #2815
@dzuluaga, doesn't look like it- the [test spec](https://gist.github.com/shockey/ddbbdf9c4fbd5c7a4299d0a2c36b3502) I created for this issue is creating a double slash on petstore.swagger.io, but works for me with Swagger-UI 3.0.5 locally.

@fehguy, can you advise on when the site will be updated?

[2017-04-08 20:34] webron commented on #2815
The process it not automated yet.

[2017-04-08 21:18] Bert-R commented on #2760
It is fixed: now "Try it out" works when the spec doesn't contain a host, when the spec is served from the host serving Swagger UI.

There is a remaining issue however: The curl command shows a wrong URL: without host.

[2017-04-08 22:09] webron commented on #2760
@Bert-R it you see that with the latest master, please file a new ticket. It'll take us a bit to get that fixed though, so PRs would be appreciated.

[2017-04-09 06:47] larshp commented on #2744
above pull request has been merged, and I have tested with 3.0.5, and it works

so I think the issue can be closed

[2017-04-09 07:25] larshp commented on #2782
try latest 3.0.5, also see https://github.com/swagger-api/swagger-ui/issues/2744

[2017-04-09 14:13] dark-grey commented on #2852
thank you

[2017-04-09 20:27] jiangTaoQuite opened #2885 "Access-Control-Allow-Origin"
[code]

[2017-04-09 23:13] fehguy commented on #2815
It's updated now

[2017-04-10 01:46] #2744 closed

[2017-04-10 01:47] webron commented on #2885
https://github.com/swagger-api/swagger-ui#cors-support

[2017-04-10 01:47] #2885 closed

[2017-04-10 01:49] shockey commented on #2832
As I mentioned before, `dist/index.html` is a static file, not a generated file, so making changes to it is safe and won't be destroyed by later builds.

If modifying the HTML directly doesn't suit your taste: you could write a plugin that uses [react-helmet](https://github.com/nfl/react-helmet) to manage the document `<head>`, or just do a `document.title = "My Title"`.

Alternatives to changing

[2017-04-10 05:32] Bert-R commented on #2760
It's on the 3.0.5, which is pretty much identical to the latest master.
Once our upgrade passed review and is rolled out, I'll create another ticket.

I understand the pressure on the team, but unfortunately can't make a PR for you as I'm not a front end developer. The issue isn't very urgent, as the "Try it out" functionality works. It's just a matter of misinforming and perhaps confusing the use

[2017-04-10 06:03] vvakame commented on #2778
We need a migration method from 2 to 3.
Is there a recommended way?

[2017-04-10 06:15] steinsag commented on #2760
Still not working, will file a new issue :-(

@webron I wasn't able to figure out where in the code path creation is implemented. I'm not familiar with React stuff. So if you give me some pointers, I can take a look. Are there already some tests for this functionality, which could be get extended? I only saw a test for the curl output.

[2017-04-10 06:18] steinsag opened #2887 "Try out still not working when no host is specified"
Tested with 3.0.5 distribution release from github. Still same situation as with #2760. In my swagger.json, I only have:

- basePath: /somePath
- schemes: HTTP, HTTPS

Swagger UI is served on the same host. Still, in Chrome Network Tab, I see that URLs of the form

`http:///basePath/resource`

are requested when clicking the Try Out button.

[2017-04-10 06:33] shockey commented on #2887
Can you provide me with your spec?

If it's private, feel free to email me at kyleshockey@gmail.com.

[2017-04-10 08:08] matthieugeerebaert commented on #2875
Hello,

Concerning "you can't reference types from non-body parameters", I think the problem is more relative to Open API Initiative spec. Problem for current spec with enums, wich are absolutely usable as query or path param ( string, int etc ), is that when using code generator we are facing anonymous enums, sometimes 3/4 times the same enum.. That's why we used to referenced enum definition fro

[2017-04-10 08:18] helxiong opened #2888 "The swagger-ui does not support JSON Array as RequestBody"
**i use swagger-ui/dist as a new Java Web project,
when i pass JSON array as RequestBody, it happened exception like this:**
2017-04-10 16:16:32.557 [http-bio-8080-exec-5] DEBUG org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver - Resolving exception from handler [public com.cummins.cdp.cd.api.model.response.Result com.cummins.cdp.cd.api.controller.CustomerRegi

[2017-04-10 08:24] webron commented on #2875
3.0 is already going to allow it. But 2.0 does not, and we will not support it in the UI. You can still use enums directly in the parameter definition, just not reference it.

[2017-04-10 08:25] webron commented on #2888
The java code is not really relevant. We need to see the spec you're loading into the UI.
Also, which version of swagger-ui do you use?

[2017-04-10 08:44] hkosova commented on #2875
There's a workaround to reference an enum using YAML `&anchors` as shown in https://github.com/OAI/OpenAPI-Specification/issues/300#issuecomment-77669429. Not all tools support that - it depends on the tool's YAML parser - but Swagger UI does.

[2017-04-10 09:03] helxiong commented on #2888
This is screenshot of my project structure:
![Uploading 捕获.PNG…]()

This is screenshot of swagger-ui.js and index.html:
![Uploading image.png…]()

and, what is needed?

[2017-04-10 09:05] matthieugeerebaert opened #2889 "Circular Reference generate errors"
On master

Circular reference generate errors.

Like "Node" contains a list of nodes for instance

[code]

Parameters view is also broken

Maybe relative to
Very slow loading times #1919

[2017-04-10 09:08] webron commented on #2889
Can you share a spec that reproduces it? We've tested circular reference support.

[2017-04-10 09:11] helxiong commented on #2888
**This is my Java code of Swagger config:**

@Configuration
@EnableWebMvc
@EnableSwagger
public class SwaggerConfig extends WebMvcConfigurerAdapter {

	private SpringSwaggerConfig springSwaggerConfig;

	// Required to autowireSpringSwaggerConfig
	@Autowired
	public void setSpringSwaggerConfig(SpringSwaggerConfig springSwaggerConfig) {
		this.springSwaggerConfig = springSwaggerConfig;
	}

	/**
	 *

[2017-04-10 09:18] webron commented on #2888
yes, the actual spec that's loaded in the UI. I can't do anything with your java code.

[2017-04-10 09:23] helxiong commented on #2888
![Uploading shot.PNG…]()

[2017-04-10 09:25] helxiong commented on #2888
![Uploading shot.PNG…]()

[2017-04-10 09:28] matthieugeerebaert commented on #2889
Here it is

[circular.swagger.json.zip](https://github.com/swagger-api/swagger-ui/files/909591/circular.swagger.json.zip)

[2017-04-10 09:31] helxiong commented on #2888
Is it convenient for you to give me your email?
I give my package to you
Thanks  👍

[2017-04-10 09:31] matthieugeerebaert commented on #2889
3.0.3 OK
3.0.5 and master KO

[2017-04-10 09:34] steinsag commented on #2887
I removed all sensitive data from my swagger.json and I can reproduce it with this rather simple one:

`{
            "basePath": "/live/API/WS",
            "consumes": [
                "application/json"
            ],
            "definitions": {
                "ExampleUser": {
                    "properties": {
                        "enterpriseId": {
                            "descripti

[2017-04-10 09:48] wwatroba opened #2890 "Array type in query param"
There is a problem with rendering textarea for input multiple params.
With 2.2.6 it was working.

![zrzut ekranu z 2017-04-10 11-41-13](https://cloud.githubusercontent.com/assets/14992873/24855703/b44df1a0-1de2-11e7-9ffa-a3cd30476a59.png)

Parameter definition:
`{"name":"name","in":"query","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}`

[2017-04-10 10:51] rockeshub commented on #1605
@buunguyen  i haven't tried with other content-type, but if i call the same API using postman its working fine i am able to download the file. Also according to response-body.jsx i should get " Unknown response type" if my type is not proper.

[2017-04-10 11:05] webron commented on #2888
You can send me the spec in an email, sure, but please don't send me the java project.

[2017-04-10 11:13] webron commented on #2887
Issue confirmed. curl is generated correctly, but call execution leaves out the host.

[2017-04-10 11:14] webron commented on #2890
There's no text area rendering. It's just a list of items that you can add and remove.

[2017-04-10 11:22] webron commented on #2889
Interesting. I see a different behavior if the file is embedded vs hosted. No major issues with the embedded version, but once hosted... :boom:.

[2017-04-10 11:26] wwatroba commented on #2890
After clicking on "Add item" i get "😱 Could not render t, see the console."
Console:
[code]

[2017-04-10 11:29] webron commented on #2890
Can you share a spec that reproduces the issue?

[2017-04-10 11:41] wwatroba commented on #2890
[code]

[2017-04-10 13:01] #2832 closed

[2017-04-10 13:34] zyv opened #2891 "Provide spec chooser drop-down functionality instead of URL input box for shared instances"
Hi,

Currently, Swagger UI has an input box where the spec URL can be entered. For shared intranet installations, it would be great to have a drop-down that allows to browse through available specs.

The contents for the drop-down should be retrievable from a local spec repository (or hot served) as JSON and might contain spec name, spec url, maybe tags and whether it's a default spec. Using this

[2017-04-10 14:46] feorlen commented on #2758
I suspect this is why I can no longer use Swagger UI installed via npm with 3.x. I was installing the package and then copying the dist directory to the location I need it. This worked with 2.2.10, but now it doesn't.

I don't need a development environment for Swagger UI, I'm only using npm because the project I'm setting this up for does it this way for dependency management. It needs to be able

[2017-04-10 15:27] shockey commented on #2758
Similar discussion going on for Swagger-Editor here: https://github.com/swagger-api/swagger-editor/issues/1235

[2017-04-10 15:50] meeech opened #2892 "RangeError"
Hi, seeing range error when loading my spec using 3.0.5 - was fine with 3.0.4

Log from chrome attached, and copy of swagger json attached - let me know what other info I can provide.
browser - chrome

[1491837596142.log.txt](https://github.com/swagger-api/swagger-ui/files/910537/1491837596142.log.txt)

[gsm-api-swagger.zip](https://github.com/swagger-api/swagger-ui/files/910632/gsm-api-swagger.zi

[2017-04-10 15:54] feorlen commented on #2758
@shockey Thanks for the reference. Do you know of an intention to change this? I was nearly done integrating Swagger UI for our project, and then the new version was released that does things entirely differently.

[2017-04-10 15:59] shockey commented on #2758
@feorlen, we're considering it! I'm going to take a look at how much weight it would add to the module sometime today.

Everyone: for the time being, if you're using Git for your project and want to get the full `dist` folder without having to check it into source control manually, take a look at using [Git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules).

[2017-04-10 16:24] aalleexxeeii opened #2893 "h.filter is not a function"
The version installed on petstore.swagger.io at the time of writing stopped working with the attached definition [api-docs.yaml.txt](https://github.com/swagger-api/swagger-ui/files/910734/api-docs.yaml.txt) that worked previously. The following errors are written in the console while trying to enter input data:

`h.filter is not a function`

`"t.JsonSchema_array</<.value/<@http://petstore.swagger.

[2017-04-10 20:39] shockey commented on #2763
Good news: our global try/catch for components is keeping React from dying on this render error.

[2017-04-10 21:03] #2763 closed

[2017-04-10 21:30] dzuluaga commented on #2815
It works! Thank you!

[2017-04-11 01:07] helxiong commented on #2888
**This is my pom.xml:**
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>my test</groupId>
	<artifactId>swagger-api</artifactId>
	<packaging>war</packaging>
	<version>0.0.1-SNAPSHOT</version>
	<name>s

[2017-04-11 01:08] helxiong commented on #2888
**This is my index.html:**
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <title>Cummins API Platform</title>
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
  <link href='css/typography.css' media='screen' rel='

[2017-04-11 01:09] helxiong commented on #2888
**This is swagger-ui.js:**

/**
 * swagger-ui - Swagger UI is a dependency-free collection of HTML, JavaScript, and CSS assets that dynamically generate beautiful documentation from a Swagger-compliant API
 * @version v2.2.10
 * @link http://swagger.io
 * @license Apache-2.0
 */

[2017-04-11 01:11] helxiong commented on #2888
**This is Spring MVC controller:**

package com.swaggerui.list.api.controller;

import java.util.ArrayList;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.s

[2017-04-11 01:13] helxiong commented on #2888
**This is my swagger config:**

package com.swaggerui.list.api.config;

import org.springframework.context.annotation.Configuration;
import org.springframework.web.servlet.config.annotation.DefaultServletHandlerConfigurer;
import org.springframework.web.servlet.config.annotation.EnableWebMvc;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter;
import org.springframewo

[2017-04-11 04:43] munnaonc commented on #1430
@webron
Hi, I was just wondering, in which version the "model description feature" is released.

[2017-04-11 10:11] HunDunDM opened #2895 "How to send cookies in request (swagger-ui 3.x)"
if set "enableCookies: true" in swagger-ui 2.x, it will send cookies in request.
But it don't work in 3.x.
What should I do?

[2017-04-11 12:54] mark4prime opened #2896 "CSRF tokens in version 3.x"
Is it possible to add headers to a specific request in version 3.x as the methods referred to here #1380 no longer appear to work in version 3.x ? I know how to get the required value for the header but there does not appear to be a way to set this in the request anymore.

[2017-04-11 13:28] vlindhol commented on #2758
Seconding this, I'm running a backend service that runs on express.js and would like to serve up the swagger UI as documentation for the service for internal development. Since I'm not bundling anything for the browser I would like to avoid having to use webpack, just a static folder with the files would be great. Alternatively some express middleware that does the same thing would work.

[2017-04-11 18:50] jiangTaoQuite commented on #2885
hi,I resolved the first problem.but now,it make the some other problem.
[code]

[2017-04-11 19:41] fehguy opened #2897 "configuring OAuth for 3.x"
Previously we could configure the oauth client id, client secret, realm, appname, scope separator in the index.html.  This made sense, since these would typically be static for a single API, and swagger-ui would render the UI specifically for it.

It's not clear how this is done with swagger-ui 3.x.  We want to have a way to configure the above values as the end user will really have no idea what

[2017-04-11 20:25] fehguy opened #2898 "Update documentation of configurations"
The _allowed_ configurations for the UI are documented [here](https://github.com/swagger-api/swagger-ui/blob/master/src/plugins/configs/index.js):

[code]

The README is missing many of these configuration values, which means either this list above is wrong, or there are features that we have that are not documented

[2017-04-11 20:29] fehguy opened #2899 "travis not pushing tags"
After `3.0.2`, something broke with the travis integration, and now there are no tags being pushed to docker cloud:

https://hub.docker.com/r/swaggerapi/swagger-ui/tags/

[2017-04-11 20:49] #2899 closed

[2017-04-11 22:25] fehguy opened #2902 "can't execute call when enum is default value"
See below.  In this definition:

https://generator.swagger.io/api/swagger.json

There is a definition where a value is required to execute.  As you can see, the selected value is "valid" but it won't let you select.  You have to choose the 2nd value in order to make a call.

![image](https://cloud.githubusercontent.com/assets/249413/24933381/e83164e6-1eca-11e7-9685-d3a75841ea41.png)

[2017-04-11 22:40] fehguy opened #2903 "Irregular font when unable to make call"
When a host is unreachable and an error is thrown, the UI displays an ugly font.  This probably means some error condition isn't being properly caught.

![image](https://cloud.githubusercontent.com/assets/249413/24933810/331bd6c4-1ecd-11e7-8532-520330d55f1c.png)

[2017-04-11 22:43] fehguy opened #2904 "missing host still not working"
This should have been addressed but as of now, I'm not seeing proper behavior.

Using this URL against the petstore, which is latest master:

http://petstore.swagger.io/?url=https://generator.swagger.io/api/swagger.json

I see two issues.

First, the CURL url is incorrect.  Note the protocol should be `https`:

![image](https://cloud.githubusercontent.com/assets/249413/24933850/73002380-1ecd-11e7-

[2017-04-11 23:55] shockey commented on #2902
Confirmed, working on it!

[2017-04-12 00:16] feorlen commented on #2758
I wish I could add a reaction to @shockey's self-assign. Patiently awaiting lovely new updates! :) Thank you for looking into it.

[2017-04-12 01:40] webron commented on #2890
Thanks, issue confirmed.

[2017-04-12 01:55] webron commented on #2892
Thanks for the detailed report.
What's interesting is that the issue only occurs when the file is hosted, but works as expected when the file is embedded.

[2017-04-12 01:57] shockey commented on #2892
Gist for spec: https://gist.github.com/shockey/ce7026317d11e948a0334f1b8eeafd65

[2017-04-12 01:59] webron commented on #2888
We need a file that looks like http://petstore.swagger.io/v2/swagger.json.

[2017-04-12 02:05] webron commented on #2898
These configurations are listed, but not all implemented. As far as I know, the implemented configs are documented.

[2017-04-12 02:13] webron commented on #2887
Closing in favor of #2904.

[2017-04-12 02:13] #2887 closed

[2017-04-12 07:03] Bert-R commented on #2904
I see slightly different behavior with 3.0.5. The good news is that it works for me, even with HTTPS. The only issue that I see is that the displayed curl command is wrong.

You can try it out yourself here: https://beta.prd.yona.nu/swagger-ui/index.html. If you just take the first operation and provide a nonsense user ID and password, you'll get an error, which indicates that request properly rea

[2017-04-12 07:23] senty opened #2905 "API with HTTP Basic behind Apache"
Hi guys,
i have tried to use latest Swagger-ui (branch 2.x) to call API.

Problem is, that API server is behind apache with HTTP Basic Auth.

**I have added into my swagger yaml following**
`securityDefinitions:`
` devsec:`
`    type: basic`
`security:`
`  - devsec: []`

**But when i hit button 'Try it out!' generated is request :**
Request URL:https://dev.XXX.com/rest/wall
Request Method:OPTIONS

[2017-04-12 07:45] webron opened #2906 "Petstore no longer honouring explicit HTTPS scheme, and using HTTP instead?"
_From @alzadude on April 11, 2017 13:37_

A recent change to the Petstore seems to have broken the explicit HTTPS api call behaviour.

Steps to reproduce:
1. Go to http://petstore.swagger.io
2. Enter swagger url for the api, using HTTPS (e.g. for one of our api calls, use `https://imin-platform-api.imin.co/v1/swagger.json`)
3. Specify scheme `HTTPS`
4. Enter required api parameters (e.g. for one o

[2017-04-12 07:46] webron commented on #2906
Seems related to #2904.

[2017-04-12 08:47] webron commented on #2905
It looks like the issue is with your server. For some reason it requires authentication for OPTION calls, and it shouldn't. See https://github.com/swagger-api/swagger-ui/issues/2663#issuecomment-280059347 for more details.

[2017-04-12 09:27] webron commented on #2895
At the moment, that configuration is not yet available in 3.x. If you require it, either use 2.x or consider submitting a PR to 3.x to add support for it.

[2017-04-12 09:32] senty commented on #2905
@webron thank you very much for help !
I guess setup exception for OPTION will solve problem (https://stackoverflow.com/questions/23618072/how-i-can-avoid-requesting-basic-authentication-when-http-method-is-options-on-a)

i will update with result ...

thanks

[2017-04-12 09:36] webron commented on #2896
Unfortunately, it's not supported yet in 3.x. See https://github.com/swagger-api/swagger-ui/issues/2793 for more details.

[2017-04-12 10:16] webron commented on #1430
Should be any version under 3.x.

[2017-04-12 10:27] webron commented on #2893
Please try again. Tested it now and it loads fine.

[2017-04-12 12:50] davidmfrey commented on #2893
I'm getting a similar error now.  When I have an array [string] multi query param type, it barfs when I click add item.

swagger-ui-bundle.js:51 TypeError: h.filter is not a function
    at swagger-ui-bundle.js:103
    at swagger-ui-bundle.js:36
    at ze.__iterate (swagger-ui-bundle.js:37)
    at r.__iterateUncached (swagger-ui-bundle.js:36)
    at W (swagger-ui-bundle.js:36)
    at r.M.__iterate

[2017-04-12 13:09] meeech commented on #2892
just as an fyi, get the exact same error in swagger-editor when I import url (which makes sense, since i know editor is based on UI)

[2017-04-12 13:50] webron commented on #2893
I think I misread the original issue. Will retry later.

[2017-04-12 14:10] webron commented on #2893
Duplicate of #2890.

[2017-04-12 14:10] #2893 closed

[2017-04-12 16:01] bill-okara opened #2907 "Issues with output of XmlElementWrapper in swagger-ui 3.x"
Hi,

this is a re-post of https://github.com/swagger-api/swagger-core/issues/2170 against swagger-ui as per suggested.

To recap the issue,

using swagger 1.5.13, swagger-ui 3, the following jaxb annotations

@XmlElementWrapper(name = "messages)
@XmlElement(name = "message")
public List<Message> messages;

will be outputted (with swagger-jersey2-jaxrs) as:
[code]
but in swagger-ui, it's being outp

[2017-04-12 16:10] jniemin opened #2908 "OAuth2 password flow sends token request incorrectly"
Seems that at least when using Resource owner password credentials flow for authentication, token request is sent incorrectly. Currently code on master sends is like this (/src/core/plugins/auth/actions.js)
[code]

This means that all parameters are sent as query parameters not as part of body as spec defines (https://tools.ietf.org/html/rfc6749#section-4.3.2).

it could use instead `body: new For

[2017-04-12 16:25] webron commented on #2908
I think there should be a configuration for that, not sure if it's implemented yet.

[2017-04-12 16:54] kevinsookocheff-wf commented on #2908
I'm experiencing the same issue using the OAuth application flow. Requests are sent as GET requests and should be sent as POST to allow for encoding data in the POST body.

[2017-04-12 22:55] danderson00 commented on #2758
The simplicity of `npm install swagger-ui`, expose static route to the dist folder and you're done far outweighs any downsides of publishing the full bundle. It would be more than acceptable to publish this as a separate npm package that includes swagger-ui as a dependency.

The product loses value without this feature.

[2017-04-13 11:23] dilipkrish commented on #2708
@webron I think the problem here is that when swagger.json encounters an unicode string in the tags. It doesnt expend the operations. You end up with a javascript error.

[2017-04-13 11:23] dilipkrish commented on #2708
Here is a more detailed report https://github.com/springfox/springfox/issues/1580

[2017-04-13 12:39] webron commented on #2708
@dilipkrish thanks for the explanation, but without a sample spec we can't do much to test it. Plus, I'd ask the user to test with 3.x first.

[2017-04-13 13:00] nahidakbar opened #2909 "New swagger ui is sending unnecessary content-type header"
Even when it is just making get requests and is not sending any kind of payload.

I haven't even set any consumes directives in the spec.

This was not an issue with the old UI and that was the correct behaviour.

While just making simple requests cross domain does not require any kind of special implementations, sending custom headers like these requires implementation of server side CORS preflig

[2017-04-13 23:39] grosch opened #2911 "Missing configuration in v3.0.5"
I notice that none of these options from version 2 are being honored.  Is this just a case of "not yet implemented" or has the way this works changed?

        // This one is what sorts the methods inside the tags
        operationsSorter: function (a, b) {
            var order = { 'get': '0', 'post': '1', 'patch' : '2', 'put': '3', 'delete': '4' };
            var foo = order[a.method].localeCom

[2017-04-14 01:25] shockey commented on #2904
Scheme problem is fixed: if no scheme is defined in the spec, we will try to extract a valid scheme from the URL the spec is loaded from (doesn't affect relative-path spec URLs) before falling back to `http` as a last resort.

For the second part, looks like `baseUrl` in swagger-js is being called _twice_ when Execute is clicked- it's called once with the `contextUrl`, and once without. The actual

[2017-04-14 01:53] shockey commented on #2904
Found it- fix incoming.

[2017-04-14 04:21] webron commented on #2911
Not implemented yet. See [Known Issues](https://github.com/swagger-api/swagger-ui#known-issues) and the available [parameters](https://github.com/swagger-api/swagger-ui#known-issues).

[2017-04-14 04:29] Alfafc opened #2913 "(New Swagger UI ) Authorize button not sending custom access-token in headers"
I have this ApiKeyAuthDefinition:

`access-token:{description: "Access token Authentication", type: "apiKey", name: "access-token", in: "header"}
description:"Access token Authentication"
in:"header"
name:"access-token"
type:"apiKey"`

I also have a specific SwaggerSpecFilter that only allow to see my swagger.json when you have authorized with required access-token.

Using main Authorize button in

[2017-04-14 04:36] webron commented on #2913
When you define a security inside the spec, it's related to the API itself, not access to the spec. We have not yet implemented in 3.x a way to send those headers when accessing the spec.

[2017-04-14 05:22] grosch commented on #2651
It kinda shows the example now, but not in a good format.  It appears like so:

"[\n  12,\n  [\n    {\n      \"uid\" : 12,\n      \"name\" : \"Basketball\"\n    },\n    {\n      \"uid\" : 13,\n      \"name\" : \"Ice Hockey\"\n    }\n  ]\n]\n"

[2017-04-14 05:23] grosch commented on #2651
Sorry, that's with the 3.0.5 tag...forgot to specify that.

[2017-04-14 08:42] svechin opened #2914 "Basic auth dialog in 3.0.5"
I have basic auth in swagger configuration:
"securityDefinitions": [
    {"type": "basic"}
  ]

when i click authorize on UI i get dialog but after entering credentials and clicking authorize button in dialog - nothing happens. did I miss anything?

[2017-04-14 08:44] webron commented on #2914
can you share your spec?

[2017-04-14 08:53] svechin commented on #2914
here is part of the spec, nothing else what is related to security.
but spec is validated successfully in 3.0.5 and it works in 2.x

may be it could help - i wasn't able to install swagger-ui using npm because there were errors related to msbuild so i just cloned it and copied dist folder.

{
  "info": {
    "title": "111",
    "description": "111",
    "version": "1.0.0"
  },
  "basePath": "local

[2017-04-14 08:56] webron commented on #2914
That's not a valid spec. `securityDefinitions` are meant to declare security schemes, and `security` is meant to apply them.

[2017-04-14 09:09] svechin commented on #2914
thanks, but even if i add something like
"security":[
    {
      "basic": {}
    }
  ]

it behaves the same - auth button in dialog does nothing

[2017-04-14 09:12] webron commented on #2914
But your `securityDefinitions` is invalid. This is why I asked for a full working spec, so I can play with it, test it, and either confirm the bug or give you a working solution.

[2017-04-14 09:17] svechin commented on #2914
Here is spec which is enough to reproduce issue. Apply spec, click authorize, enter credentials, click authorize again - i expect modal to be closed and basic header will be send with requests.

Thank you for your efforts!

`{
  "info": {
    "title": "Api",
    "description": "External Api",
    "version": "1.0.0"
  },
  "basePath": "localhost:3010/api/v1",
  "tags": [
    "Users"
  ],
  "securit

[2017-04-14 09:24] webron commented on #2914
Change your `securityDefinitions` to this:
[code]

[2017-04-14 09:28] svechin commented on #2914
it works. thank you!

[2017-04-14 09:28] #2914 closed

[2017-04-14 09:51] Humberd opened #2915 "Add JWT authorization header in Swagger v3"
I'm looking for a solution to add a JWT authorization header to each request like they did in this [thread](https://github.com/swagger-api/swagger-ui/issues/818)

Their solution for Swagger v2:
[code]

[2017-04-14 16:03] jejohnsonjr commented on #2745
Any fix for this?  I have a bunch of Swagger files with MarkDown that I need to display in Swagger UI 3

[2017-04-14 16:07] webron commented on #2745
Not yet. Contributions are welcome.

[2017-04-14 16:50] shockey commented on #2758
### Proposed solution!

We're planning to begin maintaining a second module for the project, whose contents mirror the `dist` folder.

@danderson00 @feorlen @vlindhol @ksmithut: will any of you _not_ have your needs served by this solution?

[2017-04-14 16:56] shockey commented on #2906
So, my PR for #2904 (#2912) does not solve this.

I'll look into it.

cc: @bodnia

[2017-04-14 17:11] feorlen commented on #2758
Awesome! As long as I can drop the dist directory somewhere, that's exactly what I'm looking for. Thank you!

[2017-04-14 18:22] danderson00 commented on #2758
@shockey Sounds great! Thanks for the update!

[2017-04-14 18:39] vlindhol commented on #2758
Great stuff!

[2017-04-14 20:34] SonnyRajagopalan commented on #672
Still have this issue (enums in *.yaml not displaying in UI). Is it going to be fixed soon?

[2017-04-14 20:37] webron commented on #672
@SonnyRajagopalan there shouldn't be an issue with the latest master. If you encounter an issue, open a new ticket and provide a full spec that reproduces the problem.

[2017-04-14 21:39] SonnyRajagopalan commented on #672
@webron , My profound apologies. Tooling error on my part (dealing with an obscenely large spec so I have tools that generate metadata that generate more metadata which finally generate yaml code...). It works just fine. Thanks a heap for your quick response!

[2017-04-14 23:42] #2904 closed

[2017-04-15 02:07] #2871 closed

[2017-04-15 04:25] shockey opened #2918 "Uncaught Error: invalid keyPath"
This spec:

[code]

causes a `Uncaught Error: invalid keyPath` error, which kills the React lifecycle. Refresh and load of a different spec is required to avoid.

This is especially bad for the Editor.

The error is originating [here](https://github.com/swagger-api/swagger-ui/blob/master/src/core/plugins/spec/reducers.js#L100).

[2017-04-15 04:28] shockey commented on #2918
cc @webron

[2017-04-15 05:56] larshp commented on #2904
thanks, now it works for me 👍

[2017-04-15 10:54] Bert-R opened #2919 "Release 3.0.6 breaks HTTPS support"
With build 3.0.5, HTTPS worked, though the curl command was wrong. With 3.0.5, the curl command is right, but HTTPS does not work anymore.

To test it go to https://beta.prd.yona.nu/swagger-ui/index.html and try out the first operation, entering asdf in both input fields.

That should result in an error from the server, but currently shows "TypeError: Failed to fetch"

[2017-04-15 10:55] Bert-R commented on #2904
The curl command is now right but unfortunately HTTPS doesn't work anymore.

I've logged #2919 for this.

[2017-04-15 19:10] shockey commented on #2919
One step forward, two steps back....

Thanks for filing this, @Bert-R!

From the Swagger 2.0 Specification:

Looks like we aren't considering the effective URL scheme of relative paths correctly, which is a bug.

In the meantime, adding this to your spec should get things working again:
[code]

[2017-04-16 06:00] mikofski commented on #2837
SwaggerUI 2.1.6
[django-rest-swagger (2.1.1)](http://django-rest-swagger.readthedocs.io/en/latest/)

This must be a new version of swager UI, because mine doesn't show the form with the `client-id` or `client-secret` input boxes :frowning_face:  , even with the same security definitions as you:

     'oauth2': {
        'type': 'oauth2',
        'flow': 'accessCode',
        'authorizationUrl': 'h

[2017-04-16 11:28] leckylao commented on #2386
Damn, it’s been half year I still have the same issue. Seems issue with nginx as open localhost there’s no server. But I am not sure how to check the nginx log in the container, the docker logs shows empty.

[2017-04-16 17:30] webron commented on #2918
Thanks @shockey. FWIW, `null` is not a valid value anywhere in the spec.

[2017-04-16 17:33] webron commented on #2919
![tests-tests-everywhere-ikkczl](https://cloud.githubusercontent.com/assets/241629/25072955/ed54ce50-22e3-11e7-9d43-fb36ea82d922.jpg)

[2017-04-17 05:26] shockey commented on #2918
@webron rightly so! Apologies, my initial description wasn't abundantly clear. There's a combination of things at work here:

1. **blank YAML values are translated to `null` for representation in JS.** Consider this:

[code]

The resulting JS object (or JSON even) would be:

[code]

You'd never actually publish this in a spec (I hope), but this would be a common place to pause when you're handwrit

[2017-04-17 11:19] eneropp-dave opened #2921 "Body input parameter showing as form not raw JSON?"
Hi,

I had this working on some code a few weeks ago, but I lost the code and can't work out if I'm doing something stupid, or the feature has changed in a more recent version of swagger ui (I think I also updated while rewriting the code).

I am using Swagger annotation inside a project, and swagger UI to view it, I have a POST route using the body input parameter which uses a swagger definition

[2017-04-17 11:49] eneropp-dave commented on #2921
Just confirmed - I am on Swagger UI 2.1.4 and haven't updated it since lost the code, so it is definitely me

[2017-04-17 12:38] redtachyons commented on #2844
Same issue, I can't find the config file to set this parameter in swagger 3

[2017-04-17 12:41] bodnia commented on #2844
@redtachyons @drmikecrowe currently the flow with redirection is implemented, and support of both: handling redirect and json response from server is under implementation.

[2017-04-17 17:36] plemarquand opened #2922 "Post requests w/ multipart form data fail to render curl command"
Rendering the curl command no longer works for POST requests that have formData. The request body isn't getting set as a string before being passed to `curlify`. As a result, line `21` in `src/core/curlify.js` throws the following error when you Execute the request:

`TypeError: request.get(...).split is not a function`

And you see this in the UI: `😱 Could not render Curl, see the console.`

The

[2017-04-17 18:29] webron commented on #2922
Would you be able to submit a PR for the fix?

[2017-04-17 18:37] hkosova commented on #2921
Looks like you have [`jsonEditor: true`](https://github.com/swagger-api/swagger-ui/tree/2.x#parameters) (aka JSON form editor) in your Swagger UI initialization code.

[2017-04-17 18:59] ryan-barker-zefr commented on #818
Any update on this?

[2017-04-17 19:09] plemarquand commented on #2922
@webron I got as far as identifying the issue but I'm not familiar enough with the expected results coming out of curlify to prepare a fix.

[2017-04-17 20:07] lgelfan commented on #2017
This seems to have been fixed (or at least now works as expected) in v3. I can confirm @zanona that changing `supportedOperationMethods` in the source does address this specific issue (I'm using v2.2). I didn't see a way to override that variable when declaring `swaggerUi`. Perhaps some advanced multi-sort function on `operationsSorter` would also work, but adjusting `supportedOperationMethods` wi

[2017-04-18 02:16] JohnRudolfLewis opened #2923 "Maximum call stack size exceeded"
Swagger that passes validation and also works in the 2.2.8 version of the UI causes the following error:

**Resolver error
Maximum call stack size exceeded**

Here is a sample swagger repro case:

https://gist.githubusercontent.com/JohnRudolfLewis/10c2202d251bee2c820f3167b64edd6d/raw/331ac5cc351c362b54453a818c2665114fba22fa/Swagger.yaml

Try it out here:
http://petstore.swagger.io/?url=https://gis

[2017-04-18 06:32] webron commented on #818
We're working on 3.0 support, but it's going to take a while, especially to support the entire spec.

[2017-04-18 09:54] ralfhandl commented on #2923
Have the same issue with http://petstore.swagger.io/?url=https://raw.githubusercontent.com/oasis-tcs/odata-openapi/master/examples/example.openapi.json.

This file worked fine with Swagger UI version 3.0.4 and is now broken with version 3.0.6.

[2017-04-18 18:29] senty commented on #2905
Hi,
confirming - after i allowed OPTION without http basic -> everything is fine

[2017-04-18 18:29] #2905 closed

[2017-04-18 18:29] #2918 closed

[2017-04-18 19:03] DavidBiesack opened #2926 "Allow clicking on model name/title to expand/collapse"
In the new Swagger-UI, one can click on an operation's verb or summary text, or a tag/category name/summary to expand/collapse the box/section.

However for models, one can only click on the small > (or V ) icon to expand/collapse the model to show its fields or example.

Please let me click on the title string and the "{...}" text as well -- it's much easier to hit, and also a more consistent use

[2017-04-18 19:07] DavidBiesack commented on #2926
Also, it is inconsistent that the > arrow is right aligned for categories and operations, but embedded between the name (or title) and the {...} for models. It should use the same UI control with the same style/appearance.

[2017-04-18 23:05] shockey commented on #2919
Note: this is now testable via https://spotty-cloth.surge.sh/?url=./swagger.yaml, as @Bert-R's URL has been updated with the `schemes` workaround mentioned above.

[2017-04-19 02:58] #2919 closed

[2017-04-19 02:58] shockey commented on #2919
@Bert-R, this should be fixed in master now. Please reply if you continue to experience this issue, and I'll reopen.

Thanks for using Swagger!

[2017-04-19 04:40] leckylao commented on #2386
As @ghost mentioned that it does need to access UI through the docker-machine IP address with port. I guess to close the issue is update the instruction that instead of going localhost, it should use docker-machine-ip

Please run the following to build the Swagger UI from Docker.

docker build -t swagger-ui-builder .
docker run -p 127.0.0.1:8080:8080 swagger-ui-builder
This will start the Swagger

[2017-04-19 08:55] eneropp-dave commented on #2921
Thanks, you are quite right, I didn't realise that setting existed but changing it gets the behaviour i wanted, thanks again

[2017-04-19 08:55] #2921 closed

[2017-04-19 09:38] zvischutz commented on #44
Not sure if it is connected but cors module https://www.npmjs.com/package/cors should be activated before the swagger middleware if it is activated afterwards then you need to implement it on controllers and services.

[2017-04-19 09:43] webron commented on #2909
With https://github.com/swagger-api/swagger-js/pull/1016 merged, this will be fixed in Friday's release.

[2017-04-19 09:43] #2909 closed

[2017-04-19 13:14] synackSA opened #2928 "No pretty json for Response examples"
I have the following response defined for a 500 Internal Sever error.

    500InternalServerError:
        description: The server encountered an unexpected condition which prevented it from fulfilling the request
        schema:
          allOf:
            - $ref: '#/definitions/Failure'
        headers:
          X-Rate-Limit-Limit:
            description: The number of allowed requests in the

[2017-04-19 13:20] webron commented on #2928
Probably jut the conversion to JSON.

[2017-04-19 13:26] webron commented on #2743
Should be fixed. Please reopen if needed.

[2017-04-19 13:26] #2743 closed

[2017-04-19 14:28] webron commented on #2782
This should actually be fixed now. Please reopen if not.

[2017-04-19 14:28] #2782 closed

[2017-04-19 14:29] webron commented on #2800
Looks like the comment was deleted. Closing as fixed.

[2017-04-19 14:29] #2800 closed

[2017-04-19 14:32] webron commented on #2827
Closing as fixed.

[2017-04-19 14:32] #2827 closed

[2017-04-19 14:33] bodnia commented on #2818
Implemented in latest master https://github.com/swagger-api/swagger-ui/pull/2924

[2017-04-19 14:33] #2818 closed

[2017-04-19 14:34] webron commented on #2837
@mikofski - I'm closing this one as it seems like the issue is in a third party tool. Please reopen otherwise.

[2017-04-19 14:35] webron commented on #2843
Closing as duplicate of #2771.

[2017-04-19 14:35] #2843 closed

[2017-04-19 14:36] bodnia commented on #2837
@mikofski the screenshot you provided is from 2.x version, please try to use 3.

[2017-04-19 14:36] #2837 closed

[2017-04-19 14:57] #2888 closed

[2017-04-19 17:38] fehguy opened #2929 "formatting issues with authorization panel"
After authorizing, we leave the authorization panel visible and show the key in an unformatted text:

![image](https://cloud.githubusercontent.com/assets/249413/25193500/30a572ae-24ec-11e7-916e-b2a8a36e9de1.png)

First, we should probably close it after you add authorization.

Next, we should mask the authorization token once it's entered

Finally, we should use the proper font to render the maske

[2017-04-19 17:39] Bert-R commented on #2919
Thanks for fixing this!

Swagger UI is a wonderful tool that we really appreciate.

I'll wait for the 3.0.7 release to upgrade, so we are on a defined version.

[2017-04-19 17:43] webron commented on #2929
Closing doesn't make sense because you might need to provide multiple authorizations and having to reopen the modal for each one is an odd behavior.

Masking should be simple.

[2017-04-19 18:28] lakmali opened #2930 "Programmatically setting clientId/clientSecret for OAuth flow"
I am trying the OAuth flows in swagger UI latest released version (3.0.6). There it seems to be that we can no longer call "initOAuth" and pre populate the OAuth client credentials.

Is there any way we can programmatically inject clientId/clientSecret to swagger UI so that end user will not have to input them?

[2017-04-19 18:33] lakmali commented on #2908
I am also facing this problem. There is a configuration for sending client credentials; whether to send it as Basic header or in body. But there is no configuration available for sending payload data.
Nevertheless, according to the spec, payload should be sent as URL encoded POST payload. So I think, this needs to be fixed.

[2017-04-19 19:33] dotasek commented on #2818
The latest dist doesn't seem to respect the apisSorter parameter mentioned in the StackOverflow comment. Did #2924 address this, or just operationsSorter?

[2017-04-19 19:49] bodnia commented on #2818
@dotasek now it's only `operationsSorter` implemented

[2017-04-19 21:04] mgeorgy opened #2931 "swagger-ui-bundle.js:58880 Could not find component"
Swagger-ui loads without issue, however when attempting to use the 'Try it out' feature I'm noticing several warnings within the swagger-ui-bundle.js.  Is this known/expected behavior?

The general errors are:
swagger-ui-bundle.js:58880 Could not find component JsonSchema_string_
swagger-ui-bundle.js:58880 Could not find component JsonSchema_integer_
swagger-ui-bundle.js:58880 Could not find compo

[2017-04-19 21:27] fehguy commented on #2931
Are you running from the project directory or have you brought swagger-ui-bundle.js into your own project?  If so, can you please share how you did it?

[2017-04-19 22:02] mgeorgy commented on #2931
I'm running out of the dist directory.

`
DocumentRoot /var/www/swagger-ui/dist
`

[2017-04-19 22:11] fehguy commented on #2931
eh, that's not the project directory.  I have a feeling you're missing some files in there.

[2017-04-19 22:13] mgeorgy commented on #2931
Any suggestions on resolving this?  I cloned the project to this directory.  What files do you think I might be missing?

[2017-04-19 22:37] shockey commented on #2931
These warnings are nothing to be worried about 😄

In the json schema rendering code, we [optimistically query our system for a number of components](https://github.com/swagger-api/swagger-ui/blob/master/src/core/json-schema-components.js#L39). If the component doesn't exist, those warnings get thrown.

As long as you're not seeing render errors accompanying those warnings, you should be good to go

[2017-04-19 22:39] mgeorgy commented on #2931
Thank you!

[2017-04-19 22:39] #2931 closed

[2017-04-19 22:53] shockey commented on #2906
Latest master doesn't exhibit this problem (very likely that #2927 fixed it).

Getting a CORS error with this spec:

We're requesting with `https`, so this looks fixed.

@alzadude, this will be included in our Friday release. If you see any lingering problems, please reply here and I'll look into it.

Closing!

[2017-04-19 22:53] #2906 closed

[2017-04-20 05:29] webron commented on #2930
We're working on it. Duplicate of #2897.

[2017-04-20 05:29] #2930 closed

[2017-04-20 07:07] catchaag opened #2932 "Generate swagger response example"
Hi,

I am trying to generate response examples into swagger.json file for all my operations. I see i can generate response in this way only
@ApiResponses(value = { @ApiResponse(code = 200, message = "Returns pet list",response = Pet.class),

Is there any other way to generate response examples into swagger file. It will also be good if i can copy my raw json into my resource and that can go into s

[2017-04-20 09:12] ralfhandl commented on #2745
Will Swagger UI 3.x support Github Flavored Markdown (GFM) to fulfill the Swagger 2.0 specification, or will it support [CommonMark](http://commonmark.org/) to fulfill the OpenAPI 3.0 specification?
Or both?

Background of the question is that @jonathanhuet's example uses GFM table markdown with pipe symbols which isn't part of CommonMark.

[2017-04-20 09:20] davidporter65 opened #2933 "Swagger JSON generated by Springfox shows 'Consumes' for GET operations"
This is a similar problem to #2042.

I have a GET API request which is showing up in the Swagger JSON as consuming 'application/json'.

It's a GET, so it doesn't consume anything. How can I stop this appearing in the Swagger?

[2017-04-20 09:20] webron commented on #2932
You can add them manually. Check out http://swagger.io/docs/specification/adding-examples/ for more details.

[2017-04-20 09:20] #2932 closed

[2017-04-20 09:22] webron commented on #2745
No explicit plans. Likely GFM for 2.0 and CommonMark for 3.0.

[2017-04-20 09:24] webron commented on #2933
Can you share your spec and point to the operation in question?

[2017-04-20 09:25] catchaag commented on #2932
we can not add a raw json ( { "id": 38, "title": "T-shirt" }) from the code??

[2017-04-20 09:31] webron commented on #2932
I don't think that option exists. Regardless, this doesn't belong here but in the tool you use to generate the spec.

[2017-04-20 09:43] catchaag commented on #2932
tool? what are the tools?
I am generating a spec using my java code and gradle as below
@ApiResponses(value = { @ApiResponse(code = 200, message = "Returns pet list",response = Pet.class),

what tools we have to generate the spec?

[2017-04-20 09:44] webron commented on #2932
Whichever library you use to generate the spec from your code.

[2017-04-20 10:11] glipman opened #2934 "Cookies not sent when requesting $ref in swagger.json"
Only authenticated users (with a ASPSESSIONID cookie) are allowed access to any part of my spec.

With version 3.0.5, ticket #2794 a problem was solved where cookies were not sent when requesting swagger.json. This is working fine now for me.
However, in my model I have several $ref references to external files. The HTTP-request for these requests still don't send the ASPSESSIONID (or any) cookies

[2017-04-20 10:14] lakmali commented on #2930
Thanks

[2017-04-20 10:24] davidporter65 commented on #2933
By 'spec', do you mean the Swagger JSON? We generate this using Springfox. Sorry, I should have raised this issue on that project.

[2017-04-20 10:30] catchaag commented on #2932
i am using these libraries
compile group: 'io.swagger', name: 'swagger-parser', version: '1.0.21'
compile("io.swagger:swagger-jersey2-jaxrs:1.5.8")
 classpath 'com.benjaminsproule:swagger-gradle-plugin:0.0.6'

[2017-04-20 10:30] webron commented on #2933
Yeah, the Swagger JSON. Please check the following - in the JSON file, if you see `consumes` on the operation, then the issue is with the generation and should be opened on Springfox. In that case, please close the ticket here.

If it's not there, then the issue is with the UI. If you provide us with the file we can investigate further.

[2017-04-20 10:32] webron commented on #2932
So the project you're looking for is swagger-core. Like I said, I don't think we provide a way of adding examples in it yet.

[2017-04-20 10:40] webron commented on #2934
This is a much deeper fix which would root in swagger-js. Unfortunately, this is not going to be a high priority for us right now. If this is important to you, please consider submitting a PR.

[2017-04-20 10:42] davidporter65 commented on #2933
Yep, it's in the generated Swagger JSON.

[2017-04-20 10:42] #2933 closed

[2017-04-20 11:57] kamleshpaliwal-tudip opened #2935 "Can't see Bearer Token in Headers."
Hello Everyone ,
I am using Swagger create documenattion of my existing api n node . I used swagger-ui to do and test the api. I am generating token from postman and using this token in swagger authorization but everytime  I m getting unauthorized access only. Even token is not available in headers also.please help me out.

[2017-04-20 12:03] webron commented on #2935
Can you explain more what it is you're doing and what doesn't work? It's still a bit unclear.
Also, which version of swagger-ui do you use?

[2017-04-20 12:06] redsux opened #2936 "Regex issue in docker-run.sh for VALIDATOR_URL"
Hello,

I just tried to set VALIDATOR_URL when running your container and it appears that docker-run.sh don't match your regex line 42 `sed -i "s|\(url: url,.*\)`.

There is a useless "url" string, a little fix : `sed -i "s|\(url: .*,\)`

Rergards,
Red

[2017-04-20 12:24] andrewcharnley opened #2937 "Missing dependencies (yarn incompatible)"
base64-js

...modules/swagger-ui/dist/swagger-ui.js:1:311

Not within the package.json

[2017-04-20 13:05] kamleshpaliwal-tudip commented on #2935
I am using swagger-node-express": "^2.1.3. I am unable to see authorization token in headers. I am attaching some screen shots to clear this whole scenario to you.
First i logged in using postman and generated access token and then i m passing that token in  swagger as shown in pic but when i am giving request to API it is showing that user is unauthorized as shown in  3rd screenshot.
this is code

[2017-04-20 13:06] kamleshpaliwal-tudip commented on #2935
i m hitting /user api

[2017-04-20 13:09] webron commented on #2935
Thanks, that does help, but I still need to know the version of swagger-ui that you use.

[2017-04-20 13:18] kamleshpaliwal-tudip commented on #2935
It is "swagger":"2.0"

[2017-04-20 13:29] kamleshpaliwal-tudip commented on #2935
i think this is the swagger-ui if it is not the swagger ui version. then please tell me how to check it.

[2017-04-20 13:29] webron commented on #2935
How did you install the UI?

[2017-04-20 13:31] kamleshpaliwal-tudip commented on #2935
i took just clone as per some readme.md file I am attaching the link of article also.
this is the link here..https://github.com/shawngong/Swagger-Node-Express-For-Existing-APIs/blob/master/README.md

[2017-04-20 13:36] webron commented on #2935
Did you follow the instructions here - https://github.com/shawngong/Swagger-Node-Express-For-Existing-APIs/blob/master/README.md#cloning-swagger-ui?

[2017-04-20 13:54] fehguy commented on #2936
@redsux please send a pr and we'll get it merged

[2017-04-20 14:00] kamleshpaliwal-tudip commented on #2935
yes i followed all the instructions.
 it is hitting my url also. I can send you the screenshot of my server console also.
![screenshot from 2017-04-20 19 24 28](https://cloud.githubusercontent.com/assets/25119254/25234337/6571e2e2-25ff-11e7-9ea6-f3f20ad90b7b.png)

i took the clone and deleted all files except dist folder in that and moved dist folder to root of my project .

[2017-04-20 14:18] webron commented on #2935
Great, thanks. One last question - when did you clone the swagger-ui repo? did you update it since?

[2017-04-20 14:22] kamleshpaliwal-tudip commented on #2935
Just today i cloned it .

[2017-04-20 14:35] webron commented on #2935
@kamleshpaliwal-tudip Thanks for all the details.

I apologize, because I didn't notice it at first. It looks like something is missing from your spec. You have `securityDefinitions` that define the available securities, but you don't apply it to any of the operations using the `security` property.

You can find out more information about it in - http://swagger.io/docs/specification/authentication

[2017-04-20 14:56] kamleshpaliwal-tudip commented on #2935
thanks for helping . but one last question how i have to put security
I am putting like this  "/user": {
      "put": {
        "security":
         - Bearer: [],
        "tags": [
          "/User"
        ],
I dont know yaml please can you help me.

[2017-04-20 14:56] kamleshpaliwal-tudip commented on #2935
it is showing error in json .
i want this in json.

[2017-04-20 14:59] webron commented on #2935
YAML and JSON are very similar and can be easily converted. Lots of online tools such as https://www.json2yaml.com.

The `security` would translate to:

[code]

[2017-04-20 15:04] kamleshpaliwal-tudip commented on #2935
Thank you very much sir. Really you made my day. Thanks a lot.

[2017-04-20 15:05] webron commented on #2935
Did it work? Is the issue resolved?

[2017-04-20 15:08] kamleshpaliwal-tudip commented on #2935
yes sir,it worked.

[2017-04-20 15:10] webron commented on #2935
Great, happy to hear! Will close the ticket now, but please reopen if needed.

[2017-04-20 15:10] #2935 closed

[2017-04-20 15:46] kamleshpaliwal-tudip commented on #2935
ok sir.

[2017-04-20 15:46] dotasek commented on #2911
Is there any way to indicate the priority of each parameter implementation? The lack of apisSorter and docExpansion are pretty much the only thing keeping me from transitioning to 3.x

[2017-04-20 15:48] webron commented on #2911
The ticket is marked as P2, meaning it's second-tier priority. If it's important to you, consider submitting a PR to add the functionality (with tests 😄).

[2017-04-20 16:23] bodnia commented on #2736
Default order of overriding configs: `swagger-config.yaml` -> config passed to constructor `SwaggerUIBundle(configs)`

When enabled ConfigsPlugin:
 `swagger-config.yaml` -> config passed to constructor `SwaggerUIBundle(configs)` -> `configUrl` passed to constructor `SwaggerUIBundle(configs)` -> query parameter `config` with configs url as a value

This is tested in latest master with no re-build

[2017-04-20 16:23] #2736 closed

[2017-04-20 16:57] akeshwarj opened #2939 "Is ordered-pair (coordinates) not supported in Swagger-UI?"
I searched, but couldn't find. Is this feature not supported? Here's what I have in the Editor:

[code]

[code]

The rendered UI is:
[code]

I'm trying for the UI:
[code]

I checked out other issues and found that minItems is not supported in the UI. Is there a way to do it other than using an array?

[2017-04-20 16:57] #2929 closed

[2017-04-20 17:08] webron commented on #2939
That looks like a bug, mostly because we simply ignore `maxItems`/`minItems` for the sample generation.

Try setting the `example` at the `Point2D` and set it as an array there, for now.

[2017-04-20 17:47] #2881 closed

[2017-04-20 19:13] trip-somers commented on #2491
I have this issue with SwaggerUIBundle as well. My issue matches OP's description except that I am using SwaggerUIBundle instead of Springfox.

[2017-04-20 20:39] shockey commented on #2937
@andrewcharnley can you elaborate? `yarn install` works for me with `v0.22.0`.

Are you trying to install UI's dependencies, or use UI as a module in another project? Please provide some logs as well, if possible.

[2017-04-20 20:42] fbmattos opened #2943 "Can't use negative number in parameter when executing API via editor try it out feature"
wrong repo

[2017-04-20 20:43] shockey commented on #2491
@trip-somers, please open a new ticket and we'll look into it 😄

[2017-04-20 20:48] #2890 closed

[2017-04-20 20:57] trip-somers commented on #2491
I appreciate the quick response, but I was about to figure this out after playing around with it some more.

I'm not sure exactly why Swagger-UI was showing an empty file, but my issue was (at least) that I was trying to process the file upload with a Laravel controller that was not reading the file because it was PUT request. When I switched it to POST in Laravel and in my Swagger YAML, the file

[2017-04-20 21:06] #2943 closed

[2017-04-20 22:28] shockey commented on #2491
@trip-somers, yeah, sounds like it's a PHP thing. https://laravel.io/forum/02-13-2014-i-can-not-get-inputs-from-a-putpatch-request

`¯\_(ツ)_/¯`

Glad you got it working.

[2017-04-20 23:47] mattdeboard commented on #1879
it's not clear to me whether OAS3 will support e.g. `"type": ["string", null]` or if the expectation is that these should not be included in required fields

[2017-04-20 23:52] fehguy commented on #1879
What you show above is not supported, but what _is_ supported is `oneOf` or `anyOf` to allow different types to be described in a single schema.  `null` is not valid in the schema.

[2017-04-21 00:00] mattdeboard commented on #1879
Ok, sorry if I'm forcing you to repeat yourself, but just for my own understanding, what you're saying is that Swagger/OAS has no support for optional/maybe/nullable/whatever types, right? No such thing as `"type": null` or `"type": ["string", null]`, yeah?

If I'm understanding right, is there a way to express this concept in a way that is json-schema compliant?

[2017-04-21 02:27] dl14 opened #2945 "No Content and No Response from server"
I am new to swagger and I generated the Echo example python-flask server. When I run the server, and I access the online UI, I see GET requests on the server but then when I am on the UI and I run any of the operations I get the following:

Response Body:
No Content
Response Code:
0
Response Headers:
{
   "error": "no response from server"
}

I tried different examples and this happened on all of

[2017-04-21 05:28] lekoder opened #2946 "Wrong model titles when composing using allOf"
When composing models using `allOf`, swagger-ui displays wrong model title for composed model. It uses last model referenced in `allOf` instead of one defined.

## Definition:
[code]
## Expected result:
[code]

## Actual result:
[code]

Affected version: **v3.0.0-229-g7790383**

[Ghist with full issue demonstration](https://gist.githubusercontent.com/lekoder/4bd0131c4d1eff7e6ff264a2da3afda6/raw/6e

[2017-04-21 05:39] lekoder opened #2947 "Title not displayed for non-object models"
Models that are not objects (scalars, arrays) have title missing.

## Definition:
[code]
## Expected result:
[code]
## Actual result:
[code]
[Ghist demostrating issue](https://gist.githubusercontent.com/lekoder/c03a0751609829888451909539f315be/raw/0be8864b836ae2aaaed18c01c3995bbfc0c5cbff/swagger-ui-scalar-title-missing.yaml)

Affected version: **v3.0.0-229-g7790383**

[2017-04-21 05:46] lekoder commented on #2947
Same issue is affecting latest master: **v3.0.0-235-g6cd66bb**

[2017-04-21 05:46] lekoder commented on #2946
Same issue is affecting latest master: **v3.0.0-235-g6cd66bb**

[2017-04-21 07:06] icelemon1314 opened #2948 "In SwaggerUIBundle,validatorUrl set it to null will disable validation is wrong"
In SwaggerUIBundle,validatorUrl set it to false will disable validation is right.

version:3.0.6

[2017-04-21 07:38] lekoder commented on #2946
It seems that underlying problem is that schema of model composed with `allOf` has `$$ref` key of last items in `allOf` array.

[2017-04-21 08:19] lekoder commented on #2946
This seems like **swagger-js** issue.

[2017-04-21 08:29] webron commented on #1879
@mattdeboard I believe you found the relevant OAS ticket. `null` value support has been added with the `nullable`property.

[2017-04-21 08:30] webron commented on #2945
Which version of swagger-ui do you use? What does your spec description look like?

[2017-04-21 08:32] webron commented on #2948
What do you mean?

[2017-04-21 09:02] redsux commented on #2936
@fehguy : Done, pr #2950

[2017-04-21 09:45] andrewcharnley commented on #2937
I had to add ieee754 and base-64 to the dependencies list otherwise swagger-tools or ui wouldn't launch (I'm sure it was ui though I assume tools serves that out so it shouldn't be ui). Away from console right now but here's the deps;

I'm using lerna configured to use yarn (2.00, 0.23). Only swagger-ui (or tools!) has these dependencies missing.

[code]

[2017-04-21 09:50] andrewcharnley commented on #2937
Back at console. -rf node_modules and did a fresh install. Will try 3.0.6 to see if that fixes it...

[code]

[2017-04-21 09:59] andrewcharnley commented on #2937
Same in 3.0.6.

Adding it to your dependencies list fixes it.

I can see require("base64-js"), require("ieee754"). My guess is your bundling them in dist.js and they're not being required in properly. I'm unsure how this works but I don't see why swagger-ui is being loaded within node. Here's the loader:

[code]

[2017-04-21 10:14] alexandermikuta opened #2951 "Exclude"
In the former version of swagger ui properties that were used for swagger-codegen (e.g. x-scalaType) were not displayed in the model-section of the swagger-ui-gui.

`  "properties": {
        "sessionToken": {
          "type": "string",
          "description": "The super administrator authorization token.",
          "x-scalaType": "api.login.AccessToken"
        }`

Is it somehow possible to hi

[2017-04-21 10:53] webron commented on #2951
It's neither. If you want to hide it, you could write a plugin that filters those out.

[2017-04-21 11:35] bodnia commented on #2870
@MateuszKubuszok can you please share the spec to reproduce this issue?

[2017-04-21 12:17] alzadude commented on #2906
Hi @shockey

Looking forward to today's release with this fix :) Would you be able to let me know when the release is done so I can check and test?

Thanks :)

[2017-04-21 12:21] webron commented on #2906
@alzadude If you 'watch' the project, you'll get notifications on releases as well (though you'll also get ticket notifications too). In general we try to make releases every Friday, so you can check tomorrow.

[2017-04-21 12:53] dl14 commented on #2945
I haven't installed Swagger UI - do I need too? I have been using the link provided in the readme
http://localhost:8080/v2/ui/
To access the UI on my browser. On the bottom of the site it says API Version: 1.0.0, how do I find the spec description?

[2017-04-21 13:03] webron commented on #2945
ok, so you're getting the UI from whichever integration you use for swagger, not sure which one it is. can you share a screenshot of the UI?

[2017-04-21 13:10] dl14 commented on #2945
<img width="1071" alt="screen shot 2017-04-21 at 9 09 05 am" src="https://cloud.githubusercontent.com/assets/24581854/25278719/40a3081a-2672-11e7-9467-39f7f2e0686e.png">

[2017-04-21 13:32] webron commented on #2945
Somewhat confused by what's going on. It looks like the spec that's being loaded is the one we host publicly as the pet store sample. I don't know why it would do that.

It looks like you're going to have to file a ticket with whichever library produces that.

[2017-04-21 13:48] dl14 commented on #2945
Shouldn't it be? I generated the server from the pet store full example on online swagger editor. Before I try to make my own I wanted to understand an example.

[2017-04-21 14:23] webron commented on #2945
Okay, having that detail in the first place would have helped.

I don't know why the example isn't working. It could be something in the definition is a bit off, could be that it's an old version of the UI with a bug. You can try using the latest UI first to see if it solves the issue.

[2017-04-21 14:25] dl14 commented on #2945
Whoops I thought I mentioned it in my first post but I guess not, sorry about that.

How do I update the online generates UI? Or should I download it to get the latest one?

[2017-04-21 14:26] webron commented on #2945
Yeah, just clone this repo and run it locally. Use the same URL you see in the screenshot to load the spec into the new UI.

[2017-04-21 14:32] jahlborn commented on #2793
Any indications on the priority of this issue?  we are very interested on embedding swagger-ui into our project in the near term, but this is a blocker for us as all our swagger specs are protected by authentication.

[2017-04-21 14:38] webron commented on #2793
The `P2` is the priority. Not top at the moment. If it's urgent to you, please consider submitting a PR.

[2017-04-21 14:44] dl14 commented on #2945
I cloned the repo, and ran dist/index.html on my browser. Then I put http://localhost:8080/v2/ui/swagger.json on the explore box and it says Failed to load spec. Any steps I'm missing in here?

I was following the Download and Usage tab on this [link](http://swagger.io/docs/swagger-tools/#swagger-ui-documentation-29) but do I need to do anything after downloading the ui from git?

[2017-04-21 14:47] webron commented on #2945
Yeah, my bad. It would fail due to CORS. I don't know anything about flask. If you know where the current UI is hosted from in the code, you can simply drop in the new UI in it and run the project again.

[2017-04-21 14:54] dl14 commented on #2945
Hmm I'm not sure how to make those changes either.. Is there anyway to update the online ui?

I'm thinking it has to be a version issue because the server is getting GET requests (I see them on the terminal) when I access the online UI but after that it doesn't receive any requests.

[2017-04-21 14:56] webron commented on #2945
That UI is loaded from the generated app, not online. I really don't know how to update that.

[2017-04-21 15:19] dl14 commented on #2945
Ah okay I see.. So if I generate my own server with basic get and post requests would the version be updated?

[2017-04-21 15:20] webron commented on #2945
If you use the codegen? no. I looks like it wasn't updated with the new UI yet.

[2017-04-21 15:22] alzadude commented on #2906
Ok @webron thanks :)

[2017-04-21 15:27] dl14 commented on #2945
Could it be because when I visit the online [editor](http://editor.swagger.io/#/) I have to click on "Switch Back to previous editor" in order to be able to download the server? So maybe the previous editor is outdated?

[2017-04-21 15:30] webron commented on #2945
No, it has nothing to do with that. The codegen is handled separately.

[2017-04-21 15:30] dl14 commented on #2945
Okay.. so any suggestions on where to go from here?

[2017-04-21 15:42] shockey commented on #2906
@alzadude, I'll do my best to ping you, but releases generally happen at 6PM Pacific time 👍

[2017-04-21 16:16] Shadi355 opened #2954 "Spring Boot [ApiListingReferenceScanner] freezes when deploying to tomcat"
when i am trying to deploy Spring boot app with swagger the deployment freezes on the below line

2017-04-21 19:10:07.731  INFO 3484 --- [ost-startStop-3] s.d.s.w.s.ApiListingReferenceScanner     : Scanning for api listing references

spring boot version : 1.4.1.RELEASE
swagger2 version : 2.6.1

[2017-04-21 17:32] webron commented on #2954
Please open the ticket on springfox.

[2017-04-21 17:32] #2954 closed

[2017-04-22 02:10] #2758 closed

[2017-04-22 05:13] shockey commented on #2758
Everyone - the entire dist folder has been published as [`swagger-ui-dist` on npm](https://www.npmjs.com/package/swagger-ui-dist). Please open a new ticket if there are any lingering problems around this use case.

Thanks for your input, and thanks for using Swagger!

[2017-04-22 09:21] aalleexxeeii commented on #2890
When is it planned to deploy the fix  to http://petstore.swagger.io/ ?

[2017-04-22 14:18] Bert-R commented on #2919
This works fine in 3.0.7. Thanks a lot!

[2017-04-22 23:16] dl14 commented on #2945
I got an example working and I started making my own "library" server that stores books. For some reason, my response body always shows "do some magic!" Which is the default in the minimal example. Anything I'm doing wrong?

<img width="345" alt="screen shot 2017-04-22 at 7 15 40 pm" src="https://cloud.githubusercontent.com/assets/24581854/25309041/22a32132-2790-11e7-9caf-4c8db49e7086.png">

[2017-04-23 00:23] webron commented on #2890
It's deployed now.

[2017-04-23 00:27] webron commented on #2945
I don't understand. It shows it where?

[2017-04-23 01:27] dl14 commented on #2945
The response body for a post or a get is as shown in the image (the one in the image is specifically for a post that I made). However, for the get I know I set the response to be the array of books that get have the specified string as the title so I'm wondering why I only see "do some magic!" as the response body text in the swagger UI.

<img width="960" alt="screen shot 2017-04-22 at 9 24 08 pm"

[2017-04-23 01:41] webron commented on #2945
That's what's returned from the generated code. You'd need to investigate that.

[2017-04-23 01:52] dl14 commented on #2945
Isn't the generated code dependent on the responses that I'm setting in the .yaml file on the editor?

[2017-04-23 01:55] webron commented on #2945
It should be, but it's based on the template you chose. Suggest you check the code.

[2017-04-23 17:29] xuanyimo commented on #1209
How can I use GET?
I can get correct result with `curl -X OPTIONS 'xxxxx'`, but can not get with swagger docs.
So, my server support OPTIONS
POST is working fine by adding `formData`.
Anyone get this problem?

[2017-04-23 22:01] MateuszKubuszok commented on #2870
@bodnia
[swagger.json.zip](https://github.com/swagger-api/swagger-ui/files/950054/swagger.json.zip)

I used `mock-id` and `mock-secret` to for accessing mock data.

I returned to check Swagger UI 3 today (API grew bigger in the meantime) and found out that it is pretty much not working due to https://github.com/swagger-api/swagger-ui/issues/2923. I can prepare smaller example later on.

[2017-04-24 02:08] ghannv opened #2960 "session id in url"
Hi,
I'm trying to create a document for my API and i pass the session id in url like: http://domain/item/list;sessionid=da98f79dasfadsf97.
Does swagger support the url like this?

[2017-04-24 10:05] alzadude commented on #2906
Hi @shockey, I just tried again but I'm still getting the same `TypeError: NetworkError when attempting to fetch resource`.. was there a problem with the release, or the release is delayed for some reason?

Thanks :)

[2017-04-24 10:05] luispabon commented on #2774
Any chance to get this patch-released please?

[2017-04-24 10:09] frol commented on #2774
@luispabon Do you experience any issues with this? In my case, that was just a stupid mistake in the `tokenUrl` (in my `swagger.json`), which included only an absolute path to the `/auth/oauth2/token` instead of a full URL with the domain name. Thus, there is nothing to patch in Swagger-UI.

[2017-04-24 10:13] bodnia commented on #2774
@luispabon can you share your spec to look into this

[2017-04-24 10:20] bodnia commented on #2773
@nextofsearch the priority is that we place example, if it's not provided then default value. If there is no example, default will be displayed in ui.
Please re-open the issue if case of any troubles

[2017-04-24 10:20] #2773 closed

[2017-04-24 10:30] luispabon commented on #2774
@bodnia gonna check @frol's suggestion first :+1:

[2017-04-24 10:43] luispabon commented on #2774
@frol the token url parameter is an absolute path to the auth endpoint.

I had to anonymise and trim out the swagger.json spec as unfortunately I'm under NDA, but the following displays the same issue:

[code]

[2017-04-24 10:46] luispabon commented on #2774
The error is:
[code]

[2017-04-24 10:49] luispabon commented on #2774
Hummmm my apologies, I believe, this issue might be caused by a third party not updating its required swagger ui,

[2017-04-24 11:03] chamilaadhi opened #2961 "Using SwaggerClient with resources with response code 302"
Hi ,
I'm using SwaggerClient (v 2.2.10). I'm calling a resource which returns HTTP status code 302 with a locaiton header. SwaggerClient does the redirection to the location header once it gets the response and my requirement is to only get the 302 response and not do the redirection request (I want to do the redirection from my code )

Is there any possibility to get the response (with 302 status

[2017-04-24 11:28] luispabon commented on #2774
I've updated to 3.0.9 and the error is still the same:

[code]

[2017-04-24 11:38] luispabon commented on #2774
I can see no error output however on FF developer edition 54a2.(doesn't work either though).

[2017-04-24 11:40] luispabon commented on #2774
This is on current master:

[code]

[2017-04-24 11:40] samekmichal opened #2962 "Not-specified scheme should be derived from URL of the definition file"
From Swagger specs:

However, after loading a definition file hosted on `https://localhost:8443/api/spec.yaml` which does not define `schemes` property, the Swagger UI is generating requests using http scheme - instead of https.

[2017-04-24 11:41] bodnia commented on #2774
@luispabon thanks for your comments, I am already looking into this error

[2017-04-24 11:43] luispabon commented on #2774
Thank you Anna, please let me know if I can help in any way.

[2017-04-24 13:32] chassq opened #2963 "NonBodyParameter Pattern Property Working?"
Hey,

I added a Doc filter as follows:

    public class VersionQueryParamDocumentFilter : IDocumentFilter
    {
        /// <summary>
        /// Applies query param to parameters collection. Also adds a tag.
        /// </summary>
        /// <param name="swaggerDoc"></param>
        /// <param name="context"></param>
        public void Apply(SwaggerDocument swaggerDoc, DocumentFilterContext co

[2017-04-24 16:35] shockey commented on #2906
@alzadude, we did release on Friday, my apologies for not pinging you here.

It works for me here: http://petstore.swagger.io/?url=https://imin-platform-api.imin.co/v1/swagger.json

Could you empty your caches and give it another try?

[2017-04-24 16:48] webron commented on #2960
It might, depending on what needs to be variable. The next version of the spec will have better support for it.

[2017-04-24 16:51] webron commented on #2961
Please open the ticket on [swagger-js](https://github.com/swagger-api/swagger-js).

[2017-04-24 16:51] #2961 closed

[2017-04-24 17:01] webron commented on #2963
If the parameter has a fixed value, try setting it to an enum value of it (or not setting it as a parameter at all).

[2017-04-24 17:01] #2963 closed

[2017-04-24 17:02] webron commented on #2962
This should be fixed in the latest release - make sure to use that. Please reopen if still an issue.

[2017-04-24 17:02] #2962 closed

[2017-04-24 17:14] bullsEye173 opened #2964 "hide the Response Model Schema completely in swagger-ui"
I'm using the latest model of swagger 2 and I want to know how to hide the Response Model Schema completely.

Can someone please help me with that??

Thanks,
Dheeraj

[2017-04-24 17:24] webron commented on #2964
You either need to remove it from the spec, or modify the code to do that. There's no configuration option to remove it.

[2017-04-24 17:24] #2964 closed

[2017-04-24 17:45] fmauNeko commented on #2947
Still happening on 4c40fa192bb5d305a37c4b206c62aa8ddb2a7ecf

You can see it there: https://api.heliosconnect.fr/
The 3rd model is an array, and its display is completely broken.

[2017-04-24 18:11] bullsEye173 commented on #2964
Thanks for the prompt response.

Do you have a sample code or example to either remove it from the spec??

-- Dheeraj

[2017-04-24 18:12] webron commented on #2964
I do not, and afraid we don't have the capacity to provide guidancefor such changes. You'd have to dive into the code yourself.

[2017-04-24 18:14] webron commented on #2947
The issue was never marked as fixed. There's no need to keep telling us it's not fixed yet. We know.

[2017-04-25 02:50] kamleshpaliwal-tudip opened #2965 "How to name Array which I am getting in response?"
I have Implemnted swagger for my API documnetion.In there from one of the API I am getting response like this...
{
  "updated_job": [
    {
      "job_id": 2,
      "tutor_id": 1,
      "is_accepted": true,
      "createdAt": "2017-04-24T10:29:22.000Z",
      "updatedAt": "2017-04-25T02:17:31.000Z",
      "id": 10
    }
  ]
}
and in swagger response I can see like this...
[
  {
    "job_id": 2,

[2017-04-25 03:14] webron commented on #2965
For general support questions, please use the [google group](https://groups.google.com/forum/#!forum/swagger-swaggersocket).

[2017-04-25 03:14] #2965 closed

[2017-04-25 03:16] maliqiang opened #2966 "Swagger‘s supported"
Does swagger support scanning the controller and generating API documentation? Can I generate DTO or interface documents?Please guide me, thank you

[2017-04-25 07:09] r-ising commented on #2923
i habe the same issue, i downgrade the swagger ui to 3.0.4 and now it works fine

[2017-04-25 07:50] zifnab87 opened #2968 "Swagger and Apache Zuul integration"
Hi I tried installing swagger on my Zuul api gateway and it doesn't detect api routes of registered microservices through Apache Eureka. Is this something currently supported? How easily could this be implemented?

[2017-04-25 08:37] pqzxc opened #2969 "Reusable object properties?"
Hi everyone,

I think Swagger UI is a great tool - thanks for making it!

I particularly like the fact that you can reuse definitions, parameters and responses to make the YAML code more modular and was wondering if there's any way to do the same for object properties? Some of my object properties are the same as parameters I've defined elsewhere and it would great if I could use a single referenc

[2017-04-25 08:53] seifer commented on #2923
Have the same issue. Guys, can we force up it to p0? We have a broken documentation right now and it's very painful for us.

[2017-04-25 08:56] twawszczak opened #2970 "own css for swagger"
It is not a issue, just a question - is there an easy and elegant way to implement custom css for swagger - ui? Currently, swagger css is injected by JavaScript with whole "layout". To override it i have to use "important" or place my css after head section. Is it there better way?

[2017-04-25 10:37] nmathur opened #2971 "Swagger UI is confused between Route Key and Model Binder's Property when they are same .. any workaround."
Hi there,

This is not an issue, this is a question for help.

I am developing a Web API in ASP.NET MCV using C#.  I have implemented Swagger UI for my API, but I am facing issue in particular situation and need suggestions. I have a model binder class "Order" and Route keys are "customerId", "orderId" (a GET request).

Class is as followes:
[code]

Now when I request and pass values ->
http://mya

[2017-04-25 11:46] bodnia commented on #2844
@redtachyons @drmikecrowe @AvoH could you please test pr https://github.com/swagger-api/swagger-ui/pull/2953 if this works for you properly, then it can be merged. Thank you in advance

[2017-04-25 11:52] Kiolali opened #2972 "No operations defined in spec!"
Hey,

I also get the "No operations defined in spec" error using the swagger-ui. If I directly access the url (http://localhost:8080/<project-name>/rest/api-docs) HTTP 200 is returned and the JSON-file contents is displayed. So displaying it via swagger-ui doesn't seem to work. I pulled the swagger-ui-master branch today. What am I doing wrong?

Thanks in advance!

[2017-04-25 12:10] Kiolali commented on #2972
Version 2.2.10 seems to work (but 3.0.7 not)

[2017-04-25 16:26] webron commented on #2966
For general support questions, please use the [google group](https://groups.google.com/forum/#!forum/swagger-swaggersocket).

[2017-04-25 16:26] #2966 closed

[2017-04-25 16:28] webron commented on #2968
For general support questions, please use the [google group](https://groups.google.com/forum/#!forum/swagger-swaggersocket).

[2017-04-25 16:28] #2968 closed

[2017-04-25 16:29] webron commented on #2969
You can't reference groups of properties, but you can reference individual properties.

[2017-04-25 16:31] webron commented on #2923
@seifer I suggest you downgrade for now then.

[2017-04-25 16:36] webron commented on #2971
Would need to see your Swagger API definition in order to understand what's going on.

[2017-04-25 16:37] webron commented on #2972
Possibly there's an issue with the spec that's breaking the UI. Can you share it?

[2017-04-25 16:38] Minasokoni commented on #2970
@twawszczak Currently we are not using  the webpack `extract-text-webpack-plugin`, so all css is injected into the DOM. With the extract text plugin it will make an actual css file and link to an external stylesheet. I will be making this update soon.

[2017-04-25 16:45] pqzxc commented on #2969
Is there any chance that you could show me a simple example? I couldn't see any examples online (including in the specification).

It would be massively appreciated!

[2017-04-25 16:49] webron commented on #2969
[code]

[2017-04-25 17:17] juanjoLenero opened #2973 "Hide top errors?"
Our swagger.json is lightly modified to display extra information from our api, this results in errors that are shown on top of the screen, but the api below is displayed fine. We would like to hide these errors, as they distract the developers that consume our documentation.

I've tried to set `validatorUrl` to `false/null/undefined` but that doesn't work.

![image](https://cloud.githubuserconten

[2017-04-25 17:21] webron commented on #2973
Those are not validator errors. Which version of swagger-ui do you use?

[2017-04-25 17:31] juanjoLenero commented on #2973
@webron I'm using the dist folder in V3.0.7

[2017-04-25 17:33] webron commented on #2973
Interesting. Can you share your spec?

[2017-04-25 17:37] juanjoLenero commented on #2973
Swagger editor is a little more detailed with the errors.

I'm sure the spec is far from perfect, it's autogenerated from an [npm package].(https://github.com/glennjones/hapi-swagger)
![image](https://cloud.githubusercontent.com/assets/2656008/25399010/99817dc4-29b3-11e7-9df8-a7ba753a1fce.png)

@webron sure, but I would rather not post it publicly, can I mail it to you?

[2017-04-25 17:42] webron commented on #2973
Absolutely. Email in profile.

[2017-04-25 18:17] hughevans commented on #2937
Would be great to officially switch to yarn and remove the references to npm in package.json.

[2017-04-25 18:21] shockey commented on #2937
@hughevans Agree - that's a problem for someone who doesn't have npm.

I'd be jazzed to see a PR that replaces our npm scripts with a Makefile 😄

[2017-04-25 18:28] fernandocamargoti commented on #2915
+1

[2017-04-25 19:29] seifer commented on #2923
@webron Yeah, done it :) When will this issue fix?

[2017-04-25 20:19] webron commented on #2923
When we get around to it. We have limited resources. PRs are welcome.

[2017-04-25 20:54] bimalyn-IBM opened #2975 "CORS and Basic Authenticion Error"
When making a request from `https://hostname/swagger-ui.new/dist/#!/tag1` I receive the following error in the console:

[code]

A few questions:

1. Why is it making a request over http for the first request?
2. Why is there a CORS error if the hostname and port match?
3. Why aren't the basic authentication headers being set?

This behaviour arose after `v2.2.10`.

Here is a reduced version of my

[2017-04-25 20:56] webron commented on #2975
Which version of swagger-ui did you try it with?

[2017-04-25 21:01] bimalyn-IBM commented on #2975
I tested it with `v3.0.3` - `v3.0.7`, and they all behaved in the same manner.

[2017-04-25 21:11] webron commented on #2975
It would be difficult to test this without a proper setup. Can you create a sample app we can run to take a look at it?

[2017-04-25 21:49] shockey commented on #2889
Looks like it was introduced into the static build here: https://github.com/swagger-api/swagger-ui/commit/dd8fb58fcd50c0f0639e540d03a273557a66cf9e

[2017-04-25 22:50] bimalyn-IBM commented on #2975
Here is a very simple app that I just though together: [https://github.com/bimalyn-IBM/swagger-test-app-v3-cors-auth](https://github.com/bimalyn-IBM/swagger-test-app-v3-cors-auth).

I am running everything though that included nginx config file.
Again it works in `2.x`, but not in `3.0.7`

[2017-04-25 22:53] bimalyn-IBM commented on #2975
I just added the CORS part to my nginx config today when I started to use `3.0.7`

[2017-04-25 23:01] bimalyn-IBM commented on #2975
You'll also need to change the host on line 13 of `server.js`

[2017-04-25 23:26] webron commented on #2975
Thanks for the sample, but I'm not really sure how to run that to reproduce the issue. Can you provide more details?

[2017-04-25 23:42] shockey commented on #2889
@webron, thanks for the hint. You just saved me a couple additional hours of debugging 😄

The problem has been isolated to swagger-js, writing regression tests and looking for a fix now.

[2017-04-25 23:50] bimalyn-IBM commented on #2975
Sure.

Install node, and then run `npm install` in the folder of code I wrote, and then run `node server.js`

At this point you should be able to access the endpoints `/pkg/static` and `/pkg/swagger.json` on `http://localhost:3000` (ie `http://localhost:3000/pkg/static`)

Install nginx, and either add that nginx conf inside of your main config or add it to the `conf.d` folder inside of the nginx d

[2017-04-26 00:06] bimalyn-IBM commented on #2975
So you should have
[code]

[2017-04-26 03:38] shockey commented on #2889
Problem introduced here: https://github.com/swagger-api/swagger-js/commit/4e2dff33e75744e9

[2017-04-26 04:49] nmathur commented on #2971
Hi There,

Here I am sharing code from SwaggerConfig file -

[code]

[2017-04-26 06:39] Kiolali commented on #2972
I did this Tutorial: http://jmchung.github.io/blog/2013/12/14/integrating-swagger-into-jax-rs-with-java-ee-6-specification/

So the json file is automatically generated:

{"apiVersion":"1.0.0","swaggerVersion":"1.2","apis":[{"path":"/hello","description":"Say Hello!"}]}

[2017-04-26 08:21] nblackburn opened #2976 "Write a small guide on including Swagger UI"
I think it would be good to write a small guide to get started with the new Swagger UI.

It's not good practice to clone and edit the code directly as it would break every time you make updates so a guide on setting up a layout and registering it with swagger and webpack would be great in helping people to get started as it currently feels a little clunky to get there.

[2017-04-26 09:41] alzadude commented on #2906
Hi @shockey it seems to be working now :) with one exception:

When I add an an api key authorization header, even though the curl output shows HTTPS, I still get the `TypeError: NetworkError when attempting to fetch resource.` error. :(

I am wondering if this is the same issue, or a new issue?

Thanks :)

[2017-04-26 09:57] sberyozkin opened #2978 "Support for a relative url parameter is not complete in 3.0.7"
Hi, when I enter a relative 'url' parameter in a browser, when requesting Swagger UI (3.0.7), I still see 3 minor issues:
1. Relative url value is still shown the Explore window, in UI 2.x it was correctly converted to the absolute URL
2. Application Link text (directly under a [Base url ...]) still shows a relative url, while the actual link value is correct
3. Online Validator fails because a re

[2017-04-26 10:07] pqzxc commented on #2969
Thanks for your reply, @webron - I'm very grateful for your help with this.

So, just to confirm: reusable properties must be stated in /definitions and there's no way of having a properties module (/properties) that is separate from definitions?

A further question: I can extend parameter references (i.e. add extra information not included in the reference) but can't do this with property referen

[2017-04-26 12:17] fernandocamargoti commented on #2915
In my case, I've defined an API KEY Auth with an Authorization header. I've also created a basic JWT with no expiration time that will only work on development (the dev secret was used to sign it). If I click on the Authorize button and type "Bearer <JWT>", it works. But I'd like to simply have it pre-configured instead of having to type it everytime. Isn't it a simple javascript snippet that I ca

[2017-04-26 13:22] fernandocamargoti commented on #2915
After quite some time spent trying to figure it out, I found a workaround to do what I wanted. Basically, right after the basic configuration (index.html), I added the following code:

`ui.authActions.authorize({JWT: {name: "JWT", schema: {type: "apiKey", in: "header", name: "Authorization", description: ""}, value: "Bearer <JWT>"}})`

This is how my security definition is:

[code]

[2017-04-26 14:33] rlogiacco commented on #1679
@webron do you mean swagger-ui version 3.0? Is this the upcoming release? The latest downloadable version is still in the 2.x range....

[2017-04-26 14:38] rlogiacco commented on #1679
Problem is still there, using latest dist `3.0.7`: if that was previously gone it might be a regression...

I can get around this issue by removing a direct circular dependency with ClassA containing a list of ClassA, but that destroys my API

[code]

[2017-04-26 14:49] rlogiacco commented on #1679
I confirm it was some sort of regression: latest working version is `3.0.4`, starting with `3.0.5` the `Resolver errorMaximum call stack size exceeded` is back.

Please re-open

[2017-04-26 15:11] webron commented on #2971
@nmathur Can't do much with the code. I'd need the JSON or YAML representing your API (generated by Swashbuckle).

[2017-04-26 15:11] #2774 closed

[2017-04-26 15:12] bodnia commented on #2774
@luispabon the fix is in the latest master, please test

[2017-04-26 15:12] webron commented on #2972
Following a tutorial from 2013 will normally lead you to outdated information. You ended up with an old version of the spec which is not supported by the UI anymore. Please refer to the 1.5.x integration guides at https://github.com/swagger-api/swagger-core/wiki.

[2017-04-26 15:12] #2972 closed

[2017-04-26 15:13] bodnia commented on #2908
@lakmali @kevinsookocheff-wf @jniemin could you please test latest master. If still experiencing the issue please re-open.

[2017-04-26 15:13] #2908 closed

[2017-04-26 15:16] webron commented on #2906
@alzadude can you share a spec to reproduce?

[2017-04-26 15:18] webron commented on #2969
You can't add extra properties next to $ref's anywhere, regardless of the location of the reference.

[2017-04-26 15:19] webron commented on #1679
There's a separate ticket for that, no need to reopen.

[2017-04-26 15:28] pqzxc commented on #2969
I just double checked to make sure I'm not hallucinating and I can assure you that this bit of code definitely works in my project:

[code]
with the reusable id parameter defined like this:
[code]
Perhaps this is an unexpected hack?

If it isn't supposed to work next to a $ref parameter then it's not surprising that it doesn't work next to a $ref property. Thanks for confirming that this isn't sup

[2017-04-26 15:47] webron commented on #2969
There's a difference between parameters and properties. In your original example you were actually referencing a property, not a parameter.

The spec does support referencing parameters as well, but the `description` you attach in the example above will be ignored.

[2017-04-26 15:55] pqzxc commented on #2969
You're absolutely right about my original example and you've been very helpful in clarifying the difference between parameters and properties - thanks again for your help.

However, I can assure you that my example above works in Swagger UI 2.2.8 and `description` doesn't get ignored. In fact, I've been making extensive use of this feature throughout my project because it's very useful to be able

[2017-04-26 15:58] webron commented on #2969
It doesn't get ignored in 2.2.8 because it's a bug there, not because it's a bug in 3.x :) I'm afraid the spec doesn't support that (the 3.0.0 spec that's coming out soon makes that clearer, but it doesn't change the behavior).

[2017-04-26 16:03] pqzxc commented on #2969
It should be a feature, not a bug! It's so useful! :smile:

[2017-04-26 16:07] webron commented on #2969
That would suggest it can be done, but it can't. It introduces too many complexities that we can't deal with. It might change in the future in the spec, but until then, don't expect it to work in the UI.

[2017-04-26 16:27] pqzxc commented on #2969
OK, thanks for the advice!

[2017-04-26 16:45] #2969 closed

[2017-04-26 19:28] AlJohri opened #2980 "pre-select default values for enum array?"
Does the UI currently pre-select default values for an enum array? I can't tell if I'm specifying the spec wrong or if this is not supported by the UI.

UI looks like this:
![screen shot 2017-04-26 at 3 27 16 pm](https://cloud.githubusercontent.com/assets/2790092/25452802/da996a06-2a94-11e7-9058-5a8469d8d79c.png)

Note that the `sort` parameter has no preselected values while the `fields` paramete

[2017-04-26 19:41] shockey commented on #2892
On closer inspection, this looks like a duplicate of https://github.com/swagger-api/swagger-ui/issues/2889.

[2017-04-26 19:51] webron commented on #2980
I don't think the UI does that.

[2017-04-26 22:43] dotasek opened #2981 "Inconsistent Markdown Newlines"
In the info description, newlines work as expected, producing a blank line between ```Something in a line``` and ```And something in a **new** line``` but in operation descriptions, the blank line doesn't appear. The schema below illustrates.

[code]

[2017-04-26 22:44] webron commented on #2981
Which version of swagger-ui do you use?

[2017-04-27 01:02] shockey commented on #2937
Looks like Webpack is adding these modules to the build automatically, and our `externals` settings for the core files are interfering with it pulling in the module content.

I'm adding exceptions for these two modules to that logic.

[2017-04-27 02:42] #2937 closed

[2017-04-27 02:45] shockey commented on #2937
Should be fixed in master - please reply here if this continues to be an issue 😄

[2017-04-27 03:01] jaydreyer opened #2984 "Swagger-ui issue with container class?"
Hi all,

Using the latest 3.0.7 version of swagger-ui.

I'm trying to integrate it into our developer portal, which is built using angular 1.3 and bootstrap. When the doc ui loads it looks fine but the resource/paths section blows out to the right. If I go through dev-tools in chrome and remove the "container" class from the line `<section data-reactroot class="swagger-ui container">` it looks fin

[2017-04-27 04:23] shockey commented on #2984
We aren't using bootstrap on our end, so this just sounds like a CSS class collision.

@Minasokoni, can you advise on how difficult it would be to change our container class to something like `swagger-container`?

[2017-04-27 05:27] dee-lewis commented on #2937
Hello, I'm getting an issue with this commit.

webpack-dist.config.js:27
    let exceptionsForWebpack = ["ieee754", "base64-js"]
    ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

[2017-04-27 05:43] shockey commented on #2937
Ah, you must be on an older Node. I'll change it to var - one sec

[2017-04-27 05:45] samekmichal commented on #2962
Isn't http://editor.swagger.io running the latest release?

[2017-04-27 06:03] shockey commented on #2937
@dee-lewis, can you give it a try now?

[2017-04-27 06:07] dee-lewis commented on #2937
it works

[2017-04-27 06:07] dee-lewis commented on #2937
also updating my node version from 5.3 to 7.9 let works now

[2017-04-27 06:34] webron commented on #2962
Normally, unless we forget to update it ;)

[2017-04-27 07:33] jniemin commented on #2908
Yep, the master is working correctly when using `type: request body`. My server doesn't support basic or as query params, so I can't test those. Thanks @bodnia

[2017-04-27 07:39] maliqiang opened #2986 "How to intergrating spring with swagger v3.0.7"
Swagger v3.0.7 how to integrate with the spring, why I integrated the list does not show api, just show swagger welcome page? 2.0 version of my integration no problem?

[2017-04-27 08:57] luispabon commented on #2774
@bodnia thank you, I'm doing it now

[2017-04-27 09:01] luispabon commented on #2774
@bodnia I can confirm this issue is now fixed, thanks for the hard work :+1:

[2017-04-27 10:33] bodnia commented on #2908
@jniemin thanks for your cooperation

[2017-04-27 10:34] bodnia commented on #2774
@luispabon thank you for the assistance in testing :)

[2017-04-27 10:45] andrewcharnley commented on #2937
Thanks. I can see it's fixed on master, is it possible to tag with a minor/patch release flag instead of just 3.x?

Regards, Andrew

[2017-04-27 12:29] Kiolali commented on #2972
I have the same behavior when using swagger-core 1.5.x and Jersey 2.x
(following this tutorial:
https://github.com/swagger-api/swagger-core/wiki/Swagger-Core-JAX-RS-Project-Setup-1.5.X
)

[2017-04-27 13:44] DavidBiesack opened #2987 "Resolver error Maximum call stack size exceeded"
package.json says "version": "3.0.7",

when viewing a openapi.yaml document we get in the UI:

Errors

Resolver error
Maximum call stack size exceeded

Resolver error
Maximum call stack size exceeded

the Js console shows

Uncaught (in promise) RangeError: Maximum call stack size exceeded
    at a (swagger-ui-bundle.js:13488)
    at swagger-ui-bundle.js:11329
    at I.__iterate (swagger-ui-bundle.

[2017-04-27 14:06] TuureKaunisto commented on #2915
@fernandocamargoti Is the code you pasted here in a public repo? It would be super helpful to take a look at the full working code since I couldn't get the latest version Swagger UI to send the Authorization header even with the code you mentioned.

[2017-04-27 14:10] webron commented on #2986
It depends on how you integrate it with your app. Assuming you use SpringFox, I know they provide a swagger-ui webjar, but I don't know if it's updated to the latest version. You can always deploy the files as statically hosted files in your webapp, and simply point it to the spec that's being produced by springfox.

[2017-04-27 14:11] webron commented on #2937
@andrewcharnley we try to make official releases every Friday.

[2017-04-27 14:14] webron commented on #2987
@DavidBiesack this is likely #2923. Do you have circular reference in your spec?

[2017-04-27 15:27] Minasokoni commented on #2984
@shockey Should be really quick let me make a PR.

[2017-04-27 15:27] rgant opened #2988 "Not Including Host Field In Spec Does Not Assume Documentation Host"
- swagger-ui version 3.0.5~7~
- a swagger file reproducing the issue: [swagger-without-host.json.zip](https://github.com/swagger-api/swagger-ui/files/962036/swagger-without-host.json.zip)
- The SwaggerUIBundle is setup like so:
[code]

According to the spec if the `host` field isn't set then:

However it does not seem like that is being handle when you execute a Try it out:
<img width="1210" alt="

[2017-04-27 15:28] Sidesplitter opened #2989 "Swagger encodes multipart/form-data"
Whenever parameters are sent throughout a form with multipart/form-data, Swagger-ui 3.0.7 will encode this form data. This causes some servers to not accept the request, since they do not expect encoded data.

Current behaviour:
[code]

Expected behaviour:
[code]
The corresponding swagger.yaml:
[code]

I'm not sure whether this is expected behaviour or not, but I could not find anything on this is

[2017-04-27 15:30] rgant opened #2990 "How to Sort Paths in UI"
When reporting an issue, please provide the following details:
- swagger-ui version 3.0.7

In the past I was able to configure alphabetical sorting in SwaggerUI config:
[code]

I don't see those options any longer. Is there a way to configure SwaggerUIBundle to sort the paths?

[2017-04-27 15:35] DavidBiesack commented on #2987
By circular, do you mean a model that has a $ref to itself (or indirectly)?
If so, yes, that is the case - we have models named user and group and a group
contains an array of users or groups. I'll close this and follow #2923.

[2017-04-27 15:35] #2987 closed

[2017-04-27 15:43] DavidBiesack commented on #2923
The root cause is a model that has a $ref to itself. The example in the OP was direct, it may happen with an indirect cycle as well. Also note that swagger-editor has the same problem - would this imply this is in shared code (perhaps swagger-js)?

[2017-04-27 16:05] jaydreyer commented on #2984
@Minasokoni's change worked perfectly. Thank you @shockey and @Minasokoni !

[2017-04-27 16:07] bodnia commented on #2844
@AvoH thanks for your feedback in PR, could you please test latest master and re-open issue if there is anything wrong. Thanks

[2017-04-27 16:07] #2844 closed

[2017-04-27 16:20] dotasek commented on #2981
Occurs in 3.0.7

[2017-04-27 16:39] webron commented on #2923
The source is in swagger-js indeed. We're actively investigating the issue.

[2017-04-27 16:44] webron commented on #2990
These options were added this week and should be available in master. Will be released tomorrow.🤞

[2017-04-27 17:14] #2870 closed

[2017-04-27 17:15] bodnia commented on #2870
@MateuszKubuszok @travisbrkr1234 can you please test the latest master and re-open the issue in case of any bugs. thank you

[2017-04-27 17:36] liuya05 opened #2994 "How to default the opblock-tag-section to collapsed?"
I am trying to migrate from version 2.1.5 to version 3.0.7.

With the old version, we set docExpansion: "none".  It seems this parameter is no longer supported in the new version.  When we open the page, it seems default to "list".  What can I do to make it displays the same as before?

I was able to manually make changes in swagger-ui-bundle.js file so that it defaults to collapsed.  But I would

[2017-04-27 17:48] liuya05 opened #2995 "Is there any way to ignore certain type of errors?"
I am working with version 3.0.7.

I have a spec that reference an external swagger doc which have some missing definitions.  These definitions are not directly referenced from my doc.  But they are referenced from the definitions referenced by my doc.  So when I open the page, I got a list of errors saying: "Could not resolve pointer: ...".

This error doesn't prevent me from using the swagger doc

[2017-04-27 20:59] soluwalana opened #2996 "Tag Order Is No Longer Respected"
Swagger-UI Version 3.0.7. Tags no longer respect the order from the server I suspect it is because of this line right here, which turns it into a set rather than a list with the original order.

https://github.com/swagger-api/swagger-ui/blob/7790383ba6c9bc4f3a4c6c7f1f5c4a10318adaa0/src/core/plugins/spec/selectors.js#L194

[2017-04-27 21:23] webron commented on #2996
Duplicated of #2790.

[2017-04-27 21:23] #2996 closed

[2017-04-28 02:19] shockey commented on #2923
Hi everyone - we just merged the PR that fixes this in swagger-js, and you can expect the fix to be in our Friday release tomorrow evening 😄

[2017-04-28 02:20] shockey commented on #2889
Hi everyone - we just merged the PR that fixes this in swagger-js, and you can expect the fix to be in our Friday release tomorrow evening 😄

[2017-04-28 02:22] shockey commented on #2892
This is not a duplicate - I'll dig into this shortly.

[2017-04-28 03:12] #2984 closed

[2017-04-28 03:50] shockey commented on #2988
@rgant, I'm not able to produce this with [v3.0.7](https://github.com/swagger-api/swagger-ui/releases/tag/v3.0.7) (using dist folder from commit b289d59, with your test spec served from https://acceptable-operation.surge.sh/swagger.json). Try-It-Out hits `https://acceptable-operation.surge.sh/v3/service-collections`, as I would expect.

![image](https://cloud.githubusercontent.com/assets/680248/25

[2017-04-28 05:37] shockey commented on #2884
@webron, before I mark this as Ready, can you give me a summary of how we want this to work in 3.x? Thanks!

[2017-04-28 06:52] Kiolali commented on #2972
I have the same behavior using Swagger-Core 1.5.X and Jersey 2.X following this guide: https://github.com/swagger-api/swagger-core/wiki/Swagger-Core-JAX-RS-Project-Setup-1.5.X#adding-swaggers-dependencies-to-your-project

Displaying http://petstore.swagger.io/v2/swagger.json via Swagger UI is no problem (after enabling CORS). But trying to display http://localhost:8080/<project-name\>/rest/xyAPI v

[2017-04-28 07:39] Kiolali commented on #2972
maybe my urls are wrong?

This is my Application class:

[code]

then adding CORS-Filter-Class and myClass.

in index.html of SwaggerUI:

[code]

[2017-04-28 09:18] nmathur commented on #2971
@webron Sorry, tried a lot, searched on web ... but due to less knowledge I am unable to generate swagger JSON or YAML. But here I am sharing something that may help you to guide me.

Curl for request is ->
curl -X GET --header 'Accept: application/json' 'http://localhost:49397/customer/{CustomerId}/order/{OrderId}?customerId=2&orderId=2'

Also attaching the screen-shot of API Doc.
![query](https:

[2017-04-28 12:31] eric-tucker opened #2998 "Please make text box at top used to input URL for swagger spec file wider"
Current width is 350px and this is too short for most URLs.

There's lots of room on desktop to make this far wider.  Is this a mobile thing?  I made it 700px long on my machine and it's much nicer.

[2017-04-28 13:04] eric-tucker opened #2999 "Please make enter key submit on the explore text box at the top"
As title states.  Enter key should submit this form.

[2017-04-28 14:36] rgant commented on #2988
Hmm, it seems I was 3.0.5 instead of 7. In 3.0.7 this issue is resolved.

It's hard to tell what versions you are on since the dist files don't include a version number. Sorry about that.

[2017-04-28 14:36] #2988 closed

[2017-04-28 14:37] GeekyTex opened #3000 "Any guidance on rendering Swagger-UI in a react app?"
Hey guys,

Liking the new direction in Swagger-ui v3!

Our organization has found a ton of value in swagger/Open-API specs and using Swagger-UI to host interactive versions of our APIs.

I've been working to extend our (internal) capabilities by creating a pretty light-weight, React based, single-page app that can display all of our uploaded spec files and dynamically render them (with different b

[2017-04-28 14:47] shima-mahmoud opened #3001 "I want to make the documentation manually, how Can I do that, a year ago, I was able to do that on the web site by filling some forms, Now I am able to reach that facility"
When reporting an issue, please provide the following details:
- swagger-ui version
- a swagger file reproducing the issue

[2017-04-28 15:10] webron commented on #2971
@nmathur take a look at https://github.com/domaindrivendev/Swashbuckle#getting-started - you want the 'Swagger docs' url.

[2017-04-28 15:12] webron commented on #2998
@Minasokoni - this is at your discretion.

[2017-04-28 15:14] webron commented on #2999
Duplicate of #2748.

[2017-04-28 15:14] #2999 closed

[2017-04-28 15:15] webron commented on #3001
Use http://editor.swagger.io/ or clone https://github.com/swagger-api/swagger-editor and run it locally.

[2017-04-28 15:15] #3001 closed

[2017-04-28 15:43] Minasokoni commented on #2998
@eric-tucker no problem

[2017-04-28 16:07] shockey commented on #2998
Fixed in #3002 😄

[2017-04-28 16:07] #2998 closed

[2017-04-28 16:07] shockey commented on #2748
Fixed in #3002 😄

[2017-04-28 16:07] #2748 closed

[2017-04-28 16:13] shockey commented on #2988
Thanks for the update @rgant. You raise a good point - I'll open a ticket to add a version ref to the project.

[2017-04-28 16:17] shockey opened #3003 "Expose version and commit UI was built from"
As mentioned in https://github.com/swagger-api/swagger-ui/issues/2988#issuecomment-298015382.

Proposed solution: attach a variable to the global scope, like so:

[code]

[2017-04-28 17:46] #3003 closed

[2017-04-28 18:10] webron commented on #2972
`beanConfig.setResourcePackage("io.swagger.resources");` should point to your own resources.

[2017-04-28 21:27] benwbooth commented on #2990
I checked the source code. I see the `operationsSorter` option is implemented, but it doesn't look like `apisSorter` is implemented yet. It's storing the operations in an unordered Map, then iterates over the map, producing an alphabetical ordering.

[2017-04-28 21:43] webron commented on #2995
@shockey we should be suppressing all error messages in the UI.

[2017-04-28 21:44] webron commented on #2994
It's just not implemented yet.

[2017-04-28 22:20] webron commented on #2975
It took a long time to set up, but I'm not seeing the issue you mention.

[2017-04-29 00:24] arthurdm commented on #2765
+1

[2017-04-29 02:50] shockey commented on #2923
Note: Circular references still aren't rendered correctly, but UI no longer crashes, which is good.

We will open a successor ticket for correct rendering functionality.

[2017-04-29 02:55] #2923 closed

[2017-04-29 02:55] #2889 closed

[2017-04-30 07:07] nmathur commented on #2971
Hello, thanks for rep;y .. find this:

{"swagger":"2.0","info":{"version":"v1","title":"SwaggerNM"},"host":"localhost:49397","schemes":["http"],"paths":{"/customer/{CustomerId}/order/{OrderId}":{"get":{"tags":["Customer"],"operationId":"Customer_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"customerId","in":"query","required":tru

[2017-04-30 09:47] bjne opened #3006 "Multiple issues"
1) Sorting of operations is by default based on the _order of a unordered object_ (but can be set in operationsSorter)
2) Same goes for tags/apis, based on the order of a unordered object, and not even able to override (apisSorter is gone)
3) Not "possible" to override css without rebuilding
4) Tags actually _are_ ordered in the /tags array, so it would be logical to base ordering by default on th

[2017-04-30 19:42] ajaysaini-sgvu opened #3007 "Swagger ui is not loading swagger api json"
I have made api documention with the help of swagger-editor. Now I want see it graphically with the help of swagger-ui. I have deployed my json here https://powerful-escarpment-92284.herokuapp.com/swagger.json

Now When I am trying to access it then I am getting an error "Failed to load spec." https://i.stack.imgur.com/DGIgf.png

[2017-05-01 00:22] MateuszKubuszok commented on #2870
@bodnia  It seems to work for me now, thanks!

[2017-05-01 00:26] flytosm opened #3008 "How to add logic into "Try it out!" button."
Hi, all
I got a problem when I use swagger(springfox) to create the dynamic document.
I hope someone can help me.
When Document reader want to try out the api, an parameter can not be input by reader, it should be generated by some logic (need to use input parameter and request url).
May I customize the swagger ui, and add the logic into "Try it Out" button.
Is there anyone could share me the deta

[2017-05-01 01:30] phye commented on #1244
@darrenleeweber Thanks for this finding! Indeed solved my problem 👍

[2017-05-01 07:22] sgyang commented on #2923
I don't care whether the rendering is ok or not for now., but UI still crashes. It seems that PR solves only self-reference thing.
https://gist.githubusercontent.com/JohnRudolfLewis/10c2202d251bee2c820f3167b64edd6d/raw/331ac5cc351c362b54453a818c2665114fba22fa/Swagger.yaml
But if the definitions have indirect cycles, the UI crashes.
https://raw.githubusercontent.com/oasis-tcs/odata-openapi/master/e

[2017-05-01 14:42] bimalyn-IBM commented on #2975
So you are able to preform the `GET`, both while authenticated and not, to get the the `You passed` message and the error message respectively? On `v3.0.7`?

[2017-05-01 15:39] leochr commented on #2765
+1

[2017-05-01 15:42] aaronfullerton commented on #3000
I'd also be extremely interested in learning if there is a recommended way to consume SwaggerUI in a React application without importing the entire build. If there's currently not a way to do this, I would be more than happy to create a PR, if I could get a nudge in the right direction from the team.

For anyone who just wants to embed SwaggerUI in a React application, here's a simple component th

[2017-05-01 17:13] shockey commented on #2923
@sgyang, can you open a new ticket for this issue? The original issue in this thread is fixed, so I'd like to avoid needlessly CCing everyone above.

Also, it'd be great if you can provide a simplified test case, like the one in the first link you provided. Full specs are hard to work with on our end, since it can be difficult to isolate the problem - I wasn't able to create an indirect reference

[2017-05-01 17:22] shockey commented on #2970
Closing b/c no replies. @twawszczak, please reply if you have any lingering questions 😄

[2017-05-01 17:22] #2970 closed

[2017-05-01 19:47] aalleexxeeii opened #3009 "Wrong Content-Type for multipart/form-data"
When there is an optional file parameter and it is not specified, swagger-ui submits Content-Type: text/plain instead of multipart/form-data.
Example: [swagger.yaml.txt](https://github.com/swagger-api/swagger-ui/files/968646/swagger.yaml.txt)

[2017-05-01 19:51] webron commented on #3009
Which version of swagger-ui?

[2017-05-01 21:48] supsup opened #3010 "Method to set 'Api key authorization'"
v3

1. user goes to http://petstore.swagger.io/
2. user clicks authorize
3. user scrolls down to  'Api key authorization'
4. user enters value
5. user submits form

Actual: Nothing wrong, I just want to do this with a method call instead of having to use a form.

Ideal flow:
Access to helper method like
`ui.auth.apiKey = 'foobar'`

[2017-05-01 23:21] shockey commented on #3007
I'm getting this error:

You need to set up your Heroku application to provide [response CORS headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#The_HTTP_response_headers) in order to allow Swagger-UI on a different origin to access your `swagger.json`. This is not a limitation of our project - it's a security mechanism built into all browsers 😄

[2017-05-01 23:50] #2808 closed

[2017-05-02 02:35] shockey commented on #3000
Thanks for the kind words @GeekyTex!

So far in v3, we have prioritized support for non-React use cases because they're the largest swaths of users of the tooling. We have a few interfaces available, but a top-level React wrapper is not something we have yet. That said, we do _not_ want to turn a blind eye to the growing React dev community, so this feedback is super helpful.

Have you happened to

[2017-05-02 05:12] ajaysaini-sgvu commented on #3007
@shockey Thanks! How did you get to know about this.

Are you using any tool ?

[2017-05-02 05:20] shockey commented on #3007
@ajaysaini-sgvu No special tools, I just opened my browser's built-in Developer Tools and looked at the console output.

[2017-05-02 05:25] ajaysaini-sgvu commented on #3007
@shockey Thank a lot! It worked for me :+1:

[2017-05-02 05:25] #3007 closed

[2017-05-02 06:54] ChandrakantRathod opened #3011 "Swagger UI - Can we add new button like "Try it out"?"
Swagger UI - Can we add new button like "Try it out"?

![image](https://cloud.githubusercontent.com/assets/26959397/25607027/384ace50-2f32-11e7-8c35-bb4e80291529.png)

I have to change name of button "or" wanted to add new button similar like "Try it out" button.
Can we do?

At present I have downloaded source code from below link
GitHub: https://github.com/swagger-api/swagger-ui

But in that sour

[2017-05-02 07:24] Kiolali commented on #2972
Thanks!

[2017-05-02 07:27] aalleexxeeii commented on #3009
The version currently deployed on http://petstore.swagger.io/

[2017-05-02 08:38] anhchienhoang commented on #2827
Confirmed that it works well. Thanks.

[2017-05-02 08:47] sgyang opened #3012 "UI crashes when the definitions contain circular references"
v3.0.8 tries to fix #2923 #2889, but it seems the essential issue still exists.
It fixes only self-reference thing:
http://petstore.swagger.io/?url=https://gist.githubusercontent.com/sgyang/6dc266a27871ed6da9aaaa8ff144b683/raw/06d9f5d5193bfcb50c22ee04f9b3aaf9c863a8eb/ok-swagger.yaml
But if the definitions have indirect mutual references, the UI crashes with maximum call stack size exceeded error:

[2017-05-02 09:27] dpeger opened #3013 "Swagger-UI ignoring explore url"
When entering a custom URL into the explore URL field on http://petstore.swagger.io/? this URL will completely be ignored and swagger-ui will always use http://petstore.swagger.io/v2/swagger.json as API spec source.

One can provide a custom URL by adding the `url=<custom-swagger-spec>` query parameter (e.g. http://petstore.swagger.io/?url=https://github.com/swagger-api/swagger-ui/files/832086/swa

[2017-05-02 10:59] ponelat opened #3014 "Create a separate commit for builds, much easier to merge/rebase"
@shockey @bodnia @webron
The `/dist` folder often comes into merge conflicts, making feature branches difficult to keep clean and up to date.

Is it possible to enforce a rule ( "enforce "), whereby the `build` happens on its own commit? That way an interactive rebase becomes a smooth operation ( since we just ignore all those build commits, which are useless in a rebase ). The ends are still met,

[2017-05-02 11:00] ponelat commented on #3014
PS: I think this does happen ( sometimes ). So just making it official?

[2017-05-02 12:50] JustinPealing commented on #3013
I'm having a similar issue (updating the URL and then pressing explore resets the URL back to the petstore). I've done some digging and it looks like the `downloadUrl` function in `plugins\topbar\topbar.jsx` needs modifying:

    downloadUrl = (e) => {
      this.props.specActions.updateUrl(this.state.url)
      this.props.specActions.download(this.state.url)
      // This line is needed to preven

[2017-05-02 12:52] dpeger opened #3015 "Modify request base path based on endpoint URL"
I have a Spring application with multiple JAX-RS servers. That is some services are deployed at `<my-server>/api/mammals` and others at `<my-server>/api/reptiles`. The `mammals` and `reptile` part of the service paths are not reflected in the `@Path` annotation of the services as this is a deployment option, that is configured in the Spring configuration classes.

Before swagger-ui 3.0.X I was abl

[2017-05-02 14:14] jaydreyer commented on #2813
Gah. Still struggling with this, @shockey . I'm trying to override info.jsx. I can make changes to the original one, but would prefer to make a plugin and override as you suggested above.

So, I created /plugins/info, which contains /index.js and /info.jsx - info.jsx is the original with changes I made. /core/components/info.jsx is back to its original state.

/plugins/info/index.js contains
[code

[2017-05-02 15:32] andrewcharnley opened #3016 "window not defined"
Latest on npm (3.0.8). 3.0.7 is ok. Given it broke last week as well it needs mentioning this project is way too unstable for distribution with swagger-tools.

````ERROR ReferenceError: window is not defined\n    at Object.<anonymous> (/home/osboxes/git/lerna-repo/packages/process-rtx-api/node_modules/swagger-ui/dist/swagger-ui.js:1:3485)\n    at t (/home/osboxes/git/lerna-repo/packages/process-rt

[2017-05-02 16:01] GeekyTex commented on #3000
Thanks for the replies @aaronfullerton and @shockey 😃

No, I didn't hit that one specifically, though I'm fairly confident my original approach broke well before I'd even get to that point 😉

I have made progress though! A **huge** thanks to @aaronfullerton for steering me in the right direction. In my initial attempts, I was getting very vague react timer errors (I tried to revert back to the ini

[2017-05-02 16:07] shockey commented on #3000
cc @ponelat! i know you're dealing with this/will be soon.

[2017-05-02 17:15] webron commented on #3011
The source is in the `src` folder...

[2017-05-02 17:19] shockey commented on #2813
@jaydreyer It is indeed a silly problem.... you need to return `components: { info: Info }`.

This is our fault, see here: https://github.com/swagger-api/swagger-ui/blob/master/src/core/presets/base.js#L69

We're not 100% consistent with how we're casing our components 😞 I'd love to change it, but it'd be a breaking change, which takes some planning.

[2017-05-02 17:38] webron commented on #3015
Anything is possible, but I'm afraid we don't have the capacity to go into how to modify this at the moment. You can basically run plugins to touch any part of the flow of the code.

That said, it sounds like you're trying to solve the issue from the wrong direction. If your API is split across multiple servers, it makes sense to either have multiple API descriptions (one per server) or control cu

[2017-05-02 17:57] shockey commented on #3016
@andrewcharnley Thanks for reporting this - sorry you're having issues.

I assume this is happening on page load? How are you using Swagger-UI? I need some more information in order to reproduce this.

[2017-05-02 18:11] jaydreyer commented on #2813
Perfect! Thank you.

[2017-05-02 18:51] shockey commented on #3016
Made a fix in anticipation of what the problem (almost surely) is.

It's worth noting that should only be cropping up when `swagger-ui`'s core code is run in a non-browser environment. If swagger-tools is doing this, it's likely using the 3.x series wrong.

That said, my pending PR for this moves our version stamping code into the constructor, and shields it with the window guard we use for runnin

[2017-05-02 19:43] #3016 closed

[2017-05-02 19:43] shockey commented on #3016
Should be fixed - please reply if any issues linger.

Thanks!

[2017-05-02 21:09] NewDark90 commented on #3012
It might be a good idea to have a setting that specifies the max depth it should serialize.

That way it has a clear endpoint for these indirect circular references and the user/developer has a lot of control over how much they need to see vs how much time it will take to build out every time.

[2017-05-02 21:33] webron commented on #3012
According to what we planned, it wasn't supposed to serialize any depth, but do that on the fly. This is definitely not the intended behavior.

[2017-05-03 08:13] 1106285275 opened #3019 "NullPointerException in ApiResourceController.swaggerResources"
springboot +swagger 2.5.0
when I have annoation like  @Aspect @Pointcut @Around and  some defination like Advisor ,swagger worked failed,said as title . how to work out this problem?

[2017-05-03 08:17] 1106285275 commented on #3019
Can it work with the interceptor, if not, it would be a problem

[2017-05-03 09:16] quickwind opened #3020 "Has problem with OAuth2 client credentials authorization flow"
When reporting an issue, please provide the following details:
- swagger-ui version
http://editor.swagger.io/#/
- a swagger file reproducing the issue
[code]

When paste above swagger content to http://editor.swagger.io/#/ and click try it button, it sent OPTIONS http://securityserver.com/v1/security-service/oauth/token request, but our security server is expecting POST http://securityserver.com/v

[2017-05-03 10:14] Baklap4 opened #3021 "Responsebody of BadRequest (and other errors)"
when trying to get the users and do supply a wrong api-version in the header it always just returns `Bad Request` and not showing the response body..

The json of the response body should've been:
[code]
When i'm running the request with `Curl` it *does* give me the desired output.

When reporting an issue, please provide the following details:
# swagger-ui version
Using version: `3.0.8`

# Swagge

[2017-05-03 12:57] webron commented on #3019
This should be opened on SpringFox.

[2017-05-03 12:57] #3019 closed

[2017-05-03 14:04] stefangr commented on #3020
The OPTIONS request is to determine if the swagger application is allowed to make a POST request and is part of the Cross Origin Resource Sharing (CORS) mechanism.

[2017-05-03 14:27] fernandocamargoti commented on #2915
@TuureKaunisto, It's not in public repo :(

But was your issue with that code? Are you using the most recent Swagger UI 3?

I basically cloned the master branch of this repository, copied what was inside the dist folder and added that line of code right after the normal configuration in the index.html. That line basically sets the Authorization (exactly what would happen if the user would click in

[2017-05-03 16:28] shockey commented on #3012
This is fixed, pending next release of swagger-js.

[2017-05-03 17:17] webron commented on #3020
Thanks @stefangr. This is indeed a [CORS](https://github.com/swagger-api/swagger-ui#cors-support) issue. If you want to use this functionality, you'd need to enable it server side (or use a CORS proxy).

[2017-05-03 17:17] #3020 closed

[2017-05-03 17:50] webron commented on #3021
Obviously we can't test that because we don't have the server you're running with.
Try opening the developer tools in your browsers and check the network tab when you try it out.
What's the actual response you see in the console?

[2017-05-03 18:17] Baklap4 commented on #3021
Of course you can test it easily
# Step 1
Create a GET route for anything you like
# Step 2
Define a reponse model like i did
# Step 3
Define a model which the api will return
# Step 4
Check with a valid request
# Step 5
Check with a not valid request < Which triggers a bad request
# Step 6
Match Step 5 with the curl request generated by swagger-ui

Output of curl in my example:
[code]

Output in

[2017-05-03 18:44] echmielewski commented on #2841
I think the issue is more with the selection box itself. I notice that with multiple parameters the execute button does not work until you change the select.

For example, if the parameter options are ["one","two"], the page loads and looks like "one" is selected.  However, the "Execute" does not work.  If you select "two", then back to "one", the "Execute" works as intended.

[2017-05-03 18:47] realchrisolin opened #3022 "Using more than 8 tags breaks tag order"
Parsing a spec file with greater than eight (8) tags results in the tag order no longer being sorted alphabetically. Removing all of the paths associated with a tag so the total number of tags in use are less than 9 will fix this issue. This can be easily replicated in editor.swagger.io.

- swagger-ui version: 3.0.8
- a swagger file reproducing the issue

[code]

[2017-05-03 18:48] danmusk commented on #2915
Based on what worked in v2, I made a similar "hack" for v3:

In startup.cs
[code]

I placed the swagger-bearer-auth.js in wwwroot, with the following content:
[code]

[2017-05-03 19:05] realchrisolin commented on #3022
Looking at past tickets related to sorting of tags (e.g. https://github.com/swagger-api/swagger-ui/issues/1246) in the 2.x branch, I suspect that the bug causing this issue may in swagger-api/swagger-js.

[2017-05-03 20:12] webron commented on #3022
The ordering of the tags is actually not implemented at all yet in 3.x.

[2017-05-03 20:16] webron commented on #2841
Yeah, this issue and #2902 might be the same.

[2017-05-03 22:46] buunguyen commented on #2746
This was fixed in swagger-js.

[2017-05-03 22:46] #2746 closed

[2017-05-03 23:05] kushwahashiv commented on #2603
I am also facing same issue. any update on this please?

[2017-05-04 01:44] maliqiang opened #3023 "3.x version using with spring"
Who has 3.0 version and spring integrated demo, let me refer to the next. 3.x version integration has been unable to display api list。

[2017-05-04 07:10] bodnia commented on #2841
@echmielewski exactly, the issue comes from select. I am working on this.

[2017-05-04 09:01] quickwind commented on #3020
@stefangr @webron Totally understand, but we have already returned 200 OK result as following to the OPTIONS request, it still fails:
[code]

In the Swagger UI it just shows "Auth ErrorTypeError: Failed to fetch", and in wireshark, I can only see one request/response for the OPTIONS method as above. What would be the problem?

[2017-05-04 09:34] xlthor opened #3024 "Path Parameter not properly parsed results in erroneous Test URL"
We have an endpoint like this

`https://server.com/services/v1/topics/path1/path2/path3/assets`

where the part `/path1....path2` is variable and the parameter value.

Path annotaion looks like this:

`@Path("{topicPath:[a-zA-Z0-9_/]+}/assets")`

and this works like charm, regardless how long the path is. Swagger UI compiles that to

`curl -X GET "https://server.com/services/v1/topics/1/123%2F456/

[2017-05-04 09:54] stefangr commented on #3020
@quickwind In the browser console (reachable via F12 in most browsers) you can see what error messages the browser is logging.
In the network tab you can see the request and response headers that the browser sends and receives.

With the exact sample swagger file you posted earlier I do not get a 'Access-Control-Allow-Origin' header in the response.

[2017-05-04 12:52] TuureKaunisto commented on #2915
@fernandocamargoti thanks for your response. I did get it working now and the key gets set correctly. Thanks a lot for your help!

My problem was that the authorization header doesn't get sent or shown on the curl command although it does get set correctly. I guess there's a problem with my spec.

[2017-05-04 12:56] realchrisolin commented on #3022
If that's the case, then I retract my previous comment. "Sorting" in 3.x appears to be based on the order in which paths are defined and subsequently assigned to a tag. Using more than 8 tags disrupts that order.

In the example spec I provided above, the tags are rendered in the following order:

- store
- user
- tag4
- tag5
- tag6
- tag7
- tag8
- pet
- tag9

If I remove the "tag4" path object (f

[2017-05-04 13:45] pqzxc opened #3025 "Is there a way to select which definitions get exposed in the models section of the UI?"
Hi,

I'm using Swagger UI version 3.0.8 and think it's a great tool but have one question about the models section: is there a way to select which definitions get exposed?

It appears that every definition automatically appears under models (an example of this can be seen in the Pet Store UI in the [Swagger editor](http://editor.swagger.io/#) - screenshot below). However, for the purposes of my pr

[2017-05-04 14:37] #2841 closed

[2017-05-04 16:02] webron commented on #3025
There's no direct way of controlling it. You can write a plugin to filter things out. As long as the models are being used by the API, you won't do your users a service by hiding their definitions.

[2017-05-04 16:07] webron commented on #3024
The spec doesn't support making a variable with slashes in the value for a path parameter (thus making it an arbitrary number of parameters). It will/should be encoded. There's no workaround to it, it's an intentional limitation.

[2017-05-04 16:07] #3024 closed

[2017-05-04 16:10] webron commented on #3023
For general questions, please use the google group.

[2017-05-04 16:10] #3023 closed

[2017-05-04 16:56] JimSterling opened #3027 "Failing when trying to run 'npm run build'"
I am using v3.0.8 and I am running into issues when I am trying to build swagger-ui with my changes. I have included the npm-debug log, as well as some of the dependencies that npm had said were deprecated when installing npm.

[code]

Modules that NPM says are deprecated:

[code]

There was also output saying npm-gyp should be installed globally (not sure if that is something I should do since I

[2017-05-04 17:44] shockey commented on #3013
Just merged the PR for this - the fix will be released as part of our release tomorrow.

Thanks for the input, everyone!

[2017-05-04 17:44] #3013 closed

[2017-05-04 17:55] supsup opened #3028 "SwaggerUIBundle onComplete callback"
v3

Currently there is no callback on completion of the ajax calls from SwaggerUIBundle
Is this done via a plugin?

If not can we have a property like:
onComplete:  function
where the function will execute after SwaggerUIBundle has loaded all ajax requests.

[2017-05-04 18:06] webron commented on #2902
Also resolved in master by #2841.

[2017-05-04 18:06] #2902 closed

[2017-05-04 18:31] gsi-delmo opened #3030 "Wrong model name in the UI"
As you can see in the image I named the second model as _newUser_, however it is shown as _user_ in the UI.

![image](https://cloud.githubusercontent.com/assets/11967822/25719076/43cc0992-30d6-11e7-87ee-92da3459bda9.png)

[2017-05-04 20:18] hkosova commented on #3030
Duplicate of #2946?

[2017-05-04 20:19] webron commented on #3030
Thanks @hkosova! I was sure there was a ticket on that, but couldn't find it. Sorry for the trouble, @gsi-delmo, but as you can see, it's a known issue.

[2017-05-04 20:19] #3030 closed

[2017-05-04 20:25] gsi-delmo commented on #3030
No problem @webron.

[2017-05-04 20:28] Azotherian commented on #3027
Just my suggestion: I have had the exact same issue, and I grabbed  v3.0.7 and ran the build on it, and it worked. Not sure if that really helps too much, but it may help narrow down where the problem lies

[2017-05-04 20:33] shockey commented on #3027
@JimSterling1, it's not clear from your post what OS you're on, can you clarify?

@Azotherian, can you share your OS, Node version, and NPM version?

Thanks to both of you!

[2017-05-04 20:35] JimSterling1 commented on #3027
@shockey I am using cent os 7

[2017-05-04 20:42] Azotherian commented on #3027
@shockey I am also using cent os, and my npm version is v3.10.10 and my node version is v6.10.1

[2017-05-04 22:58] webron commented on #2884
We don't have to use a shebang, hash should be enough. The goal is to have permanent links to tags or operations in the UI.

- When clicking on a tag or operation to *expand* it, the browser url will change to the new url permanently linking to that tag/operation.
- The link will also be available when right clicking the tag/operation and copying the link url.
- Collapsing a tag/operation will cha

[2017-05-04 23:16] 1Map opened #3031 "Password format does not work in parameter"
I try the following YAML in the UI (You can even try it on your online editor http://editor.swagger.io by pasting the below YAML in there - also does not work).  Problem is in the UI the `password` format does not work and does not obscure the characters.

It renders it as:
`<input type="text" class="" value="" placeholder="password - Password.">`

and is suppose to render as:
`<input type="passwo

[2017-05-04 23:41] 1Map commented on #3028
+1

[2017-05-05 00:01] 1Map opened #3032 "Wrong Order"
By looking at the screenshot below you will find that the order of the properties are wrong (Top right in screenshot).  I find that it only happens if the model have more than 8 properties:

![image](https://cloud.githubusercontent.com/assets/1152458/25729575/734739a2-3136-11e7-877d-7f78c0241edf.png)

The YAML to test on http://editor.swagger.io is:

[code]

[2017-05-05 00:08] 1Map commented on #3022
Similar to the issue I logged:

https://github.com/swagger-api/swagger-ui/issues/3032

[2017-05-05 02:12] supsup opened #3033 "using this param causes render error"
v3.0.8

`
"parameters": [
{
    "name": "parts",
    "in": "query",
    "required": true,
    "description": "Parts to retrieve",
    "type": "array",
    "items": {
        "type": "string"
    },
    "enum": [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F"
    ],
    "collectionFormat": "multi"
}
]
`
_Is this just invalid syntax?_
when you click "Try It Now"

it ren

[2017-05-05 05:26] icelemon1314 commented on #2948
In the swagger-UI README.md

validatorUrl:By default, Swagger-UI attempts to validate specs against swagger.io's online validator. You can use this parameter to set a different validator URL, for example for locally deployed validators (Validator Badge). Setting it to null will disable validation.

[Setting it to null will disable validation.] <- this is wrong
[Setting it to false will disable val

[2017-05-05 06:00] rstraszewski opened #3034 "When using oauth2 authorization code flow - redirect_uri is not send - 3.0.8"
Hi,
When using swagger ui authentication with oauth2 authorization code flow, redirect_uri parameter is not sent to access token request.

I think, that problem is here:

`export const authorizeAccessCode = ( auth ) => ( { authActions } ) => {
 let { schema, name, clientId, clientSecret } = auth
 let form = {
   grant_type: "authorization_code",
   code: auth.code,
   client_id: clientId,
   clien

[2017-05-05 06:33] xlthor commented on #3024
makes sense, THX

[2017-05-05 07:55] pqzxc commented on #3025
Thanks for your reply @webron. For most cases, I agree with you: hiding definitions would not do my users a service. However, I've created a few objects in order to make my code more modular and to save me from writing extra lines of code (e.g. via sets of properties) and, where I've done this, I don't want my users to see the model.

[2017-05-05 08:03] pqzxc commented on #818
Has anyone come up with a way of adding JWT based authentication to Swagger UI 3.0.8?

[2017-05-05 09:42] hkosova commented on #3033
The `enum` should be on the `items` level, not on the array level.

[code]

That said, the UI should probably handle this more gracefully.

[2017-05-05 10:53] wangkang007 opened #3035 "Maximum call stack size exceeded"
When reporting an issue, please provide the following details:
- swagger-ui version
- a swagger file reproducing the issue

when is use this model

public class Tree{
   private int pid;
   private List<Tree> child;
}
immutable.js:2407 Uncaught (in promise) RangeError: Maximum call stack size exceeded
    at eval (immutable.js:2407)
    at List.Map.withMutations (immutable.js:1355)
    at updateLi

[2017-05-05 11:08] farhan-ejaz opened #3036 "Customizing Swagger 3.x"
When reporting an issue, please provide the following details:
- swagger-ui version 3.0.8

The documentation is not clear or old for the current version. Is there any documentation available on how to customize version 3.x

http://swagger.io/docs/swagger-tools/#customization-36

![capture](https://cloud.githubusercontent.com/assets/19402644/25743260/1990556c-31b1-11e7-9828-02f45f7a92cd.PNG)

Could

[2017-05-05 13:28] nash4ever opened #3037 "Missing options: apisSorter, docExpansion"
swagger-ui version: 3.x
`apisSorter` and `docExpansion` options are not supported.
I see that these features are second-tier priority, but what does it mean, when will you add these options to the swagger ui?
I only need these 2 basic options to be able to use the new version of swagger ui.
Is there any workaround?

Thanks for your help.

[2017-05-05 13:47] gursahibexp opened #3038 "Swagger UI Unable To Map $ref For Nested Model"
Issue Details :
I created the JSON Schema path on my localhost. Copied the Swagger-UI module. Added the url in the Swagger-UI. I am getting this error that model not found. This is very strange because the JSON has all the models associated to the JSON Schema. Not sure that isnt it able to find the model by ID ?

- swagger-ui version : v3.0.8
- attaching JSON
![js_error_console_log](https://cloud.

[2017-05-05 15:48] EvgenyOrekhov opened #3041 "Response body and headers are not displayed for errors"
![2017-05-05-183124_640x993_scrot](https://cloud.githubusercontent.com/assets/8045060/25752871/3c6d9d68-31c2-11e7-96f9-899d3ae73a27.png)

This happens with responses with code 500 and 422 (and maybe others).

Steps to reproduce:
1. Go to <http://petstore.swagger.io/>
2. Place an order for a pet (`POST /store/order`) with the following request body

[code]

- swagger-ui version: 3.0.8
- a swagger f

[2017-05-05 20:30] vivilian-git opened #3042 "override host"
In the old version of UI, i can override the host using window.swaggerUi.api.setHost(url), as explained in https://github.com/swagger-api/swagger-js/issues/532.

How couldI achieve the same with thet latest version (3.0.8)?

[2017-05-05 21:09] webron commented on #3028
Yeah, we're aware this is missing. Seeing 4 people interacting on this ticket already. Can you share how you'd use the onComplete? Curious to hear about different use cases.

[2017-05-05 21:16] webron commented on #3032
First - thank you for opening the ticket here and not in swagger-editor. Makes our management easier :)

There's a technical issue here - objects do not really have ordered properties, so guaranteeing that the order is kept is theoretically out of scope. In practice, most modern parsers tend to keep ordering, so it makes it easier to control. Odd case that it changes based on the number of entries

[2017-05-05 21:18] webron commented on #3022
@1Map it's actually different. See the comment I made in the other ticket.

[2017-05-05 21:19] webron commented on #2948
@bodnia can you look into that? it should be `null`.

[2017-05-05 21:21] webron commented on #3034
Can you try master, or the new version we're going to release today?

[2017-05-05 21:25] webron commented on #3033
Pretty much what @hkosova said.

[2017-05-05 21:27] webron commented on #3035
Duplicate of #2923.

[2017-05-05 21:27] #3035 closed

[2017-05-05 21:28] webron commented on #3036
Unfortunately, there is no documentation yet, and it's not going to be immediate. We're fairly overloaded right now, but we'll do our best to put something out there.

[2017-05-05 21:29] webron commented on #3037
It means that support for those would come after we add support for version 3.0 of the spec. Unfortunately, we don't have the capacity to work on everything at once. Should anyone submit a PR to add the functionality, we'll review and merge if proper.

[2017-05-05 21:31] webron commented on #3038
Swagger-UI 3.X does not support version 1.2 of the spec. If you can't upgrade to 2.0, you'd have to use the older version of the UI.

[2017-05-05 21:31] #3038 closed

[2017-05-05 21:36] webron commented on #3042
It's not implemented yet. If you'd like to see it, please file a ticket in swagger-js.

[2017-05-05 21:36] #3042 closed

[2017-05-06 02:58] shockey commented on #3012
I'm releasing UI in a few moments, the build I made for this version does not have issues with the last two specs OP provided. Closing!

All: if you have any further issues, please reply here or file a new issue. Thanks!

[2017-05-06 02:58] #3012 closed

[2017-05-06 03:00] shockey commented on #2892
Build that was just made for the new release does not have issues with this spec. Closing!

Please reply here or open a new issue if any issues persist.

[2017-05-06 03:00] #2892 closed

[2017-05-06 06:48] jtblin opened #3044 "Uncaught ReferenceError: require is not defined, Uncaught ReferenceError: SwaggerUIBundle is not defined"
Using npm package `3.0.9`, nothing works as documented.

1. There is no index.html in dist/
2. Using the index.html from master as starting point, there is no wagger-ui-bundle.js in dist/ neither
3. Using the wagger-ui.js from dist/, I get the following errors:

4. There are also errors because the favicons are not in dist/ but well I don't really care about those.

Basically swagger-ui is unusabl

[2017-05-06 07:53] rstraszewski commented on #3034
Yes, but unfortunately I can do it after weekend. I'll do it first thing Monday morning.

[2017-05-06 07:56] rstraszewski commented on #3041
The same here. It is very strange that no response body is displayed.

[2017-05-06 12:48] gursahibexp commented on #3038
Aah! Thank you for your response. It is working with https://github.com/swagger-api/swagger-ui/tree/v2.2.10

[2017-05-06 22:42] talawahtech opened #3045 "url parameter is ignored in Swagger 3.x it always defaults to the petstore"
swagger-ui version: 3.0.9

I am trying to get swagger-ui to load my api definition file instead of the default petstore one, however modifying the url parameter for SwaggerUIBundle in the index.html file has no effect.

I was able to work around it by doing a find and replace for "https://petstore.swagger.io/v2/swagger.json" in swagger-ui-standalone-preset.js so my guess is that the presets are ov

[2017-05-07 04:59] JordanBelford commented on #3045
Same issue here. I got a little closer by using 'configUrl' instead of 'url'. The browser at least fetches the file but still uses "https://petstore.swagger.io/v2/swagger.json".

[2017-05-07 05:11] JordanBelford commented on #3045
@talawahtech

The example from 3.0.8 worked for me after I changed the url in index.html. Something must have broken 3.0.9 recently.

[2017-05-07 06:15] farhan-ejaz commented on #3036
Thanks for the update Ron. Atleast any suggestion on customisation ?

I want to provide user to switch source  json url.

[2017-05-07 06:54] olslash opened #3046 "Integrating into a Webpack 2 project"
Hi @shockey

Let me first summarize our earlier conversation about the issues i ran into bundling swagger-ui into a webpack-2 project.

- did `npm install swagger-ui`
- I tried to do the obvious `import Swagger from 'swagger-ui'`
  - results in build error:
[code]
- I added a webpack stub for node/fs, like what's in swagger-ui's own webpack config:
[code]
-
  - this resulted in the build succeedin

[2017-05-07 08:21] nmathur commented on #2971
Any suggestion?

[2017-05-07 13:22] zak905 commented on #3045
same issue here

[2017-05-07 14:26] zak905 opened #3047 "docExpansion is not working"
I am using swagger-ui 3.0.8, and I am trying to get all the operation collapsed on start up using docExapnsion:"none", but it does seem to have any effect. is this option still available? if not, is there any other ways to do it?

[2017-05-07 17:19] zak905 commented on #3037
It would be nice to have some programmatic workaround in the meanwhile.

[2017-05-07 23:57] olslash commented on #3000
Anyone know if we need to call something to destroy/release resources from SwaggerUi() on `componentWillUnmount`?

[2017-05-08 01:38] ganyusheng520 opened #3048 "install lastest swagger-ui using docker toolbox;error pulling image configuration"
error pulling image configuration: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs/sha256/0c/0ca58ca887d4b8150cfcbc0c488c2a278b040fdf07e3cf209df24565ab90fa82/data?Expires=1494208519&Signature=Qj0aSxeaTvq8SZNfu~2pOaGHLDppICLRrVTFJNsaFysB7JfJPnrYGDGW21b3Pax4luBu91Ho2QaCZGGdUBFrygBqD8Uq92B5Od~QflS37KE8PgKLpXJx4W6kWVsOGHDLGergDKhZDFC2dvGaRfGYslBig1nDCBKonlkHo26Ub-I_&Key-P

[2017-05-08 08:01] jiyonghong opened #3050 "Error response does not show any details"
I'm currently working with swagger@v2.0 and swagger-ui@v3.0.8 and having some issue on error response.

On 2xx responses, there are no problems. But when I receive 4xx responses, no details appear in the swagger response but there are actual response shown in the developer tools. I would like to know how to make swagger display this information in the detail section.

Please see the screenshot bel

[2017-05-08 08:26] zak905 commented on #3037
This can toggle all the expand/collapse : $(".expand-operation").trigger("click");
but how to capture the swagger loading event

[2017-05-08 08:48] rstraszewski commented on #3045
Same - after 3.0.9 update

[2017-05-08 09:02] rstraszewski commented on #3034
Hi - after update there is other problem, and because of this, I cannot test the one above:
wrong redirect_uri is send do identity server in request for authorization code - "redirect_uri": "http://localhost:3200/oauth2-redirect.html" (some default value??), instead the one set in SwaggerUIBundle oauth2RedirectUrl property

This problem I think: #3045

[2017-05-08 09:06] zak905 commented on #3037
this is the best solution I found so far:

[code]

[2017-05-08 09:12] precizeman commented on #1605
For 2.2.10 file download works fine for GET queries. If I'm doing a POST query with FORM parameter type=file and trying to download file in Response (Produces: application/octet-stream, Responses.Schema.Type=file) the result file still corrupts. If I remove parameter with type=file from POST query, all works fine.
For 3.x file download doesn't work at all.

[2017-05-08 09:13] marcoaltieri opened #3051 "Errors - Resolver error - e is undefined when using allOf"
Using swagger definition at the bottom of the post with swagger-ui 3.0.9, an error is shown at the top of the page:

[code]

If I substitute the definition of TemplateDocument with:

[code]
(removing the allOf: that I wanted to use to specify a description for the field), it works fine.

**Swagger definition:**

[code]

[2017-05-08 10:20] zem83 commented on #3036
Hi @farhan-ejaz,
I don't know if it's the correct way to do it, but I have a dropdown in my page (the dropdown options value are my json urls) and on the dropdown onchange event I inject the selected json url on swagger ui instance

[code]
I hope this can help you.

[2017-05-08 11:10] komikoni commented on #3034
I patched uri and oauth2RedirectUrl in swaggar-ui.js @ 3.0.9, but "redirect_uri" is not sent for token request.

Currently, the following four are sent to Form.

* Grant_type
* Code
* Client_id
* Client_secret

[2017-05-08 11:46] rstraszewski commented on #3034
Is it by design?

[RFC6749#4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3) specifies that parameters, that should be send are: grant_type, code, redirect_uri, client_id - all required

Postman also sends redirect_uri on token request

[2017-05-08 12:17] burnes commented on #3045
+1 Same here

[2017-05-08 15:23] metroidprototype commented on #3045
Can work around this for now by modifying the very end of swagger-ui-standalone-preset.js. Not 100% what other implications this might have, but my v3.0.9 default url seems to be loading properly and the UI is functional.

Change:
`e.exports='---\nurl: "http://petstore.swagger.io/v2/swagger.json"\ndom_id: "#swagger-ui"\nvalidatorUrl: "https://online.swagger.io/validator"\noauth2RedirectUrl: "http:

[2017-05-08 15:48] realchrisolin commented on #3022
@webron I can't say I'm the world's greatest developer/programmer, but I have some programming background and would like to take a whack at fixing this. Would you be able to recommend a place to start in attempting to fix this/figuring out what is causing this issue? I'm having a hard time figuring out how the JSON/YAML definition file is being parsed, the HTML generated, and how that is taking pl

[2017-05-08 19:18] webron commented on #3044
At the moment, the documentation pushed to NPM is the README for this repo. The README is accurate, however it doesn't clarify which parts of it are relevant to the NPM package.

The `swagger-ui` package indeed does not include the dist folder. That's included in the `swagger-ui-bundle` which *is* mentioned in the README.

[2017-05-08 19:32] webron commented on #2971
That spec doesn't describe models at all. It only marks them as `object`.

[2017-05-08 19:33] webron commented on #3047
It's not supported yet.

[2017-05-08 19:39] webron commented on #3050
Duplicate of #3041.

[2017-05-08 19:39] #3050 closed

[2017-05-08 19:42] webron commented on #1605
@precizeman do you have a public API to share to see the file download issue?

[2017-05-08 19:55] webron commented on #3045
Yup, this is a bug, and indeed a big one. We have introduced in 3.0.9 a new mechanism to actually make configs more flexible, but... we ended up breaking the simple way of configuring it.

To get it working for now, check out the instructions at https://github.com/swagger-api/swagger-ui#configs-plugin. What's broken is that the constructor config should take over the pre-compiled configs, otherwis

[2017-05-08 23:54] mseko opened #3052 "X-attributes can not be displayed in the Parameters or Operation section in swagger ui."
## issue
X-attributes can not be displayed in the Parameters section in swagger ui.
But, it can display in the property of model.
I think X-attributes should  be displayed in the Parameters section.

## version
 swagger-ui version; master branch(4/19/2017)

## swagger file example
[code]

[2017-05-09 02:39] 1Map commented on #2834
+1

[2017-05-09 07:10] manoharreddyporeddy commented on #1614
It's perfectly working for me, after a bit of struggle:

1. I took the latest code from github like this:

2. The JSON is like this:
{
      'paths': {
        '/pet/addPet': {
          'post': {
            externalDocs: {
              description: 'External documentation: ',
              url: 'https://cawiki.ca.com/display/SFDC/Get+Pending+Cart+Count'
            }}}}}

3. there was a cache p

[2017-05-09 08:18] psimek12 commented on #2948
Hello, I just downloaded today latest version. Setting validatorUrl to either null or false does not skip validation. It was however working on Friday on previous version. Can you please check?

[2017-05-09 10:05] Kumarez opened #3055 "Error- StatusCode: 500, 'Conflicting schemaIds: Duplicate schemaIds detected'"
I am using Swashbuckle.Core.5.5.3.

I get Conflicting schemaIds: Duplicate schemaIds detected error when two model classes have same name.

Error Description: Conflicting schemaIds: Duplicate schemaIds detected for types Project.Contracts.Data and Project.Models.Test.Data See the config setting - "UseFullTypeNameInSchemaIds" for a potential workaround

1.c.UseFullTypeNameInSchemaIds,
2.c.SchemaId(

[2017-05-09 11:42] 1Map commented on #3028
One use case is for example:

1) Currently I cannot collapse the "Models" part in the UI at runtime (after loading).  I want, for example the "Models" part to be collapsed by default.

2) Second case is:  I have a "password" parameter and assigned the format as "password".  Problem is that the UI does not mask this edit field, so I cannot do, for example, a demo to clients and login as they see my

[2017-05-09 12:05] 1Map commented on #2994
Also part of collapsing Models section. See: https://github.com/swagger-api/swagger-ui/issues/2834

[2017-05-09 12:30] 1Map commented on #2994
<h4 class="opblock-tag"><span>auth</span><small>1map API - Authorization</small><button class="expand-operation" title="Expand operation"><svg class="arrow" width="20" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#large-arrow"></use></svg></button></h4>

[2017-05-09 13:05] jmendiara opened #3056 "Core references "config" plugin"
The config plugin is referenced by the core at
https://github.com/swagger-api/swagger-ui/blob/master/src/core/index.js#L7

Therefore, config plugin code is included in both `swagger-ui-bundle.js` and `stagger-ui-standalone-preset.js`

[2017-05-09 15:16] tylerjames commented on #3027
Facing a similar issue on macOS Sierra using Node v7.5.0 and npm v4.1.2 and swagger-ui v3.0.9

I get a similar set of npm warnings when I run `npm install`:

[code]

[2017-05-09 15:41] supsup commented on #3028
@webron
It is nice to have a hook in to know when swaggerUi is done loading all it's dependencies.
I will know it's in the documentation state, if I want to inject things into the format I can.
Otherwise I have to poll the page looking for items that are injected.

[2017-05-09 15:57] jb08 opened #3059 "dist dir loads petstore swagger in v3.0.9 (bug)"
When I use v.3.0.6 and change the target url to my swagger.json, I receive my API in swagger-ui:
[code]

When I tried upgrading to v3.0.9 and changed the url (same as above), I receive the petstore swagger-ui, rather than my API:

<img width="474" alt="screen shot 2017-05-09 at 10 54 39 am" src="https://cloud.githubusercontent.com/assets/8146460/25860058/f6d1bd2a-34a5-11e7-9287-a2e56fb6ec06.png">

[2017-05-09 16:00] supsup opened #3060 "'Try It Out' onLoad / onCancel callback enhancement request"
v3

With an injected 'form element' and miniObject created from the swaggerUi main JSON for that endpoint, reference param being a reference to the current form that is loaded for that try it now.
like:
[code]

Allows me to inject targeted dummy data into the form based on the API endpoint for the user into the form that is appropriate for that form

[2017-05-09 16:13] jmendiara opened #3061 "Question: Plugin custom config?"
Swagger 3.0.9

I'm trying to create a plugin that needs some external config, but I cannot find a pattern to do it

1) The core `whitelist` the config properties that reach the `toolbox.getConfigs()` method
https://github.com/swagger-api/swagger-ui/blob/master/src/core/index.js#L85
(See to #3056 ) so this pattern does not work
[code]

2. If the approach is a factory function like
[code]
What is th

[2017-05-09 18:44] akhileshkasibatla opened #3062 "Unmet Peer Dependency problems for react and webpack"
Hello @shockey, @webron

I am using swagger-ui 3.0.9

When i have cloned the repo into my local directory and run an npm install either in local context or global context having the below error

/usr/lib
└─┬ swagger-ui@3.0.9
  ├── UNMET PEER DEPENDENCY react@15.5.4
  └── UNMET PEER DEPENDENCY webpack@>=1.3.0 `<3

`npm WARN react-addons-perf@0.14.8 requires a peer of react@^0.14.8 but none was inst

[2017-05-09 19:47] guidomaiola commented on #2695
Only worked for me on firefox and with a CORS addon.

Environment: Ubuntu 16.04, firefox 54.0b2 (32-bit) and chrome Versión 57.0.2987.98 (64-bit)

[2017-05-09 20:08] skors commented on #3059
having the same issue. Loading with the config as GET Parameter still works, as a workaround. e.g 'http://localhost/swagger/index.html?url=http://localhost/swagger/swagger.json'

[2017-05-09 20:09] skors commented on #3059
Downgrading to v3.0.8 works with the correct, expected behaviour.

[2017-05-09 23:11] webron commented on #3059
Duplicate of #3045.

[2017-05-09 23:11] #3059 closed

[2017-05-09 23:19] webron commented on #3060
Is that a question, comment, suggestion? Really unclear.

[2017-05-09 23:45] webron commented on #3028
@1Map Both of those are features and not bugs. If you're already working on workarounds to fix those, why not contribute to the project in general and submit PRs to add those features, instead of waiting for us to fix them?

Just like any project, we have limited resources and we appreciate community contributions. One of the many benefits of this being an open source project.

[2017-05-10 00:14] webron commented on #3055
Please specify the version of swagger-ui you're using and provide a copy of the loaded API description.

[2017-05-10 00:15] webron commented on #2948
@psimek12 this is due to #3045.

[2017-05-10 01:15] shockey commented on #3014
👍

I already do this. Let's consider codifying this in the README?

[2017-05-10 06:06] Kumarez commented on #3055
We use Swagger-ui version 2.0

I still did not get any description loaded. Please find the unresponsive page attached when c.UseFullTypeNameInSchemaIds is used.
![swagger_unresponsive](https://cloud.githubusercontent.com/assets/28556030/25885071/fe78c2fc-3573-11e7-956e-080cbb9665a7.png)

[2017-05-10 09:24] willin opened #3063 "3.0.9 dist files missing"
When reporting an issue, please provide the following details:
- swagger-ui version

3.0.9

- a swagger file reproducing the issue

![snipaste_20170510_172413](https://cloud.githubusercontent.com/assets/1890238/25891988/8db43a56-35a5-11e7-8d71-b3a56a900c95.png)

how to use like 2.x version with dist/ xxx.html  xxx.css xxx.js

[2017-05-10 11:20] bodnia commented on #2898
All implemented configs are documented.

[2017-05-10 11:20] #2898 closed

[2017-05-10 12:28] dpeger commented on #3015
Thanks for your response.

Actually by the time writing down this issue, it already felt like swagger-ui is not the right place to make these adjustments. I now solved this by implementing a `ReaderListener`, that adjusts the paths of the `Swagger` as needed.

[2017-05-10 12:28] #3015 closed

[2017-05-10 12:30] #3045 closed

[2017-05-10 13:20] bodnia commented on #2948
@psimek12 @icelemon1314 in latest master setting `validatorUrl` to `false`/`null` removes validation badge. Please re-open in case of any issues.

[2017-05-10 13:20] #2948 closed

[2017-05-10 13:58] ponelat commented on #3000
So we do have a mechanism where you can use a pure-react approach. But there are uglies, that would need to get ironed out ( we want this, but of course... time!)

- babel-polyfill is one of them, need to replace with babel's transform-runtime... as well as clean up any code that use's unsupported instance methods (eg: `Array.prototype.includes`).
- React/React-DOM as peerDependencies, the current

[2017-05-10 14:31] jb08 commented on #3063
use v3.0.8 - there's a [bug](https://github.com/swagger-api/swagger-ui/issues/3045) in v3.0.9.

files are there:

![screen shot 2017-05-10 at 9 30 31 am](https://cloud.githubusercontent.com/assets/8146460/25903916/5dbefe7c-3563-11e7-970c-dc519e6860af.png)

[2017-05-10 14:50] willin commented on #3063
the same, using yarn

[2017-05-10 15:42] shockey commented on #3063
Hey @willin, this is intended behavior for the `swagger-ui` package. We changed how it works in 3.0: the package is intended for use via a module loader.

If you're looking for the old style of our entire dist folder in an npm package, check out the `swagger-ui-dist` package, which has the entire dist folder as you see it in Git within a package that has no dependencies.

Let me know if that's wha

[2017-05-10 16:00] akhileshkasibatla opened #3066 "New feature fix for array of objects in the definitions properties section"
Hello @shockey , @webron

Currently swagger model definition cannot accept an array of objects in the properties section of the swagger definitions. So I have added a fix for **array of objects in the properties section** in my local development environment which can be a new feature for swagger-ui . This feature makes it way easier for someone to document their rest api who is using array of obje

[2017-05-10 16:03] shockey commented on #3061
@jmendiara, I think the way you're doing it with a static selector is the best current way to do it, but it isn't _great_.

Does adding a `custom` object to the config whitelist, where you can put your custom config key/value pairs, sound like a good solution to you?

[2017-05-10 16:10] jmendiara commented on #3061
Yes

[2017-05-10 16:12] shockey commented on #3061
Cool!

@bodnia, let me know if you agree with this approach and I'll implement it

[2017-05-10 17:51] fehguy opened #3067 "macro features lost in 3.x rewrite"
During the 3.x rewrite, the macro features (`modelPropertyMacro`, `parameterMacro`) were accidentally dropped.  The goal of those functions was to "do something" after reading & resolving a specification, by allowing client-side code to update model properties and parameters.

For example, say you have a model like this:

[code]

a `modelPropertyMacro` would allow code to be executed in a fashion

[2017-05-10 18:12] #3056 closed

[2017-05-10 19:24] shockey commented on #3027
@tylerjames, do you only get the warnings, or does your build fail? FYI, we don't explicitly support Node 7 yet.

CentOS people: I'm going to spin up a VM today and try to reproduce the issues you're seeing.

[2017-05-10 20:26] tylerjames commented on #3027
@shockey
I was able to get it to work. At first I had downloaded a zip of the repo. In that case I experienced the problems I described.
When I instead cloned the repo the `npm install` worked fine. It seemed to not like that it didn't reside in an existing git repo.

[2017-05-10 20:39] Azotherian commented on #3027
I pulled the zip right from my vm and unzipped and copied the contents over to my project. Maybe that had something to do with it?

[2017-05-10 20:40] shockey commented on #3014
Another option - start a `CONTRIBUTING` file, as Github officially supports it: https://github.com/blog/1184-contributing-guidelines

CC @bodnia @webron... any thoughts from y'all's end?

[2017-05-10 20:46] shockey commented on #3027
@Azotherian, I can't think of why that would be off the top of my head, but I'll test the zip and cloning when I get around to this today.

If you can try cloning on your end as well, that would be helpful. Thanks for chiming in!

[2017-05-10 20:58] shockey commented on #3046
Hey again, @olslash!

Is your webpack2 project available anywhere? I'm going to dig into this soon, but it would save me some time to not need to build out a test project.

[2017-05-10 21:23] webron commented on #3014
CONTRIBUTING it is.

[2017-05-10 21:27] olslash commented on #3046
sorry, it's not -- work project

best you could do i guess is start with a webpack2 boilerplate :)

[2017-05-10 21:28] shockey commented on #3067
This is possible, but there are snags if mutating the spec is involved: Running the macro on spec change, which in turn triggers another spec change... which would trigger another macro run.... etc.

Avoidable, but something to be aware of 😄

[2017-05-10 21:30] shockey commented on #3066
This looks good to me. @webron can tell you if this is a feature we want 😄

[2017-05-10 23:57] jeffreypriebe commented on #2818
@dotasek API level sort is relatively straight-forward. I have a [basic "sort all API tags by alpha" here](https://github.com/jeffreypriebe/swagger-ui/tree/feature/AlphaSortOperations). It's a [very small change](https://github.com/jeffreypriebe/swagger-ui/commit/dbeca72844e9101d6e79213ff8b8f88a958ae19c) and I didn't implement the configurable `apiSorter` option nor is there any choice that isn't

[2017-05-10 23:59] jeffreypriebe commented on #2790
As a workaround for now, I did a [basic "sort alphabetically"](https://github.com/swagger-api/swagger-ui/issues/2818#issuecomment-300644718), in case that helps for your situation.

[2017-05-11 00:04] jeffreypriebe commented on #3022
@realchrisolin As a workaround for now, I have a [basic "sort all API tags by alpha" here](https://github.com/jeffreypriebe/swagger-ui/tree/feature/AlphaSortOperations). It's a [very small change](https://github.com/jeffreypriebe/swagger-ui/commit/dbeca72844e9101d6e79213ff8b8f88a958ae19c) and I didn't implement the configurable apiSorter option nor is there any choice that isn't alpha nor does it

[2017-05-11 01:31] willin commented on #3063
yes i get it

[code]

i set the url address but still load from `http://petstore.swagger.io/v2/swagger.json`

[2017-05-11 01:39] shockey commented on #3063
See @willin's comment above, this is a known bug (#3045).

You can use 3.0.8 in the meantime, or wait until Friday, when we'll release 3.0.10 with a fix.

[2017-05-11 01:48] webron commented on #3066
@akhileshkasibatla can you provide a minimal spec that reproduces the issue in the current UI so I can take a look? If it makes sense, we'd love to get a PR.

[2017-05-11 01:50] webron commented on #3055
Can you try the latest release?

[2017-05-11 04:52] shockey commented on #3027
All: Did you see this error message?

[code]

[2017-05-11 05:49] tylerjames commented on #3027
Yeah, that looks familiar
On Thu, May 11, 2017 at 12:53 AM shockey <notifications@github.com> wrote:

[2017-05-11 06:12] shockey commented on #3027
I just merged something that appears to fix a problem I'm encountering when trying to `npm run build` in a folder not part of a Git repository (i.e. a zip download of swagger-ui)

Can y'all try to do an `npm run build` with `https://github.com/swagger-api/swagger-ui/archive/master.zip`, and tell me if it works for you?

[2017-05-11 08:28] FerrariAlberto opened #3069 "Basic Auth issue"
hello everyone,

i just added basic authentication in my swagger spec like this

[code]

but when i try the method out in swagger ui im getting 401 back.

![screenshot 28](https://cloud.githubusercontent.com/assets/25078470/25939823/6b254dc4-3634-11e7-942c-70446d0a847e.png)

i've read that some people edit the index.html to make it work but i'm not sure how to do it.
i'm using swagger-ui 3.0.3 and

[2017-05-11 09:36] MartinMuzatko opened #3070 "How to generate UI from yaml/json on the fly?"
Hello!

I'm using the latest version of swagger-ui.

I want to generate the Swagger documentation HTML from a json or yaml file. Do I need to host a json or yaml file somewhere to use it as URL before I can use it to create a UI bundle?
Can't I pass a string to SwaggerUIBundle function?

I'm using webpack to generate the UI.

[code]

However this fails, because fs is a dependency. I want to genera

[2017-05-11 11:41] Download commented on #118
I think we should look at what HTTP does. Which is simple: multiple parameters with the same name are allowed. Most frameworks I have encountered support this out of the box. E.g. for Java:

`http://example.org?param=x&param=y&param=z`

Would let you use this code to get an array of the values:

[code]

My api supports comma separated values whenever it makes sense as a shorthand and to bypass sys

[2017-05-11 11:42] #3031 closed

[2017-05-11 12:50] reeperbahnause opened #3072 "403 error don't show Response header and body"
I used the current swagger UI running on http://petstore.swagger.io/

I noticed that ``40*`` errors do not show the response header and body.
In my case I want to return the error code and error message as json object in the body like this:
[code]
Even if the body is set correctly and content-type is set, the body/header are not shown in the current version.

![image](https://cloud.githubuserconte

[2017-05-11 13:33] Kumarez commented on #3055
Thanks for the suggestion Ron. The cause for the unresponsiveness was found and resolved.

Root cause: Some of the input parameters for the API post methods were IEnumerable which caused the issue.  On removing those obsolete methods, the issue got resolved. :)
Reference :-
http://stackoverflow.com/questions/35605427/swagger-ui-freezes-after-api-fetch-and-browser-crashes

[2017-05-11 13:33] #3055 closed

[2017-05-11 15:14] rolandg commented on #3072
+1 same here

[2017-05-11 15:38] akhileshkasibatla commented on #3066
Hello @webron

I have attached the JSON File which has the specs and also the screen shot of how swagger model and example value looks if i give array of objects in the definitions properties section. If we give type as an array for a model definition then under items we cannot have an object without a key value. But with my fix instead of giving type as an array we can give type as object and hav

[2017-05-11 20:03] tylerjames commented on #3027
@shockey That seems to have fixed it

[2017-05-11 20:29] adhamhf opened #3073 "json-api does not appear to be supported"
Using swagger-ui 3.0.10 (currently use dev HEAD) I'm not able to get json-api to work correctly.

The request and response content types are displayed as application/vnd.api+json which is what my server is set to, so that's good.

However, the Example Value is structured as a JSON object instead of JSON-API.  A simple fix for this would be to take the current example value and put it into a data o

[2017-05-11 21:23] #2897 closed

[2017-05-12 08:17] jraeymaek opened #3075 "Petstore uploadImage 'try it out' results in 415 unsupported media type"
http://petstore.swagger.io/

The uploadImage post request contains an empty body and content-type equals "text/plain;charset=UTF-8". Is this a bug?

[2017-05-12 08:17] Lotti commented on #3072
+1 (there is a version that actually doesn't have major critical bugs? 3.0.9 doesn't permit to load a swagger. it always defaults to petstore. 3.0.8 doesn't show error responses.. what release can i use?)

[2017-05-12 08:27] Lotti commented on #3072
3.0.7 doesn't have this problem.

[2017-05-12 10:20] degerstrom commented on #2891
Inspired by the modifications made by @zyv I made similar modifications to accomodate some of our needs. In my version, the endpoint to retrieve the JSON list of specs is defined as a JavaScript variable in the HTML document, and each item in the JSON must have a `url` (which is a **full** url to the JSON file) and `title` attribute. The dropdown displays the title, not the URL.

My commit is here

[2017-05-12 10:28] FerrariAlberto commented on #3069
where can i find the constructor that make the url to sand?

[2017-05-12 10:38] DavidJona commented on #3069
i need help with this too

[2017-05-12 11:46] rolandg commented on #3072
@Lotti my workaround for the petstore issue
[code]

[2017-05-12 12:06] Lotti commented on #3072
@rolandg thank you! I'll stick with 3.0.7 until a new fixed release will appear!

[2017-05-12 12:16] rstraszewski commented on #3072
Yea, 3.0.7 shows failed response body, but again oauth2 is not working which is important for me...

[2017-05-12 13:28] Lotti commented on #3072
wow, i'm lucky that I use api_key method ;)

[2017-05-12 14:40] precizeman commented on #1605
I will send link in next week (Monday-Tuesday), at this time I’m developing app.

From: Ron [mailto:notifications@github.com]
Sent: Tuesday, May 9, 2017 12:42 AM
To: swagger-api/swagger-ui <swagger-ui@noreply.github.com>
Cc: Mikhail Andreev <andreyevmb@live.ru>; Mention <mention@noreply.github.com>
Subject: Re: [swagger-api/swagger-ui] File download via content-disposition header corrupts file (#1

[2017-05-12 17:12] grosch commented on #3070
Hear hear.  It's so annoying to have to host the file via an HTTP request when it's sitting right on the webserver already where my swagger-ui is running from.

[2017-05-12 18:28] akhileshkasibatla commented on #3066
Hello @webron

Any comments on the above discussion??

[2017-05-12 19:52] webron commented on #3073
@adhamhf can you provide a sample spec to reproduce the issue? As long as it's still JSON and it's described properly, there shouldn't be an issue with sending it.

[2017-05-12 19:58] webron commented on #3075
Yeah, it is 😕

[2017-05-12 20:09] webron commented on #2891
@zyv, @degerstrom  (and anyone else watching) - can we discuss the details on how you see this feature being implemented? Once we agree on those, if either of you submit a PR to add it, we'd merge it in. Due to limited resources I can't put it high on the priority list, but it doesn't mean we won't take contributions to add it.

[2017-05-12 20:12] webron commented on #3069
Did you authenticate the request using the Authorize button?

Either <img width="188" alt="screenshot 2017-05-12 13 11 04" src="https://cloud.githubusercontent.com/assets/241629/26015144/89ca7cfa-3714-11e7-8a1a-6e224eb781d7.png"> or <img width="65" alt="screenshot 2017-05-12 13 11 12" src="https://cloud.githubusercontent.com/assets/241629/26015146/8f86315c-3714-11e7-88b1-3155c13745a4.png">