[2018-04-19 23:04] heldersepu commented on #4460
Yes big +1 and while you are at it maybe fix all the alignment issues (#4241)...
I looked into it, but got dizzy looking at the CSS

[2018-04-20 00:29] iaguera opened #4461 "Swagger ui are changing path variables for html codes."
Swagger ui are changing path variables for html codes.

Using the swagger ui example of http://petstore.swagger.io/v2/swagger.json, when i POST on /pet/{petId} some value for example "23/" swagger ui change slash character to html code in this case swagger ui changes path value to "23%2", for endpoints whose needs explicit slash character, they will be never called with that behavior. (yeah i know

[2018-04-20 00:57] shockey commented on #4461
Hi @iaguera!

I'm inclined to say that this is the intended behavior - path parameters are generally meant to serve as a placeholder for one segment of a URL. I imagine allowing literal `/` in path parameter template values would make router matching logic much more complex for server-side tooling.

Swagger/OpenAPI 2.0 doesn't explicitly mention anything about percent-encoding (which is confusing)

[2018-04-20 01:18] iaguera commented on #4461
Hi @shockey,

Thanks for the answer, on swagger ui container, i think It is not possible, send this parameter right?

Can we change this issue intead of a fix to a feature or something like that?

[2018-04-20 07:34] yuditxj opened #4462 "Undocumented TypeError: Failed to execute 'fetch' on 'Window': Invalid name"
When I Add globalOperationParameters

List<Parameter> pars = new ArrayList<Parameter>();
        tokenPar.name("Authorization ").defaultValue(auth)

 return new Docket(DocumentationType.SWAGGER_12)
                .apiInfo(apiInfo())
                .select()
                .apis(RequestHandlerSelectors.basePackage("com.test"))
                .paths(PathSelectors.any())
                .build()

[2018-04-20 07:38] hkosova commented on #4461
@iaguera OpenAPI does not support unencoded `/` in path parameters. Here's the corresponding feature request - https://github.com/OAI/OpenAPI-Specification/issues/892.

[2018-04-20 08:34] selvaebi commented on #4435
Thanks a lot , is it not available through maven pom dependency ??

[2018-04-20 12:34] #4451 closed

[2018-04-20 12:34] kritika0205 commented on #4451
Thanks, it worked

[2018-04-20 18:59] shockey commented on #4462
@yuditxj, is this a Swagger-UI problem or a Springfox issue? It looks like Springfox :smile:

[2018-04-20 19:04] shockey commented on #4435
I'm not very familiar with Maven, but it looks like this WebJar has the latest version of Swagger-UI (v3.13.4): https://mvnrepository.com/artifact/org.webjars/swagger-ui

[2018-04-20 23:08] #4196 closed

[2018-04-20 23:34] #4441 closed

[2018-04-20 23:35] shockey commented on #4441
fixed! thanks for reporting this, @gonenduk

[2018-04-20 23:53] shockey commented on #4452
Looks like a bug to me, here's what v3.8.0 shows:

<img src='https://shipusercontent.com/e2b4181c7372f93629f7a3dd7e315aad/Pasted%20Image%201.png' title='Pasted Image 1.png' width=2672>

[2018-04-21 00:26] shockey commented on #4456
Thanks for reporting this issue, @blortfish.

This is solved by https://github.com/swagger-api/swagger-js/pull/1295:

<img src='https://shipusercontent.com/048067cfd19452ef0807d58e71283f09/Pasted%20Image%202.png' title='Pasted Image 2.png' width=1214>

[2018-04-21 00:26] #4456 closed

[2018-04-21 07:20] prem-jason opened #4465 "swagger-ui - API Rest call to download zip file, downloads corrupted zip file"
Hi,

Rest call has now problem downloading zip file in browser URL.

With swagger-ui, downloading zip file with extra underscore appended to filename in prefix and suffix (of extension) \_XXXApplication-1524222675972.zip_ and its corrupt. Can you please address this issue?

Response header as following:
{
"pragma": "no-cache",
"date": "Fri, 20 Apr 2018 11:11:21 GMT",
"access-control-allow-headers"

[2018-04-21 11:14] heldersepu commented on #4465
Looks like a dup of #4413

[2018-04-21 13:49] webron commented on #4461
As @hkosova and @shockey said, this is the intended behavior. Path parameters, at the moment, cannot contain additional path segments. This is an intentional limitation in the spec.

[2018-04-21 13:49] #4461 closed

[2018-04-21 14:04] webron commented on #4372
@JonKohler - Sorry for the delayed reply, I was out for a while, and emails kept piling on.

Regardless of your decision (which I respect), I'd appreciate hearing the challenges you've encountered with regard to:

We're regularly looking to improve the UI, and means addressing both simple and complex APIs, different requirements and needs. As you can imagine, addressing _everyone's_ needs is never

[2018-04-21 14:07] webron commented on #2757
This is a tool-specific question and not related to the spec. Please file tickets with the relevant projects.

Since this is not the place to get such help, and to make sure it's clear, I'll be locking the issue for further comments.

[2018-04-21 15:14] JonKohler commented on #4372
hey @webron I'd appreciate that, thank you so much! I'll reach out right now, and loop in both our product manager and developer responsible.

[2018-04-21 15:15] webron commented on #4372
@JonKohler - thanks! That would be great help for the project :)

[2018-04-21 15:19] #4465 closed, assigned to nobody

[2018-04-21 15:39] webron commented on #4448
Let's be clear on something though - whether we hide it from the UI or not, the user can still have access to it as it's embedded in the application itself as part of the configuration, and that's reachable to any user. We _know_ this is vulnerable, and that's the downside of using this kind of authentication in a browser-based application. In short, while we should hide it from the UI, you should

[2018-04-22 08:17] gonenduk opened #4466 "UI get stuck on loading image"
Using swagger-ui-dist version 3.13.5 on Windows.
Happens with chrome 65, 66 and latest Edge.

When the loading image (black circle turning around itself) is shown it gets stuck (stop cycling) and the browser doesn't respond anymore.
Happens when using OpenAPI 3 files. With version 2 of the files it is working well.

Attached is a screen shot:
![loading](https://user-images.githubusercontent.com/15

[2018-04-22 17:04] jonbcampos commented on #3784
@webron can this be reopened? Still not seeing and not easy to track in the other list

[2018-04-22 21:58] jemerald opened #4467 "UI hangs when there are top level produces and request header reference"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.13.5 (does not happen on previous versions)
| How did you install Swagger-UI? | swagger-ui-dist, or use online editor (editor.swagger.io)
| Which browser & version?        | Chrome@latest
| Which ope

[2018-04-22 21:59] jemerald commented on #4466
I'm having a similar issue with swagger v2 file, see #4467

[2018-04-23 02:29] #4448 closed

[2018-04-23 06:28] #4064 closed

[2018-04-23 06:41] shockey commented on #4466
Hey @gonenduk, sorry for the trouble here.

I believe I've fixed the issue by testing @jemerald's example - can you give this build a try, and see if it solves your issue as well? http://crowded-squirrel.surge.sh

As for a release, I'm going to bring this up tomorrow and see what we can do to get this patch out.

[2018-04-23 06:41] shockey commented on #4467
Thanks for the report @jemerald - see my update in #4466 😃

[2018-04-23 07:45] pho-enix commented on #4196
Thanks for the fix. I pulled the lastest release and stuff works as intended :)

[2018-04-23 08:59] gonenduk commented on #4466
Hey,
I cannot upload or access my yaml file from the build you provided, so I'm sending a minimum version of my yaml which reproduces the issue on my local machine.

[api3.zip](https://github.com/swagger-api/swagger-ui/files/1937335/api3.zip)

[2018-04-23 09:12] brudnyhenry opened #4468 "Since v3.6.1 consequitive SwaggerUI calls don't load OAS3 plugin"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | since 3.6.1
| How did you install Swagger-UI? | npm install
| Which browser & version?        | chrome 65, firefox 59
| Which operating system?         | Fedora 27

### Context

We are using Swagger-UI as p

[2018-04-23 09:56] fouadroumieh opened #4469 "Auto-close authentication popup after successful login"
How can I auto-close the authentication popup after the user successfully logged in?
Its a bit annoying when developing and you have to close it manually after each login.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  X
| Which Swagger/OpenAPI version?  | 2.4.0
| Which Swagger-UI version?       |
| How did you install Swagge

[2018-04-23 10:41] zem83 commented on #3036
@edesdan, I have both (jqDom_id and my-dropdown-jqEl) defined into the same HTML page, like this:

[code]

and then into the js file I have the swaggerUI init function that point to 'swagger-ui' div (the jqDom_id in my previous example) and the jQuery function for the onChange event on the HTML 'apiSelector' select (the my-dropdown-jqEl in my previous example).

This should be enough.

[2018-04-23 18:04] heldersepu commented on #4458
@shockey thanks for pointing out the swagger-ui-themes, I just incorporated them into Swagger-Net:
- http://swagger-net-test.azurewebsites.net/swagger/ui/index?cssTheme=theme-feeling-blue-css
- http://swagger-net-test.azurewebsites.net/swagger/ui/index?cssTheme=theme-flattop-css
- http://swagger-net-test.azurewebsites.net/swagger/ui/index?cssTheme=theme-material-css

I do see changes but none look

[2018-04-23 20:27] shockey commented on #4466
Looks like it works! http://crowded-squirrel.surge.sh/?url=https://gist.githubusercontent.com/shockey/852d839ad3540c797b027281e1fe565e/raw/a8c31235c303c9f89be41cedb86d824542f0aae6/api3.yaml

[2018-04-23 20:42] gonenduk commented on #4466
Great job!
And now the obvious question: when can we have the fix? 😁

[2018-04-23 20:44] shockey commented on #4466
Looks like we will be doing a hotfix for this, so you can expect one today... right after I do some more testing :smile:

[2018-04-23 20:56] jemerald commented on #4466
@shockey if you can, please also make a release for swagger-editor too. Thanks

[2018-04-24 03:56] herb123456 commented on #2651
Can not show example either.

[code]

[2018-04-24 06:00] harald-quist-stratsys opened #4470 "Swagger-ui v2.2.10 does not have an on/off authentication switch"
Downloaded commit 64dc306 and ran the dist/index.hml. The on/off switch for the authentication seems to be missing. Turns out this stopped working in v.2.1.5. This new "style" can be seen in
https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/version-detection.md#swagger-ui-2x-and-under
I can't imagine that this behaviour is deliberate, as it is much less intuitive now how the authent

[2018-04-24 06:16] kritika0205 opened #4471 "Not able to give an option of choice in parameter of requestbody"
I have an API which takes an array of integer or "all" in request body of id and perform the required function accordingly. Want to design a request body which has

emp_id and client_id

client_id=integer type
emp_id= array of integer OR "all"
How can I design it in swagger

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Whic

[2018-04-24 07:18] #4466 closed, assigned to nobody

[2018-04-24 07:28] deep9 opened #4473 "v3.13.5 freezes page - possible cyclic call"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | ?
| Which Swagger-UI version?       | 3.13.5
| How did you install Swagger-UI? | unpkg
| Which browser & version?        | all current
| Which operating system?         | Windows

### Demonstration API definition

[code]

### Configuration (

[2018-04-24 08:35] kritika0205 commented on #4449
Hi Gonen,
thanks for the reply, i will refer it, also can you please check issue Not able to give an option of choice in parameter of requestbody · Issue #4471 · swagger-api/swagger-ui,

|
|
|
|  |  |

 |

 |
|
|  |
Not able to give an option of choice in parameter of requestbody · Issue...

I have an API which takes an array of integer or "all" in request body of id and perform the required funct

[2018-04-24 08:40] gonenduk commented on #4471
@kritika0205, why don't you use OneOf in the definition of emp_id?
https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/

Or treat emp_id as a filter. If it has elements, you work on them. If the array is empty, you operate on all employess.

[2018-04-24 08:53] kritika0205 commented on #4471
Thanks for the reply @gonenduk

Actually, if I am using oneOf for swagger 3.0.0 then the model/example is not getting filled and I am confused about how the user should fill in the entries.

Also I don't want that if the array is empty then you operate on all employees, my use case is as follow:

let suppose i have e employees for client id 1

so swagger can take the following requestbody

emp_id=

[2018-04-24 08:56] kritika0205 commented on #4471
I want something like this:

path:
post:
/trial:
--
--
--
parameters:
-in body
name: emp_id
-oneof:
type:array
item:
 type: integer
type: String

-in: body
name: client_id
type: integer

[2018-04-24 09:41] kritika0205 commented on #3803
And update on this as of now? I still cannot see my oneOf in the Swagger UI example/model,.

[2018-04-24 10:12] alviezhang opened #4474 "Cookie Authorization is rendered incorrectly in `Try it out`"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.13.6
| How did you install Swagger-UI? |  yarn install swagger-ui-dist
| Which browser & version?        | Chrome 65.0.3325.181
| Which operating system?         | MacOS 10.13.4 (17E199)

### Demon

[2018-04-24 11:28] edesdan commented on #3036
@zem83 thanks for your reply. BTW at the end I decided to use the Swagger-UI 3.13.6 release. They added support for a drop-down list menu, pretty handy and very easy to configure!

[code]

[2018-04-24 11:37] zem83 commented on #3036
@edesdan, yes I saw that feature (and I'm sorry because I forgot to mention it in my answer xD) but I need to use a special style for the dropdown and other HTML components outside the Swagger "dom_id" HTML block, so I used my solution :)

[2018-04-24 21:57] shockey commented on #4470
Hi @harald-quist-stratsys! We're no longer working on the 2.x series of the UI, so you should upgrade to v3 if you'd like to take advantage of the newer features.

Thanks for the report regardless - and thanks for using Swagger!

[2018-04-24 21:57] #4470 closed

[2018-04-25 05:27] shockey opened #4475 "Content-Type improvements: `requestContentType` priority, + optional empty-body setter"
1. patch the `requestContentType` logic to always apply, regardless of the presence of a body/form value... because we should trust that the user knows what they want.
2. add an `attachContentTypeForEmptyPayload` option that can be leveraged through the constructor, buildRequest/execute, and the tags interface.

### Demonstration

[code]

### Expected behavior

[code]

### Current behavior

[code]

[2018-04-25 06:05] shockey commented on #4475
This issue was moved to swagger-api/swagger-js#1300

[2018-04-25 06:05] #4475 closed

[2018-04-25 06:16] harald-quist-stratsys commented on #4470
This is not a new feature, but a feature you removed in v.2.1.5. There is still code related to this on/off switch in the code, for example in swagger-oauth.js, there's reference to the `api-ic` - element in multiple places.
[code]

[2018-04-25 08:57] orbex opened #4476 "Disable download button in response body"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  feature request
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.13.6
| How did you install Swagger-UI? | copied src
| Which browser & version?        | na
| Which operating system?         | na

Is there any way to disable the grey download-button in

[2018-04-25 14:41] heldersepu commented on #4476
...it works fine for me, try it out here:
http://swagger-net-test.azurewebsites.net/swagger/ui/index#/ApiExplorer/ApiExplorer_Get
the download gives me a file named response.txt

[2018-04-25 15:40] luckyyyyy commented on #4458
I'm still using 2.x because there's no compact mode.

[2018-04-25 16:38] saru17 opened #4477 "What is the use of <swagger dir="ui"> tag, can we have a desired name directory instead of "ui" using this tag ? so that in the target directory with desired name will created ?"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2018-04-25 17:54] heldersepu commented on #4411
Maybe for extremely large object (models, examples, responses, etc) we should do the same thing that GitHub does, show the user a message and call that the object is too big:

https://github.com/swagger-api/swagger-ui/blob/master/dist/swagger-ui-bundle.js

[2018-04-25 18:04] heldersepu opened #4478 "Operation loading image stuck"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.15
| How did you install Swagger-UI? | PetStore
| Which browser & version?        | Tested on latest of Chrome & Firefox
| Which operating system?         | Win7

### Demonstration API definition
htt

[2018-04-25 19:16] sile16 commented on #2895
ui.fn.fetch.withCredentials = true

This worked for me.  Using Firefox 59.0.2 the CORS Everywhere extension

[2018-04-26 02:35] shockey commented on #4478
:smile:

---

This is actually due to the fact that the resolution happens as one synchronous call stack on the main thread - breaking the work up and queueing it on the event loop (a la React incremental rendering) or putting it into a worker thread (harder) would fix this.

[2018-04-26 02:43] shockey commented on #4476
Hi @orbex!

Sure, here's a plugin that disables the Download button everywhere that HighlightCode is used:

[code]

It's meant to be working :smile: I'd hazard a guess that this is a browser bug, what OS/browser are you seeing this with?

[2018-04-26 07:24] run27017 opened #4480 "How to invoke other actions in swagger-ui?"
In plugin, the reducers cannot invoke other actions and how should I listen state has changed?

[code]

[2018-04-26 07:34] fzlrhmn opened #4481 "Unknown Security Definition for HTTP Bearer authorization"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  bug
| Which Swagger/OpenAPI version?  | 3.0
| Which Swagger-UI version?       | 3.13.6
| How did you install Swagger-UI? | `yarn` or `npm`
| Which browser & version?        | chrome 66.0.3359.117
| Which operating system?         | Mac OSX 10.13.2

### Demonstration API definition

[2018-04-26 09:11] chenqimiao opened #4482 "I use a @PathVariable but set required is false in SpringMVC,at the time I post a request by swagger ui and don't set the parameter,the server got a "undefined" string value."
Q | A
-- | --
Bug or feature request? | Bug
Which Swagger-Core version? | 1.5.14
Which Java version? | 8
Which JAX-RS framework & version? | -

I use a @PathVariable but set required is false in SpringMVC,at the time I post a request by swagger ui and don't set the parameter,the server got a "undefined" string value.

eg.

<pre><code>
    @GetMapping("/test/{id}")
    @ApiOperation("test")
    @Ap

[2018-04-26 16:58] webron commented on #4482
Exactly the same answer as https://github.com/swagger-api/swagger-core/issues/2776#issuecomment-383300543. Please be respectful of our time.

[2018-04-26 16:58] #4482 closed

[2018-04-26 17:08] webron commented on #4481
Please provide a full API definition for us to reproduce the issue.

[2018-04-26 17:11] webron commented on #4477
Please re-submit the ticket filling the issue template. It contains crucial information for us to be able to provide you with the support you seek.

[2018-04-26 17:11] #4477 closed

[2018-04-26 17:13] webron commented on #4470
@harald-quist-stratsys unfortunately, it doesn't matter. We don't have the capacity or ability to look into changes around versions earlier than 3.0. You can continue using those versions as-is, or update to the latest and get support on those versions.

[2018-04-26 19:33] iamtheddrman opened #4483 "Enabling jsonEditor does not change POST body editor"
Using Swagger UI v3.13.6 and v3.0.19, setting the jsonEditor parameter to true does not seem to enable any sort of graphical JSON editor as the documentation describes. I have tried with my local copy of Swagger UI with a Swagger 2.0 spec and the live demo on http://petstore.swagger.io/ using Chrome 66 on Windows 10.

In my local UI, I added `jsonEditor: true` to the `SwaggerUIBundle` constructor

[2018-04-26 20:16] webron commented on #4483
It's not broken, it doesn't exist. We never added it to v3.

[2018-04-26 20:40] jimjaeger commented on #4452
Thanks for fixing, is there any way to find the release that includes it?

[2018-04-26 20:48] webron commented on #4452
@jimjaeger latest version.

[2018-04-26 21:10] hkosova commented on #4483
Possible duplicate of #3373.

[2018-04-27 03:37] iamtheddrman commented on #4483
Is there a plan to add it to v3? It's in the documentation for v3, so I assumed the feature existed. It would be nice to either update the documentation to reflect the v3 features, or get it added in so that the documentation matches.

[2018-04-27 04:04] #4453 closed

[2018-04-27 06:25] webron commented on #4483
Where do you see it in the documentation for v3?

The JSON Editor was previously added by a community contribution, and it's not high on the priority list.

[2018-04-27 09:15] hnthu opened #4485 "Could not click on the item in the Parameter Content Type box in 3.13.2 -> 3.13.6"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

When you reference to a json file or yaml file in your main json fi

[2018-04-27 09:49] devdream02 opened #4486 "Is there a way to generate static API documentation via swagger in a specific format ?"
Hi Team,

What i am looking for is a way to generate the API documentation in a specific table like format.

Is there a way that the documentation can be generated from the template i provide.?

Looking forward for some direction.

Thanks & Regards,
Dev

[2018-04-27 10:06] dlarr opened #4487 "Long processing request executed several times"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |   Bug
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | @version v2.1.4
| How did you install Swagger-UI? | Using node framework swagger-tools
| Which browser & version?        | Firefox 64 bits 59.0.2
| Which operating system?         | Windows

I have a

[2018-04-27 12:31] heldersepu commented on #4487
Try with the latest version of the UI v2.x is no longer supported

[2018-04-27 12:36] dlarr commented on #4487
Hello and thx for answering back here :)

I was using 2.X for visual convenience, as more of the service URL can be displayed.

I Will give it a try though. thank you !

[2018-04-27 12:49] heldersepu commented on #4487
Can you elaborate a bit more on that visual convenience...

[2018-04-27 12:51] JulieHakobyan opened #4488 "Parameters style"
Currently for the request parameters display we have this format when We have parameter name and under it we have type and in fields.
Is there a  possible way to have it in separated column ?

Currently we have
https://user-images.githubusercontent.com/32707743/39363366-1f46c9e8-4a3b-11e8-91dd-6a5cd0671b93.png

I want to have something like this.

https://user-images.githubusercontent.com/32707743

[2018-04-27 12:56] heldersepu commented on #4488
Define: possible
The project is OpenSource so yes it it possible, you can fork and change as you please.
Is there a quick config that will do that for you? no there is no such thing at the moment.

[2018-04-27 17:27] shockey commented on #4485
Bug confirmed!

I just finished a fix, which will be released today. Sorry for the trouble, and thanks for reporting!

[2018-04-27 17:29] #4485 closed

[2018-04-27 17:37] shockey commented on #4469
Further, if you only want this to happen in your development environment, you can change this:

[code]

to this:
[code]

and the modal will only close itself when you're viewing Swagger-UI on `localhost` 😄

[2018-04-27 19:03] cmavromoustakos commented on #3803
Same here. This is a blocker for us as we are sending these docs for our api to a customer and they can not display them properly.

[2018-04-27 21:12] Nur777 commented on #3803
+1
Today I also approached the need for this function. :)

[2018-04-28 00:49] dinakar2705 opened #4490 "Webpack + Swagger-ui Issue"
I am getting this error with the webpack config when i build my code.
<img width="1440" alt="screen shot 2018-04-27 at 5 45 23 pm" src="https://user-images.githubusercontent.com/5356525/39389997-56b6c92a-4a43-11e8-903b-34450747cc60.png">

Do let me know if theres any fix to this. Can you help me with a sample webpack file or something?

[2018-04-28 01:18] hnthu commented on #4485
A Massive thank you shockey for supporting this problem very quickly. Thank you very much.

[2018-04-28 02:55] shockey commented on #4411
you'd still be able to go arbitrarily deep: the resolver takes its last output as an input to avoid redoing work, so if you were resolving 1 level at a time, you'd go one level deeper each time you called it.

We do have to iterate over each occurrence of the $ref to replace it, but we do avoid needlessly iterating over the results of those operations (thanks to https://github.com/swagger-api/swag

[2018-04-28 03:41] iamtheddrman commented on #4483
At the bottom of the table here, as well as in the list of scripts that you need to add to a custom HTML file:
https://swagger.io/docs/swagger-tools/#customization-36

[2018-04-28 04:38] dinakar2705 commented on #4490
sure, so its actually an electrode app, not sure how much you would know about this, but you can try to download the application, run npm i & then run "npm run start" works, on broswer check localhost:3000/spec, being the swagger ui, but when i build the code it shows these errors. Would be great if theres anything you can help me with if not we feel free to close the issue.
For reference: http://

[2018-04-28 09:56] luka-magnotta opened #4493 "Example(s) in Media object are not displayed."
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.13.6 gcbff0251
| How did you install Swagger-UI? | npm run build
| Which browser & version?        | na
| Which operating system?         | na

### Demonstration API definition

[code]

### Expecte

[2018-04-28 10:02] luka-magnotta opened #4494 "Response/Media/Schema examples bleed into Model"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.13.6 gcbff0251
| How did you install Swagger-UI? | npm run build
| Which browser & version?        | na
| Which operating system?         | na

### Problem

When `example` is provided in the `schem

[2018-04-28 12:44] heldersepu commented on #4411
@shockey I'm afraid that without a "hard depth max expansion" the UI will always have this issue ...

The expansion of a truly complex object creates a LOT of code, the browser will ultimately crash and burn, that's what I was researching on my [scary numbers comment](https://github.com/swagger-api/swagger-ui/issues/4411#issuecomment-380168870), looks like an exponential increase in size.

[2018-04-28 14:08] dennisroche opened #4495 "Update Swagger-UI to latest dependencies (e.g. React 16, WebPack 3)"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Neither
| Which Swagger/OpenAPI version?  | N/A
| Which Swagger-UI version?       | v3.14.0
| How did you install Swagger-UI? | N/A
| Which browser & version?        | N/A
| Which operating system?         | N/A

### Expected Behavior

Project dependencies reasonably up-to-date so

[2018-04-28 18:58] heldersepu commented on #4411
@shockey  about the "avoid needlessly iterating" I think we can still do better ...

Take a look at the nested 7 example:
http://petstore.swagger.io/?url=http://swagger-net-test.azurewebsites.net/api/NestedSwag/7

The Model `Test1` takes about 10 seconds to fully expand, one would think that since `Test2` is a property under `Test1`  that expanding the `Test2` model will be very fast (since it was

[2018-04-29 20:42] PavelStefanov commented on #3803
Guys I want to suggest you try to use examples as workaround
[code]

[2018-04-30 10:42] luka-magnotta commented on #4493
Ah, thanks. Will be watching #3437 closely.

[2018-04-30 10:42] #4493 closed

[2018-04-30 11:32] clux opened #4497 "docker tag without leading v"
Out of all the projects on the [front page on docker hub](https://hub.docker.com/explore/), no one is prefixing tags with a leading `v`. Consistency wise, is it possible to tag without it?

[2018-04-30 12:28] heldersepu commented on #4497
How is this related to swagger-ui?

[2018-04-30 12:29] clux commented on #4497
https://hub.docker.com/r/swaggerapi/swagger-ui/tags/

[2018-04-30 12:36] heldersepu commented on #4497
Is that preventing you from accomplish something?

PHP has letters after the number:
https://hub.docker.com/r/library/php/tags/

Node has some non consistent tags too, some start with letter some with numbers:
https://hub.docker.com/r/library/node/tags/

Ubuntu seems to have it's own pattern (name-date):
https://hub.docker.com/r/library/ubuntu/tags/

[2018-04-30 12:40] clux commented on #4497
Well, parsing tags that are masquerading as semver, as semver.

The ones you listed (apart from ubuntu) all have valid semver tags (dash separated stuff after version is allowed). It's not a big problem, just trying to lock down version pinning so that we don't rely on floating tags everywhere. Semver enforcement is a nice way of doing that.

[2018-04-30 13:38] mika018 opened #4498 "Swagger-UI not producing an error when query string is added to the path"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  |  3.0.1
| Which Swagger-UI version?       | when I run `window.versions.swaggerUi` in the console 3.13.5 is displayed even though I am importing a version 3.13.6
| How did you install Swagger-UI? |  Using maven: org.webjars.swagger-ui.3.13.6

[2018-04-30 18:34] drpoggi commented on #3725
Hi, I was wondering if it's possible to disable the Try It Out button on a per-path or possibly tag basis?

[2018-04-30 22:47] webron commented on #4497
I don't have a problem considering it. @shockey, @ponelat  - thoughts?

[2018-04-30 22:54] webron commented on #3803
Everyone - asking whether it's already implemented or adding +1 comments is not helpful. If we haven't updated that it's implemented, then it's not been implemented, no need to ask. +1'ing just adds more notifications - you can use the reaction feature on the top comment to +1 and show us that this is important to you.

Nobody saying this is not important - however, there are real issues implement

[2018-04-30 23:03] webron commented on #4494
Don't recall ever hearing anyone complain about that, so it seems like it's a matter of personal preference. We're never going to be able to make everyone happy.

[2018-04-30 23:06] webron commented on #4483
Thanks. That's the documentation for v2. Unfortunately, we haven't kept this up to date.

We're in the process of updating the website completely, and it will work differently, showing the information directly from the github repositories, thus avoiding such situations in the future. Apologies for the confusion.

[2018-04-30 23:11] webron commented on #4488
@JulieHakobyan yes, anything is pretty much possible, you'd need to modify the template to do so. We don't have plans on making this behavior configurable.

[2018-04-30 23:12] webron commented on #4486
Take a look at the https://github.com/swagger-api/swagger-codegen project.

[2018-04-30 23:12] #4486 closed

[2018-05-01 04:11] #4490 closed

[2018-05-01 09:28] aruntanwar3 opened #4499 "curl command work fine for me in swagger editor but cookie does n't add in header"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2018-05-01 11:04] ponelat commented on #4497
Yeah no problem my side. Might be worth re-tagging all to the new format ( and keeping the old ones around ), its reasonably easy to do. As I wouldn't want people looking for a version, and having to guess whether it starts with a `v` or not.

[2018-05-01 12:14] mika018 commented on #4498
Thank you for your reply @webron. I cannot seem to find a validation badge so I am assuming that this is an error with the validator-badge and will forward the issue to that project.

[2018-05-01 12:14] #4498 closed

[2018-05-01 13:10] heldersepu commented on #4498
I think that the validation badge is not shown with OAS 3.x

# 3.x
- http://petstore.swagger.io/?url=http://heldersepu.github.io/hs-scripts/swagger/4258_p1_swagger.yaml&docExpansion=none
- http://petstore.swagger.io/?url=http://heldersepu.github.io/hs-scripts/swagger/4214_swagger.json&docExpansion=none

# 2.x
- http://petstore.swagger.io/?url=http://heldersepu.github.io/hs-scripts/swagger/3366_swa

[2018-05-01 17:08] shockey commented on #4497
Agreed @ponelat.

This isn't hard to do technically, we just need to strip the leading v off of the tag given to docker.

[2018-05-01 17:17] simonoakesepimorphics opened #4500 "Support response examples for alternative media types"
I'm not totally sure if this is a bug or a feature request, but I think the behaviour is in conflict with the OpenAPI Specification so I have labelled it as a bug. I hope you'll correct me if I'm wrong.

I would like to be able to document an API endpoint which responds with `text/csv` format by providing an example response. Currently it is possible to specify an `example` of a media type on an A

[2018-05-01 18:07] webron commented on #4497
I imagine for new images, it's just a matter of updating our build process. For older ones, we can probably write a script that will run through the images (maybe even keep both to not break any existing dependencies?).

[2018-05-01 19:31] heldersepu commented on #4486
That is pretty cool that the codegen can do something like that, I've only use it to generate client code to consume the API, but yes same engine could be pointed to a different template an bamm:
https://raw.githack.com/swagger-api/swagger-codegen/master/samples/html/index.html

[2018-05-02 01:02] jwalton opened #4502 "swagger-ui-dist takes an obnoxiously long time to `require()`"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  bug
| Which Swagger/OpenAPI version?  | any
| Which Swagger-UI version?       | 3.14.0
| How did you install Swagger-UI? | npm
| Which browser & version?        | n/a
| Which operating system?         | OS/X

### Expected Behavior

'swagger-ui-dist' is a package that exports a sin

[2018-05-02 01:25] jwalton commented on #4502
By way of a workaround:

[code]

[2018-05-02 03:21] srirnetapp opened #4503 "I want to add a new property readCreate similar to readOnly, what are the steps"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |
| How did you install Swagger-UI? |
| Which browser & version?        |
| Which operating system?         |

### Demonstration API definition

[code]

### Configuration (browser query string, constructor, confi

[2018-05-02 05:11] SomeshVerma opened #4504 "Support for multiple examples"
I want to provide multiple examples in request body and want that end user can view all of them and choose one of them.
I have tried out various alternative approach to add examples but not got desired output.

I am attaching a json file
It contains 2 methods in ms.categories:
1)post:
In its requestBody I have removed reference of schema and I am not able to see data in an external link
"requestBo

[2018-05-02 06:42] dtkav opened #4505 "`Try It Out!` requests fail if `servers: []`"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | 3.14.0 / g1f0dc054
| How did you install Swagger-UI? | git
| Which browser & version?        |  Chrome 66.0.3359.139 (Official Build) (64-bit)
| Which operating system?         |  Ubuntu 18.04

### D

[2018-05-02 12:38] hnthu opened #4506 "The Responses component didn't render correctly when refer to the separated json files."
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  |
| Which Swagger-UI version?       |3.14.0
| How did you install Swagger-UI? | Use dist
| Which browser & version?        |Google Chrome 66.0.3359.139
| Which operating system?         | Windows 7

### Demonstration API definition

### Config

[2018-05-02 12:52] dlarr commented on #4487
Sorry I didn't see your question. Here are my problems against V3.X

1. With v2.X There are a lot more of service lines that are displayed (16 services here)
![image](https://user-images.githubusercontent.com/2865021/39524088-30e09a86-4e18-11e8-9d67-de0656dfbf0b.png)

2. There are numbers of link enabling group manipulation that are really practical, unless I am mistaken, these aren't part of the

[2018-05-02 13:58] heldersepu commented on #4487
Yes there have been complaints about the size of the elements on UI 3.x:
https://github.com/swagger-api/swagger-ui/issues/4458

About the:  Show/Hide,  List Operations,   Expand Operations I personally never used them...
The latest has a [filter by tag] feature that is way better than those

[2018-05-02 18:41] shockey commented on #4503
@srirnetapp, you should propose any changes to the OpenAPI Specification at https://github.com/OAI/OpenAPI-Specification/issues, not here 😄

[2018-05-02 18:41] #4503 closed

[2018-05-02 20:00] dinakar2705 commented on #4386
The issues has been solved, it was a electrode thing that i was not aware of.

[2018-05-02 20:02] dinakar2705 commented on #4490
its a electrode thing, that i was not aware of.

[2018-05-02 21:10] iamtheddrman commented on #4483
Thanks for the response! I love the project and look forward to the updated website whenever it's ready.

[2018-05-02 23:30] webron commented on #4505
Thanks for the report. Given there's a simple workaround, we won't prioritize it high for now, but would be happy to review PRs.

[2018-05-02 23:33] webron commented on #4504
We still don't support displaying of multiple examples.  See #3437.

[2018-05-02 23:33] #4504 closed

[2018-05-02 23:48] webron commented on #4500
Thanks - we qualify this as a feature and not a bug, because it was never implemented. See #3437.

[2018-05-02 23:48] #4500 closed

[2018-05-03 06:53] dtkav commented on #4505
I think this is actually a bug in https://github.com/swagger-api/swagger-js/
potentially here: https://github.com/swagger-api/swagger-js/blob/df9d0a3d788519ed02ea3ddff231039bb574b06c/src/execute/index.js#L284
[code]

I'll make a ticket over on that project.

[2018-05-03 09:35] rbjorklin commented on #3850
Has there been any progress on this issue? Problem is still present on 3.14.0.

[2018-05-03 12:02] sologub-s commented on #4218
I have the same issue.

[2018-05-03 13:34] JulieHakobyan commented on #4488
Thank you!

[2018-05-03 13:46] pjaleeuwen opened #4509 "Error when using react-scripts with swagger-ui."
When running `react-scripts start` SwaggerUI displays and imports fine. When running `react-scripts build` the transpiled js fails with 'Error: Expected the reducer to be a function.'

I'm using swagger-ui 3.14.0 together with: react-scripts 0.7.0, react: ^15.6.2, react-dom ^15.6.2.

package.json:
[code]

[2018-05-03 15:33] pjaleeuwen commented on #4509
Somehow `react-scripts` does some magic that makes swagger-ui error when used. I do not have this problem when statically providing the bundles `swagger-ui-dist`. Yet unknown what exactly causes this but atleast it works for now. I would love to hear about any 'pretty' solutions.

[2018-05-03 18:57] toobulkeh opened #4510 "allOf merges $ref schemas outside of allOf"
When using allOf combining $ref and inline schemas, all times the $ref is used are also updated to the inline-schema.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.0
| Which Swagger-UI version?       | Swaggerhub SmartBear
| How did you install Swagger-UI? | swaggerhub.com
| Which

[2018-05-03 20:12] epet commented on #4228
@shockey, thanks for picking this bug up. When do you think this might land on your inner radar circles as we just had a customer report on this issue.

[2018-05-03 20:32] heldersepu commented on #4228
@shockey I think the correction is simple, we just need to add it to the freelyNamedPaths:
https://github.com/swagger-api/swagger-js/blob/master/src/specmap/helpers.js

[2018-05-03 22:14] epet commented on #4228
Hey @shockey, of @heldersepu is correct, I'm happy to send that PR?

[2018-05-03 22:25] webron commented on #4468
@brudnyhenry we have a similar feature available in swagger-ui natively. If you take a look at https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#core you'll see the `urls` parameter that allows you to pass in a set of API definitions, and it will give the user a drop-down allowing them to switch between the definitions. Does that meet your needs?

[2018-05-03 22:35] heldersepu commented on #4228
@epet Sure if you have time send a PR, you don't have to ask permission for that...

but make sure to include some unit tests, look at the history of that file I added something not too long ago and I included tests, you can use that as a starting point

[2018-05-03 22:45] webron commented on #4510
Thanks for the report, @toobulkeh. The OSS and SwaggerHub versions are similar, but not identical. Testing your definition in the OSS version, it renders as you'd expect. In this case, you should reach out to the in-app support in SwaggerHub, which is available through the chat icon at the top right bar.

[2018-05-04 00:03] shockey commented on #4510
Yep, this is a bug!

I was just working in this area of Swagger-Client for https://github.com/swagger-api/swagger-js/pull/1275, so I went ahead and patched this while my memory was fresh.

[2018-05-04 00:10] shockey commented on #4510
Also, @toobulkeh - were you seeing this in the Editor?

I can definitely get this to happen in Swagger-Client directly, but haven't found a way to reproduce this in the UI/Editor.

[2018-05-04 00:14] treii28 opened #4511 "Suggestion to make scaled down (smaller) version of ui for embedded devices"
I work with embedded IoT type devices and especially with using REST based services upon them. Recently I was referred to swagger as a way of easily communicating the spec of your REST interface to third parties that may be developing code that interacts with these small devices.

The problem is that these devices are small, with small memory and small muscles when it comes to data transmission. (

[2018-05-04 00:33] #4446 closed

[2018-05-04 00:34] webron commented on #4511
@treii28 thanks for following up and submitting the issue here.

@shockey - we should discuss this separately, I have some thoughts about it.

[2018-05-04 00:34] webron commented on #4511
@treii28 - by the way, is the try it out functionality important in this case? Is the ability to load a definition dynamically?

[2018-05-04 00:35] #4510 closed

[2018-05-04 00:41] mckennajones opened #4512 "Loading spinner should show when using the Spec parameter"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Feature
| Which Swagger-UI version?       | 03.14.0
| How did you install Swagger-UI? | NPM
| Which browser & version?        | Firefox 61
| Which operating system?         | Win 10

### Configuration (browser query string, constructor, config.yaml)

[code]

### Expected Behavior

[2018-05-04 01:29] heldersepu commented on #4511
I'm not sure what kind of IoT type devices are you using, you mentioned:

Yes you got that right, the ones I work with (Arduino devices) are tiny and I would not consider putting something like the entire Swagger-UI, no way, not even a scaled down version! ( well maybe as a hack to see what it looks like), think about how many times is the UI going to be used? maybe a few times in the entire life

[2018-05-04 02:51] shockey commented on #4411
This can't be really overstated: with your examples of 5 fields in each level of nesting, you end up with `5^n` $ref fields to iterate over, by my math. For the 7-level definition, that's 78125 operations! 😱

Definitely. Since $ref resolution is depth-first, we can go as far as caching each $ref as we walk down the tree. That would take a _lot_ of work off of the resolver, since it would only need

[2018-05-04 08:42] normenmueller commented on #2651
I'd like to add that parameter examples are also not displayed.

[code]

These examples are displayed nowhere at Swagger UI. Or am I missing something here?

[2018-05-04 10:35] normenmueller opened #4514 "Display Components Object (schemas, responses, parameters, ...)"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         | Feature request
| Which Swagger/OpenAPI version?  | OAS3
| Which Swagger-UI version?       | 3.14.0
| How did you install Swagger-UI? | Git clone
| Which browser & version?        | Google Chrome (latest)
| Which operating system?         | macOS 10.13.4

Separating [Components Obj

[2018-05-04 11:31] woozie164 opened #4515 "swagger-config.yaml folder"
I'm trying to disable the Try-it-out-button. According to [this](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md) page, I can do that by customizing the supportedSubmitMethods option. The page says to put the swagger-config.yaml file in the "project root directory", but I'm not sure which folder that is.

This is my dockerfile:
FROM swaggerapi/swagger-ui

// Not s

[2018-05-04 12:15] treii28 commented on #4511
I work mostly with ESP8266 devices as shown with the modified async server code I linked. The smallest of these has only 512K memory and I like to use their 'SPIFFS' filesystem whenever possible to avoid the need of adding additional hardware with either SD card or Ram chip support.  The chip itself can actually support up to 32Mb apparently, but I have yet to see a device with larger than a 4Mb c

[2018-05-04 12:30] michalrus opened #4516 "`format`s of query parameters are not shown for array-type parameters"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  bug
| Which Swagger/OpenAPI version?  | any
| Which Swagger-UI version?       | 3.14.0
| How did you install Swagger-UI? | `dist/`
| Which browser & version?        | any
| Which operating system?         | any

### Demonstration API definition
[code]
### Configuration (browser qu

[2018-05-04 13:16] heldersepu commented on #4511
Here are my 2 cents:

That is a great practice, and very useful to get developers up and running with little or no explanation.
You should do that all the time! like the example of my [turoapi](http://turoapi.azurewebsites.net/swagger/docs/V1) that can be a device sitting on my garage or a a fully functional demo on the cloud, the developer does not need to know.
Also useful to interview developer

[2018-05-04 13:51] heldersepu commented on #4511
@treii28 You also know about the codegen right? :
https://swagger.io/swagger-codegen/

The swagger.json file is not only to be used on the UI...
It truly shines when we need to consume an API, on my day to day I don't go to the UI unless I'm trying to reproduce a bug, when all goes well I have a rest API Client with just a few clicks

Here is how it looks on Visual Studio:
![image](https://user-im

[2018-05-04 14:08] ChristophWalter opened #4517 "Integrating an own component for ApiKeyAuth via Plugin API doesn't work"
| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug (probably)
| Which Swagger/OpenAPI version?  | 2.0
| Which Swagger-UI version?       | 3.13.4
| How did you install Swagger-UI? | via npm/webpack
| Which browser & version?        | Safari 11.1
| Which operating system?         | MacOS 10.13.4

In our project we use the plugin

[2018-05-04 15:13] treii28 commented on #4511
hehehe, code gen is one of the reasons I was leaning toward swagger. But I would still need some way to communicate what my API does to a third party.

[2018-05-04 15:46] heldersepu commented on #4511
Communicate what your API does to a third party...
That is the swagger.json file and only that, not ui needed

[2018-05-04 16:12] heldersepu commented on #4511
After reading your last comment for the second time, I think that you might be a bit confused...

The swagger-ui does NOT build the spec (swagger.json) file.

[2018-05-04 16:12] brunoluiz opened #4518 "Swagger UI is not computing URLs when multiple URLs are configured"
Swagger UI do not compute the server URL when multiple urls are set. It only computes the primary URL.

| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | OpenAPI 3.0
| Which Swagger-UI version?       | 3.13.1
| How did you install Swagger-UI? | Docker
| Which browser & version?        | Goo

[2018-05-04 16:15] webron commented on #4514
There isn't a way to do that now, and the benefit of it is unclear. Schemas are slightly different because they are treated as individual pieces, especially in code. What would you gain by seeing a list of reusable responses, reusable examples? Out of context, they don't add any value, especially for documentation purposes.

[2018-05-04 16:31] normenmueller commented on #4514
"Context" is a good point. Agree.

However, it would be valuable if in request body descriptions, for example, the "name" of the component object would be mentioned similar to the "name" of component objects of "type" schema. Just for documentation purposes this would be helpful.

Let me give an example:

[code]

In Swagger UI, if you refer to `aSchemaObject` then the description looks like

[code

[2018-05-04 17:10] webron commented on #4514
Okay, but what is the value of adding that information? When you view the documentation, the component of a response is not actionable - it doesn't translate to anything. Operations and schemas are the core pieces you need to call an API.

[2018-05-04 18:38] hkosova commented on #4517
The default API key can be set using [`preauthorizeApiKey`](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#instance-methods). This is supported in Swagger UI 3.13.0+. Is this what you are looking for?

[code]

[2018-05-04 19:25] shockey commented on #4511
I agree with @heldersepu - unless there's something really unique about your setup (e.g. you want to serve Swagger-UI to users without internet access), you'd be best served by hosting Swagger-UI somewhere other than your IoT devices, and loading a swagger.json that _is_ present on the device. Swagger-UI makes all of its requests from the browser, so there's no need for the server hosting the UI t

[2018-05-04 19:51] heldersepu commented on #4511
@shockey I see a joke coming ...
How do you call and IoT on a world with no Internet?

[2018-05-04 20:27] ChristophWalter commented on #4517
Thanks for your fast response. For this specific case using `preauthorizeApiKey` might help us to find a solution. But in general it should be possible to overwrite every component with help of the plugin api, or am I wrong?

Anyway, there are some more challenges to solve. Our current plan is to ship the default apiKey within the swaggerfile using a custom field, e.g.:
[code]
How can we access th

[2018-05-04 23:41] shockey commented on #4506
Hi @hnthu, I'm not able to reproduce this in 3.14.0.

I converted your JSON into YAML and made the following modifications:
- placed all the data in `book.yaml` under a `buy` key, so that the $ref would work
- placed all the data in `main.yaml` under a `paths` key, so that the UI would read it correctly
- added a `swagger: "2.0"` value
- added a `responses` object to the post operation
- changed t

[2018-05-05 06:43] OverDrone opened #4522 "2.8.0 /swagger-resource/configuration/ui does not set Accept header properly"
Hello!
springfox-swagger-ui-2.8.0\META-INF\resources\webjars\springfox-swagger-ui\springfox.js has the following code:
const configUIResponse = await fetch(baseUrl + "/swagger-resources/configuration/ui");
browser translates into HTTP request with request header Accept=*/*.
Swagger controller which handles "/swagger-resources/configuration/ui" does not define "produces".
My Web MVC configuration u

[2018-05-05 07:10] hnthu opened #4523 "Couldn't define global for consumes and produces when using a separated reference files"
## Q&A (please complete the following information)
 - OS: Windows 7
 - Browser: chrome
 - Version: 66.0.3359.139
 - Method of installation: dist
 - Swagger-UI version: 3.14.0
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Define global for consumes and produces then put a $ref in your main.json
[code]
and in book.json:
[code]
### Describe the bug you're encountering

The res

[2018-05-06 12:30] devdream02 commented on #4486
Hi @heldersepu , @webron

Thanks for suggestion.
I am able to generate the format i wanted by creating a moustache template of my own.

The only issue i am facing now is, i want to render the request example in the generated output but i can't find the corresponding mustache variable for the same.

For eg. - For POST request, the body looks like below json which is generated by spec file.
{
  "key

[2018-05-06 13:39] heldersepu commented on #4486
@devdream02 I think that question will be more appropriate on the codegen project...

[2018-05-07 01:00] zhaojigang opened #4524 "npm run build fail"
hi, i add a param-model.js, and then customized parameter-row.js and base.js, and i execute the command "npm run build", errors occurs:
![image](https://user-images.githubusercontent.com/14085645/39680560-afc63332-51d4-11e8-84fd-d475b797c3f1.png)

then i "tail -500f /Users/jigangzhao/.npm/_logs/2018-05-07T00_51_18_454Z-debug.log"
![image](https://user-images.githubusercontent.com/14085645/39680592

[2018-05-07 02:07] toobulkeh commented on #4510
@shockey yes, I mainly use the SwaggerHub in-browser editor right now, and only noticed it there.

[2018-05-07 03:49] kand617 commented on #3850
+1 also waiting on this issue

[2018-05-07 05:49] skykoradji commented on #4524
I have the same problem.

[2018-05-07 06:12] skykoradji commented on #4524
It is caused by a package in swagger-client has the third party package that is not compatible with es6. I downgrade the swagger-ui to 3.0.21 and 'npm run build' is successful.  The other way is to fix this by eject your react-scripts and add customized uglify plugin into it.

[2018-05-07 09:08] zhaojigang commented on #4524
thanks a lot!!!  it works!!! @skykoradji

[2018-05-07 11:19] #4524 closed

[2018-05-07 12:46] CHUmstead commented on #3850
unsubscribe
*Chris Umstead** :: **314.517.0917** ::* chris@intercorpinc.com

On Sun, May 6, 2018 at 10:50 PM kand617 <notifications@github.com> wrote:

[2018-05-07 15:12] chastevens opened #4526 "Swagger UI 3.x JASON inside x-examples causes rendering outside of table."
## Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 66.0.3359.139
 - Method of installation: npm, editor.swagger.io
 - Swagger-UI version:  3.9.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Providing larger JSON samples inside the x-examples section will cause data to get rendered outside the table in swagger 3.  Older versio

[2018-05-08 04:33] shockey commented on #4522
Hi @OverDrone,

This appears to be a Springfox issue - please file a ticket in their repository 😄

[2018-05-08 04:33] #4522 closed

[2018-05-08 06:19] karstensgit opened #4527 "Remove link from Logo/Topbar"
### Q&A (please complete the following information)
 - OS: Win10
 - Browser: All
 - Version: --
 - Method of installation: npm (dist package)
 - Swagger-UI version: 3.14.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger-UI configuration options:
[code]

### Screenshots
<img src="https://screenshotscdn.firefoxusercontent.com/images/fdfafa16-f975-4b55-9ce3-caddc28960f3.

[2018-05-08 09:09] sachinpachori commented on #4098
Is it fixed. I am also facing the same issue when I am trying to download a file from Azure cloud and assigning it to a variable of byte[] type.

[2018-05-08 10:44] enemyofthedawn opened #4528 "Nullable values are 0 by default"
I have nullable int  https://swagger.io/docs/specification/data-models/data-types/#null
[code]

but the default value in swagger ui for this int? property is 0, but it should be null.

[2018-05-08 14:10] MartinMuzatko commented on #1120
This makes no sense with formData.. with formData you should send `on` or `off` with checkboxes... And most bodyparsers interpret that as true or false.. not so with true or false sent as string, then this does not work.

[2018-05-08 16:35] kojiDev commented on #4528
@enemyofthedawn `nullable` means that property can be `null`, it is not a default value, swagger-ui I suppose tries to guess best suited default value/example. Default value of given type seems more informative that `null` so.

[2018-05-08 17:30] heldersepu commented on #4528
@enemyofthedawn use the `default` if you want to change that behavior
you can see an example here:
http://swagger-net-test.azurewebsites.net/swagger/ui/index#/Company/Company_Get2

@kojiDev 100% agree with you! the UI Default value of given type is more informative

[2018-05-08 19:46] toobulkeh opened #4529 "Extension examples not rendering from API Mock Addon"
## Q&A
 - OS: macOS
 - Browser: Chrome
 - Version: SwaggerHub
 - Method of installation: SwaggerHub
 - Swagger-UI version: SwaggerHub Current
 - Swagger/OpenAPI version: OpenAPI 3.0

## Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
The ID renders in SwaggerUI example, but not the API Mock server:
![screen shot 2018-05-08 at 3 42 01 pm](https://user-images.git

[2018-05-08 22:14] shockey commented on #4529
Hi @toobulkeh,

Since you're a SwaggerHub user, please bring up this issue with their support - there's a `Chat with Support` button near the top right corner of the application.

Thanks for reaching out!

[2018-05-08 22:14] #4529 closed

[2018-05-09 00:32] mikefidel commented on #4098
It most certainly is working using version 3.13.2, as that is the release I am now using.  It has been working since March, I recall.

My response headers are slightly different than yours.  That's because a text file is downloaded.  Also, the download is not automatic -- when the response status is 200, you will see a link in the Response Bofy saying "Download File".  Click on that and the downlo

[2018-05-09 01:19] webron commented on #4528
The responses above pretty much cover it.

[2018-05-09 01:19] #4528 closed

[2018-05-09 01:52] shockey commented on #4098
@mikefidel, thanks for jumping in 😄

@sachinpachori, it looks like your server is just sending back `{` as a response, which is definitely not valid JSON.

Take a look in your browser's dev tools, and make sure that your server is sending back a request that looks sane.

[2018-05-09 02:00] zqr95518 opened #4530 "How can I remove the default tag group in swagger UI?"
I don't add any controller with tag of default, but it showed in page.
I use the html in dist of swagger-ui-3.14.1.
Here's the json.
[code]
![tim 20180509100159](https://user-images.githubusercontent.com/18632169/39791820-2fc3b41e-5370-11e8-9b12-9adf1cca8229.png)

[2018-05-09 03:55] rodhoward opened #4531 "Download csv from an endpoint that returns multiple mime-types"
### How can we help?
The api team is using swagger and would like to define endpoints for reports that return both json and csv data depending on the request mime type, header.

How can we support this correctly in an html client without downloading the report into memory and then encoding a link url of the whole report.  I think the standard old school approach is to have two endpoints with fixed

[2018-05-09 05:44] webron commented on #4530
At the moment, you can't remove it. Any operation that doesn't have a tag defined on it directly, will appear under the `default` tag.

[2018-05-09 06:41] zqr95518 commented on #4530
OK, I know what happened. I use null in json, and this become default operation. How about ignore this?

[2018-05-09 07:20] zhaojigang opened #4532 "How can I debug swagger-ui when I modified the code?"
hi, I am a newcomer to react and redux, how can I debug swagger-ui when I modified the code?

 - OS: [macOS]
 - Browser: [chrome]
 - Swagger-UI version: [current master]

[2018-05-09 07:35] enemyofthedawn commented on #4528
But I used default: null and it is still appearing as 0....

[2018-05-09 08:39] jochenjonc opened #4533 "SwaggerUI OAuth2 clientCredentials authentication"
## Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: 3.13.2
 - Swagger/OpenAPI version: Swashbuckle.AspNetCore 2.4.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
None

### Describe the bug you're encountering

[2018-05-09 11:36] riti-suk opened #4534 "Session timeout support in Swagger UI"
Hi,

Do you provide session timeout support in Swagger UI 2.4 version?

Scenario is: For get API, response code is coming as success instead of session timeout in case login session is timed out.

[2018-05-09 12:59] heldersepu commented on #4528
@enemyofthedawn can you provide your full spec?

[2018-05-09 17:53] webron commented on #4530
null values for those things make it an invalid API definition, you'd have to remove those.

[2018-05-09 22:58] chrisdostert commented on #3437
will this include support for examples at the schema level (native JSON schema examples array support)? Right now it seems to be unsupported and triggers validation errors

[2018-05-10 00:51] zqr95518 commented on #4530
How about add an option to ignore null? It hard for me to remove null values... I need try for a while.

[2018-05-10 01:53] garrettjohnston commented on #3675
Make sure you are volume mounting correctly! Check out my answer in this Stack Overflow post https://stackoverflow.com/a/50264343/3838892

[2018-05-10 02:36] ashishdhyani opened #4535 "Swagger UI hangs on PUT request"
## Q&A (please complete the following information)
 - OS: Linux
 - Browser: chrome
 - Version: 64.0.3282.119
 - Method of installation:
 - Swagger-UI version: Springfox 2.7.0
 - Swagger/OpenAPI version: Swagger 2.0

Swagger UI hangs around 15-20 secs on PUT request, but completes after some time.
If I replace RequestMethod.PUT to RequestMethod.POST, it works instantly.

Please look at the below is

[2018-05-10 11:25] ChristophWalter commented on #4517
Hi @shockey!

Thanks a lot for your response. 👍

Using `apiKeyAuth` works, great!

---

I spotted `ui.specSelectors.specJson()` and started going deeper in deeper:
[code]
Never worked with Immutable.js before, so thanks for this hint. Looks much better!

[2018-05-10 11:25] #4517 closed

[2018-05-10 12:14] hkosova opened #4536 "Model name is changed after expansion"
## Q&A (please complete the following information)
 - OS: Windows 7
 - Browser: Chrome 66
 - Method of installation: http://editor.swagger.io
 - Swagger-UI version: 3.13.6
 - Swagger/OpenAPI version: 2.0, 3.0

### Content & configuration
Example Swagger/OpenAPI definitions

2.0:
[code]

3.0:
[code]

### Describe the bug you're encountering
Consider a model with a `title` that is different from the

[2018-05-10 14:15] ChristophWalter opened #4537 "Invalid HTML ID for Operations with tags which contain multiple words"
## Q&A (please complete the following information)
 - OS: macOS
 - Browser: safari
 - Version: 11.1
 - Method of installation: npm
 - Swagger-UI version: 3.14.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:

Use the Petstore demo and change one of the tags to multiple words, e.g.:
[code]

Swagger-UI configuration options:

Just use the Pe

[2018-05-10 15:00] ChristophWalter commented on #4537
I just created a pull request to fix this bug (#4538). In the meantime, I got a small questions concerning a workaround for this bug. I created the following plugin to fix this bug in my project until this issue is solved:
[code]
Is there another way to manipulate the props object with plugins? I could not overwrite `props.operation` as it is not writable.

[2018-05-10 20:44] maryscar opened #4539 "Visual Accessibility issues on Model properties"
## Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 66.0.3359.139 (Official Build) (64-bit)
 - Method of installation: npm
 - Swagger-UI version: 3.14.1
 - Swagger/OpenAPI version: Latest.

Expected Behavior

1 ) Property Style fails color contrast ratio thresholds for accessibility.
Current Behavior

1 )
image
![image](https://user-images.githubusercon

[2018-05-10 21:06] shockey commented on #4517
@ChristophWalter no problem! Immutable has a very powerful API, for this particular thing you can use `ui.specSelectors.specJson().getIn(["a", "deep", "path"])` to grab a value deeply within your data. Or you could always use `ui.specSelectors.specJson().toJS()` if you want a plain JS object 😄

[2018-05-10 21:17] algirdask commented on #2783
@smuthiya this seems related to ASPNETCore compatibility issues. I had same issue as you, adding StaticFiles dependency helped. From [here] https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/438)

[2018-05-10 21:25] shockey commented on #4534
Hi @riti-suk, session timeout is something you'd implement in your API. Swagger-UI will handle/display many of the common indicators of an expired session (`HTTP 401`, 301 redirect, etc) if you write it into your Swagger document.

PS: Swagger-UI 2.x is unmaintained and unsupported as of March 2017 - please use the new version!

[2018-05-10 21:26] shockey commented on #4533
Hmm, this does seem strange.

Do you have a live server I can test this against, @jochenjonc?

[2018-05-10 21:28] shockey commented on #4532
Hi @zhaojigang! Welcome 😄

I suggest using Chrome's dev tools, [React DevTools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en), and [Redux DevTools](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en) when working with Swagger-UI.

[2018-05-10 22:27] shockey commented on #4531
Hi @rodhoward, since Swagger-UI is a JavaScript application, we're able to construct requests with any `Accept` value that we want to.

If you're hoping to include information in a link about what format the link should result in, you should create multiple endpoints or use a query parameter to control the output.

[2018-05-10 22:30] shockey commented on #4530
We can't add options that allow users to violate the specifications, unfortunately.

---

As @webron mentioned, if _any_ of your operations lack a `tags` value, that operation will be placed under the `default` tag.

[2018-05-10 22:40] shockey commented on #4325
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 22:40] shockey commented on #4376
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 22:40] #4376 closed

[2018-05-10 22:40] shockey commented on #4386
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 22:40] #4386 closed

[2018-05-10 23:06] shockey commented on #4398
I just opened a PR that removes our Safari check, since Safari 11 can handle our XHR/Blob download implementation just fine.

I haven't tested it with older Safari versions, but per [Can I Use's usage stats table](https://caniuse.com/usage-table), Safari < 11 accounts for just 0.7% of browser usage.

[2018-05-10 23:07] #4398 closed

[2018-05-10 23:08] shockey commented on #4434
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 23:08] #4434 closed

[2018-05-10 23:08] shockey commented on #4443
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 23:08] #4443 closed

[2018-05-10 23:09] shockey commented on #4469
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 23:09] #4469 closed

[2018-05-10 23:09] shockey commented on #4476
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-10 23:09] #4476 closed

[2018-05-10 23:20] #4539 closed

[2018-05-11 00:45] shockey commented on #4536
Gist: https://gist.github.com/shockey/ee8597766b556b6f23ef7e61c28855be

[2018-05-11 03:12] hnthu commented on #4523
Sorry but are you looking this problem. Please help check it because we are in hurry.

[2018-05-11 05:15] #4536 closed

[2018-05-11 06:39] riti-suk commented on #4534
Hi @shockey we can't find the version 3.x on maven central repository, are they still unreleased?

[2018-05-11 08:38] fouadroumieh commented on #4469
@shockey Thanks for you answer. But I'm using swagger UI as a nuget package in a .net core project. There should be setting when configuring swagger for that. Because I'm not sure how to implement your solution in my scenario.

[2018-05-11 08:40] luka-magnotta commented on #4494
Well, now that you have heard about it, what is your own opinion? Don't you agree it makes sense to hide this "example:" field, as it's not part of the model? It's already shown (correctly and unambiguously) in the "Example Value" section.

I believe this is a simple oversight, but if you think this is some far-fetched and completely unreasonable feature request -- oh, well. By the way, would a PR

[2018-05-11 09:38] dlarr commented on #4487
Hello,

I reopen this issue because this behaviour is still going on with 3.X

I have a long processing webservice (15 minutes to process) and swagger will always relaunch a request without any action after a while.

[2018-05-11 13:39] dlarr commented on #4487
Closing again the issue. It had nothing to do with swagger-ui. I Changed the timeout setup for node

[code]

You can even setTimeout to infinity for a request :
[code]

But the behaviour in case node hangsout after timeout is strange : swagger launches another request.

[2018-05-11 13:39] #4487 closed

[2018-05-11 16:21] DoroninVic opened #4545 "Bad render " Available authorizations" modal in case use pair of API Keys"
Hello.
My API use apiKey authorizations.
For use API methods client should send two headers:  X-APP-KEY and X-APP-ID
Security section has been configured like it says in docs for use keys together:
<pre>
security:
  - apiKey: []
    appId: []
</pre>
But if open "Available authorizations" for needed API method, it contain list with two different types of authorization. I think if the keys are used

[2018-05-11 17:00] hkosova commented on #4545
Tthanks for the report, but this issue has been reported already: #3521.

[2018-05-11 17:33] bgbohling opened #4546 "Getting Failed to fetch with a valid response"
I'm using 2.0 on Chrome.  I'm getting a 'TypeError: failed to fetch' in the Swagger UI, but when I look at the response in Inspector, I see the response I'm hoping to get.

![swagger_fetch](https://user-images.githubusercontent.com/3483490/39938133-ee08ffaa-551f-11e8-8df0-6d81f28a89f0.png)

[2018-05-11 23:09] shockey commented on #4546
Hi @bgbohling, there's not much we can do to help unless you can provide a definition and a server to test this against.

[2018-05-11 23:11] shockey commented on #4545
Closing as a duplicate of #3521.

[2018-05-11 23:11] #4545 closed

[2018-05-12 04:13] shockey opened #4547 "Model title value provided by $ref/allOf is inconsistently displayed"
_Successor ticket for #4536._

## Q&A (please complete the following information)
 - OS: Windows 7
 - Browser: Chrome 66
 - Method of installation: http://editor.swagger.io
 - Swagger-UI version: 3.13.6
 - Swagger/OpenAPI version: 2.0, 3.0

### Content & configuration
Example Swagger/OpenAPI definitions

[code]

### Describe the bug you're encountering
Consider a model provided by reference, with

[2018-05-12 05:17] mckennajones commented on #4512
I can probably tackle this one

[2018-05-12 09:07] zqr95518 commented on #4530
Thanks for reply. (*^▽^*)

[2018-05-12 17:53] dinakar2705 commented on #4386
It was an electrode issue, sorry to bother. Thanks!

[2018-05-12 18:44] embryologist opened #4549 "How to define the schema and the running port of the API?"
### Q&A (please complete the following information)
 - OS: [macOS]
 - Browser: [chrome, safari]
 - Method of installation: [dotnet CLI]
 - Swagger-UI version: [ASP.NET CORE 2.4.0]
 - Swagger/OpenAPI version: [Swagger 2.0, OpenAPI 3.0]

### Content & configuration

[code]
[code]

### How can we help?
How is it possible to configure the schema and the port of the API?
The default is HTTP, port 5000.

[2018-05-12 19:56] jonathann92 commented on #4382
+1

I would this feature as well because I want to build another component that will fetch the token. Tokens can change if the user decides to grab another token.

I can't grab my token using the standard methods because the payload to retrieve the token has a custom field.

[2018-05-13 04:24] #4532 closed, assigned to nobody

[2018-05-13 21:16] sura2k opened #4550 "Question - Version of previous UI styling"
### Screenshots
![image](https://user-images.githubusercontent.com/1226939/39971842-aa1b9c78-5720-11e8-8c2f-c6e78785f7d3.png)

### How can we help?
What is the last swagger-ui version with above UI look? If it something between 2.3.x to 2.7.x, where can I download it?

[2018-05-14 02:37] fwhezfwhez opened #4551 "Hello,How to run swagger-ui"
windows 10 64
I've entered its path,and npm install it succesfully
how can i start this server on my browser like swagger-editor
'npm start' doesn't work

[2018-05-14 02:42] #4530 closed

[2018-05-14 13:31] michielmulders opened #4553 "Uncaught ReferenceError: http_exception_1 is not defined"
I'm trying to deploy my backend application on AWS EC2 (dockerized). I get a blank screen (swagger favicon is loaded) and I get an 'Uncaught referenceError: http_exception_1 is not defined'. I'm using swagger with NestJS

![image](https://user-images.githubusercontent.com/26482710/40000411-039da7ee-578c-11e8-98d0-0f7669149147.png)

I get this error when I go to my /api route that is showing the sw

[2018-05-14 14:14] bgbohling commented on #4546
I wish I could provide a server, but this is on a local instance for now as I try to get things working.  I'm now getting an error and headers are coming back as undefined, though my console is still showing the response I'm hoping for.  I saw on another thread that it could have to do with headers and I can show you that
[code]
I'm hitting a Drupal site with CORS configured in Drupal.

[2018-05-14 14:31] PieterBogemans opened #4554 "Body not showing in the API documentation on AWS"
So recently I updated an endpoint to my API. I made it so the endpoint uses a body instead of parameters because a client requested it this way.

It works perfectly fine through something like Postman but the swagger api documentation doesn't show the body after pressing "try out". Locally this works perfectly fine but on AWS I get this:

![image](https://user-images.githubusercontent.com/25767072

[2018-05-15 00:11] shockey commented on #4550
Hi @sura2k!

Any 2.x version will have this styling: https://github.com/swagger-api/swagger-ui/releases?after=v3.0.0

[2018-05-15 00:11] #4550 closed

[2018-05-15 01:04] shockey commented on #4554
Interesting!

@PieterBogemans, can you provide a definition and server URL that helps us reproduce this?

[2018-05-15 01:07] shockey commented on #4549
Hi @embryologist, it looks like you're using a Java annotation library.

Please open an issue with that library, as Swagger-UI is unrelated 😄

PS: you'll need to find a way to define a `host` and `basePath` for your Swagger document.

[2018-05-15 01:07] #4549 closed

[2018-05-15 01:15] shockey commented on #4546
@bgbohling, yeah, you should figure out a way to get those headers working - Swagger-UI has limited utility unless you get that straightened out.

Do you see an error in your browser console as well? Can you share that, if it exists?

[2018-05-15 01:41] embryologist commented on #4549
No this is C#, this is my configuration in start up

[2018-05-15 01:52] shockey commented on #4386
@dinakar2705 no worries - glad you figured it out!

[2018-05-15 01:57] shockey commented on #4469
@fouadroumieh, you'd need to control the HTML that Swagger-UI is used in, in order to use the custom functionality described above. I'm not super familiar with .NET, so I can't really say how you'd go about that in your case.

[2018-05-15 01:58] shockey commented on #4534
@riti-suk, that's Springfox, not Swagger-UI 😄 you should inquire in the Springfox repository: https://github.com/springfox/springfox/issues

[2018-05-15 02:03] shockey commented on #4511
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-15 02:03] #4511 closed

[2018-05-15 02:04] shockey commented on #4228
@epet - yeah, by all means, open a PR 😄

[2018-05-15 02:10] shockey commented on #4107
@minigans - sorry for the delay here, but we relaxed the link sanitizer about six weeks ago, so the current version shouldn't be giving you any trouble. Can you confirm?

[2018-05-15 02:13] riti-suk commented on #4534
@shockey, i would like to change from io.springfox to webjars, can you share changes required if you are aware of. It would be of great help. Thanks in advance

[2018-05-15 02:13] shockey commented on #3934
Yeah, this is possible - we're already doing that with `swagger-ui-dist`, which is also generated from this repository.

[2018-05-15 02:18] shockey commented on #4549
@embryologist I see, apologies for getting it wrong 😄

You don't provide scheme and host information to Swagger-UI directly - you need to set the [`host` and `schemes`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields) values in your Swagger document, and then Swagger-UI will read those values.

[2018-05-15 02:19] shockey commented on #4534
I personally have no idea how to use a webjar, perhaps @heldersepu can advise 😄

[2018-05-15 02:28] heldersepu commented on #4534
Ohh Yes! WebJars...
Ain't no thing but a chicken wing!

I got a few of those for Christmas last year:
![image](https://user-images.githubusercontent.com/545474/40033339-0395a05a-57c6-11e8-8c47-aa0237397ffc.png)

[2018-05-15 02:31] riti-suk commented on #4534
@heldersepu can u help me in this. I am using io.springfox for swagger ui in java but want to move to org.webjars. So what steps should i follow?

[2018-05-15 02:34] heldersepu commented on #4534
@riti-suk Sorry I have no experience with springfox or webjars...

I thought that my very nonsensical comment made that point for me

[2018-05-15 03:36] embryologist commented on #4549
Thank you

[2018-05-15 04:07] maheshm2195 commented on #4534
@shockey @heldersepu  Can anyone of you suggest any way we can upgrade to latest Swagger UI from the springfox dependencies.  Springfox dependencies have 2.8.0 as the latest version which are all buggy in one way or other for example zip responses can't be downloaded (gets corrupted).
Thanks.

[2018-05-15 06:03] sura2k commented on #4550
Thanks. 2.2.10 worked.

[2018-05-15 10:16] vodanh109 opened #4555 "Switching Spec, still submit old value in Form Data"
### Q&A (please complete the following information)
 - OS: Window
 - Browser: chrome
 - Method of installation: dist assets
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: Swagger 2.0

### Describe the bug you're encountering
I have 2 Specs that contains same api, but different enum values
First I tried with one, and then I tried with the second one, and the value of form data is

[2018-05-15 12:41] Dhakate opened #4556 "Swagger UI giving error: Can't read from server .It may not have appropriate access control settings."
I have enabled cors in my web api project ..but still swagger gives me this error .
Do we need to do any settings related to cors in swagger?

[2018-05-15 13:54] joekou opened #4557 "Input field doesn't show the default value"
- OS: window7
 - Browser: chrome
 - Method of installation: dist assets
 - Swagger-UI version: 3.14.2
 - OpenAPI version: OpenAPI 3.0

### Content & configuration

OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### The bug encountered
The default value as stated in the OpenApi definition above doesn't appear on the swagger-ui.

### To reproduce...
1. Open the swagger-ui page

[2018-05-15 17:34] bitclaw commented on #3403
FYI this error can also happen if the user selects an HTTPS scheme and on their local development environment has a self signed SSL certificate. In this case adding -K to the curl command will fix the error or also just selecting the HTTP scheme should be sufficient.

[2018-05-15 18:51] srpalomino opened #4558 "Markdown anchor element used in swagger.json is not rendering"
### Output
![32555223_1893014854062961_9191635578611826688_n](https://user-images.githubusercontent.com/9772415/40076325-9d090d72-584c-11e8-84bb-72e27f156ce1.jpg)

### swagger.json
https://gist.github.com/srpalomino/6baa3764006b6174faa4184d82b89ed3#file-swagger-json-L4

### index.html
https://gist.github.com/srpalomino/145c1f3965e998b69a3ac413ce8598c1

[2018-05-15 19:45] dgrahn commented on #3042
You can implement a requestInterceptor. Make sure to set the contextUrl and the url.

That works for me.

[code]

[2018-05-15 21:10] hkosova commented on #4558
There's an extra space between `[]` and `()`:
[code]
Change that to:
[code]

[2018-05-16 02:07] shockey commented on #4450
@wijdench, `Failed to refresh token` is outside of Swagger-UI's scope - you'd need to dig into what Keycloak and your server is doing in order to get to the bottom of that error.

Did you end up figuring this out?

[2018-05-16 02:12] shockey commented on #4556
@Dhakate, no, CORS is all handled by your browser.

Can you share the response headers you're seeing in the request coming back from your server?

[2018-05-16 02:13] shockey commented on #4555
@vodanh109, can you provide an example definition that we can use to reproduce this?

Thanks!

[2018-05-16 02:16] shockey commented on #4553
Hey @michielmulders, this looks weird: are you expecting that JS class definition to be a part of your Swagger definition?

At first glance, it seems like something's going wrong in your bundler.

[2018-05-16 02:20] shockey commented on #4551
@fwhezfwhez, there's currently no `npm start` command built into Swagger-UI - but this would be a great opportunity to copy what Swagger-Editor is doing and open a PR!

You can use any HTTP server utility to serve up the `dist` folder. For example...

[code]

[2018-05-16 02:27] srpalomino opened #4559 "Getting error ` _specWrapActions2.default is not a function` after running updateJsonSpec()"
### Goal
Expand and scroll to a tag (without refreshing the page) after clicking an anchor element.

### Problem
The following error message shows up

`TypeError: _specWrapActions2.default is not a function`

And I found out the problem happens in [ori](https://gist.github.com/srpalomino/1fb8ce1a4bd9a7bca527f34a64fbbdb6#file-app-jsx-L18).

Follow the directions [here](https://gist.github.com/srpal

[2018-05-16 02:28] vodanh109 commented on #4555
`{"info":{"title":"Swagger API For External API","version":"1.0.0","description":"Swagger API For External API"},"host":"localhost:3000","basePath":"/api/v1/api","swagger":"2.0","paths":{"/token":{"post":{"tags":["Authentication"],"description":"Authentication to get access token for API","consumes":["application/x-www-form-urlencoded"],"parameters":[{"in":"formData","name":"grant_type","required"

[2018-05-16 02:29] shockey opened #4560 "`TypeError: failed to fetch` is vague and unpleasant to look at when a request fails"
### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Current behavior

<img width="828" alt="image" src="https://user-images.githubusercontent.com/680248/40093177-d535ff2e-5875-11e8-86d5-19ba057b738b.png">

`TypeError: failed to fetch` appears, giving me no clues as to what went wrong - a refused connection, in this case.

### To reproduce...

Steps to reproduce the behavio

[2018-05-16 02:37] shockey commented on #4534
@riti-suk I don't have any experience with webjars (or Java, for that matter) - we don't maintain those, it appears that they automatically mirror npm modules (for JavaScript).

I've pinged a few more folks, maybe I can track down someone that can help here 😄

[2018-05-16 07:27] #4557 closed

[2018-05-16 07:27] shockey commented on #4557
Fixed.

Thanks for the report, @joekou!

[2018-05-16 13:11] enemyofthedawn commented on #3881
@snebjorn You closed this, did using Swagger-Net from @heldersepu solve your problem? If I'm not wrong current version of swashbuckle uses 3.x version of swagger-ui but I still see raw HTML in my responses.

[2018-05-16 16:26] #4558 closed

[2018-05-16 18:03] srpalomino opened #4562 "What HTML is created by the Markdown Component?"
The markdown component generates some HTML [here](https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/providers/markdown.jsx#L18)

Does anyone know what are all possible values `html` can be?? For example, can `html` be a paragraph element containing text and other html elements?

[2018-05-16 19:41] shockey commented on #4562
@srpalomino, `html` is always an HTML string. The elements you get depend on the input 😄

Here are some example outputs: https://runkit.com/shockey/5afc8936ef55be0012f58b37

[2018-05-16 21:04] shockey commented on #4505
Fixed by #1307.

Thanks, @dtkav!

[2018-05-16 21:04] #4505 closed

[2018-05-16 22:07] srpalomino commented on #4562
@shockey

[2018-05-16 22:07] #4562 closed

[2018-05-17 04:27] dtkav commented on #4505
Hey @shockey - I don't think this is actually fixed until you bump  `swagger-client` to https://github.com/swagger-api/swagger-js/releases/tag/v3.8.3

[2018-05-17 05:46] shockey commented on #4505
@dtkav, the current release[1] appears to have picked up `swagger-client@3.8.3`. Note that the carat in the Swagger-UI package manifest[2] will allow newer Swagger-Client versions - bumping the minor and patch in the manifest would only raise the minimum required version.

The Editor, on the other hand, is still broken - we didn't release it last week, so its latest build was on May 4. It'll be up

[2018-05-17 05:51] dtkav commented on #4505
ah ok TIL, thanks @shockey !

[2018-05-17 08:12] zedrdave commented on #2665
I am also running into this issue (with Swagger v.2.0) and can't seem to figure out how to get the JSON editor to skip optional fields (especially non-strings) that are left empty (it sends an empty string no matter what).

Setting `x-nullable:true` does not seem to help either.

@webron Could you point me in the direction of the UI feature that addresses that?

[2018-05-17 09:12] raubel commented on #3850
+1 does not seem to work for me as well (or the documentation is not clear)

[2018-05-17 09:43] PieterBogemans commented on #4554
Some code of the endpoints (not that I expect anything to be wrong with this):

![image](https://user-images.githubusercontent.com/25767072/40169673-cf5f678c-59c6-11e8-8b93-22e452a2db52.png)

![image](https://user-images.githubusercontent.com/25767072/40169681-d4e6b2e6-59c6-11e8-97d0-670051384b52.png)

Unfortunately I'm not allowed to actually show you the repository. Do you have an idea what coul

[2018-05-17 10:07] jochenjonc commented on #4533
@shockey I don't have a live server available

[2018-05-17 10:48] rishacha commented on #4551
Hi @shockey , can I take this up?

[2018-05-17 12:11] wijdench commented on #4450
Hi,
not yet, on window.onload the keyckloak is initialized but the token is not created yet.

[2018-05-17 12:17] snebjorn commented on #3881
I didn't find a solution as it was a "nice to have" so it wasn't worth the time.
I don't recall why I closed it. Perhaps I wanted to see what Swashbuckle did when it updated the swagger ui dependency.

[2018-05-17 12:53] heldersepu commented on #3881
@enemyofthedawn yes I have this problem addressed in my "fork"
honestly is not a fork anymore, I detach it and have done a LOT of bug fixes and improvements at this point merging will be very very difficult.

But for this issue all you need to worry about is that [Swagger-Net](https://www.nuget.org/packages/Swagger-Net) uses the latest of Swagger-UI

[2018-05-17 15:12] arrcher opened #4564 ""$ref" links in examples should not try to be resolved"
- OS: windows 10
 - Browser: any (tested on firefox)
 - Version: 60.0 (firefox)
 - Method of installation: dist assets
 - Swagger-UI version: 3.14.2
 - Swagger/OpenAPI version: OpenAPI 3.0

Example Swagger/OpenAPI definition:
[code]
### Error
![2018-05-17_10h10_47](https://user-images.githubusercontent.com/22569463/40186401-9849021e-59ba-11e8-9647-3a57c01f9e53.png)

### Expected behavior
`$ref` li

[2018-05-17 17:45] dudleycodes opened #4565 ""-" (dash) in route causes UI to flinch"
### Q&A (please complete the following information)
 - OS: Windows 10 (18.03)
 - Browser: Chrome (66.0.3359.139), Edge (42.17134.1.0), Firefox (60.1)
 - Method of installation: [Swashbuckle.AspNetCore](https://github.com/domaindrivendev/Swashbuckle.AspNetCore)
 - Swagger-UI version: 3.12.2
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[co

[2018-05-17 19:33] epet commented on #4228
This is probably my lack of understanding nuances of the codebase but I put this test in my change and in the current master, it passes in both versions:
[code]
I'm not sure this is solving a problem. @heldersepu or @shockey, advice for better tests or validation for this scenario?

[2018-05-17 20:14] heldersepu commented on #4228
Bamm. Did the problem got fix?

Maybe your unit-test does not actually test the problem, I remember that the first time around I was not able to reproduce, maybe your are on the same boat.

[2018-05-17 20:17] shockey commented on #4551
@rishacha absolutely! feel free to open a PR and tag me in it.

[2018-05-17 20:59] heldersepu commented on #4228
I just 2check the "notworking.txt" example and the issue still present:
http://petstore.swagger.io/?docExpansion=list&defaultModelsExpandDepth=2&url=https://js-webapptest.azurewebsites.net/swag-notworking.txt

[2018-05-17 22:15] shockey commented on #4450
@wijdench, I see. Consider not initializing Swagger-UI until your token is created 😄

[2018-05-17 22:18] shockey commented on #4554
@PieterBogemans, hmm... is the request actually coming back in both environments? Are there any browser console errors in either environment?

[2018-05-17 23:00] #4527 closed

[2018-05-17 23:29] shockey commented on #4497
Fixed - Swagger-UI and Swagger-Editor will publish without a leading `v` going forward.

Thanks @clux!

[2018-05-18 02:10] hnthu commented on #4523
I am sorry if this issue is not make sense.
Would you like to share your thoughts about it?
I really like the scrollable bar for response data feature in 3.14.0. but we have to downgrade to 3.10.0 to solve this issue.
I am sorry if i bother you.

Thanks

[2018-05-18 05:49] chaudharisuresh997 opened #4568 "more xml tags for c#"
Hi
swagger documentation https://swagger.io/docs/specification/describing-parameters/ reveals only what json tags you  have.

But I think what needs to be covered is which tags I can use in my c# code to auto generate swagger doc in swagger UI.
For example to generate summary we use <summary> in c# code.
Can you please list all the c# tags which I can type in c# code so that swagger UI will do res

[2018-05-18 14:11] cedricbompart opened #4569 "invalid sample request for XML POST/PUT body"
- OS: linux
 - Browser: chrome
 - Version: 66.0.3359.170
 - Swagger-UI version: 3.14.2
 - Swagger/OpenAPI version: Swagger 2.0 (io.swagger/swagger-jaxrs -> 1.5.19)

I've got a jaxrs service where I'm generating at runtime the swagger definition. I'm using the "getListingJsonResponse" method from the io.swagger.jaxrs.listing.BaseApiListingResource class to produce the JSON definition. Then the defi

[2018-05-18 15:49] shockey commented on #4554
@PieterBogemans I see.

Can you record a screencast of what's happening? I get the impression that I'm missing something from just looking at the screenshots (you mention differences in what happens before and after pressing Try-It-Out that sound hard to capture in a screenshot).

Also - have you configured your AWS deployment to serve CORS headers?

[2018-05-18 17:33] rakula8125 commented on #3853
Is there any update on this ticket ? I am too facing the same issue.

[2018-05-18 18:23] djfdev opened #4570 "Request form clears after submitting in NPM module"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome
 - Version: 65
 - Method of installation: npm
 - Swagger-UI version: 3.14.2
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

[Here's an example repo](https://github.com/djfdev/swagger-ui-form-issue). Take a look at public/good.html and public/bad.html

### Describe the bug you're encountering

[2018-05-18 20:32] epet commented on #4228
being a managed code developer, I'm ramping up with the javascript environments. I finally got my changes setup in a local branch with the swagger-ui. Adding 'properties' to the freelyNamedPaths does not solve the issue we are seeing. Open to other ideas or I will pass to let someone with more depth in this codebase fix it.

[2018-05-18 22:13] embryologist commented on #4549
@shockey ,
this is the method for `SwaggerDoc`
` public void SwaggerDoc(string name, Info info);`
I can not define schemas in this method, what shall I use

[2018-05-20 00:52] felixvolz opened #4573 "swagger-ui - ui incorrectly validates field in swagger when using pattern"
### Q&A (please complete the following information)
 - OS: [e.g. macOS] win10
 - Browser: [e.g. chrome, safari] chrome
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets] dist asset
 - Swagger-UI version: [e.g. 3.10.0] 3.10.0
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0] Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger

[2018-05-20 14:46] fabich commented on #4325
Any updates on #4334?

This is really holding us back on updating Swashbuckle.AspNetCore to version 2

[2018-05-20 14:53] VladislavSudakov commented on #4325
@shockey , sorry, but we are still waiting for any solution here, please do not close this issue.

[2018-05-20 22:57] jdillon opened #4574 "How to cope with bootstrap4 as surrounding framework for integration?"
How do allow embedding Swagger-UI, default theme (which I think is just fine) into a webapp which uses bootstrap4?  Looks like classes conflict and the end result is that the Swagger-UI renders very very strangely.  Its mostly okay but things like its endpoint detail layouts is totally messed up.

I'm really happy with the default theme for my use-case, but the webapp its inside of is bootstrap4 a

[2018-05-20 22:59] jdillon commented on #4574
FTR it mostly just works, and I really appreciate that, and I really hope I don't have to become an expert in react to fix this.  If someone could point me in the right direction or some simple hack I'd really appreciate it.
:-)

[2018-05-21 13:01] 1nfinite opened #4575 "Google recaptcha with swagger"
I am having no idea of how could i implement google recaptcha into swagger itself so that it is verified by the backend rest api. I try to search in documentation but nothing found.

My question is this possible to be implemented and how?

[2018-05-21 17:55] blortfish opened #4576 "Response headers incomplete when making CORS requests"
- OS: macos
 - Browser: chrome
 - Version: 66
 - Method of installation: npm
 - Swagger-UI version: 3.15.0
 - Swagger/OpenAPI version: 2.0

### Describe the bug you're encounering
I've noticed that when you host swagger-ui on a particular domain and you make calls to a CORS enabled api, not all response headers are shown. I think this may be a bug related to the preflight OPTIONS call, but I may j

[2018-05-21 18:08] desaifly opened #4577 "Default Value of the parameter do not change when moving from one version to another."
- OS: [Windows]
 - Browser: [chrome]
 - SwaggerAspNetCore version: 2.4
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

 I have used following sample:
https://github.com/Microsoft/aspnet-api-versioning/tree/master/samples/aspnetcore/SwaggerSample

### Describe the bug you're encountering
When moving from one version to another the default value remains the same in the input bo

[2018-05-21 20:29] hkosova commented on #4573
The `pattern` keyword uses the regular expression syntax of [JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Special_characters_meaning_in_regular_expressions) (ECMA 262, to be more precise), which does not have the `\p{Alnum}` token (it's from Java, not JavaScript). That's probably why you are seeing unexpected results.

Try the following patter

[2018-05-21 21:05] hkosova commented on #4576
See if this helps: https://github.com/swagger-api/swagger-ui/issues/3340#issuecomment-313550973

[2018-05-21 21:08] shockey commented on #4576
Hey @blortfish!

It's a CORS issue indeed - the browser only exposes a response header to Swagger-UI if that header is listed in [`Access-Control-Expose-Headers`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers). Note that Allow-Headers (which you did define) is to tell the browser what request headers it can send, and Expose-Headers is to tell the browser w

[2018-05-21 21:11] shockey commented on #4576
PS: Looks like @hkosova beat me to it, as usual 😉

You might be able to get away with `Access-Control-Expose-Headers: *` if you only need to support newer browsers - it was added to the Fetch living standard in 2015. Do some checks on your end if you end up using that trick.

[2018-05-21 21:30] shockey commented on #4564
This seems like a change that's okay to make ([Example Object `value` fields don't directly support references](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#example-object)).

@webron, any thoughts?

[2018-05-21 21:39] blortfish commented on #4576
Ahh apologies for duplicating. Unfortunately, I don't have access to the API servers that would need to serve up the header. Being that this is part of CORS I don't think there would be any work around. It seems reaching out to API owners is the only option.

That said, if there is some other way around this I'm all ears. If not, feel free to close this issue. Thanks for the quick response!

[2018-05-21 21:55] shockey opened #4578 "Print json null values correctly in the api documentation panel"
_From @specialtactics on May 16, 2018 10:03_

### Q&A (please complete the following information)
 - Method of installation: docker
 - Swagger-Editor version: 3.5.5
 - Swagger/OpenAPI version: OpenAPI 3.0

 ### Content & configuration

Swagger/OpenAPI definition:
[code]

### Is your feature request related to a problem?
YAML is a superset of JSON and hence supports "null" as a value of a json prop

[2018-05-21 22:33] felixvolz commented on #4573
Thanks! Ive used the pattern you've suggested and my swagger now validates

[2018-05-21 22:33] #4573 closed

[2018-05-21 22:49] jdillon commented on #4574
thanks for the reply.  Seems like a solution to prefix is probably gonna be the simplest and best bang-for-buck to avoid potential CSS class-name collisions with whatever framework might be used when embedding swagger-ui.  You could do the other and identify overlapping class-names but thats gonna be very specific to bootstrap or whatever; so you might fix it for bootstrap but maybe some other fra

[2018-05-21 23:03] shockey commented on #4576
@blortfish, while you're right in that there's not really a way to throw out CORS.... you do have a couple of options while you wait to hear back:

- Run your browser without CORS enabled. With Chrome, the `--disable-web-security` command line flag will get you there. Also consider browser extensions, looks like there's a few out there that claim to be able to toggle CORS enforcement on and off.
-

[2018-05-21 23:13] shockey commented on #4577
Hi @desaifly, I don't see a Swagger/OpenAPI document in the repository you linked to that I can use to reproduce this. Can you provide one?

Also, screenshots would be helpful here 😄

[2018-05-21 23:13] shockey commented on #4535
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-21 23:13] #4535 closed

[2018-05-21 23:15] shockey commented on #4462
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-21 23:15] #4462 closed

[2018-05-21 23:16] shockey commented on #4481
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-21 23:16] #4481 closed

[2018-05-22 01:25] shockey opened #4579 "Release automation"
These changes essentially automate the release process earlier: we will be responsible for testing the candidate code manually and then triggering a release, but version bumping, packaging, GitHub release creation + notes, and deployment triggering will happen automatically.

---

### Eliminate version-controlled `dist` folder in favor of publishing a zip file of assets attached to GitHub releases

[2018-05-22 01:34] fwhezfwhez commented on #4551
well,3q so mch

[2018-05-22 01:34] #4551 closed

[2018-05-22 04:33] shockey commented on #4575
@1nfinite, are you asking how to describe your RECAPTCHA flow in a Swagger document, or how to display it in Swagger-UI?

[2018-05-22 04:37] shockey commented on #4568
Hi @chaudharisuresh997, we don't maintain C# bindings for Swagger/OpenAPI, you'd have to inquire about this with whatever library you're using in C#.

[2018-05-22 04:37] #4568 closed

[2018-05-22 04:40] shockey commented on #4531
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 04:40] #4531 closed

[2018-05-22 04:40] shockey commented on #4546
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 04:40] #4546 closed

[2018-05-22 04:40] shockey commented on #4468
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 04:40] #4468 closed

[2018-05-22 04:40] shockey commented on #4556
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 04:40] #4556 closed

[2018-05-22 04:40] shockey commented on #4553
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 04:40] #4553 closed

[2018-05-22 04:43] shockey commented on #4325
Sure thing, I'm going to take this out of the support queue so it doesn't get closed.

[2018-05-22 04:47] 1nfinite commented on #4575
@shockey it is best if i could describe RECAPTCHA flow in swagger document but as far as i concerned, I can't find it in swagger doc. I am referring to open api 2.0

I would expect something like this as an optimum solution.

`Captcha:
    Provider: google
    Site_Key: string
    Secret_Key: string`

and it will be display on swagger ui.

[2018-05-22 04:48] shockey commented on #4549
@embryologist, it looks like you're using Swashbuckle... you should probably use [`RootUrl` and `Schemes`](https://github.com/domaindrivendev/Swashbuckle#additional-service-metadata).

PS: Swashbuckle is a different library (though they do use Swagger-UI), and I'm not a Java developer - their issue tracker is likely to be a better home for any questions about the Java side of things.

[2018-05-22 05:50] shockey commented on #4488
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 05:50] #4488 closed

[2018-05-22 05:55] shockey commented on #3558
This was fixed by #4563 😄

<img width="992" alt="image" src="https://user-images.githubusercontent.com/680248/40344529-0c9214fc-5d4a-11e8-97d9-2cda1530b358.png">

[2018-05-22 05:55] #3558 closed

[2018-05-22 06:08] brudnyhenry commented on #4468
Hi,
Thank you for feedback. Actually we don't use any custom plugin. I attach our page
[index.zip](https://github.com/swagger-api/swagger-ui/files/2025160/index.zip)

What we doing is call SwaggerUIBundle after user selects desired application and API version from drop-down menu. I will check if we can use `urls`  in our case.

[2018-05-22 06:26] shockey commented on #1569
Even with Fetch (which IE11 doesn't support), if we ask for non-automatic redirection with `{ redirect: "manual" }`, we get an opaque response:

...

So, we can decide to not follow but the redirect, but in exchange the response comes back with absolutely no information.

---

With this in mind, I'm going to close this out. It's just not possible to create a good user experience around this with t

[2018-05-22 06:26] #1569 closed

[2018-05-22 07:34] shockey commented on #4223
Bug confirmed in v3.15.0.

[2018-05-22 07:37] shockey commented on #4122
Closing in favor of #4223.

[2018-05-22 07:37] #4122 closed

[2018-05-22 07:38] shockey commented on #1480
Closing in favor of https://github.com/swagger-api/swagger-ui/issues/1934.

[2018-05-22 07:38] #1480 closed

[2018-05-22 07:52] shockey commented on #4569
@cedricbompart, can you illustrate this? i'm not quite following 😄

[2018-05-22 07:53] shockey commented on #4559
Closing; @srpalomino you and I chatted about this last Thursday 😄

[2018-05-22 07:53] #4559 closed

[2018-05-22 08:15] cedricbompart commented on #4569
[code]

...the XML/name for the _basketItem_ object is ignored because there is a $ref which references an external definition.
It's all fixed now; I've "massaged" the JSON output from the swagger implementation and moved the XML declaration to the _BasketItem_ definition.  Ideally the **io.swagger.jaxrs.listing.BaseApiListingResource/ getListingJsonResponse** should return a valid Swagger object!

[2018-05-22 10:46] rishacha commented on #4574
Hi @shockey , `postcss-class-prefix` is no longer maintained. [This](https://github.com/marceloucker/postcss-prefixer) seems like a better option. Although I need to figure out where I can add it ( perhaps in the `webpack-*.config.js` ). Can I open a PR?

P.S. : Also, I see a file called `postcss.config.js`. Is this fix already in place?

[2018-05-22 12:13] hkosova opened #4581 "Display the Model/schema for object parameters"
This is a follow-up to #3558 and also related to #3641.

As an API consumer,
I want to see the schema of object parameters (individual property types, descriptions, etc.),
so that I can better understand how to use the API.

### Q&A (please complete the following information)
 - OS: any
 - Browser: any
 - Method of installation: dist
 - Swagger-UI version: 3.15.0
 - Swagger/OpenAPI version: OpenAP

[2018-05-22 12:49] Nejaa opened #4582 "Curl not found in docker imqge"
Hello

Using swagger-ui from docker I am unable to have it execute requests because curl is not available. This is a problem since curl is used by swagger-ui to execute the requests

[2018-05-22 14:52] Nejaa commented on #4582
fixed with docker exec apk add curl

[2018-05-22 17:47] blortfish commented on #4576
@shockey thank you for all of the suggestions and information. These are all great options to consider. In the end we will be recommending that our users either whitelist headers in `Access-Control-Expose-Headers` or allow `*`.

[2018-05-22 17:47] #4576 closed

[2018-05-22 22:59] shockey commented on #4534
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-05-22 22:59] #4534 closed

[2018-05-23 00:03] shockey commented on #4574
@rishacha, yeah, you should add the postcss-prefixer plugin to our postcss config file 😄 we do already have postcss, but it's only being used for [autoprefixer](https://github.com/postcss/autoprefixer).

be sure to ignore `.swagger-ui` if you open a PR for this! thanks!

[2018-05-23 03:36] shijinkui opened #4584 "CSP error"
https://developers.google.com/web/fundamentals/security/csp/

console error:

[code]

### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example

[2018-05-23 07:54] shockey commented on #4187
Closing in favor of https://github.com/swagger-api/swagger-ui/issues/3370 😄

[2018-05-23 07:54] #4187 closed

[2018-05-23 07:54] shockey commented on #4584
Thanks @shijinkui, we're already tracking this in https://github.com/swagger-api/swagger-ui/issues/3370 😄

[2018-05-23 07:54] #4584 closed

[2018-05-23 12:48] Hrafnkellos commented on #3803
Here is an example of how i'm using examples to display multiple error responses from my service
Thank you for your example @PavelStefanov ^^

[code]

[2018-05-23 13:58] ashleymercer commented on #4187
Thanks, I'll follow the other ticket

[2018-05-23 15:48] rcrooks commented on #4373
I would also love this -- it's the one obstacle between us and converting all our API documentation to Swagger

[2018-05-23 22:40] shockey commented on #4575
@1nfinite, I don't know of any public documentation of Recaptcha in Swagger - if that doesn't exist, you'll have to create operations that define the behavior you're expecting 😄

[2018-05-24 06:14] JS-Java-fullstack commented on #3088
I did it by adding the required changes in the swaggerUi. You need to change it as per your requirement as below;

1. docExpansion : "none" - It'll Hide everything.
2. docExpansion : "list"- It'll expand/List all the operations only.
3. docExpansion : "full" - It'll expand everything(Full expand as the name says).

[2018-05-24 09:58] Caloyski opened #4585 "Hide Swagger UI"
Good day,

how do I show Swagger UI only when I'm accessing it from my local machine?

[2018-05-24 13:54] lijodigiledge commented on #2906
swagger 3.0 error
i tried get request
Undocumented | TypeError: NetworkError when attempting to fetch resource.
-- | --
but in localhost server it is showing 300 redirecting

[2018-05-24 13:55] lijodigiledge opened #4586 "swagger version 3 error NetworkError when attempting to fetch resource."
swagger 3.0 error
i tried get request
Undocumented | TypeError: NetworkError when attempting to fetch resource.
-- | --
but in localhost server it is showing 300 redirecting

[2018-05-24 14:33] shamis opened #4587 "Optional header field when reset results in empty header value"
### Q&A (please complete the following information)
 - OS: any
 - Browser: any
 - Method of installation: npm
 - Swagger-UI version: 3.15.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:

[json config](https://github.com/K2InformaticsGmbH/dderl/blob/195bc2374afd2a766558ea86c45df16eb8e02d87/priv/dderlrest.json)

### Describe the bug you're

[2018-05-24 18:40] SinghAnkita opened #4589 "Trying to implement external docs in my spring project, not able to find it in swagger UI"
@ExternalDocs(value = "About me", url = "http://about.me/me")

[2018-05-24 20:30] shockey commented on #4586
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-05-24 20:30] #4586 closed

[2018-05-24 20:31] shockey commented on #4585
Hey @Caloyski, you'd do this in the server that's serving us Swagger-UI - there's no way to do this in Swagger-UI itself.

[2018-05-24 20:39] heldersepu commented on #3149
@mansoor-ul-haq look at the swagger.json for the details:
http://swashbuckletest.azurewebsites.net/swagger/ui/index#/Image/Image_Put

The theme is one of these:
https://github.com/ostranme/swagger-ui-themes
Not sure which one you saw, I change them all the time

[2018-05-24 21:00] jonathann92 opened #4590 "How to bypass try it out button in swagger-ui 3.X.X"
In the previous version of swagger we didn't need to click a button to "try out" the request. Is there a way to bypass the "try it out" button so that when I expand the request, it is ready to be edited and sent?

[2018-05-24 22:09] shockey commented on #4554
@PieterBogemans, yeah, it definitely sounds like something changed on our end that broke your implementation.

It's hard to say what changed, because (a) I don't know what version you were on before, there are 68 versions of Swagger-UI that look like the version in your screenshots and (b) I haven't seen your Swagger document - it's possible that there are errors, or you're doing something esoteri

[2018-05-25 08:33] seb2411 opened #4591 "Slash in ref key"
### Q&A (please complete the following information)
 - OS: Ubuntu
 - Browser: Chrome/Firefox
 - Version: latest
 - Method of installation: API-Platform
 - Swagger-UI version: 3.15.0
 - Swagger/OpenAPI version: Swagger 2.0

### To reproduce...

Pass a ref with a slash for example :
[code]
### Expected behavior
Model/Example showing the related model/example

### Additional context or thoughts
I'm u

[2018-05-25 08:43] PieterBogemans commented on #4554
After playing around with the versions locally and it now being pushed online I confirmed that these versions work. I still don't really know what caused this issue but these are the versions I'm currently using:

"@nestjs/common": "4.5.9",
"@nestjs/core": "4.5.10",
"@nestjs/microservices": "4.5.8",
"@nestjs/swagger": "1.2.2",
"@nestjs/testing": "4.5.5",
"@nestjs/websockets": "4.5.8",

It's weird

[2018-05-25 11:36] osumac24 commented on #1829
@ARaqeeb Can you share your solution?

[2018-05-25 11:42] hkosova commented on #4591
`/` in node names needs to be escaped as `~1`:
[code]

Similarly, `~` is escaped as `~0`:
[code]
Source: [JSON Pointer Specification](https://tools.ietf.org/html/rfc6901#section-3)

<br/>

By the way, if you are going to migrate to OpenAPI 3.0, keep in mind that it only allows the characters `a-z A-Z 0-9 . - _` in [component names](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/

[2018-05-25 12:01] seb2411 commented on #4591
Thank you @hkosova.

If I'm use the ~1 for the pointer the UI is not converting back the ~1 to /.

So About the Open API 3.0 If I have different modules what do you think is the best way to represent that to have a nice and readable separation ?

[2018-05-25 12:23] seb2411 commented on #4591
Here:
https://web.tresorit.com/l#k-EZgWVI2IapUodj2-7x4A

But so I will probably stop using `/`

[2018-05-25 13:16] hkosova commented on #4591
Thanks. That display issue is already being tracked in #4161.

That's a good idea. It's best to use the names that are valid identifiers in common programming languages. This will also be forward-compatible with OAS 3.0. :smiley:

[2018-05-25 13:19] seb2411 commented on #4591
Thank you. So I think we can close this.

[2018-05-25 16:26] ruslansavenok commented on #4481
This happens because there's no support for any auth type except `apiKey` and `basic`

https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/auth/auth-item.jsx#L29-L47

[2018-05-26 01:14] webron commented on #4591
Thanks!

[2018-05-26 01:14] #4591 closed

[2018-05-26 01:26] webron commented on #4590
At the moment we don't offer a way to bypass it. You can track the feature at #2806.

[2018-05-26 01:26] #4590 closed

[2018-05-26 01:30] #4585 closed

[2018-05-26 01:33] webron commented on #4589
We can't do much with so little details. You're not mentioning which version of swagger-ui, which version of the spec, where the externalDocs exist and so on. Please file a ticket and follow the templates to provide proper details for support.

[2018-05-26 01:33] #4589 closed

[2018-05-26 01:50] webron commented on #4575
@1nfinite captcha for APIs does not make a lot (or any) sense as it defeats the purpose of having code operate APIs (unless you want to use a service that 'cracks' captchas). If you _really_ want to define it, you can use extensions in the spec for it, and as for displaying it, you can create your own plugin that would render it. Searching the repo for plugin examples should yield enough for you t

[2018-05-26 01:50] #4575 closed

[2018-05-26 02:03] shockey commented on #4579
More context: a lot of this flow revolves around [Semantic Release](https://legacy.gitbook.com/book/semantic-release/semantic-release/details) 😄

[2018-05-26 05:41] shockey commented on #4578
Hey @specialtactics, this is actually because we aren't currently respecting example values at all, so the `type: object` schema definition for the property is creating that empty object you see, I believe.

Here's what I tested with, based on your snippet:

[code]

---

As luck would have it, example/examples support is up for work very soon, so this will be fixed in short order 😄

[2018-05-26 10:29] wijdench commented on #4450
Hi,
After keycloak is initialized, it send asynchronously another request to get it's token.
in keycloak.js file:
            req.onreadystatechange = function () {
                if (req.readyState == 4) {
                    if (req.status == 200) {
                        kc.profile = JSON.parse(req.responseText);
                        promise.setSuccess(kc.profile);
                    } el

[2018-05-26 11:02] specialtactics commented on #4578
Good to hear @shockey, thanks !

[2018-05-26 18:50] hkosova commented on #4578
@shockey Actually the issue is not specific to media type examples - `example: null` also does not work properly in schema examples.

[code]
Expected result:
[code]
Actual result:
[code]

[2018-05-28 08:24] dudd1ts opened #4596 "Warnings in console about using a minified copy of the development build of React."
### Q&A (please complete the following information)
 - OS: windows 10
 - Browser: Google Chrome
 - Version: 66.0.3359.181
 - Method of installation: npm with Vee.js
 - Swagger-UI version: 3.15.0

Swagger-UI configuration options:
[code]

### Screenshots
[http://prntscr.com/jnhuuv](http://prntscr.com/jnhuuv)

### How can we help?
I use swagger-ui with vue.js and when I deploy my app to server I see

[2018-05-28 10:24] ChristophWalter opened #4597 "Opening a Model of the Swagger Petstore shows a warning in the console"
### Q&A (please complete the following information)
 - OS: macOs
 - Browser: safari
 - Version: 11.1
 - Method of installation: npm
 - Swagger-UI version: 3.16.0
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
Petstore Demo: http://petstore.swagger.io/v2/swagger.json

Swagger-UI configuration options:
Default configuration  - npm run dev

#

[2018-05-28 13:29] saberone commented on #4084
@ngraef & @RehanSaeed Did you happen to apply the x-tokenName support? I backed some local nuget packages based on the proposed fix/PR from @ngraef But I haven't found a way to configure  the tokenname from the serverside. Because of the strong typing, I cannot easily add a "x-tokenName" property to the OAuth2Scheme.

The only thing I want is Azure AD support using oauth.

[2018-05-28 14:07] tmciver opened #4599 "OAuth2 Password Flow: Incorrectly calculated token URL"
### Q&A (please complete the following information)
 - OS: Ubuntu 16.04
 - Browser: Chrome
 - Version: 66.0.3359.170 (Official Build) (64-bit)
 - Method of installation: docker
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

When using the `password` fl

[2018-05-28 15:21] hkosova opened #4600 "OAS 3: Support for uploading an array of files in multipart requests"
Swagger UI 3.16.0 added support for binary file upload using multipart requests. It works if a multipart request uses files as specific named fields, but doesn't work if the request uses an array of files.

### Q&A (please complete the following information)
 - OS: Windows 7
 - Browser: Chrome 66
 - Method of installation: http://petstore.swagger.io, also using a local copy of Editor.
 - Swagger-U

[2018-05-28 16:00] hkosova commented on #4599
According to the [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#relative-references-in-urls), relative `tokenUrl` is resolved against (not appended to) the server URL as defined by [RFC 3986](https://tools.ietf.org/html/rfc3986#section-5.4). (This is different from `paths`, which are simply appended to the server URL.)

The result you are seeing

[2018-05-28 16:35] tmciver commented on #4599
Interesting!  Indeed you are correct.  It does work for me when I append a `/` to the server URL.

In checking this out I noticed what may be another, unrelated bug.  The server URL being used in my initial tests was `http://example.com` and not the server URL from the YAML file.  I had to clear my cookie in order for it to work.  I don't not see any existing issues related to this.

[2018-05-28 17:11] heldersepu commented on #4579
Yes I do on [Swagger-Net](https://github.com/heldersepu/Swagger-Net) and I know [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle) has it too

[2018-05-28 17:50] heldersepu commented on #4228
@epet I feel your pain!

Most of my experience is from a managed code as well (.net w/ Visual Studio) one thing that I really miss is the ability to debug UnitTests, cases like this are perfect of a TDD approach, we create a test case reproducing the behavior and on VS we just set a few break-points & start debugging...

But so far I have not seen any tool that can help break the VS addiction.

[2018-05-28 19:36] hkosova commented on #4599
Would you mind opening a new issue about this? Thanks.

[2018-05-29 08:53] tzvatot opened #4602 "Swagger UI to support loading spec from "file://" URL"
### Is your feature request related to a problem?
When writing or reading an OpenAPI spec file, you sometimes want a quick view of it, and you want to use swagger-ui.
However, providing swagger UI with a spec file that is located on disk (i.e. URL starts with "file://"), swagger throws an error that it failed to load.

### Describe the solution you'd like
Be able to load spec files located on loca

[2018-05-29 11:02] hkosova commented on #3781
OAS3 multipart requests work now in Swagger UI 3.16.0.

![OAS 3 multipart request in Swagger UI](https://user-images.githubusercontent.com/8576823/40655048-c2ba7806-6348-11e8-889e-b8ed542d80ab.png)

[2018-05-29 12:01] sachin358 opened #4603 "how to read special character in rest web services through postman using @formparam annotation"
1
down vote
favorite
I have a rest web service whose url is

http://localhost/rest/authenticate?username=username&password=pa+ssw1&rd%

In password parameter have 3 special character.

1) + character read as white space 2) & character remove the all character. for example - my password like this "passw&rd" and it will read like this "passw" 3) % character does not read the proper password, its rea

[2018-05-29 18:06] shockey commented on #4603
Hi @sachin358, `&` is not allowed in query parameter values, you'd need to percent-encode that value when you build your request.

Also - this isn't a Swagger-UI question, please inquire about your annotation question with the library that you're using for annotations 😄

[2018-05-29 18:06] #4603 closed

[2018-05-29 18:20] teenasharma opened #4605 "Api key is not adding into query parameter while sending POST request with multipart/form-data attributes"
### Api key is not adding to query parameter while sending POST request with multipart/form-data attributes getting the following error
![swagger-error](https://user-images.githubusercontent.com/10626137/40677032-1aae5f54-639a-11e8-874b-478ba7d0e91f.png)

 - Swagger-UI version: v2.1.1-M2
 - Swagger-akka-http version : 0.11.0
"com.github.swagger-akka-http" % "swagger-akka-http_2.11" % "0.11.0"

###

[2018-05-29 19:03] tmciver opened #4607 "Server URL Use in OAuth Not Correct Without Refresh"
### Q&A (please complete the following information)
 - OS: Ubuntu 16.04
 - Browser: Chrome
 - Version: 66.0.3359.170 (Official Build) (64-bit)
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

If server URL changes in editor, the URL use to obtain an OAuth2 token upon attempting to authorize

[2018-05-29 21:13] shockey commented on #4605
Hi @teenasharma, this shouldn’t be an issue in the latest version of Swagger UI. Upgrading should resolve this 😄

[2018-05-29 21:13] #4605 closed

[2018-05-29 21:40] mdavisJr opened #4608 "Parameters With Multiple Input Fields"
Is there a way a parameter can have multiple input fields that get combined when the user clicks execute?

Our api supports greater than operator in query parameters by prefixing the query parameter value with the greater than operator keyword.

It would be nice if swagger would support

**FieldName**(Age)            **DropDownList**(user would select "greater than")         **TextBox**(user would

[2018-05-30 04:59] teenasharma commented on #4605
Thanks @shockey

[2018-05-30 06:37] Zachius commented on #3992
As I understand it this is the desired behaviour.  If you don't want a relative url, ensure that the token or authorisation url begins with '/'.  i.e. "/oauth/token"

[2018-05-30 17:15] shockey commented on #4605
@teenasharma, that's not an error, that's a response coming back from your server 😄

If you can provide a Swagger definition and a server to test against, I can take a look to make sure that Swagger-UI is sending everything correctly.

[2018-05-30 17:47] shockey commented on #4569
@cedricbompart aha!

Yes, moving it is the answer here. Other values are not allowed alongside `$ref` values (if you paste this in the Editor you'll see that warning).

Glad you got this fixed 😄

[2018-05-30 17:47] #4569 closed

[2018-05-30 19:46] pruthvigh opened #4609 "Redirect api requests with key parameter in url query to another url"
I want to redirect api requests made to a url with a key in the query parameter to be redirected to another url. How can I do that?
For example www.xyz.com/api/user?api_key=xxxxxxxxxxx redirected to www.abc.com/api/user/**?api_key=xxxxxxxx

[2018-05-31 10:33] naren19 commented on #4280
how to set content type in swagger?

[2018-05-31 12:00] dgrahn opened #4610 "Example in Response Not Used"
### Q&A
 - OS: Windows 10
 - Browser: Chrome
 - Version: 66
 - Method of installation: website and npm
 - Swagger-UI version: 3.14.2
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
The example listed in the response is not used.

### To reproduce...
Steps to reproduce the behavior:
1. Go to

[2018-05-31 13:39] yewton commented on #3992
@Zachius We want a URL to be relative to the API server URL, not to the UI/Editor's server URL.

[2018-05-31 17:31] hkosova commented on #4610
Thanks for the report! This issue is being tracked in #3437.

[2018-05-31 18:34] shockey commented on #4609
@pruthvigh, this is something you'd implement in your server, not in a Swagger document. Sending a 302 Found response and a `Location` header should direct your user to the appropriate URL.

[2018-05-31 18:40] shockey commented on #4608
Hi @mdavisJr, as for the first part of your question: this is definitely useful, but afaik there's no way to describe compound values that include logical operators (like `{lt|gt|lte|gte} {integer}`) in JSON Schema - so this is more of a limitation of the OpenAPI Specification than of Swagger-UI.

This is possible! You can wrap the JsonSchemaForm component, or any particular JSON Schema type's com

[2018-05-31 18:41] #4609 closed

[2018-05-31 19:04] dgrahn commented on #4610
Looks like this should have been fixed a long time ago. The number of open issues on this project is a little disturbing.

Do you have a contribution guide?

[2018-06-01 11:38] ChristianBandowskiAtos commented on #4228
Just had the same issue after updating from an older version (I think it was something like 3.0.x) to the newest 3.16.0. Because I had this issue in the Swagger editor as well I found #3376 and thought that the newest Swagger UI shouldn't have this issue.. unfortunately after the upgrade I noticed that this issue is back :cry:

Really looking forward for a fix as we are not able to rename the prop

[2018-06-01 11:48] chris922 commented on #4228
Just had the same issue after updating from an older version (I think it was something like 3.0.x) to the newest 3.16.0. Because I had this issue in the Swagger editor as well I found #3376 and thought that the newest Swagger UI shouldn't have this issue.. unfortunately after the upgrade I noticed that this issue is back :cry:

Really looking forward for a fix as we are not able to rename the prop

[2018-06-01 13:15] 1nfinite opened #4611 "Defininig global form parameter"
I learn that i can define global form parameter for `in: query` as follow in official documentation. But how could i define it for `in: formData` instead. I change the `in: query` to `in: data` but not working. I am using swagger 2.

[code]

[2018-06-01 13:19] #4611 closed

[2018-06-01 13:20] 1nfinite commented on #4611
My bad mistake in yaml code itself

[2018-06-01 13:43] juju95 commented on #4481
Same problem here, and in the swagger ui js file :

`switch (c) {
                            case "apiKey":
                                l = m.default.createElement(s, {
                                    key: n,
                                    schema: t,
                                    name: n,
                                    errSelectors: a,
                                    a

[2018-06-01 13:46] jamesfernando94 opened #4612 "Problem with required boolean as operation parameter"
#### Issue Info
Swagger UI Version : 3.13.4 (Also Updated and tested on 3.16.0)
This may be related to https://github.com/swagger-api/swagger-ui/issues/3407

#### Problem
When trying execute an operation the pre entered values for the required field is true, however when you try to execute it the swagger UI says that the field is required even though there is a value in it. Also, after this if you

[2018-06-01 15:08] rickalmeidaSB commented on #4208
Hey, I'm also looking for this!

[2018-06-01 15:08] rickalmeidaSB commented on #4208
@webron

[2018-06-01 20:30] #4612 closed

[2018-06-01 20:31] shockey commented on #4612
thanks for the report, @jamesfernando94!

[2018-06-02 00:59] shockey commented on #4610
Yeah, looks like the issue was tagged in a milestone, which we stopped actively using a while ago.

We track statuses in a private GitHub project now - FYI, that issue is currently 10th on our "next items to work on" board. I've removed the stale milestone marker, to avoid confusion.

As an open-source project, our bandwidth is limited - I'm the only code maintainer of this project along with Swag

[2018-06-02 00:59] #4610 closed

[2018-06-04 03:58] ChShersh commented on #4007
I still would like to have an easy way to render `swagger.yaml` file. I have Haskell server at backend and I have separate executable which generates Swagger specification. Would be good to have command like this:

[code]

or

[code]

or just

[code]

Which opens new browser window with rendered Swagger spec.

[2018-06-04 06:08] dzhyw opened #4617 "How to resolve the Cross Domain with swagger-ui?The problem is still not fix"
How to resolve the Cross Domain with swagger-ui?

use try it now  button！

i use Node.js CORS middleware  npm install cors. and express

but still can't cross domain

[2018-06-04 07:18] shockey commented on #4617
Hi @dzhyw!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-06-04 07:18] #4617 closed

[2018-06-04 07:35] ChShersh commented on #4007
@webron

Could you please describe steps how to do it?

[2018-06-04 11:42] sontuphan commented on #2651
Using example outside of schema and it is not showing example. Btw, this issue opened in Feb 2017, now is Jun 2018. WTH swagger team doing???

[2018-06-04 12:28] evgenymarkov commented on #3784
Same issue

[2018-06-05 11:18] balexandre commented on #4007
@ChShersh

https://github.com/swagger-api/swagger-js#in-browser

[2018-06-05 18:44] kobymeir opened #4619 "redirect endpoint returning a 302 redirect to AWS S3 - generating an auth problem"
I have a download endpoint in my API which is redirecting the user to a [AWS S3 presigned URL](https://docs.aws.amazon.com/AmazonS3/latest/dev/ShareObjectPreSignedURL.html)

Here is the swagger file describing my endpoint:
[code]

My problem is when the SwaggerUI (version 3.14.2) it trying the endpoint it does get the redirect order,
but when it tries to go the redirect location it for some reason

[2018-06-05 19:47] webron commented on #1614
Closing this ticket as consolidating it with #1526 where we'll address all `externalDocs` rendering.

[2018-06-05 19:47] #1614 closed

[2018-06-05 19:49] webron commented on #1545
We'll use this ticket to collectively add support for all `externalDocs` location in all support spec versions. Modifying the topic to reflect that.

[2018-06-05 20:14] webron commented on #3494
Looking at this again, the spec actually doesn't really define the behavior well when using `multipart/form-data` and the intended use was for `application/x-www-form-urlencoded`. Not really sure how to resolve this one.

[2018-06-05 20:15] webron commented on #1657
This seems to be supported now. Please file a new ticket if needed.

@cheerfulstoic `brackets` is not an official part of the spec and any support for it was dropped.

[2018-06-05 20:15] #1657 closed

[2018-06-05 22:34] webron commented on #2030
Closing this as a JavaScript limitation, with the suggested alternative of #4018. Not sure there's more we can do about this one beyond it.

[2018-06-05 22:41] webron commented on #2131
This seems to work properly in the latest swagger-ui. If you feel that's not the case, please reopen the ticket and we'll take a further look.

[2018-06-05 22:41] #2131 closed

[2018-06-05 22:49] webron commented on #2995
@liuya05 Do you still experience it with the latest version of swagger-ui?

[2018-06-05 22:57] webron commented on #2978
@sberyozkin thanks for the report. Since then, one of the issues has been resolved, but here's a summary:
1. The relative URL value in the Explore window is correct. While it _can_ be converted, it is not wrong if it's not converted, and this is in practice the value that is provided. As such, I'm less inclined to change the behavior.

2. We can change this, but this is similar to 1. The value its

[2018-06-05 22:59] webron commented on #2976
Most of the basic information can now be found under the `docs` folder. We're happy to continue improving the guide as we get more input on what's missing (and of course, as we add/change features).

[2018-06-05 22:59] #2976 closed

[2018-06-05 23:12] webron commented on #2907
There's still a small issue with what swagger-core outputs, but the rendered result is still wrong. It should take the name of the referenced model, whether that one has an `xml` property in it or not.

[2018-06-05 23:18] webron commented on #2875
Non-object definitions now have the name displayed under the Models section, and the editor shows errors for the wrong definition.

[2018-06-05 23:18] #2875 closed

[2018-06-06 09:21] agostlg commented on #3784
Same issue

[2018-06-06 09:58] jamesfernando94 commented on #4612
Thanks for the Quick Response and fix

[2018-06-06 10:24] heyixiaoran opened #4621 "Content-Type value is not correct"
Hi . I get a wrong Content-Type value.
Actually . I use Swashbuckle.AspNetCore .
When I post a request . Curl is like "curl -X POST --header 'Content-Type: application/x-www-form-urlencoded' ...."  in Swashbuckle.AspNetCore 2.4 & 2.5

But If I use Swashbuckle.AspNetCore 1.1.0 .  Curl is like “curl -X POST --header 'Content-Type: undefind' ....”
I heard this value is set in swagger-ui . So I want t

[2018-06-06 10:58] CHageluken opened #4622 "How can I create a user defined header. One that has the company layout"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Scre

[2018-06-07 00:34] webron commented on #2785
This doesn't seem to be an issue anymore. Please reopen if needed.

[2018-06-07 00:34] #2785 closed

[2018-06-07 05:28] TodLiuMeng opened #4623 "How should I set --cert and --key option of linux curl in the yaml file"
For SSL mutual authentication, we set file path in 'curl' options and args.
e.g. curl  xxx.xxx.xxx.xxx --cert ./client.crt --key ./client.key -H .......

So, how should  I deal with my yaml in swagger UI.
Any Example ,thx

[2018-06-07 06:21] sumitgoelpw opened #4624 "swagger-ui-dist change url server side"
I am following the installation document and using `swagger-ui-dist` in my Node.js project. The example is working fine but changing the `url` I need to edit `node_modules/swagger-ui-dist/index.html`. Is there a way to set the `url` from the express app? I don't want to lose the changes at the time of updates.

[code]

### Q&A (please complete the following information)
 - OS: macOS
 - Browser: NA

[2018-06-07 07:27] ponelat opened #4625 "Missing type:object in multipart causes example to be in json, not file uploads"
### Q&A (please complete the following information)
 - Swagger-UI version: "3.17.0"
 - Swagger/OpenAPI version: OAS 3

### Content & configuration
See: http://editor.swagger.io/?url=https://gist.githubusercontent.com/ponelat/eed475786cabcad61e861509c926967d/raw/ff02d25ddfe5080ddaea98189f0d28e37f4554e2/without-type-object.yaml

ie: a mutlipart/form object, that doesn't include `type: object`

[code

[2018-06-07 11:38] Thisen opened #4627 "Security requirement in openapi config breaks the UI"
### Q&A (please complete the following information)
 - OS: Windows 8.1 Enterprise
 - Browser: Chrome
 - Version: 66
 - Method of installation: dist assets
 - Swagger-UI version: 3.17.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
**NOTE:** This is obfuscated since I work on software where you need a security clearance.

Example Swagger/OpenAPI definition:
[code]

Swagger-UI

[2018-06-07 11:49] wijdench opened #4628 "Authentication with keycloak.js"
Hi, i'm using keycloak to protect swagger document in my backend node app. and i want to use config.js to protect my keycloak configuration on object declared in config file.
 "keycloak": {
    "serverUrl": "url",
    "realm": "realmName",
    "clientId": "clientId"
  },

### Q&A (please complete the following information)
 - OS: ubuntu 18.04
 - Browser: chromium
 - Version: [e.g. 22]
 - Method of

[2018-06-07 11:55] wijdench commented on #4450
Hi, i found the solution, it's to initialize Swagger-UI on success event of keycloak configuration.

[2018-06-07 13:08] IlmLV opened #4629 "predefine password flow field values"
Hey,
Is theare any way I can prefill **username** and **password** form fields for password flow.
Or maybe theare is some way I can preauthorize password flow like it can be done with _preauthorizeApiKey_ or _preauthorizeBasic_.

![password flow fields](http://www.bildites.lv/images/q3398urt/123787/original.jpg)

[2018-06-07 13:17] johnjacobkenny opened #4630 "Custom Plugin: Using wrapComponents to override container behavior"
### Q&A (please complete the following information)
 - Swagger-UI version: [e.g. 3.15.0]

### Content & configuration

No change in the default configuration except for including my custom plugin
### Screenshots

### How can we help?

I was trying to understand the plugin system to configure Swagger for my use case. As an experiment, I wanted to try and disable the collapse feature. I created a cu

[2018-06-07 14:20] kumarz opened #4631 "schemaValidationMessages":[{"level":"error","message":"Can't read from file /swagger.json"}]"
### Q&A (please complete the following information)
 - OS: Liunx
 - Browser: All the browsers
 - Version: latest
 - Method of installation:  dist assets
 - Swagger-UI version: 3.17.0
 - Swagger/OpenAPI version:  swagger-jersey2-jaxrs_2.10-1.3.13.jar

### Content & configuration
 so I have used swagger-jersey2-jaxrs_2.10-1.3.13.jar to generate the swagger.json file.

Swagger/OpenAPI definition:

[c

[2018-06-07 16:46] manojadd opened #4632 "Swagger-ui not parsing 'urls' config property"
I am using https://www.npmjs.com/package/swagger-ui 3.17 version. I am using the config object with urls parameter but still, it doesn't seem to parse it.

[2018-06-07 18:39] samnghpe commented on #828
"this is an issue in 3.x only"?

Are you saying that it is fixed in 2.x? If so, please specify the version which is fixed in, thanks!

[2018-06-07 18:59] webron commented on #4625
@ponelat In this case, the definition is invalid. We can be a bit more lenient and allow it. Making this a validation error would be in the editor, not here.

[2018-06-07 21:33] shockey commented on #4627
Hi @Thisen! Thanks for filing an issue.

`security` should be an array of Security Requirement objects [when used at the root level of an OpenAPI definition](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#fixed-fields).

Swagger-Editor marks this as an error:

<img width="690" alt="image" src="https://user-images.githubusercontent.com/680248/41127351-705c647a-6a5f-11e8-

[2018-06-07 21:37] shockey commented on #4632
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-06-07 21:37] #4632 closed

[2018-06-07 22:02] Thisen commented on #4627
Ahh, I missed that.
I should use it the following way, of course:
[code]

Thanks!

[2018-06-07 22:02] #4627 closed

[2018-06-08 03:05] zenglian opened #4633 "Too much space in the page"
### Q&A (please complete the following information)
 - OS: [e.g. All]
 - Browser: [chrome]
 - Version: [22]
 - Method of installation: [dist assets]
 - Swagger-UI version: [3.10.0]
 - Swagger/OpenAPI version: [Swagger 2.0, OpenAPI 3.0]

### Describe the solution you'd like
I know this is controversial. So just my oppinion.
IMO there is too much space in the page, and the font size is too big (when

[2018-06-08 21:58] shockey opened #4635 "Review usage of React `key`"
In several places, we are using array indices as `key` prop values - it looks like most take the form of `key={i}` and `key={key}`.

This affects rendering performance for the entire collection when the collection's order or length changes, and in certain situations can create unexpected rendering results.[1]

We should review all instances of `key` prop usage, to ensure that we aren't causing any

[2018-06-08 22:46] shockey commented on #4623
Hi @TodLiuMeng, this isn't currently possible - you can follow https://github.com/swagger-api/swagger-ui/issues/4143 for news on a plugin system interface that would allow this.

Cheers!

[2018-06-08 22:46] #4623 closed

[2018-06-08 23:07] shockey commented on #4628
Hi @wijdench - it's not clear what your question is, or how it relates to Swagger UI. Can you elaborate?

[2018-06-08 23:28] shockey commented on #4621
Hi @heyixiaoran,

sounds like Swashbuckle is probably not setting the Content-Type in your Swagger definition correctly - if you can provide your definition (not your Swashbuckle annotations) I can take a look.

[2018-06-09 08:03] wijdench commented on #4628
Thank you for your feedback.
My question is how can i add configuration in Swagger UI html file using config.js?

[2018-06-10 15:10] gaurav517 opened #4637 "RangeError: Maximum call stack size exceeded"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 66.0.3359.181
 - Swagger-UI version: 3.13.6
 - Swagger/OpenAPI version: Swagger 2.0

In case of big nested request/response json spec, I get following in console after trying to expand the operation in swagger-ui and the section of operation shows endless spinner. After refreshing we see the operation d

[2018-06-11 01:53] Cloudmersive opened #4638 "Swagger UI 2.0 corrupts all Content-Disposition file attachments on download"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: Version 66.0.3359.181
 - Method of installation: Direct install, Swashbuckle
 - Swagger-UI version: Latest in 2.0x branch
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
You can see it here:
https://api.cloudmersive.com/convert/docs/index#!/ConvertDocument/ConvertDocument_DocxT

[2018-06-11 07:38] 164851225 opened #4639 "No operations defined in spec"
I'm using swagger 2.8.0
here are my configs
![image](https://user-images.githubusercontent.com/19471559/41218157-bb61b0bc-6d8c-11e8-9dc0-526e1a0245bd.png)
Logs:
![image](https://user-images.githubusercontent.com/19471559/41218303-3b59a14e-6d8d-11e8-81df-5674e682c6b3.png)
Problem:
![image](https://user-images.githubusercontent.com/19471559/41218245-079202fc-6d8d-11e8-9de8-da192fabaae8.png)

can you

[2018-06-11 10:13] HungryCollegeMenus commented on #1019
I have the same issue and i am using swagger with rails. I have used it like:
param :header, 'auth_token', :string, :required, 'Authentication Token'

and i am getting nil in request.headers['auth_token'].

Can anyone tell me what is wrong here?

[2018-06-11 10:15] zia954 commented on #1019
I have the same issue and i am using swagger with rails. I have used it like:
param :header, 'auth_token', :string, :required, 'Authentication Token'

and i am getting nil in request.headers['auth_token'].

Can anyone tell me what is wrong here?

[2018-06-11 10:44] #4621 closed

[2018-06-11 13:09] jbguillois opened #4640 "SwaggerUI embedded in node.js app"
### Q&A
 - OS: [macOS - 10.13.5]
 - Browser: [chrome]
 - Version: [66]
 - Method of installation: [npm install -S swagger-ui]
 - Swagger-UI version: [3.17.0]
- Node version: [8.11.2]

### Content & configuration

Following is an extract from my Vue component script section
[code]
Following is an extract from my Vue component mounted function:
[code]

[code]

### How can we help?
Hello,
I am trying

[2018-06-11 18:21] aspnetlabs commented on #3132
Probable workaround for XML, for array properties, add this schema filter.
[code]

[2018-06-11 18:23] aspnetlabs commented on #4423
Probable workaround for XML, for array properties, add this schema filter.
[code]

[2018-06-11 19:24] shockey commented on #4640
Hi @jbguillois!

This is because your Vue app is setting `NODE_ENV=development`, which is good for your Vue app while you're working on it, but also causes Swagger UI's React application to display its development warnings.

The solution is for us to bake in the `NODE_ENV=production` flag within Swagger UI, so our warnings don't clutter your workflow - we're already doing something like this [with

[2018-06-11 20:15] shockey commented on #4637
Yep, this sounds like #4411 to me - closing as a duplicate, but this report will be considered when it's looked at.

As @heldersepu mentioned, crossposting your Swagger/OpenAPI document into that issue would help make sure things get fixed for you 😄

[2018-06-11 20:15] #4637 closed

[2018-06-11 20:21] shockey commented on #4622
Hi @CHageluken, you can either mount Swagger UI inside of an HTML container that has the styles you want, or define a custom layout: https://github.com/swagger-api/swagger-ui/blob/master/docs/customization/custom-layout.md

[2018-06-11 20:22] shockey commented on #4633
@zenglian, thanks for the feedback 😄

[2018-06-11 20:28] shockey commented on #4629
Hey @IlmLV, there's no way to do this currently - preinjecting OAuth data is a bit more complicated, so we haven't built it out yet.

cc: https://github.com/swagger-api/swagger-ui/issues/4382

[2018-06-11 20:30] shockey commented on #4294
@srpalomino, `Deeplink`, at the end of the day, is rendered on the page as an `<a>`. It's used as an abstraction within Swagger UI so that we don't have implementation details of Deeplinks lying around everywhere.

You're free to use `<a>` in your Markdown to create deep links, as we discussed not long ago 😄

[2018-06-11 20:30] #4294 closed

[2018-06-11 20:31] shockey commented on #4278
FWIW, I think an `x-multiline` hint would be cool 😄

[2018-06-11 21:24] jbguillois commented on #4640
Hi @shockey!
Thank you for your quick reply. Yes indeed, setting vue in production mode removes these warning, so it's all good.
Regarding the two other problems, I will look into these if I can provide some help, but as a newbie I am not sure :)

I also noticed another issue (in dev or production mode): the url I use (my vue router path actually) to display the swagger ui is something like http:/

[2018-06-11 23:16] shockey commented on #4640
@jbguillois yeah, this is because enabling deep linking (`deepLinking: true`) indicates to Swagger UI that it can have control of the browser's URL fragment.

To fix this, you can either (a) reconfigure your application router to use an actual URL path instead of the fragment (in React Router, this would be moving from `HashRouter` to `BrowserRouter`, not sure what it is in Vue), or (b) disable Sw

[2018-06-11 23:24] shockey commented on #4428
Hey @maniutek20, following up here - is this still an issue? If so, let me know and I'll take another look.

[2018-06-12 00:06] shockey commented on #4596
Hi @dudd1ts, the issue is that you need to set `NODE_ENV=production` when you build your application for production.

See my response in another support ticket, as there's a larger story to this: https://github.com/swagger-api/swagger-ui/issues/4640#issuecomment-396357391

[2018-06-12 00:06] shockey commented on #4554
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-12 00:06] #4554 closed

[2018-06-12 00:36] #4450 closed

[2018-06-12 00:42] shockey commented on #4631
Hi @kumarz, this is because the online Validator service can't reach your server to fetch your definition.

You can set the `validatorUrl` option to `null` in order to disable the badge:

[code]

[2018-06-12 00:45] shockey commented on #4639
Hi @164851225,

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-06-12 00:45] #4639 closed

[2018-06-12 01:35] shockey commented on #4630
Hey @johnjacobkenny,

You can't wrap the container component because it maps the Redux state to props that it gives itself. The exact mechanism of failure isn't clear, but when you wrap the component, it breaks 😄

Fortunately, you can get at the `toggleShown` prop from OperationWrapper:

[code]

[2018-06-12 01:38] shockey commented on #4628
I'm sorry, I'm still not following.

Are you saying that you have a configuration file on your server that you'd like to use to control Swagger UI's settings?

[2018-06-12 01:49] shockey commented on #4624
Hi @sumitgoelpw,

Your intuition is correct - it's bad practice to tamper with files in `node_modules` 😄

A little bit of custom code can help you to modify the built-in index page:

[code]

[2018-06-12 01:51] shockey commented on #4624
PS: If you have some extra time on your hands, a helper in swagger-ui-dist that abstracts this away would be awesome :)

[2018-06-12 01:52] #4577 closed

[2018-06-12 02:05] shockey commented on #3229
Closing - per my comment in October, the best way to do this is to remove the Standalone preset and layout from your configuration :)

[2018-06-12 02:05] #3229 closed

[2018-06-12 03:35] kumarz commented on #4631
@shockey,
Thanks for getting back to me. I really appreciate it. so validatorUrl: null is going to disable the settings to make the server call.

However I would like to disable this in java config way. I have the following settings to initialize the swagger bean. Is there any way to do the validatorUrl: null via java config ?

    @Override
    public void configureDefaultServletHandling(DefaultS

[2018-06-12 03:59] kumarz commented on #4631
@shockey ,
Thank you, After updating the configuration, the validator service error messages are gone from the UI.

[2018-06-12 03:59] #4631 closed

[2018-06-12 05:32] IlmLV commented on #4629
Thank you for clearing this out, will wait for updates

[2018-06-12 11:14] wijdench commented on #4628
Exactly :)

[2018-06-12 11:51] vivek201 opened #4641 "The Logout button in Authorize popup not clearing API Key"
### Q&A (please complete the following information)
 - OS: Windows 8.1
 - Browser: Opera, Chrome, Firefox
 - Version: 53.0.2907.68
 - Method of installation: in Demo at [http://petstore.swagger.io](http://petstore.swagger.io)

### Describe the bug you're encountering
The Authorize Popup is not clearing the apiKey when LogOut button is clicked.

### To reproduce...

Steps to reproduce the behavior:

[2018-06-12 12:59] avb-qlik commented on #4228
Same issue I'm facing with Swagger editor live demo here https://editor.swagger.io

[2018-06-12 15:15] maniutek20 commented on #4428
Hello. Yes, problem is still unsolved. When I try to load swagger.json locally its crash, but when I paste "http://petstore.swagger.io/v2/swagger.json" it works fine. I think there is some problem to work with localhost

[2018-06-12 15:59] jbguillois commented on #4640
@shockey thanks again!
I disabled deeplinking and everything is back to normal.

Thanks for your help!

[2018-06-12 15:59] #4640 closed

[2018-06-13 01:11] shockey commented on #4608
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-13 01:11] #4608 closed

[2018-06-13 01:12] shockey commented on #4301
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-13 01:12] #4301 closed

[2018-06-13 04:17] JDebro commented on #4390
@robtown

Thank you for this information. Would you be able to provide the necessary action for Swagger 3? This is where I am running into problems. However, your resolution is EXACTLY what I'm seeking to apply on my end.

[2018-06-13 09:30] tim-lo opened #4642 "YAML request body rendered as JSON"
### Q&A (please complete the following information)
 - OS: macOS 10.13.6
 - Browser: Chrome
 - Version: 69
 - Method of installation: docker image
 - Swagger-UI version: 3.17.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
Defaults on docker image

### Screenshots

![image](https://user-images.githubuserc

[2018-06-13 14:10] lspvic opened #4643 "Requestbody x-www-form-urlencoded is not properly rendered"
### Q&A (please complete the following information)
 - OS: windows
 - Browser: chrome
 - Version: 67
 - Method of installation: dist
 - Swagger-UI version: 3.17.0
 - Swagger/OpenAPI version: OpenAPI 3.0

 ### Content & configuration

Swagger/OpenAPI definition:
[code]
![_20180613215633](https://user-images.githubusercontent.com/4335658/41356192-f486a800-6f55-11e8-9d7e-6bcaebdfe587.png)
 Swagger-UI

[2018-06-13 15:23] rsachin opened #4644 "customize or remove swagger ui header top bar"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: chrome, firefox
 - Version: 68.x
 - Method of installation: spring boot dependency
 - Swagger-UI version: 2.7.0
 - Swagger/OpenAPI version: 2.7.0

Please advise how can we customize or remove swagger ui header (little green) top bar. I am looking for API that I can use in the SwaggerConfiguration.java in the Spring b

[2018-06-13 17:52] heldersepu commented on #4641
That is debatable... what if I want to allow my api_key to be empty ?

[2018-06-13 17:57] heldersepu commented on #4633
@zenglian yes HIGHLY controversial!
If it was up to me I would make it like:
![bylctrxceaev-i2](https://user-images.githubusercontent.com/545474/41368918-573cdd7e-6f11-11e8-8a9c-1cc6fc2b5fa6.png)

[2018-06-14 05:03] dosentmatter opened #4646 "Adding json example in multipart/form-data outputs excess json from immutableJS"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 66.0.3359.181
 - Method of installation: homebrew
 - Swagger-UI version: https://editor.swagger.io/ and
    swagger-editor-dist@^3.3.1 using swagger-ui@^3.12.0
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration opt

[2018-06-14 10:42] arlix85 commented on #4643
Hello, I was about to open a new issue but I've seen this one which is correlated. I would like to integrate Ispvic report with the object-level "example" (as documented here https://swagger.io/docs/specification/adding-examples/#request-response-bodies) which doesn't seem to be supported:

[code]

Plus, the example is still populated by using the notation inside the properties...
[code]
...but in

[2018-06-14 16:39] heldersepu commented on #4641
Now we are talking!
After logout that key should be gone

[2018-06-14 16:57] srpalomino opened #4647 "How has the deepLinking feature's implementation changed?"
@ponelat @shockey

Would you mind providing an overview of the deepLinking pluggin's implementation after being [refactored](https://github.com/swagger-api/swagger-ui/commit/90157c1a408e9a797ab1669fec9148cb2101b920)?

[2018-06-14 23:56] #4646 closed

[2018-06-14 23:56] shockey commented on #4646
thanks for the report, @dosentmatter!

[2018-06-15 01:36] lspvic commented on #4643
@arlix85 , what is your required configuration for your schema, and which version is your swagger-ui. In my example, the red star and `required` is not shown.
Thank you.

[2018-06-15 07:04] arlix85 commented on #4643
@lspvic just like "example", "required" is still working if used inside the property, like the old v2 standard:
[code]

[2018-06-15 07:30] lspvic commented on #4643
@arlix85  In OpenAPI 3.0, required is not suitable for properties, there's a required array for properties, like
[code]
Thanks.

[2018-06-15 07:33] ponelat commented on #4647
Hi @srpalomino
It more or less works the same, the implementation was changed to make a it fit the system a little better.
- parsing of the url is an action, and can be wrapped
- scrolling, now searches for the best candidate to scroll ( usually `body` but anything with a scroll bar works )
- scrolling will only be fired, _when_ the operation / model has been mounted, and will provide a `ref`

Hop

[2018-06-15 07:42] arlix85 commented on #4643
@lspvic yes, I know, but since it's still working in SwaggerUI, I'm using this workaround until this issue is fixed.

[2018-06-15 13:17] 1nfinite opened #4649 "CORS on swagger validation"
I am using node js, express and swagger/swagger ui. And I am calling api from ajax request in different domain.

I can get all the response of all the API response without hitting CORS issue **except**:
- whenever it hits validation error defined in swagger YAML. (eg: minimum: 0, maximum: 10)

I am suspecting that this is issue on swagger UI itself. Is there any configuration that I need to make?

[2018-06-15 18:06] brianupskill commented on #2793
Is there any chance this can be supported with the Docker image?

[2018-06-15 19:24] borcherspm opened #4650 "xml example cannot be generated for response type of array"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Firefox, Chrome, Edge
 - Method of installation: npm
 - Swagger-UI version: 3.11.0
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
I've reproduced this locally, but even easier to demonstrate, petstore has the same issue.

Example Swagger/OpenAPI definition:
https://generator.swagger.io/api/swagg

[2018-06-15 20:43] shockey commented on #4649
@1nfinite, it looks like your server is sending back an error (status code 400) response, and not attaching CORS headers to that response 😄

[2018-06-15 20:44] shockey commented on #4649
Since you're using express, make sure that you're putting your CORS middleware into your app _before_ any validation/error handling middleware.

[2018-06-15 21:08] dosentmatter commented on #4646
Thanks for the fixing it so quickly @shockey!

[2018-06-15 21:23] dneufeldcu opened #4651 "CURL using -d should be surrounded by single quotes"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: SwaggerHub (latest?)
 - Method of installation: https://app.swaggerhub.com/
 - Swagger-UI version: SwaggerHub
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
When trying out my API I use the execute command and copy the generated CURL command to my prompt and submit it the CURL comm

[2018-06-15 23:25] adborden opened #4653 "Newlines in description fields are converted to <br>"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Chrome
 - Version: 67
 - Method of installation: npm
 - Swagger-UI version: 3.17.0
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
https://his-dev.mmprototype.net/api/v1/api-docs
[code]

### Describe the bug you're encountering

Newlines in the description fields a

[2018-06-16 00:38] dosentmatter opened #4654 "Using $ref to refer to schema that has $ref in example treats $ref as a property"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 66.0.3359.181
 - Method of installation: homebrew
 - Swagger-UI version: https://editor.swagger.io/ and
    swagger-editor-dist@^3.3.1 using swagger-ui@^3.12.0
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration opt

[2018-06-16 03:21] gaurav517 commented on #4411
A note from #4637 that was closed as duplicate of this issue, following is the specification causing this issue for me:

[code]

[2018-06-16 20:16] #3432 closed

[2018-06-16 20:17] webron commented on #3432
@Download Sorry for taking so long, but thanks for the advice. I've added a warning to it in the documentation, keep the feedback coming.

[2018-06-18 11:14] pavlos163 opened #4658 "Query parameter not included in the URL when validating specification"
### Q&A (please complete the following information)
 - OS: macOS High Sierra 10.13.3
 - Browser: Google Chrome 66.0.3359.181 (Official Build) (64-bit)
 - Method of installation: [Confluence Plugin](https://marketplace.atlassian.com/apps/1215176/open-api-documentation-for-confluence?hosting=server&tab=overview)
 - Swagger-UI version: 3.17.1
 - Swagger/OpenAPI version: Swagger 2.0 (built with [Swagg

[2018-06-18 13:21] ChandrasekharRajoli opened #4659 "Swagger UI - BigDecimal rendered in scientific notation."
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 22
 - Method of installation: SpringFox 2.8.0
 - Swagger-UI version: 3.10
 - Swagger/OpenAPI version: Swagger 2.0

Swagger UI - Rendering BigDecimal in scientific notation. I want to render it as it is in Swagger UI. Please help how to enable this feature.

Please find the below BigDecimal value in

[2018-06-18 19:42] webron commented on #3373
Closing in favor of #2771.

[2018-06-18 19:42] #3373 closed

[2018-06-18 21:03] srpalomino commented on #4647
@ponelat Thanks! That cleared things up :+1:

[2018-06-18 21:03] #4647 closed

[2018-06-18 21:17] pruthvigh commented on #1006
@webron How do I add schemes to my spring code with springfox?

[2018-06-19 12:19] artemyarulin commented on #4025
Still an issue in swagger-ui-dist@3.17.1

[2018-06-19 12:19] artemyarulin commented on #4025
I can prepare a PR if you can point me where encoding should be done?

[2018-06-19 14:04] AnthonyMastrean opened #4662 "Custom endpoint without the final slash has a bad redirect"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 67
 - Method of installation: [NuGet](https://www.nuget.org/packages/Swashbuckle.AspNetCore/)
 - Swagger-UI version: 3.12.2
 - Swagger/OpenAPI version: 2.0

### Content & configuration

I'm using a custom [route template](https://github.com/domaindrivendev/Swashbuckle.AspNetCore#change-the-path-for

[2018-06-19 14:23] AnthonyMastrean opened #4663 "The endpoint UI element doesn't unfold properly the 1st time you click it"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 67
 - Method of installation: [NuGet](https://www.nuget.org/packages/Swashbuckle.AspNetCore/)
 - Swagger-UI version: 3.12.2
 - Swagger/OpenAPI version: 2.0

### Content & configuration

I haven't modified anything that should effect the endpoint "accordion" feature. I just have a couple of very bas

[2018-06-19 14:47] muratsplat commented on #2651
@sontuphan Yes I can confirm that "Using example outside of schema and it is not showing example" for `openapi: 3.0.0`

[2018-06-20 03:51] shockey commented on #4025
Hey @artemyarulin, it _might_ be as simple as enabling escaping here: https://github.com/swagger-api/swagger-js/blob/master/src/execute/oas3/parameter-builders.js#L17. If not, it will be somewhere in the `src/execute/oas3` folder 😄

[2018-06-20 06:03] plutext opened #4665 "Render response containing application/pdf"
I have an API which returns a PDF.

For "try it out", for content-type application/pdf , I'd like to render the PDF.

I tried to implement this using react-pdf (which swagger-ui already imports: "^3.0.5"
); see https://github.com/plutext/swagger-ui/commit/0429aa16fda1b11d4ea143c0b505862d57f4206d

But it doesn't quite work.

(I've tried feeding it the Blob, and also window.URL.createObjectURL(conte

[2018-06-20 23:49] shockey commented on #4622
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-20 23:49] #4622 closed

[2018-06-20 23:49] shockey commented on #4596
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-20 23:49] #4596 closed

[2018-06-20 23:49] shockey commented on #4630
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-20 23:49] #4630 closed

[2018-06-20 23:49] shockey commented on #4624
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-20 23:49] #4624 closed

[2018-06-20 23:49] shockey commented on #4649
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-06-20 23:49] #4649 closed

[2018-06-21 00:42] shockey commented on #4665
Hey @plutext, this is more of a `react-pdf` thing I think.

It seems like `react-pdf` prefers a Uint8Array, it's not clear if it directly supports Blobs. **What exactly do you see when you use `react-pdf`?**

You _could_ convert the Blob to a Uint8Array yourself, but that would require [an async FileReader operation](https://stackoverflow.com/questions/15341912/how-to-go-from-blob-to-arraybuffer),

[2018-06-21 00:44] shockey commented on #4665
PS: It'd really help if you could provide an API endpoint that returns a PDF. I, unfortunately, don't have the time to create a test server for each issue that we get - without a way to test this on my end, I'm taking shots in the dark.

[2018-06-21 00:45] shockey commented on #4663
Hi @AnthonyMastrean, can you try the latest version (3.17.1)?

[2018-06-21 00:57] shockey commented on #4662
Hey @AnthonyMastrean! I *think* this a Swashbuckle issue 😄 It appears that the Swashbuckle router isn't handling the case of slash vs no slash correctly.

Here's a rule of thumb for figuring out what's what:
- If it concerns loading the UI in a browser, it's probably **Swashbuckle**
- If it concerns something on the page once the UI has loaded, it's probably **Swagger UI**
- If it concerns an API

[2018-06-21 00:57] #4662 closed

[2018-06-21 01:08] shockey commented on #4659
Hi @ChandrasekharRajoli, this has been reported before, see https://github.com/swagger-api/swagger-ui/issues/2030 for more discussion on this.

Closing as a duplicate 😄 thanks for filing an issue!

[2018-06-21 01:08] #4659 closed

[2018-06-21 02:06] shockey commented on #4653
Hi @adborden! Thanks for filing an issue.

Below I've traced what's happening with the value in question.

### A YAML value's journey

##### Defined in the document
[code]

##### Parsed into a JS object by `js-yaml`

[code]

##### Parsed into Markdown by `remarkable`

Breaks are rendered as newlines (this is configured [here](https://github.com/swagger-api/swagger-ui/blob/master/src/core/component

[2018-06-21 02:12] shockey commented on #4654
Hi @dosentmatter, thanks for filing an issue 😄

---

@webron, what should be happening here? I don't see Reference Objects mentioned in the Example Object section of the specification, but I do see $refs used in the examples.

[2018-06-21 03:04] shockey commented on #4644
Hey @rsachin!

Unfortunately, we no longer support the 2.x version of the UI.

For info on how to customize the topper in v3.0, see https://github.com/swagger-api/swagger-ui/issues/4315.

[2018-06-21 03:04] #4644 closed

[2018-06-21 04:08] dosentmatter commented on #4654
Hey @shockey, no problem!

I just noticed that this bug only happens when you update the yaml while the POST /path is expanded and the example json is visible. So it might be a bug with [swagger-editor](https://github.com/swagger-api/swagger-editor) instead. I updated the steps to reproduce the issue. If the issue is in swagger-editor, we can move the issue over there.

If you keep POST /path coll

[2018-06-21 04:14] shockey commented on #4570
Hi @djfdev, I was digging into this further, and I can no longer reproduce the issue with new builds.

Can you let me know if this is still happening on your end with `swagger-ui@3.17.1`?

PS: thanks for the example repo. It really simplified the process here 😄

[2018-06-21 09:36] yshkk opened #4667 "confusing function name in component "try-it-out-button.jsx""
![image](https://user-images.githubusercontent.com/9150795/41710339-0023f26c-7578-11e8-8d05-99fd7c39e806.png)
when clicking the button "Cancel", it triggers the function "onTryoutClick", while clicking the "Try it out" button, "onCancelClick" is triggered, that's really confusing.

And what's more, the prop  "enabled" is also puzzling:  when "enabled===true", the "Cancel" button is shown. So the p

[2018-06-21 09:43] OminiData opened #4668 "how to turn off autocomplete in asp.net"
### Q&A (please complete the following information)
 - OS: [Windows server 2012 R2]
 - Browser: [Chrome]
 - Version: [e.g. 22]
 - Method of installation: [Nugget]
 - Swagger-UI version: [5.6.0]
### How can we help?
 are there a way to turn off autcomplete from input fields in swagger ui also is it possible to update jquery, handebars, backbone as they are outdated

[2018-06-21 13:55] #4668 closed

[2018-06-21 15:52] jftanner opened #4669 "Disable "server" dropdown menu?"
### Q&A (please complete the following information)
 - OS: OSX
 - Browser: Chrome
 - Version: _Varies by developer, generally latest_
 - Method of installation: NPM, via `swagger-ui-express@2.0.8`
 - Swagger-UI version: 3.1.4 (_According to swagger-ui-express README_)
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration

[2018-06-21 22:24] Shwetap05 commented on #2651
Waiting for this to be fixed soon.

[2018-06-21 22:34] pruthvigh commented on #485
I am having this same issue and have been trying to resolve it from last 24 hours. Even though I specifically mentioned "consumes:["application/xml"]" still the requests go as "Accept: Application/json". Our API endpoint returns an XML response back and because of this I am getting a 0 response code and no content - response body. Our configuration is Swagger 2.0

[2018-06-22 05:42] #4495 closed

[2018-06-22 06:55] kzhou57 commented on #4225
+1 for this feature.

[2018-06-22 06:59] kzhou57 commented on #3437
Any update ?

[2018-06-22 09:29] mlubimow opened #4672 "allOf multiple level inheritance bug?"
### Q&A (please complete the following information)
 - OS: osx sierra
 - Browser: chrome
 - Version: 67.0.3396.87 (Official Build) (64-bit)
 - Method of installation: dist
 - Swagger-UI version: 3.17.1 gitRevision":"ga6656ced"
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Define four level inheritance like in my schema and try to use the last one

Example Swagger/OpenAPI def

[2018-06-22 13:40] #4518 closed

[2018-06-22 14:05] paulswithers commented on #2651
As this is proving problematic to resolve, please could you update the documentation to clarify the current limitations?

[2018-06-22 15:03] pruthvigh opened #4673 "Swagger UI 2.0 always takes accept header as "application/json" even though I specifically put globally consumes as "text/xml". How do I correct this?"
Because of this mimatch I am getting a zero response code and empty response headers.

[2018-06-22 16:37] AnthonyMastrean commented on #4663
I'll try as soon as it's released 😄

https://github.com/domaindrivendev/Swashbuckle.AspNetCore#compatibility

[2018-06-22 18:07] jftanner commented on #4669
One of the other devs figured it out options that work just fine for our needs:
[code]

[2018-06-22 18:07] #4669 closed

[2018-06-22 18:44] shockey commented on #4673
@pruthvigh, can you provide a definition that reproduces this issue?

[2018-06-22 18:47] shockey commented on #4667
Heh, yeah, that does seem backwards. Feel free to open a PR that fixes this if it's bothering you 😄

`enabled` answers the question "is Try-It-Out mode currently enabled?". If it isn't enabled, we should show the button that lets the user go into Try-It-Out mode, and if it is enabled, we show a button that lets the user go back to documentation mode.

[2018-06-22 19:13] pruthvigh commented on #4673
`"paths": {
    "/accounts/search": {
      "get": {
        "tags": [
          "account-controller"
        ],
        "summary": "VCDA account API search",
        "operationId": "VCDA account API search",
        "produces": [
          "application/json",
          "application/hal+json",
          "application/xml"
        ],`

This endpoint like many of our endpoints returns a 403 unauthori

[2018-06-22 19:43] hkosova commented on #4653
By the way, https://stackoverflow.com/a/21699210 has a detailed reference of various YAML block styles and how they handle new lines.

[2018-06-22 20:32] hkosova commented on #4672
Since you are using OpenAPI 3.0 (as indicated by `#/components/schemas`), the response definition should look like this:

[code]

[2018-06-22 22:03] shockey commented on #4673
@pruthvigh, a full Swagger definition would be more helpful 😄

When this happens, are you seeing any errors in your devtools console?

[2018-06-22 22:10] shockey commented on #4663
@AnthonyMastrean gotcha. In the meantime, you can use http://petstore.swagger.io, which is always the latest version. Just drop the URL to your definition (looks like it's `http://localhost:80/nvdm-vrf/api-docs/v1/swagger.json`) in the URL input and you should be on your way.

[2018-06-23 13:10] Balagii commented on #4316
complete working example here: https://github.com/sunnyagarwal008/setup-swagger-ui-in-one-page/blob/master/swagger-ui.html

[2018-06-24 04:53] LivioGama commented on #4665
Same problem for me. Trying to render https://planify.io/pdf/test.php and I get a response :

![capture d ecran 2018-06-24 a 06 52 50](https://user-images.githubusercontent.com/6930498/41816039-53a1656e-777b-11e8-9eae-08f6babdcc0a.png)

What am I doing wrong?

[2018-06-24 08:30] 3mp3ri0r commented on #2651
This is simple [yaml file](https://gist.githubusercontent.com/3mp3ri0r/85f8cafc0d3933cd9afecf93e1427366/raw/e7c8f83985949455c6489d44c25596e8f535ba9f/examples-outside-schema-swagger.yaml) I've created that can not show example in swagger-ui.

[2018-06-25 12:53] jftanner commented on #4669
Well, that's just embarrassing. I guess we can take that code out now. Thanks @hkosova.

[2018-06-25 13:30] tdaskhatri commented on #4209
Hi, I want swagger to generate UI according to my customized definition file e.g mySwagger.json. Is there any way to do this? Thanks.

[2018-06-25 18:54] adborden commented on #4653
The line-folding isn't the right solution, because in many cases, the new lines are important and should not be stripped out e.g.

[code]

becomes
[code]
and will not be rendered as an HTML table.

So I think `|` is the right folding, but you're saying the newline behavior is expected for OpenAPI 2?

[2018-06-25 19:03] adborden commented on #4653
BTW, Github Flavored Markdown is a bit funny, because in issues, the lines are folded but in documents like a README, the lines are not folded (you get the behavior that i'm looking for). I'm not sure if this is documented anywhere, but if you have a link to the spec that swagger 2 is using, I would appreciate it.

[2018-06-25 19:55] sveillette commented on #3915
I was simply trying to enter an email address in a text field:

I wanted testuser@xyz.com
The value presented to my service was testuser@xyz

So to get the whole email address i entered the email address with a **trailing** dot character

testuser@xyz.com.

swagger will present this value as: testuser@xyz.com

[2018-06-25 22:22] snehaa commented on #4363
@shockey I am having the same issue. IF I use swagger-ui latest input param gets deleted and ui shows an error on the required field. If I use have a default value then only the default value is used while triggering the API, inputing any other value in the input box is not reflected in the API.

But when I downgrade Swagger ui to v3.10 it worked properly. But then I miss on the lates enhancements

[2018-06-25 23:03] kumarz commented on #4673
I am experiencing the same issue, my response content type is not getting passed in the swagger call. I tried to view the header on the browser's NETWORK tab.

I dont see the request content-type header param getting passed in. My service calls are actually expecting it  and because of this the call fails.. Please advise.

[2018-06-26 00:59] LivioGama commented on #4665
I found the answer.
[code]

[2018-06-26 04:31] shockey commented on #4673
@pruthvigh @kumarz, please make sure that you've set your services up to send CORS headers.

Docs here: https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/cors.md

[2018-06-26 04:40] shockey commented on #4363
@snehaa, unfortunately, we only officially support `react@15` for the time being 😬  See [`epic: usage in react@16`](https://github.com/swagger-api/swagger-ui/labels/epic%3A%20usage%20in%20react%4016) for more context.

[2018-06-26 05:10] shockey commented on #3640
Closing in favor of https://github.com/swagger-api/swagger-ui/issues/4018, which covers most of this feature request, and has much more discussion around it.

Thanks @joaojeronimo!

[2018-06-26 05:10] #3640 closed

[2018-06-26 05:11] shockey commented on #4018
Just closed #3640 in favor of this - it's worth considering a response size ceiling after which we have the user opt-in to rendering the request at all, be it pretty or raw.

[2018-06-26 11:20] Diparati opened #4675 "Using Swagger with Multiple Controllers with Same Url but Different Response Types"
- OS: Windows
 - Browser: Chrome
 - Version: 67.0.3396.99
 - Method of installation: [e.g. npm, dist assets]
 - Swagger/OpenAPI version: Swagger 2.0

I am using Swagger UI for interactive API documentation in my project. I have multiple controllers with the same URL, the logic for both are different and the response types are different - one produces JSON, another one produces text/CSV. Swagger is

[2018-06-26 14:37] pruthvigh commented on #4673
@shockey Like I said before even after I enable CORS I am still seeing a zero response code because Swagger UI takes accept as application/json.
![screen shot 2018-06-26 at 9 34 57 am](https://user-images.githubusercontent.com/11011819/41919585-7e8851d4-7924-11e8-8749-7ccb506dd27e.png)
![screen shot 2018-06-26 at 9 35 21 am](https://user-images.githubusercontent.com/11011819/41919586-7e97ef5e-7924

[2018-06-26 16:00] brianupskill commented on #3721
Does the Apache 2.0 allow me to copy the `dist` folder to use it to display my API spec in production software?

[2018-06-26 16:07] dinamic opened #4676 "OAuth 2 with authorization code flow uses wrong callback url"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 67
 - Method of installation: none
 - Swagger-UI version: current online version
 - Swagger/OpenAPI version: both Swagger 2.0 and OpenAPI 3.0

### Describe the bug you're encountering

We have OAuth2 authorization code flow implemented. Our API documentation is build using OpenAPI v3. Using https://edit

[2018-06-26 17:51] shockey commented on #3721
@brianupskill you'd need to consult a lawyer to discuss the specifics of your use case - we can't provide that for you here 😄

More generally, here's a plain-English summary of the Apache 2.0 license: https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)

[2018-06-26 17:58] shockey commented on #4673
Ah, I see now you're using Swagger UI 2.0. We don't support that version any longer (it was discontinued 18 months ago), can you try this with the newest version?

[2018-06-26 18:18] kumarz commented on #4673
@shockey the latest branch that I see is 2.X is that what you are referring to the latest ?

[2018-06-26 22:58] efirdman opened #4677 "Available authorizations: disable or hide client_id selection"
Maybe its very basic question, but I cannot find a good example of how I can modify the "Available authorizations" panel

For example, when I use oauth2 (OAuth2, implicit), I would love to disable or hide client_id textbox.
Same for the Authorization URL label.

I hope someone can point to a good example or documentation.
Thank you.

[2018-06-27 16:18] nesl247 commented on #3437
Glad to know I wasn't going crazy. Spent the last hour trying to figure out why my examples were not working.

[2018-06-27 17:14] AjinxPatil commented on #2651
Examples are not shown for `openapi: 3.0.1`. Awaiting fix.

[2018-06-27 18:01] VincentHoang opened #4678 "Model "Title" not shown when the model is in a separate file"
SwaggerUI version (maven): 3.17.1

When I add a model to my requestBody, then it shows that model in SwaggerUI.

### swagger.yaml
[code]
As seen in the screenshot below:
![model_title](https://user-images.githubusercontent.com/4968347/41990722-372f5400-7a3b-11e8-88d0-121b24844bb7.PNG)

However, If I move my model out to a separate file (as done below):
### swagger.yaml (OrderRequest extract out)
[

[2018-06-27 18:21] pruthvigh commented on #4673
@shockey I am actually an Intern and is developing the portal for our already existing API's. Techwise API's are written in Spring. How much of a code change are we talking here to upgrade to the latest version of Swagger?

[2018-06-27 23:36] shockey commented on #4673
@kumarz, the latest versions can be found on the `master` branch 😄

@pruthvigh, it depends on how you're using Swagger UI (if your work os open-source, feel free to drop a link), but most use cases are pretty easy to migrate. If you're using the configuration options, consult the 3.0 documentation to make sure we support it in the new version.

[2018-06-28 02:40] #4578 closed

[2018-06-28 07:57] mhvelplund commented on #2136
Right now, the Java "jaxrs" server accepts and parses the body for GET requests, but the "csharp" client doesn't send them even if it generates code that allows you to specify it.

[2018-06-28 09:53] vivek201 commented on #4641
@heldersepu Is there any way I can make the `api_key` required?

[2018-06-28 13:42] pynixwang opened #4680 "Preview page when content-type is html"
when development, we render error page as html, but swagger show as html code.

<img width="1315" alt="sw1" src="https://user-images.githubusercontent.com/1189879/42037700-a6d2a042-7b1b-11e8-8a86-4dcbe11c632b.png">

it 's very difficult to get error info, postman has a preview mode.

![sw2](https://user-images.githubusercontent.com/1189879/42037786-d6fb1056-7b1b-11e8-8f61-eb72900825f1.png)

can we

[2018-06-28 15:00] zilongl opened #4681 "Unable to see Model after clicking "Try it out" in a POST action"
This is for Swagger v2

The steps to reproduce are:
1. Find a POST action
2. Unfold
3. Click "Try it out"

And then, things get funky:
4. Under "Description", click "Model"
**nothing happens...**
5. Above "Parameter content type", click "Cancel"
6. Repeat step 4
**nothing happens...**
7. Click "Cancel" on the right where "Try it out" was.
**Model magically appears 😮**

It's quite annoying since Mo

[2018-06-28 15:06] Scriptodude commented on #4681
It is indeed quite annoying, it seems to affect the petstore.swagger.io too, meaning it isn't on our side

[2018-06-29 02:13] heldersepu commented on #4641
@vivek201 I'm sure there is ...
What are we talking about here? your time or my time?

[2018-06-29 08:42] divyakakkirala commented on #3229
how can i configure under resource folder files(like assets or folder) swagger.ui.html file, for me its not working.

[2018-06-29 12:40] rmlopes opened #4683 "Custom requestBody examples not used"
### Q&A
 - OS: [e.g. macOS]
 - Browser: [firefox]
 - Version: [60.0.2]
 - Method of installation: [extension]
 - Swagger-UI version: [e.g. 3.9.1]
 - Swagger/OpenAPI version: [OpenAPI 3.0]

### Content & configuration
[code]

### Describe the bug you're encountering
The Sub_resource should show the custom resource example in the 'Example Value' of the requestBody, instead it always shows the exampl

[2018-06-29 14:18] arran549 commented on #1772
+1

[2018-06-29 14:45] hkosova commented on #4683
Thanks for the report! This issue is being tracked in #3437.

[2018-06-30 19:32] danielflower commented on #4643
In case this helps, it's easy to reproduce.

Go to https://petstore.swagger.io/#/pet/updatePetWithForm
Then use this URL: https://gist.githubusercontent.com/danielflower/5c5ae8a46a0a49aee508690c19b33ada/raw/b06ff4d9764b5800424f6a21a40158c35277ee65/petstore.json

You can see endpoints such as `POST /pet/{petId}` rendering with `"string"`

These values are also the default in the Try It Out form, an

[2018-07-01 15:16] HenriquePereiraRosa commented on #686
@fehguy  Please, could you post the  code? The repo that you had citted has been changed.

I'm having the same problem with my SpringBoot server app. I've added the "authorization" header in my CorsFilter.java but the problem continues.

[2018-07-02 10:01] mlubimow commented on #4672
@hkosova I've fixed all the issues with the schema, it validates in editor.swagger.io but I still have the same issue - the model for POST response is not picked up properly (although its visible in models section on the main page).

[2018-07-02 10:06] hkosova commented on #4672
Please post your updated spec (e.g. as a [gist](https://gist.github.com/)).

[2018-07-02 10:22] mlubimow commented on #4672
@hkosova https://gist.github.com/mlubimow/82197b24aa3e07432b6d159642bc8077

[2018-07-02 14:41] VjacheslavVytjagov opened #4685 "'Select File' button isn't presented for 'image/*' media types in binary format"
### Q&A (please complete the following information)
 - OS: [Windows 10]
 - Browser: [chrome]
 - Version: [67]
 - Method of installation: [dist assets]
 - Swagger-UI version: [3.17.1]
 - Swagger/OpenAPI version: [OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
There is no button

[2018-07-02 15:58] pruthvigh commented on #4673
@shockey I will try and make the changes and get back If I have any doubts. Thanks much for the help.
I am closing this issue for now.

[2018-07-02 15:58] #4673 closed

[2018-07-03 09:12] AndreyOsadchuk opened #4688 "Swagger-ui & request model"
**Endpoints**

@RestController
@RequestMapping("/api/tests/validations")
public class ValidationTestController {

    @RequestMapping(value = "/phenix/http/req", method = POST, produces = APPLICATION_JSON_UTF8_VALUE)
    public PhenixResp<String> phenixHttpReqTest(@RequestBody @Validated PhenixReq req) {
        return new PhenixResp<>("Good", "Valid sysId=" + req.getWhseSysId());
    }

    @Requ

[2018-07-03 09:14] AndreyOsadchuk commented on #4688
If I assign to this methods different names then UI shows correct request models. Checked!

[2018-07-03 11:05] Liero opened #4689 "Add integrity attribute to external stylesheet link in index.html"
### Q&A (please complete the following information)
 - Swagger-UI version: [e.g. 3.17.2]

 ### Problem:

Our internal security policy says, that all external resources linked in html (scripts, css, fonts) must include 'integrity' attribute in order to comply with "Content-Security-Policy"

### Proposed solution

Make sure that all external scripts and css files uses intergrity attribute.

 Replace

[2018-07-03 14:42] wasabii opened #4690 "Support multiple client_id values, per security definition"
initOAuth should support specifying configuration per-security definition. Specifically client_id and client_secret values.

[2018-07-03 14:49] srpalomino opened #4691 "The global state isn't updated after clicking a deepLink"
@ponelat @shockey

`nextState.scrollToKey` is `undefined` inside `OperationContainer.mapStateToProps` after `parseDeepLinkHash` is invoked inside a hash change handler,

Do you guys know why??

Thanks!

[2018-07-03 19:49] jd-carroll opened #4692 "Please update webpack-cli dependency"
I know this is a trivial request, but it would be great if someone could update the `webpack-cli` dependency.

The 2.0.4 version of `webpack-cli` includes a dependency with a `git://...` version instead of a semantic version.  Simply updating the version to 2.1.5 resolves this issue.  Having `git://` style versions (instead of ~#.#.#) do not work behind our corporate proxy.

Thanks!

[2018-07-04 07:09] tlaukkan commented on #3437
Its not really possible to do proper API documentation without this feature. Implementation would be highly appreciated.

[2018-07-04 08:45] SongJoey opened #4693 "enum string type field in formData with required=true always send the first value."
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome
 - Version: 63
 - Method of installation: docker
 - Swagger-UI version: latest from docker hub: 2376859c51c8
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
formData field with type:string, required: true and enum fields, whatever you choose, it always send the first enum value.

Example Swagge

[2018-07-04 09:07] dannyb648 commented on #4107
@shockey I'm currently using Swagger UI in the same way as @minigans (copying and hosting the files from the dist folder).

I'm definitely hosting 3.17.2, (I upgraded in hopes it would fix this issue) but I'm still hitting this same issue. Link still points to about:blank.

Happy to provide any more information needed.

[2018-07-04 11:30] 1pete opened #4694 "parameters with example value always get reset"
### Q&A
 - OS: Mac
 - Browser: Chrome
 - Version: 67
 - Method of installation: dist assets
 - Swagger-UI version: 3.17.2
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
Parameters with example value always got reset back to value in spec

### To reproduce...

Steps to reproduce the behavior:

[2018-07-04 11:47] joao3101 opened #4695 "Possible cross-origin (CORS) issue"
I have the following issue:

In my code, I have the following filter:
[code]
I'm trying to access the swagger-ui from a different proxy.
Any ideas of what is causing this issue?

[2018-07-04 13:59] hkosova commented on #4693
Interesting... This issue seems to affect all parameter types - path, query, etc., in both 2.0 and 3.0 definitions.

[2018-07-04 14:05] hkosova commented on #4694
OpenAPI 2.0 does not support the `example` keyword for parameters, use the extension property `x-example` instead. Also, since the the parameter type is number, the example should be the number `1` not the string `"1"`.

[code]
After this change "try it out" works just fine.

[2018-07-04 14:19] 1pete commented on #4694
It worked before in v3.13, but never mind, i'll update my spec.

Thanks.

[2018-07-04 14:19] #4694 closed

[2018-07-04 15:32] joao3101 commented on #4695
The IP was wrong, and that's it. Changed it and now it works!

[2018-07-04 15:32] #4695 closed

[2018-07-04 16:18] SongJoey commented on #4693
after some test work I believe it's "required" attribute which caused this issue. when I remove "required" line from definition, it works as expected, except there's a blank option which can cause field missing.

[2018-07-04 17:53] #4667 closed

[2018-07-04 21:21] Andrey-Repin opened #4698 "$ref could not be resolved for "Example value" tab"
### Q&A
 - OS: Windows 10 Pro
 - Browser: Chrome, Mozilla Firefox
 - Version: [e.g. 22]
 - Method of installation:
 - Swagger-UI version: 3.17.1
 - Swagger/OpenAPI version: OpenAPI 3.0

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
I can not get right example in Example Value / Model if "components/schemas" objects contains $ref

### To reproduce...
1. Use my