[2018-07-05 11:34] hkosova commented on #4698
You need to change
[code]
to
[code]

and add a `description` for your 200 response.

[2018-07-05 12:40] damienthiery commented on #2651
Looks like this bug is not easy to fix :(
Is there any way to hide the field "Example Value" and only show the model ?

[2018-07-05 15:47] lemartin commented on #4107
@dannyb648 It seems the sanitizer requires relative URLs to start with a leading `.`, at least this solved it for us (also running 3.17.2).

[2018-07-05 16:43] webron commented on #3217
Closing in favor of #3227, as part of reorganizing the tickets. Thanks for the feedback.

[2018-07-05 16:43] #3217 closed

[2018-07-05 16:55] webron commented on #3240
Closing in favor of #2488.

[2018-07-05 16:55] #3240 closed

[2018-07-05 17:00] webron commented on #3257
Thanks @heldersepu, you are correct. Closing.

[2018-07-05 17:00] #3257 closed

[2018-07-05 17:14] webron commented on #3305
Thanks again for the feedback :) Closing just as part of a regular issue cleanup process.

[2018-07-05 17:14] #3305 closed

[2018-07-05 17:20] webron commented on #3325
It looks like the original issue has been resolved, but there's still work to do on recursive rendering. The ticket has been renamed to reflect that.

[2018-07-05 17:30] shockey commented on #3357
This was fixed by https://github.com/swagger-api/swagger-ui/pull/4684, which parallelized all build steps.

[2018-07-05 17:30] #3357 closed

[2018-07-05 17:32] webron commented on #3366
Closing as resolved.

[2018-07-05 17:32] #3366 closed

[2018-07-05 18:12] webron commented on #3510
This issue seems to have been resolved. Please reopen or file a new ticket otherwise.

[2018-07-05 18:12] #3510 closed

[2018-07-05 18:22] webron commented on #3518
Closing as resolved, thanks for reporting!

[2018-07-05 18:22] #3518 closed

[2018-07-05 18:32] webron commented on #3581
Closing in favor of #2438.

[2018-07-05 18:32] #3581 closed

[2018-07-05 18:39] webron commented on #3583
As for the original issue - I would say that you'd just need to add the `consumes` property be cause as you mentioned it works.

As for OAS3 - we recently added support for formData so it should be all good now. I'll keep the issue open for a bit longer to get more feedback, but if none comes, we'll close it.

[2018-07-05 18:41] Andrey-Repin commented on #4698
Oh, thanks. It works, but only for array. If I specified "oneOf" statement, Example Value / Model tab is absent.

[code]

[2018-07-05 19:05] hkosova commented on #4698
The issue with `oneOf`/`anyOf` examples is being tracked in #3803.

[2018-07-05 19:13] webron commented on #3642
Closing as this renders correctly now.

[2018-07-05 19:13] #3642 closed

[2018-07-05 19:15] webron commented on #3657
Closing as this is resolved now.

[2018-07-05 19:15] #3657 closed

[2018-07-05 19:39] shockey commented on #4689
Sure, feel free to open a PR for this 😄

[2018-07-05 19:39] #4689 closed

[2018-07-05 20:13] webron commented on #3781
Closing as fixed.

[2018-07-05 20:13] #3781 closed

[2018-07-05 20:47] shockey commented on #3808
This appears to be fixed!

I tested a chunked download with this definition:

[code]

I also used a web proxy to add `Content-Disposition: attachment`.

The inline display and file download gave me the entire response, as I would expect.

@makeshitdev, if this is still a problem for you, reply here and we'll try to look into this further.

[2018-07-05 20:47] #3808 closed

[2018-07-05 20:56] Andrey-Repin commented on #4698
Ok. Thank you.

[2018-07-05 20:56] #4698 closed

[2018-07-06 02:51] SwaroopH commented on #3583
@webron are you saying we pass formData in `in`? That's not part of the OAS3 spec, right?

[2018-07-06 02:57] shockey commented on #4689
@Liero, FYI - we just dropped our usage of Google Fonts in #4598, so this shouldn't be an issue going forward.

[2018-07-06 04:48] shockey commented on #4107
@dannyb648 & @lemartin, what do your URLs look like?

I can click through to a root-relative URL (which was the original issue in this thread) just fine, for example: https://petstore.swagger.io/?url=/v2/swagger.json

[2018-07-06 05:17] vivek201 commented on #4641
@heldersepu My time. I've having a hard time figuring out the plugin system setup in swagger ui. Is there any way to use the plugins without having to setup react and webpack in my project?

[2018-07-06 07:30] rmanoka commented on #4672
+1.  Have this issue on OAS 3.0.0 too when schema uses more than 2-levels of nested allOf

[2018-07-06 09:27] nicolashenry opened #4702 "oAuth2 redirect page does not work with Internet Explorer"
### Q&A (please complete the following information)
 - OS: Windows 7
 - Browser: Internet Explorer
 - Version: 11
 - Method of installation: dist assets
 - Swagger-UI version: 3.17.2
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Any config using oAuth2 authentication flow.

### Describe the bug you're encountering
oAuth2 redirect page does not work with Internet Explorer 11,

[2018-07-06 09:55] nundee opened #4703 "Swagger-UI: insert HTML content after “Execute”"
Hi,

I have the following customized Swagger-UI layout consisting of two columns.
In the left pane the SwaggerUI and in the right pane a empty &lt;div&gt; container

[Picture](https://i.stack.imgur.com/t6Okv.png)

The response I get on 'Execute' contains some HTML:
[code]
How can I put this content into the right pane ?
I tried with a **responseInterceptor** but the script gets not executed.
Is th

[2018-07-06 13:35] heldersepu commented on #4641
@vivek201 What did you expect? one click done? see it as a batch of honor!
Setting up the environment could be quite challenging, get used to it if you want to code professionally

Now to your question: you don't need the plugins to make the api required, you can do it all with plain javascript & CSS, but this is way of topic, email me directly if you want.

[2018-07-06 17:39] webron commented on #3583
No, for OAS3 you'd need to use its own method of describing formData. You can find more information about it at https://swagger.io/docs/specification/describing-request-body/.

[2018-07-06 17:47] srpalomino commented on #4691
@ponelat

Yes, I am using `window.location.hash`.

But what is it in your implementation that only allows scrolling when the Operation component mounts, and not after? Is it in part because `scrollTo` isn't a bound action creator?

[2018-07-06 18:29] SwaroopH commented on #3583
@webron Yup, that's what we use right now but the UI requires one to edit the JSON manually. For example, try this on the editor.swagger.io:
[code]

[2018-07-06 19:42] SwaroopH commented on #3583
@webron my bad, didn't try that – this used to silently fail which seems to be supported in the recent releases like you mentioned earlier 👍

[2018-07-06 19:44] webron commented on #3583
Glad you got it working. We'll give it a few more days before closing the issue.

[2018-07-06 22:02] webron commented on #3437
Supporting `example` right now is easier than supporting `examples` (see #2651). We'll work on adding support for the former next week, which should cover at least some of the use cases.

[2018-07-07 07:36] #4685 closed

[2018-07-07 12:48] ponelat commented on #4691
So this is how deepLinking works ( currently )
- We parse the hash into something we understand (operation).
- We add that path/key into state
- When the each operation component mounts, we shout "I'm ready to be scrolled to!"
- And if it matches the key in state, we scroll to it.

If I'd change this it'd read something like this...
- 1. We parse the hash into something we understand (operation).

[2018-07-08 21:20] Kevin-Prichard commented on #4248
@heldersepu, a slight modification to your code produces a single model version. Seldom do I want to open all models at once, especially with a complex API.

Connecting this code to a "toggle all" button next to the %gt; symbol for each model would enable us to manually open just one model entirely.

[code]

[2018-07-08 23:49] heldersepu commented on #4248
Hi @Kevin-Prichard, I'm glad my code was helpful...
but the problem still exists, if we have a truly complex model it will crash, try with this:
http://swagger-net-test.azurewebsites.net/api/NestedSwag/9

Use your ExpandModel to expand Test0 on that schema, let me know what happens

[2018-07-09 12:55] lmeisegeier opened #4707 "2.9.2 Object self reference crashes swagger-ui"
Since Version 2.9.2 swagger-ui crashes If one tries to open controller endpoint with an object that contains a self reference.
![firefoxswaggeruicrash](https://user-images.githubusercontent.com/40823834/42277658-6a730124-7f98-11e8-91ce-46a2ea709598.PNG)

Object that contains cyclic self reference: (ommited other attributes):
[code]
Firefox show error:  "[Invalid Object]":
![firefoxinvalidobject](h

[2018-07-09 18:32] shockey commented on #4707
@lmeisegeier, thanks for filing an issue. There are a couple of problems with your report:

1. 2.8.0 and 2.9.2 aren't valid Swagger UI versions - and from your screenshot, it looks like you're using v3... so you're probably quoting a version of a downstream project that has a different versioning scheme. Please use [our version detection guide](https://github.com/swagger-api/swagger-ui/blob/master

[2018-07-09 19:45] shockey commented on #4693
Confirmed!

[2018-07-09 19:53] shockey commented on #4688
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Note that you need to provide an API definition (_not_ annotations) when you file.

Thanks!

PS: You're using Swagger UI v2, **which we dropped suppor

[2018-07-09 19:53] #4688 closed

[2018-07-09 20:59] shockey commented on #3583
Looks like this is working:

<img width="825" alt="image" src="https://user-images.githubusercontent.com/680248/42475702-08bb3d6e-8391-11e8-91c4-11bee0e68e33.png">

Closing!

[2018-07-09 20:59] #3583 closed

[2018-07-09 22:20] shockey commented on #3700
This is resolved: only `UPDATE_RESOLVED` mutates `spec.resolved` now.

[2018-07-09 22:20] #3700 closed

[2018-07-10 06:20] fate-lovely commented on #2651
Any updates? This problem has been lasting for a long time😢.

[2018-07-10 12:58] DavidBiesack commented on #4653
Thanks for the details, @shockey Note that _multiple_ Markdown paragraphs (when using `>-` ) are rendered by Swagger UI with `<br>`; I think this is incorrect behavior (though not exactly what the OP cited when using `|` instead of `>-` ):

[code]

is converted to
[code]
not as the expected
[code]

[2018-07-10 16:51] webron commented on #2651
We're working on adding support for `example`. `examples` support is going to take longer.

[2018-07-10 20:18] pruthvigh opened #4710 "Change protocol from http to https without adding schemes to Swagger UI 2.0"
Is there any way we can make swagger "Try me" requests change protocol to https without schemes parameter in swagger JSON. Because if I add schemes to https, I am unable to test locally the endpoints in Swagger UI. And if the Swagger UI is hosted over https, will the requests too automatically be made over https? Because right now our live portal is deployed over http.

[2018-07-10 20:57] shockey commented on #4710
@pruthvigh, do you have `http` in your document currently, or does your document not have a `schemes` value at all?

[2018-07-10 21:42] pruthvigh commented on #4710
@shockey I don't have `schemes` in my document

[2018-07-10 22:58] webron commented on #3837
Going over tickets again now for organization, and upon testing the definition as provided, it seems to behave as expected. It just renders the example as-is, which is what it's supposed to do.

[2018-07-10 23:01] webron commented on #3853
Seems to be fixed! :tada:

[2018-07-10 23:01] #3853 closed

[2018-07-10 23:16] webron commented on #3888
Should be fiexed.

[2018-07-10 23:16] #3888 closed

[2018-07-11 02:48] webron commented on #4030
Sorry for the delay here. While similar to #4001, I'd consider it a separate bug.

[2018-07-11 03:01] webron commented on #4039
The rendering of the extensions seems to be fixed. As for showing or not showing the, swagger-ui has a configuration that allows you to toggle it.

[2018-07-11 03:01] #4039 closed

[2018-07-11 03:50] AnthonyHao opened #4712 "Bug- Request body and example missed when created a second same swagger-ui"
### Q&A (please complete the following information)
 - OS: [Win10]
 - Browser: [chrome]
 - Version: [67]
 - Method of installation: [dist]
 - Swagger-UI version: [3.17.0]
 - Swagger/OpenAPI version: [ OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

[code]

### Describe the bug you're encountering

I create two swagger-uis in a html page, the same spec, all th

[2018-07-11 06:27] verschoof opened #4714 "Generate input value when clicking submit"
### Q&A (please complete the following information)
 - Method of installation: Composer
 - Swagger-UI version: v3.17.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### How can we help?
In our API we created a long time ago own annotations.
Now I wanna try if I can use OpenAPI and swagger.

In our API we have the field `hash` this hash are a few fields included a secret key for the hashing.
The keys (m

[2018-07-11 09:07] zrx8269 opened #4715 "request body is not displayed"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Swagger-UI version: 3.17.0

### Describe the bug you're encountering

There are two pages (list, detail) in my project, I need to show API in the detail page.
The source code in detail page
[code]
1. In list page, click "Item A"
2. Jump to the detail page show swagger API, everything is OK.
![correct](https://

[2018-07-11 09:35] #4715 closed

[2018-07-11 09:42] Gabology commented on #3902
Any update for this?

[2018-07-11 10:46] bestmike007 commented on #4651
It would also go wrong if request body includes special characters like '$', e.g.

[code]

I think this needs a fix. I'll submit a PR.

Reference: http://wiki.bash-hackers.org/syntax/quoting

[2018-07-11 12:57] Gabriel-Pellegrini opened #4716 "Swagger doesn't recognize x-www-urleconded parameters"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04 x64
 - Swagger/OpenAPI version: Swagger 2.0

### Describe the bug you're encountering

I had a swagger documentation on version 2.0 where i put the path consumes as application/x-www-urlencoded but when i try to request i receive the following error.

`{
    "message": "Request validation failed: Parameter (username) is requir

[2018-07-11 13:00] #4680 closed

[2018-07-11 15:40] hkosova commented on #4716
Hi @Gabriel-Pellegrini,

This repository is for Swagger UI, which is a web page that renders interactive API docs, like the one on http://petstore.swagger.io. The error in question is returned by your server and has nothing to do with Swagger UI. Please file an issue with the library/framework you are using on the server side.

`x-a127-apply` suggests you might be using https://github.com/apigee-1

[2018-07-11 16:27] srpalomino opened #4717 "store.subscribe() callback doesn't get invoked when the global state changes"
I'm trying to invoke a callback inside the OperationTag component whenever the global state updates. The problem is that the callback never gets invoked, and I have no idea why.

Here's my [implementation](https://gist.github.com/srpalomino/b97a8d45546bf2ef78ae44da197fa5cc#file-operation-tag-js-L31)

Thanks!

[2018-07-11 17:30] webron commented on #4029
Closing this as an old ticket while doing some housekeeping. We can reopen it if there's interest though, not saying it's not relevant.

[2018-07-11 17:30] #4029 closed

[2018-07-11 17:33] shockey commented on #4717
Hey @srpalomino, the issue here is that you're creating a new store (on [line 8](https://gist.github.com/srpalomino/b97a8d45546bf2ef78ae44da197fa5cc#file-operation-tag-js-L8)) and subscribing to that - that isn't the store that Swagger UI is using, so nothing is happening within that store.

More broadly... instead of listening to the store (which is a very low-level way to react to changes), you

[2018-07-11 17:37] webron commented on #4041
As @hkosova mentioned, Swagger 2.0 does not support it, but OAS3 does. We recently added support for it in swagger-ui, so I'm going to go ahead and close the ticket.

[2018-07-11 17:37] #4041 closed

[2018-07-11 17:39] webron commented on #4047
Closing this one in favor of #3227 that would tackle the password flow from scratch.

[2018-07-11 17:39] #4047 closed

[2018-07-11 17:40] shockey commented on #4716
Closing; this appears unrelated to Swagger UI. Reply if this is in error, and I'll reopen 😄

[2018-07-11 17:40] #4716 closed

[2018-07-11 17:48] webron commented on #4071
Issue is fixed (:tada:), closing.

[2018-07-11 17:48] #4071 closed

[2018-07-11 17:55] webron commented on #4087
@pablocoberly - apologies for the (very very) delayed reply. The idea looks nice, and I think we can accept a PR that would add this functionality (so you don't have to maintain your own fork).

If you'd like to submit a PR please make sure that:
- the functionality still supports a single entry for backward compatibility, and behaves the same (no need to show the app-chosing dropdown).
- tests :)

[2018-07-12 01:13] webron commented on #4089
Closing as a workaround (linked) currently exists.

[2018-07-12 01:13] #4089 closed

[2018-07-12 01:19] webron commented on #4112
nswagger is not a library we maintain. please file a ticket at the right repo.

[2018-07-12 01:19] #4112 closed

[2018-07-12 01:22] webron commented on #4119
Closing as @hkosova provided the solution.

[2018-07-12 01:22] #4119 closed

[2018-07-12 01:50] webron commented on #4176
What's interesting is that the definition's general `description` renders properly, while the operation `description` offers zero space. Definitely a bug.

[2018-07-12 01:54] webron commented on #4178
Updating the title to represent the issue. The `readOnly` information is missing both in the operations and the models section.

[2018-07-12 02:01] webron commented on #4216
Looks like this is fixed. If your experience is different, please report back and we'll reopen the ticket.

[2018-07-12 02:01] #4216 closed

[2018-07-12 02:06] webron commented on #4225
Closing this one in favor of #3437.

[2018-07-12 02:06] #4225 closed

[2018-07-12 02:09] webron commented on #4226
Apologies for the late response here, kinda slipped under our radar. The problem is that you have not provided an actual API definition (we can't use the PHP code) so it's difficult to follow it. Please try using the latest swagger-ui version, and if the problem still exists, file a new ticket providing the required details.

[2018-07-12 02:09] #4226 closed

[2018-07-12 02:16] zrx8269 commented on #4712
the same issue +1

[2018-07-12 06:56] bestmike007 commented on #4643
@danielflower the default value issue is fixed since https://github.com/swagger-api/swagger-ui/commit/8f65483510770ef548ea7a79d9e5ba9a3387dcee#diff-47300e7ecd8989b6246221de88fc9a3cR633

The re-appear issue is definitely a bug.

[2018-07-12 07:16] bestmike007 commented on #4643
I'm not sure which is the designed behavior:
*  The input value is set to `string` only once when clicked the "Try it out" button. In this case we should use a typeof check or `=== undefined` check here: https://github.com/swagger-api/swagger-ui/blob/v3.17.3/src/core/plugins/oas3/components/request-body.jsx#L98
*  The input value is set to `string` every time it's cleared. In such case we might us

[2018-07-12 08:06] bestmike007 commented on #4714
You might need to write an auth plugin to solve this. Unless it's a standardized use case it should not be a feature in this project.

However, using a client key/secret pair to sign request parameters could be generalized as a common auth method other than oauth2, basic auth, etc. In such case, the key/secret pair, sign method (e.g. ordered parameter map sign with secret using HMAC_SHA256), times

[2018-07-12 09:20] verschoof commented on #4714
We also request a timestamp.

It would be nice if there are places I can hook in on the javascript, in this case, if it would possible to hook a function before swagger goes do his thing, I can generate the timestamp en make the hash.

Maybe, it would be nice if I can hook on the "request" input to swagger so I can modify it and return it.

[2018-07-12 09:34] tmaus commented on #3784
Same issue

[2018-07-12 10:17] bestmike007 commented on #4714
Yes you can do this with a `requestInterceptor` configuration(https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#network).

[2018-07-12 10:20] beligh-hamdi opened #4719 "absolute-path.js"
ERROR in ./node_modules/swagger-ui-dist/absolute-path.js
Module not found: Error: Can't resolve 'path' in '/project-name/node_modules/swagger-ui-dist'

"swagger-ui-dist": "^3.17.3",
angular 6.0.3
angular cli 6.0.7

[2018-07-12 10:20] verschoof commented on #4714
Sweet! I go try this out, thanks for the help!

[2018-07-12 14:16] ldipotetjob commented on #4016
Did you get any solution finally? I had the same issue with openapi: "3.0.0" and playFramework and my url base is set on an ENV var

[2018-07-12 14:53] ricardodejuan opened #4720 "Swagger-ui minified not displaying part of Responses"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome, safari, firefox, ...
 - Version: latest
 - Method of installation: npm
 - Swagger-UI version: 3.17.3
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
I have a frontend app using Vue.js (2.5.16) along with vie-cli 3.0 (webpack 4) and swagger-ui (3.17.3):
https://github.com/ricardodejuan/vue_swag

[2018-07-12 15:42] webron commented on #3784
@here - this has been implemented and is supposed to work (just tested it myself). If you encounter an issue, please file a new ticket with steps and details to help us investigate.

[2018-07-12 15:43] jonbcampos commented on #3784
I can say that the update worked for me

On Thu, Jul 12, 2018, 8:43 AM Ron <notifications@github.com> wrote:

[2018-07-12 21:04] shockey commented on #4719
@beligh-hamdi, can I see how you're using the absolutePath helper?

[2018-07-12 21:34] shockey commented on #4720
@ricardodejuan, this is because some (new-ish) code in the resolver relies on `Function.prototype.name`, which I imagine your minifier is modifying. You should be able to solve this by instructing your minifier to preserve functions named `GeneratorFunction`.

This is, clearly, not a great situation. I'm going to tag this as a bug and look into approaches that _don't_ rely on minifier kindness.

[2018-07-12 22:04] #4717 closed

[2018-07-12 23:13] stev333 commented on #4676
Came across this as well and was able to resolve locally. The problem appears to be that http://localhost:3200/oauth2-redirect.html is somewhat coded into the server as redirect and not relative to host so the hosted versions will also attempt to redirect to localhost.

How to solve it locally:
- Go to https://github.com/swagger-api/swagger-ui/tree/master/dev-helpers and copy paste oauth2-redirect

[2018-07-13 02:16] bestmike007 commented on #4693
To reproduce this bug: https://petstore.swagger.io/?url=https://gist.githubusercontent.com/bestmike007/d465fddf34b69f41bbd8533f837a3a73/raw/8196b3624fe486fb727f1fdae485002da375343e/petstore.json#/pet/findPetsByStatus

It goes wrong when an enum field is required and default value is set here: https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/parameter-row.jsx#L43-L57

Line

[2018-07-13 03:18] bestmike007 commented on #4681
It seems to be designed this way: https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/model-example.jsx#L51-L63, it is the same behavior with the latest version v3.17.3.

I'll submit a PR as a proposal, and I'll publish an url to preview.

[2018-07-13 04:01] bestmike007 commented on #4681
Here is the url to preview the changes: http://bestmike007.com/swagger-ui/issue-4681

[2018-07-13 05:41] bestmike007 commented on #4658
https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/online-validator-badge.jsx#L57-L59

[2018-07-13 06:34] bestmike007 commented on #3393
@shockey I believe there should be a better way; not everyone prefer case-insensitiveness.

What about introducing a case check in dev environment and verbose the case miss-match on build. These additional code could be excluded from the production build by setting NODE_ENV and adding if blocks, which will be removed by uglifyjs as dead code; similar way as react remove propsType check.

[2018-07-13 09:14] verschoof commented on #4714
I do have a follow-up question about the `requestInterceptor`, now I get the request, but I also need the documentation of the call it's doing, how do I get that?

I need this so I can see what parameters the docs has, so I can lookup the description of the hash field and see what fields I need for the hashing. 🤔

[2018-07-13 13:21] olevitt opened #4725 "Npm start / serve-static requires http-server"
Hi, first issue for me, hope I don't mess up :)

### Describe the bug you're encountering
Running npm install followed by npm start (or serve-static) fails as http-server is not found.
Error :
`sh: 1: http-server: not found`

### To reproduce...

Steps to reproduce the behavior:
1) clone the project
2) npm install
3) npm start (or npm serve-static)

http-server is required but is not defined in pa

[2018-07-13 18:44] #4658 closed

[2018-07-13 19:52] shockey commented on #4725
Yes! A PR would be great for this 😄

[2018-07-13 20:51] ricardodejuan commented on #4720
@shockey it worked. Thank so much!!

I modified the UglifyJsPlugin from webpack.prod.conf.js the following:
[code]

[2018-07-13 21:18] chiragtayal commented on #3034
I checked out master branch and added oauth2RedirectUrl paramter in SwaggerUIBundle and still I am seeing that redirect_uri is not being sent to authorization server.

[2018-07-14 07:09] #3437 closed

[2018-07-15 23:12] webron commented on #4278
@jonnyry - closing the issue as it seems you have found a solution. If you need this reopened for further discussion, simply add a note here.

[2018-07-15 23:12] #4278 closed

[2018-07-15 23:17] webron commented on #4292
@erajkovic - your comment is talking about a different feature than the requested by the OP. The OP is referring to the URL(s) that's used to load the API definition, whereas your request is regarding the `servers` section in a given API definition. If you'd like that feature considered, please file a separate ticket.

[2018-07-15 23:33] webron commented on #4314
Looks like this is already implemented in the `urls` parameter. If something is missing, please add another comment here.

[2018-07-16 01:51] bestmike007 commented on #4693
@SongJoey it's fixed in v3.17.4.

[2018-07-16 06:56] bestmike007 commented on #4714
I suppose that all the fields other than hash and timestamp are in your docs. Will it be all right if you describe each field with some phrase to indicate if that field will be used for hashing or not?

Or if that's not the case, is that what you need to configure the subset of fields used for hashing in your custom requestInterceptor for each api respectively?

[2018-07-16 07:10] bestmike007 commented on #4710
@pruthvigh It's worth mentioning that: if your swagger UI is hosted over https, it cannot load any docs hosted over http. Your browser will block the request because it's insecure (images are exceptions). You cannot invoke any api hosted over http either.

[2018-07-16 08:33] verschoof opened #4732 "Allow reference siblings"
### Content & configuration

https://swagger.io/docs/specification/using-ref/#sibling

$ref and Sibling Elements
===================
Any sibling elements of a $ref are ignored. This is because $ref works by replacing itself and everything on its level with the definition it is pointing at. Consider this example:

Swagger/OpenAPI definition:
[code]

In the second schema, the `description` and `defa

[2018-07-16 10:20] Ostro opened #4733 "Bug - mediaType level examples are not rendered in Chrome"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 67
 - Method of installation: none, using editor live version https://editor.swagger.io
 - Swagger/OpenAPI version: openapi 3

### Content & configuration
Here is my schema

[code]

### Describe the bug you're encountering
I'm switch my swagger v2 doc to openApi v3. I'm experiencing trouble using exampl

[2018-07-16 10:47] bestmike007 commented on #4733
Could you please upload your api doc?

[2018-07-16 12:37] hkosova commented on #4732
You can use `allOf` as a workaround to _add_ extra attributes to a `$ref` (but not override existing attributes):
[code]

<br/>

`$ref` behavior is defined by the [JSON Reference](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03#section-3) spec, which says:

OpenAPI Specification and Swagger tools simply follow the JSON Reference specification. Here's a related discussion in the OpenAPI Sp

[2018-07-16 12:49] verschoof commented on #4732
@hkosova Thanks for the link.

I've been reading, so if I'm correct they introduced a new concept `applicators`?
https://github.com/json-schema-org/json-schema-spec/blob/master/jsonschema-core.xml#L194

[2018-07-16 12:55] hkosova commented on #4732
@verschoof Sorry, I'm not familiar with the latest draft of JSON Schema.

OpenAPI Specification 3.0 uses [JSON Schema Draft 5](http://json-schema.org/specification-links.html#draft-5) (aka draft-wright-json-schema-00), so any JSON Schema features from later drafts first need to be officially introduced to the OpenAPI spec in order to make use of them in OpenAPI and Swagger tools.

[2018-07-16 13:03] hkosova commented on #4733
This looks like a duplicate of https://github.com/swagger-api/swagger-ui/issues/3437.

Support for `example` was [implemented](https://github.com/swagger-api/swagger-ui/releases/tag/v3.17.4) in the latest release of Swagger UI, 3.17.4. Swagger Editor was not updated yet, but I guess these changes will be included in the next Editor release as well.

@Ostro If you need `example` support in the Edit

[2018-07-16 13:50] verschoof commented on #4714
Yes. als the hash and timestamp field are in the docs.
Well, if I go describe each field by it self its hard to see in which order is should be.

For now I have a work around;

When swagger is done with loading I do a ajax request to the json file and save the response in memory.
When I "try out" a call I go match the request path with one of the path's in the json.
After this step I know what cal

[2018-07-16 13:50] #4714 closed

[2018-07-16 16:22] pruthvigh commented on #4710
@bestmike007 Swagger UI is on an S3 static website hosted over HTTP now but, we will be getting a custom domain name and SSL certificate. Other than that everything is over https so once the S3 website too is hosted over HTTPS will the API be automatically invoked over https?

[2018-07-16 17:17] andrecarlucci opened #4734 "After adding an api key, the operations are not refreshed."
### Q&A (please complete the following information)
 - OS: Windows10
 - Browser: Any
 - Version: 3.0.0
 - Swagger-UI version: 3.0.0

### Describe the bug you're encountering
We are using an DocumentFilter to filter out all methods that an user doesn't have authorization to use.
That was working fine in the version 1.0.0. We would add the bearer and the page would reload all the endpoints again, br

[2018-07-16 18:27] jijojv commented on #3809
+1 Please fix.

[2018-07-17 00:01] erajkovic commented on #4292
When I first looked at the 'servers' URLs, I found that it was replacing/ignoring the default URL value, so we decided to continue to use the default URL and avoid using any servers URLs in our setup. Can rewrite this as a separate issue if you would like it so.

[2018-07-17 01:13] erajkovic opened #4735 "Provide an easy way to enter custom URL to try-it feature"
### Content & configuration

Swagger/OpenAPI definition (using the .json format):
[code]

 Swagger-UI configuration options:
[code]

[code]

### Is your feature request related to a problem?

I am trying to find a way to provide a default list of alternate URLs the user can use to test his service with the ability to overwrite the default value, using an efficient UX layout.

I have try using the

[2018-07-17 01:20] erajkovic commented on #4292
done - see issue 4735

[2018-07-17 02:01] domaindrivendev commented on #4734
@andrecarlucci - you're mixing two independent projects (Swashbuckle & swagger-ui) in your issue description. To prevent you from getting redirected back to the Swashbuckle repo, I thought I might interject and try to describe your issue purely in terms of the swagger-ui project, which I believe to be the root cause:

__Q&A (please complete the following information)__
OS: Windows10
Browser: Any
s

[2018-07-17 02:22] domaindrivendev commented on #4107
@shockey - I know the original issue was specifically created for the "root-relative" case. However, the problem still appears to be occurring for page relative URL's (e.g. "v1/swagger.json"). Can this issue be re-opened to track that case or should there be a new issue created?

[2018-07-17 03:15] shockey commented on #4107
@domaindrivendev, looks like you're right, RFC3986 clearly indicates that URLs like `v1/swagger.json` are valid.

I'll reopen this!

[2018-07-17 03:31] bestmike007 commented on #4710
AFAIK, it will if your document does not have a `schemes` value. According to [this line](https://github.com/swagger-api/swagger-ui/blob/v3.17.4/src/core/plugins/spec/selectors.js#L428), it will use the same scheme as your document url.

[2018-07-17 04:11] Ostro commented on #4733
@hkosova I installed swagger-ui from docker
`Pulling swagger (swaggerapi/swagger-ui:3.17.4)...`

I am using your tests from your previous PR you mentioned

Here is my swagger.yml

[code]

either for response or body request, media-type example are not rendered
schema and property level are working great.

here is a screenshot in Chrome
<img width="1588" alt="capture d ecran 2018-07-17 a 12 09 44"

[2018-07-17 04:34] shockey commented on #4292
@erajkovic thanks for filing! I'll take a look.

Also - I'm going to minimize our discussion here, to keep this thread focused on the original issue.

[2018-07-17 06:32] #4693 closed

[2018-07-17 08:08] bestmike007 commented on #4411
How I reproduce this:

1. Download and unzip the schema folder as the doc root
1. Put the dist folder from the latest version (v3.17.4) of swagger ui inside it and renamed to swagger
1. Put the demonstration api definition named 1.json inside the root folder
1. Use `serve` to run a local web server
1. Open `http://127.0.0.1:5000/swagger/?url=/1.json#/default/get_foo` in chrome

After failing to lo

[2018-07-17 09:54] albertotn opened #4736 "Delete query array fields"
### Q&A (please complete the following information)
 - OS: Windows 10, version 1803,
 - Browser: Firefox
 - Version: 61.0.1
 - Method of installation: indirectly by https://mvnrepository.com/artifact/org.webjars/swagger-ui/3.17.3
 - Swagger-UI version: 3.17.3
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
If I generate server with java-resteasy and client with typescript-angu

[2018-07-17 10:16] bestmike007 commented on #4280
Profiling the expanding action:

![image](https://user-images.githubusercontent.com/432106/42807127-9176faba-89e2-11e8-82a6-38b427aa3744.png)

Rendering the whole model property tree takes half of the time; and converting the model tree to an immutable map takes the other half.

Profiling the folding action:

![image](https://user-images.githubusercontent.com/432106/42808189-461cb0ac-89e5-11e8-992

[2018-07-17 10:59] hkosova commented on #4736
The default format for array parameters is [`collectionFormat: csv`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#user-content-parameterCollectionFormat) so the request in Swagger UI is correct. The issue is with the code generators, it looks like they are using `collectionFormat: multi` as the default format. Please open a ticket in the Swagger Codegen repository https

[2018-07-17 11:00] plavski opened #4737 "Bad indentation of definition breaks Models component"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 67
 - Method of installation: npm
 - Swagger-UI version: 3.17.4
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

A definition with only one model, when incorrectly indented, will crash the Models c

[2018-07-17 11:17] hkosova commented on #4733
@Ostro if you open your Swagger UI in Chrome, then open the browser console and evaluate `versions` - which version does it show?

[2018-07-17 11:35] albertotn commented on #4736
Done, thanks @hkosova

[2018-07-17 12:57] SolidTerre opened #4738 "Enum value doesn't change if it's required"
### Content & configuration
 - OS: macOS
 - Browser: Chrome & Firefox
 - Version: Latest in date
 - Method of installation: dist assets (bug can be reproduced on editor.swagger.io)
 - Swagger version: Swagger 2.0

Trying to implement a get path with parameters in path, with an enum string parameter.

### Describe the bug you're encountering
Enum value doesn't change in request if it's required. Wh

[2018-07-17 13:08] bestmike007 commented on #4738
Duplicate of #4693. Fixed since v3.17.4. The online swagger editor is still using Swagger UI v3.17.3.

[2018-07-17 13:31] SolidTerre commented on #4738
@bestmike007 thank you for answering and sorry for opening a duplicate then.

[2018-07-17 13:31] #4738 closed

[2018-07-17 13:37] bestmike007 commented on #4737
Converted to json reveals the answer: https://www.json2yaml.com/

![image](https://user-images.githubusercontent.com/432106/42820593-16bea062-8a09-11e8-9e1a-f3eb42d8778c.png)

Either `null` or `"object"` is a valid Schema Object: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject

[2018-07-17 14:16] heldersepu commented on #4411
@bestmike007 thanks for the detailed report...
where is the `1.json` that you used?

[2018-07-17 14:34] hkosova commented on #4737
@bestmike007 did you mean "... is NOT a valid Schema Object"?

[2018-07-17 14:36] bestmike007 commented on #4737
@hkosova sorry for the typo.

[2018-07-17 14:39] bestmike007 commented on #4411
It is the original demonstration API definition provided by @igrishaev

[2018-07-17 14:45] heldersepu commented on #4411
@bestmike007 Ohh that one is huge...
Can you craft a small one from the original that reproduces the circular structure?
I thought that all circular refs issues had been resolved

[2018-07-17 14:53] bestmike007 commented on #4411
Yes. @heldersepu

[code]

[2018-07-17 14:57] heldersepu commented on #4411
@bestmike007
Is that a circular structure?

I think that here:
`"$ref": "Element.schema.json#/definitions/Element"
you are referring an external file

[2018-07-17 15:08] bestmike007 commented on #4411
Sorry for that. It seems that it has to be referring an external file to reproduce the bug:

3.json

[code]

4.json

[code]

You might need to kill the tab using the task manager: http://127.0.0.1:5000/swagger/?url=/3.json#/default/get_foo

[2018-07-17 15:39] heldersepu commented on #4411
@bestmike007
That worked fine for me: http://petstore.swagger.io/?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4411/3.json

[2018-07-17 15:42] bestmike007 commented on #4411
Try to expand something. I'm using the latest chrome.

[2018-07-17 15:53] heldersepu commented on #4411
I see it:
http://petstore.swagger.io/?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4411/3.json#/default/get_foo

Strange that it does not happen if all the definitions are in one file:
http://petstore.swagger.io/?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4411/7.json#/default/get_foo

[2018-07-17 15:56] heldersepu commented on #4411
So that does not have anything to do with my issue in the comment: https://github.com/swagger-api/swagger-ui/issues/4411#issuecomment-380168870

And the schema reproducing the issue is not large or complicated...
I think we should we open a new issue that clearly reflects the problem

[2018-07-17 16:02] heldersepu opened #4739 "Maximum call stack size exceeded with multi file circular refs"
### Describe the bug you're encountering
Who needs description when you got screenshots...

### To reproduce...
http://petstore.swagger.io/?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4411/3.json#/default/get_foo

### Expected behavior
No red messages please

### Screenshots

<img width="655" alt="screen shot 2018-07-17 at 11 59 46 am" src="https://user-images.githubuserconten

[2018-07-17 16:04] heldersepu commented on #4739
This was initially reported @  #4411

[2018-07-17 16:08] heldersepu commented on #4739
The same works fine if the definitions are all in one file:
http://petstore.swagger.io/?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4411/7.json#/default/get_foo

[2018-07-17 17:18] webron commented on #4439
@williamhavercamp do you have the option to run it again on the latest version?

[2018-07-17 17:23] #4449 closed

[2018-07-17 18:13] webron commented on #4483
Closing in favor of #2771.

[2018-07-17 18:13] #4483 closed

[2018-07-17 18:15] webron commented on #4494
@luka-magnotta sorry, fell under my radar. I think in some cases it makes sense and in some it doesn't. I think it's worth exploring.

[2018-07-17 21:52] rthille commented on #3726
The issue seems back on 3.17.3 (editor.swagger.io as of 2018-07-17)
[code]
Shows the issue.

[2018-07-17 21:58] rthille commented on #3726
Ah, it's this issue: https://github.com/swagger-api/swagger-ui/issues/4693 already fixed.

[2018-07-17 22:06] shockey opened #4740 "Authorize form does not replace URL variables"
_From @chrif on July 16, 2018 19:49_

### Q&A (please complete the following information)
 - OS: macOS
 - Browser: Chrome
 - Version: 67
 - Method of installation: docker hub
 - Swagger-Editor version: 3.6.3
 - Swagger/OpenAPI version: 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]
### Describe the bug you're encountering
Authorize form does not replace URL variable

[2018-07-18 01:01] Crackz opened #4741 "Submit An Array of Integer Elements In formdata"
Swagger sends the field location (array) as a single value

![formdataArray](https://image.ibb.co/dr5cTd/Capture.png)

[code]

i expected that the field(location) will be repeated for each element in the array

how would i make it work this way ?

[2018-07-18 07:58] hkosova commented on #4741
@Crackz So you want a multipart request with duplicate field names?

[code]

OpenAPI Specification says this will be the case when [uploading an array of files](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#considerations-for-file-uploads):

[code]

but I'm not sure if this is supported for arrays of primitives. @webron do you happen to know this? Exploded arrays `loca

[2018-07-18 08:22] Crackz commented on #4741
[Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#special-considerations-for-multipart-content)

but i can't find a way to change this behaviori tried style and explode but failed to make it work.

[2018-07-18 10:33] coldridj commented on #4734
I am also experiencing this problem with an endpoint using OAuth2 and JWT.

I have put a workaround in place using a plugin action and request interceptor , but I am not a react developer and it seems like it could likely be improved

[code]
    configObject.requestInterceptor` = function(e) {
        var token = configObject.system.auth().getIn(["authorized", "oauth2", "token", "access_token"]);

[2018-07-18 12:43] ChrisBarriere commented on #4720
just a type in the mangle configuration of webpack uglify plugin. it's ```reserved``` and not ```except```:
[code]

[2018-07-18 14:22] pruthvigh commented on #4710
@bestmike007 Everything you said is the case with me. I will wait until our portal is deployed over https. Thanks.

[2018-07-18 14:58] kavin26 commented on #3682
i'm getting the same message `😱 Could not render this component, see the console.` when queried given input text from `https://www.dbpedia-spotlight.org/api` how to go to console to view the stack trace?

[2018-07-18 22:34] shockey commented on #4736
Closing!

[2018-07-18 22:34] #4736 closed

[2018-07-18 23:57] Devin-Grant opened #4742 "Hide the explorer text field and button"
Is there a way to hide the explorer text field and button via an environment variable or in general?

[2018-07-19 00:31] #4720 closed

[2018-07-19 00:31] shockey commented on #4720
This will be resolved (no pun intended) on Thursday, when we cut a new release 😄

[2018-07-19 01:35] shockey commented on #4653
Changes this over to a bug 😄

Looks like we've opted into this behavior:

https://github.com/swagger-api/swagger-ui/blob/b9b4ab20af9d369e02baec3585412fd11ce4bf27/src/core/components/providers/markdown.jsx#L21

Per Remarkable's docs:

It's not immediately clear why this was done, but disabling this does get rid of the breaks seen in the test definition provided by @adborden.

[2018-07-19 08:12] danielFesenmeyer opened #4743 "Operation deep link is incorrect (not bookmarkable)"
I found the following inconsistency regarding deep links.

### Q&A (please complete the following information)
 - OS: on request
 - Browser: Chrome, Firefox
 - Version: on request
 - Swagger-UI version: https://petstore.swagger.io
 - Swagger/OpenAPI version: https://petstore.swagger.io

### Content & configuration
https://petstore.swagger.io

### Describe the bug you're encountering
The operation

[2018-07-19 09:40] kkgr opened #4744 "Question: How to make Swagger-UI with SpringBoot to display custom yaml instead of auto generated?"
Hi,

I'm using swagger2 and swagger-ui 2.7.0 with Java and SpringBoot. Here is my Swagger config:

[code]

I would like to use my own defined yaml (or json), so I can have there examples, own descriptions etc.

Here are nicely described options to define (https://swagger.io/docs/specification/2-0/basic-structure/) but my question is, how can I point Swagger to use my own yaml file.

[2018-07-19 10:12] Hronom commented on #1934
Same here, very useful to implement reset logic for values, otherwise it can be implemented.

Is there any progress on this?

[2018-07-19 10:17] Hronom commented on #1934
Same here, very useful to implement reset logic for values, otherwise it can be implemented.

For case:
[code]
need to draw checkbox. If you check it - the swagger ui will send `?param1` or `?param1=`, otherwise there no be parameter in request.

Is there any progress on this?

[2018-07-19 10:18] Hronom commented on #1934
Same here, very useful to implement reset logic for values, otherwise it can't be implemented.

For case:
[code]
need to draw checkbox. If you check it - the swagger ui will send `?param1` or `?param1=`, otherwise there no be parameter in request.

Is there any progress on this?

[2018-07-19 10:53] bestmike007 commented on #4744
Put your self-defined yaml in `src/main/resources/public/<doc-path>.yaml` instead of `@EnableSwagger2` annotation.

However, it's not recommended to do so. You'd better have the single source of truth; either use the code to generate the docs or use the docs to generate the code.

Spring boot swagger integration works great; you can use annotations (ApiParam, ApiModelProperty) to define what ever

[2018-07-19 13:08] kokoc opened #4745 "Impossible to submit required params in react app which is using SwaggerUi component"
### Prerequisites
 - OS: macOS
 - Browser: chrome
 - Version: 67
 - Method of installation: npm
 - Swagger-UI version: 3.17.3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
**Swagger UI is used inside react component. React version is `^16.3.2`**

Example Swagger/OpenAPI definition: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore.yaml

[2018-07-19 15:15] jchilela commented on #3007
Same error. Angular Swegger UI.

[2018-07-19 16:13] pruthvigh commented on #4710
@bestmike007 I was able to add SSL from AWS Certificate Manager and serve the website via CloudFront. All the requests are now made over https. Thanks again.

[2018-07-19 18:13] ljb opened #4748 "Empty model in Internet Explorer 11"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Internet Explorer 11
 - Version: 11.165.17134.0
 - Method of installation: N/A
 - Swagger-UI version: That which is used for the pet store demo site
 - Swagger/OpenAPI version: That which is used for the pet store demo site

### Describe the bug you're encountering
Some of the Example Value" and "Model" boxes are emp

[2018-07-19 20:38] shockey opened #4749 "Header Not Removed After Deletion"
_From @5aledBos on July 19, 2018 18:25_

Hi,

I encountered a bug while handling headers.

Here an example of a GET method on the endpoint `/path/`:

[code]
When i try a GET without the header `header_field` for the first time the request is passed with the right parameters
the curl request is the following:
[code]
Now I try a second time with a value of `header_field`
[code]
Now the problem is wh

[2018-07-19 21:55] paventuri commented on #2651
I noticed that examples do not show when building with webpack in production mode. However, it does work in development mode. The obviously downside is a 4mb bundle file.

[2018-07-20 10:04] Raptor399 commented on #4712
I don't think anything is wrong in your yaml file.

I see the same effect when using VS Code with the arjun-g/vs-swagger-viewer extension. Initially requestBody renders, but when the source is edited and the contents are being re-rendered, requestBody no longer appears. Observe with a browser pointed at http://localhost:9000/index.html while Preview swagger is open and you can reload the page to h

[2018-07-20 10:08] domenkozar opened #4751 "Detecting default server url"
### Is your feature request related to a problem?

We have different server urls: localhost, review apps, staging and production. Everytime one uses
swagger ui, they have to pick correct server first. Currently default server url is the first configured, this can be confusing since swagger is sending request somewhere else, getting one to think something is wrong with the current url.

### Describ

[2018-07-20 10:16] bestmike007 commented on #4751
What about maintaining a list of links to different environments, e.g.

- Production: http://petstore.swagger.io/?url=http://www.example.com/swagger-api-docs.yaml
- Staging: http://petstore.swagger.io/?url=http://staging.example.com/swagger-api-docs.yaml
- Dev: http://petstore.swagger.io/?url=http://dev.example.com/swagger-api-docs.yaml

[2018-07-20 10:35] bestmike007 commented on #4751
Are you using a shared instance like http://swagger-ui.your-project.com? If you do so, you can customize it.

If I'm getting this right, you can write your own logic to place these lines: https://github.com/swagger-api/swagger-ui/blob/v3.17.4/dist/index.html#L42-L54.

[2018-07-20 10:44] domenkozar commented on #4751
I'm not following what configuration exactly should change this. I have:

[code]

[2018-07-20 11:37] GergelyNovak opened #4752 "Optional fields without example and default value should not appear in the example"
... or at least this should be an option.

 ### Content & configuration
The PetStore has dozens of examples, e.g.:
[code]

From this the example in the UI is the following:
[code]

### Describe the solution you'd like
I would like to have an option not to display an optional field in the example, if it doesn't have an example and/or a default value, so the above example (since both the "id" and th

[2018-07-20 15:11] bestmike007 commented on #4751
So you have multiple servers for several environment in the same api document?

In such case, yes, the first server will be selected by default: https://github.com/swagger-api/swagger-ui/blob/v3.17.4/src/core/plugins/oas3/components/servers.jsx#L25

You could write a wrapComponent plugin to override this behavior. Refs:

- https://github.com/swagger-api/swagger-ui/blob/v3.17.4/docs/customization/p

[2018-07-21 01:30] srpalomino opened #4753 "createRef is not a function"
I want to create a ref, but `React` doesn't have `createRef`.

I didn't find React documentation saying this should be the case, so does anyone know why this is happening??

Thanks!

[2018-07-21 01:53] asghar3166 commented on #2972
Hi Everyone,

I am also seeing **_(No operations defined in spec!)_** . The Flasgger json details and screen shot below. I am programming using Python 3.6. Thanks for you help.

{
  "definitions": {},
  "info": {
    "description": "powered by Flasgger",
    "termsOfService": "/tos",
    "title": "A swagger API",
    "version": "0.0.1"
  },
  "paths": {},
  "swagger": "2.0"
}
![image](https://user

[2018-07-21 19:27] AmazingTurtle opened #4754 "Empty array emits query param without value."
According to this:
![image](https://user-images.githubusercontent.com/2357438/43039401-a4a53578-8d2c-11e8-9338-624528f91c5c.png)

I do expect to not sent tags at all in the query params:
![image](https://user-images.githubusercontent.com/2357438/43039403-b0965b82-8d2c-11e8-88d1-2b2be8a9b35d.png)

Usually this is interpreted as an array in backends: `[""]`
Therefore we're having 1 item even though

[2018-07-21 22:52] EIDIVANDI commented on #1313
Hi There ,

   i m getting an error and in Chrome console i got the CORS , as api is on Https , and swagger can not charge, i did all needed for CORS and ......... but nothing works

can anyone give me a ack ?

[2018-07-22 01:32] shockey commented on #4753
`React.createRef()` was introduced in `react@16.3` - we're on `react@15` 😄

[2018-07-22 01:36] RahmanM commented on #1971
+1
still same issue??

[2018-07-22 22:50] srpalomino commented on #4753
Thanks!

[2018-07-22 22:50] #4753 closed

[2018-07-23 12:42] alexdawes commented on #4324
+1 - we use this "feature" exactly as @maxnorth does and as such this is blocking us from being able to upgrade to v3.

This is actually a really nice feature to have - an unauthenticated user arrives at the page and sees only the public endpoints, but then if they authenticate themselves with the page then all of the endpoints they have access to appear. This way you can use a single swagger page

[2018-07-23 14:32] dantaub opened #4755 "Client-side validation fails for a defined model that is required, even when the auto-populated data is correct"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: current master
 - Method of installation: zip file, copy paste 'dist' into node_modeule I'm using
 - Swagger-UI version: 3.17.4+ / master
 - Swagger/OpenAPI version:Swagger 2.0

### Content & configuration

Using this definition:
[code]

### Describe the bug you're encountering

### To reproduce...

1.

[2018-07-23 15:14] hkosova commented on #4755
There are syntax errors in your spec, as you can see if you paste your spec into http://editor.swagger.io.

1) Remove `type: ReqNameJSON` from the body parameter. Body parameters use `schema`, they do not use `type` directly.

2) Remove extra space at the end of the `'200 '` and `'default '`:
[code]

After these fixes "try it out" works OK.

[2018-07-23 15:38] dantaub commented on #4755
@hkosova  thank you for looking into it and showing me the validation tool. I will continue this discussion with the project maintainer for the library I'm using to generate the swagger.

[2018-07-23 15:38] #4755 closed

[2018-07-24 02:12] SongJoey opened #4756 "try-it-out failed to submit a request when there's an enum field in formData."
### Q&A (please complete the following information)
 - OS: [e.g. macOS] MacOS
 - Browser: [e.g. chrome, safari] chrome
 - Version: [e.g. 22] 67
 - Method of installation: [e.g. npm, dist assets] docker
 - Swagger-UI version: [e.g. 3.10.0] {"swaggerUi":{"version":"3.17.4","gitRevision":"ga994f2cf","gitDirty":false,"buildTimestamp":"Sat, 14 Jul 2018 07:12:57 GMT","machine":"banjo"}}
 - Swagger/OpenA

[2018-07-24 07:34] mdegel opened #4757 "Swagger UI not rendering errors"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 67.0
 - Method of installation: dist assets
 - Swagger-UI version: 3.17.x (potentially lower versions are affected as well)
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
API being split over several files
api.yaml
[code]

testA.yaml
[code]

testB.yaml
[code]

### Describe the bu

[2018-07-24 13:10] hkosova commented on #4756
Confirmed the issue in 3.17.5. The issue not limied to form data and enums, it affects any parameters that have a pre-populated default or example value, e.g.:

[code]

[2018-07-24 13:59] tuxedo0801 commented on #4600
I'm having the same issue here ...
Any updat on this?

[2018-07-24 20:19] adailey14 commented on #4745
I am facing the same issue. Also using swagger-ui imported into my own react project.

[2018-07-25 00:53] shockey commented on #4663
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-07-25 00:53] #4663 closed

[2018-07-25 01:07] shockey commented on #4710
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-07-25 01:07] #4710 closed

[2018-07-25 01:10] shockey commented on #4515
Hey @woozie164, sorry for the delay - to answer your question, there's no way to pass a `swagger-config.yaml` to our Docker image - the YAML file config is baked in at build time, which happens when we create our image, not when you run it.

You _could_ host a YAML document elsewhere and point your Swagger UI to a [`configUrl`](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/confi

[2018-07-25 01:12] shockey commented on #4471
Closing as this is not a Swagger UI issue - please ask your syntax questions in the [Google Group](https://swagger.io/forum/), [IRC](https://swagger.io/irc/) or on Stack Overflow.

[2018-07-25 01:12] #4471 closed

[2018-07-25 01:13] shockey commented on #4748
Confirmed.

[2018-07-25 01:18] shockey commented on #4745
Hey @kokoc, this is because you're using React 16 in your project - we currently don't support that. You might be able to get away with isolating Swagger UI: consider using an iframe or Shadow DOM for the time being.

Take a look at the other tickets in [`epic: usage in react@16`](
https://github.com/swagger-api/swagger-ui/labels/epic%3A%20usage%20in%20react%4016) for more context, and possible so

[2018-07-25 02:23] fallingyang opened #4759 "Try-it-out url rewrite for cookies domain."
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 22
 - Method of installation: npm
 - Swagger-UI version: 3.17.5
 - Swagger/OpenAPI version:Swagger 2.0

### Content & configuration
I use swaggerUI with webpack, for auth, I login in my project, and there should take cookies for every request.
But when I `try it out`, the request doesn't take cookies.
A

[2018-07-25 02:36] fallingyang commented on #4759
I have knew the reason, there is a front-end proxy, so cookies' domain is localhost:8010, and `try it out`'s domain is localhost:8080.
It's my mistake.
And is there some suggest how I can make `try it out` go front-end proxy, because our front-end and back-end is separated.

[2018-07-25 03:21] dgwaldo commented on #4533
@jochenjonc Did you ever find a way around this?

Looking at the code it looks like the there isn't a simple way to do this without a modification to this class...
https://github.com/swagger-api/swagger-ui/blob/master/src/core/oauth2-authorize.js

I'm utilizing Swashbuckle with .Net Core and I can get my data onto the authConfigs object, but it does no good because oauth2-authorize.js doesn't pass

[2018-07-25 09:38] jochenjonc commented on #4533
@dgwaldo I never got around this and I just use a Bearer Token I generate via the Auth0 website.

[2018-07-25 11:36] Firestorm87 opened #4761 "Support for Server-Sent-Events"
If the Backend provides an API with Content-Type "application/stream+json" or "text/event-stream" swagger-ui should use an EventSource instead of sending ajax http-requests.

code:
      var evtSource = new EventSource('http:server.domain.com/context_path)');
      evtSource.onerror = function(e) {
        console.log(e.data);
      }
      evtSource.onmessage = function(event) {
        console.l

[2018-07-25 12:36] nundee commented on #4703
Hi @shockey
Thank you for your reply. The problem is already solved. I had to put the script (returned by the server) into a "ContextualFragment". This will force the script to execute immediately.
Not a "Swagger UI" problem :)

[2018-07-25 15:48] cancan101 commented on #3042
Might be cool to have this plumbed through as a query param in the UI that overrides the host.

[2018-07-25 19:42] gschrader commented on #2651
Just to add some more colour to the issue, [the online editor](https://editor.swagger.io/) seems to show the examples just fine, not sure what makes it different than swagger-ui, it presumably uses the same component.

[2018-07-25 20:17] bennyr103 opened #4762 "Differentiating between multiple authentication types in the requestInterceptor"
I'm stuck with three different authentication types in our API. I've got a JWT, I've got a BASIC that's not really basic because it doesn't use a user name and password, it takes a single key and enodes it to base64 and pre-pends the request with Basic, and I've got a regular API KEY that has to have "Auth_Key" in the header rather than "Authorization"

I was hoping I could just have the user pop

[2018-07-26 02:07] startewho opened #4763 "seems use the wrong request content-type “appliaction/json“ when i post the form data"
Q&A (please complete the following information)

- OS: [Win10]
- Browser: [chrome]
- Version: [57]
- Method of installation: [dist assets]
- Swagger-UI version: [e.g. 3.17.5]
- Swagger/OpenAPI version: [Swagger 2.0]

Content & configuration

Hereis my swagger.json

     "/api/Auth/LoginByToken": {
          "post": {
            "tags": [
              "Auth"
            ],
            "summary":

[2018-07-26 05:57] abhi4151 opened #4764 "Multiple Example Model View in Swagger UI in Java"
I have a requirement to filter Example View Models based on session. Can I have multiple request models for the same REST request method.

Below code displays the example view model fine. But my requirement is to show two example models, one having a few parameters out of all defined below, and other model to have other parameters out of all.

and if I could show a drop down in Swagger UI to choos

[2018-07-26 06:59] hkosova commented on #4763
This happens because your definition specifies
[code]
Change that to:
[code]

[2018-07-26 07:06] shockey commented on #4748
Fixed via https://github.com/swagger-api/swagger-js/pull/1358 🎉

[2018-07-26 09:35] startewho commented on #4763
@hkosova Thanks for your reply.i changed the `consum` to form,it really works ,but most of my requst is json format,so i change the `conusm` to

[code]
it use the json again.
i tried the older version v1. it works as my expect.will there a judgement when i use the form data,or there are  some misunderstandings in my `swagger.json` file

[2018-07-26 10:43] hkosova commented on #4763
Then leave the global `consumes` set to `application/json` but override `consumes` for that specific operation:
[code]

[2018-07-26 11:30] hkosova opened #4765 "Do not resolve $ref in OAS 2.0 response examples"
### Q&A (please complete the following information)
 - OS: Windows 7
 - Browser: Chrome latest
 - Method of installation: http://editor.swagger.io
 - Swagger-UI version: 3.17.5
 - Swagger/OpenAPI version: 2.0

This issue was originally reported on Stack Overflow: https://stackoverflow.com/questions/51095684/ref-in-response-example

A similar issue for OAS 3.0 was reported in #4564 and fixed in htt

[2018-07-26 12:51] #4763 closed

[2018-07-26 17:53] jukeblimp32 commented on #2651
I am not seeing examples in the online editor. At least not in responses, when I reference a schema and then define the examples.

[2018-07-26 19:16] PachowStudios commented on #4248
I'm pretty sure this change is what broke our swagger in newer versions. We have a very large definition and rely on splitting up the paths into multiple files.

This used to work in v3.9:
[code]

Now in the newer versions, swagger just says there's no operations defined.

[2018-07-26 19:58] PachowStudios commented on #4248
@heldersepu We can't be stuck on 3.9 forever. That isn't really a long term solution.

I've attached a minimal reproduction. If you downgrade to 3.9.2, it works fine.
[swagger-bug.zip](https://github.com/swagger-api/swagger-ui/files/2233400/swagger-bug.zip)

[2018-07-26 20:48] heldersepu commented on #4248
@PachowStudios For sure someone will look into your issue!

I was able to reproduce it:
Old version is OK:
http://offleaseonly.azurewebsites.net/swagger/ui/index?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4248/index.yaml

Latest shows No operations defined in spec!
http://petstore.swagger.io/?url=https://raw.githack.com/heldersepu/hs-scripts/master/swagger/4248/index.yaml

Yo

[2018-07-26 21:43] PachowStudios opened #4766 "Referenced files aren't loaded"
- OS: [Windows 7]
 - Browser: [chrome]
 - Version: [68]
 - Method of installation: [dist]
 - Swagger-UI version: [3.17.5]
 - Swagger/OpenAPI version: [OpenAPI 3.0]

We have a very large definition and rely on splitting up the paths into multiple files.

This used to work in 3.9.2:
[code]

Now in the newer versions, swagger just says there's no operations defined.

Attached is a minimal reproductio

[2018-07-27 00:47] #4681 closed

[2018-07-27 02:50] shockey commented on #4766
Hi @PachowStudios! I appreciate the attached reproduction, they are always helpful 😄

`allOf` at the `paths` (Paths Object) level is not valid Swagger/OpenAPI - `allOf` is a composite keyword used only in Schema and Discriminator Objects. `$ref`s are also not allowed in the Paths Object - they're only allowed within Path Item Objects, like so:

[code]

The fact that this worked previously in Swagg

[2018-07-27 02:56] shockey commented on #4703
Awesome! Closing 😄

[2018-07-27 02:56] #4703 closed

[2018-07-27 08:17] #4756 closed

[2018-07-27 09:13] ctenter-scs opened #4768 "Requests do not use correct enum query parameter"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Firefox
 - Version: 61
 - Method of installation: dist assets
 - Swagger-UI version: 3.17.5
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

If there is an enum query parameter, the user can select the paramet

[2018-07-27 14:14] chastevens commented on #4526
Seems to be an issue with scaling in the browser.  If I zoom in past a certain point then data will start spilling out of the frame.  Just checked on the current swagger editor and it still seems to be happening.

[2018-07-27 16:42] PachowStudios commented on #4766
@shockey That said then, could this be something that could be added as a feature? Otherwise, you have to redefine all the paths in the index file which is much more verbose. Maybe it's possible to add via a plugin?

[2018-07-27 18:45] Scuilion opened #4769 "Allow Manual URL Spec Even When Multiple URLs Already Declared"
### Content & configuration
 Swagger-UI configuration options:
[code]

### Is your feature request related to a problem?
Feature Request
I'm specifying multiple url in my configuration. I want to be able to manually browse other swagger.json files that I don't know about ahead of time.

The code will do either url drop down or explore input:
https://github.com/swagger-api/swagger-ui/blob/bf5acc1f4

[2018-07-27 23:01] pli41 commented on #2771
I just implemented JSON editor with package "react-jsonschema-form" in my fork(https://github.com/pli41/swagger-ui.git). Hopefully this can be helpful for people who need this feature! You can find more info in my commit's comments.

BTW I do not have prior experience with front end development. Please do correct me if I have done something terrible lol.

[2018-07-28 02:37] shockey commented on #4768
Hi @ctenter-scs, I'm not able to reproduce this in 3.17.5:

![](http://g.recordit.co/9Ji4SF7Z1r.gif)

Are you certain that you're running the latest version?

[2018-07-28 03:18] shockey commented on #4748
Fix confirmed in a `swagger-ui@3.17.6` release candidate build. Closing! 🎉

[2018-07-28 03:18] #4748 closed

[2018-07-28 03:19] shockey commented on #4748
Thanks for reporting this, @ljb!

[2018-07-28 07:33] DenisGorbachev commented on #3518
@webron could you please point to commit where the default values are displayed in Swagger UI for 2.0 version of specification? As far as I see in my Swagger UI, it's not resolved yet.

[2018-07-29 18:32] sir-gon commented on #3229
Is ther a way to pass this settings with a environment variable. I want to disable the explorer bar in a docker based installation (docker-compose).

[2018-07-30 01:32] bennyr103 commented on #4762
I'm using Swagger-Net to get Swagger UI 3.0 injected.

I copied the index.html that Swagger-Net is using and popped in this method

`        function AuthWrapperPlugin() {
            return {
                statePlugins: {
                    auth: {
                        wrapActions: {
                            authorize: (oriAction) => (str) => {
                                if (str.MyT

[2018-07-30 07:11] ctenter-scs commented on #4768
Hi shockey, thanks. I've updated to latest version (3.17.6) and the issue has been fixed.

[2018-07-30 07:11] #4768 closed

[2018-07-31 03:40] ilnurshax opened #4771 "Add a button to select (and/or copy) all content of response"
Hi! Swagger it is very cool and good solution for design and to work with API. And I'll be very happy if the one feature can be released.

### Is your feature request related to a problem?
I'm always frustrated when I debug the Laravel applications and the calling of debug returns the big pack of text. So it's very complicated to select the all response text and copy it to paste into another edito

[2018-07-31 12:55] Mortega5 opened #4772 "Swagger ui bundle can't be used twice with the same result"
### Q&A
 - OS: linux
 - Browser: chrome
 - Version: 67.0.3396.99
 - Method of installation: npm
 - Swagger-UI version: swagger-ui-dist 3.17.6
 - Swagger/OpenAPI version: OpenApi 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
* Yaml file is available [here](https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore-expanded.yaml)

Swagger-UI con

[2018-07-31 16:21] russbot opened #4773 "Empty Models"
Running into an issue where in certain instances models appear empty.
I'm not sure what the specific circumstances are, but I'm working on a custom view for models and this is where I had some issues. See:

https://github.com/swagger-api/swagger-ui/blob/5431eed1cd2ec22101ade85d6d6163ea320dbe76/src/core/components/models.jsx#L58

https://github.com/swagger-api/swagger-ui/blob/5431eed1cd2ec22101ade8

[2018-07-31 20:11] shockey commented on #4773
@russbot, I see what you're saying here - can you provide a definition I can use to test this?

[2018-07-31 20:16] shockey commented on #4771
I think a click-to-select-all functionality (like the one you can observe in the cURL display) would be great here.

[2018-07-31 20:41] shockey commented on #4759
This would be up to your implementation - Swagger UI will send requests wherever your OpenAPI document tells it to 😄

[2018-07-31 20:54] shockey commented on #4757
Thanks for the report, @mdegel!

This is probably a race condition from the errors being wiped after each response comes back 🤔

[2018-07-31 20:56] shockey commented on #4754
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template: specifically, your report lacks a Swagger definition that we can use to reproduce the issue, and information on the OS/browser/UI version you're seeing this in.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so

[2018-07-31 20:56] #4754 closed

[2018-07-31 20:59] shockey commented on #4752
Thanks for the writeup, @GergelyNovak!

@webron - would appreciate your take on this request 👍

[2018-07-31 21:10] shockey commented on #4744
Closing due to inactivity (thanks for fielding this, @bestmike007!).

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-07-31 21:10] #4744 closed

[2018-07-31 21:14] shockey commented on #4523
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-07-31 21:14] #4523 closed

[2018-07-31 21:25] shockey commented on #4762
Hi @bennyr103!

The plugin you have is a great way to do it, but consider renaming `str` to `obj`, since you're actually dealing with an object there - that might be confusing to someone in the future 😄

`return oriAction(str)` kicks off the built-in behavior with the data you modified in the plugin code, so you shouldn't have to reimplement anything!

[2018-07-31 21:39] shockey commented on #4766
Unfortunately, we can't add things to Swagger UI's core that go against the OpenAPI Specification - going down that road would make the tool confusing to new folks, and hamper interoperability between tools. For example, I expect that your definition won't work well if you feed it to Swagger Codegen 😄

I'm glad you asked! Here's a plugin that will automatically resolve _everything_ below `paths` f

[2018-07-31 21:41] shockey commented on #4533
Closing - sounds like this is resolved.

I don't know much about Auth0 in particular, but if anyone has observations on how we can support it better in Swagger UI, feel free to open a feature request 😄

[2018-07-31 21:41] #4533 closed

[2018-07-31 22:35] webron commented on #4752
@GergelyNovak do you use swagger-ui as a way to automate your integration tests?

Swagger-ui is intended first and foremost as a documentation tool, and being an interactive one, there's also the sandbox option. Since some users prefer looking at example option rather than the model one, as documentation goes, it's important to show a full example and not a partial one.

OAS3 provides support for

[2018-07-31 23:38] shockey commented on #3518
@DenisGorbachev, I believe this commit added the default value display: https://github.com/swagger-api/swagger-ui/commit/a47da98b54d122979bb8754e3050a4df0cc50d48

[2018-07-31 23:44] regan-karlewicz commented on #4773
Hitting this same issue. Can't figure out how to reproduce.

Models are appearing just fine for me locally, but once it's in my staging environment they appear empty. I'll post updates if I find anything.

[2018-08-01 01:08] shockey commented on #4742
@Devin-Grant, you can do this by removing `StandalonePreset` from your configuration and removing the `layout` option:

https://github.com/swagger-api/swagger-ui/blob/5431eed1cd2ec22101ade85d6d6163ea320dbe76/dist/index.html#L42-L54

[2018-08-01 09:53] smitendu opened #4774 "Documentation on @ExternalDocumentation"
Hi,

I have been referring to the online documentation for Swagger UI for ExternalDocumentation annotation. The example that is provided for this annotation is faulty and is copy pasted from example for Hidden annotation. Please check the example provided at : https://github.com/swagger-api/swagger-core/wiki/Swagger-2.X---Annotations#externaldocumentation

Please fix the documentation with relevan

[2018-08-01 13:38] bennyr103 commented on #4762
Thanks, @shockey! I stopped being lazy and tested it out to make sure before I committed my changes.

[2018-08-01 13:38] #4762 closed

[2018-08-01 14:14] penja commented on #3803
+1

[2018-08-01 23:12] shockey opened #4775 "Invalid ref key in array example"
_From @AlphaWong on August 1, 2018 3:07_

[code]
Expected result
[code]

# Actual result
[code]

# Issue
` "$$ref": "#/components/examples/stop1"` should not be display when I am using ref for the examples

# Reference
http://www.mergely.com/e1I3GPUI/

# Preview
https://editor.swagger.io/

![image](https://user-images.githubusercontent.com/5622516/43498893-82257998-957b-11e8-90a6-7c2ac0fc03ea.png)

[2018-08-01 23:14] shockey commented on #4774
@smitendu, it sounds like you're describing a swagger-core issue - how does this relate to Swagger UI?

[2018-08-02 00:40] shockey commented on #4773
@russbot:

1) what's different between your local and staging environment?
2) are there any messages or errors in your browser console in staging?
3) just to be sure - you're loading _exactly_ the same document in both places? if so, is the document being loaded from the same URL, or is it an equivalent document hosted in a different place?

[2018-08-02 00:41] shockey commented on #4773
one more thing - @russbot @regan-karlewicz are either of you running Swagger UI through additional minification? we had an issue with that recently 🤔

[2018-08-02 02:55] rampagelolita opened #4776 "Add internationalization support"
Swagger-UI should add language packs when the new version is released, such as simplified Chinese, hahahaha......

[2018-08-02 07:17] zer0890 commented on #2129
anyone got a solution about this possibility ?

[2018-08-02 08:09] papayasoft opened #4777 "Security settings applied to curl but not to ajax calls"
### Q&A
 - OS: macOS
 - Browser: chrome
 - Version: [e.g. 22]
 - Swagger-UI version: [e.g. 3.17.6]
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Using the Petstore UI (http://petstore.swagger.io/) and feeding it my own Swagger resource file via querystring `?url=https://example.com/path/to/my/swagger.json`. In the Swagger resource file, I have the following security setting

[2018-08-02 08:19] hkosova commented on #4775
`example` is an inline example and does not support `$ref`. The actual issue is that `$ref` inside `example` should be rendered as is and not resolved.

[2018-08-02 08:55] Falx opened #4778 "requestInterceptor that returns promise breaks curlify output"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 67.0.3396.99
 - Method of installation: dist assets
 - Swagger-UI version: 3.17.6
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
When using a `reques

[2018-08-02 09:47] kokoc commented on #4745
Thanks for clarifications. You right, iframes fix the issue.

Here is a snippet that might be useful for other people:

[code]

[2018-08-02 10:27] xeroc commented on #3803
+1

[2018-08-02 11:02] maciejgroenke opened #4779 "Incorrect validation for int64"
Hi
I use swagger-ui with swagger-ui-standalone-preset
My swagger.json file describes parameter as "type":"integer","format":"int64".
However, any value provided to that field is shown as invalid, whether it's int, string, empty field...
I don't get any errors in console, only warning  "Could not find component JsonSchema_integer_int64"

[2018-08-02 12:49] javabrett commented on #551
This happened to me when trying to use Tampermonkey with Swagger UI, with a script which did `// @require http://code.jquery.com/jquery...`, resulting in two copies of jQuery being loaded. Removing the `@require` fixes that.

[2018-08-02 15:07] AlphaWong commented on #4775
Which means imit should not present the example if it comes with `$ref` field ?

[2018-08-02 18:07] akshaysin opened #4780 "security vuneribilities found in swagger-ui-bundle.js and swagger-ui-standalone-preset.js"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: ALL
 - Version: NA
 - Method of installation: npm
 - Swagger-UI version: NA
 - Swagger/OpenAPI version: 2.0

### Content & configuration
So we run a veracode scan on all our code base before we push it out to environments.  Veracode static scan run against swagger-ui-bundle.js and swagger-ui-standalone-preset.js files is

[2018-08-02 18:28] shockey commented on #4779
Hi!

Unfortunately, your ticket is a bit thin on details as a result of it not following the provided issue template.

We'd be happy to take a look if you open a new issue, and follow the template. Feel free to tag me in the new ticket so I see it.

Thanks!

[2018-08-02 18:28] #4779 closed

[2018-08-02 18:50] shockey commented on #4773
@russbot can you make sure you're using `swagger-ui@3.17.6` and swagger-client@3.8.11`?

[2018-08-02 19:04] dgwaldo commented on #4533
I did a bit of a hacky work around. http://waldoscode.blogspot.com/

[2018-08-02 22:05] williamjmanning opened #4783 "Add username/passwoord to bearer/apiKey authorization"
Hey I wanted to see if there was a way I could change the apiKey security scheme to prompt the use for a username and login, which goes to an endpoint returning a son with the bearer/jwt token. Then in the background using the token to login. As of now I am just copy/pasting the token from the endpoint with the username/password as the request body

[2018-08-02 22:12] williamjmanning commented on #4642
is your endpoint actually returning a yaml response?

[2018-08-02 22:39] tim-lo commented on #4642
@williamjmanning No it returns json, but the request body is supposed to be in yaml.

[2018-08-03 02:51] shockey commented on #4773
@russbot no worries, it's always better to close a ticket than to have an issue go unreported 😄

I'll close this out for now, just ping me here if any issues persist (this goes for you as well @regan-karlewicz) and I'll reopen.

[2018-08-03 02:51] #4773 closed

[2018-08-03 03:01] shockey commented on #4777
Hey @papayasoft!

First things first: is your server _allowing_ Swagger UI to send an Authorization header?

You need to respond to `OPTIONS` method requests with an [`Access-Control-Allow-Headers: *`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers) header, otherwise your browser will only allow Swagger UI to send the simple headers (Accept, Accept-Language,

[2018-08-03 03:17] shockey opened #4784 "spec `updateJsonSpec` wrap action is noisy"
### Context

https://github.com/swagger-api/swagger-ui/blob/5431eed1cd2ec22101ade85d6d6163ea320dbe76/src/core/plugins/spec/wrap-actions.js#L8-L25

### Current behavior

Whenever a definition without `paths` (which, we should note, is always invalid) is loaded into Swagger UI, a TypeError is thrown from the Object.keys call on line 16:

[code]

Tests in Swagger Editor are noisy because of this, as

[2018-08-03 03:34] #4784 closed

[2018-08-03 06:49] vaylo commented on #1828
`@ApiParam` should need to support at class level as a common part of the URI(which could contain pathParam) to class level. It is nightmare to add the common pathParam to every method.

[2018-08-03 08:57] maciejgroenke opened #4786 "Incorrect validation for int64"
@shockey
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 67.0.3396.99
 - Method of installation: npm
 - Swagger-UI version: 3.17.0
 - Swagger/OpenAPI version: Swagger 2.0, OpenAPI 3.0

### Content & configuration
My package.json file
[code]

Example Swagger/OpenAPI definition:
https://petstore.swagger.io

Swagger-UI configuration options:
[code]

[2018-08-03 09:48] thePanz commented on #4228
Any updates here?

[2018-08-03 11:54] ofavre opened #4787 "Resolver error - Cannot read property '0' of undefined (it's is back)"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: Chrome
 - Version: 67.0.3396.99
 - Method of installation: https://editor.swagger.io
 - Swagger-UI version: Probably the latest, 3.17.6 as of this writing
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
No idea, I'm testing

[2018-08-03 19:37] shockey commented on #4787
This issue was moved to swagger-api/swagger-js#1362

[2018-08-03 19:37] #4787 closed

[2018-08-03 23:25] shockey commented on #4786
Thanks for refiling this, @maciejgroenke 😄

I see you're on 3.17.0. Can you try this with 3.17.6 (the latest) and let me know if it's still happening on your end?

[2018-08-04 08:26] #1934 closed

[2018-08-04 08:26] #4223 closed

[2018-08-04 08:26] #4587 closed

[2018-08-04 14:48] cedric-c84-eu commented on #4600
Works for me actually.

[2018-08-04 18:50] abungay opened #4791 "Content type application/octet-stream shouldn't show example for response"
### Q&A (please complete the following information)
 - OS: Fedora
 - Browser: Firefox
 - Version: 60.0.2
 - Method of installation: docker
 - Swagger-UI version: 3.17.4
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
An example value of "string" is showed for the application/octet-stream response type.

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're en

[2018-08-05 14:31] KrzysztofPerchlicki opened #4792 "Add possibility to enable 'execute' button after endpoint click."
Hello, I find something in my opinion that could be parameterized.

Every time when I want to make request through swagger-ui I need to make 3 action.
Click on element -> click on try it out -> click on execute.

I want to have easy possibility to short that action path to:
Click on element -> click on execute

I think that even after click on specific element scroll of the site could move to that

[2018-08-06 02:21] PeterDaveHello opened #4793 "Typo in the latest release tag"
The link in [README.md](https://github.com/swagger-api/swagger-ui/tree/v/3.18.0#compatibility) - [v3.18.0](https://github.com/swagger-api/swagger-ui/tree/v3.18.0) doesn't work, instead, the latest tag is [v/3.18.0](https://github.com/swagger-api/swagger-ui/tree/v/3.18.0), seems to be typo?

[2018-08-06 07:30] hkosova commented on #4600
@cedric-c84-eu It looks like file array upload is not implemented yet. The file inputs are displayed now, but the actual request contains the string `[object File]` instead of the file contents.

[code]

[code]

[2018-08-06 10:57] Falx commented on #4778
Can anyone please confirm this? If not, then I will have to fix this in more hacky way, by rewriting parts of the DOM or something like that..

[2018-08-06 13:52] MaxHo1234 commented on #4619
Hey shockey, we have the same problem here.
Currently you cannot use Swagger with AWS, if you have such an authorization step.

Swagger sends the original authorization token together with the redirect authorization token to AWS.
AWS complains with a 400 bad request.
Swagger should send only the redirect authorization token in the final request, then it would work.

Currently, we are forced to use

[2018-08-06 14:01] kobymeir commented on #4619
Hi @shockey

There is no reason to pass on the authorization headers as you have no idea where the redirect it going, thus potentially exposing the authorization token to a 3rd party that we might not want them to receive the token.

Hope that my answered helped :)

[2018-08-06 15:12] bzctoons opened #4794 "Bad URL in DeepLinking"
Hello
I generate a doc for https://mydomain.com/openAPI/ :  it works fine
When I click on an operation or tag instead of  https://api.mydomain.com/openAPI/#/tag/postOperation it become https://api.mydomain.com/#/tag/postOperation

### Q&A (please complete the following information)
 - OS: WIN10
 - Browser: chrome
 - Version: 67
 - Method of installation: git clone
 - Swagger-UI version: 3.17.6
 -

[2018-08-06 15:54] axnsan12 opened #4795 "Stray swagger-ui-dist-3.17.5.tgz in swagger-ui-dist 3.18.0 npm package?"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: N/A
 - Version: N/A
 - Method of installation: npm install swagger-ui-dist
 - Swagger-UI version: 3.18.0
 - Swagger/OpenAPI version: N/A

### Describe the bug you're encountering
There is a ``swagger-ui-dist-3.17.5.tgz`` present in the 3.18.0 npm bundle of ``swagger-ui-dist``.

### To reproduce...

[code]

### Expected

[2018-08-07 09:50] maciejgroenke commented on #4786
Ok, I found it's a duplicate of https://github.com/swagger-api/swagger-ui/issues/4745, closing

[2018-08-07 09:50] #4786 closed

[2018-08-07 11:56] tnpradeep opened #4797 "Is there any configuration parameter to hide Try it out buton"
Hi All,

Is there any configuration parameter I can pass while initializing SwaggerUIBundle to hide Try it out button ?

Thanks
Pradeep

[2018-08-07 13:44] AlexNik commented on #3803
+1

[2018-08-07 15:43] ryan81g commented on #4739
Is this issue being actively investigated? Running into the same thing where we have more than 20 schemas to read in from external files. If not, I will dig in for a fix.

[2018-08-07 16:05] hkosova commented on #4797
[code]
disables "try it out" for all operations.

Here is the full list of configuration parameters:
https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md

[2018-08-07 16:24] dylangleason opened #4798 "Docker run command hangs (again)"
### Q&A
 - OS: macOS 10.13.6
 - Browser: n/a
 - Version: n/a
 - Method of installation: Dockerfile
-  Docker version: Docker version 18.06.0-ce, build 0ffa825 (Docker for Mac)
 - Swagger-UI version: 3.18.0
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### How can we help?

This problem was addressed once via #2386. However, the steps outlined did not seem to resolve the issue for me. I attempted to r

[2018-08-07 17:02] heldersepu commented on #4739
@ryan81g my guess, no it is not  on anyones queue...
and the fact that the workaround is as simple as combine all files, this will probably go into a dark dark corner, IF this is important to you your best bet is to dig and report your findings

[2018-08-07 17:05] PeterDaveHello commented on #4793
@shockey would you like to take a look? Thanks.

[2018-08-07 19:50] krishamoud commented on #4021
I'm having this issue with an array of `$ref`s
https://github.com/swagger-api/swagger-editor/issues/1082

[2018-08-08 00:29] shockey commented on #4793
@PeterDaveHello, fixed!

We've been automating more of our release process, looks like we aren't parsing the version branch into a tag correctly 😄

[2018-08-08 00:29] #4793 closed

[2018-08-08 01:47] shockey commented on #4795
Thanks for the report, @axnsan12!

This was due to testing we were doing with our new release job -specifically, we hadn't set `PUBLISH_DIST=true` in the environment yet, so `npm pack` ran for `swagger-ui-dist`:

https://github.com/swagger-api/swagger-ui/blob/c9e8a67579abcf2b87224b0f058c02fa63561fba/swagger-ui-dist-package/deploy.sh#L15-L19

The new build job doesn't clear out its workspace betwee

[2018-08-08 01:47] #4795 closed

[2018-08-08 01:53] PeterDaveHello commented on #4793
Thanks!

[2018-08-08 02:28] shockey commented on #4778
@Falx, bug confirmed - looks to me like we need to await the mutated request in the wrapper we pass to Swagger Client:

https://github.com/swagger-api/swagger-ui/blob/c9e8a67579abcf2b87224b0f058c02fa63561fba/src/core/plugins/spec/actions.js#L407

[2018-08-08 02:37] shockey commented on #4732
Closing this, as $ref siblings would require a change to the OpenAPI Specification before it could be implemented here - @verschoof, consider opening a ticket for this over at https://github.com/OAI/OpenAPI-Specification/issues/new 😄

[2018-08-08 02:37] #4732 closed

[2018-08-08 02:45] shockey commented on #4675
Hi @Diparati, can you provide a Swagger definition that illustrates what you're describing?

[2018-08-08 03:09] shockey commented on #4515
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-08-08 03:09] #4515 closed

[2018-08-08 03:13] shockey commented on #4777
Exactly 😄

[2018-08-08 03:13] shockey commented on #4742
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-08-08 03:13] #4742 closed

[2018-08-08 03:13] shockey commented on #4766
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-08-08 03:13] #4766 closed

[2018-08-08 03:15] shockey commented on #4759
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-08-08 03:15] #4759 closed

[2018-08-08 03:33] shockey commented on #3521
@fschaeffler, it's still open, so it's still an issue 😄 if it's a priority for you, we'd welcome a pull request that fixes it!

[2018-08-08 03:46] papayasoft commented on #4777
@shockey Many thanks! 😄  Closing...

[2018-08-08 03:46] #4777 closed

[2018-08-08 07:01] naveret opened #4800 "css not loading in Swagger (Or broken css in swagger)"
Styles or css no loading in Swagger ui.

I am using swagger (JAR: springfox-swagger-ui-2.7.0.jar) in my spring boot application. Swagger functionality is working fine but the css / styles not loading.

![endpoint](https://user-images.githubusercontent.com/42199701/43821410-6272ecde-9ae9-11e8-940d-edc20f41508b.PNG)

Can someone already faced the issue before? Also please share your thoughts in this

[2018-08-08 07:42] shamis commented on #4587
thanks for the fix 👍

[2018-08-08 07:45] m-demydiuk commented on #4677
I am trying to do the same now. The only available option I can do now is to inject css to hide it.

[2018-08-08 07:54] #4800 closed

[2018-08-08 08:13] Falx commented on #4778
Thank you for confirming this @shockey . Right now I worked around it by showing the unmutated request in the curl section and then adding my request mutations (the same ones I do in requestInterceptor) to the request property of the Curl component, with a wrapComponent plugin.

It would of course be nicer to use the built-in features once this is fixed.

[2018-08-08 08:43] DonMartin76 commented on #4048
This is unfortunately still not working correctly for the client_credentials flow; fetch returns "not ok", and because of this the user just gets a generic "Error: Unauthorized" or "Error: Bad Request" if e.g. the Authorization Server answers with a 401 or 400 (which is according to the spec).

I will create a PR on this.

[2018-08-08 10:10] Alevale opened #4802 "Missing description for `servers:` definition"
### Q&A
 - OS: macOS
 - Browser: chrome
 - Version: 68
 - Method of installation: npm
 - Swagger-UI version: 3.18.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
![screen shot 2018-08-08 at 11 56 42](https://user-images.githubusercontent.com/6860659/43831061-364a5e3e-9b03-11e8-90dd-bff6e050c900.png)

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration option

[2018-08-08 11:02] m-demydiuk opened #4803 "Exclude model from Models list"
### Content & configuration

Swagger/OpenAPI definition:
I use `Swashbuckle.AspNetCore` v3.0.0 / `Swagger-Ui` v3.17.1

### Is your feature request related to a problem?
I need to exlude (i.e. do not show) model in `Models` list. As our partners do not use AspNet.Core, they don't need to know anything about `IFormFile` interface which is specific to AspNet.Core.

### Describe the solution you'd lik

[2018-08-08 11:07] m-demydiuk commented on #4792
I really need this feature as well, as it is very annoying to click `Try it out` button every time. I did not find any solution, so I wrote a hack using jQuery

[code]

[2018-08-08 14:11] sietekk opened #4804 "How to inject Swagger UI Configuring into index.html in Express Application"
### Q&A (please complete the following information)
 - OS: macOS running docker container containing a Linux distro an Express application)
 - Browser: Chrome (not a browser issue, but using Node v8.11.1)
 - Version: 67.0.3396.99
 - Method of installation: npm 5.6.0 (using swagger-ui-dist)
 - Swagger-UI version: 3.17.6
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
[code]

Sw

[2018-08-08 14:48] sietekk opened #4805 "Swagger UI Dist Package has Broken Export for SwaggerUIBundle in 3.18.0"
### Q&A (please complete the following information)
 - OS: macOS running docker container containing a Linux distro an Express application)
 - Browser: Chrome (not a browser issue, but using Node v8.11.1)
 - Version: 67.0.3396.99
 - Method of installation: npm 5.6.0 (installed swagger-ui-dist)
 - Swagger-UI version: 3.18.0
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Examp

[2018-08-08 20:28] shockey commented on #4805
@sietekk, thanks for the report!

From the [3.18.0 release notes](
https://github.com/swagger-api/swagger-ui/releases/tag/v3.18.0):

Are you using `SwaggerUIBundle` in your Express application? I'm not aware of any useful reason to import Swagger UI _itself_ server-side (except server-side SPA rendering, which is covered in #4232)... can you share some context on how you're consuming the module?

[2018-08-08 20:33] shockey commented on #4803
It seems to me that a definition-level `x-renderable: false` field would be a good way to solve this.

Would that work for you, @m-demydiuk?

[2018-08-08 20:35] shockey commented on #4802
Yep - this is Swagger UI, we haven't implemented rendering server descriptions.

[2018-08-08 20:49] shockey commented on #4798
Hey @dylangleason, thanks for the report.

Our docker image doesn't give any output by default, so I think what you're observing is normal operation for the image.

Here's what I got locally:

[code]

Then, in a new terminal:

[code]

[2018-08-08 20:50] shockey commented on #4797
Closing as this appears solved - @tnpradeep, feel free to reply if you have more concerns 😄

[2018-08-08 20:50] #4797 closed

[2018-08-08 21:00] dylangleason commented on #4798
@shockey you're absolutely right... I think the absence of output after executing `docker run` deceived me. I should have queried the localhost at the specified port and I would have seen it! Many apologies.

[2018-08-08 21:00] #4798 closed

[2018-08-08 22:41] Cloudmersive opened #4806 "How to embed a link into each operation in Swagger UI"
### Q&A (please complete the following information)
 - OS: Windows 10 / Mac OS Latest
 - Browser: Chrome Latest
 - Version: Latest
 - Method of installation: Dist Assets
 - Swagger-UI version: Latest
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
You can see it here: https://api.cloudmersive.com/swagger/index.html?urls.primaryName=Image%20Recognition%20and%20Processing%20API

[2018-08-09 00:25] Hackniu opened #4807 "Cannot read property 'slice' of undefined"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

[2018-08-09 00:52] shockey commented on #4807
Hey @Hackniu! Thanks for the report.

Quoting myself in https://github.com/swagger-api/swagger-ui/issues/4745#issuecomment-407601668:

[2018-08-09 04:26] KrzysztofPerchlicki commented on #4792
I use only pure Java in my project (springfox swagger-ui) soo im my case I can't use that kind of hack. But thanks anyway - maybe other person'll find it useful :D

[2018-08-09 06:57] coder32 commented on #704
Please Help me to resolve this same issue . I am trying to post json from UI but it returns array(0) in PHP . What i am missing . Please let me know .
Here is my json file
{
    "basePath": "apis/item/",
    "swaggerVersion": "1.2",
    "apiVersion": "0.2",
    "resourcePath": "/item",
    "apis": [
        {
            "path": "save_item",
            "operations": [
                {

[2018-08-09 06:57] coder32 commented on #704
@webron Please help me to fix this .

[2018-08-09 06:58] ravind996 commented on #3586
I was trying to implement Swagger UI with angular6 but am getting error TypeError: Right-hand side of 'instanceof' is not callable

![image](https://user-images.githubusercontent.com/8157574/43883092-a4487ee4-9bcf-11e8-87c1-2f93ed081642.png)

[2018-08-09 08:34] ravind996 commented on #3586
Below swagger-component.ts code is working fine in Angular 4,
But it is getting error in Angular 6
ERROR TypeError: Right-hand side of 'instanceof' is not callable

ngAfterViewInit() {
    const ui = SwaggerUI({
      url: 'http://petstore.swagger.io/v2/swagger.json',
      domNode: this.el.nativeElement.querySelector('.swagger-container'),
      deepLinking: true,
      presets: [
        Swagger

[2018-08-09 09:26] m-demydiuk commented on #4803
Resolved here https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/846

[2018-08-09 09:26] #4803 closed

[2018-08-09 11:36] sietekk commented on #4805
Thanks for getting back to me @shockey!

For more context on what I'm trying to do, please refer to [my other filing here](https://github.com/swagger-api/swagger-ui/issues/4804). The Swagger UI documentation is a bit confusing on how to configure the app in a Node/Express app, so I tried to pull in `SwaggerUIBundle` and configure my application that way without directly editing the `index.html` in

[2018-08-09 14:30] AlexNik commented on #2651
+1

[2018-08-09 16:05] Hackniu commented on #4807
I use the snippet code from #4745 and replace url with http://xxx/xxx/swagger-apis, it shows "no API definition found".  below is the swagger-apis information, please do you know if I miss anything. thx

{
    "swagger": "2.0",
    "info": {
        "description": "Api Documentation",
        "version": "1.0",
        "title": "Api Documentation",
        "termsOfService": "urn:tos",
        "cont

[2018-08-09 16:21] Hackniu commented on #4807
I use oauth2 authentication token for both ui and service. Since my swagger page is under the my main api, so it should append the token automatically, but in the SwaggerUIBundle, does it append the token automatically also?

[2018-08-09 19:48] webron commented on #704
This is an issue that was closed in 2014, we're in 2018. Nothing in the current code base is related to that code base. If you have any similar issues, please file a new ticket.

[2018-08-09 20:40] Hackniu commented on #4807
Is there a way to pass json file directly to SwaggerUIBundle instead of url

[2018-08-09 21:37] rbipin commented on #3891
I have a similar issue, my swagger.json file is in the same deploy directory as the API. but when I try to access the index.html it is throwing the error {"schemaValidationMessages":[{"level":"error","message":"Can't read from file http://xxxxx.xxxx.com/apifolder/OASDoc/v1_apidoc.json"}]}

[2018-08-09 22:26] shockey commented on #4798
@dylangleason - no worries! thanks again. always better to raise a maybe-issue than to stay silent about something that's broken 😄

[2018-08-09 22:52] scottohara commented on #4516
Just to add to this, it appears that the following options relating to `collectionFormat` are currently not displayed either:
* `minItems`
* `maxItems`
* `uniqueItems`

When considering how best to visually represent different `collectionFormat` styles in the `<ParameterRow>` component, these options may also influence the design.

[2018-08-10 01:54] webron commented on #3891
It's best to file a new ticket and provide all the details as requested in the issue template.

[2018-08-10 03:47] rbipin opened #4808 "I'm having trouble implementing swagger-ui in remote server. Throwing can't read file error."
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome, Safari, IE
 - Version: [e.g. 22]
 - Method of installation: dist
 - Swagger-UI version:3.0.21
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Screenshots

https://i.stack.imgur.com/5hYMz.png

### How c

[2018-08-10 13:09] stevenmilstein commented on #2651
+1

[2018-08-10 14:26] ragazzojp commented on #4314
I think we should reopen because even in version 3.18 I don't think we have this feature implemented. What I'm proposing is to have a `displayName` field in `urls`, next to `url` and `name`, to display a different text in the drop-down list, than its actual name, that would still be used as identifier, for deep-linking, and so on.

Exactly as @hkosova wrote.

[2018-08-10 14:40] sryze commented on #4643
Is this planned to be fixed? I saw this issue a few months ago, thought that I would be addressed by now but after trying 3.0 again it seems to be present to this day.

[2018-08-10 21:00] LenKrause commented on #2651
+1

[2018-08-10 21:36] shockey commented on #4806
Hi @Cloudmersive - is there any reason you can't add a Markdown link to each operation's description?

[2018-08-10 21:55] mchelen commented on #2651
Hey folks, this is a known issue so you don't need to keep replying with +1. Please use the "Subscribe" button or give the OP a thumbsup if you want.

[2018-08-11 06:00] Cloudmersive commented on #4041
Why is this issue closed?  This issue is still not fixed.  This is actually a very serious issue - it means that you cannot upload both an object and a file.

[2018-08-11 06:00] Cloudmersive commented on #4041
And Swagger UI definitely still doesn't support this.

[2018-08-11 06:04] Cloudmersive commented on #4806
@shockey Thanks for the quick response.  Yes, we are looking for an automated solution.  Also, we wanted to actually make it a bit more elaborate over time where the link ultimately became an iFrame or embedded UX element that allows users to look through generated code examples in various SDK languages.  We currently offer this in our static docs (example: https://api.cloudmersive.com/docs/image.

[2018-08-11 08:37] nmhung109 commented on #4555
@shockey , I think this one is bug, not just a support request. When I have multiple specs that have same API but different input, it always submits with the old one that I just tried out. So I need to refresh my Swagger UI page every time

[2018-08-12 00:57] keenle commented on #3837
The problem of not rendered examples for `response` object still exists. In example bellow I define `Error` model, and provide default `example` for `Error` model. Later, while referencing error model in `responses: 404:  content:  applicatioin/json:  schema:` section, I provide custom examples in `responses: 404:  content:  applicatioin/json:  examples:`. The problem is that provided examples do

[2018-08-12 00:59] keenle commented on #3837
I assume this my previous message describes a bug since OpenAPI spec for [Media Type Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#mediaTypeObject) says the following:

[2018-08-12 18:36] dalbrx commented on #4228
The following change in https://github.com/swagger-api/swagger-js seems to fix the issue. However I am not sure if that doesn't arise new problems.

diff --git a/src/specmap/helpers.js b/src/specmap/helpers.js
index 6b3c78a..8ab4480 100644
--- a/src/specmap/helpers.js
+++ b/src/specmap/helpers.js
@@ -36,10 +36,11 @@ const freelyNamedAncestors = [

 export function isFreelyNamed(parentPath) {
   co

[2018-08-13 07:27] hkosova commented on #3837
@keenle support for OAS3 media type examples is being tracked in #2651.

[2018-08-13 07:40] hkosova commented on #4041
@Cloudmersive Uploading objects + files is supported in OpenAPI 3.0 and should work in latest Swagger UI. Check out the examples in [my comment above](https://github.com/swagger-api/swagger-ui/issues/4041#issuecomment-362385448).

If something does not work for you, [open a new issue](https://github.com/swagger-api/swagger-ui/issues/new/choose) and provide the steps to reproduce and other details.

[2018-08-13 10:34] Falx commented on #3876
A bit late, but for those who want at least **case insensitive** tag search. Just add this plugin:
[code]

In your Swagger configuration object, add your new plugin, like so:
[code]
Now you've overwritten the default filter function, with a new case insensitive one.

[2018-08-13 15:27] arthuston commented on #3697
@shockey was this ever fixed? I'm still getting this error with Auth0. Here is my security definition:
securityDefinitions:
  ui:
    type: oauth2
    flow: implicit
    authorizationUrl: https://mydomain.auth0.com/authorize?audience=audience
    x-tokenInfoFunc: my-x-token-info-func

From the Swagger Test UI I click the Authorize button and it generates the following URL:
https://mydomain.auth0.c

[2018-08-14 07:58] tuancg93 opened #4812 "Skip Response in Get OR Post"
Hello
I'm want using SWG\Response in parent class and in child class i don't use again.
My idea is inject Response class to function validate  and skip it but in content function
        `if ($parents !== null || $skip !== null || $ref !== null) {
            Logger::notice('Nested validation for '.$this->identity().' not allowed');
            return false;
        }`
it don't run to parent::vali

[2018-08-14 14:39] milushov commented on #4574
@shockey @rishacha @jdillon
Hello, guys, any news? I have the same problem 😢

[2018-08-14 17:22] PachowStudios opened #4813 "$ref'd securitySchemes aren't loaded"
### Q&A
 - OS: Windows 7
 - Browser: Chrome
 - Version: 68
 - Method of installation: npm swagger-ui-dist
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: OAS 3

### Content & configuration
In main file:
[code]

In auth.yaml:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you're encountering
Available authorizations dialog is empty.

### Expected behavior
The local

[2018-08-15 03:57] johnnyqian commented on #1772
+1

[2018-08-15 11:44] MarvGilb commented on #4120
Is there any progress on the pull request? Or any update if this will be fixed soon?

[2018-08-15 12:17] yellowiscool opened #4814 "Support for the bearer authentication scheme"
### Content & configuration

[code]

### Is your feature request related to a problem?

The bearer authentication scheme is not supported yet by swagger-ui. An error warning is displayed instead : `Unknown security definition type HTTP` (as reported in #4481).

### Describe the solution you'd like

Support for the bearer authentication scheme.

[2018-08-15 16:42] hkosova commented on #4814
Swagger UI already supports Bearer auth. Note that Bearer auth was introduced in OpenAPI 3.0, so make sure your spec is `openapi: 3.0.0` and not `swagger: '2.0'`.

Minimal example:
[code]

[2018-08-15 16:45] yellowiscool commented on #4814
I might run an old version, I will check that tomorrow. Thanks

Le mer. 15 août 2018 à 18:43, Helen Kosova <notifications@github.com> a
écrit :

[2018-08-15 22:11] shockey commented on #3697
@arthuston, yeah, something's definitely wrong there - please make sure you're on the latest version, and if so, open a ticket and tag me in it!

if you have the time, setting up a test environment (definition and Auth0 provisioning) that lets us work on this without scaffolding anything out would help to expedite the process 😄

[2018-08-15 23:05] Cloudmersive commented on #4806
Any suggestions @shockey ?

[2018-08-15 23:40] shockey commented on #4806
@Cloudmersive sure, this isn't too hard!

### Plugin code

[code]

### Result
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/680248/44176618-67695280-a09f-11e8-817c-1fe8c4ca2175.png">

The only gotcha here is that this _won't_ render if an operation has no responses defined (which would make it invalid).

[2018-08-15 23:50] #4812 closed

[2018-08-15 23:51] shockey commented on #4808
Hey @rbipin, can you give me the URL in your address bar where you're accessing Swagger UI?

[2018-08-15 23:54] shockey commented on #4807
You can pass a JS object to Swagger UI by using the `spec` option.

[2018-08-15 23:57] shockey commented on #4791
@webron, can I get your take on this?

[2018-08-16 00:10] shockey commented on #4780
Hi @akshaysin! Thanks for taking the time to provide this.

I've manually inspected both of these files for usage of `eval`, and I found what the report is referring to. This is coming from the `global` shim provided by Webpack:

https://github.com/webpack/webpack/blob/a02bf9960db209909b04a1ace23b07b0717d0964/buildin/global.js#L1-L20

It's a hardcoded test call to check for CSP/strict mode. It doe

[2018-08-16 00:10] shockey commented on #4776
Closing as a duplicate of https://github.com/swagger-api/swagger-ui/issues/2488.

[2018-08-16 00:10] #4776 closed

[2018-08-16 00:10] #4774 closed

[2018-08-16 00:13] shockey commented on #4737
@bestmike007 is right, this is invalid OpenAPI - but we can do better at handling this edge case than blowing up the component 😄

[2018-08-16 00:18] shockey commented on #2177
Closing as a duplicate of https://github.com/swagger-api/swagger-ui/issues/4324.

[2018-08-16 00:18] #2177 closed

[2018-08-16 00:43] shockey commented on #4643
This has been prioritized, and will be fixed shortly 😄

[2018-08-16 00:47] shockey commented on #4733
This is working for me on Chrome:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/680248/44180794-34c95500-a0b3-11e8-99a0-63accf4c5dfe.png">

I'm going to close this out, since it appears to be fixed. Please bump this issue if there are any outstanding concerns.

[2018-08-16 00:47] #4733 closed

[2018-08-16 01:29] shockey commented on #4654
ping @webron

[2018-08-16 02:24] #4439 closed, assigned to nobody

[2018-08-16 05:34] Cloudmersive commented on #4806
Awesome answer, thanks @shockey !  Much appreciated.

You can see the deployed result here: https://api.cloudmersive.com/swagger/index.html?urls.primaryName=Image%20Recognition%20and%20Processing%20API

[2018-08-16 08:09] #4814 closed

[2018-08-16 10:27] Mortega5 commented on #4772
I checked that it only happens using openapi 3.x. If I use version 2.0, it works properly.

[Try it](https://jsfiddle.net/mortega5/ytvzq6ro/)

First time you load it
![image](https://user-images.githubusercontent.com/8302870/44203530-86272200-a14f-11e8-9ae1-4ee41c5de5ff.png)

Second time
![image](https://user-images.githubusercontent.com/8302870/44203543-90e1b700-a14f-11e8-9487-7b28926c2149.png)

[2018-08-16 11:43] Raptor399 commented on #4218
There is a second issue at play here: the apiKey values are being UriEncoded, but they shouldn't be. Granted, it's vague [what characters cookies allow](https://stackoverflow.com/questions/1969232/allowed-characters-in-cookies), but I see cookie values unescaped in in the request the latest version of Chrome, so I'm guessing that is the standard.

For example:

[code]

should be:

[code]

Please t

[2018-08-16 20:18] faresbessrour commented on #3348
Volume is taking forever to mount at run time for me so I made a quick Dockerfile that copies the files in there and takes care of the SWAGGER_JSON environment variable, here it is in case someone have a similar issue for whatever reason:

[code]

And then to build and run you just need to do:
[code]

Not the best way to solve it but at least it works and it's quick.

[2018-08-16 23:35] bugged84 opened #4815 "How to set uniqueItems=true"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chroome
 - Swagger-UI version: 3.0.0

### Screenshots
![image](https://user-images.githubusercontent.com/23638686/44240236-c94eb880-a182-11e8-97f1-46690946ec29.png)

### How can we help?
What should I configure in my ASP.NET Core application to control the value of the uniqueItems field shown in the UI screenshot abo

[2018-08-16 23:45] bugged84 commented on #4815
I had a crazy idea to change my response type from IEnumerable<string> to ISet<string> and it worked. The uniqueItems field now has a value of 'true'.

[2018-08-17 05:08] 10111282 commented on #3403
I have 2 servers configured in the servers section (localhost and Prod), and in my case this error was caused bu using Prod server when I supposed to use localhost.

[2018-08-17 06:05] shockey commented on #4815
Hey @bugged84, I'm closing this out since it isn't a Swagger UI question - you'd have more luck asking this over at Swashbuckle.

Good luck, and thanks for using Swagger! 😄

[2018-08-17 06:05] #4815 closed

[2018-08-17 06:16] p555iii opened #4816 "class HostNameProvider bug?"
- OS: [Windows]
 - Browser: [ chrome]
 - Swagger version: [e.g. Swagger 2.9.2,]

When I used springcloudgateway to aggregate the swagger2 document, I found the quoteIfNeeded method under the org.springframework.cloud.gateway.filter.headers.ForwardedHeadersFilter class, which changed the request path (eg localhost:8802) to "localhost:8802" And put "localhost:8802" into the Forward in the request he

[2018-08-17 10:30] CaptainAgilek opened #4817 "Swagger-ui 3.17.1 deepLinking not working correctly"
### Q&A (please complete the following information)
 - OS: [w10]
 - Browser: [chrome]
 - Version: [68.0.3440.106 ]
 - Method of installation: [maven]
 - Springfox Swagger-ui 2.9.2 uses **Swagger-UI version:  3.17.1**

In this version deepLinking doesn't work as expected.
It scrolls you to controllers which is alright, but it **doesn't scroll you to operation**.

This will scroll and open the contr

[2018-08-17 10:30] Dipak-Tated opened #4818 "Generate Client in COBOL language as well"
Hi,
Am working on a project where i want to use JSON OAS and create a COBOL proxy. Any help would be appreciable.

[2018-08-17 11:32] kalinick opened #4819 "oneOf, anyOf not works"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: [chrome, safari]
 - Method of installation: dist assets
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: Swagger 2.0, OpenAPI 3.0

### Content & configuration
oneOf, anyOf not works

Example Swagger/OpenAPI definition:
[code]

### Expected behavior
oneOf, anyOf works

### Screenshots

![image](https://user-images

[2018-08-17 13:32] serafss2 opened #4820 "Multiple files to SWAGGER_JSON"
I would like to know if there's a way to input multiple files to the environment variable `SWAGGER_JSON` variable in Docker that will generate something like a drop list in the UI or something.

For now I have something similar to this on my Dockerfile:

[code]

And would like to know if there's a structure that maybe looks like:

[code]

[2018-08-17 14:51] hkosova commented on #4819
Thanks for the report! This issue is already being tracked in #3803.

Just FYI, `oneOf` and `anyOf` are an OpenAPI 3.0 feature and are not supported in Swagger 2.0.

[2018-08-17 15:15] kalinick commented on #4819
If, I'm trying to set swagger version > 2.0 it shows me this error
![image](https://user-images.githubusercontent.com/1422388/44273947-886da700-a249-11e8-93b2-f1bba15c97df.png)

[2018-08-17 15:25] hkosova commented on #4819
It should be `openapi: 3.0.0` not `swagger: '3.0'`

[2018-08-17 16:40] hkosova commented on #4819
@kalinick `openapi: '3.0'` is not valid, it should be `openapi: 3.0.0` with the three-digit version number - as explained in the help text on your image. And remove `swagger: '2.0'`.

Check out the [OpenAPI 3.0 syntax guide](https://swagger.io/docs/specification/basic-structure/).

[2018-08-17 17:32] shockey commented on #4820
This isn't currently possible, but we can add it 😄

[2018-08-17 20:33] cfjedimaster opened #4821 "Modify yaml loaded config"
### Q&A (please complete the following information)
 - OS: N/A
 - Browser: N/A
 - Version: N/A
 - Method of installation: dist assets
 - Swagger-UI version: Honestly not sure - this is code I didn't setup
 - Swagger/OpenAPI version: Swagger 2

### Content & configuration

I've got a site loading it's config via the url parameter and a yml file:

Swagger-UI configuration options:
[code]
### How can

[2018-08-17 22:29] shockey opened #4822 "Indicate the purpose of requests and responses passing through interceptors"
### Is your feature request related to a problem?

It's quite difficult to make decisions in request and response interceptors due to a lock of context on what the request is for.

### Describe the solution you'd like

I'd like to see a `purpose: String` field added to requests that pass through our interceptors, with an enum of values: `document`, `try-it-out`, `config`, etc

### Describe alterna

[2018-08-17 22:30] shockey commented on #4821
@cfjedimaster, are you trying to modify the host so that Try-It-Out requests go to a different place? If so, do you want it to go to whatever host that you're getting the document from?

[2018-08-17 22:37] shockey commented on #4818
Hey @Dipak-Tated, please request this over at [Swagger Codegen](https://github.com/swagger-api/swagger-codegen) - that's where server and client generation is handled.

Thanks!

[2018-08-17 22:37] #4818 closed

[2018-08-17 22:39] shockey commented on #4817
Bug confirmed 😄

[2018-08-17 22:41] shockey commented on #4816
Hey @p555iii, this doesn't appear to be related to Swagger UI - did you mean to open this in the Springfox repository?

Closing for now - if there's anything else, or I misunderstood something, just reply!

[2018-08-17 22:41] #4816 closed

[2018-08-17 22:46] shockey commented on #4808
no worries @rbipin, I understand.

Can you see the Swagger document if you go to `http://xxxx.xxxx.com/retailproject//OASDoc/v1_apidoc.json`? That's where Swagger UI is looking for your document, It's possible that your server is configured incorrectly.

If that doesn't illuminate the problem, try opening the Network tab of your browser's dev tools, and take a look at the request that Swagger UI i

[2018-08-18 01:00] #4643 closed

[2018-08-18 01:01] shockey commented on #4643
Fixed!

@lspvic, be advised that the forthcoming version of Swagger UI will break the property-level `required` that you mentioned.

[2018-08-18 02:05] shockey commented on #4025
Fixed by https://github.com/swagger-api/swagger-js/pull/1331

[2018-08-18 02:05] #4025 closed

[2018-08-18 04:14] p555iii commented on #4816
Maybe my problem is wrong, but is there a problem with parseInt directly here? I have already encountered this problem and hope that swagger can handle this problem.

[2018-08-20 07:58] kalinick commented on #4819
set in general.yaml
openapi: '3.0.0'

set path:
  /v2/teams/{id}/full:
    get:
      tags:
      - Teams
      summary: Get a team by id
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FullTeam"

it's not works
![image](https://user-images.githubusercontent.com/1422388/443

[2018-08-20 13:51] cfjedimaster commented on #4821
I'm loading the UI on foo.com lets say and the Yaml it loads points to goo.com. I need to, at times, change it to goo2.com. Does that make sense? So given I did something like:

[code]

My expectation (hope ;) is that I can do: `myswagger.something()` to update it.

[2018-08-20 18:09] rbipin commented on #4808
@shockey : yes, I tried to access the json file (http://xxxx.xxxx.com/retailproject/OASDoc/v1_apidoc.json)
But i'm not able to access the file

[2018-08-20 19:02] shockey commented on #4808
@rbipin, that would be a problem with your server then - if your server isn't serving up your Swagger document at the right URL (which, based on the config and URL you shared, is the URL I mentioned above), Swagger UI won't be able to do anything 😄

[2018-08-20 19:19] shockey commented on #4816
@p555iii, Swagger UI is a JavaScript project, so we can't help with any (looks like) Java problems 😕

[2018-08-20 21:33] shockey commented on #4821
Hmm... there aren't any methods to do this, because unlike most things, Swagger UI doesn't make the decision on where to send a request - Swagger Client does, [here](https://github.com/swagger-api/swagger-js/blob/0cdc6488372547f69ca7372cc9ad44cf4bf92de5/src/execute/index.js#L353-L373). Swagger UI sends your entire definition over to Swagger Client so that it can compute the base URL.

That said, t

[2018-08-20 22:06] shockey commented on #4819
@kalinick, as mentioned above, `oneOf` is not currently supported in Swagger UI - you can follow
https://github.com/swagger-api/swagger-ui/issues/3803 for updates on that feature 😄

[2018-08-20 22:07] shockey commented on #4780
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-08-20 22:07] #4780 closed

[2018-08-20 22:09] shockey commented on #4480
Hi @run27017, sorry for the delay here.

The answer depends on what you're trying to achieve - can you elaborate?

[2018-08-21 01:55] keith6014 opened #4824 "example of kerberos auth"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: OpenAPI 3.0

Looking for an example of schema with kerberos authentication.

[2018-08-21 02:41] akshaysin commented on #4780
@shockey Thanks Kyle.

[2018-08-21 02:52] run27017 commented on #4480
The  concrete example is lost because of long time ago and maybe I have already made another design. Now I just want to know if it is forbidden for my annotated code. If so, I would always change my design when encountering the similar case.

[2018-08-21 07:08] kalinick commented on #4819
Thanks for your support, will be looking forward to the release of this feature :)

[2018-08-21 14:18] trkfabi commented on #4805
Hi @sietekk ,
any update on this issue?
I'm trying to do the same and getting the same error as you.

Thanks

[2018-08-22 02:08] hujingbao commented on #2010
Is there anybody who can answer this question?

[2018-08-22 02:17] shockey commented on #4819
Glad we could help!

Closing this out in favor of #3803.

[2018-08-22 02:17] #4819 closed

[2018-08-22 09:21] anfle opened #4825 "Configuration file downloaded 2 times when using configUrl"
### Q&A (please complete the following information)
 - Method of installation: npm
 - Swagger-UI version: 3.18.x

### Content & configuration

Swagger-UI configuration options:
[code]
And my swagger-config.json file:
[code]

### How can we help?
My swagger config file (define in configUrl parameter) is downloaded two times (illustrated in the screenshot below).
From the code [src/core/index.js](ht

[2018-08-22 11:05] keith6014 commented on #4824
anyone?

[2018-08-22 13:31] cfjedimaster commented on #4821
I wanted to thank you for this - I'm a bit side tracked so I may not get back to this, but I appreciate you taking the time to help me!

[2018-08-22 15:51] rbipin commented on #4808
@shockey  thank you for helping me! Your directions were very helpful. I figured it out now and I have fixed it. The issue was the server was not serving static JSON file by default. I added the _mime type mapping_ to me web.config file and it worked.

` <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServ

[2018-08-22 15:51] #4808 closed

[2018-08-22 21:52] shockey commented on #4825
Hmm, yeah, this does seem like it's duplicated. Good catch!

[2018-08-22 22:00] shockey opened #4826 "Generated CURL seems wrong for mime/multipart uploads that have JSON parts - missing 'type=' option, wrong quotes."
_From @dvelitchkov on August 21, 2018 0:15_

Running swagger editor from docker container, no customizations.

### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome
 - Version: 68.0.3440.106
 - Method of installation: docker
 - Swagger-Editor version: latest
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code

[2018-08-22 22:02] shockey commented on #3563
Done!

[2018-08-22 22:02] #3563 closed

[2018-08-23 04:55] #4537 closed

[2018-08-23 07:09] CaptainAgilek commented on #4817
Yes it works.

[2018-08-23 12:45] RobertPaasche opened #4829 "Missing description on $ref"
### Q&A (please complete the following information)
 - OS: macOS, Windows, Linux
 - Browser: Any
 - Version: any
 - Swagger-UI version:  3.18.1]
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]
[code]

### Describe the bug you're encountering
The description provided for salutation is not rendered at the response body.
![image](https:

[2018-08-23 14:41] Pryanic opened #4830 "Swagger and jetty"
Hi guys. Thank you for all your work. I love swagger is a good project.
I faced with a small problem a few days ago. I use the following swagger dependency

[code]
The last version of spring boot and spring.
I config my endpoins like:
[code]

Swagger config looks like the following sample:
[code]
But after starting my application I didn't see my endpoints on swagger ui, can you help me fix this pr

[2018-08-23 15:05] chatelao opened #4831 "Bug: OpenAPI 3.0 parameter -> "in: query" shows error"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 68
 - Method of installation: Manual
 - Swagger-UI version: most recent
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Config:
[code]

### Describe the bug you're encountering
The valid paramter Type "in: query" produces an error messa

[2018-08-23 15:09] DrFairy commented on #4672
@hkosova Simplified reproduction of the same error (allOf of one object is to simplify the example, there are 2+ mixed objects there in a real use case):
https://gist.github.com/DrFairy/6ad4f8ccd8faedbf8c9725d4ccecd9da

Expected example value:
`{
  "p1": {
    "p2": {}
  }
}`

Actual value
`{
  "p1": {}
}`

Also, js error "TypeError: Cannot read property '0' of undefined" appears caused presumably

[2018-08-23 17:04] hkosova commented on #4829
Any keywords alongside `$ref` are ignored - that's how `$ref` works.

You need to wrap the `$ref` into `allOf` in order for the `description` to have effect:
[code]

[2018-08-23 17:05] hkosova commented on #4831
You have a typo: `schmema` -> `schema`.

[2018-08-23 18:10] RobertPaasche commented on #4829
Ok I had to create empty sub classes like the samples of https://github.com/swagger-api/swagger-core/issues/1549 .

[2018-08-23 18:10] #4829 closed

[2018-08-23 19:08] webron commented on #4654
Sorry for the delay here. The way it works right now is as expected. As @shockey mentioned, there's no support for `$ref` for examples inside the Schema Object. As such, it should treat the `$ref` as the example itself.

[2018-08-23 19:11] webron commented on #4791
@shockey The suggested expected behavior seems reasonable to me.

[2018-08-23 20:26] webron commented on #2651
Thanks @mchelen.

Please know that this is a high priority for us, but we want to get it right which is why it is taking longer. We cannot commit to a date but we're doing what we can to promote the solution. It is not being ignored and is definitely not forgotten.

[2018-08-23 22:23] atishpatel opened #4833 "apiKey security token causes v.forEach is not a function error"
### Q&A (please complete the following information)
 - OS: Ubuntu 18.04
 - Browser: chrome
 - Version: 68
 - Method of installation: dist
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Error
[code]

### How can we help?
I get this error when I have the anything set for the auth-token. It even happens if i make

[2018-08-23 23:31] webron commented on #2793
@brianupskill as the ticket is closed, the request is pretty much lost (hard to track). Please file a new ticket.

[2018-08-24 05:57] lakshmikanthadn commented on #4280
We have similar problem, where many of our models have more properties and each property and it sub properties takes lot of time to expand and browser hangs some time to load its properties. It would be helpful if we have a lazy load option for the properties. may be by setting some depth option.
Thanks in advance.

[2018-08-24 07:32] ErlendSB commented on #4817
I can confirm the same experience with 3.17.1 (via Swashbuckle 3.0).
The scroll/expand to operation works as expected if I set docExpansion to 'list', but I'd like to have all operations collapsed when I first hit the page (docExpansion=none).

[2018-08-24 08:14] CaptainAgilek commented on #4817
I tried setting docExpansion to 'list' and then the scroll/expand really worked as @ErlendSB said.

[2018-08-24 10:17] hkosova commented on #4833
http://editor.swagger.io is a great tool to check for syntax errors. In your example, `security` must be an array. You need to change
[code]
to
[code]

[2018-08-24 14:27] atishpatel commented on #4833
Thank you. I appreciate it. That solved the issue. I didn't realize the array format in yaml and all the docs are in yaml only. I'll keep the editor in mind.

[2018-08-24 14:27] #4833 closed

[2018-08-24 17:55] #4228 closed

[2018-08-25 02:55] shockey commented on #4817
@CaptainAgilek @ErlendSB, as much as we'd like to, we can't do much about Swashbuckle being on a non-current version of Swagger UI 😓

I'm going to close this out for now - if either of you experience any issues in the latest version (which is always available at https://petstore.swagger.io/), bump this thread and I'll take another look.

Thanks!

[2018-08-25 02:58] shockey commented on #4654
Thanks, @webron - closing this 😄

[2018-08-25 02:58] #4654 closed

[2018-08-25 09:41] ErlendSB commented on #4817
The issue is still there in the latest version (of swagger-ui).
https://petstore.swagger.io/?docExpansion=none#/pet/addPet
You'd expect to have the addPet operation expanded when following this link, but in my case all are collapsed.
It seems like docExpansion=none is prioritized over deepLinking

[2018-08-27 02:11] huihe commented on #4643
Got the same issue here.

[2018-08-27 04:56] seanmetrix commented on #4741
I just ran into this bug as well. My case is with application/x-www-form-urlencoded. I think the issue is related to the requestBody section.

I am attaching an example where explode is set to false in both the parameter block and the requestBody and they behave differently.

![0](https://user-images.githubusercontent.com/314787/44641239-e6ea0200-a97a-11e8-8f26-6b560ec0dc8e.png)

[metrixsean_test_

[2018-08-27 09:26] CaptainAgilek commented on #4817
Right, I didn't notice. So this bug remains even in the latest version...

[2018-08-27 13:22] xeptore opened #4835 "multiple file upload"
### Q&A (please complete the following information)
 - OS: ubuntu 18.04
 - Browser: chrome
 - Version: 65
 - Method of installation: npm
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: openapi3

### Content & configuration
i'm using the same openapi spec for uploading multiple files as described [here](https://swagger.io/docs/specification/describing-request-body/file-upload/#multiple).

[2018-08-27 14:49] hkosova commented on #4835
Thanks for the report! This issue is already being tracked in #4600.

[2018-08-27 17:56] shockey commented on #4817
Confirmed - thanks @ErlendSB!

[2018-08-27 18:03] shockey commented on #4643
@huihe, this is fixed, are you sure you're on the latest version of Swagger UI? 😄

[2018-08-27 23:06] manuwell commented on #4373
How can I test this? It's a really great navigation. Can you share the react component and how to implement it?

[2018-08-27 23:53] webron commented on #4741
@seanmetrix since it's a different media type, it's a different issue than the OP. Please file a new ticket so we can work on it separately.

[2018-08-27 23:56] seanmetrix opened #4836 "Submitting Array in requestBody with "application/x-www-form-urlencoded" ignores the explode encoding parameter"
I am attaching an example where explode is set to true in both the parameter block and the requestBody and they behave differently.

The example midway down this page mentions that you can specify the explode param in the encoding block for the requestBody - https://swagger.io/docs/specification/describing-request-body/

I'm using that exact example, except setting explode to true.

![0](https://u

[2018-08-28 01:47] JonKohler commented on #4373
we mocked this up, but ultimately gave up on swagger-ui, we're switching to ReDoc for our product.

Closing this out as we have no intention of finishing this (unfortunately)

[2018-08-28 01:47] #4373 closed

[2018-08-28 03:01] shockey commented on #4835
Closing as a duplicate 😄

[2018-08-28 03:01] #4835 closed

[2018-08-28 03:02] shockey commented on #4830
Closing this - it sounds like you're having a problem with Springfox, not Swagger UI 😄

[2018-08-28 03:02] #4830 closed

[2018-08-28 05:58] #4817 closed

[2018-08-28 06:01] shockey commented on #4817
Ok, this is fixed in conjunction with `docExpansion: none` now 😄

Thanks for following up, @ErlendSB!

[2018-08-28 07:59] vzaytsev opened #4838 "Problem displaying path with empty ResponseBody parameter"
### Q&A (please complete the following information)
 - OS: Windows 8
 - Browser: Firefox Developer Edition
 - Version: 62
 - Method of installation: npm
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Describe a path with empty "requestBody" object

Example Swagger/OpenAPI definition:

`{
  "paths": {
    "some/route": {
      "post": {
        "

[2018-08-28 08:05] walec51 opened #4839 "Add option to display only the tag description in the header"
### Describe the solution you'd like
Currently tag names is the bold part of the UIs header. However they are usually not nice display names but codes used also for anchor links. Therefore I think that an option to put the tag description text in the place the tags name text currently resides would be useful.

![screenshot](http://nextcloud.walczak.it/index.php/s/FI0jWW9bKM0gbLV/download)

[2018-08-28 12:16] SamiSammour commented on #2651
This is so frustrating
Looks like I'll move back to Swagger v.2.0

[2018-08-28 13:40] rcrooks commented on #4373
we did the same :) thanks @JonKohler

[2018-08-28 20:38] shockey commented on #4836
Hi @seanmetrix, behind the scenes this is because we don't have support for `encoding` yet - the parameter is working because you can define style/explode _without_ using `encoding`.

[2018-08-28 20:45] seanmetrix commented on #4836
How do you define define style/explode in the requestBody without using encoding?

[2018-08-28 20:46] shockey commented on #3837
Closing as a duplicate of #2651

[2018-08-28 20:46] #3837 closed

[2018-08-28 21:44] shockey commented on #4821
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-08-28 21:44] #4821 closed

[2018-08-28 21:47] shockey commented on #4824
Hi @keith6014, I asked around and it appears that it's currently not possible to describe a Kerberos auth flow in OpenAPI 3.

You can follow the developments on this in the OpenAPI repository: https://github.com/zalando/connexion/issues/649

Closing!

[2018-08-28 21:47] #4824 closed

[2018-08-28 21:54] shockey commented on #4783
@williamjmanning, there's no way to do this out of the box - the best way would be how you're doing it, using an endpoint to grab the token

You could write a plugin that watches for 2xx responses from your token-returning endpoint, and then automatically authorizes Swagger UI with the token 😄

[2018-08-28 22:13] shockey commented on #4555
@nmhung109 yep, you're right - this is a bug 😄

[2018-08-29 02:57] srpalomino opened #4841 "To decorate, or not to decorate ... that is the question"
### Problem
Run some code whenever an operation or tag opens or closes.

### Solution
Add `onClose` and `onOpen` props to `<Collapse>` by wrapping it in [another component](https://gist.github.com/srpalomino/80e20aec615883fea4c1900c8ce256cf) (decorator pattern).

### Question
Would this solution perform well enough to be accepted in a code review given the small amount of code inside `CollapseWrap

[2018-08-29 06:41] yottachen commented on #4643
I tried to use Swagger-UI 3.18.2(https://github.com/swagger-api/swagger-ui/releases). The description is still not shown when using urlencoded.

And I notice that the `tag`(3.18.2) is inconsistent with the last commit(3.18.1). Is it proper tag?

[2018-08-29 07:30] nekman commented on #3586
@mckennajones Perhaps you solved the column width issue. I solved it using a CSS-hack:

[code]

[2018-08-29 10:43] Hronom commented on #2617
Guys I see in UI this when I have parameter `@RequestPart(value = "file", required = true) List<MultipartFile> file,`
![multifiles](https://user-images.githubusercontent.com/429993/44782831-34d85300-ab91-11e8-90e7-99c27b01aa97.png)
So it seems like supported, but swagger ui not send two files when I press execute.

Is it bug?

[2018-08-29 12:28] SimonL101 commented on #4324
+1 - same as @maxnorth and @alexdawes. We want to migrate to 3 from 2 are blocked due to this issue.

[2018-08-29 15:38] webron commented on #4839
@walec51 Tag names are actually meant to be descriptive. I wouldn't use them the way you present them in the screen shot. Anchroing is not an issue because the tool take care of that.

I don't mind keeping this request open, and see if more ask for it, but at the moment I don't think the value for this one is high.

[2018-08-29 17:06] pmallu opened #4842 "Swagger UI renders double brackets when array is used in request body of a post method"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
     macOS
 - Browser: [e.g. chrome, safari]
    chrome
 - Version: [e.g. 22]

 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
    tried online swagger UI
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]
open api 3.0

### Content & configuration

Example Swagger/OpenAPI defini

[2018-08-29 20:57] hkosova commented on #4842
This is working as expected. The extra square brackets are there because you have `example` inside `items`, which means the example is the value of a _single item_. Move the `example` on the same level as `type: array`. The image below is YAML, but it should help you get the idea.

![array-example](https://user-images.githubusercontent.com/8576823/44814902-b1495100-abe6-11e8-8481-f6ed18c61839.png)

[2018-08-30 00:27] andrej-vasilj opened #4843 "OAuth2 implicit flow"
Hey guys,
I can't find sufficient information anywhere on the internet regarding a start-to-finish fully working example of OAuth2 using Swagger-UI. I have an OAuth2 server working and when I press the 'authenticate' button in Swagger-UI I'm redirected to the login page, I can login, and then I am redirected back to Swagger-UI but with the URL now having an access_token value as a query param. My

[2018-08-30 03:08] arutun commented on #4778
Any update on fixing this? It's biting me too, if I set `requestInterceptor` the curl request is hosed.

[2018-08-30 07:43] hkosova commented on #4843
1) `securityDefinitions` alone is not enough, you also need

[code]
   on the root level or inside operations.

2) Remove `redirect_uri` from the `authorizationUrl` and instead specify the [`oauth2RedirectUrl`](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#network) in your Swagger UI initialization code. It should point to Swagger UI's `oauth2-redirect.html` pag

[2018-08-30 10:19] MWild67 opened #4844 "How to give header info in the "try out" of a Rest Call"
### Q&A (please complete the following information)
 - OS: W10
 - Browser: Chrome
 - Version: Latest
 - Method of installation: npm
 - Swagger-UI version: 3.15.0
 - Swagger/OpenAPI version: 2.0

### Content & configuration
na

### Screenshots
na

### How can we help?
How can you pass in the "try out" of a Rest Call specific header info?
e.g. If you want to pass the language, which is part of our h

[2018-08-30 16:16] hkosova commented on #4844
Hi @MWild67,

You can document custom headers as header parameters
https://swagger.io/docs/specification/2-0/describing-parameters/
and enter the header values in the "try it out" form.

Alternatively, you can use the `requestInterceptor` to modify outgoing requests and attach custom headers.

[code]

[2018-08-30 17:01] calmdev commented on #4844
I'm having some strange issue with this. When I add a header as required to the list of params, the state resets and request is not executed. If I set the header as `required: false`, the request executes, but doesn't use the header:

[code]

Am I doing something wrong?

![2018-08-30 12 56 23](https://user-images.githubusercontent.com/461249/44867005-ba710700-ac54-11e8-9f87-3c7658b68af4.gif)

[2018-08-30 17:06] hkosova commented on #4844
Can you try the latest version of Swagger UI - 3.18.2?

Also, if you use `swagger: '2.0'` (not `openapi: 3.0.0`) replace
[code]
with just
[code]

[2018-08-30 17:07] calmdev commented on #4844
I'm using `"swagger-ui": "^3.18.2"` with `3.0.0` specification

[2018-08-30 17:42] calmdev opened #4845 "Required Header Param Resets State without Executing"
### Q&A (please complete the following information)
 - OS: macOS High Sierra
 - Browser: Google Chrome
 - Version: Version 68.0.3440.106 (Official Build) (64-bit)
 - Method of installation: npm
 - Swagger-UI version: 3.18.2
 - Swagger/OpenAPI version: OpenAPI 3.0.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the b

[2018-08-30 17:43] calmdev commented on #4844
@hkosova see #4845

[2018-08-30 17:57] dikhan opened #4846 "Add support for extensions in response codes"
### Content & configuration

Swagger/OpenAPI definition:
[code]

### Describe the solution you'd like
Currently the UI does not render extensions that are described under a response code. As per swagger documentation extension are supported in responses.

https://swagger.io/docs/specification/2-0/swagger-extensions/

[2018-08-30 18:51] calmdev commented on #4845
It actually looks like none of the params are being used. Even optional ones. The params appear in the UI, but don't get used in the CURL request. It's really strange, maybe I'm doing something wrong. Still trying to troubleshoot this.

[2018-08-30 19:51] calmdev commented on #4845
My issue must be related to #4745

I was using iframes with swagger 2, but hoped I'd be able to move away from it since I'm using react and this is built with react now.... I'll try with the old iframe approach though.

[2018-08-30 20:42] calmdev commented on #4845
I'm using react 16, but since this requires 15, i guess there isn't a clean way to provide my custom layout component from within my project. Seems best solution is still an using the dist bundle and css to hide all the unwanted pieces of the UI.

[2018-08-30 20:42] #4845 closed

[2018-08-31 23:38] michalrus commented on #4321
:pray: :prayer_beads:

[2018-09-04 12:23] boesing opened #4848 "[Feature] Partial usage of external resource already referenced in a schema"
### Content & configuration

Swagger/OpenAPI definition:
[code]

### Is your feature request related to a problem?
I guess not, but I would assume, that all references are automatically executed recursively. So, if I want to reference to a property of a specific object and that specific object is a reference itself, I would assume that this reference is prefetched first and then provides the full

[2018-09-04 18:39] SSCodeChamp opened #4849 "jsonEditor feature"
Team -

I am trying to enable JSON editor for request body JSON in my API. But it does not work by adding jsonEditor to true in index.html.Is there any other way of doing it ? I am using latest swagger UI.

// Build a system
              const ui = SwaggerUIBundle({
                  url: "http://localhost:54685/swagger.json",
                  dom_id: '#swagger-ui',
                  deepLinking

[2018-09-04 19:09] rokeefe1 opened #4850 "fetching resource list"
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

[2018-09-04 19:47] hkosova commented on #4849
JSON form editor is not supported in Swagger UI 3.x. There's an existing feature request #2771.

[2018-09-04 19:55] SSCodeChamp commented on #4849
Ok. Thanks. Closing this as There's an existing feature request #2771  for this.

[2018-09-04 19:55] #4849 closed

[2018-09-04 19:56] SSCodeChamp commented on #2771
Any update on this feature ? I guess many are there who are waiting to have this feature integrated in swagger UI.

[2018-09-04 21:14] pmallu commented on #4842
The issue still seems to be there though i have aligned items and example.

[2018-09-05 02:42] shockey commented on #4778
It’s in our queue to be worked on, no promises on a fix ETA.

If anyone would like to make a PR for this, I’d be happy to go into more detail on what needs to be done.

[2018-09-05 07:28] hkosova commented on #4842
It works fine for me in the latest Swagger Editor & Swagger UI in Chrome. Please double-check the indentation of `example`.

![Array example](https://user-images.githubusercontent.com/8576823/45077558-28567c00-b0f6-11e8-89ad-2b1253f4bcb4.png)

[2018-09-05 09:46] tnpradeep commented on #4494
Even I feel it is redundant to show examples again in Model section, even though there is a specific section for it.

[2018-09-05 10:43] irizzant commented on #2651
+1

[2018-09-05 14:17] Vetrinus commented on #3803
+1

[2018-09-06 02:12] shockey commented on #4843
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-09-06 02:12] #4843 closed

[2018-09-06 02:14] shockey commented on #4845
@calmdev, you're correct - React 16 currently has some problems with Swagger UI.

Check back in a couple of months: we're currently having some internal discussions about creating a specific flavor of the UI/Editor module for React users, which exposes a component that you can use regardless of your React version.

[2018-09-06 02:15] shockey commented on #4844
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2018-09-06 02:15] #4844 closed

[2018-09-06 02:56] calmdev commented on #4845
That'd be great. I'll keep any eye out for it. For now, I've forked the repo to create a custom standalone build that's loaded using an iframe.

[2018-09-06 03:28] Vanuan opened #4851 "Authorization value is lost on refresh"
### Q&A (please complete the following information)
 - OS: Ubuntu
 - Browser: Chrome
 - Version: 68
 - Method of installation: docker hub
 - Swagger-UI version: 3.18.2
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

Authorization value is lost on refresh

### To reproduce...

Steps to reprod

[2018-09-06 03:36] Vanuan commented on #4851
Should be easily fixable using solution like this: https://github.com/rt2zz/redux-persist

[2018-09-06 07:09] vzaytsev commented on #4851
+

[2018-09-06 11:31] piotrzarzycki21 opened #4853 "SwaggerUI 3.18.2 contains in dist folder exactly the same files as it is in version 3.18.1"
### Q&A (please complete the following information)
 - OS: Windows
 - Browser: Chrome
 - Version: 68.0.3440.106
 - Method of installation: Download from GitHub
 - Swagger-UI version: 3.18.2
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

### Describe the bug you're encountering
I downloaded newest release by using "Source code" option on the GitHub. Since I'm interested only

[2018-09-06 13:09] luka-magnotta opened #4854 "requestBody with type mime/form-data is broken"
### Q&A
 - OS: any?
 - Browser: firefox
 - Method of installation: git clone
 - Swagger-UI version: 3.13.16
 - Swagger/OpenAPI version: OpenAPI 3.0

### Describe the bug you're encountering
I'm attaching two files, that have exactly 1 difference:
1st file has `application/x-www-form-urlencoded` as requestBody type.
2nd file has `mime/form-data` as requestBody type.

First file works completely as

[2018-09-06 14:50] narendra-solanki commented on #4813
Any plans to fix this issue? My API spec is split into 20+ files and now I have to copy securitySchemes to each file.

[2018-09-06 16:11] rokeefe1 opened #4855 "can't parse JSON"
### Q&A (please complete the following information)
 - OS: Windows 10 version 1709
 - Browser: Edge
 - Version: 41.16299.611.0
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: 3.18
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Descri

[2018-09-06 17:45] SSCodeChamp opened #4856 "Parameter with Enum as well manual enter"
Hi,

The enum parameter is a great feature. I have a requirement where user can select from enum or he can enter the value he want. This is useful when you dont see the value is not available in the enum set.

[2018-09-06 19:12] shockey commented on #4855
@rokeefe1, can you share the response that's not being parsed correctly?

[2018-09-06 19:14] shockey commented on #4856
This isn't something we could do by default - the purpose of `enum` is to express "**only** these values can be used".

I'd be open to a vendor extension for this though, maybe something like `x-allow-custom-values`.

[2018-09-06 20:39] calmdev commented on #4855
Hey, out of curiosity I tried also using Windows 10 with Edge (using version 42 instead of 41 though) and didn't have any issues with JSON response parsing. I used browserstack which lets you test IE edge for free. Test was against an api using the OAS 3 spec using swagger-ui 3.18.2

[2018-09-06 21:07] shockey commented on #4854
@luka-magnotta, this is working for me in the latest version (3.18.1). Try upgrading?

[2018-09-06 21:13] rokeefe1 commented on #4855
I'm using ASP.Net Web API using Nuget package verison 5.2.6.  I added Swagger using the Swagger-Net Nuget package which references swagger-ui 3.18.  Let me know if there is any other info I can provide or troubleshooting steps you'd like me to take.

[2018-09-06 21:21] piotrzarzycki21 commented on #4853
@shockey I have cleared my cache and I'm still seeing 3.18.1. I have even used other browser which I don't use as my default Edge and it's the same.

`file:///Users/kyle/Code/ui/dist/index.html` <- This one which you are showing me is it dist downloaded from that [link](https://github.com/swagger-api/swagger-ui/archive/v3.18.2.zip)?

[2018-09-06 21:41] shockey commented on #4855
@calmdev, thanks for pitching in!

@rokeefe1, can you provide a Swagger document that I can use to see this happen on my end?

[2018-09-06 21:46] ben5Kuda commented on #3876
@Falx when i inject my own custom index page i do not see the search bar anymore even though i have EnableFilter() option. Is there a way to add the plugin by injecting it as JavaScript or what am i missing. I am using SwashBuckleCore

[2018-09-06 21:46] shockey commented on #4853
Aha - looks like our `v3.18.2` tag was looking at an older commit.

I've just updated it, can you try downloading from that link again?

[2018-09-06 22:05] piotrzarzycki21 commented on #4853
Perfect! Now it's working :) Thank you!

[2018-09-06 22:05] #4853 closed

[2018-09-07 09:37] rbjorklin commented on #4025
Is there any way this could be a toggle? My $DAYJOB provides a SaaS where customers upload a specification of what endpoints should exist and what kind of action that endpoint should execute. It would be very handy to have one single swagger-ui instance all customers could use but that would require `/` not being escaped in path parameters.

[2018-09-07 10:05] Falx commented on #3876
Sorry, I don't really understand your problem. I just added the plugin following the Configuration docs at https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/#plugin-system

The only custom part is the plugin itself which only overwrites the standard used opsFilter with a new version that used `.toLowerCase()` to check equality.

It is in javascript..

[2018-09-07 12:56] rokeefe1 commented on #4855
When you ask for a Swagger document what exactly are you asking for?  How do I go about getting that for you?  Please let me know and I'll get it for you right away.

[2018-09-07 16:05] mchelen commented on #2651
Thanks for the update @webron. Is there anything the community can do to help move this along? Or is there any better place to track the progress?

[2018-09-07 19:48] shockey opened #4857 "OAS3 Servers display as a block, with an odd empty container above"
### Describe the bug you're encountering

See the title 😄

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/680248/45240042-24645e80-b29c-11e8-9439-1e0ae8990e14.png">

### To reproduce...

Steps to reproduce the behavior:
1. Load any OAS3 definition with a Severs Object.

### Expected behavior

Servers should be displayed inline, similar to Swagger 2.0 Schemes:

<img wi

[2018-09-07 23:12] shockey commented on #4025
@rbjorklin, in this case we're bound by the specification to not allow this. As a rule, we don't skirt around the spec... from there, it's only a few steps to complete madness: what is a user to do when something works perfectly in Swagger UI but in no other tools, because the functionality is nonstandard?

The best thing you can do is raise an issue over at OpenAPI (https://github.com/OAI/OpenAPI

[2018-09-07 23:18] #4838 closed

[2018-09-09 03:29] giansalex commented on #1247
This work.
<details><summary><code>findReact()</code> method</summary>
<p>

[code]
</p>
</details>
<hr>

Set *https* scheme:
[code]

[2018-09-09 03:30] giansalex commented on #1382
This work.
<details><summary><code>findReact()</code> method</summary>
<p>

[code]
</p>
</details>
<hr>

Set *https* scheme:
[code]

[2018-09-09 03:30] giansalex commented on #1006
This work.
<details><summary><code>findReact()</code> method</summary>
<p>

[code]
</p>
</details>
<hr>

Set *https* scheme:
[code]

[2018-09-09 04:13] CameronGo opened #4861 "I would like to pass in a Config URL using an environment variable similar to the API_URL"
### Is your feature request related to a problem?
I am running swagger ui in a docker container and passing my openapi.yml file in using the API_URL environment variable.  This allows me to use the public docker image for swagger ui without having to build and maintain my own.  I would; however, like to do deeper customization of the display and layout options using a config file, but do not see a

[2018-09-09 17:33] KyleGalvin commented on #3747
I am having a nearly identical issue.

The only difference is I am using a swagger 2.0 document against swagger-ui 3.18.3
![swaggeruierror](https://user-images.githubusercontent.com/1386124/45267109-328cb900-b41b-11e8-905f-706798b8125c.png)

checking the network tab, the request is never made.

[2018-09-09 17:40] KyleGalvin commented on #3747
After more troubleshooting, I took off the 'required' field to attempt to bypass validation. I enter a value for 'id' and I get 'undefined' in the url path:
![swaggeruierror](https://user-images.githubusercontent.com/1386124/45267194-b72c0700-b41c-11e8-9f0a-80e615b0aea6.png)

[2018-09-10 08:59] rafalsiwiec opened #4863 "swagger-ui-dist version 3.18.3-republish is broken"
Loading of `swagger-ui-dist` fails like this:

[code]

Looks like package https://registry.npmjs.org/swagger-ui-dist/-/swagger-ui-dist-3.18.3-republish.tgz is missing the `absolute-path.js`. Content of unpacked archive is:

[code]

[2018-09-10 11:02] bajtos commented on #4064
We are running into the same problem in LoopBack (see
https://github.com/strongloop/loopback-next/pull/1679) using `swagger-ui-dist@3.17.0`, which is the latest version published to npm. (Strangely enough, the latest swagger-ui version is `3.18.3` - is that gap intentional?)

@mevl @championswimmer Have you found any (workaround?) solution for this problem?

I found the following two comments that

[2018-09-10 11:07] bajtos commented on #4064
Also, since the problem of deeply-nested objects may be slightly different from the original problem described in this issue, should I open a new issue to keep track of this discussion?

[2018-09-10 15:09] jkcreative-web commented on #2321
Hi, I know it's an old thread but since I just started learning more about how to use SwaggerUI, I came across the same issue as OP because I had the property "deepLinking: true", which I thought was for something different. When I removed this the plugin stopped changing the URL hash. Hope it's useful to someone.

[2018-09-10 16:47] silverwind commented on #4863
Whoever published `3.18.3-republish` should be aware that one can [unpublish](https://docs.npmjs.com/cli/unpublish) for up to 72 hours after the initial publishing, so there is no need to republish under a different name.

[2018-09-10 17:27] Tintifax79 commented on #4157
Thanks @shockey for the hint with the plugin. I'm facing a similar issue with empty Controller paths now with Swagger UI and Codegen as Maven Plugins in a Spring Boot project, and I'm wondering how I can inject the plugin you've posted in such an environment?

[2018-09-10 18:04] championswimmer commented on #4064
This https://github.com/shockey/swagger-js/commit/8818f2d06e53833ded629533c826b80ebaa72b0a
didn't fix the issue. It is the same PR I created (which, like I said, is not covering all the places String#split() is used.
Should be reopened

[2018-09-10 19:48] shockey commented on #4863
Ok - `swagger-ui-dist@3.18.3-republish2` has been published, and can be successfully required in Node.

Sorry for the inconvenience, everyone!

[2018-09-10 19:48] #4863 closed

[2018-09-10 23:47] silverwind opened #4865 "v3 spec rendered as v2 on re-initialization"
### Q&A (please complete the following information)
 - OS: macOS 10.14
 - Browser: Firefox, Chrome
 - Version: 57, 68
 - Method of installation: npm
 - Swagger-UI version: 3.18.3
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Describe the bug you're encountering
When initially loading below example, the spec is detected as 3.0, but after calling `SwaggerUIBundle` a second time, the spec is detecte

[2018-09-11 01:01] shockey commented on #4865
@silverwind, you say you're doing this in a React application? What React version does your application use?

[2018-09-11 01:02] silverwind commented on #4865
React 16.5.0, but I think this should be reproducible in plain JS too.

[2018-09-11 01:03] shockey commented on #4861
This would be a great feature, and would solve a bunch of open requests for Docker container config mappings that we have.

[2018-09-11 01:05] shockey commented on #4861
@CameronGo, feel free to open a PR for this if you feel like contributing 😄

If you need some pointers to get started, feel free to grab a [short meeting with me](https://calendly.com/kyleshockey/swos/), I'd be happy to help.

[2018-09-11 01:09] silverwind commented on #4865
Plain JS repro: https://jsfiddle.net/90po3sL5/2/

With one call to `SwaggerUIBundle` it renders v3, with two it renders as v2.

[2018-09-11 08:31] swiatek86 opened #4866 "Possibility to extract operation and inject to website"
### Q&A (please complete the following information)
 - OS: Windows 7, Windows 10
 - Browser: Opera,
 - Version: 55
 - Method of installation: npm
 - Swagger-UI version: 3.18.3
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]
or

[code]

### Screenshots

here is example how swagger operation was ebedde

[2018-09-11 11:40] menulis opened #4867 "Exception while parsing callback parameters"
### Q&A (please complete the following information)
 - OS: macOS
 - Browser: chrome, safari
 - Version: 68.0.3440.106
 - Method of installation: maven
 - Swagger-UI version: 3.18.2
 - Swagger/OpenAPI version: Swagger 2.0.4, OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering

Swagger-UI fails to parse callback operation par

[2018-09-11 13:56] Vanuan commented on #4851
Pushed fixed version to docker hub: `vanuan/swagger-ui:persist-authorization`

[2018-09-11 18:45] rokeefe1 commented on #4855
Sorry for the delay in the response.  I've attached what I believe you are looking for.
[ApiSwaggerDoc.txt](https://github.com/swagger-api/swagger-ui/files/2372274/ApiSwaggerDoc.txt)

[2018-09-11 19:58] jeremymeng commented on #4702
Hit this too. Are there any workarounds?

[2018-09-11 23:33] shockey commented on #4848
Hey @boesing!

This isn't currently supported, but it's theoretically possible - JSON Pointer/Refs appears to allow it. I'm going to move this ticket to Swagger Client so we can track it as a feature for the resolver.

[2018-09-11 23:34] shockey commented on #4848
This issue was moved to swagger-api/swagger-js#1384

[2018-09-11 23:34] #4848 closed

[2018-09-12 10:28] linconjc opened #4869 "send Get request with json parameter ,but the request url not send the parameter."
### Q&A (please complete the following information)
 - OS: [e.g. macOS]
 - Browser: [e.g. chrome, safari]
 - Version: [e.g. 22]
 - Method of installation: [e.g. npm, dist assets]
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0]

### Content & configuration

Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

[code]

### Scre

[2018-09-12 10:38] linconjc commented on #4869
and the responseBody
{
  "timestamp": 1536748644191,
  "status": 400,
  "error": "Bad Request",
  "exception": "org.springframework.http.converter.HttpMessageNotReadableException",
  "message": "Required request body is missing: public com.omniselling.common.model.ServerResponse<com.omniselling.common.model.BasePageDetail<com.ag.sns.web.user.model.ViewListUser>> com.ag.sns.web.user.controller.User

[2018-09-12 13:35] abhi4151 opened #4870 "Avoid Sorting of Parameters"
Is there any way to avoid sorting of parameters in index.html?

Currently the parameters are sorting alphabetically automatically, but I want to preserve the order of the declared annotations.

My Declared annotations:

[code]

Swagger UI:

![image](https://user-images.githubusercontent.com/41680091/45428323-9c78bd00-b6be-11e8-8fbb-f455823be9a4.png)

I just need to preserve the order of the annota

[2018-09-12 18:59] sethherr commented on #4338
The fact that the documentation doesn't explain how to get styles is absurd, I'm still struggling to get them to display.

Once I actually figure it out, I'll submit a PR to update the documentation with the required defaults to get styles.

[2018-09-12 23:02] shockey commented on #4870
Hi @abhi4151! It looks like your annotation library is the one causing this.

As you can see below, Swagger UI respects the order of parameters as provided in a document:

<img width="1222" alt="image" src="https://user-images.githubusercontent.com/680248/45457691-19973880-b6a5-11e8-8342-7f4cd95fdea2.png">

<img width="1222" alt="image" src="https://user-images.githubusercontent.com/680248/4545769

[2018-09-12 23:02] #4870 closed

[2018-09-12 23:06] shockey commented on #4869
Hi @linconjc, this doesn't appear to be related to Swagger UI - did you mean to open this in the Springfox repository?

Closing for now - if there's anything else, or I misunderstood something, just reply!

[2018-09-12 23:06] #4869 closed

[2018-09-13 00:11] shockey commented on #4865
Indeed, this is a bug on our side. Thanks for the fiddle!

[2018-09-13 01:37] shockey opened #4871 "Escaped newlines "\n" in example strings converted to "\\" in curl"
_From @vmorris on September 13, 2018 0:21_

### Q&A
 - OS: Linux (RHEL / gnome 3)
 - Browser: chrome
 - Version: 68.0.3440.106
 - Method of installation: docker hub tag 5cb1ec8b71d7
 - Swagger-Editor version: 3.6.10
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-Editor configuration options:
n/a

### Describe the bug you're

[2018-09-13 03:02] shockey opened #4872 "add an `enableQueryConfig` option"
### Content & configuration

 Swagger-UI configuration options:
[code]

### Is your feature request related to a problem?

We’ve observed that the ?url= parameter in SwaggerUI allows an attacker to override an otherwise hard-coded schema file.  This opens the door to issues such as https://github.com/swagger-api/swagger-ui/issues/3847 and https://github.com/swagger-api/swagger-ui/pull/4789 which w

[2018-09-13 03:56] #4867 closed

[2018-09-13 03:56] shockey commented on #4867
Fixed!

Thanks for the report, @menulis.

[2018-09-13 06:34] sheeeee94 opened #4874 "swagger ui - strange red letter "A" in the parameter."
### Q&A (please complete the following information)
 - OS: CentOS release 6.3
 - Browser: Chrome
 - Method of installation: git clone
 - Swagger-UI version:  3.13.16
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

Swagger/OpenAPI definition:

i used  petstore provided by swagger as sample.
https://petstore.swagger.io/v2/swagger.json

### Screenshots

![image](https://user-ima

[2018-09-13 13:11] dcorking commented on #4805
[docs/usage/installation.md](https://github.com/swagger-api/swagger-ui/blob/v3.18.3/docs/usage/installation.md) implies that the main purpose of swagger-ui-dist is to serve it from Express bypassing asset bundlers. Yet the configuration is not exposed to the Express server.

It seems that one workaround to @sietekk's issue is to copy index.html from node_modules/swagger-ui-dist/ into your project

[2018-09-13 13:27] bajtos commented on #4064
I created a new issue in swagger-js, sometimes it's best to not start a new discussion in an old issue that has been closed long time ago.

Let's continue our discussion there: https://github.com/swagger-api/swagger-js/issues/1385

[2018-09-13 15:35] sethherr commented on #4338
I didn't manage to figure it out and reverted to swagger 2 ¯\_(ツ)_/¯

[2018-09-14 06:30] webprokopenko opened #4878 "Swagger send cut params to server"
Hi there.
Please help ))
When I send from  swagger UI request to server with params {
  "address": "0xb4016d8ca33ab5970b1acdc3fb9a63a123a30638",
  "tokens": "ZRX",
"tokens":"OMG"
}
the server receives data:
{
  "address": "0xb4016d8ca33ab5970b1acdc3fb9a63a123a30638",
   "tokens":"OMG"
}
or I send {
  "address": "0xb4016d8ca33ab5970b1acdc3fb9a63a123a30638",
  "tokens": "ZRX",
"tokens":"OMG",
"token

[2018-09-14 07:33] webprokopenko commented on #4878
![image](https://user-images.githubusercontent.com/12260853/45536272-9ba07200-b809-11e8-97f0-adc7575acbbe.png)

[2018-09-14 07:34] webprokopenko commented on #4878
server receive :
{ address: '0xb4016d8ca33ab5970b1acdc3fb9a63a123a30638',
  tokens: 'OMG' }

[2018-09-14 08:08] hkosova commented on #4878
You cannot have multiple `tokens` keys in the payload because JSON does not allow duplicate keys. Use https://jsonlint.com to check your JSON for syntax errors.

Does your server expect something like this maybe?
[code]
In that case, `tokens` should be defined as an array:
[code]

[2018-09-14 08:41] webprokopenko commented on #4878
But when I send from Postman it's OK
![image](https://user-images.githubusercontent.com/12260853/45539653-0b672a80-b813-11e8-8614-1d40fa610764.png)

[2018-09-14 08:59] webprokopenko commented on #4878
When I send form from postman server receive valid data
![image](https://user-images.githubusercontent.com/12260853/45540565-71ed4800-b815-11e8-9740-d7442e490c2c.png)

[2018-09-14 08:59] hkosova commented on #4878
Your Postman example is not JSON, it's form data (`x-www-form-urlencoded`):
[code]

In OpenAPI/Swagger this is described as:
[code]

[2018-09-14 09:14] webprokopenko commented on #4878
### It is wonderful. Thank you! Everything is working

[2018-09-14 10:17] bordigoni commented on #2651
This is what I would suggest when several examples are set up :

**Examples:** [ Drop down with example label ] | Model

*summary here if any* (with enough spacing around)

[code]

- You could use a drop down menu similar to content type selection (clearly visible).
- When clicking on 'Model' drop down is disabled and back on when clicking on "Examples"
- On change : replace summary and value, eit

[2018-09-14 13:26] DonMartin76 commented on #2895
I am slightly confused regarding what this is supposed to do?

I am looking for a way for Swagger UI to load the Swagger JSON from a CORS location (the thing which is specified via `?url=...`), passing the Cookie information when doing that. Is this what it's supposed to do?

If so, it doesn't work in neither Safari nor Chrome (on macOS).

[2018-09-14 15:30] w-lin opened #4879 "Suppress text "Default" on UI"
2 similar requests were closed before but I still believe that this is important for users.
https://github.com/swagger-api/swagger-ui/issues/1311
https://github.com/swagger-api/swagger-js/issues/788

We understand that tag helps grouping but for many of us users we do not need any tag for entire API documentation. Regardless how necessary the default tag is needed internally for implementation, it

[2018-09-14 16:52] bkuberek commented on #4874
Same Here. See the attached screenshot of the page elements.

![screen shot 2018-09-14 at 12 51 54 pm](https://user-images.githubusercontent.com/187136/45564010-13c46300-b81d-11e8-95b9-401cbdb9ed9f.png)

[2018-09-14 18:02] rwrife opened #4880 "Why does $ref automatically resolve on extensions?"
I've noticed that the Swagger UI is trying to resolve $refs on extensions, and in my case failing, even though it can't use the data in the extension, thus resulting in a meaningless error to the end-user.  Ideally I think it would, more or less, ignore anything defined in the extensions.  For example on an operation I have:

`
"x-ms-examples": {
    "Test Examples": {
        "$ref": "./examples/

[2018-09-14 18:29] cmckni3 commented on #4861
I actually have implemented this `docker-run.sh` but I am running into [this issue](https://github.com/swagger-api/swagger-ui/issues/4455).

[2018-09-14 18:58] cmckni3 commented on #4861
Ah I had an invalid `swagger-config.json`.

[2018-09-15 04:10] shockey commented on #4880
Hi @rwrife, Swagger Client (which handles resolution for Swagger UI) operates on a blacklist of things to _not_ resolve, and doesn't currently ignore vendor extension fields.

It's not as easy as ignoring anything under a key that matches `^x-`, though: for example, consider header names like `x-rate-limit`.

I'm going to move this over to Swagger Client as a bug now 😄

[2018-09-15 04:10] shockey commented on #4880
This issue was moved to swagger-api/swagger-js#1387

[2018-09-15 04:10] #4880 closed

[2018-09-15 04:15] shockey commented on #4879
Hi @w-lin, yeah, I don't see any reason that we can't suppress the `default` tag if it's the only tag present.

I'll file this as an enhancement. As @webron said in #1311:

Let me know if I can help you get started with a PR 😄

[2018-09-15 04:17] shockey commented on #4878
Closing as resolved 😄

Thanks for the help, @hkosova!

[2018-09-15 04:17] #4878 closed

[2018-09-15 05:00] #4861 closed

[2018-09-16 19:33] IceflowRE commented on #4586
This could happen because the server dont allow `Access-Control-Allow-Origin` and `Access-Control-Allow-Credentials` (https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)
Short version send this headers with the response:
`Access-Control-Allow-Origin` with `https://app.swaggerhub.com`
`Access-Control-Allow-Credentials` with `true`

[2018-09-17 04:47] shockey commented on #4476
@orbex, looking through this again, my apologies for closing without wrapping this one up.

We don't support Pale Moon, but if you ever figure out what's going wrong, we'd be happy to take a PR that fixes it there without breaking it anywhere else 😄

[2018-09-17 05:51] silverwind commented on #4865
Yes, appears @brudnyhenry is spot on there. I can reproduce in 3.6.1, but not in 3.6.0.

[2018-09-17 06:02] piotrzarzycki21 commented on #3330
I'm having the same problem in version 3.19.0. I have following request body

[code]

and someFile is:

[code]
![swagger_ui](https://user-images.githubusercontent.com/24554795/45607923-f6c3a600-ba4f-11e8-923a-e54415c8f332.png)

In the UI I don't see any red asterix etc. Should I raise another issue for that ?

[2018-09-17 06:36] MaklaCof opened #4883 "Add authorization header when loading swagger json end point"
### Content & configuration
[code]

### Is your feature request related to a problem?
I would like to restrict access to APIs for unauthorised users in ASP.NET Core with Swashbuckle. I ask how to do it in [SO](https://stackoverflow.com/questions/52314366/add-request-jwt-token-header-when-loading-swagger-json-with-swashbuckle?noredirect=1#comment91610812_52314366), but I got response, that this is

[2018-09-17 07:09] goxr3plus opened #4884 "New Feature -> Add @ApiOperation notes from resources file ?"
I am using Swagger for documenting the rest endpoints of a Spring Boot application . So an example of some endpoints is below ( just for to see ) :

Part of **apis.yaml** :

    - endpoint: /api/v1.0/wagers/ats/{serialNumber}
      method: GET
    - endpoint: /api/v1.0/wagers/ats/{gameId}/{drawId}/{couponNumber}
      method: GET
    - endpoint: /api/v1.0/wagers/findsuccess
      method: GET
    -

[2018-09-17 12:38] heldersepu commented on #4883
I think this could be beneficial to ALL authorizations, (not just to `oauth2`) I've seen similar request in the past on StackOverflow.

And it does not need to be the default it could be an option that way it does not create any back compatibility issues

[2018-09-17 14:47] kalatchev commented on #4423
Same issue :-(
Enterprise APIs relay on XML. JSON is primary for web development. XML can be transformed with XSLT, data can be found with XPath and defined with XSD. JSON ... OMG! Do you know any bank or health system, which works with JSON? I mean in core of systems, not web site integrations? Common, XML is here to stay for a long time.

[2018-09-18 13:32] bkuberek commented on #4874
Google Chrome
Version 69.0.3497.100 (Official Build) (64-bit)
On OS X

[2018-09-18 13:35] bkuberek commented on #4874
my html file:
[code]

[2018-09-18 19:28] travis5491811 opened #4885 "swagger-ui-express support? debResolveSubtrees: don't have a system to operate on, aborting"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: chrome
 - Version: 69.0.3497.81
 - Method of installation: npm via swagger-ui-epxress
 - Swagger-UI version: 3.18.1
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
Download swagger-ui-express and use it with any example open api spec

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuratio

[2018-09-18 21:39] shockey commented on #4874
@bkuberek, try adding ` <meta charset="UTF-8">` to your `<head>`?

[2018-09-19 00:45] bkuberek commented on #4874
@shockey that fixed it for me. Thanks !

[2018-09-19 02:33] josch-san commented on #3860
Hi @shockey,
I am try to reproduce your example but the problem still persist with the bearerFormat when I set to JWT.
[reference image](https://imgur.com/M8tTYkC)
Says...

[2018-09-19 09:53] segibambo commented on #4080
Here's was how i was able to solve mine using my own custom css
.swagger-ui .parameters-col_description input[type=text] {
        max-width: 340px;
        /*width:100%;*/
    }

    .swagger-ui .opblock-body pre .headerline
    {
        width:600px !important;
    }

    .swagger-ui textarea {
        width:600px !important;
    }

[2018-09-19 14:51] glamic-ep opened #4886 "Docker Image: not possible to load bind mounted swagger-config.yaml"
Currently it is not possible to host a external config file (to be loaded via `configUrl`) via nginX in the Docker container itself by bind mounting it into `/usr/share/nginx/html`. The default MIME type is set to `application/octet-stream` in https://github.com/swagger-api/swagger-ui/blob/master/nginx.conf#L9 which prevents the YAML parser from loading the file.

I wanted to replace the `nginx.co

[2018-09-19 22:45] shockey commented on #4885
Interesting. Is this error causing any problems with what you're seeing on the page?

I put that message in mostly as a canary in case a subtle error was introduced by the `system` not being available when resolving is happening. As far as I've ever observed, it's not a problem in and of itself - perhaps `console.warn` would be more precise than `console.error`:

https://github.com/swagger-api/swa

[2018-09-19 22:52] shockey commented on #4884
Hi @goxr3plus, looks like you're working with a different project (maybe swagger-core?), I couldn't spot anything related to Swagger UI in your message. Please open your issue in the repository for the project you're using, or Stack Overflow if it doesn't concern a specific project 😄

Closing for now - if there's anything else, or I misunderstood something, just reply!

[2018-09-19 22:52] #4884 closed

[2018-09-19 22:55] travis5491811 commented on #4885
Hey @shockey, Thanks for looking into it. I got the impression that it might not be supported when i saw the following when filling out a bug report in github issues:

I resolved the issue that I ran into (was caused by improper use of `$ref`).

[2018-09-19 22:55] #4885 closed

[2018-09-20 12:18] IrfanSyed-PSC commented on #4855
Same here, I am using Swagger-ui 3.13.6 and it does not work in Edge.

[2018-09-20 15:03] SenthilkumarRasan opened #4887 "Implement Oauth bearer token authentication"
Our web API uses OAUTH bearer token authentication. I am trying to implement with swagger UI
Tried the following config
config.EnableSwagger(c =>
{
.Flow("application")
.TokenUrl("http://localhost/v1.0/APIname/token")
.Description(
"An AccessToken object is the authorization token issued by the API when valid authentication is submitted.")
.Scopes(scopes =>
{
scopes.Add("read", "Read access to pro

[2018-09-21 00:22] shockey commented on #3860
Hi @josch-san, SwaggerHub's environment is a bit different, which may explain the difference in behavior - I recommend reaching out to their support 😄

[2018-09-21 00:42] shockey commented on #4887
Hi @SenthilkumarRasan!

Looks like you're writing Java code here - Swagger UI is a JavaScript project 😄

Consider opening an issue in whatever project `c` is a reference to. Thanks!

[2018-09-21 00:42] #4887 closed

[2018-09-21 02:55] shockey commented on #4874
awesome! glad I could help 🎉

[2018-09-21 02:56] shockey commented on #4874
@sheeeee94, let me know if this helps you as well!

[2018-09-21 03:01] shockey commented on #3330
@piotrzarzycki21, please do!

[2018-09-21 03:03] shockey commented on #4338
@sethherr, feel free to open a support ticket! we're here to help 😄

[2018-09-21 03:11] shockey commented on #4157
@Tintifax79, can you show me how you're embedding Swagger UI in your project?

[2018-09-21 03:17] shockey commented on #4643
@danielflower, are you still seeing this in latest (3.19.0)?

[2018-09-21 03:19] shockey commented on #4883
Hey @MaklaCof, we have a ticket for "refetch on authorization" open (https://github.com/swagger-api/swagger-ui/issues/4324) - would that solve your issue here?

[2018-09-21 05:14] MaklaCof commented on #4883
Hey @shockey.
It looks it is a duplicate for #4325 not #4324.

Just notice second point in GH-4334 . I think this is it.

[2018-09-21 05:14] #4883 closed

[2018-09-21 05:37] sheeeee94 commented on #4874
I solved this problem in a different way.
This was a problem with encoding.
When reading utf8 static file (ex. ~ / Swagger-ui.css) in my project, the problem was that the server read from the server's locale, Latin1.
I made it call through vertx, setting the default content encoding **utf-8**.
[code]
Thank you for your interest.

[2018-09-21 06:49] Tintifax79 commented on #4157
Oh, I'm very sorry I forgot about the thread. Meanwhile I have figured out how to resolve the issue (not knowing 100% was has caused it, so I can only make an educated guess):

With version 2.7.0 of the Maven Swagger UI plugin I had to repeat the function parameter annotations (@ApiParam, @RequestParam) in the definition of my functions for my @Controller class, which implemented the auto-generate

[2018-09-21 08:43] ttntt01 opened #4889 "How to configure swagger only take selected parameter as query string?"
Hi all master,

I'm new to swagger and this is my first time to request help at GitHub. Please move my post to correct type if I post wrongly. Thanks in advance.

Fyi, I have configured swagger to append parameter as query string. Please refer to below print screen.

![1](https://user-images.githubusercontent.com/43462100/45869128-35dc5900-bdba-11e8-8a05-cbbd77d32a2e.jpg)

However whenever I pass

[2018-09-21 12:58] zurmuehl commented on #3958
@wongJonathan I'm a newbie in SwaggerUI Plugins.
Can you  provide some hints how to get your code included into SwaggerUI?
Thanks!

[2018-09-21 15:23] minhloc2011 opened #4890 "Can't mount custom swagger API from local to docker"
### Q&A (please complete the following information)
 - OS: [macOS]
 - Browser: [chrome]
 - Version: [latest]
 - Method of installation: [docker image]
 - Swagger-UI version: [latest]
 - Swagger/OpenAPI version: [OpenAPI 3.0]

### Content & configuration

docker-compose.yml config version `3`
[code]

### How can we help?

i'm using docker-compose.yml to build swagger-ui and want to synchronize from

[2018-09-22 00:28] minhloc2011 commented on #3348
@faresbessrour How about if i want to mount `app/swagger/swagger_file.yaml` to `/docs/swagger_file.yaml`?. Because i would like to sync file from host to docker container while i editing swagger file.

[2018-09-22 01:03] faresbessrour commented on #3348
Absolutely @minhloc2011 instead of using a `Dockerfile` you can use a `docker-compose` config like this one:

[code]
What you do here is you mount your host file located in `./app/swagger/swagger_file.yaml` to the `/docs/swagger_file.yaml` file in the container and then give it as an environment virable in `SWAGGER_JSON`

Mind you I didn't test this file but it should look very similar to what I h

[2018-09-22 06:34] danielflower commented on #4643
That version doesn't appear to be available in maven central yet. (Using `org.webjars:swagger-ui`)

[2018-09-22 11:11] propi opened #4891 "Optional empty body parameters should not be sent"
I use "OpenAPI 3" in the swagger hub. When I send POST request with content-type "application/x-www-form-urlencoded", the swagger also send all empty optional properties defined in "requestBody" with empty string. But the empty string is also a valid string, therefore there should be a checkbox to active a specific property to be sent. If I don't check it, the property should not be sent to the se

[2018-09-22 13:45] gonenduk opened #4892 "required fields not marked with * when using allOf"
When defining a request body schema using allOf with a $ref, required fields are not marked with a red *
For example, when you want to require certain fields for POST and not for PATCH, you do not define the properties as required in the components schema. In POST you define this:
`          content:
            application/json:
              schema:
                allOf:
                - $ref:

[2018-09-23 02:14] evert commented on #2136
That's pretty much the definition of undefined behavior. In theory adding a body to a `GET` request could turn it into a `DELETE` request and it would be in-spec.

https://en.wikipedia.org/wiki/Undefined_behavior

So yes, it's absolutely allowed to add a body to a GET request, but no you shouldn't and rely on anyone to accept it. Swagger-ui is also totally in-spec by rejecting it. ElasticSearch re

[2018-09-23 02:32] sergioluigi opened #4893 "[swagger-ui] Curl's request url without java context name"
### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Chrome
 - Version: 69.0.3497.100
 - Method of installation: Maven
 - Swagger-UI version: 3.19
 - Swagger/OpenAPI version: Swagger 2.0, OpenAPI 3.0

Swagger/OpenAPI definition:
[code]

### Screenshots
![image](https://user-images.githubusercontent.com/12961631/45923545-9acda700-bebf-11e8-9d01-413bc2652fa4.png)

### Ho

[2018-09-24 03:07] minhloc2011 commented on #3348
@faresbessrour thank for reply, i got it!

[2018-09-24 07:01] ttntt01 commented on #4889
Hi all,

Anybody home?

[2018-09-24 14:51] fewcifur opened #4894 "Display documentation similar to operations?"
(I am new to this so please bear with me)

I have an API spec with extensive documentation in the "description" section. As a result, it takes an age to scroll down to the actual operations. Unfortunately, external documentation isn't an option right now.

I would like to have the documentation sections displayed in a group, similar to the way operations are displayed via tags. Unfortunately, I ca

[2018-09-24 19:43] TheMarex commented on #4743
Is this still a problem? I was not able to reproduce this.

[2018-09-24 20:28] TheMarex opened #4895 "Deep linking does not work without `operationId`"
### Q&A (please complete the following information)
 - OS: Linux
 - Browser: firefox
 - Version: 62
 - Method of installation: Local
 - Swagger-UI version: `master`
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration

#### Example Swagger/OpenAPI definition:

[code]

Swagger-UI configuration options:
[code]

#### URL

[code]

### Describe the bug you're encountering

An operation

[2018-09-24 20:39] TheMarex commented on #4895
The problem seems to be cause by 00432fc0 and can be "fixed" via:

[code]

[2018-09-25 07:40] hkosova commented on #4892
Your example is displayed correctly in Swagger UI 3.19.0 in Chrome.

Which Swagger UI version, browser and operating system do you use?

![image](https://user-images.githubusercontent.com/8576823/45999748-41c46580-c0af-11e8-98cd-a8e1e58da631.png)

[2018-09-25 09:15] IceflowRE commented on #4402
Thats more than confusing.

First a better example:
[code]

Three states exist and the natural interpretation of those is easy:

| state | interpretation |
|-|-|
|none| No authentication required. |
|open| Optional authenticaton, thats why its already open, because you can access it even without. |
|locked| You need an authorization to open it and only with you can access it. |

To signalize a pro

[2018-09-25 11:11] gonenduk commented on #4892
Hi Helen,

I updated the version (had a very old one) and everything seems to work now.
I'm closing the issue and thanks for the help!

[2018-09-25 19:42] shockey commented on #3958
@zurmuehl, can you share how you're using Swagger UI?

[2018-09-25 19:50] shockey commented on #4891
Hi @propi, can you provide a full OpenAPI document I can use to reproduce this issue?

[2018-09-25 19:55] shockey commented on #2136
@evert, agreed.

To clarify, here's what OpenAPI 3.0 says about this:

[2018-09-25 19:57] shockey commented on #4893
@sergioluigi, the YAML you provided isn't a valid OpenAPI definition. Are you using another tool alongside Swagger UI?

My first guess would be to move `servers` under `openAPI`.

[2018-09-25 19:59] shockey commented on #4889
Hi @ttntt01, if you don't want `t` included in your query string, you should either:
- not give it a value
- change the `t` parameter definition to be included somewhere other than in the query string

[2018-09-25 20:28] sergioluigi commented on #4893
I solved this issue putting the annotation @OpenAPIDefinition over the class that extends Application.

`package br.com.test;

import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

import io.swagger.v3.oas.annotations.OpenAPIDefinition;
import io.swagger.v3.oas.annotations.servers.Server;

@OpenAPIDefinition(servers = @Server(url = "http://localhost:8080/swaguer-resteasy-withou

[2018-09-25 20:31] shockey commented on #4893
Great! Closing as resolved.

[2018-09-25 20:31] #4893 closed

[2018-09-26 02:21] lly835 opened #4897 "how to add request header"
my json file in gitlab.

[code]

how to add header Private-Token when request gitlab json file?

[2018-09-26 03:06] zeromake commented on #3641
[doc](https://swagger.io/specification/#security-scheme-object)
in is `header` support
[code]

in is `cookie` not support has error

[code]
error:

[code]

[2018-09-26 06:53] andreasrosdal opened #4898 "Swagger Doc "Example Value" is very large, how to simplify, override or hardcode it?"
I would like some help with improving the autogenerated Swagger documentation for an API:
It seems that the autogenerated "Example Value" in the Swagger documentation becomes very large because it includes all the API model fields in detail, it also includes model fields which are read-only and should not be included in POST requests, only in GETs. Is there a way to simplify or hardcode the "Examp

[2018-09-26 07:08] hkosova commented on #3641
@zeromake make sure your spec is `openapi: 3.0.0` and not `swagger: '2.0'`.

[2018-09-26 11:57] piotrzarzycki21 opened #4899 "Swagger UI doesn't indicate by red asterix required field"
### Q&A (please complete the following information)
 - OS: Windows 10 64bit
 - Browser: Chrome
 - Version: 69.0.3497.100 (Official Build) (64-bit)
 - Method of installation: dist
 - Swagger-UI version: 3.19.0
 - Swagger/OpenAPI version: OpenAPI 3.0.1

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

and someFile is:

[code]

Swagger-UI configuration options:
[code]

### Des

[2018-09-26 12:30] Rajgan opened #4900 "Swagger UI Issue with Response for type IEnumerable<KeyValuePair<string, int>>"
Couple of our API controller produces a response of type

`ProducesResponseType(typeof(IEnumerable< KeyValuePair < string, int> >) (int)HttpStatusCode.OK)`

but in Swashbuckle.AspNetCore 3 it creates a model or JSON with full  assembly info like below

This causing problems in consuming app through Autorest client.
It is trying to generate file like

When we try to create client file we are gettin

[2018-09-26 17:35] shockey commented on #4900
Hi @Rajgan, I'm going to close this since it doesn't appear to be a Swagger UI-related issue.

Let me know if this in error.

[2018-09-26 17:35] #4900 closed

[2018-09-26 18:12] usmanmalik94 opened #4901 "SwaggerAPI-Key generation"
- OS: Windows 10
 - Browser: chrome
 - Version: 69.0.3497.100 (Official Build) (64-bit)
 - Method of installation: npm
 - Swagger-UI version: 2.0
 - Swagger/OpenAPI version: Swagger 2.0

I am new to using Swagger API. I am trying to find out how can I generate an API-Key. I could not find info regarding generation of an api key in swagger. Kindly guide me to the right direction.

[2018-09-26 21:48] shockey commented on #4901
Hi @usmanmalik94, is this question related to Swagger UI?

General Swagger questions don't belong here in the issue tracker 😄

[2018-09-27 01:33] shockey commented on #4898
Hey @andreasrosdal!

Are you sure you're marking the right fields as `readOnly: true`? Swagger UI _does_ ignore those fields when generating bodies:

<img width="954" alt="image" src="https://user-images.githubusercontent.com/680248/46118211-0a4adb80-c1cb-11e8-86ed-efc87638a1a6.png">

Also, it's rather difficult to see what's going on in a definition that big. If you can come up with a smaller def

[2018-09-27 01:36] shockey commented on #4897
@lly835, use the `requestInterceptor` option: https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md#requestInterceptor

It allows you to attach custom headers to your initial request for your OpenAPI document 😄

[2018-09-27 01:42] shockey commented on #4836
@seanmetrix, afaik you can't 😞

[2018-09-27 03:25] lly835 opened #4902 "doesn't support basic auth?"
i install swagger-ui by docker, public is dangerous, i want add Authorized.
i can't find basic auth by dockerfile
https://github.com/swagger-api/swagger-ui/blob/master/Dockerfile

[2018-09-27 09:35] Rajgan commented on #4900
@shockey then which team I need contact?

[2018-09-27 09:58] hkosova commented on #4897
GitLab also supports passing tokens via the `private_token` query parameter:
[code]

[2018-09-27 10:40] lly835 opened #4903 "APIS doesn't support Multiple parameters"
docker file

[code]

<img width="1010" alt="qq20180927-183655 2x" src="https://user-images.githubusercontent.com/2225913/46140815-bd2b4000-c284-11e8-9d68-1f2435fac334.png">

urlencode '&' to '%26'

[code]

<img width="1246" alt="qq20180927-184142 2x" src="https://user-images.githubusercontent.com/2225913/46140933-0e3b3400-c285-11e8-901c-0c6534775b90.png">

[2018-09-27 10:56] deki commented on #4643
It's available now: http://central.maven.org/maven2/org/webjars/swagger-ui/3.19.0/

[2018-09-27 12:06] mohamedsaeed93 opened #4904 "Authorization is possible after logging out in the popup"
the bug is easily producible from : https://petstore.swagger.io/

- fill the value with token then authorize
- click logout
- click authorize without putting any token (leaving value empty), still able to authorize

[2018-09-27 12:59] conet commented on #4633
I did get the feeling after trying to switch from swagger 2.x to 3.x that I can't see the same amount of information in the same screen space.

[2018-09-27 14:53] heldersepu commented on #4633
@conet not just a feeling, the 3.x UI is easier on the eyes, but the result is less info in the same space, there is a project that adds themes to the UI:
https://github.com/ostranme/swagger-ui-themes

Unfortunately none of the themes for 3.x create the minimalistic look of 2.x

[2018-09-27 15:02] bozzltron opened #4905 "Auth Error, Error: Bad Request"
### Q&A (please complete the following information)
 - OS: macOs
 - Browser: chrome
 - Version: 69
 - Method of installation: npm
 - Swagger-UI version: ?  swagger-ui-express 3.0.1 comes with a static directory with swagger ui.
 - Swagger/OpenAPI version: 2

### Content & configuration

Example Swagger/OpenAPI definition:
[code]

Swagger-UI configuration options:
[code]

### Describe the bug you'r

[2018-09-27 17:14] danielflower commented on #4643
Works great now. Thanks a lot!

[2018-09-27 17:16] shockey commented on #4643
Great!

I'm going to close out this thread now - if anyone is having issues with this in the future, please open a new issue.