[2017-06-15 19:01] fehguy commented on #1334
It's not too late!  Here's an overview of how I'd like to see this effort tackled.

In general, this is a difficult project to test. There are an infinite number of combinations possible when defining a specification.  The rendering and behavior of the UI thus needs to have a very flexible mechanism for creating tests and verifying that the behavior is correct.

It is impossible for us to build an

[2017-06-15 19:28] erajkovic opened #3247 "Limit in size of the swagger supported with 3.x release?"
Hi,

While testing the migration from an old version (2.x) to the latest available, I found an issue with some swagger documents. The UI remains in 'Loading...' forever and eventually timeout in chrome. with a pop-up that title is 'Page Unresponsive'. I have tried to use the "Wait" option a few times, but it did not complete.
After a few seconds, the UI does confirm that the swagger is valid by re

[2017-06-15 21:02] webron commented on #3247
Thanks for the report. The API definition is quite large - 4.3MB so I'm not surprised it's slow, but it shouldn't be this slow. I'm attaching it here so we can investigate further even if the URL is no longer valid.

When https://github.com/swagger-api/swagger-ui/pull/3196 is merged, it could help with the loading of the file, but it's more a workaround than a fix.

[swagger1.json.txt](https://git

[2017-06-15 22:26] githoober commented on #2103
I still cannot find where it's fixed.

[2017-06-15 22:45] webron commented on #2103
It wasn't fixed.

[2017-06-16 00:28] shockey commented on #3245
I do have an implementation in the OAS3 branch, which should hit master in the next couple weeks, when we do 3.1. IMO it should be introduced in the 3.1 series.

If there's an immediate need for the feature, I can cherry-pick it out of the OAS3 branch.

[2017-06-16 02:21] maliqiang commented on #3205
@webron The lasted jar of swagger-springmvc is 1.0.2.Can you give a guid to resolve the problem?thanks.

[2017-06-16 02:33] webron commented on #3205
Upgrade to the latest version. You're using a very old one.

[2017-06-16 06:14] starinfor opened #3248 "swagger-ui does not add context root and application path to try out url"
When reporting an issue, please provide the following details:
- swagger-ui version 3.x as per readme file
- a swagger file reproducing the issue

[2017-06-16 06:20] ponelat commented on #3245
@shockey could you link to the oas branch? I might be able to grab it out there, if you don't have the time.

[2017-06-16 06:40] webron commented on #3248
Can you provide a file that reproduces the issue?

[2017-06-16 07:27] starinfor commented on #3248
swagger.json is accessible at <host>:<port>/contextroot/applicationpath/swagger.json

[swagger.txt](https://github.com/swagger-api/swagger-ui/files/1080027/swagger.txt)

Attached is swagger.json

[2017-06-16 11:24] ponelat opened #3249 "Create wrapSelectors, to allow replacing selectors."
If I have a selector, call it `errSelectors.allErrors()`, and I'd like to replace that selector with my own, while still having a reference to the original.

Example:
[code]

@shockey, do we have this yet?

[2017-06-16 13:25] webron commented on #3248
The `basePath` in your swagger.json isn't set correctly - it's set to the root of your server. You need to make sure it points to the context root of your app.

[2017-06-16 14:53] kamiKAZIK commented on #3233
Sure, that would be great!

[2017-06-16 15:27] roma11111122 commented on #3242
іва

[2017-06-16 18:33] siddamreddy commented on #3215
Any update

[2017-06-16 19:37] webron commented on #3215
We'll update when we have an update.

[2017-06-16 23:26] moon0326 opened #3251 "Extending spec validator in 3.x"
Hi,

I'm trying to use Swagger spec with our own API gateway. We've defined additional data needed as 'x-requests' in each path. The only problem we have now is that there is no way to validate definition in 'x-requests'. I learned about "x-" prefix on https://github.com/OAI/OpenAPI-Specification/blob/master/guidelines/EXTENSIONS.md

Is there a way to let UI to validate definition in "x-" properti

[2017-06-16 23:39] webron commented on #3251
The UI doesn't do validations. The UI uses the [Validator Badge](https://github.com/swagger-api/validator-badge/) to give you the small badge at the bottom of the page. Since it's an open source project, you can modify it further if you need.

The Editor has its own validation mechanism which is different.

[2017-06-17 01:06] shockey commented on #3249
Yep, this is in the OAS3 branch as well 😄  want a link?

[2017-06-17 01:33] moon0326 commented on #3251
@webron Thank you Ron. I think I'm interested in how the editor validates and displays error message on the UI. Is there a way to extend that functionality? I want to display syntax error for the custom "x-" properties with my own definition.

[2017-06-17 13:10] kliyes commented on #3041
I just update to 3.0.15, and as @EvgenyOrekhov said, no headers displayed in server response, and the response body is not formatted as human-readable: (XML example already showed in Evgeny's screenshot)
![image](https://user-images.githubusercontent.com/3313588/27253120-0f73abf8-53a1-11e7-9c04-f41990498036.png)

[2017-06-17 16:07] webron commented on #3251
You can follow https://github.com/swagger-api/swagger-editor/issues/1351 for more information.

[2017-06-18 09:05] moon0326 commented on #3251
@webron Thank you Ron, but that issue does not seem to have any more information than this ticket. I will follow that ticket instead since it was created earlier.

[2017-06-18 13:03] MSW613 opened #3255 "Required Parameters in Model View?"
Using OpenApi from ServiceStack, [on their forums, I was told this is a Swagger UI issue](https://forums.servicestack.net/t/issues-with-v4-5-11/4121/10).  I have an API that receives a call with about 100 fields via json in the body of the call.  Some are required and most are not.  I am looking for a way that the information about what fields are required/optional can be visible to the end user a

[2017-06-18 14:10] tomjohnson1492 opened #3256 "JSON gets minified and escaped in responses > examples property"
When I add an `examples` property in the responses object, the example code gets minified. Additionally, if I use `>` or `|` to break the content onto the next line, the JSON gets both minified and escaped. (Ron says the minification is a known bug but not the escaping.)

Here's an example: http://idratherassets.com/restapicourse/swaggercomplete/. Expand Weather Data, then look for the "400" Respo

[2017-06-19 03:37] starinfor commented on #3248
That resolved my issue. Thanks

[2017-06-19 15:01] ssoffline opened #3257 "Swagger-ui json incorrect for embedded objects"
swagger-ui version - 3.0.10
Spec 2.0

In case of embedded objects, the Model is correct though the schema json used for firing calls does not match

Model

`DummyRequest{
requestId:	string
minLength: 0
maxLength: 30
entity:	Entity{
entityName:	EntityName{firstName, lastName}
citizenshipCountry:	string
phoneNumbers:	[type]

}`

Example value

`{
  "requestId": "string",
  "entity": {
    "entityNam

[2017-06-19 15:17] MGramolini opened #3259 "Need to set up the equivalent of a request interceptor from 2.x in 3.0"
- v3.0.16

Previously, I used a request interceptor as follows:

[code]

I have data on the page that needs to be converted into headers on the request.  How do I do this in 3.0?  Can I set up a a function in a config parameter for the SwaggerUIBundle constructor?

[2017-06-19 16:30] northk opened #3260 "Problem with oAuth on Swagger-ui 3.0.3"
Greetings Swagger UI team,

I'm attempting to use oAuth to make calls after constructing an instance of SwaggerUIBundle, as below. I'm using Swagger UI 3.0.3. I can authorize and make calls without issue using the Authorize button manually and entering in the same key and value manually. But, when I attempt to authorize API calls using initOAuth() using the same key and value as I entered manually

[2017-06-19 18:44] shockey commented on #3229
We can extend the plugin interface itself in order to make it easier to disable things, but I'm against adding flags for enabling/disabling specific things to the core- I'd rather those things happen through the plugin interface we have than add another layer of abstraction.

That being said, @ponelat wrote up up a way to disable entire plugins on the fly, though it would be a significant change t

[2017-06-19 19:00] #3251 closed

[2017-06-19 19:14] webron commented on #3255
Like you said, it's supported in swagger-ui 3.X, so I'm not sure what's the issue...

[2017-06-19 19:14] #3248 closed

[2017-06-19 19:18] webron commented on #3257
The issue is really unclear. Please provide a spec that reproduces the issue, describe what you see and what you *expect* to see in detail, so we can proceed.

[2017-06-19 19:23] webron commented on #3259
It's not yet supported. Please follow #2872.

[2017-06-19 19:23] #3259 closed

[2017-06-19 19:23] webron commented on #3260
There have been *many* updates to the OAuth2 support in the various releases. Please try the latest version first and report back.

[2017-06-19 19:25] shockey commented on #3103
Closing due to inactivity.

[2017-06-19 19:25] #3103 closed

[2017-06-19 20:20] ssoffline commented on #3257
on swagger UI we have two parts in request when we try out a service

One is Example Value
`{ "requestId": "string", "entity": { "entityName": {} }, }`

other part is model where we see a browsable version of the same like

`DummyRequest{
requestId:	string
entity:	Entity{
entityName:	EntityName{firstName, lastName}
citizenshipCountry:
phoneNumbers:
}`

So in such case when we have multiple level o

[2017-06-19 20:53] webron commented on #3257
It's really hard to tell. Can you share your API definition file so we can look into it?

[2017-06-19 21:09] ssoffline commented on #3257
Here is the sample

`public class Request{
    public Entity entity;
}`

[code]
[code]

[code]

and so on.

the json on UI is below, far from correct

`{ "requestId": "string", "entity": { "entityName": {} }, }
`

[2017-06-19 21:16] webron commented on #3257
That's your code. I need the file that's being loaded into the UI.

[2017-06-19 21:22] northk commented on #3260
Hello webron,
I downloaded the latest version (dated June 17th). When I run it using the following initOAuth() configuration, I get a 400 Bad Request with message {"message": "apikey missing"}.

[code]
I then tried the following initOAuth() config and this didn't work either:
[code]
I also tried it without quotes around the key:
[code]
But none of these works.
Clicking the Authorize button and ent

[2017-06-19 21:35] webron commented on #3260
@bodnia can you take a look at this one?

[2017-06-19 23:23] chevex opened #3262 "Supplying a malformed JSON payload correctly returns a "SyntaxError: Unexpected token" but it is returned as a 200 status code."
Swagger-ui version: 2.2.8

[code]

If you supply a random string for the body (`data`) the response body correctly contains the parsing error `SyntaxError: Unexpected token` but the status code is 200.

![image](https://user-images.githubusercontent.com/874394/27309878-bbfe49aa-5513-11e7-9ecb-f51f3f155f7c.png)

Similarly, if you supply an empty JSON payload it correctly says `ValidationError: "dat

[2017-06-20 00:02] webron commented on #3262
Can you try the latest version?

[2017-06-20 00:33] chevex commented on #3262
Updating swagger-ui to 3.0.16 did not solve the issue.

[2017-06-20 01:20] chevex commented on #3262
Nevermind I'm dumb. My error route handler in express wasn't reading the status code from the error given back.

[2017-06-20 01:20] #3262 closed

[2017-06-20 03:51] scottohara opened #3263 "Unable to debug in production using source maps"
Perhaps this is just my misunderstanding of how webpack `cheap-module-source-map` is supposed to work, but:

1. Open http://petstore.swagger.io/ in Chrome (any Chrome version will do...I'm using v61)
2. Open DevTools, and go to the Sources panel
3. In the Sources list expand `Top`, then `webpack://`, and click on `swagger-ui-bundle.js`
4. In the panel where I presume the original (source mapped) c

[2017-06-20 04:41] mikesheen commented on #1605
I also get a '-' character at the start and end of my file name, as well as the file being bloated and corrupted.  Even the test service @rwg0 provided does the same.

[2017-06-20 11:01] bodnia commented on #3260
@northk `initOAuth` adds only configs for oauth2, you can also read about this [here](https://github.com/swagger-api/swagger-ui#oauth2-configuration)

Interface for authorising with js code instead of manually in popup is not released yet, but this is going to be soon.

[2017-06-20 13:24] zainkhalid commented on #1526
Hi folks,

I'm running into the same issue, and am thinking of implementing a fix for my needs. Based on the last comment on this thread, I understand you all aren't prioritizing fixing this currently, but would you be able to review and merge a PR if I submit one? If so, do you have any suggestions on the best approach to implement a fix?

I'm not too familiar with the codebase, but my current th

[2017-06-20 14:22] ssoffline commented on #3257
Can't share complete one, this is a snippet I am referring to.

[code]

[2017-06-20 17:46] webron commented on #3257
Thanks for sharing that, I understand the issue better now. The generated example doesn't go deep enough, where it should be. This is a bug with the current implementation.

[2017-06-20 17:51] northk commented on #3260
Could using  additionalQueryStringParams : {apikey: "my_api_key_value_here"} work as below? Or is that also not implemented yet?

[code]

Thanks

[2017-06-20 17:54] bodnia commented on #3260
@northk it is implemented, but these params are added to authorization urls when making authorization calls in popup

[2017-06-20 20:31] wraycode commented on #1197
cannot get any other options in dropdown have tried produces any help greatly appreciated https://stackoverflow.com/questions/44660772/swagger-ui-symfony-nelmioapidoc-add-multiple-responsetype-options

[2017-06-20 21:11] northk commented on #3260
OK thanks. It would be a very useful feature to support the apikey and value being specified in the initOAuth() call or otherwise connected with the SwaggerUIBundle object in some way. In swagger 2.x we could programmatically pass the apikey and value into the SwaggerUi object, and it worked well as below. Unfortunately at the moment this leaves us in a situation where previous functionality that

[2017-06-20 21:42] webron commented on #1526
@zainkhalid yeah, adding support to it is not going to be easy (yet not impossible). It might be easier to do with OAS3 support.

@shockey might be able to give you some pointers.

[2017-06-20 22:07] webron commented on #3219
I can confirm there's an issue. We'd need to investigate.

[2017-06-21 01:07] Calrain commented on #3234
Does anyone know if there is a way to dynamically modify clientAuthorizations as in the example in the previous comment, with swagger-ui?

[2017-06-21 01:53] ssoffline commented on #3257
By when should we expect a fix?

[2017-06-21 02:57] webron commented on #3257
It's not going to be a high priority at the moment, due to time constraints. We'd be happy to review PRs that fix it though.

[2017-06-21 02:59] ssoffline commented on #3257
Thanks, appreciate the help, I am more of a back-end developer, will wait for the fix,

[2017-06-21 03:35] zainkhalid commented on #1526
Yup, that makes sense, but I've got a short timeframe + pre-existing codebases to contend with, which is why I'm trying to see if I can get it to work with the 2.0 spec.

That would be great!

[2017-06-21 06:02] codingupastorm commented on #1605
+1 also having issue with corrupt file and hyphens on start and end of file name.

[2017-06-21 06:35] talbensimhon71 commented on #3041
I can't find version 3.0.15, can you send a link? Does it solve the issue?

[2017-06-21 07:01] fuquanli opened #3268 "Set the contents of the interface document"
Hi,dear friend.
I have a question that requires your help!
I want to generate interface documentation according to my own wishes,rather than generate all.
I only need a part.
certainly，I know using HiddenApiFilter,but it can not satisfy me.
Because i have part of the interface that does not follow RESTful.
![image](https://user-images.githubusercontent.com/25790404/27371210-69e465d4-5692-11e7-860b

[2017-06-21 07:14] fuquanli commented on #3268
I use .net core 2.0,
There are special requirements, need to configure some interface address ".aspx"

[2017-06-21 08:01] skors commented on #3041
tested version 3.0.16, still no headers... response body is visible, but not formatted.

<img width="675" alt="bildschirmfoto 2017-06-21 um 09 57 30" src="https://user-images.githubusercontent.com/2559733/27373449-9491f848-5668-11e7-902f-99c3278c34ad.png">

[2017-06-21 08:37] MSW613 commented on #3255
The issue is that there are apparently some major problems with v3, so Service Stack isn't distributing it yet.

In any event, for anyone interested, the issue was that there is a bug in SwaggerUI v2 which doesn't respect the required field on a property and instead there needs to be an array of the required properties in an object at the top of that object.  ServiceStack updated their code to out

[2017-06-21 12:58] roben opened #3269 "Show response model instead of example value by default"
It would be great to have an option to show the models in the responses section instead of example values by default, because the example values do not contain model property comments, as JSON does not support them.

[2017-06-21 14:02] davidmfrey opened #3271 "swagger-ui input text box for body parameters of type string is unusable"
## Specs
* Swagger spec version 2.0
* Swagger-UI   docker image swaggerapi/swagger-ui  v3.0.5 . a228b9ff44b6

## Problem
I have some older endpoints which accept newline delimited strings which I'm trying define in a swagger spec.

The spec looks like this:
[code]

## Desired solution
Ideally, I would like to be able to edit the string sent as the body in the swagger-ui for testing and demonstrati

[2017-06-21 15:10] figuerres opened #3272 "Oauth scope not showing in popup ui"
When reporting an issue, please provide the following details:
- swagger-ui v2.2.10
I am using a package that uses the swagger ui package.
the Oauth Scopes where shown in the UI in a prior version but are not shown in the current release.

https://github.com/domaindrivendev/Swashbuckle/issues/1118#issuecomment-310095051

the swagger.json file has the oauth settings and the token server url and flo

[2017-06-21 15:30] aniruthmp opened #3273 "@RepositoryRestResource -- ApiParam definition for the JPA methods always defines the @Param as "body" type parameter"
- swagger-ui version 2.7.0

I have used spring-data-rest. Sample code snippet below

[code]
The generated swagger doc snippet at http://localhost:8080/v2/api-docs is as follows. As you can see below, the **parameter** has the value **in: "body"**, while I expect **in: "query"**
[code]

[2017-06-21 15:53] webron commented on #3268
This is not a question for this project. Most likely you're looking for [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle).

[2017-06-21 15:53] #3268 closed

[2017-06-21 15:55] webron commented on #3041
This issue is not closed - so it means it's not resolved. We _will_ close the issue, once it's fully resolved. Be aware though that we are _not_ actively working on a fix right now due to time and resource contraints, but we _will_ review PRs that help solve the issue.

[2017-06-21 16:18] webron commented on #3255
Okay, it doesn't like there's anything left for us to do. 'Major problems with v3' isn't helpful, not to you, not to us. If anyone from that team wants to work with us on being aware of the major problems and communicate with us on how to help resolve those, we'd be glad for the opportunity.

Other than that, I'm going to close the ticket for now. Please reopen if you think anything else can be do

[2017-06-21 16:18] #3255 closed

[2017-06-21 16:52] webron commented on #3271
Not sure how we didn't notice this one until now, but it's definitely not good.

[2017-06-21 16:57] webron commented on #3272
What about the `security` definitions across the spec? Do they ever use any of the scopes?

[2017-06-21 16:58] webron commented on #3273
This is not a swagger-ui issue. Please file the ticket on the project you use to generate your API definition.

[2017-06-21 16:58] #3273 closed

[2017-06-21 16:58] JimSterling opened #3274 "Help with error: "Unknown plugin 'module-alias'""
I am getting the following error when running `npm run build`. I have tried it in v3.0.12, v3.0.14, and v3.0.15. I am using CentOS 7, and I can get the build to complete when I run it in the directory I have checked out the repo in.

Module build failed: ReferenceError: Unknown plugin "module-alias" specified in "/var/www/swagger-ui/.babelrc" at 0, attempted to resolve relative to "/var/www/swagge

[2017-06-21 17:00] webron commented on #3271
It's there, it's just a `string`.

[2017-06-21 17:02] shockey commented on #3271
![image](https://user-images.githubusercontent.com/680248/27396613-5f3cac42-5668-11e7-9116-aadc79044482.png)

I'm not able to reproduce this using editor.swagger.io, which is running Swagger-UI 3.0.14 (you're a few releases behind!). The `sentences` parameter appears as `"string"` in Try-It-Out, and  I'm able to add spaces and newlines to the input.

[2017-06-21 17:04] davidmfrey commented on #3271
I'll update my swagger-ui to 3.0.14 and try it.

[2017-06-21 17:05] figuerres commented on #3272
here is a sample from the huge json file of one api method call:

`   "/api/ActivateObject/Address": {
      "post": {
        "tags": [
          "ActivateObject"
        ],
        "summary": "",
        "operationId": "ActivateObject_Address",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-ww

[2017-06-21 17:07] webron commented on #3271
@shockey I was able to reproduce it with swagger-ui master 😕

[2017-06-21 17:07] aniruthmp commented on #3273
Thanks. I have created [#2266](https://github.com/swagger-api/swagger-core/issues/2266) under swagger-core

[2017-06-21 17:10] figuerres commented on #3272
did a check with the prior build of my api and the json for that part is the same, so that did not change  when the package was updated.

if i can't get oauth working i am going to have to roll back my project to use the older package version until this is figured out.

[2017-06-21 17:10] davidmfrey commented on #3271
Yeah, I just updated to 3.0.14 and it's still happening.

[2017-06-21 17:11] webron commented on #3272
If you look at what you shared, you have `"security": [ { "oauth2": [ "" ] } ]` which means no scopes are needed for that API call - there's nothing to render there.

[2017-06-21 17:13] shockey commented on #3271
@davidmfrey, can you provide a full spec that reproduces the issue? I shoehorned your fragment into an existing spec, that may be the source of the inconsistency.

[2017-06-21 17:23] figuerres commented on #3272
Ok so then this sounds like the swashbuckle tool that generates the json has a bug that in prior versions of the swagger ui did not cause a problem.

so i need to list the scopes required in that fragment to tell the swagger ui which scopes are needed for this method ?

can we have a default that allows the current json to work ??

[2017-06-21 17:24] webron commented on #3272
No, this is how the spec works.
I'd also suggest trying the latest version of the UI to see if it behaves differently for you.

[2017-06-21 17:30] figuerres commented on #3272
to recap:
is this what my json should look like:
"security": [ { "oauth2": [ "read" , "write" ] } ]

given the scopes i listed before ?

[2017-06-21 17:34] webron commented on #3272
Assuming those are the scopes you need, yes.

[2017-06-21 17:36] davidmfrey commented on #3271
@shockey can I email you the spec?  I couldn't find any private message capability on github.

[2017-06-21 17:37] shockey commented on #3271
@davidmfrey sure, kyleshockey@gmail.com.

[2017-06-21 17:41] figuerres commented on #3272
ok, thanks...
i will report this to the project and see what we can do to fix it.

working on a test fix so that i can verify this....

[2017-06-21 18:10] figuerres commented on #3272
yes that was the problem and now i can fix my app!!!
thanks @webron  for your help in idenifiying the source of the problem!!

[2017-06-21 18:10] #3272 closed

[2017-06-21 18:33] supergibbs commented on #3014
In addition, maybe consider a bot? Bootstrap team made a bot that checks to make sure `dist/` isn't edited. https://github.com/twbs/rorschach

[2017-06-21 18:39] webron commented on #3014
I'm all for anything that can be automated ;)

[2017-06-21 21:58] shockey commented on #3044
Closing due to OP inactivity. Feel free to comment if there are any further thoughts.

[2017-06-21 21:58] #3044 closed

[2017-06-21 22:01] shockey commented on #3220
@dylancwood, I'm inclined to say that your PR last week (referenced above this comment) solves this 😄  Am I correct?

[2017-06-21 22:40] webron commented on #3083
- [ ] `Callbacks` tab should not appear if there are no callbacks defined.
- [ ] `Links` styling needs to be fixed.
- [ ] `headers` no longer exist under Links (this is from RC2)
- [ ] The `response content type` is aligned to the left and too close to the `Responses` text, makes it look weird. But...
- [ ] The `response content type` should appear individually per response code and no longer at t

[2017-06-21 22:44] shockey commented on #3271
I see it now, thanks @davidmfrey 😄

[2017-06-22 00:26] jtblin commented on #3044
No I hadn't seen it and haven't tried it yet but looks like that would solve my original problem. Maybe documenting that in the readme would help with discoverability and giving a full example of how to integrate with it? Thanks for pointing to this!

[2017-06-22 00:31] shockey commented on #3263
I'm experiencing the same, not sure when this stopped working. It's been a while since I needed a sourcemap in a deployment.

Looks like Webpack is having some problems with sourcemaps: https://github.com/webpack/webpack/issues/3165

SurviveJS has a good primer on the Webpack side of sourcemaps: https://survivejs.com/webpack/building/source-maps/

I suspect there's some interaction between Webpack

[2017-06-22 00:39] shockey commented on #3044
@jtblin, @dylancwood was kind enough to add a message to the top of our main README a couple weeks back, so there's a message there now: https://github.com/swagger-api/swagger-ui/pull/3210

[2017-06-22 00:54] shockey commented on #3274
Hey @JimSterling,

I just spun up a CentOS 7.3.1611 x64 machine and had some trouble reproducing this problem.

I ran:
- `git clone https://github.com/swagger-api/swagger-ui.git`
- `cd swagger-ui`
- `npm install`
- `npm run build`

and the build exited cleanly.

Please share with me the following info, so I can try to isolate what's going on:

- Your exact CentOS version
- Node.js version
- npm ve

[2017-06-22 04:39] scottohara commented on #3263
Ah yes, there's this comment in the SurviveJS primer:

...and links to here https://github.com/webpack/webpack/issues/4176.

So I suspect that may be the problem.

Maybe we should switch from `cheap-module-source-map` to the `source-map` option, as I believe that doesn't have this same issue (and provides better fidelity source maps anyway).

I'm happy to do the PR if you agree?

[2017-06-22 05:55] willin opened #3275 "cannot fire onchange"
When reporting an issue, please provide the following details:
- swagger-ui version 3.0.16
- a swagger file reproducing the issue

[code]

it works in 3.0.10...

[2017-06-22 07:18] lucklove commented on #47
I have the same use case.
@webron I don't think it's a feature. It's more likely a defect. It's not possible to describe tree resource with swagger.

[2017-06-22 08:32] juanda99 opened #3278 "Implementing swagger-ui"
- swagger-ui version: 3.0.16
- a swagger file reproducing the issue: https://api.arasaac.org/arasaac.json

I've looked through #3000.
My error is: Dynamic page loading failed Error: only one instance of babel-polyfill is allowed

You can have a look at https://beta2.arasaac.org/pictograms/api

@ponelat, I guess it will be solved with next release and [your commit replacing babel polyfill](https://

[2017-06-22 09:06] ponelat commented on #3278
yeah the babel-polyfill migration ( to transform-runtime ) is in `master`. Still need to ensure swagger-editor is happy with that, before cutting a release ( hopefully within a few days ).

[2017-06-22 13:25] hkosova opened #3279 ""undefined" description if there's no description key"
Specs without `info.description` and parameters without `description` are displayed with "undefined" description.

The issue did not exist in 3.0.12 release (39501c8) but exists in 3.0.14 release (f23b704) and in the latest master.

Spec:
[code]

![undefined](https://user-images.githubusercontent.com/8576823/27436246-4b9485c0-5767-11e7-8a86-a0c7346858a0.png)

[2017-06-22 15:52] shockey commented on #3046
@olslash, I think https://github.com/swagger-api/swagger-ui/pull/3281 solves your issue!

Also, that PR was just a formality - if you do a fresh npm install of your project you should pick up `yaml-js@0.2.0`. Let me know how it fares 😄

[2017-06-22 15:56] shockey commented on #3263
@scottohara Sure, any PRs around this would be much appreciated! Please test it locally first - I did a quick test of the change and wasn't having any luck.

[2017-06-22 15:59] shockey commented on #3275
@willin, what's the context of this code? I don't have an idea of what you're trying to accomplish, or where I can put this snippet in order to reproduce your problem.

[2017-06-22 16:07] shockey commented on #3239
Closing due to inactivity. Feel free to comment if there are any further thoughts or concerns.

[2017-06-22 16:07] #3239 closed

[2017-06-22 16:16] shockey commented on #3070
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-06-22 16:16] #3070 closed

[2017-06-22 16:21] shockey commented on #3279
Appears to be caused by https://github.com/swagger-api/swagger-ui/pull/3165.

[2017-06-22 16:46] juanda99 commented on #3278
Ok, thank you. Waiting for it!

[2017-06-22 18:50] nickeeromo commented on #156
Just also wanted to voice that an easy way to simply get rid of the button for some http requests would be nice.  Perhaps an annotation could work well?

[2017-06-22 20:21] JimSterling commented on #3274
os: centos-release-7-3.1611.el7.centos.x86_64

node: v6.10.3

npm: 3.10.10

Swagger-ui version: 3.0.15

I can try to svn checkout the repo again. I had done that before, and I can get the build to pass when I npm install inside the tag location for v3.0.15, but I can't when I copy the 3.0.15 tag to my project directory

[2017-06-22 21:21] shockey commented on #3274
@JimSterling, that's interesting. Are you sure you're copying _all_ the files in the cloned directory? Bash `cp` doesn't always copy hidden files (files that start with a `.`), depending on how you do it.

[2017-06-22 21:28] croraf opened #3282 "Swagger UI is sending wrong Accept header [Produces, text/plain, application/json]"
I set `produces ` to `application/json`, and try to use swagger UI to send a get request. But Swagger UI is sending `text/plain` `Accept `header.

![image](https://user-images.githubusercontent.com/19698636/27456391-2f3cef7c-57a1-11e7-9184-36b2170b03be.png)

What is even more strange, in devtools Network tab it is shown that `Accept: application/json` was sent.

![image](https://user-images.github

[2017-06-22 21:28] croraf commented on #3282
Swager-UI Server doesn't consume application/json, try [ ] #2450

[2017-06-22 21:30] croraf commented on #3282
#2450

[2017-06-22 21:40] webron commented on #3282
The other issue was closed because there was no reply from the author.

Have you tried the latest version of swagger-ui?

[2017-06-22 21:42] croraf commented on #3282
Yes, I saw that he didn't reply :(.
I'm using a library that installed swagger-ui. This is the latest v2 of swagger-ui.
Don't know if I can use v3 of swagger-ui as it is major revision change.

[2017-06-22 21:55] croraf commented on #3282
I changed GET to POST and it works fine. It obviously does not recognize to put Accept to correct type for GET.

[2017-06-22 21:58] webron commented on #3282
You can always work around any swagger-ui that's installed via a library. First I would suggest to just clone this repo and run it locally, directing at the API definition generated by that library and see if it works.

[2017-06-22 22:21] croraf commented on #3282
I installed latest swagger-ui instead of the one installed by the library.
1. It complains to update create-react-class to 15.5.3 or newer, I have 15.6.0 or something...
2. It complains UNMET react, I didnt have one. It didint install. I installed manually.
3. It complains UNMET webpack, I didnt have one. It didnt install. I installed latest v2, as directed manually.
Still doesn't work.

Don't rea

[2017-06-22 22:50] webron commented on #3282
I tested with the current UI and the snippet you provided. Both the GET and POST produce the right headers.

[2017-06-22 22:51] croraf commented on #3282
Then maybe the issue is with swagger2-koa library. I referenced the issue there.

[2017-06-23 00:34] olslash commented on #3046
thanks! Will have a look as soon as i get a chance

[2017-06-23 00:35] willin commented on #3275
![wx20170623-083414](https://user-images.githubusercontent.com/1890238/27461790-ccd7210a-5781-11e7-8209-8d68ddf74dcf.png)

like this,

we inject a form to dom, which user can fill in  app key/secret info.

some params need to sign and auto fill in

[2017-06-23 02:08] shockey opened #3283 "Meta: GitHub bots"
GitHub activity has picked up lately, and there have been rumblings of building a bot to help us manage the volume.

#### Feature wishlist

- Bump `label:support` tickets if a core member was the last commenter, and it's been 5 days since the comment. Close them at 10 days.
  - Needs escape sequence so we can tell the bot to ignore certain comments (like if a core member says "putting this on hold

[2017-06-23 02:09] shockey commented on #3283
cc @webron

[2017-06-23 03:33] markkolich opened #3284 "TypeError: Cannot read property 'get' of undefined"
Swagger UI version: `3.0.16`

I must be doing something wrong.

Here's the JS error according to the console (Chrome 59.0.3071.104):

[code]

Here's my `swagger.json` as served by `http://localhost:9001/api/swagger.json` (yes, lots of blank/empty fields, just trying to get something working):

[code]

This does not appear to be a CORS issue &mdash; I'm hosting Swagger UI on the same host/port as t

[2017-06-23 04:18] JimSterling commented on #3274
That might have done it. But I downloded the zip of the master branch, and moved it over using winSCP, and it worked. So I think it might be the "." folders

[2017-06-23 04:31] naveenkavuri opened #3286 "Type for "date-time" property is displayed as "string" Instead of "date" even after setting the dataType attribute"
Hi,

The JSON rendered from Swagger UI displays the type for date-time property as "string". Swagger Documentation states that the type has to be String and doesn't have a special way of showing 'dates' but is there anyway possible that we can change the type from "string" to "date".I have tried hard-coding the type using annotation  #@ApiModelProperty(dataType="date")  but it didn't work. Is ther

[2017-06-23 05:12] webron commented on #3284
OH MY GOD YOU BROKE THE UI!!! :scream:

Just kidding.

So here's the thing... the definition file you provided is not really valid. And by 'not really', I mean pretty much broken. I'd suggest pasting the file into https://editor.swagger.io, fixing the issues and trying again. If the issue persists, let us know.

[2017-06-23 05:13] webron commented on #3274
Great! Does this mean the issue can be closed? ;)

[2017-06-23 05:14] webron commented on #3286
It's not yet supported in the new UI.

[2017-06-23 05:20] #3279 closed

[2017-06-23 06:19] markkolich commented on #3284
@webron \<sigh/>

Yeah, ok.

I confirmed this is caused by my "invalid" `swagger.json` definition.  Per your suggestion I whack-a-mole'd out all of the discrepancies using https://editor.swagger.io.  With all of the kinks ironed out, my "hello, world" example definition is working now with Swagger UI 3.0.16.  Thanks for the pointer.

Fwiw, I'm not using any of the off the shelf tools to generate m

[2017-06-23 11:24] biggates commented on #3189
swagger-ui currently uses [microlight](http://github.com/asvd/microlight) and has a component named `HighlightCode` . I tried to modify it with `highlight.js` and am going through several problems currently:

* highlight.js requires type of language, which is not known yet in this component
* some styles are marked `important` and have to be
* need to find a way to "alter" component and styles as

[2017-06-23 11:52] psylence303 opened #3288 "Cannot fill in a text box with string parameter when there is more than one of them"
Swagger-ui version: latest master
[swagger.yaml.zip](https://github.com/swagger-api/swagger-ui/files/1097665/swagger.yaml.zip)

I have a weird issue in the 'try it out' function: if my request has more than one string parameter, I'm unable to fill in the text box related to this parameter.

There is a video about how it looks: https://www.screencast.com/t/lJnV1nytHCY

Was able to reproduce this bo

[2017-06-23 13:06] nicgirault commented on #2788
I still have the problem with swagger-ui-dist

[code]

[2017-06-23 13:21] naveenkavuri commented on #3286
@webron thanks for the response. When can we expect a new version with the update ?

[2017-06-23 15:02] #3274 closed

[2017-06-23 15:22] webron commented on #3284
It's just a matter of how we serialize the annotations in the Reader classes that we have, or rather how we build the Swagger model classes (which also use uppercase notation) which we then serialize We could add the lowercase values there, but that's not really an issue.

The annotations are meant to help us build the structure, not necessarily a 1:1 translation.

[2017-06-23 16:17] webron commented on #3288
I've tried master in both FF and Chrome and can't reproduce it. Which versions of the browsers do you use? Which OS?

Can you try re-cloning the repo and see if that helps?

[2017-06-23 16:20] webron commented on #3286
No ETA. To set expectations - this is not something we're going to work on soon, but we'll review PRs that add support for it.

[2017-06-23 16:23] markkolich commented on #3284
Eh, fair enough.

Thanks for the help!

[2017-06-23 16:23] #3284 closed

[2017-06-23 16:46] shockey commented on #3235
`v2.2.10` is legacy - our current releases are 3.x 😄

would be happy to look at an accessibility report for our current version, though.

[2017-06-23 19:29] croraf commented on #3282
The issue was related to my use of the library. Issue reference can be found above.

[2017-06-23 19:29] #3282 closed

[2017-06-23 21:02] petejohnson84 opened #3289 "Object property of type boolean is defaulted to false, example value shows true"
- swagger-ui version: 3.0.16
- a swagger file reproducing the issue: Issue can be seen in standard Petstore swagger.yaml (http://editor.swagger.io/#/)

In POST /store/order in body model view, complete property shows boolean with default of false. When switching to example value, it shows complete as true. When using the Try It Out feature it is ideal that complete be set to false.

![screen shot

[2017-06-24 03:27] fuquanli commented on #3268
thank you

[2017-06-24 12:29] chanurahemal commented on #3172
Hi all my friends,
Finally I managed to get it done. As it is obviously something wrong in oauth2 server(ping), I created a proxy server(kind of) using spring boot and called api through it. Everything is working now.
I would like to thank everyone who helped me to get this done for their efforts. I also glad to see that, this ticket I opened initially, opened the gate to fix the issue and now it

[2017-06-24 20:36] jd-carroll opened #3291 "Self is not defined"
- node version
[code]
- swagger-ui version
[code]
- a swagger file reproducing the issue
[code]
Sample file:
[code]

Full stack trace:
[code]

[2017-06-25 04:36] ittaiyam commented on #2031
Any solution yet for multiple operations on the same controller that are separated by query parameters?

[2017-06-26 08:40] psylence303 commented on #3288
Hi!

Was able to reproduce it in Chrome and Firefox, even after clearing the browser cache:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.109 Safari/537.36
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:54.0) Gecko/20100101 Firefox/54.0

My colleague was also able to reproduce it on Ubuntu.

I will try to re-clone the repo...

[2017-06-26 08:52] psylence303 commented on #3288
Ok, after re-cloning from v3.0.17 I cannot reproduce it anymore.

[2017-06-26 08:52] #3288 closed

[2017-06-26 09:29] Cheprer commented on #3088
Using the bundle you can specify parameter 'docExpansion'
[code]

[2017-06-26 10:41] eLvErDe commented on #3149
Hi,

I can confirm the "example" issue on 3.0.12. Download work as expected but the example says "Unknown Type: file".

Regards, Adam.

[2017-06-26 15:28] webron commented on #2031
@ittaiyam it's not supported by the current version version of the spec, and will not be supported in the upcoming one either.

[2017-06-26 18:11] webron commented on #3149
We have a pending PR to resolve the example issue - https://github.com/swagger-api/swagger-ui/pull/3266.

[2017-06-26 18:14] eLvErDe commented on #3149
In the meanwhile, I defined example with a comment describing filename naming and it "hides" the error message.

[2017-06-26 18:40] webron commented on #3088
Thanks, @Cheprer. With the new config option, this issue can be closed.

[2017-06-26 18:40] #3088 closed

[2017-06-26 19:24] shockey commented on #3291
I'm able to reproduce this - thanks for reporting!

[2017-06-26 21:46] petejohnson84 opened #3299 "Required integer query parameter with default 0 invalidates "Try it out" form with value of 0"
- 3.0.16
[code]
Note that removing the default and entering value 0 will allow the form to be submitted without problem.

![screen shot 2017-06-26 at 2 49 15 pm](https://user-images.githubusercontent.com/16767811/27561606-10ec8acc-5a86-11e7-8a83-f4e96917570d.png)

[2017-06-26 22:05] shockey commented on #3291
The problem here is that we're [importing the bundle and Standalone preset](https://github.com/swagger-api/swagger-ui/blob/master/swagger-ui-dist-package/index.js#L1) in the main file for the module.

This is great for people using `swagger-ui-dist` in a webapp (see https://github.com/swagger-api/swagger-ui/pull/3126), but isn't getting along well with Node.

We can't remove the references, becaus

[2017-06-27 00:27] #3256 closed

[2017-06-27 00:28] shockey commented on #3256
This should be fixed in `master`.

Thanks for reporting this bug, @tomjohnson1492!

[2017-06-27 01:17] shockey opened #3300 "Expand information provided in `window.versions`"
More information in `window.versions` would improve the ability to reason about where a build came from.

I'd like to see the following structure:

[code]

[2017-06-27 01:20] #3289 closed

[2017-06-27 02:00] shockey commented on #3233
@kamiKAZIK, apologies for the delay in my reply.

Your change to `param-body.jsx` seems like a step in the right direction - if you'd like to open a PR for this feature, I'd be happy to review it.

To you, and to anyone else considering implementing this feature, here's some prior art on `x-example`: https://github.com/swagger-api/swagger-ui/issues/1980

[2017-06-27 02:21] shockey commented on #3131
@siddamreddy, from the code you provided, it's not clear how you're getting Swagger-UI in the first place.

You're interacting with it via `window.swaggerUi`, which means you probably loaded it via a `<script>` tag, but there's not one that I can see in your snippet.

A good place to start would be to:
- get a copy of the latest swagger-ui (via github, npm, or packagist)
- include `swagger-ui-bund

[2017-06-27 02:27] shockey commented on #3153
Hey @SimCordy, are you still having problems with this? Sorry for my delay.

Editing files in `node_modules` isn't really a good idea (see this [StackOverflow answer](https://stackoverflow.com/a/13302095)), npm does a lot of magic in there.

If you want to include your modified version of `swagger-client` in `swagger-ui`, it'd be best to use [`npm link`](https://docs.npmjs.com/cli/link), like this

[2017-06-27 04:02] owenconti commented on #2915
I found with this definition, all I had to was prefix my key with "Bearer " or "JWT ", etc.

Defintion:

[code]

Header in the request:

<img width="916" alt="screen shot 2017-06-26 at 10 00 15 pm" src="https://user-images.githubusercontent.com/791222/27570404-1ab76b14-5abb-11e7-8b36-ad0b5f2eb13a.png">

It is entirely possible that I am missing something, so please let me know if I am off my rocke

[2017-06-27 05:18] tomjohnson1492 commented on #3256
Awesome! Thanks for fixing this.

[2017-06-27 06:44] webron commented on #2915
@owenconti it's a bit complicated, we can sync up on that.

[2017-06-27 06:53] SimCordy commented on #3153
Hi, yes finally I resolved. The problem was caused by a library that I used in the modified source code, so I made some changes and then it worked.
In order to incorporate my modified swagger-js into swagger-ui, I have followed those steps:

- Build the swagger-js library with npm run build;

- I have replaced the node_modules/swagger-client/dist folder in the  in the swagger-ui folder, with the d

[2017-06-27 11:09] nevercodealone opened #3301 "content-type not working"
I my api application i can not find the content type in headers

[code]

[2017-06-27 12:19] juanda99 commented on #3278
Error fixed  with 3.017

[2017-06-27 12:19] #3278 closed

[2017-06-27 12:39] owenconti opened #3302 "Boolean parameters passed via query string are interpreted as strings instead of booleans"
Version:
3.0.17

Swagger file:
any file will reproduce this issue

Expected:
Passing "true" or "false" as query strings are parsed as booleans into boolean configuration fields.

Result:
"true" or "false" query strings are interpreted as strings, resulting in the following error (in dev):

[code]

URL used to create error: `http://localhost:3200/?displayOperationId=true`

[2017-06-27 13:26] owenconti commented on #3299
I have a PR for this. Just need to add a couple tests before I submit it.

[2017-06-27 15:52] webron commented on #3301
The issue isn't clear. What steps are you taking, what result do you see, and what do you expect to see?

[2017-06-27 16:22] RoyHP commented on #3145
@webron I see this on the online editor [http://editor.swagger.io/](http://editor.swagger.io/)

[2017-06-27 16:22] bimalyn-IBM commented on #2975
Yes, I am still experiencing the same issue.

I can `git checkout tags/v2.2.10` and everthing is fine and then I `git checkout tags/v3.0.10` and it stops working. I just get back a `TypeError: NetworkError when attempting to fetch resource.`

I noticed that in the curl command line that the for `3.0.10` the `--header 'Authorization: Basic XXX'` is omitted.

[2017-06-27 16:31] webron commented on #3145
This issue was moved to swagger-api/swagger-editor#1382

[2017-06-27 16:31] #3145 closed

[2017-06-27 16:38] webron commented on #2975
Can you first retry with the latest version?

[2017-06-27 16:57] bimalyn-IBM commented on #2975
Sorry I misread the tags. So with version `3.0.17`, I get `😱 Could not render this component, see the console.`

Console:
[code]

[2017-06-27 17:08] thales-gaddini commented on #2969
Hi webron,

In your example, "id" will appear in the Models. Is there a way to prevent that? Or some other way to make a reusable "object" that is not exposed in the UI?

Thanks!

[2017-06-27 18:05] webron commented on #2969
Not OOTB. At some point we plan on introducing a way to hide all models, but not some. You can always write your own plugin to support any behavior you want.

[2017-06-27 22:44] shockey commented on #3229
Looking at this again, I may have misinterpreted the intent. I would be open to a namespace in the main configuration object that allows for options meant for a specific plugin.

We already have `custom` for this purpose (see #3108) formalizing it further would be nice.

My main concern is how to set defaults for config options. It's a handy feature that we use in the core configs for many things.

[2017-06-27 22:57] shockey commented on #3153
Awesome, glad you got it figured out.  Feel free to open a ticket with any other questions you have.

Thanks for using Swagger!

[2017-06-27 22:57] #3153 closed

[2017-06-28 00:41] jaydreyer opened #3305 "Thanks!"
Not an issue but a thank you. We integrated the latest swagger-ui into our developer portal about 3 weeks ago and we've received a lot of great, positive, unsolicited feedback. The new look is really nice, and there are a lot of really cool features that have helped out our consumers. Getting the curl with one click is just one of them. The customization features have been great, too. I've been ab

[2017-06-28 00:43] fehguy commented on #3305
@jaydreyer thanks for taking the time to write this.  It really helps the team feel good about the hard work they put into this project!

[2017-06-28 06:05] webron commented on #3305
@jaydreyer Thanks! It's feedback like this that keeps us going 😄

[2017-06-28 06:09] webron commented on #2891
This is now implemented via #3261.

[2017-06-28 06:09] #2891 closed

[2017-06-28 08:08] nevercodealone commented on #3301
The problem is that the POST on the getData route as no content-type in the header information. I use a silex php API and use

`if (0 === strpos($request->headers->get('Content-Type'), 'application/json')) {...}`

on the beginning. When i check this part with xdebug there is no content-type set. So my application can not read the data from the request.

[2017-06-28 08:39] craigcoles commented on #3010
@supsup It would be good to set an API Key from init, like [oAuth](https://github.com/swagger-api/swagger-ui#oauth2-configuration).

[2017-06-28 09:46] zyv commented on #2891
Wow, awesome, thank you guys, will have a look into it!

[2017-06-28 10:45] sigint76 commented on #2502
@vandana09 did you resolve the 406 problem?

[2017-06-28 11:10] soulkoden opened #3308 "It's possible to configure nested model in query string?"
I have a model description in query string.

Example query:
```curl -X POST /my-api?objects[0][id]=2&objects[1][id]=40```.

Configuration:

[code]

It's possible to configure in Swagger UI on annotations at this time? Type `object` with model description is no allowed for `query` or did I misunderstood it?

I correctly understand that this is done using the `@Property` inside `@Items`? If so, how

[2017-06-28 11:16] owenconti commented on #3101
hey @ponelat, are you still able to reproduce this on http://editor.swagger.io/?

When following steps in the OP, this is my request payload:

[code]

[2017-06-28 13:53] ponelat opened #3309 "Required File Inputs, do not shake when trying to execute."
When trying to execute an operation, any required parameters have a visual indication that they're missing. They _shake_ (ie: they are animated).

But missing file parameters ( that are required ). Do not.

[code]
Steps:
- Try to execute a request, without touching any parameters.
- You'll see the `testJSON` parameter shake.
- Add some input to the `testJSON` parameter.
- Try to execute the operat

[2017-06-28 13:53] ponelat commented on #3101
Hey @owenconti!

yeah, that looks to be ok. Two issues I came across while verifying...
1. No indication, if you try to `Execute` without providing a file ( it should shake, or something )
2. The OP had a host for `smartbear.com`, which given the test endpoint shouldn't work but should show something... the result...
![image](https://user-images.githubusercontent.com/8438485/27640161-c0a7abc0-5c18

[2017-06-28 14:05] #3101 closed

[2017-06-28 14:32] siddamreddy opened #3310 "how to validate swagger if it is having script tags"
When reporting an issue, please provide the following details:
- swagger-ui version 3.0.13
- a swagger file reproducing the issue

How can we validate if swagger is having <script></script> tags inside.

[2017-06-28 14:58] siddamreddy opened #3311 "how to handle exception in swagger 3.0.13"
When reporting an issue, please provide the following details:
- swagger-ui version -- 3.0.13
- a swagger file reproducing the issue

How can we handle exceptions if throws swagger. any example it would appreciate

[2017-06-28 15:16] webron commented on #3301
The header is there, although in lowercase (headers are case-insensitive). Check your browser's network console when you execute the call and you should see it there. It seems like the problem is with your code.

[2017-06-28 15:18] webron commented on #2891
This is thanks to @supergibbs's generous contribution 😄

[2017-06-28 15:21] webron commented on #3308
Version 2.0 of the spec doesn't support it, the next version of the spec will.

[2017-06-28 15:21] #3308 closed

[2017-06-28 15:22] santoshghalsasi commented on #3166
Hi,
Can you please let me know when the fix for this will be pushed.

Regards,
Santosh

[2017-06-28 15:23] webron commented on #3310
The question isn't clear. What do you mean?

[2017-06-28 15:23] webron commented on #3311
Again, the question isn't clear. What do you mean?

[2017-06-28 15:25] shockey commented on #3166
I'm working on it now, @santoshghalsasi.

It'd be helpful if you could share a spec that causes the problem, and shared how you use Swagger-UI (via swagger.io, via static files, or via npm). Thanks!

[2017-06-28 15:30] nevercodealone commented on #3301
No it is not there - here are screens from xdebug and console - on postman everything is fine

<img width="799" alt="console" src="https://user-images.githubusercontent.com/17619862/27645808-5a23e148-5c27-11e7-835b-3f258e8c715d.png">

![xdebug](https://user-images.githubusercontent.com/17619862/27645817-60202692-5c27-11e7-8249-d5cb6f39ba5f.png)

[2017-06-28 15:36] santoshghalsasi commented on #3166
Hi @shockey,
Thank you for your reply. I have posted the details of the exercise that we are trying to do and the problem faced on the swagger community - https://groups.google.com/forum/#!searchin/swagger-swaggersocket/sharepoint%7Csort:relevance/swagger-swaggersocket/uVrQnRrB-0M/u7TZjohOAAAJ

We are using static files(I guess that is what you mean when we copy the swagger UI files and use it som

[2017-06-28 15:48] pg26 commented on #1605
+1 also having issue with corrupt file

[2017-06-28 15:52] webron commented on #3301
Check the request itself, it's probably an OPTIONS call and not a POST. This is the preflight request done by your browser. If it doesn't work, it suggests that you haven't enabled CORS in your app.

[2017-06-28 15:57] nevercodealone commented on #3301
CORS are enabled

`$app->register(new CorsServiceProvider, array(
    "cors.allowOrigin" => "http://something.dev",
    "cors.allowMethods" => "GET, POST, OPTIONS"
));`

Otherwise nothing would work. And on postman everything works fine

<img width="603" alt="bildschirmfoto 2017-06-28 um 17 57 08" src="https://user-images.githubusercontent.com/17619862/27647270-3f4dcdc6-5c2b-11e7-80bf-bd8723a1c271

[2017-06-28 16:06] webron commented on #3301
Postman doesn't require CORS to be enabled.

That piece of code doesn't mean anything to me. Can you take a screenshot of your entire network console when you execute the call?

[2017-06-28 16:26] dwickern commented on #2834
👍  The `docExpansion` setting supports 'list' (expand both tags and models) or 'none' (expand neither tags nor models). It would be nice to have a new setting to expand tags but not models

[2017-06-28 16:36] nevercodealone commented on #3301
Tomorrow i will do

Am 28.06.2017 6:06 nachm. schrieb "Ron" <notifications@github.com>:

Postman doesn't require CORS to be enabled.

That piece of code doesn't mean anything to me. Can you take a screenshot
of your entire network console when you execute the call?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/swagger

[2017-06-28 18:01] ppKrauss opened #3313 "Option to take off the advertaising bar at dist\index.html"
There are a simple way to take off the green "swagger explorer" bar from the index?

[2017-06-28 19:57] webron commented on #3313
Do you mean https://github.com/swagger-api/swagger-ui#topbar-plugin?

[2017-06-28 20:07] ppKrauss commented on #3313
Hi @webron, thanks, seems what I need (!), but how to copu/paste the `let` instruction into `dist/index.html`?  I need to test to solve...

See better explanation here https://stackoverflow.com/q/44803881/287948

[2017-06-28 20:25] webron commented on #3313
You would need to build the project. We currently don't offer it as a configuration, see #3229.

[2017-06-28 20:36] ppKrauss commented on #3229
Hi, the [instructions at README](https://github.com/swagger-api/swagger-ui#topbar-plugin), *".. remove Topbar plugin from presets..."* (commenting `// TopbarPlugin`) are not working.  There are **a workaround for remove the TopBar**?

PS: ideal is to remove the "false instruction" from README.

[2017-06-28 20:43] northk opened #3314 "How to remove Authorize and Try it Out buttons"
Greetings Swagger UI team,

Is there a way to tell Swagger UI not to render the Authorize and Try it Out buttons, during construction of the SwaggerUIBundle object? I've tried to simply remove the buttons using CSS display:none but I'm integrating with Drupal and I can't get my custom CSS to apply after all the other CSS. I've also tried removing those buttons using Javascript but it's tricky sinc

[2017-06-28 20:53] webron commented on #3314
We don't have support yet for the `supportedSubmitMethods` flag in the 3.X version, so there's no easy way to hide these things.

[2017-06-28 20:57] northk commented on #3314
Thanks for the quick response. This is a feature I'd like to see added. Thanks for your consideration.

[2017-06-28 21:01] webron commented on #3314
It would depend a lot on user contributions. We don't have the capacity to implement everything right now, but we do our best to review PRs as they come in.

[2017-06-28 21:06] shockey commented on #3313
@webron is correct, `npm run build` is necessary to update the dist files once you've made a change in `/src`.

If building the project is a significant burden on you, see this comment I made in April for a way to disable the Topbar via the plugin system at runtime: https://github.com/swagger-api/swagger-ui/issues/2813#issuecomment-291397667

[2017-06-28 21:20] #3110 closed

[2017-06-28 21:36] ppKrauss commented on #3313
Thanks @shockey and @webron!

Ok, I will run at my server... It is so complex, comparing with simple HTML generation :-)

[Can I change the port and use as proxy with NGINX?](https://stackoverflow.com/q/44812605/287948)

[2017-06-28 21:46] shockey commented on #3313
@ppKrauss, it is a little complex, but we have loftier goals than generating static HTML 😄 The way we've constructed Swagger-UI allows for a lot of dynamic customization and modularity, which wouldn't be possible with a static HTML generator.

As for your docker question, the Swagger-UI container will always expose container port 8080 unless you change the Dockerfile itself (and you probably shoul

[2017-06-28 22:55] ppKrauss commented on #3313
@shockey , thanks again, it is working fine!

Can I add a [Wiki "for dommies"](https://github.com/swagger-api/swagger-ui/wiki/For-dummies,-part-1:-installing-as-proxy-at-your-Nginx)? We have material here :-)

Well... to be usefull after all this work, the next challenge is to rebuild and run docker with it...  Ok, start cloning and changing Javascript... How to rebuild *with no errors?*    `npm r

[2017-06-29 00:43] tleyden commented on #3229
@ppKrauss if it helps, I was able to get it to work.  Check out: http://cecil-assets.s3-website-us-east-1.amazonaws.com/swagger/ and do "view source"

[2017-06-29 08:41] nevercodealone commented on #3301
So here we go...the 500 comes because the application can not read any data

![bildschirmfoto 2017-06-29 um 10 32 55](https://user-images.githubusercontent.com/17619862/27678964-6b1d2244-5cb7-11e7-93ab-361a942bdc2d.png)

[2017-06-29 09:26] goinggood commented on #3291
\swagger-api-doc\swagger-ui-bundle.js:73
j.default)("JSONRefError",function(e,t,n){this.originalError=n,(0,T.default)(this,t||{})}),L={},z=new C.default,q={key:"$ref",plugin:function(e,t,n,r){var u=n.slice(0,-1),c=r.getContext(n).baseDoc;if("string"!=typeof e)return new B("$ref: must be a string (JSON-Ref)",{$ref:e,baseDoc:c,fullPath:n});var l=a(e),p=l[0],h=l[1]||"",d=void 0;try{d=c||p?i(p,c):null

[2017-06-29 09:39] santoshghalsasi commented on #3166
Hi @shockey,
Can you please let me know by when will you be fixing this.

Many Thanks,
Santosh

[2017-06-29 15:32] webron commented on #3301
That's still a CORS issue as it's an OPTION call. I have no idea why your web server is returning 500 for that, you'd need to investigate it.

[2017-06-29 17:03] nevercodealone commented on #3301
Ok for now i use Slate for API doc. So I do not know when I can check this.
Every client application and postman is working fine. Only swagger is not
working. So it was easier to change the docu system. You can close the
ticket, when you belive the issue is on my side ;)

But the issue is that swagger is not sending the header information. That
do you also see on the last screen.

2017-06-29 17:32

[2017-06-29 17:26] webron commented on #3301
There's no need to send the Content-Type header for OPTIONS call, there's no payload.

[2017-06-29 18:56] nevercodealone commented on #3301
Ok maybe you do not understand the problem. I want to do a post request. For this i need the content-type in the headers

`paths:
  /getData:
    post:`

As you see in the first post

[2017-06-29 19:09] webron commented on #3301
I know you want to do a POST request. But before you can, the preflight OPTIONS has to succeed (as a CORS requirement) and that fails. It's got nothing to do with the `content-type` header of the POST request.

[2017-06-29 19:20] shockey commented on #3166
Hey folks,

No promises on a timeline, but I'm working on this today. I think I've gotten to the bottom of it.

I'm only able to reproduce this by loading a spec with the text input in the Explore bar. Loading the spec via config should let you work around this problem.

@santoshghalsasi and @pjfanning: are you loading your specs by pasting the URL into the Explore bar? If so, can you try loading

[2017-06-29 19:22] nevercodealone commented on #3301
Ok thanks - you can close the ticket

2017-06-29 21:09 GMT+02:00 Ron <notifications@github.com>:

[2017-06-29 19:42] pjfanning commented on #3166
@shockey In a quick test with http://petstore.swagger.io, I seem to see the behaviour that you describe. My swagger json only has HTTPS scheme (but the swagger.json itself is fetched from a HTTP endpoint).
Entering swagger.json URL into the text box, seems to lead to the HTTPS scheme being ignored. Using the http://petstore.swagger.io/?url=http://localhost:8080/api-docs/swagger.json approach, seem

[2017-06-29 19:52] shockey commented on #3166
Great, you should be able to lean on that as a workaround while we get this patched.

It looks like Swagger-UI is passing a bad value for the scheme dropdown once a second spec is loaded into the UI - it incorrectly hangs onto the value from the first spec. We give the scheme dropdown priority when we decide what scheme to use for a Try-It-Out request, so that bad value overrides all other indicat

[2017-06-29 19:54] #3301 closed

[2017-06-29 20:36] #3166 closed

[2017-06-29 20:38] shockey commented on #3166
This should be fixed in `master`.

Please note that the changes won't be live on Petstore or in the distributed packages until we do our next release, which will be next week.

If you need this fix ASAP, you can clone the repository and build the project for your own use.

Thanks for the help with identifying this, @pjfanning and @santoshghalsasi!

[2017-06-29 22:32] shockey commented on #3302
I agree with the sentiment here, but note that if we make this change it could break current implementations that rely on `"true"` or `"false"`.

[2017-06-29 22:36] webron commented on #3302
There aren't too many config options so we can check what makes sense. There's always a problem transferring non-string values as query parameters (like numbers, booleans). We can always say that if a stringified value is valid as well, it needs to be quoted to tell the difference.

[2017-06-29 22:43] #3136 closed

[2017-06-29 22:53] #2947 closed

[2017-06-29 23:37] shockey commented on #3302
Another place this bubbles up is with the config defaults: for example, consider `displayOperationId`.

The default is `false: Boolean`. If I were to set it to false explicitly via query parameter, like so:

http://petstore.swagger.io/?displayOperationId=false

... operationIds are displayed, because the value of the option is now `"false": String`. As we know, non-empty strings in JS are truthy,

[2017-06-30 00:18] #3135 closed

[2017-06-30 00:27] #3072 closed

[2017-06-30 00:31] shockey commented on #2986
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-06-30 00:31] #2986 closed

[2017-06-30 00:32] shockey commented on #3011
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-06-30 00:32] #3011 closed

[2017-06-30 00:33] shockey commented on #3086
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-06-30 00:33] #3086 closed

[2017-06-30 00:34] shockey commented on #3171
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-06-30 00:34] #3171 closed

[2017-06-30 00:34] shockey commented on #2726
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-06-30 00:34] #2726 closed

[2017-06-30 03:08] ksuvarna34 opened #3318 "swagger 2.0 apikey authorization"
I am trying to set api key but the Swagger 2.0 UI does not reflect the header info in the curl.

window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
    url: "http://petstore.swagger.io/v2/swagger.json",
    dom_id: '#swagger-ui',
    onComplete: function(swaggerApi, swaggerUi, initOAuth){
  	  $("pre code").each(function(i, e) {hljs.highlightBlock(e)});
    var authKey

[2017-06-30 07:55] shockey commented on #3083
### Status update on changes

Done:

![image](https://user-images.githubusercontent.com/680248/27723528-76b4fd0a-5d22-11e7-92ac-0a2e6d769437.png)

---

Link headers have been annihilated.

---

Fixed:

![image](https://user-images.githubusercontent.com/680248/27723658-03be6a92-5d23-11e7-836b-7a3fdf594cdd.png)

---

Fixed:

![image](https://user-images.githubusercontent.com/680248/27723769-7d8e896a

[2017-06-30 09:37] codisan opened #3319 "swagger filter is not working"
I want to search API by path,
so I input the specify path in the topbar search textbox,
this is my input: http://petstore.swagger.io/v2/swagger.json/pet

but the serach  result is : Failed to load spec.

[2017-06-30 09:57] zem83 commented on #3318
I init my Swagger UI
`const ui = SwaggerUIBundle({
	url: '',
	dom_id: jqDom_id,
	presets: [
		SwaggerUIBundle.presets.apis,
		SwaggerUIStandalonePreset
	],
	plugins: [
		SwaggerUIBundle.plugins.DownloadUrl
	],
	layout: "StandaloneLayout",
	validatorUrl: null,
	operationsSorter: "alpha"
})
window.ui = ui`

When I load the page with the swagger UI documentation, I preload my authorization value into

[2017-06-30 10:31] santoshghalsasi commented on #3166
Hi @shockey,
Thank you for the fix and glad that I could contribute in some way. :) I have not used github much so don't know the process to build the project. Will try to read around and see how that is done.

Regards,
Santosh

[2017-06-30 12:12] ppKrauss commented on #3229
Thanks @tleyden!  With your clues I am building an "alternative swagger-ui" of *pure HTML* (and no TopbarPlugin) at https://github.com/okfn-brasil/swagger-ui-html

[2017-06-30 14:08] ksuvarna34 commented on #3318
Thanks for the reply. I tried using ui.authAction.authorize but it still doesn't take effect.
Am I missing any js files? Or something else?

<script src="js/swagger-ui-bundle.js" type="text/javascript"></script>
<script src="js/swagger-ui-standalone-preset.js" type="text/javascript"></script>

window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
    url: "http://localhos

[2017-06-30 14:26] zem83 commented on #3318
Maybe depends on the wrong name of your authorization spec? Are you sure that is 'api_key'?
Try to have a look at the issue #2915 (the third comment of fernandocamargoti)

[2017-06-30 16:09] ksuvarna34 commented on #3318
Thanks zem83. I couldn't get the Header Bearer token to work but the access_token with query works for now with ui.authActions.authorize().
I should be able to get the header working too. Something to do with my securityDefinitions I guess.

[2017-06-30 16:20] zem83 commented on #3318
Good :)

[2017-06-30 16:48] pohckuan opened #3321 "Omit host&basepath from spec"
This is what I have in my load-api.json file,
is there a way to put a dynamic host and basePath in this file instead of the spec?

window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
    url: "xxxxxxxxxx",
    dom_id: '#swagger-ui',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.Down

[2017-06-30 19:20] dballance opened #3322 "Intention of locked vs unlocked for authorize-operation-btn?"
Swagger UI version: 3.x

Images used to denote authorization seem backwards to me - can anyone shed some light on the intention here? As it is right now, they start unlocked and transition to locked after authorization. Makes more sense to me that they would begin locked and transition to unlocked after the user authorizes.

Before authorizing
![image](https://user-images.githubusercontent.com/123

[2017-07-01 06:34] deepa456 commented on #3086
I am using Swagger UI 3.0 which comes with SwaggerUIBundle. My code is the same as example one in dist folder.

window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
    url: "my_spec_address",
    dom_id: '#swagger-ui',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],

[2017-07-02 17:04] kogalex commented on #3022
@realchrisolin another workaround - This one actually displays in the same order that is in the "tags" array, adding any additional tags (that were not declared) afterwards [here](https://github.com/kogalex/swagger-ui/tree/orderTagsProperly)

[2017-07-02 18:50] julienkosinski opened #3325 "Recursive rendering needs work"
Hello,

- swagger-ui version 3.0.17
- a swagger file reproducing the issue : https://gist.githubusercontent.com/julienkosinski/287a3b77e25a6ca3e6f7a0293bea4e3d/raw/fd94d4f1457ccbaa538f27996dba5d077d9c6f36/gistfile1.txt

I have the following model definitions spec:

[code]

In the `Feature` model, the `Equipments` property is defined as an array of `Equipment` models, but Swagger UI 3.x renders it

[2017-07-03 00:17] kumarz commented on #1658
@Paul776 : I am facing the same issue, can you please let me know, how you resolved it ? if you change the lastest version. what is the version that you upgraded to ?

[2017-07-03 00:57] heldersepu opened #3326 "Shemes dropdown should be hidden if there is only one option"
The Shemes dropdown should be hidden if there is only one option.
The ```<div class="scheme-container">``` takes close to 100px of prime screen "real estate" and there is no use for it if there is only one option in the dropdown

- swagger-ui version
3.x
- a swagger file reproducing the issue
http://turoapi.azurewebsites.net/swagger/docs/V1

[2017-07-03 01:36] heldersepu commented on #3233
@kamiKAZIK I use examples too but just the regular examples (not the "x-examples" never had a need for those) and they do work on v3.x.

Take a look here:
http://swashbuckletest.azurewebsites.net/swagger/ui/index
find the  /api/Dictionary

![image](https://user-images.githubusercontent.com/545474/27775252-616f0e60-5f6e-11e7-9cbe-44e1699d927c.png)

[2017-07-03 03:38] shockey commented on #3326
I think it's still useful as an indicator of the scheme - without it, you'd need to execute a request to see the scheme being used.

[2017-07-03 04:20] shockey commented on #3166
@santoshghalsasi No worries. Here's an overview:

You'll need `git`, `node` 6 or newer, and `npm` installed on your system.

- Clone the swagger-ui repository
- Make sure you're on the master branch (you should be by default)
- run `npm run build`

Unless you run into some errors, you should end up with some fresh files in the `dist` folder of the repository you cloned. You can open up the `index.

[2017-07-03 09:36] Calrain commented on #3234
Can close this request.

I've had to downgrade to Swagger-UI 2.x, it works very well with Azure OAuth integration with automatic Bearer token insertion.

Look forward to when Swagger-UI 3.x improves OAuth integration!

[2017-07-03 09:36] #3234 closed

[2017-07-03 10:43] santoshghalsasi commented on #3166
@shockey - Thank you for the direction. I could get it imported and make it work. I can now see that the URL is being constructed with 'https'.

Thanks,
Santosh

[2017-07-03 11:19] santoshghalsasi commented on #3166
Hi @shockey - I am seeing a special character 'A' embedded at the end of each parameter name in the UI like below for my specs  -
AuthorizationÂ *required
string

It was not there previously. Can you please see what is causing this in the latest fix?

Thanks,
Santosh

[2017-07-03 12:46] heldersepu commented on #3326
But is it worth the prime space?
![image](https://user-images.githubusercontent.com/545474/27793392-d460e5e4-5fcb-11e7-91c9-fdd5abac3127.png)
Maybe it should be combined on the same row as the title...

[2017-07-03 15:24] webron commented on #3326
It's there for documentation purpose and will not be hidden by default. The bar is also used to show authentication if that exists. You're welcome to customize the UI and remove it if you'd rather not show it.

[2017-07-03 15:24] #3326 closed

[2017-07-03 15:42] denyseflo opened #3327 "Swagger-ui not accepting JSON security prefix"
Hello !
I'm using Swagger-ui version 3.0.17 but for security reasons, I have a JSON prefix (")]}',\n") on every HTTP requests.
So when I try to load the Swagger-ui interface with the link http://baseUrl/swagger/index.html , I get an error :
![swagger error](https://user-images.githubusercontent.com/12645814/27798592-21164dac-6012-11e7-841c-50f6c9b6fe8c.png)

If I click on the "error {...}" button,

[2017-07-03 16:09] webron commented on #3327
We don't support this right now. Either exclude it from your config, or load the YAML variant instead.

[2017-07-03 16:35] shockey commented on #3166
@santoshghalsasi, I opened the spec that you provided and I'm not seeing that happen:

![image](https://user-images.githubusercontent.com/680248/27801411-be2e6268-5fd2-11e7-95e4-d8671f81618c.png)

If this is happening consistently, please consider opening a [new Github issue](https://github.com/swagger-api/swagger-ui/issues/new) that better describes how to reproduce the problem. Screenshots would

[2017-07-03 16:39] webron opened #3328 "allOf required property not composing properly"
_From @baynezy on July 3, 2017 13:46_

If you take the following swagger definition:-

    {
        "swagger": "2.0",
        "info": {
            "title": "An API Definition",
            "version": "0.1"
        },
        "paths": {
            "/users": {
                "post": {
                    "operationId": "getUser",
                    "produces": [
                        "applica

[2017-07-03 18:33] heldersepu commented on #3028
@webron
Here is one more example use of the onComplete:
https://github.com/domaindrivendev/Swashbuckle/blob/master/Swashbuckle.Core/SwaggerUi/CustomAssets/index.html#L79

I'm updating Swashbuckle to swagger 3.x and without onComplete we wont be able to inject customScripts as we did in 2.x

[2017-07-03 18:52] heldersepu opened #3329 "Duplicate CSS"
- swagger-ui version
3.x
- a swagger file reproducing the issue
http://petstore.swagger.io/

I'm in the process of updating Swashbuckle with swagger-ui 3.x an I noticed that the CSS for the ```input.download-url-input``` shows duplicate style in the developer tools, it seems one is from a <style> in the body and the other from the .css file.

![image](https://user-images.githubusercontent.com/5454

[2017-07-03 19:43] dunglas commented on #3028
Here is a more complete example using `MutationObserver` to control SwaggerUI programmatically: https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/Resources/public/init-swagger-ui.js#L30-L58

[2017-07-03 20:53] shockey commented on #3079
Hi @dev-kang, sorry for the delay.

Currently, there's no official interface for automatically providing the information to Swagger-UI, but there are discussions and workarounds for this in these threads:

- https://github.com/swagger-api/swagger-ui/issues/2915
- https://github.com/swagger-api/swagger-ui/issues/3260

[2017-07-03 20:55] shockey commented on #3260
Closing this support ticket due to inactivity.

The feature discussed here is, by my estimation, covered in this feature ticket: https://github.com/swagger-api/swagger-ui/issues/2915

Feel free to comment or request a reopen if there are any lingering concerns.

[2017-07-03 20:55] #3260 closed

[2017-07-03 20:56] shockey commented on #3131
Closing due to inactivity - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-03 20:56] #3131 closed

[2017-07-03 21:01] rjakes opened #3330 "Required body parameters are not marked as such"
Swagger UI 2.2.8

It looks like Swagger UI 2.2.8 doesn't mark body parameters as required, though Swagger Editor does. Apologies if it's been logged, I can't seem to fund much on it.

Roger

![screen shot 2017-07-03 at 12 21 57 pm](https://user-images.githubusercontent.com/2447356/27807572-8a5169da-5ff6-11e7-9020-2262fd728cbc.png)

![screen shot 2017-07-03 at 12 21 40 pm](https://user-images.githu

[2017-07-03 21:42] webron commented on #3330
It's in bold, and says it's required in the text box. What's missing?

[2017-07-03 21:44] rjakes commented on #3330
Only three of the parameters that are coming in via the body are required, as shown in the red asterisks in the image of the editor.

[2017-07-03 22:00] webron commented on #3330
So not parameters, properties. If you look in the model view, the are _not_ marked as `optional`.

[2017-07-03 22:16] rjakes commented on #3330
I can't expect API consumers to pick up on that, since I missed it myself.  However, I did figure out how to document it with a multi line description.

Apologies for the incorrect terminology. It's confusing, because the exact same thing is a parameter, were we to use formData instead.

Thanks for your time!

[2017-07-03 22:23] webron commented on #3330
It's clearer in 3.X. Upgrade, and you shouldn't have the problem.

[2017-07-03 22:30] shockey commented on #3046
@olslash, bump 😄 let me know if you get a chance to give this a try.

[2017-07-03 23:00] webron commented on #3322
Maybe the lock itself is not the best icon, but the current implementation is as intended. It's open when you're unauthenticated, and closed when you've supplied the authentication details.

[2017-07-03 23:02] webron commented on #3321
It's not implemented yet. Please follow https://github.com/swagger-api/swagger-js/issues/1045 for progress.

[2017-07-03 23:02] #3321 closed

[2017-07-03 23:04] webron commented on #3319
swagger-ui doesn't work that way, there's no search functionality.

[2017-07-04 00:36] #3022 closed

[2017-07-04 01:41] shockey commented on #3083
@webron bump - need more info on `Links styling needs to be fixed`

[2017-07-04 02:24] #3330 closed

[2017-07-04 04:59] sudeshgutta commented on #1605
+1

[2017-07-04 05:51] pwen090 commented on #1605
+1 binary file being doubled and corrupted. Using Swashbuckle.AspNetCore 1.0.0.

[2017-07-04 08:57] starinfor opened #3333 "Values to ApiImplicitParam/ApiParam"
swagger-ui version = 2.0

Can there be dynamic values for ApiImplicitParam/ApiParam under allowedValues ?

[2017-07-04 09:04] hkosova opened #3334 "Duplicate arrows in comboboxes in Chrome and Firefox"
Swagger UI version: 69420d8559976462279dba5dc3cf7e26c163aedd / master as of July 4 (but 3.0.17 release did not have the issue)
Chrome 59, Firefox 54 on Windows 7

All combo boxes (for `schemes`, MIME type, enums, `urls`, etc.) have duplicate arrows:
![combobox-arrows](https://user-images.githubusercontent.com/8576823/27822927-06a4dc60-60b0-11e7-911c-61596a29244e.png)

In 3.0.17, `<select>` had the

[2017-07-04 10:13] mksmanjit opened #3335 "how to customize swagger UI 3.0.14 to add your own logo and color combination"
In my Java Project we used swagger UI for REST API documentation earlier we used swagger version 2.2.10-1 and did customization on logo and color combination but when we see that swagger latest version is there so we tried to update our system to the latest version of swagger UI i.e 3.0.14 but it structure is completely different from the previous one and it has some bundle things and all, i find

[2017-07-04 10:18] santoshghalsasi commented on #3166
@shockey, We had done some changes in the index.html file in order to make it work properly on the sharepoint and pick and load the specs dynamically. I added the encoding configuration(given below) in that file and it seems to have resolved the problem. I will let this tested by my team and will get back to you in case we need any more info. I hope addition of this encoding configuration is fine

[2017-07-04 10:31] homerjam commented on #3291
+1

[2017-07-04 17:09] shockey commented on #3291
This should be fixed next time the projects are released - I wrapped the require calls for the SwaggerUIBundle and SwaggerUIStandalonePreset in a try/catch in #3336, which should keep the whole module from exploding when that happens in a Node context.

I'll close this issue once the projects are released with a fix - once that's done, I invite everyone that has commented to update if the issue is

[2017-07-04 19:19] emckean opened #3337 "sending API key as query parameter?"
In swagger-ui 2.0 this works to add an api key as a query param:

[code]
In swagger-ui 3.0 I think that this *should* be the right syntax but it does not add the api key as a query param:

`ui.authActions.authorize({api_key: {name: "api_key", schema: {type: "apiKey", in: "query", name: "api_key"}, value: '<%=data.config.developerKey%>'}});`

The security definition in the OAS spec is:

[code]
What

[2017-07-04 23:08] banders commented on #3036
We are also eager to customize the look & feel of swagger-ui 3 for our project.  We are embedding swagger-ui within another web app, and we require a swagger-ui look & feel that works a bit better within the limited screen real estate we have available for it.  Ideally we would like to re-skin swagger-ui without modifying core code so it is easy to stay up-to-date with the latest version of swagge

[2017-07-05 02:11] owenconti commented on #3328
I have a fix for this issue in the swagger-js repository. You can track the PR here: https://github.com/swagger-api/swagger-js/pull/1101

[2017-07-05 02:44] shockey opened #3338 "OAS 3.0: Try-It-Out"
⚠️ _Ticket content is a work in progress._

This ticket tracks line items related to the interactive execution of OAS 3.0 specs. It does not include line items related to static rendering, or any UI changes to support the Editor experience.

### TODO

- [ ] Render reorganized securityDefinitions **3h/Low**
- [ ] Render `servers`
- [ ] Add UI for modifying server variables, and a mechanism for prov

[2017-07-05 02:45] shockey commented on #3338
cc #3083

[2017-07-05 03:06] julycw opened #3339 "Is possible to add a api path catalog?"
I have too many api paths, thus hardly to find exactly one, PLEASE!

[2017-07-05 09:18] songtianyi commented on #1117
+1
what the heck?!
Why swagger ui didn't show all the headers which can be seen in web dev tools?

[2017-07-05 09:24] songtianyi opened #3340 "Some headers not show in Try it out response"
- swagger-ui 3.0.17
- swagger.json
[code]

I can see the headers in chrome web dev tools, but swagger-ui just didn't show it out!!

[2017-07-05 11:10] krishnachaitanya511 opened #3341 "Swagger UI showing empty screen with the JSON file"
When reporting an issue, please provide the following details:
- 2.X
[index.html.txt](https://github.com/swagger-api/swagger-ui/files/1124408/index.html.txt)

I have a list of APIs in a swagger file. I tried opening the URL using the browser but it's showing an empty screen with the JSON file. But If I use the YAML it's working and showing the APIs.

Could someone please help me with this issue?

[2017-07-05 13:42] DavidBiesack commented on #1117
@songtianyi Please note that this issue has been fixed in Swagger UI, in Dec 2015 via d919a5e . If you still see this, please download the most recent Swagger UI.

[2017-07-05 15:24] webron commented on #3333
There's no swagger-ui version 2.0, that's the version of the spec.
Based on your question, it looks like it belongs to swagger-core or springfox, depending on the library you use.

[2017-07-05 15:25] webron commented on #3334
@owenconti can you look into this one?

[2017-07-05 16:15] webron opened #3342 "Inherited model name and description ignored in the documentation"
_From @prakashguru on July 5, 2017 13:32_

I have a yaml definition where a model "OrderEx" inherited using allOf from "Order". And the OrderEx is used as model for an api. The problem is the documentation shows name and description of the Order model (base) instead of OrderEx.

![image](https://user-images.githubusercontent.com/11089125/27866511-4736750e-61b4-11e7-821e-a1be90ef25a1.png)

Am I doi

[2017-07-05 16:15] webron commented on #3342
@owenconti can you take a look at this? You've touched the area before.

[2017-07-05 18:22] huasambo commented on #3318
Make sure api_key name is match what is defined in 'securityDefinitions'

[2017-07-05 18:50] webron commented on #3337
@emckean are you trying to set a 'fixed' value for the api key?

[2017-07-05 18:54] webron commented on #3339
See #3196.

[2017-07-05 19:05] webron commented on #3340
Which headers specifically?

[2017-07-05 19:06] webron commented on #3341
would be hard without the JSON file...

[2017-07-05 19:20] emckean commented on #3337
Yes, exactly :)

[2017-07-05 23:33] rubencougil commented on #1209
many thanks @fehguy that helped to understand the problem here!

[2017-07-06 01:59] songtianyi commented on #3340
@webron
web tools show
[code]

swagger
[code]

For me, the Authorization header is what i want.

[2017-07-06 03:23] shockey commented on #3313
@ppKrauss, we don't really use the Wiki, but you're welcome to open a PR that adds a Markdown file with Docker information, or add it to the README if it's concise enough 😄

---

Have you run `npm i`? Sounds like you don't have Webpack installed.

You won't be able to `docker pull` until you `docker push`. You (obviously) can't update the `swagger-api/swagger-ui`, but you can build a new Docker im

[2017-07-06 03:52] shockey commented on #3275
@willin, I can't find anything in the diff between `3.0.10` and `3.0.16` that concerns the `data-name` of parameter inputs.

Regardless - while I admire the ingenuity of your solution, please be aware that element data attributes, and element signatures in general, are not part of our public API, so they can change at any time without triggering a breaking change.

If you'd like to open a PR for a

[2017-07-06 09:57] denyseflo commented on #3327
OK, thanks for your answer !

[2017-07-06 13:35] prakashguru commented on #3342
Also the "Example Value" shows the base model's example instead of derived.

[2017-07-06 15:13] nrathi commented on #3000
Has anyone seen this error before: `swagger_ui_1.default is not a function`?

[2017-07-06 16:28] #3327 closed

[2017-07-06 18:08] shockey commented on #3329
Confirmed. At first look, it appears that `style-loader` and `extract-text-webpack-plugin` are doing double duty, so the styles get packed into the bundle _and_ included as a standalone file.

[2017-07-06 18:15] shockey commented on #3335
@mksmanjit, Swagger-UI 3 is a complete rewrite (no common code between the versions), so it's par for the course that your customizations will need to be refactored.

You can customize the logo by customizing the Topbar (https://github.com/swagger-api/swagger-ui/blob/master/src/plugins/topbar/topbar.jsx).

Changing the color scheme is a bit more involved, as it affects a lot of things - but you sh

[2017-07-06 18:25] dballance commented on #3322
Okay - I do agree that they're not the best icon, but I also understand the intent better after some pondering. Will close this and remove the PR. Thanks!

@webron - Is there a gitter or something where swagger-ui team members hang out? I have a few questions about plugins. I've created several to customize the package and it's pretty straightforward - really more curious on how you guys envision

[2017-07-06 18:27] #3322 closed

[2017-07-06 18:31] arg20 commented on #818
@webron is there any issue we can follow (since this is closed) so that we know when JWT is supported in the UI?

[2017-07-06 20:08] ssoffline commented on #3257
any luck here?

[2017-07-06 21:07] webron commented on #3322
@dballance we do not use gitter, but we're considering our options. If something opens up will make an announcement.

[2017-07-06 23:59] owenconti commented on #3340
It seems this is working as intended. Swagger UI is displaying all of the headers that are returned to it.

The headers JS is allowed to access is determined by the response type, as can be read here: https://developers.google.com/web/updates/2015/03/introduction-to-fetch#response_types

If Swagger is running on the same origin as the API, you'll be able to access all of the returned headers, see

[2017-07-07 02:46] #3340 closed

[2017-07-07 04:59] #3334 closed

[2017-07-07 11:00] MRMTC commented on #3033
Hi Guys,

I'm having a similar issue.  I have validated my JSON using JSONLint (https://jsonlint.com/), but when I try executing I get the "😱 Could not render this component, see the console." error.  Checking the console, I get the output in the following file:
[editor.swagger.io-1499424919913.txt](https://github.com/swagger-api/swagger-ui/files/1130768/editor.swagger.io-1499424919913.txt)

My in

[2017-07-07 12:52] pqzxc commented on #818
^ +1

@webron

[2017-07-07 14:05] azamatsulaiman opened #3348 "SWAGGER_JSON=/foo/swagger.json"
Doesn't read swagger.json from SWAGGER_JSON path in docker. Copied everything to that folder

[2017-07-07 14:21] QuasiSoDo commented on #3233
I am currently in the same boat of having missing x-example values for my parameters.
I noticed that io.swagger.models.parameters.AbstractSerializableParameter has:

@JsonProperty("x-example")
   public Object getExample() {

Now i am unsure why this is the case. Is "example" not a valid field for a Parameter and "x-example" is required?

Am i understanding correctly that x-example support is supp

[2017-07-07 15:02] ragrub opened #3349 "HTML reserved chars not displayed properly in parameter description"
If in the swagger definition json one parameter contains a description string with an HTML reserved character like ' < & > then it's not displayed properly in the UI.

![unbenannt11](https://user-images.githubusercontent.com/29981194/27963309-f06affe2-6334-11e7-8d73-cb49038b7276.PNG)

- swagger-ui version 3.0.17
[swagger.txt](https://github.com/swagger-api/swagger-ui/files/1131309/swagger.txt)

[2017-07-07 15:05] heldersepu commented on #3334
I just updated to latest and I still have the Duplicate arrows...

the CSS rules:
[code]
are still missing in the latest

[2017-07-07 15:06] owenconti commented on #3334
@heldersepu latest release or latest from `master`?

[2017-07-07 15:21] hkosova commented on #3334
@heldersepu if you are looking at the standalone files in `dist`, they were not rebuilt yet.

[2017-07-07 15:24] heldersepu commented on #3334
Yes i got latest from master.
... was expecting that now that the issue is closed the standalone files will also be updated.
I don't have an environment to build this project yet, I guess I should do that...

[2017-07-07 17:22] heldersepu commented on #3319
This might be coming soon!
see PR #3196

[2017-07-07 18:20] thales-gaddini commented on #3022
I just pulled from master, built the Dockerfile and ran the image, but it is not working as @kogalex described. Do i need to configure something in the Dockerfile?

[2017-07-07 18:51] olslash commented on #3046
hey @shockey  -- just tried, and it works great!

replaced:
[code]

with
[code]

[2017-07-07 21:23] shockey commented on #3046
Awesome! Glad to hear it.

I'm going to close this since the problem is solved, feel free to open a ticket if you come across any other issues.

[2017-07-07 21:23] #3046 closed

[2017-07-07 21:59] webron commented on #3349
This is not a bug. The `description` fields in the spec are defined as supporting markdown. Since markdown is a superset of html, anything in angled brackets is treated as html tags. If you want to display those, you'd need to escape them as you would in html.

[2017-07-07 21:59] #3349 closed

[2017-07-07 22:07] webron commented on #3033
@MRMTC there's nothing to test, it uses a fictional host.

Closing the ticket as there's nothing more to add.

[2017-07-07 22:07] #3033 closed

[2017-07-07 22:16] #3309 closed

[2017-07-07 22:35] #3271 closed

[2017-07-08 01:35] shockey commented on #3291
Releasing now, so this fix should be live shortly.

[2017-07-08 01:35] #3291 closed

[2017-07-08 04:36] MRMTC commented on #3033
Thanks @webron, so it can't render the output to the page because the host is unreachable?  Is that correct?

Apologies if the above is a silly question - I thought it "mocked" the output.

Thanks.

[2017-07-08 16:27] owenconti commented on #3198
Hi @willin, Can you please confirm if this is still an issue? Here is what I am seeing when I use your example spec based off the `master` branch:

<img width="889" alt="screen shot 2017-07-08 at 10 26 12 am" src="https://user-images.githubusercontent.com/791222/27987270-f8f6f632-63c7-11e7-99f3-aa58699dee4f.png">

[2017-07-08 16:56] owenconti commented on #3075
@jraeymaek @webron I can't seem to reproduce this. Is this still an issue?

[2017-07-08 16:58] owenconti commented on #3009
Is this the same as https://github.com/swagger-api/swagger-ui/issues/3075?

[2017-07-08 17:08] owenconti commented on #2981
Hi @dotasek, _should_ be fixed in: https://github.com/swagger-api/swagger-ui/pull/3353

[2017-07-09 00:29] willin commented on #3198
[code]

file upload is now ok.

[2017-07-09 00:31] willin commented on #3198
#3275 still a trouble.

[2017-07-09 00:31] willin commented on #3275
is the react version updated?

[2017-07-09 23:36] shockey opened #3357 "Build sequence in `npm run build` always flags bundle as a dirty git build"
### How to reproduce

Consider that `npm run build` yields `npm run build-core && npm run build-bundle && npm run build-standalone`.

1. Have a clean working tree in your Swagger-UI directory
2. Run `npm run build-core` to completion
3. Run `npm run build-bundle` to completion
4. Open `dist/index.html`

Observe that `window.versions` indicates that the bundle was built from a dirty git working tre

[2017-07-10 04:14] insky2005 opened #3358 "when parameter's default=0, it can't display in swagger-ui."
When reporting an issue, please provide the following details:
- swagger-ui 2.2.10

In swagger-ui.js, in line 3117

    if (defaultValue) {
      defaultValue = sanitizeHtml(defaultValue);
    } else {
      defaultValue = '';
    }

when  defaultValue = 0, it will set defaultValue='',  so, in ui, the parameter's value will be empty.

I think this is a bug.

so, in my project, I changed it like th

[2017-07-10 05:45] xylix opened #3359 "xlink:href is deprecated"
As one can see [here](https://github.com/swagger-api/swagger-ui/search?utf8=%E2%9C%93&q=xlink%3Ahref&type=) the code is using xlink:hrefs in multiple places.

Xlink:href is deprecated, https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/xlink:href, so the xlinks should be replaced with standard href links.

[2017-07-10 06:16] jerrywangatoracle commented on #3033
@webron  ：
i just met the same error("Could not render this component, see the console. ")  when i want to execute "try it out"  , Can you help to point me two question :
1 ） where to find the console of swagger ? can you point me from the pic
![where_is_swagger_console](https://user-images.githubusercontent.com/27404869/28004869-ef17af0e-6579-11e7-9766-394bfd4eea14.jpg)
2 )  when i execute "try i

[2017-07-10 07:00] MRMTC commented on #3033
Hi @jerrywangatoracle,

The "console" refers to the 'Browser Console' where you are executing your tests.   So if you right click on the page, and select "Inspect"; you will be able to choose the console from one of the view.  By using the console, you will be able to debug what is happening on your end.

I believe on your second point, that you are correct.  I'm sure @webron, will be able to conf

[2017-07-10 07:22] SHAMU04 opened #3360 "Query parameter &quot replaced with " in CURL request"
Title: Swagger UI replaces query parameters with names starting with "quote" to a double quote in the CURL request it forms.

swagger-ui version: 2.3.0

Description:
Using Swagger-ui, send a post request.
The post request should have query parameters with names starting with "quote". For instance, "quoteFieldNames", "quoteNonNumerics".
Check the CURL request URL.

&quot is replaced with double quo

[2017-07-10 07:27] shockey commented on #3359
Thanks for the heads-up 😄

If you have the time, a pull request that fixes this would be awesome!

[2017-07-10 07:35] jerrywangatoracle commented on #3033
@MRMTC
i just compared the result , the direction of error "Could not render this component, see the console."was just shown where the "curl" command should be showing. hence maybe we were meting the same error.
you can check the screenshot as below
![render error](https://user-images.githubusercontent.com/27404869/28007276-618b6692-6585-11e7-8b49-01921a5d1986.jpg)

[2017-07-10 12:51] chaitralisk commented on #3291
Hi
I am working on swagger-ui. But I am getting this issue::
swagger-ui-standalone-preset.js:2 Uncaught SyntaxError: Unexpected token <
(index):76 Uncaught ReferenceError: SwaggerUIBundle is not defined
    at window.onload ((index):76)

[2017-07-10 13:17] MRMTC commented on #3033
I see, thanks for the confirmation @jerrywangatoracle.  @webron, can you perhaps please provide some clarity for us on the above?

Thanks.

[2017-07-10 14:48] jgslima commented on #3342
1+

The "Example value" issue is the most critical one. For the model name and description, one can have a workaround by writing some generic description that can actually be used throughout the inherited models
(we can live with that), but the lack of specific examples for the inherited models is actually preventing me to use the inheritance at all.

[2017-07-10 16:12] webron commented on #3360
There's no swagger-ui 2.3.0. You need to give us the real version.

[2017-07-10 16:25] shockey commented on #3291
@chaitralisk, are you sure you're loading `swagger-ui-bundle.js` into your page? I get a similar error if I comment out [this line](https://github.com/swagger-api/swagger-ui/blob/master/dist/index.html#L70),

[2017-07-10 17:26] webron commented on #3033
@MRMTC can you try again with the latest editor?

[2017-07-10 17:41] MRMTC commented on #3033
Hi @webron,

Thanks so much for getting back to us.  When  I tried now using the "http://editor.swagger.io/#/" link, I got the correct output :)

Thanks again for the assistance!

[2017-07-10 17:46] webron commented on #3198
Okay, closing this one as fixed then.

[2017-07-10 17:46] #3198 closed

[2017-07-10 17:50] shockey commented on #3275
@willin, we've been using React 15 since Swagger-UI 3.0 was originally released.

See the manifest for [3.0.0](https://github.com/swagger-api/swagger-ui/blob/v3.0.0/package.json#L47) and [3.0.18](https://github.com/swagger-api/swagger-ui/blob/v3.0.18/package.json#L52) - they both call for `react@^15.4.0`.

[2017-07-10 18:08] shockey commented on #3319
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

---

@heldersepu is correct, this functionality should land soon - but please take a look at how it's implemented! Referencing a path within a spec by adding to the URL is not how it will be done.

[2017-07-10 18:08] #3319 closed

[2017-07-10 18:09] shockey commented on #3313
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-10 18:09] #3313 closed

[2017-07-10 18:12] shockey commented on #3341
@krishnachaitanya511, bump - can you provide a spec that demonstrates the issue you're having?

[2017-07-10 18:12] shockey commented on #3333
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-10 18:12] #3333 closed

[2017-07-10 18:13] shockey commented on #3079
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-10 18:13] #3079 closed

[2017-07-10 18:15] krishnachaitanya511 commented on #3341
Hello,

We already have a setup which is reading the yaml file and display the API
information in the browser. And I have changed my index.html and pointed it
to the JSon file. But the page shows empty screen with JSON. Any idea about
this?

On 10 Jul 2017 11:42 p.m., "shockey" <notifications@github.com> wrote:

[2017-07-10 18:20] shockey commented on #3341
Hmm, I don't know of any issues that would cause raw JSON to be displayed in Swagger-UI. We officially support the loading of both JSON and YAML.

It sounds like you're saying the JSON and YAML are equivalent, is this correct?

What did you change, exactly?

[2017-07-10 18:22] krishnachaitanya511 commented on #3341
The JSON has been generated from the YAML file using the online compilers.
Those are same but the file format is different.

On 10 Jul 2017 11:50 p.m., "shockey" <notifications@github.com> wrote:

[2017-07-10 18:33] frol opened #3361 "Non-required integer parameter becomes required in Swagger UI 3.x"
Swagger version: 3.0.18 (2.x worked just fine)

Swagger YAML:

[code]

"Try it out" blocks the request submission and highlights the `limit` field with `invalid` CSS class on "Execute".

[2017-07-10 18:47] webron commented on #3075
No, seems like this is fixed.

[2017-07-10 18:47] #3075 closed

[2017-07-10 19:40] emtiazahmed commented on #3361
Hi guys,
Any ETA on this or can someone point me to an earlier version that used to work?

Thanks

[2017-07-10 22:53] shockey commented on #3022
@thales-gaddini, did you build your own Docker image, or use our Docker registry image? Our image gets updated each time the npm package does.

To start, you can open the UI, go to your devtools console, and check the value of `window.versions.swaggerUi`. If it's 3.0.18, you may have an edge case that wasn't addressed by this PR.

[2017-07-11 00:02] shockey opened #3362 "Thrown errors in actions, selectors, and reducers cause lots of pain"
Consider this spec fragment:

[code]

The sharpest of us will say "tags is always an array!" - this is correct. But humans are fallible creatures, and we should be forgiving.

Today, this fragment causes an error in the `operationsWithTags` spec selector:

This error is not great from the UI perspective, but it gets worse when we consider Swagger-Editor.

The Editor will save the problematic value

[2017-07-11 01:45] #3102 closed

[2017-07-11 01:46] jerrywangatoracle commented on #3033
@webron  hi, thanks for your quick response. did you merge the latest modify into the code hence we can download ?

[2017-07-11 01:58] willin commented on #3275
i'll try 3.0.18 later

[2017-07-11 06:34] webron commented on #3033
@jerrywangatoracle it should work now.

[2017-07-11 06:54] chaitralisk commented on #3291
Yes, I am loading`swagger-ui-bundle.js` into page.I have created nodejs server which will load index.html file.
But I am getting:
swagger-ui-standalone-preset.js:2 Uncaught SyntaxError: Unexpected token <
(index):76 Uncaught ReferenceError: SwaggerUIBundle is not defined
at window.onload ((index):76)

[2017-07-11 07:54] jerrywangatoracle commented on #3033
@webron
1) opening "http://editor.swagger.io/#/"  with chrome 59.0.3071.109,  the issue still exists.
2) opening "http://editor.swagger.io/#/"  with ie 11, no such issue.

[2017-07-11 08:48] snehallalwani opened #3364 "Swagger 2.0 Not Working on Internet Explorer"
Hi ,

I am trying to load below yaml file on swagger UI. It is working on chrome, microsoft edge and mozilla but not on Internet Explorer. On Internet Explorer, it is giving error as "No operations defined in spec! ". Can anyone fix this issue?

swagger: '2.0'
info:
  version: 1.0.0
  title: EIS APIs
schemes:
  - https
host: 'api.persistent.com:9000'
paths:
  '/pi/worklist/{count}':
    get:

[2017-07-11 10:34] baynezy commented on #3328
@webron and @owenconti - thanks for the quick response. How often do you guys release to production?

[2017-07-11 11:21] gingters opened #3365 "Rendering swagger UI is extremely slow"
With the given swagger file, which is auto generated by Swashbuckle, the swagger UI needs about 2 to 3 minutes to show the API documentation.

The swagger file is delivered in about 300ms, and after that the browser stalls and waits for about 2 to 3 minutes. Chrome issues a warning: `[Violation] 'readystatechange' handler took 160649ms`.

We cannot update to a newer swagger ui as we use swashbuckl

[2017-07-11 11:34] alrik opened #3366 "v3 - Resolver error - Cannot read property '1' of undefined"
This error occured when we upgraded to swagger ui 3.x.
We use `swagger-ui-dist@3.0.18`.

The issue can be reproduced with the following swagger-spec on [Swagger Editor](http://editor.swagger.io):

[code]

[2017-07-11 12:49] SzymonKlimuk opened #3367 "CORS: access-control-allow-origin send as request header"
- swagger-ui version: 3.0.17

Why swagger ui sends access-control-allow-origin in requests in Access-Control-Request-Headers?

Access-Control-Allow-Origin is RESPONSE header rather than REQUEST header, so why it sends it as requested in Access-Control-Request-Headers and then send it in for example POST messages as:

access-control-allow-origin: "*"

?

We are doing authentication scenarios using

[2017-07-11 12:53] SzymonKlimuk opened #3368 "logout not working"
- swagger-ui version 3.0.17

Hi, We are testing the Swagger UI vs keycloak authentication.

Assuming successful authentication (any flow: password, accessCode, implicit, application), there is a possibility - the button - to logout. Unfortunately, we see no network traffic after clicking on this button.

I understand that click action probably clears some js variables in swagger ui, but shall it c

[2017-07-11 14:09] domfennell opened #3369 ""Execute" button inactive"
Steps to reproduce:

Go to http://petstore.swagger.io

1. Enter swagger url for the api, using HTTPS (e.g. for one of our api calls, use https://imin-platform-api.imin.co/v1/swagger.json)
2. Specify scheme HTTPS
3. Enter required api parameters (e.g. for one of our api calls, use GET /v1/search/sessions)
4. (Attempted to) click "Execute"

Expected:
Petstore executes api call using HTTPS as specifi

[2017-07-11 14:10] krishnachaitanya511 commented on #3341
Hello Team,

Please find my YAML and JSON files. Please help me with the above issue.

[swagger_GitQuestion.json.txt](https://github.com/swagger-api/swagger-ui/files/1139122/swagger_GitQuestion.json.txt)
[swagger_GitQuestion.yaml.txt](https://github.com/swagger-api/swagger-ui/files/1139123/swagger_GitQuestion.yaml.txt)

[2017-07-11 14:36] dsebastien opened #3370 "CSP violations due to inline styles"
- swagger-ui version: 3.0.18
- a swagger file reproducing the issue: N/A

Hello,

I'm trying to use Swagger UI through the npm packages (in a web app). I first had an issue with the swagger-ui package and Webpack 2 because some code referred to 'process'. Then I switched to swagger-ui-dist which solved that issue.

Now my application starts but I get errors because I have a strict Content Security

[2017-07-11 15:14] webron commented on #3033
@jerrywangatoracle would need your API definition to reproduce it.

[2017-07-11 15:14] webron commented on #3364
Which version of Internet Explorer? Which version of swagger-ui?

[2017-07-11 15:18] webron commented on #3328
We try to every Friday, meaning the fix is already included in the release. However, I'm still seeing the issue. @owenconti?

[2017-07-11 15:19] webron commented on #3365
Try using the latest swagger-ui, seems to render a lot faster.

[2017-07-11 15:20] owenconti commented on #3328
@webron The PR in the swagger-js repo was merged just last night. It should be in the upcoming release then, shouldn't it?

[2017-07-11 15:24] webron commented on #3366
Yeah, this is due to the circular reference.

[2017-07-11 15:26] webron commented on #3328
Oh! I thought it was merged last week, my bad. @baynezy expect the fix to be live this upcoming Friday.

[2017-07-11 15:30] webron commented on #3369
Likely a duplicate of #3361.

[2017-07-11 16:08] Fredx87 commented on #3367
Same problem here.
Related issue: https://github.com/swagger-api/swagger-ui/issues/3172

Removing the line where the "access-control-allow-origin" is set in `src/core/plugins/auth/actions.js` and rebuilding the dist folder solved the issue for me.

[2017-07-11 17:47] thales-gaddini commented on #3022
It was my bad, sorry. I build my own Docker image in master, but from a different tag. Thank you for your time. I'll open a new ticket next time.

[2017-07-11 18:08] shockey commented on #3341
@krishnachaitanya511, you don't need to load any other libraries to load JSON 😄 we support YAML and JSON out of the box.

I just tried to load your JSON into Swagger-UI, and got an error:

You can see it for yourself here: http://petstore.swagger.io/?url=https://gist.githubusercontent.com/shockey/7614b9bb2ff7c96de46e19bd358a372e/raw/4a2d661388099ba5a51aa71ecf040c1a66f18cd1/gistfile1.txt

It appear

[2017-07-11 20:12] gingters commented on #3365
Thanks for that idea, but as already stated in the issue, we need to use Swashbuckle.Swagger in our .NET api project which bundles swagger ui 2.2.10 and there is no other version with a newer swagger-ui available. So updating to swagger ui 2 is not possible.

If that is an issue with 2.2.10 we would need a fix for that so that swashbuckle can upgrade to that, or if that is an issue with the genera

[2017-07-11 20:36] thales-gaddini opened #3371 "Problem with not required array parameters in query"
Swagger-UI Version: 3.0.18
Browser: Chrome
A swagger file reproducing the issue: the petstore example can be used, just remove the "required: true" from the path " /pet/findByStatus:" and use for testing. For convenience, here is a file with only the part I'm talking about:

[code]

I'm not sure if I need to set something in the documentation beforehand for this to work, but until you select an it

[2017-07-11 21:12] webron commented on #3365
It's not an idea, it's the solution. There are performance issues in swagger-ui 2.x and it is no longer under development, so you can't expect further performance improvements in it.

The fact that Swashbuckle bundles swagger-ui 2.x doesn't mean you can't bundle swagger-ui 3.x in your app and use it instead.

[2017-07-12 00:40] shockey commented on #3370
@owenconti, correct me if I'm wrong - doesn't #3352 remove the inline styles from the npm builds?

[2017-07-12 00:47] shockey commented on #3335
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-12 00:47] #3335 closed

[2017-07-12 02:37] owenconti commented on #3370
@shockey I don't think so. All the inline styles will still be inline. #3352 stopped webpack from "inlining" the entire stylesheet.

We'd need to either find a webpack plugin that can extract inline styles, or we'd need to move all of our inline styles into `.scss` files.

[2017-07-12 03:34] snehallalwani commented on #3364
Internet Explorer 11.0  and Swagger-ui 2.0

[2017-07-12 03:44] webron commented on #3364
There's no swagger-ui 2.0 - we need the actual version.

[2017-07-12 04:45] snehallalwani commented on #3364
I have downloaded it from [https://swagger.io/swagger-ui/]. It is saying Swagger UI Version 2.0.
licensed under The Apache License, Version 2.0

[2017-07-12 05:26] krishnachaitanya511 commented on #3341
Hello Shockey,

It's working now. Thanks for the great help.

Thanks and Regards
Raja KC Chimakurthi
+91 8885888996
*Tip: If you only do what you can do, you'll never be better than what you
are.*

On Tue, Jul 11, 2017 at 11:38 PM, shockey <notifications@github.com> wrote:

[2017-07-12 05:31] shockey commented on #3341
Awesome. Glad to help!

Closing.

[2017-07-12 05:31] #3341 closed

[2017-07-12 06:56] jerrywangatoracle commented on #3033
@webron
 sorry, this issue was only reproduced on the local swagger-editor (i download from https://github.com/swagger-api/swagger-editor.git ), can you help to merge the latest  update to swagger-editor?   From now, it shows "Latest commit 0a9966f  4 days ago" .

[2017-07-12 07:08] jerrywangatoracle commented on #3033
@webron
  i raised a issue   https://github.com/swagger-api/swagger-editor/issues/1398 ,  the error "Could not render this component, see the console. " was only existing on my local swagger-editor site .
    BTW,  i need to execute "try it out " with my private host (10.10.*.*) ,  hence i need my private swagger-editor site.

[2017-07-12 08:34] xiaonizi-github opened #3372 "Can you display a lot of documents at the same time"
When reporting an issue, please provide the following details:
- swagger-ui version
- a swagger file reproducing the issue

version :2.0
hey,i want to ask question,Can this tool show only one document? I want to show a variety of different documents，it is ok?

[2017-07-12 08:57] AndreaMaracci opened #3373 "Json body request editor"
I think it would be really nice to modify the input method for json type bodies to something like the old swagger-editor test function, where you can only edit values and strings are validated based on the pattern key.

[2017-07-12 10:25] hkosova commented on #3372
Check out the `urls` parameter:
https://github.com/swagger-api/swagger-ui#parameters

[2017-07-12 12:56] marcgibbons commented on #3086
@shockey To tack onto this issue, I think it would be useful to expose configurable options for `fetch` calls for both downloading the OpenAPI spec and by the Try It / Execution package.

Use cases would be:
- Setting an HTTP header for all requests (i.e. CSRF / XSS tokens)
- Modify the `credentials` option (somewhat related to: https://github.com/swagger-api/swagger-ui/pull/2822)

This is a somew

[2017-07-12 13:12] holyketzer opened #3374 "Cannot read property 'configureAuth' of undefined"
I can't use any version of Swagger-UI with Webpack 2. It doesn't work.
E.g. for the 3.x versions I do:

[code]

And it throws an error:

[code]

What I am doing wrong?

[2017-07-12 13:49] kwieconkowski opened #3375 "multipart/form-data parameters sent as "application/x-www-form-urlencoded""
Hello,
I'm using swagger to generate jax-rs documentation with swagger-jaxrs and it`s working fine. The problem is with swagger-ui (3.0.18, from: https://github.com/swagger-api/swagger-ui/archive/master.tar.gz). The simplest example, we have POST method with one 'formData' parameter. This is send as 'application/x-www-form-urlencoded', not as required 'multipart/form-data'. Walkaround is inserting

[2017-07-12 14:52] alrik commented on #3366
This could be related to: #3051

[2017-07-12 15:33] leochr commented on #2765
@webron any idea when the localization support will be added for 3.X?

[2017-07-12 15:58] webron commented on #2765
It's not currently on our roadmap, due to time constraints. We consider the feature important though, and would be happy to review PRs that help add this feature back.

[2017-07-12 17:14] shockey commented on #3374
Hey @holyketzer, sorry you're having issues!

We recently had a user report success integrating Swagger-UI with Webpack 2 (see #3046). The information in that ticket may give you some more context.

It sounds like the error is coming from here: https://github.com/swagger-api/swagger-ui/blob/master/src/core/index.js#L89

I think you may not have imported the API preset from our package. Try this:

[2017-07-12 17:19] shockey commented on #3339
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-12 17:19] #3339 closed

[2017-07-12 18:40] shockey commented on #3291
@chaitralisk, can you please open a new ticket so we can help you with this? I want to minizine the noise for the five people getting emails about this thread.

[2017-07-12 18:46] holyketzer commented on #3374
@shockey Thank you for fast and kindly response, but I completely confused.

Readme and example [here](https://github.com/swagger-api/swagger-ui/blob/master/dist/index.html) say that I should write

[code]

what I initially tried. You recommend me to

[code]

and it works. But how it can guess it from readme or #3046 (he uses `SwaggerUIBundle` too)?

[2017-07-12 18:46] #3374 closed

[2017-07-12 19:00] shockey commented on #3374
@holyketzer, `SwaggerUI` vs. `SwaggerUIBundle` is just a variable naming difference, it doesn't really affect anything 😄

The bundle is a format of Swagger-UI that has all of its dependencies included. We publish the library in that format for people that don't use or even know about NPM or Webpack - lots of our users want to just drop a `<script>` tag that pulls in Swagger-UI and be on their way.

[2017-07-12 19:15] holyketzer commented on #3374
@shockey thanks a lot, got it

[2017-07-12 20:36] shockey commented on #3086
@marcgibbons, see below:

- There's a proposal for a `swaggerProxy` option for request interception here: https://github.com/swagger-api/swagger-ui/issues/2793#issuecomment-289688082
- We switched over to `credentials: same-origin` when fetching specs a little while ago: https://github.com/swagger-api/swagger-js/pull/1083

[2017-07-12 20:39] shockey commented on #3086
Locking this closed support ticket! Please direct your comments to a new support ticket, or feel free weigh in on #2793.

[2017-07-12 20:44] webron opened #3376 "Using reserved swagger keywords as property name."
_From @vkrisju12096 on July 12, 2017 17:55_

When am trying to use the reserved keyword **properties** as a property name in the Animal model, UI doesn't show anything about the properties. Below you can find swagger as well as Output UI also.

<img width="415" alt="screen shot 2017-07-12 at 2 03 16 pm" src="https://user-images.githubusercontent.com/26120576/28132482-edd74130-670a-11e7-8c73-6b6fb4

[2017-07-12 21:57] webron commented on #3375
@owenconti can you take a look at this one please? It's possible this is coming from swagger-js.

[2017-07-12 22:05] webron commented on #3364
Does http://petstore.swagger.io/ work properly for you?

[2017-07-13 00:50] owenconti commented on #3369
Hi @domfennell,

Are you able to provide a sample spec that reproduces the issue?

[2017-07-13 03:16] snehallalwani commented on #3364
It works properly on chrome or microsoft edge but not working on internet explorer. Giving error as No "operations defined in spec!"

[2017-07-13 07:00] sontrananh commented on #2075
i have same problem when using swagger ui 3.0.18. Clicking the "Excute" button doesn't send the Authorization header that was set using the form.

[2017-07-13 07:03] sontrananh opened #3378 "Basic authentication header not send through "Execute" operation"
Hi,

I was trying to use Basic Authentication in Swagger-UI, using version v3.0.18.

The Authorize button works fine : it shows me a form for basic authentication to set username and password.

However, when I try API endpoints with the "Execute" button, it doesn't send the corresponding Authorization HTTP header. Am I doing anything wrong? My spec seems ok as far as I can tell.

{
  "swagger": "2

[2017-07-13 07:47] baynezy commented on #3328
Perfect thanks.

[2017-07-13 09:24] kliyes commented on #3361
I'm facing the same issue and already get back to v3.0.17. There's already a PR should fix this.

[2017-07-13 13:29] dolmen commented on #2407
I wanted to use a relative link, assuming it would be resolved relative to the URL of the document from which Swagger UI is invoked.
A relative link is better in my case to avoid hard coding the hostname in the URL for dev/testing/prod environments.
I wrote a workaround by building the absolute spec URL before passing it to SwaggerUI. The code is not online anymore as my company collapsed.

[2017-07-13 20:17] #3375 closed

[2017-07-13 20:18] shockey commented on #3375
This should be fixed in `master`! We'll release a new version tomorrow evening with this fix in it.

Thanks for reporting this, @kwieconkowski!

[2017-07-13 20:51] #3300 closed

[2017-07-13 21:25] shockey commented on #3378
@sontrananh, I just tried to make a request with your spec, and my OPTIONS request (for CORS preflight) timed out. Not sure if I'm meant to be able to access the server or not:

I changed the `host` to `editor.swagger.io`, and ran the request again. I observed the POST being sent with an authorization header, as I'd expect.

Please make sure the problem is with the spec, and not your server. If yo

[2017-07-13 22:04] shockey commented on #3368
@SzymonKlimuk, you're correct - clicking Logout simply flushes the authorization information the Swagger-UI stores internally.

I'm not familiar with keycloak, but it appears to be an identity management tool. Swagger-UI doesn't directly integrate with keycloak (or any other specific identity management tool).

You can write your own plugin for Swagger-UI that integrates with keycloak to solve you

[2017-07-14 01:54] shockey commented on #3041
It appears to me that #3072 resolved this. Can anyone confirm?

cc: @skors @EvgenyOrekhov @kliyes

[2017-07-14 02:07] sontrananh commented on #3378
@shockey: tks for support. But 10.15.24.158 is my local host, i use post man the rest app is fine, but when i use swagger, it doesn't send my author header . My swagger ui port is 8080 but my rest app port is 9080, May be i can't send authorization header  because  CORS.

[2017-07-14 02:11] shockey commented on #3378
@sontrananh, Postman doesn't pay attention to Same-Origin Policy or CORS, since it's an external tool (doesn't run inside a browser), so that may be the source of your troubles 😄

See here for more information: https://enable-cors.org/server.html

Please let me know if this solves your problems!

[2017-07-14 02:27] Yodeser opened #3381 "Is there a way to choose Chinese as my page's language?"
When reporting an issue, please provide the following details:
- springfox-swagger-ui 2.6.1

Question:
I learned that Baidu supports multiple languages, so how can I set it up as a Chinese API doc page?

[2017-07-14 02:29] sontrananh commented on #3378
@shockey: i use docker. i can't find the way to enable cors to docker :(.
Do you know how can i disable cors of swagger?

[2017-07-14 02:33] shockey commented on #3378
@sontrananh, there's no way to disable CORS - it's a security mechanism that is built into all web browsers, so anything that runs inside a browser needs to work within the rules.

You shouldn't need to change anything in Docker - you should configure the API you're talking to at `10.15.24.158:9080` to respond with a `Access-Control-Allow-Origin: *` header in every response.

[2017-07-14 03:20] sontrananh commented on #3378
@shockey: tks for your help.

[2017-07-14 06:00] jeyraof opened #3383 "The way to set authorization data to header in recent version swagger-ui"
How to can I set authorizations header to load previous version swagger docs?

past version
[code]

[2017-07-14 06:50] Ohems commented on #3371
Can confirm the issue. Here is a smaller example that triggers the issue:
[code]

To reproduce:
1) View the above in Swagger UI
2) Expand the only route
3) Select `Try it out`
4) Select `Execute`

Nothing happens in the UI and a stack trace identical to the one in the issue appears.

Bonus steps:
5) Add a new element to the array and insert something to it
6) Select `Execute`
    - Note how everyt

[2017-07-14 07:10] Rinzwind opened #3384 "External documentation for operations is not styled properly and doesn't take GFM syntax into account"
See screenshot (Safari v10.1.1): the text about the external documentation seems to have two problems:

1. it's not properly styled and
2. it doesn't seem to take into account that the [Swagger spec](https://swagger.io/specification/#externalDocumentationObject) says “GFM syntax can be used for rich text representation.” (the double asterisks appear literally rather than causing the text to be in

[2017-07-14 07:19] Ohems opened #3385 "& symbol renders as &amp; with monospace"
Swagger-UI version: 3.0.18

**What happens**
The symbol & is converted to `&amp;` in the following file when shown in the UI:
[code]

**Expected result**
Symbols shouldn't change suddenly, no matter the styling. If I want the text to appear as `&amp;` then I should just be able to write that myself. The same effect doesn't happen with normal, cursive or bold letters.

**Practical case**
If you wan

[2017-07-14 08:17] EvgenyOrekhov commented on #3041
@shockey Yes, it works at http://petstore.swagger.io/ (version 3.0.18/g4acb95b-dirty).

![2017-07-14-111458_640x993_scrot](https://user-images.githubusercontent.com/8045060/28204255-ee72a090-6885-11e7-99ca-f335e96a58da.png)

[2017-07-14 08:23] Ohems commented on #3385
On another note, monospace seems to be more screwed up than I thought. ``` Format: `<field>:<order>` ``` renders as `Format: :` and ``` `<order>` ``` renders as ``` `` ```, but ``` `<b>a</b>` ``` renders as `<b>a</b>`. I have no idea what's going on and the scope of this issue suddenly became a lot larger so do whatever you want with it.

[2017-07-14 10:10] Ohems commented on #3385
It seems that I'm supposed to use HTML escape codes.

[2017-07-14 11:06] juliusza commented on #3378
It's not working. Header is not set on basic authorization:

[code]

No header is set on execute requests. No, it's not CORS.

[2017-07-14 12:07] sontrananh commented on #3378
@juliusza: i disable CORS in web browsers my swagger work fine because i have swagger in a server and my rest api app in a other one.
Tks for your help

[2017-07-14 12:07] #3378 closed

[2017-07-14 12:19] juliusza opened #3386 "Authentication headers are not sent on execute"
What am I doing wrong?? Header is not set on basic authorization:

[code]

No header is set on execute requests (I can see this in chrome dev tools). No, it's not CORS. Worked just fine with version 2.x.x

Even the provided curl command does not have header set:
```curl -X GET "https://192.168.52.21/pub/v1/sites" -H "accept: application/json"```

And, yes, I have authenticated using "Authorize" po

[2017-07-14 13:52] inakianduaga commented on #3371
Same thing happening to me

[2017-07-14 15:38] poppahorse opened #3387 "Support for OpenAPI 3.0, specifically additional security schemes / JWT Bearer"
Not strictly an issue, more of a question, but when will swagger-ui have support for OpenAPI 3.0?

Specifically use of the additional security schemes for JWT + Bearer as per https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#securitySchemeObject

Currently there are [workarounds](https://github.com/OAI/OpenAPI-Specification/issues/583#issuecomment-267554000) such as us

[2017-07-14 15:42] fehguy commented on #3387
You should see an announcement almost any day now :)

[2017-07-14 15:44] poppahorse commented on #3387
@fehguy oh wow, how's that for a quick response!! :)

Any chance there is going to be something usable in the next week or so? As I'm literally on the verge of starting a fairly large API build and it would be lovely to use it

[2017-07-14 16:38] shockey commented on #3378
@sontrananh, glad I could help!

---

@juliusza, you're using apiKey authorization, not basic.

Sounds like you're having a different issue, so please open a new ticket, we'd be happy to look into that.

[2017-07-14 17:20] shockey commented on #3041
Thanks, @EvgenyOrekhov!

I'm going to close this issue - if anyone is continuing to have problems with this, please comment and we'll reopen.

[2017-07-14 17:20] #3041 closed

[2017-07-14 17:29] hkosova commented on #3386
Does your spec use `security` to actually apply the security scheme to operations?
[code]

[2017-07-14 18:22] shockey commented on #3387
@poppahorse, see #3083, #3338, and https://github.com/swagger-api/swagger-editor/issues/1376 if you'd like to take a peek at how OAS3 is coming along. There's information in the branches on where to find the code if you'd like to play with it, but I caution you against using that code in a production deployment of UI or Editor.

Note that the new security and Try-It-Out features are not implemente

[2017-07-14 20:20] shockey commented on #3000
@nrathi, if you're still having trouble with Swagger-UI, feel free to open a new ticket.

[2017-07-14 20:35] syedsanahassan commented on #1672
@hunt3r can you post whatever we have and we as a community and contribute. Thanks for doing the good work.

[2017-07-14 20:42] shockey commented on #3370
@owenconti thanks, I was referring to the entire stylesheet being inlined, but you have a good point - looks like strict CSP doesn't like style attribute inlining either.

@dsebastien, your Webpack 2 problems raise a concern - we've been trying to improve our support with it lately, and things seem to be going well lately - would you mind filing another ticket with more information about the probl

[2017-07-14 23:27] shockey commented on #3384
Confirmed: external documentation descriptions are being rendered as plain text.

Code reference: https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/operation.jsx#L194

[2017-07-14 23:31] shockey commented on #3386
@juliusza, a full Swagger spec that demonstrates this problem would really help us diagnose this problem 😄

[2017-07-14 23:48] #2884 closed

[2017-07-14 23:52] shockey commented on #2884
This is now implemented - please note that the functionality must be enabled explicitly by passing `deepLinking: true` to Swagger-UI.

[2017-07-14 23:54] fehguy commented on #2884
👍

[2017-07-15 00:02] shockey commented on #2884
@heldersepu, I know this was a big blocker for you getting Swashbuckle moved up to 3.x, so CCing you here 😄

[2017-07-15 00:04] fehguy commented on #2884
then + @domaindrivendev who leads that project!

[2017-07-15 00:05] shockey commented on #3365
The Swashbuckle folks are discussing moving to Swagger-UI 3.x here: https://github.com/domaindrivendev/Swashbuckle/issues/1064

@gingters, the Swagger-UI 3.x series is quicker because it's a complete rewrite using different technologies - so there's no way we could possibly port our performance changes to the 2.x series. For what it's worth, I loaded your spec into Swagger-UI 3.0.18 and it loaded

[2017-07-15 00:05] #3365 closed

[2017-07-15 00:07] #3361 closed

[2017-07-15 00:36] #3078 closed

[2017-07-15 01:04] #2926 closed

[2017-07-15 01:26] #3384 closed

[2017-07-15 01:28] shockey commented on #3384
@Rinzwind I just fixed this, about to turn around and do our weekly release - so a fixed version should be live on npm and github within the hour.

Thanks for reporting the issue!

[2017-07-15 06:38] ponelat opened #3393 "make component names case insensitive. ie: getComponenet("fooBaR")"
The plugin system exposes a way to get components via `system.getComponent()`.
Up till now its been case sensitive. Unfortunately we never put in a style-guide on what case to use.
So we have lowercase, TitleCase components mixed throughout.

I propose we make them case-insensitive.
- When building the system, we store the downcased name of the component in our object.
- When fetching, we downcase

[2017-07-15 15:23] heldersepu opened #3394 "Round corners on the right of download-url-input"
Seems that the right corners have changed, now they do not look flush with the button
Here is how they looked before:
http://turoapi.azurewebsites.net/swagger/ui/index

- swagger-ui version
http://petstore.swagger.io/
- a swagger file reproducing the issue
http://petstore.swagger.io/v2/swagger.json

![image](https://user-images.githubusercontent.com/545474/28240411-808d251c-694f-11e7-9491-624ad36c

[2017-07-15 16:09] stickyhands commented on #1605
Just spent 2 days searching why my download where corrupted.
+1

[2017-07-15 16:21] heldersepu commented on #2884
looking good:
http://swashbuckletest.azurewebsites.net/swagger/ui/index#/RoutePrefix
http://swashbuckletest.azurewebsites.net/swagger/ui/index#/RoutePrefix/RoutePrefix_PostTest1

Love it!
not sure why is not the default ...
but I have no problem adding the ```deepLinking: true```

[2017-07-15 16:25] shockey commented on #2884
@heldersepu, I made a note about that here: https://github.com/swagger-api/swagger-ui/pull/3388#issuecomment-315489394

Glad to see it's working well!

[2017-07-15 16:27] shockey commented on #3393
I think this is a very good idea 😄

[2017-07-15 20:26] shockey commented on #3394
@Minasokoni, I'd bet this was introduced in #3196 (https://github.com/swagger-api/swagger-ui/pull/3196/commits/fe200f86167b42343ad784436267dc7a3ef2d119, specifically).

[2017-07-15 20:44] julienkosinski commented on #3325
@shockey @webron I mention you just to make sure this has been noticed, don't be offended :).

[2017-07-15 20:55] shockey commented on #3325
@julienkosinski thanks, I'll get this triaged on Monday 😄

[2017-07-15 21:51] julienkosinski commented on #3325
@shockey Thank you! Yeah, of course, have a nice weekend! :)

[2017-07-16 09:26] SORC3r3r opened #3395 "Multiline description in schema"
Hi,

while describing the attributes in my schema objects, sometimes the description is pretty long and it would be nice to split it into multiple lines.

I tried:
[code]
I was expecting it to be like this:

"red" stands for red
"blue" stands for blue
"green" stands for green

Instead I got this:

"red" stands for red "blue" stands for blue "green" stands for green

First I tried to use a table, b

[2017-07-16 22:17] aleatham commented on #3359
Hey, if it's just switching the `xlinkHref` to `href` in jsx files, I can make these changes and submit a PR. Do you want to mention both attributes for backwards compatibility? It seems like that was the choice made when keeping both `xmls` and `xmls:xlink` attributes.

[2017-07-17 00:55] owenconti commented on #3376
There is a PR with a fix for this in the `swagger-js` repo: https://github.com/swagger-api/swagger-js/pull/1108

[2017-07-17 06:53] juliusza commented on #3386
Yes, this is it @hkosova. Thanks a lot. Please close this.

[2017-07-17 06:53] #3386 closed

[2017-07-17 07:34] hkosova commented on #3395
Which version of Swagger UI are you using? 2.2.10 and 3.x master render your example as multiline:

![multiline description](https://user-images.githubusercontent.com/8576823/28258706-50eb2326-6adb-11e7-9c26-2cd7c3ed9833.png)

[2017-07-17 09:17] SORC3r3r commented on #3395
I have Swagger UI 3.0.19
I just referenced my swagger documentation in the dist/index.html file and opened the html file

[2017-07-17 09:30] hkosova commented on #3395
Can you share your .yaml file?

[2017-07-17 10:20] Ankele commented on #2337
我也遇到了同样的问题，楼主解决了么？

[2017-07-17 12:22] Fredx87 commented on #3368
Keycloak is an open source identity and access management tool. It uses standard protocols such as OAuth2 and OpenID Connect to manage authentication and authorization.

I think that it is correct that Swagger UI doesn't implement the logout call to keycloak at the moment, because the logout URL is not specified in the Open API 2.0 spec. Open API 3.0 will support OpenID Connect, and then I think t

[2017-07-17 13:05] heldersepu commented on #3088
The docExpansion controls both tags and models is there an option for just the models?

[2017-07-17 13:21] kwieconkowski commented on #3375
@owenconti @shockey I have tested today using newest distribution and still doesn`t work as supposed. Content-type is 'application/x-www-form-urlencoded' instead of 'multipart':

[code]
For swagger document:
[code]

[2017-07-17 13:28] heldersepu commented on #2880
It seems this has been fixed...
both urls work on the initial request, and here are some working test of my own:

http://turoapi.azurewebsites.net/swagger/ui/index?url=http://offleaseonly.azurewebsites.net/swagger/docs/V1

http://turoapi.azurewebsites.net/swagger/ui/index?url=/swagger/docs/V1

[2017-07-17 14:57] SORC3r3r commented on #3395
[code]

If I use the online editor and ui, it looks like it is supposed to look, multiline description.
If I copy that swagger docu in my local swagger file and just open the index.html it is all in one line.

online editor/ui:
![online](https://user-images.githubusercontent.com/22958825/28274314-dd473460-6b10-11e7-8465-ffcdd1904b00.JPG)

offline (opened index.html):
![offline](https://user-images

[2017-07-17 15:59] hkosova commented on #3395
`dist\index.html` from the latest `master` renders multiline schema `description` in Chrome 59 and Firefox 54 on Windows 7:

![multiline](https://user-images.githubusercontent.com/8576823/28277034-56fb3e7c-6b21-11e7-8816-be032725e4a4.png)

What OS and browser are you using?
Are there any errors in the browser console?

[2017-07-17 17:02] webron commented on #3328
@baynezy mind testing with the latest version?

[2017-07-17 17:04] webron commented on #3381
This sounds like a question for Baidu.

[2017-07-17 17:04] #3381 closed

[2017-07-17 17:16] webron commented on #3385
You *are* supposed to use HTML escape codes. Markdown is a superset of HTML, so it just translates to HTML. If you use XML tags in it, it would treat those as HTML, effectively not rendering them. So just like you'd need to escape those in HTML, you need to do the same in markdown.

Out of all the issues you've mentioned, only the first one might be real.

[2017-07-17 17:59] devthehuman commented on #3393
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to un-assign myself and try helping out elsewhere. Thanks!

[2017-07-17 18:36] PhilippeChab opened #3397 "Tags - externalDocs field not displayed (Version 3.0.19)"
Hi!

I wanted to add hyperlinks to my tags, so I added an externalDocs field to their configuration. Since nothing was displayed, I thought I did something wrong but the externalDocs fields of the Swagger Petstore example are not displayed either. Is it a bug or simply not supported by Swagger-UI?

Thank you!

[2017-07-17 20:34] wmarshall opened #3398 "typo in parseSeach function name"
The `parseSeach` function name on [src/core/util.js:549](https://github.com/swagger-api/swagger-ui/blob/v3.0.19/src/core/utils.js#L549-L563) seems like a typo for parseSearch. PR to follow.

[2017-07-17 20:55] shockey commented on #3393
@devthehuman, thanks for checking in! Nobody's working on this, afaik.

Feel free to open a pull request that solves this! Comment here if you need any clarification.

[2017-07-17 21:40] shockey commented on #3368
@Fredx87 thanks for sharing that plugin!

We're tracking OAS 3.0 Try-It-Out support in #3338, which should include OpenID Connect support. We haven't sketched out the finer points of that yet, so I can't definitively say what will be supported and what won't be - but if OpenID Connect session management is a big thing, I'd expect we build out support for it.

@webron, can you shed some more light

[2017-07-17 21:44] shockey commented on #3397
IMO, the fact that it's not supported is a bug 😄

[2017-07-17 21:45] shockey commented on #3397
@Minasokoni, thoughts on how to style external docs for tags?

[2017-07-17 22:22] kwieconkowski opened #3400 "multipart/form-data parameters sent as "application/x-www-form-urlencoded" - reopen"
@webron @owenconti @shockey  I'm reopening the issue (https://github.com/swagger-api/swagger-ui/issues/3375). I have tested today using newest distribution and still doesnt work as supposed. Content-type is 'application/x-www-form-urlencoded' instead of 'multipart/form-data' as it should be.

[code]
Swagger document:
[code]

[2017-07-17 22:50] shockey commented on #3400
Hi @kwieconkowski, sorry you're having trouble!

I just tried the spec you provided with the latest version (3.0.19) and I see my request going out with  `content-type:multipart/form-data; boundary=----WebKitFormBoundarypofYoBhfSrAukuWK`.

See here: http://petstore.swagger.io/?url=https://gist.githubusercontent.com/shockey/88595ca7fe86a0fa3225f1a979d24943/raw/e15995a5aad3ba6b5030ae427a78469b660eb2

[2017-07-17 22:52] shockey commented on #3372
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-17 22:53] shockey commented on #3275
@willin, any updates?

[2017-07-17 22:53] shockey commented on #3360
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-17 22:53] #3360 closed

[2017-07-17 23:37] #3398 closed

[2017-07-17 23:48] shockey commented on #3385
The disappearing tags are an effect of the sanitization that we perform on all Markdown fields - that's why your XML-like tags disappeared, while `<b>` was still present.

Properly escaping your Markdown content should solve this issue 😄

The `&` does sound a bit weird. I'll look into that.

[2017-07-18 00:01] shockey commented on #3310
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-18 00:01] #3310 closed

[2017-07-18 00:02] shockey commented on #3311
Closing due to inactivity.

This is simply to keep our issue tracker clean - feel free to comment if there are any further thoughts or concerns, and we'll be happy to reopen this issue.

[2017-07-18 00:02] #3311 closed

[2017-07-18 00:33] owenconti commented on #3371
Hi @thales-gaddini, @Ohems, @inakianduaga

Can you guys try reproducing on http://editor.swagger.io/ or http://petstore.swagger.io? I can't reproduce with @Ohems's pasted spec, and these instructions:

1. View the above in Swagger UI
2. Expand the only route
3. Select Try it out
4. Select Execute

[2017-07-18 00:33] willin commented on #3275
3.0.18 & 3.0.19 cannot work properly

[code]

[2017-07-18 00:36] shockey commented on #3325
I'm seeing two things here:

1. `Feature -> Equipments` is being passed a $ref to render... this shouldn't be happening.
2. The nested model is showing a very strange generated name:

![image](https://user-images.githubusercontent.com/680248/28295530-11d9e664-6b16-11e7-9450-428f12e54014.png)

This isn't quite right - we'll look into it 😄

[2017-07-18 02:36] shockey commented on #3014
Revisiting this - I think it might be best to do away with the practice of rebuilding between versions altogether.

[2017-07-18 02:49] julienkosinski commented on #3325
Thank you very much for your time! :D

[2017-07-18 03:09] ShaneGMamet commented on #2919
Hey guys,

I've just grabbed master (3.0.19) and am having this exact same issue, see my Stackoverflow post here: https://stackoverflow.com/questions/45156665/swagger-ui-typeerror-failed-to-fetch-on-valid-response

In a nutshell, I've simply upgraded to 3.0.19 then forced a 403 error, instead of getting a 403 - forbidden, it's returning "TypeError: Failed to fetch".

Everything that should be need

[2017-07-18 03:12] shockey commented on #2919
@ShaneGMamet, sorry you're having trouble! What version were you on before you upgraded to the current version?

Also - can you share your spec, or a proof of concept that will help us see the problem?

[2017-07-18 03:17] ShaneGMamet commented on #2919
Hey @shockey thanks for the quick response;
Previous version: ` * @version v2.2.6`
The spec is about 50 000+ lines, I've added what I think is the important section below:

`	"host": "uk-test-api.leap.services",
	"schemes": ["https"],`

[code]
Even better, here's the actual Swagger page currently with the issue: https://api-swagger-uk-test.leap.services/#/

Please let me know if there is more need

[2017-07-18 03:29] shockey commented on #2919
@ShaneGMamet, I tried out your Swagger-UI deploy and could only squeeze a 500 out of your server, since I don't have a valid Authorization token.

A couple questions:

1) Are you seeing any errors in your console after the request fires?
2) What URL is the request going to?

[2017-07-18 03:34] ShaneGMamet commented on #2919
@shockey
1 - Here is a screenshot of the actual results from the inspector: 200 - from the OPTIONS, forwarding to the request, which returns a 403.

![1](https://user-images.githubusercontent.com/22945671/28299624-90d0dffc-6bbd-11e7-814e-a1309c020f3b.png)

2 - The URL is HTTPS: https://uk-test-api.leap.services/api/v1/cards

[2017-07-18 03:36] shockey commented on #2919
@ShaneGMamet Gotcha. This issue is about fetch failures related to the incorrect URL scheme being used for requests - can I ask you to open a new issue in this repository, so we don't keep nudging the folks that previously commented?

[2017-07-18 03:38] ShaneGMamet commented on #2919
@shockey I'll happily open a new issue but how is this related to an incorrect URL scheme?
This has not changed in the Swagger version changing?

[2017-07-18 03:42] shockey commented on #2919
Sorry, my sentence was ambiguous 😄 The issue we're commenting on was originally about a problem with the UI incorrectly selecting `http` as a scheme for requests instead of `https`, which was solved in version 3.0.7.

Since your request is going through as HTTPS, I'm fairly sure that isn't the source of your trouble, even though you're getting the same error message - so it'd be best to move this

[2017-07-18 03:47] ShaneGMamet opened #3403 "Valid response returning "TypeError: Failed to fetch""
As requested, please see below a new issue I am having;

I've just grabbed master (3.0.19) and am having this exact same issue, see my Stackoverflow post here: https://stackoverflow.com/questions/45156665/swagger-ui-typeerror-failed-to-fetch-on-valid-response

In a nutshell, I've simply upgraded to 3.0.19 then forced a 403 error, instead of getting a 403 - forbidden, it's returning "TypeError: Fai

[2017-07-18 03:47] ShaneGMamet commented on #2919
@shockey new issue created: https://github.com/swagger-api/swagger-ui/issues/3403
Thanks

[2017-07-18 06:08] Ohems commented on #3371
I'm pretty sure it bugged in the swagger editor before... If you are using CI, some recent merge might've fixed the issue.

[2017-07-18 08:26] StefSchenkelaars opened #3405 "Default https schema not working"
When you provide only `https` as a schema, the `try out!` examples still use `http`. If you reselect `https` from the schemes (just click the one item) before you start trying the api, the examples change to https correctly.

This also includes the example curl commands which in the example file below result in: `curl -X POST "http://example.com/all" -H "accept: application/json"` (so no https whi

[2017-07-18 08:34] SORC3r3r commented on #3395
Seems like I was using an old index.html.
Thaught I chenaged it.
Works fine now.
Thank you for your support!

[2017-07-18 08:34] #3395 closed

[2017-07-18 10:38] Ohems commented on #3371
Works fine in 3.0.19.

[2017-07-18 10:45] kwieconkowski commented on #3400
Hi @shockey , you are right I did some digging and found two issues, now is working.

First, the following link (https://github.com/swagger-api/swagger-ui/archive/master.tar.gz) contains version '3.0.17/ge4f9837-dirty', but when we use (https://github.com/swagger-api/swagger-ui/archive/master.zip) is '3.0.19'. I understand that is the newest version.

Second, I was downloading distribution using m

[2017-07-18 10:45] #3400 closed

[2017-07-18 11:21] owenconti commented on #3405
I can't reproduce the issue on first load of either http://petstore.swagger.io/?url=https://gist.githubusercontent.com/owenconti/d630b688aa5c7c68defd1b2efec48fb7/raw/cb7fbf6e1d04ac08d0b58fb9557d72fdfd26fab3/gistfile1.txt  or http://editor.swagger.io.

However, I can reproduce it in the editor when changing the available Scheme from `HTTP` to `HTTPS` or vice-versa.

[2017-07-18 11:27] Download opened #3406 "How to specify OAuth 'realm'"
I am using the latest version of Swagger UI (cloned from master yesterday 👍 ). I love Swagger it is fantastic. I use it for testing as well as documentation.

I have been setting up authorization using OAuth2 with Keycloak as the backend. It's a rocky ride due to fragmented / outdated / missing documentation but I got things to work. But there is this one thing I can't wrap my head around.

In my

[2017-07-18 12:19] baynezy commented on #3328
@webron - that works as I had hoped. Thank you very much.

[2017-07-18 12:41] kwieconkowski opened #3407 "Execute button issue when one of the parameters is boolean"
I'm using swagger-ui version **3.0.19**, have discovered weird behaviour occurring when one of the parameters is type **boolean**. After loading page **'Execute'** button is active, but cannot be clicked **(no reaction)**. The solution is changing the value of boolean **from/to true/false** and after this 'Execute' will be able to perform some action. The interesting fact is, that if we add to par

[2017-07-18 12:56] owenconti commented on #3403
Hi @ShaneGMamet,

I see this error from the Fetch API in the JS console:

[code]

I see the browser is doing an OPTIONS pre-fetch which returns the correct `Access-Control-Allow-Origin` header, however the actual GET request that returns the 401 does not return the `Access-Control-Allow-Origin` header. Are you able to update your backend to return that header for 401 (or all error responses) and t

[2017-07-18 13:02] StefSchenkelaars commented on #3405
If you add the file with the `url` parameter it works indeed. However if you first go to `http://petstore.swagger.io` and then fill in your url `https://gist.githubusercontent.com/owenconti/d630b688aa5c7c68defd1b2efec48fb7/raw/cb7fbf6e1d04ac08d0b58fb9557d72fdfd26fab3/gistfile1.txt`, it does not work.

[2017-07-18 16:22] poppahorse commented on #3387
thanks @shockey I will have a look :)

[2017-07-18 16:42] thales-gaddini commented on #3371
Works fine in 3.0.19 for me too.

[2017-07-18 16:42] #3371 closed

[2017-07-18 17:04] devthehuman commented on #3393
Thanks! Just a quick question about this first bullet point:

"When building the system, we store the downcased name of the component in our object."

Could you point me in the right direction for where in the build process this should be happening? Is the object you're referring to this [base](https://github.com/swagger-api/swagger-ui/blob/master/src/core/presets/base.js) file?

[2017-07-18 17:23] ponelat commented on #3393
hey @devthehuman ... the file ( and function, I think ) you're after lies here... https://github.com/swagger-api/swagger-ui/blob/master/src/core/system.js#L285

That function wraps deepExtend, which is how we combine plugins into one largish object.
The code to be added there would look something like...
[code]

There is likely a prettier way, but that's the safest area to add the code, as it's ru

[2017-07-18 17:32] shockey commented on #3393
@devthehuman, not quite - that file holds the data going into the system 😄

"System" is our name for a structure we use to compile all our plugins and presets into one object that will be used to drive the React app. One part of the object is a `components` object. For each plugin we process, we extend the system object we're building up here: https://github.com/swagger-api/swagger-ui/blob/master/

[2017-07-18 17:43] ponelat opened #3409 "Create a plugin to explore plugins."
In order to explore the extension points of swagger-ui, its likely useful to have a little helper plugin that can...
1. Show all components ( maybe even mount them ? )
2. Show all actions,selectors ( reducers are harder )
3. Show current state, allow edits

Currently we can do most of this through `window.ui` which ( by default ) is where we expose an instance swagger-ui.

[Redux DevTools](https:/

[2017-07-18 18:07] shockey commented on #3403
+1, @owenconti.

This detail in CORS caught me up for a bit:

I'm not certain this is the problem, since you mentioned that v2 worked for you - but isolating this is a good start.

It's possible that your server is only failing to return CORS headers with 4xx errors - have you tried that with v2?

[2017-07-18 18:14] #3329 closed

[2017-07-18 18:20] heldersepu commented on #3329
Awesome! will test it out after you guys do the Rebuild dist

[2017-07-18 22:54] ShaneGMamet commented on #3403
@shockey and @owenconti

Thanks for the feedback, your responses led me to figure out what the issue is, and it's actually an AWS bug with the API Gateway Custom Authorizers.

For anyone with this issue that is using AWS API Gateway's custom authorizers, see this AWS thread - this has been an issue for over a year already:

[How to setup response headers for a custom authorizer](https://forums.aws

[2017-07-18 23:00] owenconti commented on #3407
This is most likely a bug I introduced. @shockey I can look into it if it is alright with you.

[2017-07-18 23:02] shockey commented on #3407
@owenconti, sure, go for it! I discovered a possibly related bug, going to file it in a moment. Will ping you in the issue.

[2017-07-18 23:40] shockey commented on #3364
@snehallalwani, I just successfully opened http://petstore.swagger.io/ using IE version `11.0.9600.18537`.

Are you able to see the Petstore spec, or are you trying to open your own spec? Also, your _exact_ IE version would be helpful.

[2017-07-18 23:56] #3376 closed

[2017-07-19 00:19] shockey commented on #3403
@ShaneGMamet, glad you figured it out.

Closing!

[2017-07-19 00:19] #3403 closed

[2017-07-19 06:58] kliyes commented on #3361
It is **not** fixed in 3.0.19, did it?
![image](https://user-images.githubusercontent.com/3313588/28354494-a9cbdad6-6c92-11e7-9457-592c9e69f9c1.png)

[2017-07-19 07:29] CHOUBEY1992 opened #3413 "Not able to hit Authenicate User API. Giving 403 Error."
Hi,

When i am trying to access authenticateUser API. I am getting 403 Error in Swagger.(cannot attach screen shot due to security reason). Is there any way i can make this work. what is the reason for this error and how can i solve it?

[2017-07-19 08:46] jmattheis opened #3414 "Required array query parameter execute shows loading spinner but does nothing"
Version: 3.0.19
Reproducible on [Petstore](http://petstore.swagger.io/) with api: GET-`/pet/findByTags`

When having a required query parameter which can be added more than once and clicking `Exceute` without adding a value to the array query parameter the loading spinner is shown. No request is send it just stays that way.

After adding a value and removing it again an error message is shown whil

[2017-07-19 08:47] laguiz opened #3415 "Unable to use parameter `?urls=...` as url query string (`url` parameter works)"
Summary : I'm not able to make `?urls=` work via Query Strings with these versions 3.0.18 (dist folder), 3.0.19 (dist folder) and online pet store demo

## Reproduce

### `?url`

Looks to work very well

`http://petstore.swagger.io/?url=https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/yaml/petstore.yaml` Ok load the `yaml` file properly

`http://petstore.swagger.io/

[2017-07-19 10:58] frol commented on #3361
@kliyes 3.0.19 works fine for me.

[2017-07-19 12:12] chaodhib opened #3416 "Add custom and dynamic authentication headers"
Hi!

I'm using Swagger UI V2 (2.2.10) (until the json editor is implemented in V3 but that's not relevant to this ticket) and I need to add custom authentication headers.

First, the user needs to input 3 different fields in the UI. From these 3 values, custom code that I need to plug in will add on each 'Try it' request 4 different headers. 2 of them are simply the 2 of the 3 fields given by the

[2017-07-19 13:17] thestonehead commented on #1605
+1

I suspect it's a UTF-8 vs ANSI problem.

[2017-07-19 13:21] siddamreddy commented on #3215
any update on this

[2017-07-19 15:32] okwei2000 commented on #2746
@buunguyen, How is this fixed? I'm still having this issue today?

[2017-07-19 15:57] webron commented on #2746
The editor is based on the UI. If it works in the UI, it'll work in the editor. Likely you're using an old version.

[2017-07-19 15:58] webron commented on #3416
The link you've added is pretty much what you need.

[2017-07-19 17:12] okwei2000 commented on #2746
@webron I'm actually have problem with the new version.

version 2 of the editor http://editor2.swagger.io has preferences where I can set the 'Pointer Resolution Base Path', but the new version of the editor, does not provide a preference screen.

[2017-07-19 18:36] shockey commented on #3415
So, this is a current limitation of the query string config system - we're not actually parsing the values at the moment, just [mapping the raw values from the query string directly to config keys](https://github.com/swagger-api/swagger-ui/blob/master/src/core/utils.js#L558), so everything ends up being a string.

There's some discussion of this in https://github.com/swagger-api/swagger-ui/issues/

[2017-07-19 18:50] webron commented on #3413
I don't know how we can help you without having more details. If you need to authenticate, you need to authenticate.

[2017-07-19 18:57] webron commented on #3328
Thanks for verifying! Closing.

[2017-07-19 18:57] #3328 closed

[2017-07-19 19:54] DavidBiesack opened #3417 "UI shows wrong title/description for composed model schema"
When viewing the OpenAPI definition in the attached OpenAPI definition, the Models section of the Swagger UI (3.0.19) does not render the model titles and descriptions correctly. This definition uses schema composition with `allOf` to combine schema.

[duplicate-models.yaml.txt](https://github.com/swagger-api/swagger-ui/files/1160284/duplicate-models.yaml.txt)

There is a base schema named `create

[2017-07-19 20:42] heldersepu commented on #2884
Are the models supposed to be working too?

On mouse over there is a ```#/definitions/model_name``` showing...
![image](https://user-images.githubusercontent.com/545474/28388537-08459a62-6ca1-11e7-9a86-bbe8d687296a.png)

[2017-07-19 22:54] shockey commented on #2884
@heldersepu, models are not included in this feature (they're much less commonly linked to, in our experience).

You're seeing the tooltip that indicates the model's path in the spec, which is useful when one is writing a $ref that points to a model.

[2017-07-19 23:00] webron commented on #2746
Okay, well that's an issue with the editor, not the ui.

[2017-07-19 23:02] webron commented on #3414
I can't seem to reproduce it. Can you describe again or provide a screencast?

[2017-07-19 23:49] shockey commented on #3359
@aleatham, sorry for the delayed response!

It would be great if you could make this contribution. Keeping both sounds like the best strategy to me!

[2017-07-20 00:02] ppKrauss commented on #1888
It is not a feature, **is a bug**: `curl -X GET "http://myAPI/param" ` is runing, <br/>but the same at *swagger-ui  NOT*.

Will be usefull a flag in the javascript to enable/disable CORS and avoid a lot of problems:

* interface bug, say only *"TypeError: Failed to fetch"*.

* Javascript bug, say *"Fetch API cannot load http://myAPI/param. No 'Access-Control-Allow-Origin' header is present on the

[2017-07-20 00:04] ppKrauss commented on #1888
Hi @webron and @ponelat , I suggest to reopen...

[2017-07-20 05:43] jmattheis commented on #3414
Here a gif for better understanding:
![issue-3414-gh](https://user-images.githubusercontent.com/14895212/28402234-010dc8b8-6d1f-11e7-943d-7bcfebadaf71.gif)

[2017-07-20 07:23] laguiz commented on #3415
@shockey Thank you for your quick feedback. I will look closer to the source code and see if I can find some time to help.

[2017-07-20 07:26] hkosova commented on #3417
@webron looks like a duplicate of #2946.

[2017-07-20 10:31] dalbani commented on #2225
@webron: still applicable on 3.0.18.
Can be tested with something as simple as ``
```&```  `&`
``.
It's rendered in both cases as `&amp;`.
On the other hand, `<code>&</code>` works fine.

[2017-07-20 10:49] mikesheen commented on #1605
@thestonehead Good call. I'll test out setting different charset parameters in the header to see if one particular charset resolves this.

[2017-07-20 12:45] owenconti commented on #3407
Hi @kwieconkowski, I cannot reproduce this issue. This is the spec I am trying: http://petstore.swagger.io/?url=https://gist.githubusercontent.com/owenconti/d38603a95558b200299713a926624cf3/raw/c77d53e262df80066eb3c1d427a0be2822f6eb4f/gistfile1.txt

Please try with my example to reproduce, and let me know the steps if you can get the issue to happen again.

[2017-07-20 14:09] heldersepu opened #3422 "Expand/Collapse arrow on the Models"
- swagger-ui version
latest
- a swagger file reproducing the issue
http://petstore.swagger.io/

The Arrow on the models does not change when we expand and collapse

![image](https://user-images.githubusercontent.com/545474/28421470-46494830-6d33-11e7-9ed4-ea82ba59dc78.png)

![image](https://user-images.githubusercontent.com/545474/28421484-510a7a28-6d33-11e7-8fd9-c426fb3dca09.png)

[2017-07-20 15:58] kwieconkowski commented on #3407
Hi @owenconti , I have some problems reproducing it now, but found a similar issue. Please, follow exactly in the same order. Open webpage that you provided, copy into 'Explore' field following link (the same definition, but without 'default' value inside):

[code]

Fill up just 'nodeIndexName' and press 'Execute'. There will be an infinite rotation animation and following exception in a browser c

[2017-07-20 16:00] owenconti commented on #3407
The infinite loading animation bug has been filed here: https://github.com/swagger-api/swagger-ui/issues/3414

I have a fix and will be creating a PR this evening.

@webron What do you think about @kwieconkowski's suggestion of defaulting Boolean params that do not have a default specified to 'None'?

[2017-07-20 22:31] webron commented on #1888
There's no way to control CORS from javascript. This is a browser restriction and limitation. There's nothing we can do about it.

[2017-07-20 22:35] webron commented on #3414
Thanks, that explains it. Definitely an issue.

[2017-07-20 22:37] webron commented on #3417
Thanks @hkosova, that's true. Closing as duplicate. @DavidBiesack - Thanks for the detailed report though, it's very helpful.

[2017-07-20 22:42] webron commented on #2225
The `&` is known and is tackled in a different ticket, I just can't find it now.

[2017-07-20 22:43] ppKrauss commented on #1888
@webron yes, "nothing we can do"... Changing a little bit my suggestion,
it is only to express in standard way (initialization) the  `proxyUrl` variable,
to supply it as cofiguration, not changing the code.
...At [this example](https://github.com/okfn-brasil/swagger-ui-html/blob/master/index.htm) we can't see where to apply a `proxyUrl`...

[2017-07-20 22:47] webron commented on #1888
Sarcasm isn't productive. In any case, since CORS is meant as a security measure, we're not going to do anything about it.

[2017-07-20 22:49] webron commented on #3422
Ugh.

[2017-07-20 22:53] shockey commented on #2990
Update: `tagsSorter` (fka `apisSorter`) was implemented in #3303, but `operationsSorter` is still not implemented.

@Way2nnadi, to your point, tags should be displayed in the order they're defined, thanks to https://github.com/swagger-api/swagger-ui/pull/3324.

[2017-07-20 23:02] webron commented on #2990
@shockey psst..... https://github.com/swagger-api/swagger-ui/blob/master/src/core/utils.js#L578... but don't tell anyone ;)

[2017-07-20 23:07] shockey commented on #2990
🤦‍♂️  `operationsSorter` is implemented as well.

Buy a feature, get one I forgot about for free!

[2017-07-20 23:07] shockey commented on #2990
Closing, since everything requested is implemented 😄

[2017-07-20 23:07] #2990 closed

[2017-07-20 23:11] webron commented on #3407
Yeah - that makes sense, only instead of 'None' value, it should just be an empty value.

[2017-07-20 23:59] webron commented on #3368
OIDC is fairly new and not widely used yet. I can't tell right now what from it will be implemented or when.

[2017-07-21 01:41] scottohara opened #3424 "Array models with no title property display name of parent iframe"
swagger-ui version: v3.0.19

Here’s a interesting one. The prerequisites for this issue are:

1. Swagger-UI is embedded within an `<iframe>`
2. iframe has a `name` attribute
3. One or more models in the schema have a type of `array` but don’t specify a `title`

When the above conditions are true, the rendered model _displays the name from the parent iframe_ (see screenshot below).

### Steps to re

[2017-07-21 03:28] scottohara opened #3426 "Suggestion: Show better error when URL fails due to mixed content"
When a URL fails to load, the message to the user is simply:

### Failed to load spec

As we know, there are a couple of very common reasons why a URL might fail to load:

1. If the page hosting swagger-ui is `https://`, but the URL being loaded is `http://`, most browsers will block the fetch and report the following console error:

2. If the server hosting the URL doesn't respond with the correc

[2017-07-21 09:21] hkosova opened #3428 "OAS 3.0: Parameter types are not displayed"
Version: `ft/oas3` branch, as of commit a1ce0e7b3c54d66534faf59599c6bce5f23656f2

Parameter types (integer, string, etc.) are not displayed for OAS 3.0 specs:

![parameter-types](https://user-images.githubusercontent.com/8576823/28457307-420aca88-6e0e-11e7-9017-d4a867144629.png)

They are displayed for 2.0 specs:
![parameter-types 2.0](https://user-images.githubusercontent.com/8576823/28457489-f66

[2017-07-21 09:42] hkosova opened #3429 "Wrong position of "try it out" button in 2.0 specs (ft/oas3)"
Version: `ft/oas3` branch, as of commit a1ce0e7
Spec: http://petstore.swagger.io/v2/swagger.json

"Try it out" button is misaligned in 2.0 specs:
![try-it-out 2.0](https://user-images.githubusercontent.com/8576823/28458312-f92fa9b0-6e11-11e7-998c-75b4edd1444c.png)

In 3.0 specs the button position is correct (on the right).

[2017-07-21 09:43] hassanfarid opened #3430 "Failed to load spec. on Docker Container"
I have just taken latest docker image.

`#Setup Swagger UI`
`docker pull swaggerapi/swagger-ui`
`docker run -p 3080:8080 --name ae_api_ui -e API_URL=http://generator.swagger.io/api/swagger.json swaggerapi/swagger-ui`

I have a parallel httpd server on same machine, running on port 9080.

When I load the URL: http://generator.swagger.io/api/swagger.json
It works fine.
When I load the URL of httpd s

[2017-07-21 10:05] TehBakker commented on #2990
Is it possible to do custom sorting in swagger yaml spec with operationsSorter ?

[2017-07-21 11:03] r-ising opened #3431 "Swagger UI with create-react-app"
Hello,

I created a reacpt app with the create-react-app tool then I installed the swagger ui 3.0.19 with npm..

I found some examples how i integrate SwaggerUI in a react app like this:
`class SwaggerUI extends Component {
	componentDidMount() {
		SwaggerUi({
			dom_id: '#swaggerContainer',
			url: this.props.url,
			spec: this.props.spec,
			presets: [presets.apis],
		});
	}
	render() {
		return

[2017-07-21 11:45] Download opened #3432 "Totally insecure??"
I see this example in the docs:

[code]

Client secret? In the JS? That is sent to the user's browser?

Can someone please explain to me how this could ever be secure?
As far as I understand it, the client secret is meant for server-to-server communication, where the client secret is safe from prying eyes on the server. But if you are doing auth from the browser (as Swagger is doing) you should, A

[2017-07-21 12:21] Download commented on #3413
403 means forbidden. Normally you get this error when you are *authenticated* (meaning: logged in), but not *authorized* (meaning, you do not have permission).

* Not logged in, try to access a secured resource
* 401 Unathorized
* Log in
* Retry to access protected resource
* 403 Forbidden

Check whether your user has the right roles/permissions. Check the server logs.

[2017-07-21 13:09] MugeSo commented on #3227
This problem is based on the naming of  list. It should be "clientAuthenticationType".

I'm very very disappointed  because my implementation in #2397 is completely spoiled.

[2017-07-21 14:03] Ohems opened #3433 "Support for enum arrays"
Swagger UI version: 3.0.19

Arrays with enum items don't behave correctly in the Swagger UI.

Example yml:
[code]

When shown in the UI, it looks like this:
![image](https://user-images.githubusercontent.com/8604342/28466705-f2ecae12-6e35-11e7-80b9-9016cd783204.png)

In other words, the array behaves like a single enum value. Adding multiple values and sending an empty array is impossible. This sh

[2017-07-21 14:13] Ohems opened #3434 "Links in response descriptions are unreadable"
Swagger UI version: 3.0.19

Links placed to response descriptions are almost completely unreadable due to the link colour which is very similar to the dark background colour of the description field.

Example yml:
[code]

Looks like this in the UI:
![image](https://user-images.githubusercontent.com/8604342/28467131-8fce1454-6e37-11e7-8696-56191e71565b.png)

Link text colour should be much lighter

[2017-07-21 14:13] hkosova commented on #3433
You can select multiple items using Ctrl-click and Shift-click.

[2017-07-21 14:16] Ohems commented on #3433
Ahh, completely failed to realise that. Could it be more intuitive to allow selecting multiple items without holding Ctrl or Shift? In any case, I'll close this issue.

[2017-07-21 14:16] #3433 closed

[2017-07-21 15:40] heldersepu opened #3435 "Missing image on POST method returning "image/png" content"
When reporting an issue, please provide the following details:
- swagger-ui version
latest (3.x)
- a swagger file reproducing the issue
http://swashbuckletest.azurewebsites.net/swagger/ui/index?filter=PngImage

Just try that Post you will see the image will not show.
It seem the Response body just adds an ```img``` not the actual response

[2017-07-21 18:04] jblazquez opened #3436 "OAS 3.0: Request body is uneditable during try-it-out"
Swagger UI version: commit `a1ce0e7` (`ft/oas3` branch)

Looks like it's not currently possible to edit the request body when trying out a particular operation:

<img width="527" alt="1" src="https://user-images.githubusercontent.com/5482684/28476255-33fcd0d0-6e04-11e7-9d9b-55d47b7c4543.png">

Spec:

[code]

[2017-07-21 19:13] webron commented on #3436
The try it out functionality is not implemented yet for OAS3.

[2017-07-21 19:51] hkosova opened #3437 "OAS 3.0: Support for media type examples (aka request/response body examples)"
Version: `ft/oas3` branch, as of commit a1ce0e7

OpenAPI 3.0 has `requestBody.content.<media-type>.example(s)` and `responses.<code>.content.<media-type>.example(s)`. UI currently does not use these examples, but it would be great if it did. They are supposed to override schema-level examples if any.

Spec:
[code]

[2017-07-21 20:13] webron commented on #3435
Try setting the `produces` to `image/png`.

[2017-07-21 20:17] webron commented on #2990
Yes, you can pass a sorting function to it. It's in the README.

[2017-07-21 20:17] webron commented on #3430
Does your httpd server have CORS enabled?

[2017-07-21 20:29] heldersepu commented on #3435
Sorry same result, after changing the produces...

[2017-07-21 20:39] jblazquez commented on #3436
I can definitely use the try it out functionality for OAS3 with the current version in the `ft/oas3` branch. Everything appears to work except for the inability to edit request bodies (request bodies are sent, but they literally are always the example JSON based on the model).

[2017-07-21 20:40] webron commented on #3435
Yup, after the POST request, I see another GET request to get the image again for some reason. We'll need to look into it.

[2017-07-21 20:42] webron commented on #3436
I'll rephrase - it's not supported. We need to make substantial changes to it and we've yet to start working on it. In fact, before the upcoming release of it, we'll disable the try-it-out button.

[2017-07-21 21:26] heldersepu commented on #3435
Yep, I noticed that too, my issue started with a different controller:
http://swashbuckletest.azurewebsites.net/swagger/ui/index?filter=Image#/Image/Image_Post
on that one the POST was showing the image of the GET:

[2017-07-22 00:30] #3422 closed

[2017-07-22 00:34] leofoto commented on #1614
But i think the OP is looking for a way to drive it from the code so the generated swagger-ui.html has the external docs link. I am using springfox api with swagger 2 annotations in a spring boot project and still have this problem.  (generated swagger-ui does not include the externalDocs tag

If i take that swagger.json from the ui and put it in the editor.swagger.io and manually edit to insert t

[2017-07-22 00:45] shockey commented on #2790
This bug was fixed in https://github.com/swagger-api/swagger-ui/pull/3324 - the fix is available in the latest version of Swagger-UI.

Thanks for reporting this, @agouldsfi!

[2017-07-22 00:45] #2790 closed

[2017-07-22 01:12] #3434 closed

[2017-07-22 02:17] #3405 closed

[2017-07-22 02:25] #3100 closed

[2017-07-22 02:35] #3424 closed

[2017-07-22 02:53] #3435 closed

[2017-07-22 02:55] heldersepu commented on #3435
Awesome!
will test as soon as the dist gets updated...

[2017-07-22 06:58] TehBakker commented on #2990
@webron thanks for the answer.
I saw about the function but I'm confused as to how to do it within the swagger spec ? Where would that function be defined (and not in this project scope but would swagger codegen also take the order in consideration)

Thanks

[2017-07-22 09:42] aalleexxeeii commented on #3009
No idea. I would test whether my issue is resolved, but the last version doesn't recognize my YAML definition at all.

[2017-07-22 14:38] heldersepu opened #3444 "Required validation failing"
- swagger-ui version
latest
- a swagger file reproducing the issue
http://swashbuckletest.azurewebsites.net/swagger/docs/V1

## Steps to reproduce:

1. Goto: http://swashbuckletest.azurewebsites.net/swagger/ui/index#/Default/Default_GetById
2. Click on button [Try it out]
3. Click on button [Execute]
4. The Loading will show, and console shows err:
[code]
## Expected result
Clicking on button [Exe

[2017-07-22 15:53] owenconti commented on #3009
There was a syntax error in your YAML file. Try testing on this:

http://petstore.swagger.io/?url=https://gist.githubusercontent.com/owenconti/5e2f9dd8646d395cd4d4399006d30441/raw/f60679d173bd2309aa58be66d2c0c3f2940cc8a5/gistfile1.txt#/configuration/resolve

I see the original POST request go out as `multipart/form-data`.

[2017-07-22 16:02] owenconti commented on #3444
Hi @heldersepu, I believe this is fixed in the latest version 3.0.20, which was released just last night.

Could you try updating to 3.0.20 and see if you can reproduce this issue?

[2017-07-22 16:04] owenconti commented on #3407
Hi @kwieconkowski, this should be fixed in the latest release (3.0.20). Could you please update to that version and see if you can still reproduce the issue? I will close this issue for now, but feel free to re-open if you still experience troubles.

[2017-07-22 16:44] heldersepu commented on #3444
Awesome! it works as intended with 3.0.20 !

[2017-07-22 16:44] #3444 closed

[2017-07-22 16:45] heldersepu commented on #3435
Awesome! it works as intended with 3.0.20 !

[2017-07-22 16:46] heldersepu commented on #3422
Awesome! it works as intended with 3.0.20 !

[2017-07-22 16:47] heldersepu commented on #3329
Awesome! it works as intended with 3.0.20 !

[2017-07-22 17:34] heldersepu commented on #3394
This seems like an easy fix... is there something I'm missing?

[2017-07-22 22:42] owenconti commented on #3369
Hi @domfennell, I am going to close this issue. If you can still reproduce the issue, let me know.

[2017-07-22 22:42] #3369 closed

[2017-07-22 22:49] owenconti commented on #3247
Hi @erajkovic, are you still experiencing this issue with your example link? http://petstore.swagger.io/?url=https://apicatalog.oraclecloud.com/public/v1/orgs/oracle-public/apicollections/commerce166/v1/apis/store/canonical

It seems to load the spec in ~3500ms.

<img width="850" alt="screen shot 2017-07-22 at 4 49 04 pm" src="https://user-images.githubusercontent.com/791222/28495025-b8e1adb2-6efd

[2017-07-22 23:01] owenconti commented on #2981
Closing as I believe the issue is fixed. Please re-open if you can reproduce the issue

[2017-07-22 23:01] #2981 closed

[2017-07-24 09:38] hkosova opened #3445 "OAS 3.0: readOnly properties are included in request body examples"
Version: `ft/oas3` branch, commit a1ce0e7b3c54d66534faf59599c6bce5f23656f2

In 3.0 specs, request body examples generated from the `schema` include read-only properties -- but they should not be included in requests. The issue does not exist in 2.0 specs.

**Spec:**
[code]

**Expected result:** Request body example is:
[code]

**Actual result:** Request body example includes the read-only property

[2017-07-24 09:51] hkosova opened #3446 "OAS 3.0: Missing response schema examples for 2.0 specs"
Version: `ft/oas3` branch, commit a1ce0e7b3c54d66534faf59599c6bce5f23656f2
Spec: Petstore (http://petstore.swagger.io/v2/swagger.json)

In 2.0 specs, the "Responses" section no longer displays response examples generated from `schema`.
Media type examples (`responses.<code>.examples.<media-type>`) are displayed fine.

Check the Petstore spec, `GET /pet/{petId}`, 200 example.

[2017-07-24 10:05] hkosova opened #3447 "OAS 3.0: writeOnly fields are included in response examples"
Version: `ft/oas3` branch, commit a1ce0e7b3c54d66534faf59599c6bce5f23656f2

In 3.0 specs, response body examples generated from the `schema` include write-only properties (with `writeOnly: true`) -- but they should not be included in responses.
This issue is similar to #3445, but that one is about `readOnly` and request examples.

**Spec:**
[code]

**Expected result:** Response body example does n

[2017-07-24 11:12] hkosova opened #3448 "OAS 3.0: Request body XML examples are displayed as JSON"
Version: `ft/oas3` branch, commit a1ce0e7b3c54d66534faf59599c6bce5f23656f2

In 3.0 specs, if the request body is XML, the schema example is rendered as JSON.

Response examples display XML schema examples correctly.
In 2.0 specs, XML body parameters are rendered correctly.

![request body XML example](https://user-images.githubusercontent.com/8576823/28520579-bcf07664-7078-11e7-97fd-ac6ffdd4f6c5.g

[2017-07-24 11:21] hkosova opened #3449 "OAS 3.0: Indication of whether request body is required"
Version: `ft/oas3` branch

In 2.0 specs, when a body parameter is required, it is displayed with an "*" in the parameter list.
In 3.0 specs, the fact that `requestBody` is required (or not required) is not indicated in any way.

[code]

[2017-07-24 15:11] hkosova opened #3450 "OAS 3.0: Odd animation when expanding callbacks"
Version: `ft/oas3` branch

The first time the "Callbacks" section is expanded or collapsed, the animation behaves oddly.

![callback-animation](https://user-images.githubusercontent.com/8576823/28530045-1a10e46a-709b-11e7-94cb-7e3aaf19b964.gif)

Steps to reproduce:
1. Load the spec below into the UI.
2. Expand the POST.
3. Switch to the Callbacks tab.
4. Expand the callback.
5. Collapse the callba

[2017-07-24 16:03] dotasek commented on #2981
I downloaded Swagger UI 3.0.20, and this seems to still be present.

The swagger info description text supports blank lines, but the operation description does not. Issue appears in multiple browsers.

[2017-07-24 20:48] shockey commented on #3414
The PR that solves this issue was reverted in v3.0.21 - reopening.

[2017-07-25 04:56] kingjerod commented on #3407
I'm using release 3.0.21 with a spec that has this:

          in: formData
          name: active
          required: true
          type: boolean

The dropdown box defaults to `true`, but if I try to submit the request, nothing happens. It seems the default value is empty, but the UI doesn't indicate the value is missing (no shaking red box). Visually it looks like true, but in the React compone

[2017-07-25 07:05] hassanfarid commented on #3430
@webron I am not sure; I am running default container of httpd:2.4

Any hints on how to do that?

[2017-07-25 07:37] kverfaille opened #3455 ""Try it out" parameter encoding issue - v3.0.20"
From previous posts I noticed that all parameters are encoded, which is fine, but the mechanism gives issues in specific cases. I do not think there is anything wrong with the way we work, so hence this post to report an issue or ask for advice.

**Rest API explained**
Due to circumstances, our base urls looks like this (both need to work):
- "http://dev.domain.me/router.php?p=rest&__route__".
- "

[2017-07-25 07:42] hassanfarid commented on #3430
I was able to enable CORS in the container httpd.conf file.

The help content: https://enable-cors.org/server_apache.html

Thanks @webron

[2017-07-25 07:42] #3430 closed

[2017-07-25 09:14] vishalchaturvedi50 opened #3456 "Invalid attempt to destructure non iterable instance - Swagger UI(master)"
![capture](https://user-images.githubusercontent.com/13193591/28564723-8fbe7f72-7147-11e7-802a-29e554a1572f.JPG)

The error occurs after swagger has received a response from the server.
This leads to a message stating: "Could not render this component, see the console." on the UI.
Although I am able to see the response.

[2017-07-25 09:21] hkosova opened #3457 "OAS 3.0: Model names not displayed in operations"
Version: `ft/oas3` branch
Spec: https://openapi-converter.herokuapp.com/api/v1/convert?url=http://petstore.swagger.io/v2/swagger.yaml

In 3.0 specs, the "Model" tab in operations does not display the model names.

![model-title](https://user-images.githubusercontent.com/8576823/28564977-6f2e8180-7133-11e7-93f5-0d2245bbeed3.png)

[2017-07-25 09:38] hkosova opened #3458 "OAS 3.0: Styles for deprecated parameters"
Version: `ft/oas3` branch

In 3.0 specs, deprecated parameters are rendered like regular parameters. They probably need a different style, similar to deprecated operations and models.

Spec:
[code]

[2017-07-25 11:13] kverfaille commented on #3325
In case it helps to find the issue => This indeed seems to be "Circular references" ... it also seems to appear without array wrapping.

[code]
Results in:
![image](https://user-images.githubusercontent.com/11004408/28569303-890977bc-7139-11e7-8624-dc53428c6822.png)

In the 2.x versions this was handled as follows:
![image](https://user-images.githubusercontent.com/11004408/28569465-2e840018-713a-

[2017-07-25 12:03] gayanW commented on #2948
@bodnia It does remove the validation badge. but it does not disable validation. Errors still show up on the top.

I've checked with 3.0.20 and the master

[2017-07-25 14:38] sandermarechal opened #3459 "How to write a simple plugin to display vendor extensions?"
I am using swagger-ui-dist 3.0.19

My swagger spec has a few vendor extensions on the operations. E.g:

[code]

How can I write a plugin to display these extensions along with the operations? I have been prodding around swagger-ui all day long, looking especially at the plugin example at https://github.com/swagger-api/swagger-ui/blob/master/src/plugins/add-plugin.md but I cannot figure it out.

I'

[2017-07-25 14:43] BasKooij opened #3460 "Put requests formData fields are empty"
Since version 3.0.19 all my PUT requests containing formData fields stopped working. The request seems to submit just fine, but on the server all fields are empty. If I change the request to a POST request, changing nothing else, the parameters are filled correctly. Reverting back to version 3.0.18 fixed the issue. Version 3.0.20 has the same problem.

I tested this in Chome 59.0.3071.115  and in

[2017-07-25 15:37] webron commented on #3407
@owenconti I think we talked about the above use-case? Having a blank value by default and red/wiggle it if required.

[2017-07-25 15:39] owenconti commented on #3407
This was rolled back with 3.0.21.

[2017-07-25 15:54] larmic commented on #3318
I've the same issue to solve. What is my problem?
`window.onload = function () {

        // Build a system
        const ui = SwaggerUIBundle({
            urls: [
                {url: "http://localhost:8080/v2/api-docs?group=api", name: "api"},
                {url: "http://localhost:8080/v2/api-docs?group=admin-api", name: "admin api"}
            ],
            dom_id: '#swagger-ui',

[2017-07-25 16:02] webron commented on #3455
It looks like you're trying to do something that's not supported by the spec. The basePath and the paths themselves cannot contain query parameters, and in your case, they do (at least the basePath). As this is not supported by the spec, this would lead to unexpected behavior.

I could be misunderstanding your case though. If you feel that's the case, please attach the full API definition.

[2017-07-25 16:06] webron commented on #3456
We really need more details. What's the request being sent? What's the response?

[2017-07-25 16:27] webron commented on #3460
Can you share your API definition?

[2017-07-25 16:35] webron commented on #2948
@gayanW - just tested with master and it seems to work as expected. If you're seeing errors at the top, it sounds like a different issue. File a separate ticket and provide a full API definition we can use to investigate.

[2017-07-25 16:52] gayanW opened #3461 "Can't disable validation (by setting SwaggerUIBundle.validatorUrl to null)"
- swagger-ui version
 v3.0.20
- a swagger file reproducing the issue
swagger file: http://jsoneditoronline.org/?id=d692754b9b4543f7388572317dc10400

This swagger json have few undefined schema references. It is intended and that's the point in disabling validation.

SwaggerUIBundle is constructed as in [dist/index.html](https://github.com/swagger-api/swagger-ui/blob/v3.0.20/dist/index.html) with `

[2017-07-25 16:57] hkosova opened #3462 "OAS 3.0: Expanding/collapsing a callback expands/collapses all callbacks"
Version: `ft/oas3` branch

In 3.0 specs, expanding or collapsing a callback on the "Callbacks" tab expands/collapses all callbacks in the entire spec.

Steps to reproduce:
1. Open the spec below in UI.
2. Expand both operations.
3. In each operation, switch to the "Callbacks" tab.
4. Expand any callback.

Expected result: only that callback is expanded.
Actual results: all callbacks are expanded.

[2017-07-25 17:40] kverfaille commented on #3455
Thanks for your answer Ron.

The issue we are facing seems to be caused by encodeURI VS encodeURIComponent.

If you think that swagger-ui should be able to handle my case; I would suggest to use encodeURI() on the basepath & encodeURIComponent() on everything after the basepath. So not after the ? as it behaves now. If you think it shouldn't work,  just close this issue and we will manage it in ou

[2017-07-25 18:18] webron commented on #3455
Yeah, it sounds like you're using RPC-style APIs which are just not supported by the spec (nor will they be in the upcoming one). If it worked in 2.x, it was more of a bug there than it is here for not working, sorry about that. This is not something we're looking to handle.

[2017-07-25 18:18] #3455 closed

[2017-07-25 18:43] webron commented on #3461
The errors you're seeing are not validation errors, they are resolution errors because your API definition is incomplete.

[2017-07-25 18:58] shockey commented on #3456
This sounds like an edge case - can you provide a spec that reproduces this problem as well?

[2017-07-25 21:29] Preethiy commented on #3286
This would be a useful feature since not all dates include the time format.

[2017-07-25 23:06] banders opened #3463 "Response "Content type" drop-down sets HTTP "Accept" header"
Using swagger-ui 3 and the petstore example, as deployed here: http://petstore.swagger.io.

For each operation, swagger-ui shows a list of response content types to choose from.

![image](https://user-images.githubusercontent.com/1737873/28596860-d5209818-714f-11e7-9714-12afd8d8c0c2.png)

The list is populated from the "Produces" section in the OpenAPI (v2) specification file.  For example:

[code

[2017-07-25 23:25] shockey commented on #3462
There's probably a connection between this and #3450.

[2017-07-26 00:51] webron commented on #3463
This is not going to be part of OAS3, and hopefully not a part of any other future versions. REST APIs are HTTP based, they use HTTP constructs. Content is negotiated using two headers - `content-type` for the payload, and `accept` for what the client expects to accept.

If you want to specify the content type using a query parameter, you're welcome to do so, but the spec is not the right tool for

[2017-07-26 01:21] shockey commented on #3462
This should be fixed.

Thanks @hkosova!

[2017-07-26 01:21] #3462 closed

[2017-07-26 04:25] patricknolan commented on #1380
This is what seems to work for me.

I'm using ASPNET Core and Swashbuckle.AspNetCore

Does anyone see anything wrong with this?

    authorizations: {
          csrf: function() {
            var cookiearray = document.cookie.split(';');
            for(var i =0 ; i < cookiearray.length ; ++i){
              if(cookiearray[i].trim().match('^XSRF-TOKEN=')){
                this.headers['RequestVeri

[2017-07-26 04:37] shockey commented on #3429
Fixed. Thanks @hkosova!

[2017-07-26 04:37] #3429 closed

[2017-07-26 05:01] shockey commented on #3436
I just pushed a commit that disables all Try It Out buttons when viewing an OAS3 spec. It includes a styling fix for the Parameters tab bar, that was causing some height issues when viewing callbacks.

---

Things that haven't changed in structure or semantics from Swagger 2.0 will still work in Try It Out, but I'd really recommend waiting until we officially support it. I promise there are subtle

[2017-07-26 05:02] shockey commented on #3436
Also see: #3338.

[2017-07-26 05:08] patricknolan commented on #1380
My only issue now is that the first time I hit my service (so I have no cookies yet) I get "The required antiforgery cookie ".AspNetCore.Antiforgery.dHhT1lYi0Ys" is not present."

As I receive the antiforgery cookie from my first call all subsequent calls work.

Does anyone know the correct way of handling this?

[2017-07-26 07:39] BasKooij commented on #3460
`swagger: '2.0'
info:
  title: Put request definition
  version: 1.0.0
host: localhost
basePath: /rat
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
  - application/xml
paths:
  '/individuals/{individual_id}/pep':
    put:
      tags:
        - individuals
      consumes:
        - multipart/form-data
      parameters:
        - name: individual_id
          in: p

[2017-07-26 09:25] patricknolan commented on #1380
Answer to my question above in case anyone else has same issue...

        public virtual async Task<IActionResult> Login([FromBody] AccountLoginModel model)
        {
                var result = await this.SignInManager.PasswordSignInAsync(model.Email, model.Password, isPersistent: model.RememberMe, lockoutOnFailure: false);
                if (!result.Succeeded)
                {

[2017-07-26 13:25] xgflorin opened #3464 "[npm swagger-ui-dist] POST and PUT requests don't work in swagger-ui-dist 3.0.20"
I installed the UI dist package from npm using `npm install swagger-ui-dist` and I am serving it as it is directly from node_modules using koa-static. When I click the "Try it out" button on a POST or PUT endpoint, I am getting this error in the console:

`Could not find component JsonSchema_string_`

and when I click "Execute" the request is not performed. GET and DELETE work fine.

[2017-07-26 13:25] heapifyman opened #3465 "swagger-ui does not remove java string escape char "\" from @ApiModelProperty example"
I am using version `2.2.10` of `swagger-ui`, at least I think that's the version included by version `2.7.0` of `springfox-swagger-ui`, which I am using with `springfox-swagger2` and spring-boot 1.5.4.RELEASE

I have defined some example value in `@ApiModelProperty` like this

[code]

The escape chars `\` are kept in swagger-ui's `Example Value`, so that when clicking on it to paste the `Example V

[2017-07-26 13:27] orbex commented on #3219
Experiencing the same issue.
Swagger-UI version: 3.0.21
Swagger version: 2.0
Doc size: 1.3 Mb

[2017-07-26 13:33] GerardFernandes opened #3466 "Dynamics Base URL"
My swagger-ui version: latest.

Hi Guys,

I wonder how to parametrize the base request URL, it seems that there isn't any option to do what I need.
Basically, I need to make a new parameter that will be the base URL of my request.

Can anyone help me?

[2017-07-26 13:41] gayanW commented on #3118
Not working on firefox-esr either.

[2017-07-26 13:55] Codealist opened #3467 "Environment variables aren't helpful in docker"
- swagger-ui version: master branch
- a swagger file reproducing the issue: `docker-run.sh, dist/index.html`

I wonder how to setup a dockerized version with oauth. It seems that entrypoint does nothing when the following is running:
[code]

Because we don't have such placeholders in `dist/index.html` anymore.
However, there is a file `dev-helpers/index.html` with ones.

Is it an issue or i miss s

[2017-07-26 14:12] dlozano commented on #3118
Is working with latest OSX 54.0.1 (64-bit)

[2017-07-26 14:20] benoitmasson commented on #3118
After upgrading my system, it is now working for me with Firefox 52-esr (45-esr was not).

However, I don't expect all my users to have the latest updates, and I am still interested in a fix for this, if anybody has a clue.

[2017-07-26 15:24] rflechner opened #3468 "Regression bug in version 3.0.20"
Hi

- swagger-ui-3.0.20
- a swagger file reproducing the issue : http://petstore.swagger.io/v2/swagger.json

Testing of POST with a body seems to be broken with version 3.0.20
![swaggerui-broken](https://user-images.githubusercontent.com/1033822/28629131-d774afdc-7226-11e7-8b12-c373dbc5b842.gif)

But everything is ok with 3.0.19

![swaggerui_ok](https://user-images.githubusercontent.com/1033822/28

[2017-07-26 16:14] webron commented on #3468
That's why we had a hotfix release of 3.0.21 earlier this week. Give it a try.

[2017-07-26 16:19] rflechner commented on #3468
Sorry I didn't see this hotfix.
It's working.
Thanks.

[2017-07-26 16:19] #3468 closed

[2017-07-26 16:28] webron commented on #3468
We forgot to issue release notes - should be fixed shortly. Thanks for checking and reporting!

[2017-07-26 17:47] abstratt commented on #3232
IOW, not possible and it seems, not planned, IMHO, a significant miss in this spec.

[2017-07-26 18:33] shockey commented on #3464
@xgflorin, `Could not find component JsonSchema_string_` is a warning, not a hard error - it comes up from time to time, you don't need to worry about it.

We've been dealing with some issues related to Try-It-Out functionality lately, can you provide a spec that reproduces the problem firing off requests, so we can investigate?

Thanks!

[2017-07-26 18:35] shockey commented on #3464
Oh, also - please provide the version of swagger-ui-dist that you installed from npm.

`npm ls | grep swagger-ui` should tell you, if you aren't certain.

[2017-07-26 18:41] xgflorin commented on #3464
@shockey I'm using `swagger-ui-dist@3.0.20` and I found that the petstore spec at http://petstore.swagger.io/v2/swagger.json behaves the same way. I couldn't POST to /pet.

[2017-07-26 18:43] shockey commented on #3464
@xgflorin Thanks for the info. Can you update to `3.0.21`? We shipped some known issues in 3.0.20, that we fixed in .21 - I hope to get 3.0.20 deprecated on npm as a result.

Please let me know where that gets you!

[2017-07-26 18:47] xgflorin commented on #3464
Upgrading from 3.0.20 to 3.0.21 fixed it!

[2017-07-26 18:48] shockey commented on #3464
@xgflorin Awesome! Sorry for the inconvenience. Thanks for using Swagger!

Closing.

[2017-07-26 18:48] #3464 closed

[2017-07-26 19:07] webron commented on #3118
Sorry, I missed the issue when it was opened. We simply don't support FF45, making sure it does will require too much effort which we can't put in. You'd have to update your FF version.

[2017-07-26 19:07] #3118 closed

[2017-07-26 19:10] webron commented on #3466
That's not supported by the spec. The next version of the spec will support it.

[2017-07-26 19:10] #3466 closed

[2017-07-26 19:53] heapifyman commented on #3465
Hi @shockey ,

I just tried with a locally running `v3.0.21`, which I just pointed to the swagger.json generated by springfox by changing the `SwaggerUIBundle`'s `url`.

Unfortunately, the `Example Value` still shows
[code]

In the `Model` part however, the example is correct:
[code]

Since I assume that both `Example Value` and the `Model`'s example value are taken from the same part of `swagger.